.login-sec-new{float:left; width:100%;  font-family:roboto;}
.login-sec-new, .address-container{float:left; width:100%; margin-top:10px;}
.cross-new-btn{text-align:right; float:left; width:100%;}
.cross-new-btn a{ margin-right:10px; margin-top:5px;}
.cross-new-btn img{ width:20px; height:auto; margin-right:10px;}
.new-logo-dogspot, .conform-pass-sec, .new-cod-dogspot{ width: 100%; float:left; text-align:center;}
.new-logo-dogspot img{ width:130px; height:auto; max-width:100%;}
.new-cod-dogspot img{ width:32px; height:auto; margin-top:10px; }
.new-login-text{float: left;width: 100%; text-align: center; font-size:20px; margin-bottom:20px; color:#333;}
.ui-input-text input{ border:1px solid #dcdcdc;border-radius: 0px !important; width:90%!important; height:45px; margin-left:5%!important; margin-right:5%!important; cursor:pointer;}
.conform-pass-sec input{ width:100%;padding: 10px 0px 10px 10px;font-size: 14px; color: #888; height:55px;  border:none; }
.conform-pass-sec ul{ float:left; width:90%;margin-left: 5%; margin-right: 5%;border-radius:5px; border:1px solid #ddd; margin-bottom:20px;}
.conform-pass-sec ul li{ border-bottom:1px solid #ddd;}
.conform-pass-sec ul li:last-child{ border-bottom:none;}
.new-logo-dogspot input{width: 90%; margin-left: 5%; margin-right: 5%; padding: 10px 0px 10px 10px;font-size: 14px; border: 1px solid #ccc;border-radius: 3px; height:45px; margin-bottom:20px;}
.contune-btn button{ width: 90%; margin-left: 5%; margin-right: 5%;  text-align: Center;  height: 45px; font-size: 16px; color: #fff;background: #8dc059;border: none; border-radius: 5px !important;}
.contune-btn-submit{ width: 90%; margin-left: 5%; margin-right: 5%;  text-align: Center;  height: 45px; font-size: 16px; color: #fff;background: #8dc059;border: none; border-radius: 5px !important; cursor:pointer}
.contune-btn{float: left; width: 100%;}
.ui-input-btn{ border:1px solid #dcdcdc;  border-radius:3px; width:90%!important; height:45px; margin-left:5%!important; margin-right:5%!important;}
.ui-input-btn{background: #6c9d06!important;font-size: 15px;;padding-top: 8px;padding-bottom: 3px;color: #fff!important;}
.or-icons{ text-align:center; margin-top:10px;}
.or-icons img{ width:50px; height:auto; margin-top:20px;}
.social-container{ width:100%; height:auto; margin:auto; float:left; text-align:center;}
.social-container img{ width:160px;}
.social-conatiner .facebook-login{text-align:center;}
.horizonatal-line { border-top: 1px solid #ccc;margin: 20px;}
.horizonatal-line span {background: #fff;position: relative;width: 30px;text-align: center;top: -11px; font-style:italic; font-size:16px;}
.check-guest-container, .forgot-password-container{ float:left; width:100%; text-align:center; padding:20px 0px;}
.check-guest-container { border-top:1px solid #ddd; margin-top:20px;}
.check-guest-container a, .forgot-password-container a{    color: #6c9d06;text-transform: uppercase;text-decoration: none; cursor:pointer;}
.address-container, .address-form, .new-cart-pay-box, .new-payment-container, .select-payment-sec{float:left; border:1px solid #ddd; width:90%!important; margin-left:5%!important; border-radius:5px;}
.new-payment-container, .select-payment-sec{ margin-top:20px;}
.new-payment-container ul>li{ float:left; width:100%;  padding:10px 20px 0px; text-align:left;}
.new-payment-container ul>li:first-child{ border-bottom:1px solid #ddd;    padding: 10px 20px 15px 20px; }
.new-payment-container ul>li:last-child{ border:none;  padding-bottom:10px;}
.select-payment-sec ul>li{ float:left; width:100%;  padding:10px 20px 0px; text-align:left; border-bottom:1px solid #ddd;}
.select-payment-sec ul>li:last-child{border:none;}
.address-container ul, .address-form ul, .new-cart-pay-box ul, .new-payment-container ul, .select-payment-sec ul{ float:left; width:100%; margin:0px; padding:0px;list-style:none;}
.address-container ul>li{ float:left; width:100%;     border-bottom: 1px solid #ddd; padding:15px 20px;}
.address-container ul>li:last-child{ border:none;}
.check-box-sec{  float:left; width:15%; padding-left:7px; padding-top:5px;}
.check-box-address{ float:left; width:80%; font-size:14px; text-align:left;}
.address-active{color:#6c9d06}
.ui-checkbox input{ position:relative !important ;}
.address-form, .new-cart-pay-box{ margin-top:20px;}
.check-box-sec input[type=radio] { border:1px solid #f00;}
.address-form ul>li{ float:left; width:100%;     border-bottom: 1px solid #ddd; padding:0px 20px;}
.address-form ul>li:last-child{ border:none;}
.pmt-field-box{float:left; width:50%; font-size:14px; color:#333;}
.name-field-box{ float:left; width:30%; font-size:16px; color:#888; padding-top:18px; }
.text-field-box{float:left; width:70%; font-size:16px; text-align:left;}
.text-field-box input{ border:none !important; width:100%; height:55px; }
.text-field-box textarea{resize: none; width: 100%;border: none;height: 55px;text-align: left;padding: 10px 0px;}
.customer-name{font-size:14px;}
.customer-address{font-size:14px;}
.address-form ul>li{text-align:left;}
.select-payment-mode{float: left;text-align: left;margin-left: 5%;width: 95%;}
.new-cart-sec{ float:left; width:100%;}
.new-cart-sec table{border-collapse:collapse; background:#fff; width:90%; margin:0px 5% 15px; border-radius:5px; border:1px solid #eee;  }
.new-cart-sec tr>td{padding:20px 0px; vertical-align:top;}
.new-cart-sec tr:nth-of-type(odd){ background:#fff;}
.new-cart-prd-img img{border: 1px solid #ddd !important; overflow: hidden; padding:15px; width:100px; height:auto; margin-left:10px;}
.cross-btn img{ width:20px; padding-right:5px;}
.new-cart-pd-name{ font-size:14px;}
.new-cart-sec tr>td a{ text-decoration:none; color:#333; font-size:14px;}
.new-cart-sec tr>td:nth-child(1){ width:30%;}
.new-cart-sec tr>td:nth-child(2){ width:80%;}
.new-cart-inside-tb{ border:none !important;}
.new-cart-inside-tb tr>td:nth-child(1){ width:70%;}
.new-cart-inside-tb tr>td:nth-child(2){ width:30%; text-align:right;}
.pm-box{ float:left;}
.pm-box input{ background:#f2f2f2; text-align:center; width:53px !important; height:35px; border:1px solid #ddd;     margin-left: 0%!important;
    margin-right: 0%!important;}
.pm-circle img{ width:25px; height:auto; margin-top:7px;}
.new-cart-product-price{padding-right: 10px; color: #6c9d06; }
.new-cart-inside-tb tr>td{ padding:5px 5px 5px 0px;}
.new-cart-pay-box ul>li{ padding:5px 20px;; float:left; width:100%; }
.new-cart-pay-box ul>li:first-child{border-top:1px solid #ddd; padding-top:10px;}
.new-cart-pay-box ul>li:last-child{ border-top:1px solid #ddd; padding-top:10px; }
.new-cart-pay-box ul>li:nth-child(3){padding-bottom: 10px;}
.text-pay-box{  float:left; width:50%; font-size:16px; color:#888;}
.total-pay-box{ float:left; width:50%; font-size:14px; text-align:right;}
.new-cart-pay-box{ border:none;}
.new-cart-cod, .cart-you-pay{ margin-top:20px; float:left; width:100%; font-size:16px;}
.new-cart-cod div, .cart-you-pay{ padding:0px 20px;}
.new-cart-cod div:last-child{ margin-top:10px;}
.see-more-details-box{ float:left; width:100%; margin-top:15px; border-top:1px solid #ddd; padding-top:20px; }
.see-more-details-box a{font-size: 14px;text-transform: uppercase;text-decoration: none;color: #6c9d05;}
.create-accounts{ border-top:1px solid #ddd; border-radius:5px;}
.text-field-box .ui-select{padding: 10px 0px;height: 55px;}
.text-field-box .ui-btn{border:none !important;}
.deliver-btn{margin-top:10px; float:left; width:100%;}
.address-delete{text-align: right;margin-bottom: -10px;}
.add-address-btn, .add_coupon, .user-promo-sec{ float:left; width:90%; margin-left:5%; margin-right:5%; text-align:center; margin-bottom:20px;}
.add-address-btn a {text-transform: uppercase;font-size: 14px;color: #6e9c06; cursor:pointer;}
.add-address-btn img, .add_coupon img { width:25px; height:auto; margin-right:5px; vertical-align: middle;}
.you-payr{ color:#8dc059;}
.add_coupon {text-transform: uppercase;font-size: 14px;color: #6e9c06; margin-top:20px; padding-bottom:20px; border-bottom:1px solid #ddd; cursor:pointer;}
.user-promo-sec .promo-text-box{ float:left; width:80%;}
.user-promo-sec .promo-apply-box{ float:left; width:20%; border: 1px solid #ddd;border-left: 0px;margin-left: -2px;height: 37px;cursor: pointer;font-size: 18px;color: #6c9d06;padding-top: 5px;}
.user-promo-sec .promo-text-box input{background: #fff; width: 216px;height: 37px;border: 1px solid #ddd;padding: 0px 10px;font-size: 14px;width: 100%;}
.you-pay-b{text-transform: uppercase;font-size: 20px;color: #6c9d06; }
.label.css-label{background-image: url(checkout/images/radio2.png);}
.cod-small-text{font-size: 12px;color: #f00;padding-bottom: 8px;float: left;width: 100%;padding-top: 4px;}
.thankyou-headline{color: #6c9d05;font-size: 20px;margin: 10px 10px 0px 10px; }
.order-no-details{float: left;width: 100%;text-align: Center;margin: 20px 0px;}
.ds-order-nos{color: #6c9d06; font-size:32px; }
.order-fail-headline{color: #f00; font-size:32px;}
.login-error{float: left;text-align: left;margin-left: 5%;margin-bottom: 10px;color: #f00}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #636363;}
input:-moz-placeholder, textarea:-moz-placeholder {color: #f00;}
.ui-select .ui-btn>span:not(.ui-li-count){ font-size:14px}
.promo-code-sucess{color: #6e9c06;float: left;width: 100%;font-size: 16px}
.promo-code-error{color: #f00;float: left;width: 100%;font-size: 16px}
.gift-card{float:left;width:90%;margin:15px 5%;text-align:left;border:1px solid #ddd;border-radius:5px}.gift-card a{font-size:16px;text-decoration:none;color:#000}.gift-card-t{padding:10px 15px;font-size:16px}.gift-card-t span{float:right;color:#6fa4fc}.pay-thro-gift-card{float:left;width:90%;text-align:left;margin-left:5%;margin-right:5%;font-size:16px}.apply-btn,.cancel-btn{background:#fff;font-size:14ppx}.ui-input-text .gift-user-input{border-bottom:1px solid #ddd!important;border:none}.apply-btn{color:#06F}.cancel-btn{color:#222}.gift-btn-sec{float:left;width:100%;padding-top:0;margin-bottom:10px}.btn-sec{float:Left;width:100%;padding-top:5px;padding-bottom:10px}.btn-sec .ui-input-btn{background:#fff!important;color:#6c9d06!important;border:1px solid #6c9d06!important;font-size:16px;padding-top:6px;height:35px}.modal{display:none;position:fixed;z-index:1;padding-top:180px;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:#000;background-color:rgba(0,0,0,.4)}.modal-content{background-color:#fefefe;margin:auto;padding:20px;border:1px solid #888;width:80%}.close{color:#aaa;float:right;font-size:28px;font-weight:700;margin-top:-20px}.close:focus,.close:hover{color:#000;text-decoration:none;cursor:pointer}
.pay-btn{width: 91%; float: left; margin: 20px 4% 0px 4%;} .green_button{ border-radius:5px;}
input[type=radio].css-checkbox+label.css-label{ font-size:14px;}
.new-payment-container{ margin-bottom:20px}
.add_coupon{ margin-top:0px;}
.user-promo-sec{margin: 5px 5% 15px;clear:both;} .promo-code-error, .promo-code-sucess{ font-size:14px;}
