form{margin:0px;padding:0px;}
body{margin-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;background-color:#FFF;}
#main{border:1px solid #a6b5c5;font-family:Arial, Helvetica, sans-serif;width:970px;margin-top:2px;margin-right:auto;margin-bottom:2px;margin-left:auto;background-color:#FFF;}
#search{width:200px;margin-top:2px;margin-left:2px;display:none;float:none;position:relative;}
#headimg{width:134px;float:left;clear:right;position:relative;padding-top:5px;padding-right:5px;padding-bottom:0px;padding-left:5px;}
#logo{width:253px;float:left;margin-top:3px;position:relative;}
#searchb{margin-top:4px;margin-bottom:-1px;margin-left:20px;}
#logininfo{width:156px;position:absolute;right:38px;margin-top:10px;border-left-width:2px;border-left-style:solid;border-left-color:#660000;font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;padding-top:2px;padding-right:2px;padding-bottom:2px;padding-left:10px;display:none;}
#toplinks{position:relative;clear:right;top:66px;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#0e5197;float:left;display:none;}
#topimage{width:637px;float:right;position:relative;margin-top:-138px;}
#topnavi{font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;color:#FFFFFF;background-color:#133b65;height:20px;width:100%;position:relative;float:none;clear:both;}
#topnavi a{font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;color:#FFFFFF;background-color:#133b65;height:20px;text-decoration:none;}
#topnavi a:hover{font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;color:#FFFFFF;background-color:#133b65;height:20px;text-decoration:underline;}
#pagebody{font-family:Arial, Helvetica, sans-serif;font-size:12px;padding:5px;}
h1{PADDING-TOP:0px;PADDING-BOTTOM:5px;MARGIN:0px;PADDING-RIGHT:0px;PADDING-LEFT:0px;color:#4B3A15;font-size:18px;font-family:Arial, Helvetica, sans-serif;text-shadow:1px 1px 1px #d9dad7;}
h2{font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#610305;}
h3{font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#133b65;padding-top:3px;padding-bottom:3px;margin:0px;}
#scrapBk h3{font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#133b65;padding:0px;margin-top:0px;margin-right:0px;margin-left:0px;}
#footer{font-family:Geneva, Arial, Helvetica, sans-serif;font-weight:normal;color:#333333;position:relative;float:none;clear:both;margin-right:2px;margin-left:2px;}
#footerHome{font-family:Geneva, Arial, Helvetica, sans-serif;font-size:10px;text-align:center;padding:20px;font-weight:normal;color:#333333;position:relative;float:none;clear:both;margin-right:2px;margin-left:2px;width:780px;margin-right:auto;margin-left:auto;}
#stable{border:1px solid #000066;}
#stable2{border:1px solid #0000CC;}
#redsmall{font-family:Geneva, Arial, Helvetica, sans-serif;font-size:10px;color:#FF0000;}
.redtext{color:Red;}
.tdhead{color:#FFFFFF;background-color:#133B65;font-weight:bold;text-align:center;}
#msg{font-family:Arial, Helvetica, sans-serif;border:1px solid #990000;font-weight:bold;padding:5px;}
.dtd{background-color:#deeeff;}
.dtdl{margin-bottom:1px;padding-top:6px;padding-bottom:6px;padding-right:6px;padding-left:6px;}
.ltd{background-color:#eff7ff;}
.lheadtr{background-color:#5a8aba;font-weight:bold;color:#FFFFFF;text-align:center;}
a{color:#20374f;text-decoration:underline;}
a:hover{color:#933f1d;text-decoration:none;}
.but{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;background-color:#5a8aba;color:#FFFFFF;border:1px solid #366595;}
hr{height:0;border:0;color:#11477f;height:1px;background-color:#11477f;}
#userstat{width:190px;border-left-width:2px;border-left-style:solid;border-left-color:#933f1d;font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;padding-left:4px;margin-right:4px;float:right;margin-top:4px;}
.redbtext{color:#FF0000;font-weight:bold;}
#tsearch{padding-top:0px;padding-right:2px;padding-bottom:2px;padding-left:0px;position:relative;margin-top:10px;text-align:center;margin-right:10px;margin-left:10px;width:380px;}
.fleft{float:right;position:relative;}
.tfield{font-family:Arial, Helvetica, sans-serif;color:#0D3966;border:1px solid #529198;font-size:12px;}
#usersection{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#0e5197;width:400px;float:left;margin-top:10px;position:relative;}
#usersection a{color:#0e5197;text-decoration:none;}
#usersection a:hover{color:#0e5197;text-decoration:underline;}
#ucheck{position:relative;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#FF0000;font-weight:bold;float:right;margin-right:10px;margin-top:5px;}
#echeck{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#FF0000;width:100px;margin-top:3px;margin-right:3px;margin-bottom:3px;margin-left:10px;float:left;position:relative;}
#pass{float:left;position:relative;}
#leftnav{width:160px;background-color:#d9e6f7;border:1px solid #4f76a9;padding:5px;}
#inbody{background-color:#FFFFFF;border:1px solid #4f76a9;right:0px;margin-left:5px;padding:5px;margin-bottom:5px;}
.sitenavi{font-size:11px;color:#999999;margin-top:2px;}
#userinfo{font-family:Arial, Helvetica, sans-serif;font-weight:bold;border-top-width:1px;border-bottom-width:1px;border-top-style:solid;border-bottom-style:solid;border-top-color:#FFFFFF;border-bottom-color:#FFFFFF;padding:3px;margin-bottom:10px;}
A.userbutton{DISPLAY:block;PADDING-LEFT:4px;FONT-SIZE:12px;LINE-HEIGHT:14px;PADDING-TOP:4px;background-color:#FFFFFF;BORDER-RIGHT:#d9e6f7 1px solid;BORDER-TOP:#d9e6f7 1px solid;BORDER-LEFT:#d9e6f7 1px solid;COLOR:#314973;BORDER-BOTTOM:#d9e6f7 1px solid;BACKGROUND-COLOR:#eff7ff;margin-top:-1px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-bottom:4px;}
#tagCloud{PADDING-LEFT:4px;FONT-SIZE:12px;PADDING-TOP:3px;background-color:#FFFFFF;background-color:#FFFFFF;BORDER-RIGHT:#d9e6f7 1px solid;BORDER-TOP:#d9e6f7 1px solid;BORDER-LEFT:#d9e6f7 1px solid;COLOR:#314973;BORDER-BOTTOM:#d9e6f7 1px solid;BACKGROUND-COLOR:#eff7ff}
#tagCloud a{text-decoration:none;margin-right:4px;margin-left:4px;}
#tagCloud a:Hover{text-decoration:underline;margin-right:4px;margin-left:4px;}
#tagCloud .bigCloud{font-size:16px;font-weight:bold;}
.userbutton{OVERFLOW:hidden}
A.userbutton:hover{COLOR:#091933;BACKGROUND-COLOR:#FFFFFF;TEXT-DECORATION:none}
.rf{FLOAT:right
position:relative;}
.grabtn{FONT-WEIGHT:700;FONT-SIZE:10px;VERTICAL-ALIGN:middle;LINE-HEIGHT:normal;BACKGROUND-REPEAT:no-repeat;WHITE-SPACE:nowrap;HEIGHT:20px}.videobtns{MARGIN-TOP:5px;HEIGHT:18px}
.blueText{font-family:Verdana;font-size:12px;font-weight:bold;color:#3e6b88;}
.whiteText{font-size:12px;font-weight:bold;color:#0066cc;}
.GREYBOLD{font-family:Verdana;font-size:10px;font-weight:bold
color:#4e5151;}
.headtextblue{margin-bottom:10px;font-family:Arial;font-size:14px;font-weight:bold;color:#0066cc;}
#artsub h2{margin:0px;}
#artsub{padding:5px;}
#artsub h2 a{text-decoration:none;}
#artsub h2 a:hover{text-decoration:underline;}
#artpost{border:1px solid #0099cc;padding:10px;}
#partsub h2{margin:0px;}
#partsub h2 a{text-decoration:none;}
#partsub h2 a:hover{text-decoration:underline;}
#partpost{border:1px solid #0099cc;padding:5px;}
#artfoot{padding:5px;}
#artbody{padding-top:10px;padding-right:5px;padding-bottom:10px;padding-left:5px;}
#artbody img{border:1px solid #0066CC;padding:5px;}
#partbody{padding-top:2px;padding-right:2px;padding-bottom:2px;padding-left:2px;}
#comntbody{background-color:#eff1f2;padding-top:6px;padding-right:6px;padding-bottom:2px;padding-left:6px;}
#comntby{background-color:#e8e8e8;padding-top:6px;padding-right:4px;padding-bottom:4px;padding-left:4px;margin-bottom:10px;}
.tfield{border:1px solid #133B65;background-color:#F9FCFF;color:#000000;}
#msgbold{font-weight:bold;color:#000099;font-size:12px;padding:5px;}
#textleft{float:left;position:relative;width:11em;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;text-align:center;padding-top:5px;padding-right:3px;padding-bottom:3px;padding-left:6px;}
#textright{float:right;position:relative;width:11em;padding-top:5px;padding-right:6px;padding-bottom:3px;padding-left:3px;text-align:center;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px
font-weight:bold;font-size:12px;font-weight:bold;}#boxhead{background-color:#DDDDDD;font-family:Arial, Helvetica, sans-serif;font-weight:bold;padding-top:4px;padding-right:4px;padding-bottom:4px;padding-left:8px;margin-top:10px;border-top-width:1px;border-right-width:1px;border-left-width:1px;border-top-style:solid;border-right-style:solid;border-left-style:solid;border-top-color:#DDDDDD;border-right-color:#DDDDDD;border-left-color:#DDDDDD;}
#boxhead A{color:#FFFFFF;text-decoration:underline;}
#boxhead A:hover{color:#FF0000;text-decoration:none;}
#boxbody{background-color:#f0f0f0;padding:4px;margin-bottom:20px;border:1px solid #DDDDDD;}
#thumImgBox{width:160px;background-color:#CCCCCC;float:left;height:120px;margin-right:10px;position:relative;}
#imgThum{position:relative;border:1px solid #000000;margin:1px;float:left;}
#imgbox{width:90px;height:91px;background-color:#CCCCCC;float:left;margin-right:10px;position:relative;}
#imgboxc{width:104px;height:91px;background-color:#CCCCCC;margin-right:10px;}
#imgframe{margin:2px;width:800px;height:600px;background-color:#000000;border:1px solid #000033;clear:both;}
#Divlogin{background-image:url(/images/loginbluebg.gif);background-position:bottom;background-repeat:repeat-x;}
#clearall{clear:both;}
.itemHide{display:none;}
#pupnum{padding:5px;text-align:center;width:10%;font-weight:bold;float:left;position:relative;}
#pupsex{padding:5px;float:left;width:10%;text-align:center;font-weight:bold;position:relative;}
#pupcol{padding:5px;float:left;width:50%;text-align:center;font-weight:bold;position:relative;}
#puppri{padding:5px;float:left;width:10%;text-align:center;font-weight:bold;position:relative;}
#puprem{padding:5px;float:left;width:10%;text-align:center;font-weight:bold;height:23px;clear:right;position:relative;}
#fieldTit{position:relative;width:200px;float:left;padding:5px;font-weight:bold;height:22px;}
#fieldTitS{position:relative;width:140px;float:left;padding:5px;font-weight:bold;height:22px;}
#fieldValue{padding-top:8px;padding-right:5px;padding-bottom:8px;clear:right;}
#fieldValueS{padding-top:16px;padding-bottom:16px;clear:right;}
#TDTitle{font-weight:bold;}
#innavi{padding:3px;background-color:#D9E6F7;border:1px solid #2869ab;margin-top:3px;margin-bottom:3px;margin-right:1px;margin-left:1px;}
#incont{padding:3px;background-color:#D9E6F7;border:1px solid #2869ab;margin-top:3px;margin-bottom:3px;margin-right:1px;margin-left:1px;}
.ininbody{background-color:#eff7ff;border-top-width:1px;border-bottom-width:1px;border-top-style:double;border-bottom-style:double;border-top-color:#0099CC;border-bottom-color:#0099CC;margin-top:2px;margin-bottom:2px;}
.imgupframe{background-color:#deeeff;border:1px solid #2869ab;margin:5px;}
#albumcapt{font-family:Arial, Helvetica, sans-serif;font-weight:bold;text-align:center;}
#imgbox2{position:relative;width:168px;text-align:center;background-color:#e5e7e7;padding:2px;border:1px solid #9f9f9f;float:left;margin:3px;}
#imgboxDog{position:relative;width:128px;text-align:center;background-color:#e5e7e7;padding:2px;border:1px solid #9f9f9f;float:left;margin:3px;}
.flotL{float:left;display:inline;}
.flotR{float:right;text-align:right;display:inline;}
.flotC{text-align:center;width:200px;margin-right:auto;margin-left:auto;}
.errorTe{color:#FF0000;}
#shownext{background-color:#f7f7f8;border-top-width:1px;border-top-style:solid;border-top-color:#2869ab;padding:5px;margin-top:4px;}
#Divreg{position:relative;background-color:#D9E6F7;padding:3px;border:1px solid #2869ab;width:50%;margin-right:auto;}
#Divlog{position:relative;width:450px;background-color:#deeeff;padding:3px;border:1px solid #2869ab;float:right;margin-top:20px;}
#divinnW{background-color:#f7f8f8;padding:3px;margin:3px;}
#divOut{background-color:#D9E6F7;padding:3px;border:1px solid #2869ab;}
.logl{background-color:#deeeff;margin-bottom:1px;padding-top:8px;padding-right:5px;padding-bottom:8px;padding-left:5px;}
#Logwelcom{padding:10px;background-color:#eaf3fe;font-family:Arial, Helvetica, sans-serif;font-size:18px;font-weight:bolder;text-align:center;margin-top:10px;margin-bottom:10px;border:1px solid #2869ab;}
#pagebodyIndex{}#mainHome{width:960px;border:1px solid #a6b5c5;font-family:Arial, Helvetica, sans-serif;margin-right:auto;margin-left:auto;}
#OutFrame{border:1px solid #2869ab;background-color:#edefef;padding:3px;margin-bottom:5px;}
#OutFrameR{border:1px solid #2869ab;background-color:#edefef;padding:3px;margin-bottom:5px;margin-left:5px;}
#HflotL{float:left;width:478px;height:0.01%;}
#HflotR{float:right;height:0.01%;width:478px;}
#InFrame{background-color:#FFFFFF;padding:0px;}
.Hbul{list-style-image:url(/images/dot.gif);margin-top:0px;margin-right:0px;margin-bottom:1px;margin-left:-15px;}
.HbulU{margin-top:5px;}
#show{border:1px solid #2869ab;background-color:#edefef;padding:3px;margin-bottom:2px;}
#InFrame h4{font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;margin:4px;}
#HWelL{float:left;width:60%;border-right-width:1px;border-right-style:solid;border-right-color:#EDEFEF;position:relative;}
#HWelR{width:38%;float:right;position:relative;}
#InFrame h2{font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;margin:4px;color:#c11111;}
#alist{height:0.01%;float:left;width:216px;}
#photoHome{height:0.01%;float:left;}
#adetail{width:146px;height:0.01%;float:right;line-height:20px;text-align:left;}
.hide{display:none;}
#fmain{font-family:Arial, Helvetica, sans-serif;font-size:12px;}
.clear{overflow:hidden;width:100%;}
a.ovalbutton{background:transparent url('/images/oval-blue-left.gif') no-repeat top left;display:block;float:left;font:normal 13px Tahoma;line-height:16px;height:24px;padding-left:11px;text-decoration:none;}
a:link.ovalbutton, a:visited.ovalbutton, a:active.ovalbutton{color:#494949;}
a.ovalbutton span{background:transparent url('/images/oval-blue-right.gif') no-repeat top right;display:block;padding:4px 11px 4px 0;}
a.ovalbutton:hover{background-position:bottom left;}
a.ovalbutton:hover span{background-position:bottom right;color:black;}
a.ovalbuttonOrange{background:transparent url(/images/oval-orange-left.gif) no-repeat top left;display:block;float:left;height:0.01%;font:normal 13px Tahoma;line-height:16px;height:24px;padding-left:11px;text-decoration:none;}
a:link.ovalbuttonOrange, a:visited.ovalbuttonOrange, a:active.ovalbuttonOrange{color:#494949;}
a.ovalbuttonOrange span{background:transparent url(/images/oval-orange-right.gif) no-repeat top right;display:block;padding:4px 11px 4px 0;}
a.ovalbuttonOrange:hover{background-position:bottom left;}
a.ovalbuttonOrange:hover span{background-position:bottom right;color:black;}
.buttonwrapper{overflow:hidden;width:100%;}
#registerchq{width:500px;margin-right:auto;margin-left:auto;border:1px solid #006699;margin-top:10px;}
.vimg{margin-left:10px;margin-bottom:-8px;}
#loginError{font-weight:bold;color:#FF0000;}
#pfieldtit{font-weight:bold;width:120px;float:left;vertical-align:middle;height:20px;}
#pfieldvalu{margin-top:2px;clear:right;vertical-align:middle;height:20px;}
#pflotR{float:right;margin-top:-20px;margin-right:10px;}
.ptextIlite{font-size:10px;font-style:italic;color:#666666;}
#pdogblog{border:1px solid #0066FF;padding:5px;margin-bottom:20px;}
#puserinfo{margin-left:10px;}
#pimg{text-align:center;margin:5px;}
#pimg img{text-align:center;border:1px solid #0066CC;padding:5px;}
#smallBox{font-family:Arial, Helvetica, sans-serif;border:1px solid #0066CC;margin:5px;padding:2px;font-size:12px;}
#smallBox #SBfieldValue{padding:5px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:16px;}
.style1{color:#990000}
.style2{color:#CC0000}
#pdoglist{margin:5px;padding:5px;}
.tdleftcolor{border-left-width:1px;border-left-style:solid;border-left-color:#0099FF;padding-left:5px;padding-right:5px;}
.hImgBox{float:left;height:92px;width:102px;text-align:center;padding:1px;background-color:#F4F4F4;border:1px solid #CCCCCC;}
.hImgBoxMember{float:left;height:92px;width:100px;text-align:center;padding:1px;background-color:#F4F4F4;border:1px solid #CCCCCC;}
.hImgBoxVideo{float:left;height:100px;width:110px;text-align:center;padding:1px;background-color:#F4F4F4;border:1px solid #CCCCCC;}
.TableTR{border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#EFF7FF;}
#viewMsg{background-color:#f9fcfe;margin:5px;border:1px solid #7EB5EE;}
#sendMsg{background-color:#CCCCCC;margin:5px;padding:5px;border:1px solid #666666;}
.msgRead{font-weight:bold;}
.imgBoder img{border:2px solid gray;}
.photoBox{background-color:#f2efef;border:1px solid #3e52a9;padding:3px;}
.photoImg img{border:2px solid gray;}
.photoAlbum{float:left;background:url(/images/shadowAlpha.png) no-repeat bottom right !important;background:url(/images/shadow.gif) no-repeat bottom right;margin:5px 0 0 5px !important;margin:5px 0 0 5px;}
.photoAlbum img{display:block;background-color:#fff;border:1px solid #a9a9a9;margin:-6px 6px 6px -6px;padding:4px;}
.photoImg:hover img{border:2px solid white;}
#photoTitle{padding:2px;text-align:center;width:160px;margin-right:auto;margin-left:auto;}
#photoImagebox{width:160px;margin-right:auto;margin-left:auto;}
#photoTitle h2{font-family:Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;color:#003399;margin:0px;padding-top:2px;padding-right:0px;padding-bottom:2px;padding-left:0px;}
#photoTitle{padding:2px;text-align:center;margin-right:auto;margin-left:auto;}
#photoTitleTop h2{font-family:Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;color:#003399;margin:0px;padding-top:2px;padding-right:0px;padding-bottom:2px;padding-left:0px;}
#editBut{margin-right:auto;margin-left:auto;width:120px;}
#textcenter{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;padding:6px;margin-right:auto;margin-left:auto;width:300px;text-align:center;}
#albumimg{background-color:#d9e6f7;margin:5px;padding:5px;text-align:center;border-top-width:1px;border-top-style:solid;border-top-color:#013a86;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#013a86;}
.showPages{font-family:"Courier New", Courier, monospace;font-weight:bold;text-align:center;color:#003399;font-weight:bold;padding-top:10px;padding-bottom:10px;}
.showPages a{border:1px solid #99CCFF;color:#003399;font-weight:bold;font-size:14px;text-decoration:none;padding-top:4px;padding-right:6px;padding-bottom:2px;padding-left:6px;margin-right:2px;margin-left:2px;font-family:"Courier New", Courier, monospace;background:transparent url('/images/pg-but-bg-2.gif');margin-top:4px;margin-bottom:4px;}
.showPages a:Hover{border:1px solid #2969f8;color:#003399;font-weight:bold;font-size:14px;text-decoration:none;padding-top:4px;padding-right:6px;padding-bottom:2px;padding-left:6px;margin-right:2px;margin-left:2px;font-family:"Courier New", Courier, monospace;background-position:bottom;margin-top:4px;margin-bottom:4px;}
.showPages span{border:1px solid #99CCFF;background-color:#6666FF;color:#FFFFFF;font-weight:bold;padding-top:4px;padding-right:6px;padding-bottom:2px;padding-left:6px;margin-right:2px;margin-left:2px;}
.linkButtonBlue{border:1px solid #99CCFF;font-weight:bold;font-size:14px;text-decoration:none;padding-top:2px;padding-right:6px;padding-left:6px;margin-right:2px;margin-left:2px;font-family:"Courier New", Courier, monospace;margin-top:4px;margin-bottom:4px;background-color:transparent;background-image:url(/images/pg-but-bg.gif);color:#000000;padding-bottom:1px;}
.textWrite{width:99%;padding:3px;}
form, label input{margin:0;padding:0;}
label{font-weight:bold;}
.homeMore{text-align:right;display:block;}
#AddThis{float:right;padding-top:1px;padding-right:3px;position:relative;margin-top:3px;margin-bottom:0px;padding-bottom:0px;}
.searchBut{border:outset 1px solid #e1a105;font-family:Verdana, Arial, Helvetica, sans-serif;font-weight:bold;background-image:url(/images/searchbut-back.gif);background-repeat:repeat-x;background-position:left top;background-color:#feb11e;padding-top:0px;padding-right:2px;padding-bottom:0px;padding-left:2px;}
#artsub h1 a{PADDING-TOP:0px;PADDING-BOTTOM:0px;MARGIN:0px;PADDING-RIGHT:0px;PADDING-LEFT:0px;color:#610305;font-size:18px;font-family:Arial, Helvetica, sans-serif;text-decoration:none;}
#rssFeed{padding-right:5px;padding-left:5px;}
#rssFeed a{text-decoration:none;font-weight:bold;}
#rssFeed a:Hover{text-decoration:underline;font-weight:botttld;}
.searchBut{border:1px outset #152eca;font-family:Verdana, Arial, Helvetica, sans-serif;font-weight:bold;background-image:url(../images/search-but-bg.jpg);background-repeat:repeat-x;background-position:left top;background-color:#8cbdf0;padding-top:0px;padding-right:2px;padding-bottom:0px;padding-left:2px;}
.TableHead{font-size:12px;font-weight:bold;color:#FFFFFF;background-color:#006699;}
.TableHead A{font-size:12px;font-weight:bold;color:#FFFFFF;background-color:#006699;}
#imgDisp{float:left;width:170px;text-align:center;}
#importBox{height:600px;display:block;overflow:scroll;}
#importBoxMain{width:640px;display:block;margin-top:10px;border:1px solid #0066CC;}
#userinfo{font-family:Arial, Helvetica, sans-serif;font-weight:bold;border-top-width:1px;border-bottom-width:1px;border-top-style:solid;border-bottom-style:solid;border-top-color:#FFFFFF;border-bottom-color:#FFFFFF;margin-bottom:3px;background-color:#b3d0ee;color:#FFFFFF;font-size:12px;padding-top:3px;padding-right:3px;padding-bottom:3px;padding-left:3px;}
#userinfo a{color:#FFFFFF;text-decoration:none;font-weight:bold;font-size:12px;}
.FloatR{float:right;}
.errorMsgL{font-family:Geneva, Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;color:#FF0000;}
.example{font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#999999;}
#butStatus{background-color:#EBF3FC;padding:5px;text-align:right;}
#comntBlue{border:1px solid #7eb5ee;background-color:#eff5fa;margin-bottom:10px;}
#comntHeadBlue{background-color:#d5e7fb;height:20px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#7eb5ee;padding-top:2px;padding-left:3px;padding-right:3px;}
#comntBodyBlue{padding-top:2px;padding-right:3px;padding-bottom:3px;padding-left:3px;}
.eventLogo{width:200px;float:right;border:1px solid #7EB5EE;padding:3px;}
.eventLogo img{margin-bottom:5px;}
#profileDiv h1{font-family:Arial, Helvetica, sans-serif;font-size:30px;font-weight:bold;}
#profileDiv h2{font-family:Arial, Helvetica, sans-serif;font-size:18px;font-weight:bold;color:#de650a;margin:0px;padding:0px;}
.insertBold{font-size:11px;font-weight:bold;color:#FF3300;}
.VoiletText{color:#6600CC;font-weight:bold;font-size:12px;}
.redButton{border:1px outset #fb4006;font-family:Verdana, Arial, Helvetica, sans-serif;font-weight:bold;background-image:url(/images/red-but-bg.gif);background-repeat:repeat-x;background-position:left top;background-color:#fc680f;}
#DivAddnew{background-color:#ff9900;padding:5px;text-align:center;margin-bottom:5px;border:1px solid #e08701;width:160px;}
#DivNamiTitle{background-color:#eff7ff;BORDER-RIGHT:#d9e6f7 1px solid;BORDER-TOP:#d9e6f7 1px solid;BORDER-LEFT:#d9e6f7 1px solid;BORDER-BOTTOM:#d9e6f7 1px solid;PADDING-LEFT:4px;padding-top:4px;padding-right:4px;padding-bottom:4px;}
#DivNamiTitle a{text-decoration:none;}
#DivNamiTitle a:hover{text-decoration:underline;}
A.DivTitle{font-weight:bold;color:#314973;text-decoration:none;display:block;font-size:13px;}
A:Hover.DivTitle{font-weight:bold;color:#314973;text-decoration:underline;display:block;font-size:13px;}
#DivNaviTitleBig{font-family:Arial, Helvetica, sans-serif;font-weight:bold;border-top-width:1px;border-bottom-width:1px;border-top-style:solid;border-bottom-style:solid;border-top-color:#FFFFFF;border-bottom-color:#FFFFFF;margin-bottom:3px;background-color:#b3d0ee;color:#FFFFFF;font-size:12px;padding-top:3px;padding-right:3px;padding-bottom:3px;padding-left:3px;}
#DivNaviTitleBig a{color:#FFFFFF;text-decoration:none;font-weight:bold;font-size:12px;}
#pageBox{border:1px solid #e8e8e8;padding:10px;margin-top:5px;margin-bottom:5px;background-color:#f6f6f6;}
#pageBox a{color:#0066bb;text-decoration:none;}
#pageBox a:hover{color:#0066bb;text-decoration:underline;}
#pageBox h2{color:#ea702b;font-family:Arial, Helvetica, sans-serif;font-size:16px;padding:0px;margin-top:0px;margin-right:0px;margin-left:0px;margin-bottom:5px;}
#pageBoxOrange{border:1px solid #e8e8e8;padding:10px;margin-top:5px;margin-bottom:5px;background-color:#fdf5f0;}
#pageBoxOrange a{color:#e55305;text-decoration:none;}
#pageBoxOrange a:hover{color:#e55305;text-decoration:underline;}
#pageBoxOrange h2{color:#0066bb;font-family:Arial, Helvetica, sans-serif;font-size:16px;padding:0px;margin-top:0px;margin-right:0px;margin-left:0px;margin-bottom:5px;}
#pageBoxBlank{border:1px solid #e8e8e8;padding:10px;margin-top:5px;margin-bottom:5px;}
#pageBoxBlank a{color:#0066bb;text-decoration:none;}
#pageBoxBlank a:hover{color:#0066bb;text-decoration:underline;}
#pageBoxBlank h2{color:#0066bb;font-family:Arial, Helvetica, sans-serif;font-size:16px;padding:0px;margin-top:0px;margin-right:0px;margin-left:0px;margin-bottom:5px;}
#searchBoxBody{border:1px solid #DDDDDD;padding:10px;background-color:#fefef6;text-align:center;}
#searchBoxBody span{color:#eb6e2c;font-weight:bold;font-size:18px;}
#boxAlfa{padding:10px;border:1px solid e8e8e8;margin-top:5px;margin-bottom:5px;text-align:center;}
#boxAlfa a{color:#0066bb;font-weight:bold;padding-right:5px;padding-left:5px;}
#boxSponsered{background-color:#ededed;padding:10px;margin-top:10px;border:1px solid #c9c7c7;margin-bottom:5px;}
#boxSponsered h2{color:#ea702b;font-family:Arial, Helvetica, sans-serif;font-size:16px;padding:0px;margin-top:0px;margin-right:0px;margin-left:0px;margin-bottom:5px;}
#boxSponsered h3 a{text-decoration:none;}
#boxSponsered h3 a:Hover{text-decoration:underline;}
#BoxListing h1{color:#0066bb;}
#BoxListing h3 a{color:#ea702b;margin:0px;padding:0px;font-size:12px;}
#BoxListing .listBorderleft{border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-top-style:solid;border-right-style:solid;border-bottom-style:solid;border-top-color:#e8e8e8;border-right-color:#e8e8e8;border-bottom-color:#e8e8e8;}
#BoxListing .listBorderright{border-top-width:1px;border-bottom-width:1px;border-left-width:1px;border-top-style:solid;border-bottom-style:solid;border-left-style:solid;border-top-color:#e8e8e8;border-bottom-color:#e8e8e8;border-left-color:#e8e8e8;}
#BoxListing .ListBoxGrayItem{color:#999999;margin-top:2px;margin-bottom:2px;}
#BoxListing .ListBoxGrayItem a{color:#999999;margin-top:2px;margin-bottom:2px;}
#DivView h1{color:#0066bb;}
#DivView h2{color:#ea702b;font-family:Arial, Helvetica, sans-serif;font-size:16px;}
#DivView a{color:#0066bb;text-decoration:none;}
#DivView a:Hover{color:#0066bb;text-decoration:underline;}
#pageBoxBlue{border:1px solid #e8e8e8;padding:10px;margin-top:5px;margin-bottom:5px;background-color:#f6f6f6;}
#pageBoxBlue a{color:#0066bb;text-decoration:none;}
#pageBoxBlue a:hover{color:#0066bb;text-decoration:underline;}
#pageBoxBlue h2{color:#ea702b;font-family:Arial, Helvetica, sans-serif;font-size:16px;padding:0px;margin-top:0px;margin-right:0px;margin-left:0px;margin-bottom:5px;}
#BoxPhotoVert{background-color:#f1f7fe;border:1px solid #095aad;padding:5px;margin-right:5px;margin-bottom:5px;margin-left:5px;}
#BoxPhotoVert h2 a{font-size:12px;font-weight:bold;color:#4d82b8;margin:0px;padding:0px;}
#BoxPhotoVert h2{font-size:12px;font-weight:bold;color:#4d82b8;margin:0px;padding:0px;}
#BoxPhotoVert h2 a:Hover{font-size:12px;font-weight:bold;color:#4d82b8;}
#BoxVideoVert{background-color:#ecfbf5;border:1px solid #095aad;padding:5px;margin-right:5px;margin-bottom:5px;margin-left:5px;}
#BoxVideoVert h2 a{font-size:12px;font-weight:bold;color:#4da680;margin:0px;padding:0px;}
#BoxVideoVert h2{font-size:12px;font-weight:bold;color:#4da680;margin:0px;padding:0px;}
#BoxVideoVert h2 a:Hover{font-size:12px;font-weight:bold;color:#4da680;}
#boxList{border:1px solid #CCCCCC;padding:5px;}
#grayBox{background-color:#CCCCCC;padding:5px;width:370px;}
#miniNavi{background-color:#fe7501;color:#FFFFFF;font-weight:bold;}
#miniNavi a{color:#FFFFFF;font-weight:bold;}
#KennelMonth h2{font-family:Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;}
#KennelMonth h2 a{font-family:Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;color:#c11111;}
#HomeDivLeft{margin-right:5px;}
#flotL{float:left;}
#advertise{font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:11px;color:#000000;text-decoration:none;text-align:right;}
#advertise a{font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;color:#000000;text-decoration:none;}
#advertise a:hover{font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;color:#000000;text-decoration:underline;}
.word_wrap{white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;overflow:hidden;overflow:auto;}
.bluetext1{margin-left:5px;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#408cb3;}
.orangetext1{margin-left:5px;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#d26a01;font-weight:bold;}
.rightborder{border:1px solid #fdd7af;}
label.error{color:#F00;}
input.error{border:1px solid #F00;}
.AlinkButton{font-family:Verdana, Arial, Helvetica, sans-serif;font-weight:bold;background-image:url(/images/searchbut-back.gif);background-repeat:repeat-x;background-position:left top;background-color:#feb11e;border-color:#e59b03;border:1px;border-style:solid;color:#000;text-decoration:none;margin-top:5px;padding-top:10px;padding-right:20px;padding-bottom:10px;padding-left:20px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.AlinkButton:Hover{background-image:url(/images/searchbut-back.gif);background-repeat:repeat-x;background-position:left top;font-family:Verdana, Arial, Helvetica, sans-serif;font-weight:bold;background-color:#feb11e;padding-top:10px;padding-right:20px;padding-bottom:10px;padding-left:20px;border:1px solid #e59b03;color:#000;text-decoration:none;margin-top:5px;}
#shopFooter{background-color:#E2E2E2;border-top-width:2px;border-top-style:solid;border-top-color:#999;padding:10px;}
#footHead{font-weight:bold;font-size:12px;color:#000;font-family:Verdana, Geneva, sans-serif;}
#shopFooter ul{margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:10px;padding-right:0px;padding-bottom:5px;padding-left:0px;list-style-type:none;color:#666;}
#shopFooter ul a{color:#666;text-decoration:none;}
#shopFooter ul a:Hover{color:#666;text-decoration:underline;}
#copyRight{font-family:Verdana, Geneva, sans-serif;color:#333;text-align:center;font-size:11px;}
#newname{display:none;}