#container {margin:0 auto; padding-top:20px; width:800px;}
#content {border-bottom:1px dotted #999; border-top:1px dotted #999; padding:20px 0;}
#basic-modal-content {display:none;}
#simplemodal-overlay {background-color:#000;}
#simplemodal-container {color:#bbb; background-color:#fff; border:2px solid #333; padding:34px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(/img/basic/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}
.pop_up_select{width: 212px;height: 30px;border: 1px solid #ddd;}
.pop_up_submit_btn{width: 65px;height: 30px;border: 1px solid #ccc; background-color: #ddd; cursor:pointer;}