@charset "utf-8";
/* CSS Document */
/* Gray Button----------------------------------*/
.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

a.grayButton {
    background: transparent url('/images/gray_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.grayButton span {
	display: block;
	line-height: 14px;
	padding: 5px 0 5px 18px;
	background-color: transparent;
	background-image: url(/images/graybuttonspan.gif);
	background-repeat: no-repeat;
	color: #ff3da5;
	font-weight: bold;
}
a.grayButton:hover {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.grayButton:hover span {
	background-position: bottom left;
	padding: 6px 0 4px 18px; /* push text down 1px */
}
/* Gray Button---------------------------------- END*/

/* Black Button----------------------------------*/
a.blackButton {
    background: transparent url('/images/gray_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.blackButton span {
	display: block;
	line-height: 14px;
	padding: 5px 0 5px 18px;
	background-color: transparent;
	background-image: url(/images/graybuttonspan.gif);
	background-repeat: no-repeat;
	color: #000;
	font-weight: normal;
}
a.blackButton:hover {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.blackButton:hover span {
	background-position: bottom left;
	padding: 6px 0 4px 18px; /* push text down 1px */
}
/* Gray Button---------------------------------- END*/
