@charset "utf-8";
/* CSS Document */
.showPages{
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	text-align: center;
	color: #003399;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}
.showPages a{
	border: 1px solid #99CCFF;
	color: #003399;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	padding-top: 4px;
	padding-right: 6px;
	padding-bottom: 2px;
	padding-left: 6px;
	margin-right: 2px;
	margin-left: 2px;
	font-family: "Courier New", Courier, monospace;
	background: transparent url('/images/pg-but-bg-2.gif');
	margin-top: 4px;
	margin-bottom: 4px;
}
.showPages a:Hover{
	border: 1px solid #2969f8;
	color: #003399;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	padding-top: 4px;
	padding-right: 6px;
	padding-bottom: 2px;
	padding-left: 6px;
	margin-right: 2px;
	margin-left: 2px;
	font-family: "Courier New", Courier, monospace;
	background-position: bottom;
	margin-top: 4px;
	margin-bottom: 4px;
}
.showPages span{
	border: 1px solid #99CCFF;
	background-color: #6666FF;
	color: #FFFFFF;
	font-weight: bold;
	padding-top: 4px;
	padding-right: 6px;
	padding-bottom: 2px;
	padding-left: 6px;
	margin-right: 2px;
	margin-left: 2px;
}

