@charset "UTF-8";ul.MenuBarVertical{padding:0;list-style-type:none;font-size:100%;cursor:default;margin:0;width:100%;}
ul.MenuBarActive{z-index:1000;}
ul.MenuBarVertical li{padding:0;list-style-type:none;font-size:100%;position:relative;text-align:left;cursor:pointer;width:100%;margin:0;}
ul.MenuBarVertical ul{padding:0;list-style-type:none;position:absolute;z-index:1020;cursor:default;width:100%;left:-1000em;top:0;margin-top:-5%;margin-right:0;margin-bottom:0;margin-left:95%;}
ul.MenuBarVertical ul.MenuBarSubmenuVisible{left:0;}
ul.MenuBarVertical ul li{width:100%;}
ul.MenuBarVertical{border:1px solid #d9e6f7;margin:0px;text-align:left;padding:0px;}
ul.MenuBarVertical ul{border:1px solid #d9e6f7;width:80%;}
ul.MenuBarVertical a{display:block;cursor:pointer;background-color:#eff7ff;color:#314973;text-decoration:underline;padding-top:0.2em;padding-bottom:0.2em;padding-left:0.5em;padding-right:0em;}
ul.MenuBarVertical a:hover, ul.MenuBarVertical a:focus{background-color:#FFFFFF;color:#000000;text-decoration:none;}
ul.MenuBarVertical a.MenuBarItemHover, ul.MenuBarVertical a.MenuBarItemSubmenuHover, ul.MenuBarVertical a.MenuBarSubmenuVisible{background-color:#FFFFFF;color:#000000;}
ul.MenuBarVertical a.MenuBarItemSubmenu{background-image:url(SpryMenuBarRight.gif);background-repeat:no-repeat;background-position:95% 50%;}
ul.MenuBarVertical a.MenuBarItemSubmenuHover{background-image:url(SpryMenuBarRightHover.gif);background-repeat:no-repeat;background-position:95% 50%;}
ul.MenuBarVertical iframe{position:absolute;z-index:1010;}
@media screen, projection{ul.MenuBarVertical li.MenuBarItemIE{display:inline;f\loat:left;background:#FFF;}
}