.ds-sd {
	float: left;
	width: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	letter-spacing: 0.6px;
	color: #4a4a4a;
	background: #f4f8f8;
	padding-bottom: 20px;
}



.ds-sd h2 {
	font-size: 30px;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 25px;
	font-weight: normal;
	color:#ff8a00;
	text-transform:uppercase;
}
.ds-sd ul {
	padding: 0px;
	margin: 0px;
	padding-left: 20px;
	padding-bottom: 20px;
}
.ds-sd li {
	margin-left: 15px;
	font-size: 14px;
	padding-bottom: 4px;
	list-style:none;
	margin-bottom: 5px;
    list-style-image: url(/images/c-box-n.png);
	line-height:20px;
	
}
.ds-sd button {
	width: 425px;
	height: 45px;
	margin-top: 10px;
	background: none;
	border: 1px solid #ff8a00;
	font-size: 16px;
	color: #ff8a00;
	cursor:pointer;
	
}
.subscribe-box {
	font-size: 31px;
	border: 3px solid #dae6e9;
	padding: 75px 40px 75px 30px;
	margin-right: 40px;
	width: 400px;
	margin-top: 35px;
	float: left;
	text-transform: uppercase;
	letter-spacing: 0.6px;
	font-weight: 600;
	
}
.subscribe-h {
	color: #ff8a00;
}
.subscribe-d {
	color: #7cbc40;
}
.subscribe-s {
	color: #4a4a4a;
}
.subscribe-w {
	color: #80999f;
}

.subscribe-img {
	margin-left: -164px;
	margin-top: 45px;
	  
}
.dogspot-sub-text {
	text-align: left;
	line-height: 20px;
	    margin: 15px 0px 20px 0px;
	
	    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: 0.7px;
}
.sub-bg {
	width: 100%;
	background: url("/images/background-sub.jpg");
	background-size: cover;
	padding: 20px 0px 40px 0px;
}
.sub-l {
	width: 370px;
	float: left;
	
}
.sub-r {
	width: 500px;
	    padding-left: 100px;
	float: left;
}






.group 			  { 
  position:relative; 
  margin-bottom:22px; 
}
.group 	input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:500px;
  border:none;
  border-bottom: 1px solid #80999f;
  background:none;
}
.group 	input:focus 		{ outline:none; }


.group label {
	display: block;
	color: #80999f;
	padding-top: 7px;
	padding-bottom: 7px;
	font-size: 14px;
 	font-weight: bold;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}


.group 	input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#80999f;
}


.bar 	{ position:relative; display:block; width:500px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#80999f; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}


.group input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

.group-error{text-align: right;
    margin-top: 5px;
    font-size: 12px;color:#F00;}
.group input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}


@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

.group-radio{}


.radio {
  display: inline-block;

  font-size: 14px;
  line-height: 40px;
  cursor: pointer;
}

.radio:hover .inner {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: .7;
}

.radio input {
  width: 1px;
  height: 1px;
  opacity: 0;
}

.radio input:checked + .outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.radio input:checked + .outer { border: 3px solid #f08b3b; }

.radio input:focus + .outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  background-color: #e67012;
}

.radio .outer {
  width: 18px;
  height: 18px;
  display: block;
  float: left;
  margin: 10px 9px 10px 10px;
  border: 3px solid #80999f;
  border-radius: 50%;
  background-color: #fff;
}

.radio .inner {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 11px;
  height: 11px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  display: block;
  margin: 4px;
  border-radius: 50%;
  background-color: #f08b3b;
  opacity: 0;
}


  
