html, body { margin: 0px; }
.clear { clear: both; }
		
#writeover table{
	border-top:none !important;
	border-bottom:none !important;
	border-left:none !important;
	border-right:none !important;
	margin-left:14px;
	margin-top:10px;
	text-align:left;
	}
#writeover a{
	color: #FFF;
	text-decoration: underline;
	}
#writeover a:hover{
	text-decoration: none;
	}

#writeover td{
	border-top:none !important;
	border-bottom:none !important;
	border-left:none !important;
	border-right:none !important;
	}
#writeover tr{
	border-top:none !important;
	border-bottom:none !important;
	border-left:none !important;
	border-right:none !important;
	}
#writeover img{
	margin: 0px;
	padding: 0px;
	}