@charset "utf-8";
/* CSS Document */

#Divrightcontainer{
	width:760px;
	float:right;

    }

#Divleftcontainer {
	width:180px;
	float:left;
    }
#Dcname{
	color:#F00;
     }
#Dcname a{
	color:#3c4c97;
	font-size:10px;
     }	 
	 
#Divlike{
	margin-top:10px;
      }
   
#Dleft{
	width:440px;
	float:left;
	font-size:11px;
    }
	
#Dright{
	width:290px;
	float:right;
	font-size:11px;
	font-weight:bold;
	padding-top:8px;
	padding-right:8px;
	text-align:right;
    }
	
#Dright a{
	color:#3c4c97;
	font-size:11px;
    }
#DivBreedbox{
     width:700px; 
	 float:left; 
	 text-align:left; 
	 padding-left:50px;
	 margin-bottom:10px;
	 font-size:11px;
	  }
#Divclear{
	font-size:10px;
	clear:both;
    }	
