/* CSS Document */

/*cart popup*/
.cart_popUp {
border:0px !important;
box-shadow: 0px 0px 9px 3px #666;
margin: 20px auto;
width: 800px;
min-height: 500px;
}
.cart_popUp .cost_color{ color:#962327;}
.cart_head {
float: left;margin: 5px 0;
}
.cart_head h3{float: left; font-size:20pt; color:#444444; margin-right:10px;line-height: 34px;}
.cart_head span{float: left; margin:0px;font-size:16pt;}
.cart_bt {border-top: 4px solid #444444;height: 10px;}
.fr.xhide.cart_X {font-size: 12pt;margin-top: 10px;}
.shop_cart {float: left;width: 100%;margin-bottom: 10px;}
.shop_head {float: left;width: 100%;margin-bottom: 12px;}
.shop_head ul li {
float: left;
list-style: none;
width: 117px;
font-size: 12pt;
font-weight: bold;
text-align:center;
}
.item_info {float: left;width: 100%; min-height:60px;}
.item_info ul{background: #f7f4ed;margin-bottom: 5px;}
.item_info ul li {
list-style: none;
width: 117px;
display: table-cell;
font-size: 14px;
background: #f7f4ed;
padding: 10px 0;
text-align: center;
vertical-align: top;
}
.item_info ul li.quan_box{ background: url(/new/shop/images/img/quan_bg.png) 15px 10px no-repeat;}
.name_width a {
color: #234696;
}
.shop_head ul li.name_width, .item_info ul li.name_width{ width:200px;text-align:left;}
.quan_box span {
padding: 2px 8px;
font-size: 12pt;
font-weight: bold;
}
.quan_box span.total_pro{font-weight: normal;}
.total_box {float: right;font-size: 12pt; width:287px;}
.total_box ul{float: left;}
.total_box li {
list-style: none;
float: left;
width: 143px;
line-height: 26px;
text-align: right;
}
.grand_box {
float: right;
font-size: 13pt;
width: 100%;
margin: 2px 0;
padding: 5px 0;
background: #ddd1b9;
}
ul.grand_total {
float: right;
width: 287px;
font-weight: bold;
}
.grand_total li {
list-style: none;
float: left;
width: 143px;
line-height: 26px;
text-align: right;
}
.total_box li.total_cost{text-align: center;}
.grand_total li.total_cost{text-align: center;}
.cart_foot {float: left; width:100%; margin-top:20px;}
.con_shop {float: left;}
.place_order {float: right;}

/*CheckOut page*/
.checkout_box {
float: left;
margin-top:13px;
width: 100%;
}
.check_head {
float: left;
padding-bottom:13px;
width: 100%;
border-bottom: 4px solid #444444;
}
.check_head ul {
float: left;
background:url(../shop/images/img/check_bg.png) no-repeat;}

.check_head ul li {
float: left;
list-style: none;
margin-right: 20px;
}
.check_head ul li a.active{
background:url(../shop/images/img/check_hd.png) no-repeat;
color:#000;
}
.check_head ul li a span {
padding-right: 10px;
padding-left: 4px;
font-weight: bold;
}
.check_head ul li a {
float: left;
font-size: 13px;
width: 174px;
color: #999999;
text-transform: uppercase;
padding: 5px 8px;
}
.check_content{ float:left; margin-top:13px;}
.check_log{ float:left; width:700px; border:1px solid #bfbfbf;padding: 10px;}
.check_log label {
font-size: 15pt;
float: left;
width: 400px;
}
.check_log input#searchadd {
margin: 0px;
padding: 5px;
border-radius: 5px;
border: 1px solid #bfbfbf;
float: left;
width: 300px;
font-size: 16px;
margin-top: 5px;
}
.check_log input#pass1 {
margin: 0px;
padding: 5px;
border-radius: 5px;
border: 1px solid #bfbfbf;
float: left;
width: 300px;
font-size: 16px;
margin-top: 5px;
}
.check_logbox {
float: left;
width: 450px;
}
.or_img {
float: left;
margin:10px 10px;
}
.alt_log {
float: left;
margin-left: 15px;
width: 151px;
}
.alt_log label{ margin-top:10px;}
.fb_log {
float: left;
margin: 10px 0;
}
.g_log {
float: left;
margin: 10px 0;
}
.check_logbox span.order_tag {
float: left;
width: 142px;
margin-left: 8px;
margin-top: 4px;
}
.order_box {
float: left;
border: 1px solid #bfbfbf;
width: 224px;
min-height: 215px;
padding: 9px 7px;
margin-left: 10px;
}
.check_logbox p.log_p {
float: left;margin-top: 15px;
font-size: 14px;
width: 400px;
}
.log_p a{float:left; text-decoration:underline;}
.log_p a:hover{ text-decoration:none;}
.log_p span{ float:left; margin-left:5px; color:#666;}
p.btn_conti{ float:left;margin: 14px 0 10px 0;width: 400px;}
.order_box h3 {
font-size: 12pt;
color: #333;
float: left;
margin-right: 5px;
}
.order_box span {
float: left;
margin: 3px 0;
}
.order_box a.modify {
float: right;
font-size: 9pt;
margin-top: 1px;
color: #333;
text-decoration: underline;
}
.order_box a.modify:hover{text-decoration: none;}
ul.order_list {
float: left; width:100%;
}
ul.order_list li.order_l_bg {
width: 214px;
float: left;
margin-bottom: 2px;
padding: 5px;
background: #f7f4ed;
list-style: none;
}
ul.order_list li.order_l_bg label {
float: left;
width: 98px;
margin: 3px 0;
overflow: hidden;
}
ul.order_list li.order_l_bg span.price {
float: left;
margin-left: 4px;width: 112px;
text-align: right;
}
ul.order_list li.order_l_bg.no_bg {
background: none;
border-bottom: 2px solid #bfbfbf;
}
ul.order_list li.order_l_bg.no_bg.no_border {
border: 0px;
}
.order_l_bg.no_bg.no_border.tot_bg {
background: #ddd1b9;
}
.pet_element {
float: left;
width: 730px;
color: #877b63;
font-size: 11pt;
text-transform: uppercase;
margin: 20px 0 40px 0;
}
.pet_element ul{
float: left;}
.pet_element ul li {
float: left;
list-style: none;
margin-right: 55px;
}
.pet_element ul li .pet_img {
float: left;
margin: 9px 10px 0 0;
}
.pet_element ul li .pet_text {
float: left;
}
.pet_element ul li.no_margin{ margin:0px;}

/*Shipping */
.check_head ul.ship_head {
float: left;
background:url(../shop/images/img/check_bg1.png) no-repeat;}
.check_head ul li a.visited_link{ color:#000;}
span.ship_tag {
font-size: 10pt;
color: #666;
margin-left: 7px;
}
.check_log label.ship_head {
font-size: 15pt;
float: left;
width: 600px;}
ul.ship_details{ float:left; margin-top:10px;}
ul.ship_details li{ float:left; background:#eee; width:680px; list-style:none; padding:5px 10px; margin-bottom:3px; border-radius::4px; color:#333;}
ul.ship_details li label{ float:left; width:150px; font-size:12px;line-height: 27px;font-size: 14px;}
ul.ship_details li input, ul.ship_details li textarea, ul.ship_details li select{ float:left; border-radius:5px; border:1px solid #bfbfbf;padding:5px 10px; width:200px; }
ul.ship_details li input.input_ship1{ width:250px;}
ul.ship_details li textarea.input_ship3{ max-width:400px;min-width:400px; max-height:60px; min-height:60px;}
ul.ship_details li input.input_ship4{ width:400px;}
ul.ship_details li input.input_ship5{ width:150px;}
ul.ship_details li span {
margin: 7px;
float: left;
}
p.save_add{ float:left;}
p.save_add {
float: left;
margin: 20px 0 0;
}
p.save_add input[type=checkbox]{ float:left; margin:2px 3px 0 0;}
p.con_pay {
float: right;
margin: 24px 0 12px 0;
}
.right_order {
float: right;width: 250px;
}
.promo_box{ float:left; background:#fff3a0;width: 227px;padding: 9px 6px; border:1px solid #f5e88e;
margin-left: 10px;margin-top: 10px;}
.promo_box input{ padding:5px; margin-top:5px;}
.promo_box input[type=text]{ width:174px; border:1px solid #bfbfbf; border-radius:5px;}
.del_box{float:left; background:#fff3a0;  padding: 9px 7px; border:1px solid #f5e88e;margin-top: 10px;}
.ship_add {
float: left;
width: 204px;
border: 1px solid #bfbfbf;
padding: 10px 10px;
font-size: 15px;
margin-top:10px;
margin-right: 10px;
line-height: 24px;
min-height: 150px;
display: table-cell;
}
.ship_add:hover{ background:#e0fd75;}
.ship_add.active{ background:#e0fd75;}
.ship_add.no_margin{ margin-right:0px;}
p.add_address {
float: left;
margin-top: 20px;
margin-bottom: 20px;
}
p.add_address img{ float:left;margin-right: 5px;}
p.add_address span{ float:left;}
p.add_address span a{ text-decoration:underline;}
p.add_address span a:hover{ text-decoration:none;}

/*payment*/
.check_head ul.pay_head {
float: left;
background: url(../shop/images/img/check_bg2.png) no-repeat;
}
.pay_box {
float: left;
padding: 20px 30px;
margin: 15px 10px;
border: 1px solid #bfbfbf;
width: 618px;
}
.pay_box ul{ float:left;}
.pay_box ul li{ float:left;list-style: none;width: 680px; margin-bottom:15px;}
.pay_box ul li div.select_mode {
float: left;
background: url(../shop/images/img/pay_bg.png) no-repeat;
padding: 10px 0 10px 10px;
width: 270px;
}
.pay_box ul li div.select_mode:hover, .pay_box ul li div.select_mode.active{ float:left; background:url(../shop/images/img/pay_hover.png) no-repeat;color: #867b62;font-weight: bold;}
.select_mode input[type="radio"] {
float: left;
margin: 2px 9px;
}
label.pay_label {
font-size: 15px;
width: 226px;
margin-left: 9px;
}
.card_box {
float: left;
}
.card_box img{
float: left;
}
.card_box span.card_text {
float: left;
color: #666;
margin-top: 13px;
margin-left: 2px;
font-size: 11px;
}

p.pay_p {
margin-bottom: 10px;
margin-top: 10px;
float: left;
width: 100%;
}

p.pay_p a {
text-decoration: underline;
}

.offer_box{ float:left; background:url(../shop/images/img/offer_bg.png) repeat-x; border-radius:5px; border:1px solid #bfbfbf;width: 100%;margin-top: 12px;}
.offer_box .off_img{ float:left; margin-top:8px; margin-left:10px; margin-right:10px;}
.offer_box p{ float:left; line-height:32px;}
.offer_box p a {
text-decoration: underline;
}
.offer_box .cls_img{ float:right; margin-right:10px;}