@charset "utf-8";
.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}
#arrowMove{
	margin: 0;
	padding: 0;
	z-index: 30;
}
li.arrowgreen {
	color: #FFFFFF;
	display: block;
	float: left;
	height: 24px;
	margin-right: 0px;
	padding-right: 18px; /* sliding doors padding */
	text-decoration: none;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(/images/green-arrow.gif);
	background-repeat: no-repeat;
	background-position: right top;
	font-family: arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
}

li.arrowgreen a{
	color: #FFFFFF;
	text-decoration: none;
}

li.arrowgreen span {
	display: block;
	line-height: 14px;
	background-color: transparent;
	background-image: url(/images/green-tail.gif);
	background-repeat: no-repeat;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 20px;
}
li.arrowgreen:hover {
	background-position: bottom right;
	color: #FFFFFF;
	outline: none; /* hide dotted outline in Firefox */
}

li.arrowgreen:hover span {
    background-position: bottom left;
    /*padding: 6px 0 4px 18px; /* push text down 1px */
}
li.arroworrange {
	color: #FFFFFF;
	display: block;
	float: left;
	height: 24px;
	margin-right: 0px;
	padding-right: 18px; /* sliding doors padding */
	text-decoration: none;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(/images/orange-arrow.gif);
	background-repeat: no-repeat;
	background-position: right top;
	font-family: arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
}

li.arroworrange span {
	display: block;
	line-height: 14px;
	background-color: transparent;
	background-image: url(/images/orange-tail.gif);
	background-repeat: no-repeat;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 20px;
}

/*
li.arroworrange:hover {
	background-position: bottom right;
	color: #FFFFFF;
	outline: none; /* hide dotted outline in Firefox 
}

li.arroworrange:hover span {
    background-position: bottom left;

} */
li.arowgrey {
	color: #FFFFFF;
	display: block;
	float: left;
	height: 24px;
	margin-right: 0px;
	padding-right: 18px; /* sliding doors padding */
	text-decoration: none;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(/images/grey-arrow.gif);
	background-repeat: no-repeat;
	background-position: right top;
	font-family: arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
}

li.arowgrey span {
	display: block;
	line-height: 14px;
	background-color: transparent;
	background-image: url(/images/grey-tail.gif);
	background-repeat: no-repeat;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 20px;
}
/*li.arowgrey:hover {
	background-position: bottom right;
	color: #FFFFFF;
	outline: none; /* hide dotted outline in Firefox 
}

li.arowgrey:hover span {
    background-position: bottom left;
}*/

