.post-meta {color: #777;}
.post-meta a,
.comment-meta a,
.comment-container .reply a {
    color: #777;
    font-size: 13px;
    line-height: 1;
    display: inline-block
}

.post-meta a:hover,
.comment-meta a:hover,
.comment-container .reply a:hover {
    color: #ff8a00;
	text-decoration:none;
}

.post-meta .dashicons {
    font-size: 13px;
    height: auto;
    width: auto
}

.page-header {
    margin: 0 0 45px
}

.no-mobile {
    display: none
}


.btn-dark {
    border: 0;
    background-color: #606068;
    color: #b0b0b8
}

.btn-dark:hover {
    background-color: #fd4a29;
    color: #f0f0f8
}

#footer-main button,
#footer-main input[type="button"],
#footer-main input[type="reset"],
#footer-main input[type="submit"],
#footer-main .btn,
#footer-main button,
#footer-main input[type="button"],
#footer-main input[type="reset"],
#footer-main input[type="submit"] {
    border: 0;
    background-color: #606068;
    color: #b0b0b8
}

#footer-main button:hover,
#footer-main input[type="button"]:hover,
#footer-main input[type="reset"]:hover,
#footer-main input[type="submit"]:hover,
#footer-main .btn:hover,
#footer-main button:hover,
#footer-main input[type="button"]:hover,
#footer-main input[type="reset"]:hover,
#footer-main input[type="submit"]:hover {
    background-color: #fd4a29;
    color: #f0f0f8
}

.label {
    display: inline-block
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    margin-bottom: 15px
}

textarea {
    height: auto
}

.input-group {
    display: table;
    width: 100%
}

.input-group i {
    font-size: 14px;
    line-height: 1;
    padding: 8px 10px;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    -webkit-box-shadow: inset 0 15px 0 0 rgba(255, 255, 255, 0.12);
    -moz-box-shadow: inset 0 15px 0 0 rgba(255, 255, 255, 0.12);
    box-shadow: inset 0 15px 0 0 rgba(255, 255, 255, 0.12)
}

.input-group i,
.input-group input {
    display: table-cell
}

.input-group input {
    margin: 0
}

#footer-main .input-group i {
  

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.input-error {
    background-color: #f2dede;
    color: #a94442
}

.input-error::-webkit-input-placeholder {
    color: #a94442
}

.input-error:-moz-placeholder {
    color: #a94442
}

.input-error::-moz-placeholder {
    color: #a94442
}

.input-error:-ms-input-placeholder {
    color: #a94442
}



.no-image-light .image-light {
    display: none
}

.article-small img,
.article-medium img,
.da-thumbs img,
.frame img {
    width: 100%;
    height: auto
}

.entry-content>*,
.comment-container .comment>*,
.article-large>*,
.featured-media>* {
    max-width: 100%
}

.entry-content img,
.comment-container .comment img,
.article-large img,
.featured-media img {
    max-width: 100%;
    height: auto
}

.layer {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: opacity;
    -o-transition: opacity;
    transition: opacity;
    -webkit-transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
    transition: opacity .4s ease-out
}

a.dark:hover .layer {
    opacity: 0
}

a.dark .layer {
    background: rgba(0, 0, 0, 0.4);
    opacity: 1
}

a.light:hover .layer {
    opacity: 1
}

a.light .layer {
    background: rgba(255, 255, 255, 0.2);
    opacity: 0
}

a.dark,
a.light {
    display: block;
    position: relative
}

.progress {
    margin-bottom: 15px
}

.progress .progress-bar {
    background-color: #fd4a29
}

.featured-media {
    margin-bottom: 15px
}

.featured-media>* {
    max-width: 100%
}



*:focus {
    outline: none
}

.accordion .header {
    background: #f4f4fc;
    border: 1px solid #e4e4ec;
    cursor: pointer;
    display: table;
    margin: 0 0 1px 0
}

.accordion .header.active i:before {
    content: '\f068'
}

.accordion .header h1,
.accordion .header h2,
.accordion .header h3,
.accordion .header h4,
.accordion .header h5,
.accordion .header h6,
.accordion .header i {
    display: table-cell;
    vertical-align: middle
}

.accordion .header h1,
.accordion .header h2,
.accordion .header h3,
.accordion .header h4,
.accordion .header h5,
.accordion .header h6 {
    color: #606068;
    padding: 10px;
    width: 99%
}

.accordion .header i {
    border-left: 1px solid #e4e4ec;
    padding: 0 10px
}

.accordion .header i:before {
    background: #606068;
    border-radius: 12px;
    color: #f0f0f8;
    display: block;
    font-size: 11px;
    font-weight: normal;
    line-height: 1;
    height: 21px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 21px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 0 5px rgba(96, 96, 104, 0.2);
    -moz-box-shadow: 0 0 0 5px rgba(96, 96, 104, 0.2);
    box-shadow: 0 0 0 5px rgba(96, 96, 104, 0.2)
}

.accordion .content {
    margin-top: 15px
}

.author.widget a.avatar {
    display: block;
    margin: 0 10px 10px 0;
    overflow: hidden;
    position: relative;
    width: 75px
}

.author.widget a.avatar,
.author.widget .name {
    float: left
}

.author.widget .name {
    
    font-size: 16px;
    font-weight: bold;
    line-height: 1
}

.author.widget a.name,
.author.widget .name a {
    color: #606068
}

.author.widget a.name:hover,
.author.widget .name a:hover {
    color: #fd4a29
}

.author.widget .social {
    clear: both;
    margin: 0
}

.author.widget .social li {
    margin: 0 5px 5px 0
}

.author.widget p {
    margin: 3px 0 10px;

	
}

.breaking-news {
    margin-bottom: 45px
}

.breaking-news header {
    position: absolute;
    white-space: nowrap;
    height: 30px;
    overflow: hidden
}

.breaking-news header h4 {
    background-color: #606068;
    color: #f0f0f8;
    float: left;
    line-height: 30px;
    padding: 0 10px
}

.breaking-news header .triangle {
    border-color: #606068;
    border-left: 10px solid #606068;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    float: left
}

.breaking-news .content {
    background-color: #f4f4fc;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding: 0 10px
}

.breaking-news .content ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.breaking-news .content ul li {
    float: left
}

.breaking-news .content ul li {
    margin-right: 15px
}

.breaking-news .content ul li a {
    color: #606068
}

.breaking-news .content ul li a:hover {
    color: #fd4a29
}

.carousel {
    overflow: hidden
}

.carousel .carousel-caption {
    bottom: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    text-align: left;
    text-shadow: none;
    z-index: 1
}

.carousel .carousel-caption div {
    clear: both
}

.carousel .carousel-caption h1,
.carousel .carousel-caption h2,
.carousel .carousel-caption h3,
.carousel .carousel-caption h4,
.carousel .carousel-caption h5,
.carousel .carousel-caption h6,
.carousel .carousel-caption p {
    color: #f0f0f8;
    float: left;
    margin: 0 0 2px;
    padding: 10px
}

.carousel .carousel-caption h1,
.carousel .carousel-caption h2,
.carousel .carousel-caption h3,
.carousel .carousel-caption h4,
.carousel .carousel-caption h5,
.carousel .carousel-caption h6 {
    background-color: #fd4a29;
    background-color: rgba(253, 74, 41, 0.8);
    font-size: 20px;
    line-height: 1;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none
}

@media (max-width:767px) {
    .carousel .carousel-caption h1,
    .carousel .carousel-caption h2,
    .carousel .carousel-caption h3,
    .carousel .carousel-caption h4,
    .carousel .carousel-caption h5,
    .carousel .carousel-caption h6 {
        font-size: 15px
    }
}

.carousel .carousel-caption p {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 15px;
    line-height: 1.33333333
}

.carousel .carousel-control {
    background: none;
    cursor: default;
    filter: none;
    opacity: 1;
    width: 30px;
    z-index: 2
}

.carousel .carousel-control span {
    background-color: #fd4a29;
    background-color: rgba(253, 74, 41, 0.8);
    cursor: pointer;
    font-size: 15px;
    left: 0;
    line-height: 1;
    margin-top: -17.5px;
    opacity: .8;
    padding: 10px;
    position: absolute;
    text-shadow: none;
    top: 50%;
    width: 30px;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out
}

.carousel .carousel-control span:hover {
    opacity: 1
}

.carousel .carousel-control.left {
    left: -60px
}

.carousel .carousel-control.right {
    right: -60px
}

.carousel .carousel-indicators {
    bottom: -48px;
    -webkit-transition: bottom;
    -o-transition: bottom;
    transition: bottom;
    -webkit-transition: bottom .4s ease-out;
    -moz-transition: bottom .4s ease-out;
    -o-transition: bottom .4s ease-out;
    transition: bottom .4s ease-out
}

.carousel .carousel-indicators li {
    border-color: #fd4a29;
    border-color: rgba(253, 74, 41, 0.8)
}

.carousel .carousel-indicators li.active {
    background-color: #fd4a29;
    background-color: rgba(253, 74, 41, 0.8)
}

.carousel:hover .carousel-indicators {
    bottom: 0
}

.carousel:hover .carousel-control.right {
    right: 0
}

.carousel:hover .carousel-control.left {
    left: 0
}

.carousel .item img {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%
}

.carousel-large .carousel-caption {
    padding: 40px
}

.csstransforms .carousel-medium .item-inner,
.csstransforms .carousel-small .item-inner {
    display: block;
    position: relative;
    padding-bottom: 56.25%
}

.csstransforms .carousel-medium .item-inner img,
.csstransforms .carousel-small .item-inner img {
    position: absolute;
    top: 50%;
    width: 100%;
    height: auto;
    min-height: 100%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%)
}

.csstransforms .carousel-medium .item-inner {
    padding-bottom: 50.68493151%
}

.csstransforms .carousel-small .item-inner {
    padding-bottom: 52.85714286%
}

.categories {
    list-style: none;
    margin: 0;
    padding: 0
}

.categories li {
    float: left
}

.categories li {
    float: none !important;
    margin-bottom: 1px;
    width: 100%;
    -webkit-transition: padding;
    -o-transition: padding;
    transition: padding;
    -webkit-transition: padding .4s ease-out;
    -moz-transition: padding .4s ease-out;
    -o-transition: padding .4s ease-out;
    transition: padding .4s ease-out
}

.categories li:hover {
    background-color: #fd4a29;
    border-color: transparent;
    padding: 0 10px;
    text-shadow: none
}

.categories li:hover a {
    color: #f0f0f8
}

.categories li:hover a .post-counts {
    background: rgba(255, 255, 255, 0.3)
}

.categories li a {
    color: #606068;
    display: block;
    line-height: 30px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none
}

.categories li a .post-counts {
    background: #f4f4fc;
    float: right;
    line-height: 26px;
    margin-top: 2px;
    padding: 0 5px
}

#footer-main .categories li a .post-counts {
    background-color: #505058;
    color: #b0b0b8
}

#footer-main .categories li:hover a {
    color: #f0f0f8
}

#footer-main .categories li:hover a .post-counts {
    background-color: rgba(255, 255, 255, 0.3);
    color: #f0f0f8
}

.feedburner input[type=submit] {
    margin-top: 15px
}

.flickr-feed {
    margin: 0 -4px 0 0 !important;
    list-style: none;
    margin: 0;
    padding: 0
}

.flickr-feed li {
    float: left
}

.flickr-feed li {
    margin: 0 0 4px 0;
    padding: 0 4px 0 0;
    white-space: nowrap;
    width: 25%
}

.flickr-feed li a {
    display: block;
    height: 85px;
    overflow: hidden;
    position: relative
}

.flickr-feed li a:hover {
    background: none
}

.flickr-feed li a img {
    position: relative;
    width: auto
}

footer .flickr-feed li {
    width: 33.33333333%
}

.recent-comments {
    list-style: none;
    margin: 0;
    padding: 0
}

.recent-comments li {
    border-bottom: 1px solid #f4f4fc;
    display: table;
    margin-bottom: 15px
}

.recent-comments li>div.avatar {
    display: table-cell;
    padding: 0 15px 15px 0
}

.recent-comments li>div.avatar a {
    display: block;
    position: relative
}

.recent-comments li>div.avatar img {
    width: 75px
}

.recent-comments li .content {
    display: table-cell;
    vertical-align: top;
    padding-bottom: 15px
}

.recent-comments li .content .comment-content {
    margin-bottom: 10px
}

#footer-main .recent-comments li {
    border: none
}

.twitter-feed ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.twitter-feed ul li {
    float: left
}

.twitter-feed ul li {
    border-bottom: 1px solid #e4e4ec;
    display: table;
    padding: 15px 0;
    width: 100%
}

.twitter-feed ul li .avatar {
    padding: 3px 15px 0 0;
    width: 48px
}

.twitter-feed ul li .avatar .fa {
    color: #40bff5;
    font-size: 32px
}

.twitter-feed ul li .avatar,
.twitter-feed ul li .content {
    display: table-cell;
    vertical-align: top
}

.twitter-feed ul li .post-meta {
    margin: 5px 0 0
}

.twitter-feed ul li:first-child {
    padding-top: 0
}

#footer-main .twitter-feed ul li {
    border: none;
    padding-bottom: 0
}

.slider-container {
    margin: 0 -6px
}

.slider-container.article {
    margin: 0 -15px
}

.slider-container.article li {
    padding: 0 15px
}

.slider-container ul {
    overflow: hidden;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0
}

.slider-container ul li {
    float: left
}

.slider-container ul li {
    padding: 0 6px;
    width: 16.66666667%
}

.slider-container ul li a {
    overflow: hidden;
    position: relative
}

@media (max-width:991px) {
    .slider-container ul li {
        width: 25%
    }
}

@media (max-width:768px) {
    .slider-container ul li {
        width: 33.33333333%
    }
}

@media (max-width:576px) {
    .slider-container ul li {
        width: 100%
    }
}

@media (max-width:576px) {
    .slider-container ul {
        overflow: visible
    }
}

div.spoiler {
    margin: 4px 0 15px 0;
    padding: 15px;
    background-color: #f4f4fc;
    color: #606068;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
}

div.spoiler>:first-child {
    margin-top: 0
}

div.spoiler>p:empty:first-child {
    margin-top: -15px
}

div.spoiler>:last-child {
    margin-bottom: 0
}

div.spoiler>p:empty:last-child {
    margin-bottom: -15px
}



.widget .nav-tabs {
    border-color: #e4e4ec;
    margin-bottom: 15px
}

.widget .nav-tabs li {
    margin: 0 1px -1px 0
}

.widget .nav-tabs li a {
    border: none;
    background-color: #e4e4ec;
    color: #606068;
    font-family: "Roboto Condensed", "Arial Narrow", Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    margin: 0;
    padding: 0 10px;
    -webkit-box-shadow: inset 0 14px 0 0 rgba(255, 255, 255, 0.32);
    -moz-box-shadow: inset 0 14px 0 0 rgba(255, 255, 255, 0.32);
    box-shadow: inset 0 14px 0 0 rgba(255, 255, 255, 0.32)
}

.widget .nav-tabs li a:hover,
.widget .nav-tabs li a:focus {
    border: none
}

.widget .nav-tabs li.control {
    margin-left: 1px;
    margin-right: 0
}

.widget .nav-tabs li.active a,
.widget .nav-tabs li a:hover {
    color: #f0f0f8;
    background-color: #606068;
    -webkit-box-shadow: inset 0 15px 0 0 rgba(255, 255, 255, 0.12);
    -moz-box-shadow: inset 0 15px 0 0 rgba(255, 255, 255, 0.12);
    box-shadow: inset 0 15px 0 0 rgba(255, 255, 255, 0.12)
}

.widget .nav-tabs li.control {
    display: none;
    float: right
}

.widget .nav-tabs li.control a {
    font-size: 10px
}

@media (max-width:576px) {
    .widget .nav-tabs li.control {
        display: none
    }
}

.widget .nav-tabs li.current {
    display: block
}

.widget .tab-pane {
    overflow: hidden
}

.entry-content .widget {
    margin-bottom: 15px
}

.entry-content .widget .nav-tabs {
    margin-bottom: 0;
    padding: 0
}

.entry-content .widget header {
    border-bottom: 1px solid #e4e4ec;
    margin-bottom: 15px
}

.entry-content .widget header h4,
.entry-content .widget header h5 {
    border-bottom: 7px solid #e4e4ec;
    display: inline-block;
    margin: 0;
    padding: 0 0 10px
}

#footer-main .title,
#footer-main .nav-tabs,
#footer-main .widget header {
    border-bottom: 1px solid #505058;
    display: block;
    margin-bottom: 15px
}

#footer-main .title li+li,
#footer-main .nav-tabs li+li,
#footer-main .widget header li+li {
    margin-left: 15px
}

#footer-main .title h1,
#footer-main .title h2,
#footer-main .title h3,
#footer-main .title h4,
#footer-main .title h5,
#footer-main .title h6,
#footer-main .widget header h1,
#footer-main .widget header h2,
#footer-main .widget header h3,
#footer-main .widget header h4,
#footer-main .widget header h5,
#footer-main .widget header h6,
#footer-main .nav-tabs a {
    background: none;
    border: none;
    border-bottom: 7px solid #505058;
    display: inline-block;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

#footer-main .title h1,
#footer-main .widget header h1,
#footer-main .title h2,
#footer-main .widget header h2,
#footer-main .title h3,
#footer-main .widget header h3,
#footer-main .title h4,
#footer-main .widget header h4,
#footer-main .title h5,
#footer-main .widget header h5,
#footer-main .title h6,
#footer-main .widget header h6 {
    padding-bottom: 10px
}

#footer-main .widget header {
    height: auto
}

#footer-main .widget header h1,
#footer-main .widget header h2,
#footer-main .widget header h3,
#footer-main .widget header h4,
#footer-main .widget header h5,
#footer-main .widget header h6 {
    line-height: 1;
    color: inherit
}

#footer-main .widget header .control {
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

article:after {
    clear: both;
    content: '';
    display: table
}

.article-small .image,
.article-tiny .image {
    margin: 0 15px 15px 0;
    position: relative;
    width: 100%
}

.article-small h5,
.article-tiny h5 {
    margin-bottom: 10px
}

.article-small .image {
    margin-bottom: 10px
}

.csstransforms .article-small .image-holder {
    padding-bottom: 54.54545455%
}

.article-tiny .image {
    float: left;
    width: 95px
}

.csstransforms .article-tiny .image-holder {
    padding-bottom: 78.94736842%
}

.article-medium .frame .featured-media {
    margin: 0;
    font-size: 16px
}

.article-medium .frame .featured-media.link {
    font-size: 20px
}

.article-medium .frame .featured-media.quote blockquote {
    font-size: 16px
}

.article-medium .frame .featured-media.chat p {
    padding: 5px 10px
}

.article-medium .frame .featured-media.video,
.article-medium .frame .featured-media.audio {
    line-height: .9
}

.article-medium .frame .featured-media .carousel-medium .item .carousel-caption {
    display: none
}

.article-medium .frame iframe,
.article-medium .frame embed {
    max-height: 185px
}

.csstransforms .article-medium .image-holder {
    padding-bottom: 52.85714286%
}

.article-large {
    position: relative
}

.article-large .featured-media,
.article-large h4 {
    margin-bottom: 15px
}

.article-large .frame h4 {
    margin-bottom: 5px
}

.article-large .frame h4 {
    margin-top: 10px
}

.article-large .frame .image-light {
    z-index: 1
}

.article-large .frame iframe {
    max-height: 370px
}

.article-large .icons {
    left: 0;
    position: absolute;
    top: 20px;
    width: 75px;
    z-index: 2
}

.article-large .icons a {
    background: white;
    border: 5px solid white;
    border-radius: 37.5px;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4)
}

.article-large .icons a i {
    border-radius: 32.5px;
    color: white;
    font-size: 40px;
    height: 65px;
    width: 65px;
    -webkit-box-shadow: inset 0 24px 0 0 rgba(255, 255, 255, 0.16);
    -moz-box-shadow: inset 0 24px 0 0 rgba(255, 255, 255, 0.16);
    box-shadow: inset 0 24px 0 0 rgba(255, 255, 255, 0.16);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
}

.article-large .icons a i.fa {
    background: #fd4a29;
    padding-top: 4px
}

.article-large .icons a .comment {
    bottom: 6px;
    color: white;
    display: block;
    position: absolute;
    text-align: center;
    width: 100%
}

.csstransforms .article-large .image-holder {
    padding-bottom: 50.68493151%
}

@media (max-width:599px) {
    .article-large {
        padding: 0 !important
    }
    .article-large .icons {
        display: none
    }
    .article-large .frame iframe,
    .article-large .frame embed {
        max-height: 185px
    }
}

.articles-v1 .article-medium:last-child hr,
#blog-version-2 #main-content article:last-child hr {
    margin-bottom: 0
}

.articles-v4 h5 {
    margin-bottom: 10px
}

.images {
    padding: 0 0 5px 0
}

.images .da-thumbs {
    margin: 0 -10px 0 0 !important;
    max-width: none;
    list-style: none;
    margin: 0;
    padding: 0
}

.images .da-thumbs li {
    float: left
}

.images .da-thumbs li {
    padding: 0 10px 10px 0;
    width: 25%
}

.images .da-thumbs li a {
    overflow: hidden;
    position: relative
}

.images .da-thumbs.col-1 li {
    width: 100%
}

.images .da-thumbs.col-2 li {
    width: 50%
}

.images .da-thumbs.col-3 li {
    width: 33.33333333%
}

.images .da-thumbs.col-4 li {
    width: 25%
}

.images .da-thumbs.col-5 li {
    width: 20%
}

.images .da-thumbs.col-6 li {
    width: 16.66666667%
}

.images .da-thumbs.col-7 li {
    width: 14.28571429%
}

.images .da-thumbs.col-8 li {
    width: 12.5%
}

.images .da-thumbs.col-9 li {
    width: 11.11111111%
}

@media (max-width:768px) {
    .images .da-thumbs li {
        width: 33.33333333%
    }
    .images .da-thumbs.col-2 li {
        width: 100%
    }
    .images .da-thumbs.col-3 li {
        width: 50%
    }
    .images .da-thumbs.col-4 li {
        width: 33.33333333%
    }
    .images .da-thumbs.col-5 li {
        width: 25%
    }
    .images .da-thumbs.col-6 li {
        width: 20%
    }
    .images .da-thumbs.col-7 li {
        width: 16.66666667%
    }
    .images .da-thumbs.col-8 li {
        width: 14.28571429%
    }
    .images .da-thumbs.col-9 li {
        width: 12.5%
    }
}

@media (max-width:512px) {
    .images .da-thumbs li {
        width: 50%
    }
    .images .da-thumbs.col-3 li {
        width: 100%
    }
    .images .da-thumbs.col-4 li {
        width: 50%
    }
    .images .da-thumbs.col-5 li {
        width: 33.33333333%
    }
    .images .da-thumbs.col-6 li {
        width: 25%
    }
    .images .da-thumbs.col-7 li {
        width: 20%
    }
    .images .da-thumbs.col-8 li {
        width: 16.66666667%
    }
    .images .da-thumbs.col-9 li {
        width: 14.28571429%
    }
}

.frame .images {
    padding: 0
}

.image {
    display: block;
    overflow: hidden;
    position: relative
}

.image .image-holder img {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: transform 2s ease-out;
    -moz-transition: transform 2s ease-out;
    -o-transition: transform 2s ease-out;
    transition: transform 2s ease-out;
	
	
}

.image .dashicons {
    color: white;
    position: absolute;
    top: 0;
    margin: 10px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: opacity;
    -o-transition: opacity;
    transition: opacity;
    -webkit-transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
    transition: opacity .4s ease-out
}

.image:hover .dashicons {
    opacity: .8
}

.csstransforms .image-holder {
    position: relative;
    padding-bottom: 56.25%
}

.csstransforms .image-holder img {
    position: absolute;
    top: 50%;
    width: 100%;
    height: auto;
    min-height: 100%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%)
}

.csstransforms .image:hover .image-holder img {
    -webkit-transform: scale(1.04) translateY(-50%) rotate(.001deg);
    -ms-transform: scale(1.04) translateY(-50%) rotate(.001deg);
    transform: scale(1.04) translateY(-50%) rotate(.001deg)
}

.csstransforms.no-zoom-effect .image:hover .image-holder img {
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%)
}

.image .caption,
.carousel-small .item .caption {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    color: #f0f0f8;
    position: absolute;
    width: 100%;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out
}

.image .caption h1,
.carousel-small .item .caption h1,
.image .caption h2,
.carousel-small .item .caption h2,
.image .caption h3,
.carousel-small .item .caption h3,
.image .caption h4,
.carousel-small .item .caption h4,
.image .caption h5,
.carousel-small .item .caption h5,
.image .caption h6,
.carousel-small .item .caption h6 {
    color: #f0f0f8;
    padding: 4px 10px 5px;
    margin: 0
}

.image .caption .format,
.carousel-small .item .caption .format {
    margin-right: 10px
}

.image:hover .caption,
.carousel-small .item:hover .caption {
    bottom: -45px;
    opacity: 0
}

.message-form form,
.comment-respond form {
    margin: 0 -10px 0 0
}

.message-form form .input-group,
.comment-respond form .input-group {
    float: left;
    padding: 0 10px 10px 0;
    width: 33.33333333%
}

@media (max-width:768px) {
    .message-form form .input-group,
    .comment-respond form .input-group {
        width: 100%
    }
}

.message-form form .textarea,
.comment-respond form .textarea {
    clear: both;
    padding: 0 10px 10px 0;
    width: 100%
}

.message-form form .textarea textarea,
.comment-respond form .textarea textarea {
    width: 100%
}

.message-form form .allowed-tags,
.comment-respond form .allowed-tags,
.message-form form .form-allowed-tags,
.comment-respond form .form-allowed-tags {
    color: #b0b0b8;
    margin: 10px 0
}

.page-links {
    margin-bottom: 1em
}

.page-links a,
.page-links>span,
.page-links li>span {
    background: #f4f4fc;
    color: #606068;
    display: inline-block;
    line-height: 1;
    padding: 8px 10px
}

.page-links a:hover,
.page-links>span:hover,
.page-links li>span:hover {
    background-color: #fd4a29;
    color: #f0f0f8
}

.page-links .dots,
.page-links .dots:hover {
    background: #f4f4fc;
    color: #606068
}

.page-links>span,
.page-links li>span,
.page-links>span:hover,
.page-links li>span:hover {
    background: #606068;
    color: #f0f0f8
}

#title {
    background-image: url('../images/dog2.jpg');
    background-size: cover;
    background-position: center;
    height: 170px;
    position: relative;
    overflow: hidden;
    width: 100%
}

#title .container {
    height: 100%;
    position: relative
}

#title .container .title-container {
    bottom: 20px;
    color: #f0f0f8;
    margin-right: 15px;
    position: absolute
}

#title .container .title-container .primary,
#title .container .title-container .secondary {
    float: left
}

#title .container .title-container p {
    margin: 2px 0 0 0;
    clear: both
}

#title .container .title-container .primary {
    font-size: 20px;
    line-height: 1;
    background: #fd4a29;
    background: rgba(253, 74, 41, 0.8);
    padding: 10px;
    margin: 0
}

#title .container .title-container .secondary {
    background: rgba(0, 0, 0, 0.8);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1;
    padding: 12.5px 10px
}

#title .container .title-container .secondary a {
    color: #f0f0f8
}

#title .container .title-container .secondary a:hover {
    color: #fd4a29
}

@media (min-width:769px) {
    #title {
        background-image: url('../images/dog2.jpg')
    }
}

@media (min-width:1367px) {
    #title {
        background-image: urlurl('../images/dog2.jpg')
    }
}

.tags,
.pagination {
    list-style: none;
    margin: 0;
    padding: 0
}

.tags li,
.pagination li {
    float: left
}

.tags li,
.pagination li {
    margin: 0 2px 2px 0;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out
}

.tags li a,
.pagination li a,
.tags li>span,
.pagination li>span {
    background: #f4f4fc;
    color: #606068;
    display: block;
    font-size: 13px;
    line-height: 1;
    padding: 8px 10px
}

.tags li a:hover,
.pagination li a:hover {
    background-color: #fd4a29;
    color: #f0f0f8
}

#footer-main .tags {
    margin-bottom: 15px
}

#footer-main .tags li {
    margin: 0 1px 1px 0
}

#footer-main .tags li a {
    background: #505058;
    -webkit-transition: all 2s ease-in;
    -moz-transition: all 2s ease-in;
    -o-transition: all 2s ease-in;
    transition: all 2s ease-in
}

#footer-main .tags li a:hover {
    background-color: #fd4a29;
    color: #f0f0f8;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out
}

.pagination {
    display: table;
    margin: 0 -2px 45px -2px
}

.pagination li {
    display: table-cell;
    float: none;
    margin-right: 5px;
    padding: 0 2px
}

.pagination li a,
.pagination li>span {
    white-space: nowrap
}

.pagination li.active a,
.pagination li.active>span {
    background: #606068;
    color: #f0f0f8;
    cursor: default
}

.pagination li.divider {
    background: url(../img/line.jpg) repeat-x center;
    width: 50%
}

.post-comments {
    margin-bottom: 30px
}

.post-comments,
.post-comments ol.children,
.post-comments ol.children>li>ol {
    list-style: none;
    padding: 0
}

.post-comments ol.children,
.post-comments ol.children>li>ol {
    margin-left: 90px
}

.post-comments .comment-container {
    display: table;
    margin: 0 0 15px 0;
    width: 100%
}

.post-comments .comment-container .avatar {
    border: 5px solid white;
    border-radius: 37.5px;
    margin: 0 15px 0 0 !important;
    height: 75px;
    width: 75px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4)
}

.post-comments .comment-container .avatar,
.post-comments .comment-container .content {
    display: table-cell;
    vertical-align: top
}

.post-comments .comment-container .content {
    width: 99%
}

.post-comments .comment-container .content .comment-meta {
    float: left;
    margin: 0 10px 0 0
}

.post-comments .comment-container .content .comment-meta a {
    display: inline-block
}

.post-comments .comment-container .content .reply {
    color: #b0b0b8;
    float: right;
    font-family: "Roboto Condensed", "Arial Narrow", Arial, sans-serif;
    font-size: 13px;
    line-height: 1
}

.post-comments .comment-container .content .reply:hover {
    color: #fd4a29
}

.post-comments .comment-container .content .comment {
    background: #f4f4fc;
    clear: both;
    display: block;
    padding: 15px 15px 0;
    position: relative
}

.post-comments .comment-container .content .comment:after {
    content: '';
    display: table
}

.post-comments .comment-container .content .comment blockquote {
    background: white
}

.post-comments .comment-container .content .comment .triangle {
    border-right: 10px solid #f4f4fc;
    border-top: 7.5px solid transparent;
    border-bottom: 7.5px solid transparent;
    left: -10px;
    position: absolute;
    top: 10px
}

.post-comments .children>li>.comment-container .avatar {
    margin: 0 0 0 15px !important
}

.post-comments .children>li>.comment-container .content .comment {
    background-color: #fd4a29;
    color: #f0f0f8
}

.post-comments .children>li>.comment-container .content .comment a {
    color: #f0f0f8;
    text-decoration: underline
}

.post-comments .children>li>.comment-container .content .comment a:hover {
    color: rgba(240, 240, 248, 0.8)
}

.post-comments .children>li>.comment-container .content .comment blockquote {
    background: #fd6c51;
    border-color: #feb1a2;
    color: #fff
}

.post-comments .children>li>.comment-container .content .comment blockquote footer,
.post-comments .children>li>.comment-container .content .comment blockquote cite {
    color: #f0f0f8
}

.post-comments .children>li>.comment-container .content .comment .triangle {
    border-right: none;
    border-color: #fd4a29;
    border-left: 10px solid #fd4a29;
    border-top: 7.5px solid transparent;
    border-bottom: 7.5px solid transparent;
    left: auto;
    right: -10px
}

@media (max-width:768px) {
    .post-comments .avatar {
        display: none !important
    }
    .post-comments ol.children,
    .post-comments ol.children>li>ol {
        margin-left: 30px
    }
}

.dashicons-format-link:before {
    content: "\f103"
}

.icons .dashicons {
    line-height: 65px
}

.icons .dashicons-format-standard {
    background-color: #e54b4b
}

.icons .dashicons-format-status {
    background-color: #71a49b
}

.icons .dashicons-format-quote {
    background-color: #bf7b65
}

.icons .dashicons-format-gallery {
    background-color: #9664b5
}

.icons .dashicons-format-image {
    background-color: #39b77a
}

.icons .dashicons-format-video {
    background-color: #f46d4f
}

.icons .dashicons-format-audio {
    background-color: #4089d2
}

.icons .dashicons-format-link {
    background-color: #4782a6
}

.icons .dashicons-format-aside {
    background-color: #f3b92e
}

.icons .dashicons-format-chat {
    background-color: #0082c8
}

.post-navigation {
    margin-bottom: 15px
}

.post-navigation .nav-previous,
.post-navigation .nav-next {
    border-bottom: 1px solid #e4e4ec;
    margin-bottom: 1em
}
.post-navigation .nav-previous h5{ font-size:14px;     font-weight: bold;}
.nav-previous a:hover{ text-decoration:none; color:#ff8a00 !important}
.nav-next a:hover{ text-decoration:none; color:#ff8a00 !important}
.post-navigation .nav-next h5{ font-size:14px;     font-weight: bold;}


.post-navigation .nav-previous .meta-nav,
.post-navigation .nav-next .meta-nav {
    color: #606068;
    font-size: 15px;
    font-family: "Roboto Condensed", "Arial Narrow", Arial, sans-serif;
    line-height: 1
}

.post-navigation .nav-previous a,
.post-navigation .nav-next a {
    color: #606068
}

.post-navigation .nav-previous a:hover,
.post-navigation .nav-next a:hover {
    color: #fd4a29
}

.review {
    float: left;
    margin: 0 15px 0 0;
    width: 45%
}

.review header {
    border-bottom: 1px solid #e4e4ec;
    margin-bottom: 15px
}

.review header h5 {
    border-bottom: 7px solid #e4e4ec;
    display: inline-block;
    margin: 0;
    padding: 0 0 10px
}

.review .review-total-score {
    background: #fd4a29;
    color: #f0f0f8;
    float: left;
    margin: 0 15px 15px 0;
    padding: 10px;
    text-align: center
}

.review .review-total-score h1 {
    margin: 0
}

.review.full-width {
    border-bottom: 1px solid #e4e4ec;
    margin-right: 0;
    margin-bottom: 15px;
    width: 100%
}

@media (min-width:600px) {
    .review.full-width {
        padding-bottom: 15px
    }
}

.review hr {
    margin-top: 15px
}

.user-rating {
    clear: both;
    display: block;
    margin: 15px 0
}

.user-rating .rating {
    display: inline-block
}

.user-rating .rateit {
    margin-bottom: 15px
}

.user-rating .after-vote {
    clear: both;
    display: none
}

@media (max-width:599px) {
    .review {
        width: 100%
    }
}

.share-post ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.share-post ul li {
    float: left
}

.share-post ul li {
    margin: 0 5px 5px 0
}

.share-post ul li a span {
    border-top: 1px solid #e4e4ec;
    border-right: 1px solid #e4e4ec;
    border-bottom: 1px solid #e4e4ec;
    color: #606068;
    background: #f4f4fc;
    line-height: 14px;
    padding: 7px
}

.share-post ul li a span:hover {
    color: #fd4a29
}

.share-post ul li a i,
.share-post ul li a span {
    display: inline-block
}

.share-post,
.post-tags {
    border-bottom: 1px solid #e4e4ec;
    margin-bottom: 1em
}

.share-post h5,
.post-tags h5 {
    font-weight: normal;
    line-height: 30px;
    margin-right: 5px
}

.share-post h5,
.post-tags h5,
.share-post ul,
.post-tags ul {
    float: left
}

.share-post ul,
.post-tags ul {
    margin-bottom: 8px
}

.sc-sm,
.sc-md {
    background-image: url("../img/social-media-icons.png");
    color: white;
    font-family: FontAwesome;
    font-style: normal;
    float: left;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: background-color;
    -o-transition: background-color;
    transition: background-color;
    -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
}

.sc-sm:hover:not(.sc-dark),
.sc-md:hover:not(.sc-dark) {
    background-color: #fd4a29
}

.sc-sm.sc-mail,
.sc-md.sc-mail {
    background: #2ea2cc
}

.sc-sm.sc-mail:before,
.sc-md.sc-mail:before {
    content: '\f0e0'
}

.sc-sm.sc-codepen,
.sc-md.sc-codepen {
    background: #252527
}

.sc-sm.sc-codepen:before,
.sc-md.sc-codepen:before {
    content: "\f1cb"
}

.sc-sm.sc-foursquare,
.sc-md.sc-foursquare {
    background: #009fe0
}

.sc-sm.sc-foursquare:before,
.sc-md.sc-foursquare:before {
    content: "\f180"
}

.sc-sm.sc-reddit,
.sc-md.sc-reddit {
    background: #6cc0fe
}

.sc-sm.sc-reddit:before,
.sc-md.sc-reddit:before {
    content: "\f1a1"
}

.sc-sm.sc-renren,
.sc-md.sc-renren {
    background: #105ba3
}

.sc-sm.sc-renren:before,
.sc-md.sc-renren:before {
    content: "\f18b"
}

.sc-sm.sc-stack-exchange,
.sc-md.sc-stack-exchange {
    background: #12457c
}

.sc-sm.sc-stack-exchange:before,
.sc-md.sc-stack-exchange:before {
    content: "\f18d"
}

.sc-sm.sc-stack-overflow,
.sc-md.sc-stack-overflow {
    background: #f90
}

.sc-sm.sc-stack-overflow:before,
.sc-md.sc-stack-overflow:before {
    content: "\f16c"
}

.sc-sm.sc-steam,
.sc-md.sc-steam {
    background: #3b3938
}

.sc-sm.sc-steam:before,
.sc-md.sc-steam:before {
    content: "\f1b6"
}

.sc-sm.sc-tencent-weibo,
.sc-md.sc-tencent-weibo {
    background: #46c1e3
}

.sc-sm.sc-tencent-weibo:before,
.sc-md.sc-tencent-weibo:before {
    content: "\f1d5"
}

.sc-sm.sc-vine,
.sc-md.sc-vine {
    background: #00bf8f
}

.sc-sm.sc-vine:before,
.sc-md.sc-vine:before {
    content: "\f1ca"
}

.sc-sm.sc-vk,
.sc-md.sc-vk {
    background: #4e729a
}

.sc-sm.sc-vk:before,
.sc-md.sc-vk:before {
    content: "\f189"
}

.sc-sm.sc-weibo,
.sc-md.sc-weibo {
    background: #e64141
}

.sc-sm.sc-weibo:before,
.sc-md.sc-weibo:before {
    content: "\f18a"
}

.sc-facebook {
    background-color: #5d82d1
}

.sc-pinterest {
    background-color: #e13138
}

.sc-twitter {
    background-color: #40bff5
}

.sc-googleplus {
    background-color: #eb5e4c
}

.sc-rss {
    background-color: #faa33d
}

.sc-vimeo {
    background-color: #35c6ea
}

.sc-evernote {
    background-color: #9acf4f
}

.sc-dribbble {
    background-color: #f7659c
}

.sc-tumblr {
    background-color: #426d9b
}

.sc-behance {
    background-color: #1879fd
}

.sc-stumbleupon {
    background-color: #ff5c30
}

.sc-dropbox {
    background-color: #17a3eb
}

.sc-soundcloud {
    background-color: #ff7e30
}

.sc-picasa {
    background-color: #9eb5b6
}

.sc-lastfm {
    background-color: #f34320
}

.sc-forrst {
    background-color: #45ad76
}

.sc-flickr {
    background-color: #ff48a3
}

.sc-deviantart {
    background-color: #6a8a7b
}

.sc-linkedin {
    background-color: #238cc8
}

.sc-blogger {
    background-color: #ff9233
}

.sc-instagram {
    background-color: #548bb6
}

.sc-yahoo {
    background-color: #ab47ac
}

.sc-youtube {
    background-color: #ef4e41
}

.sc-grooveshark {
    background-color: #ffb21d
}

.sc-digg {
    background-color: #75788d
}

.sc-skype {
    background-color: #13c1f3
}

.sc-sharethis {
    background-color: #25a774
}

.sc-wordpress {
    background-color: #2592c3
}

.sc-kickstarter {
    background-color: #8cd049
}

.sc-bebo {
    background-color: #ee3849
}

.sc-zerply {
    background-color: #9dbc7a
}

.sc-amazon {
    background-color: #ff8e2e
}

.sc-myspace {
    background-color: #008dde
}

.sc-wikipedia {
    background-color: #b3b5b8
}

.sc-technorati {
    background-color: #71d14b
}

.sc-addthis {
    background-color: #ff7850
}

.sc-delicious {
    background-color: #377bda
}

.sc-xing {
    background-color: #1a8e8c
}

.sc-quora {
    background-color: #ea3d23
}

.sc-github {
    background-color: #3f91cb
}

.sc-feedly {
    background-color: #2bb24c
}

.sc-sm {
    background-size: 1230px;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    width: 30px;
    -webkit-box-shadow: inset 0 15px 0 0 rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 0 15px 0 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 15px 0 0 rgba(255, 255, 255, 0.2)
}

.sc-sm.sc-facebook {
    background-position: 0 0
}

.sc-sm.sc-pinterest {
    background-position: -30px 0
}

.sc-sm.sc-twitter {
    background-position: -60px 0
}

.sc-sm.sc-googleplus {
    background-position: -90px 0
}

.sc-sm.sc-rss {
    background-position: -120px 0
}

.sc-sm.sc-vimeo {
    background-position: -150px 0
}

.sc-sm.sc-evernote {
    background-position: -180px 0
}

.sc-sm.sc-dribbble {
    background-position: -210px 0
}

.sc-sm.sc-tumblr {
    background-position: -240px 0
}

.sc-sm.sc-behance {
    background-position: -270px 0
}

.sc-sm.sc-stumbleupon {
    background-position: -300px 0
}

.sc-sm.sc-dropbox {
    background-position: -330px 0
}

.sc-sm.sc-soundcloud {
    background-position: -360px 0
}

.sc-sm.sc-picasa {
    background-position: -390px 0
}

.sc-sm.sc-lastfm {
    background-position: -420px 0
}

.sc-sm.sc-forrst {
    background-position: -450px 0
}

.sc-sm.sc-flickr {
    background-position: -480px 0
}

.sc-sm.sc-deviantart {
    background-position: -510px 0
}

.sc-sm.sc-linkedin {
    background-position: -540px 0
}

.sc-sm.sc-blogger {
    background-position: -570px 0
}

.sc-sm.sc-instagram {
    background-position: -600px 0
}

.sc-sm.sc-yahoo {
    background-position: -630px 0
}

.sc-sm.sc-youtube {
    background-position: -660px 0
}

.sc-sm.sc-grooveshark {
    background-position: -690px 0
}

.sc-sm.sc-digg {
    background-position: -720px 0
}

.sc-sm.sc-skype {
    background-position: -750px 0
}

.sc-sm.sc-sharethis {
    background-position: -780px 0
}

.sc-sm.sc-wordpress {
    background-position: -810px 0
}

.sc-sm.sc-kickstarter {
    background-position: -840px 0
}

.sc-sm.sc-bebo {
    background-position: -870px 0
}

.sc-sm.sc-zerply {
    background-position: -900px 0
}

.sc-sm.sc-amazon {
    background-position: -930px 0
}

.sc-sm.sc-myspace {
    background-position: -960px 0
}

.sc-sm.sc-wikipedia {
    background-position: -990px 0
}

.sc-sm.sc-technorati {
    background-position: -1020px 0
}

.sc-sm.sc-addthis {
    background-position: -1050px 0
}

.sc-sm.sc-delicious {
    background-position: -1080px 0
}

.sc-sm.sc-xing {
    background-position: -1110px 0
}

.sc-sm.sc-quora {
    background-position: -1140px 0
}

.sc-sm.sc-github {
    background-position: -1170px 0
}

.sc-sm.sc-feedly {
    background-position: -1200px 0
}

.sc-md {
    font-size: 30px;
    height: 45px;
    line-height: 45px;
    width: 45px;
    -webkit-box-shadow: inset 0 22.5px 0 0 rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 0 22.5px 0 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 22.5px 0 0 rgba(255, 255, 255, 0.2)
}

.sc-md.sc-facebook {
    background-position: 0 0
}

.sc-md.sc-pinterest {
    background-position: -45px 0
}

.sc-md.sc-twitter {
    background-position: -90px 0
}

.sc-md.sc-googleplus {
    background-position: -135px 0
}

.sc-md.sc-rss {
    background-position: -180px 0
}

.sc-md.sc-vimeo {
    background-position: -225px 0
}

.sc-md.sc-evernote {
    background-position: -270px 0
}

.sc-md.sc-dribbble {
    background-position: -315px 0
}

.sc-md.sc-tumblr {
    background-position: -360px 0
}

.sc-md.sc-behance {
    background-position: -405px 0
}

.sc-md.sc-stumbleupon {
    background-position: -450px 0
}

.sc-md.sc-dropbox {
    background-position: -495px 0
}

.sc-md.sc-soundcloud {
    background-position: -540px 0
}

.sc-md.sc-picasa {
    background-position: -585px 0
}

.sc-md.sc-lastfm {
    background-position: -630px 0
}

.sc-md.sc-forrst {
    background-position: -675px 0
}

.sc-md.sc-flickr {
    background-position: -720px 0
}

.sc-md.sc-deviantart {
    background-position: -765px 0
}

.sc-md.sc-linkedin {
    background-position: -810px 0
}

.sc-md.sc-blogger {
    background-position: -855px 0
}

.sc-md.sc-instagram {
    background-position: -900px 0
}

.sc-md.sc-yahoo {
    background-position: -945px 0
}

.sc-md.sc-youtube {
    background-position: -990px 0
}

.sc-md.sc-grooveshark {
    background-position: -1035px 0
}

.sc-md.sc-digg {
    background-position: -1080px 0
}

.sc-md.sc-skype {
    background-position: -1125px 0
}

.sc-md.sc-sharethis {
    background-position: -1170px 0
}

.sc-md.sc-wordpress {
    background-position: -1215px 0
}

.sc-md.sc-kickstarter {
    background-position: -1260px 0
}

.sc-md.sc-bebo {
    background-position: -1305px 0
}

.sc-md.sc-zerply {
    background-position: -1350px 0
}

.sc-md.sc-amazon {
    background-position: -1395px 0
}

.sc-md.sc-myspace {
    background-position: -1440px 0
}

.sc-md.sc-wikipedia {
    background-position: -1485px 0
}

.sc-md.sc-technorati {
    background-position: -1530px 0
}

.sc-md.sc-addthis {
    background-position: -1575px 0
}

.sc-md.sc-delicious {
    background-position: -1620px 0
}

.sc-md.sc-xing {
    background-position: -1665px 0
}

.sc-md.sc-quora {
    background-position: -1710px 0
}

.sc-md.sc-github {
    background-position: -1755px 0
}

.sc-md.sc-feedly {
    background-position: -1800px 0
}

.sc-dark:not(:hover) {
    background-color: transparent;
    opacity: .6;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

ul.social {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 0 -9.04px -18px -9px
}

ul.social li {
    float: left
}

ul.social li {
    margin: 0 9px 18px 9px
}

ul.social li span {
    float: left
}

#footer-main ul.social {
    margin: 0 -10px -9.5px 0
}

#footer-main ul.social li {
    margin: 0 9.5px 9.5px 0
}

#footer-main ul.social li .sc-dark:not(:hover) {
    background-color: #606068
}

.frame {
    background-color: white;
    border: 1px solid #e4e4ec;
    padding: 4px
}

.frame.thick {
    padding: 9px;
	margin-bottom:15px;
}

.frame>* {
    max-width: 100%;
    overflow: hidden
}

.frame>h4,
.frame>.post-meta {
    overflow: visible
}

.frame iframe,
.frame embed {
    width: 100%
}

.frame .featured-media {
    margin: 0 0 10px;
    position: relative;
    font-family: "Roboto Condensed", "Arial Narrow", Arial, sans-serif;
    font-size: 20px
}

.frame .featured-media.quote,
.frame .featured-media.link,
.frame .featured-media.status,
.frame .featured-media.aside,
.frame .featured-media.chat {
    background: #f4f4fc;
    padding: 15px
}

.frame .featured-media.quote:after,
.frame .featured-media.link:after,
.frame .featured-media.status:after,
.frame .featured-media.aside:after,
.frame .featured-media.chat:after {
    color: #e4e4f8;
    font-family: FontAwesome;
    position: absolute;
    bottom: 0;
    right: 4px;
    font-size: 40px;
    line-height: 1
}

.frame .featured-media.quote,
.frame .featured-media.link,
.frame .featured-media.status,
.frame .featured-media.aside,
.frame .featured-media.chat,
.frame .featured-media.quote p,
.frame .featured-media.link p,
.frame .featured-media.status p,
.frame .featured-media.aside p,
.frame .featured-media.chat p {
    line-height: 1.4
}

.frame .featured-media.quote p:last-child,
.frame .featured-media.link p:last-child,
.frame .featured-media.status p:last-child,
.frame .featured-media.aside p:last-child,
.frame .featured-media.chat p:last-child {
    margin-bottom: 0
}

.frame .featured-media.quote blockquote,
.frame .featured-media.link a,
.frame .featured-media.status .status-content,
.frame .featured-media.aside .aside-content,
.frame .featured-media.chat .chat-content {
    position: relative;
    z-index: 1
}

.frame .featured-media.quote:after {
    content: '\f10e'
}

.frame .featured-media.quote blockquote {
    margin: 0;
    border-color: #dcdcf5
}

.frame .featured-media.link {
    font-size: 30px;
    display: block
}

.frame .featured-media.link:after {
    content: '\f08e'
}

.frame .featured-media.status .status-content {
    padding: 15px;
    border-left: 4px dotted #dcdcf5
}

.frame .featured-media.status .status-content:before {
    content: '\f068';
    color: #dcdcf5;
    font-family: FontAwesome;
    position: absolute;
    left: -10px
}

.frame .featured-media.status:after {
    content: '\f044'
}

.frame .featured-media.aside:after {
    content: '\f192'
}

.frame .featured-media.chat {
    background: none;
    padding: 0
}

.frame .featured-media.chat:after {
    content: '\f0e6'
}

.frame .featured-media.chat p {
    margin: 0;
    padding: 15px
}

.frame .featured-media.chat p:nth-child(odd) {
    background: rgba(228, 228, 248, 0.4)
}

.frame .featured-media.gallery img.shadow {
    display: none
}

.frame .featured-media.gallery .frame {
    padding: 0;
    border: 0
}

.flat-style .frame {
    margin-bottom: 15px
}

iframe {
    border: none;
    overflow: hidden;
    max-width: 100%
}

.shadow {
    float: left;
    width: 100%;
    margin-bottom: 10px
}

#page-404 #content h1 {
    font-size: 100px;
    margin-top: 45px
}

#page-404 #content p {
    font-size: 30px
}

#page-404 #content,
#page-404 #content p {
    text-align: center
}

#page-404 #content button {
    margin-bottom: 100px
}

#blog-detail .entry-content {
    border-bottom: 1px solid #e4e4ec;
    margin-bottom: 1em;
    clear: both
}

#blog-detail .hreview+.entry-content {
    clear: none
}

#blog-detail .entry-header {
    margin-bottom: 1em
}

#blog-detail .entry-header .entry-title,
#blog-detail .entry-header .entry-subtitle {
    margin: 0
}

#blog-detail .entry-header .entry-subtitle {
    color: #b0b0b8;
    font-weight: normal;
    margin-top: 4px
}

#blog-detail .hentry .frame {
    position: relative
}

#blog-detail .hentry .frame .icons {
    bottom: -5px;
    left: 20px;
    right: auto;
    top: auto;
    width: auto
}

#blog-detail .hentry .frame .icons a {
    width: 75px
}

#blog-detail .hentry .frame .icons a,
#blog-detail .hentry .frame .icons>span {
    display: inline-block
}

#blog-detail .hentry .frame small,
#blog-detail .hentry .frame .post-meta {
    margin-top: 10px
}

#blog-detail .hentry .frame small a,
#blog-detail .hentry .frame .post-meta a {
    display: inline-block
}

#blog-detail .related-posts .article-small {
    margin-bottom: 15px
}

@media (max-width:991px) {
    #blog-detail .related-posts .article-small:nth-child(2n+1) {
        clear: both
    }
}

#blog-version-1 .article-large {
    padding-left: 32.5px
}

#blog-version-1 .article-large .frame .icons {
    -webkit-transition: transform .4s ease;
    -moz-transition: transform .4s ease;
    -o-transition: transform .4s ease;
    transition: transform .4s ease
}

#blog-version-1 .article-large .frame:hover .icons {
    transform: scale(.4)
}

#blog-version-3 .article-large .icons {
    position: static;
    float: left
}

#blog-version-3 .article-large .content {
    margin-left: 90px
}

@media (max-width:599px) {
    #blog-version-3 .article-large .content {
        margin-left: 0
    }
}

.article-large .footer,
#blog-version-2 #main-content .article-medium .footer {
    border-bottom: 1px solid #e4e4ec;
    display: table;
    margin: 0 0 45px 0;
    padding-bottom: 15px;
    width: 100%
}

.article-large .footer .tags,
#blog-version-2 #main-content .article-medium .footer .tags,
.article-large .footer .read-more,
#blog-version-2 #main-content .article-medium .footer .read-more {
    display: table-cell;
    vertical-align: top
}

.article-large .footer .tags,
#blog-version-2 #main-content .article-medium .footer .tags {
    padding-right: 10px;
    width: 99%
}

.article-large .frame .post-meta,
#blog-version-2 #main-content .article-medium .frame .post-meta {
    margin: 0
}

#sign-in body {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

@media (max-width:827px) and (min-width:360px) {
    #sign-in body {
        background: url('../img/body-background-small.jpg') fixed center
    }
}

#sign-in #content {
    border: none;
    margin: 0 auto;
    max-width: 360px;
    min-height: 300px;
    padding: 15px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

#sign-in #content>:last-child {
    margin-bottom: 0
}

@media (min-height:320px) and (min-width:360px) {
    #sign-in #content {
        left: 50%;
        margin-left: -180px;
        margin-top: -160px;
        position: absolute;
        top: 50%;
        width: 360px
    }
}

@media (min-width:360px) {
    #sign-in #content {
        -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.8);
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.8)
    }
}

#content {
    padding-top: 45px;
    position: relative;
    z-index: 1
}


aside .col-sm-6:nth-child(2n+1) {
    clear: both
}

#footer-main hr {
    border-color: transparent;
    border-color: rgba(255, 255, 255, 0.05)
}

#footer-main .container {
    padding-top: 30px
}

#footer-main .post-meta a:not(:hover),
#footer-main .comment-meta a:not(:hover) {
    color: #67676e
}

#footer-main .image-light,
#footer-main .link {
    display: none
}

#footer-main .row section {
    margin-bottom: 30px
}

#footer-main .row section.col-md-3:nth-child(4n+1) {
    clear: both
}

#footer-main .row section.col-md-2:nth-child(6n+1) {
    clear: both
}

#footer-main .frame {
    background-color: #505058;
    border-color: #505058
}

#footer-main .image .image-holder {
    background: #000
}

#footer-main .image .image-holder img {
    
    opacity: .8;
    -webkit-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
    transition: opacity .4s ease-out;
    -webkit-transition: opacity .4s ease-out .4s ease-out;
    -moz-transition: opacity .4s ease-out .4s ease-out;
    -o-transition: opacity .4s ease-out .4s ease-out;
    transition: opacity .4s ease-out .4s ease-out
}

#footer-main .image:hover .image-holder {
    transform: none
}

#footer-main .image:hover .image-holder img {
    opacity: 1
}

@media (max-width:991px) {
    #footer-main .row section.col-sm-6:nth-child(odd) {
        clear: both
    }
    #footer-main .row section.col-sm-4:nth-child(3n+1) {
        clear: both
    }
}

#footer-bottom {
    background-color: #303038
}

#footer-bottom a {
    background: none;
    color: #67676e
}

#footer-bottom a:hover {
    color: #fd4a29
}

#footer-bottom p {
    float: left;
    margin: 0
}

#footer-bottom ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0
}

#footer-bottom ul li {
    float: left
}

#footer-bottom ul li {
    margin-left: 20px
}

#footer-bottom .container {
    padding: 15px
}

@media (max-width:767px) {
    #footer-bottom .container p {
        margin-bottom: 15px
    }
    #footer-bottom .container p,
    #footer-bottom .container ul {
        float: none !important;
        display: block
    }
    #footer-bottom .container p li,
    #footer-bottom .container ul li {
        margin: 0 20px 10px 0
    }
}

#footer-main,
#footer-bottom {
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.16)
}
.article-medium h4{ font-size:24px;}
.article-medium h4 a{ color:#333; text-decoration:none;}

.article-medium h4 a:hover{ color:#ff8a00; text-decoration:none;}
.read-more .btn-primary { background:#6c9d06; border:1px solid #6c9d06; border-radius:0px;}
.read-more .btn-primary:hover{ background:#ff8a00 !important;      color: #fff !important;  border:1px solid #ff8a00 !important;   }
.article-medium{ margin-bottom:20px; border-bottom:1px solid #eee; padding-bottom:15px;}
.ds-search-article input {
    width: 312px;
    font-size: 14px;
    border-radius: 0px;
    border: 1px solid #eee;
    line-height: 35px;
    padding-left: 10px;
}
.ds-search-article button {
    border: medium none;
    color: #fff;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #6c9d06;
}
.wiget_cat_ul {
        list-style: none;
    margin: 0px;
    list-style-type: none;
    float: left;
    padding-left: 0px;
    width: 160px;
    margin-bottom: 5px;
}
.wiget_cat_ul li {
    font-size: 13px;
    padding: 6px 3px 6px 2px;
    margin: 0px;
    border-bottom: 1px solid #f2f2f2;
    padding: 6px 3px 6px 2px;
	font-weight:bold;    
   
}
.wiget_cat_ul span {
    float: right;
    border-radius: 7px;
    display: block;
    line-height: 18px;
    font-weight: bold;
    font-size: 11px;
    padding: 0px 3px 0px 3px;
    color: #fff;
    min-width: 15px;
    text-align: center;
    background-color: #6c9d06!important;
}
.article-tiny{    float: left;
    width: 100%;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;}
	.article-tiny img{ width:100px; height:auto;}
.motst_read_article {border-bottom: 1px solid #f2f2f2;padding-bottom: 10px;margin-bottom: 10px;}
.motst_read_article_title {font-size: 14px;font-weight: 600;color: #333;margin-top: 10px; text-decoration:none;}
.motst_read_article_title:hover{ text-decoration:none; }
.motst_read_article img{ max-width:100%;}
.wiget_cat_ul li a{ text-decoration:none; font-size:14px; color:#333;}
.avatar { float:left; margin-right:20px;}
 .author img{ max-width:80px;}
 .feedburner a{ text-decoration:none;}
 .feedburner a:hover{text-decoration:none; color:#ff8a00 !important;}
 aside .write-guest-post{border: 1px solid #6c9d06;padding: 10px 0px;}
aside .write-guest-post a{ text-decoration:none;   color: #6c9d06;
    font-size: 16px; }
aside .write-guest-post a:hover{text-decoration:none;color: #ff8a00;}	
	  
 

