.dog-treats-header, .about-dog-treats, .eat-back, .benifits-sectiion, .comparision-section, .dog-treats-footer{
	width: 100%;
	float: left;
	font-family: lato, sans-serif;
	letter-spacing: 0.5px;
}
ul{ list-style:none;}
.treats-slider-sec li{ display:inline-block; }
.dog-treats-header {
	background: #f7c600; 
}

.dog-treats-header h1 {
	text-align: center;
	font-size: 58px;
	font-family: lato, sans-serif;
	text-transform: uppercase;
	padding: 30px 0px;
	font-weight: bold;
}
.treats-slider-sec {
	background: url(../images/treats-box.png) no-repeat;
	padding: 10px;
	margin-bottom: 40px;
	height: 482px;
}
ul.dstabs {
	list-style: none;
	font-size: 15px;
	color: #4a4a4a;
	font-weight: 700;
	font-family: lato, snan-serif;
	text-align: center;
	padding: 0px;
	margin: 0px;
	border-right: none;
}
ul.dstabs li {
	color: #555;
	display: inline-block;
	cursor: pointer;
	padding: 20px 0px;
	text-transform: uppercase;
}
ul.dstabs li:first-child {
	margin-right: 5px;
}
ul.dstabs li:last-child {
	margin-left: 5px;
}
ul.dstabs li.current {
	color: #e04600;
}
.dstab-content {
	display: none;
	padding: 0px;
}
.dstab-content.current {
	display: inherit;
	float: left;
    width: 100%;
	height:374px;
}
.buy-now-btn a {
	background: #e04600;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	padding: 7px 10px;

	margin-top: 8px;
}
.buy-now-btn a:hover{ text-decoration:none; color:#fff;}
.dog-image {
	position: absolute;
	right: 108px;
	margin-top: -303px;
    width: 278px;
}
.eat-back {
	padding: 40px 0px;
	font-size: 30px;
	text-align: center;
}

.about-dog-treats {
	background: #f8f8f8;
	padding: 60px 0px;
}
.about-dog-treats h3 {
	font-size: 22px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
	color:#000;
}
.about-dog-treats p {
	font-size: 18px;
	text-align: center;
	line-height: 24px;
}
.about-dog-treats-p-b {
	margin-bottom: 20px;
}
.benifits-sectiion {
	padding: 40px 0px 0px;
}
.benifits-sectiion h3 {
	text-align: center;
	font-size: 22px;
	color:#333;
}
.benifits-sectiion-bg {
	background: url(../images/dog-b.jpg) no-repeat;
	float: left;
	text-align: center;
	width: 100%;
}
.benifits-sectiion-l {
	float: left;
	float: left;
	padding-top: 40px;
	padding-bottom: 40px;
}
.benifits-sectiion-l ul {
	list-style: none;
	text-align: left;
	font-size: 18px;
	padding-top: 20px;
}
.benifits-sectiion-l ul li {
	padding-top: 46px;
	margin-left: 10px;
}
.comparision-section {
	background: #f5f5f5;
	padding: 40px 0px;
}
.comparision-section h3 {
	text-transform: uppercase;
	font-size: 36px;
	padding-bottom: 5px;
	color:#000;
}
.comparision-section p {
	padding-bottom: 30px;
	font-size: 16px;
}
.comparision-section table {
	border: 1px solid #ccc;
	border-collapse: collapse;
}
.comparision-section table th, .comparision-section table td {
	border: 1px solid #ccc;
	vertical-align: middle;
	font-size: 18px;
	text-align: center;
	padding: 7px 0px;
}
.dog-treats-footer{ padding:40px 0px; background:#000000;}


	#att_2{display: block;color: #fff;font-family: lato,sans-serif;font-size: 16px;}
	.duck-n-chicken{    float: left;
    width: 100%;
    margin-top: 30px}
	.duck-n-chicken li{float: left;width: 470px;height: auto;}
	.duck-n-chicken li:first-child{ margin-right:30px;}