@charset "utf-8";
/* CSS Document */

.photosearchtop{
	width:104px;
	background: url("/search/images/nav_logo39.png") repeat scroll center bottom transparent;
	border: 1px solid #999999;
	-moz-box-shadow: 1px 1px 3px #e7e7e7;
	-webkit-box-shadow: 1px 1px 3px #e7e7e7;
	box-shadow: 1px 1px 3px #e7e7e7;
}