@charset "utf-8";
/* CSS Document */

.searchPhotos {
	border: medium none;
	color: #000000;
	cursor: pointer;
	font: 15px arial,sans-serif;
	height: 30px;
	vertical-align: top;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(/search/images/nav_logo39.png);
	background-repeat: repeat-x;
	background-position: bottom;
}
.searchbox {
    border-right: 1px solid #E7E7E7;
    height: 30px;
   	display: -moz-inline-box;
}

.searchboxinner {
	width:100px;
	background: repeat scroll 0 0 transparent;
	border: 1px solid #999999;
	border-style: solid;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.searchboxinnertext {
	width:150px;
	border: 0px solid #999999;
	border-style: solid;
	display: block;
	margin-right: auto;
	margin-left: auto;
	
}
#photo_filter{
	-moz-box-shadow: 1px 1px 3px #e7e7e7;
	-webkit-box-shadow: 1px 1px 3px #e7e7e7;
	box-shadow: 1px 1px 3px #e7e7e7;
}
#photoskey{
	-moz-box-shadow: 1px 1px 3px #e7e7e7;
	-webkit-box-shadow: 1px 1px 3px #e7e7e7;
	box-shadow: 1px 1px 3px #e7e7e7;
}
.tagcloudphoto{
	margin-top:0px; margin-bottom:15px;
	font-family: arial,sans-serif;
}
.tagcloudphoto a{
	color: #66C;
}


#compBox{
	width: 270px;
	float: left;
	margin-left: 3px;
}

#divtext{
	font:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#F567B1;
	margin:10px
}
