.qna-wrap{float:left; width:100%; margin-top:15px;  font-family:Arial, Helvetica, sans-serif;  font-size:14px; color:#333;}
.qna-form{width:100%; float:left; padding-bottom:20px; }
.qna-form h1{font-size:21px; color:#668000; font-weight:500; margin:0px; padding:0px; }
.qna-form-text{font-size:15px;}
.qna-content{width:100%; float:left; margin-top:20px;}
.qna-contentsec{float:left; width:645px; margin-right:25px;}
.qna-searchsec{width:100%; float:left; padding-bottom:20px; overflow:hidden;}
.qna-searchsec input[type="text"]{ border-top-left-radius:3px; border-bottom-left-radius:3px; border: 1px solid #ccc;width: 485px;height: 35px;padding: 0px;font-size: 14px;margin: 0px;padding-left: 8px;}
.qna-searchsec input[type="submit"]{ background:#668000; color:#fff;  border: 1px solid #668000;width: 164px; height: 37px;font-size: 14px; margin: 0px 0px 0px -10px; padding:0px;
 border-top-right-radius:3px; border-bottom-right-radius:3px; cursor:pointer;}
.qna-searchsec input[type="submit"]:hover {background:#87a903;  border-top-right-radius:3px; border-bottom-right-radius:3px; font-size:14px; color:#fff; border: 1px solid #87a903;}
.qna-recent-ques, .qna-popular-ques{float:left; width:100%;}
.qna-recent-title, .qna-popular-title,.qna-answer-title{ font-size:18px; text-transform:uppercase; color:#333; font-weight:500;  margin: 0px;padding: 0px;
  margin-top: 20px;padding-bottom:10px;}
.qna-error-box{ font-size:13px; color:#f00; margin-top:5px; margin-bottom:5px; border:1px solid #f00; padding:5px; border-radius:3px;}
.qna-popular-title{margin:0px;}
.qna-borderbotttom-gray{border-bottom:1px solid #ddd;}
.qna-bottom-border{background:url(../Images/section_titles.png) no-repeat; width:100%; float:left;}
.qna-recentques-cont{float:left; width:100%; margin-top:20px;}
.qna-recentques-list{ float:left; width:100%; padding-bottom:15px; margin-bottom:20px;}
.qna-user-img-sec{ float:left; width:50px; font-size:8px;}
.qna-question-sec{ float:left; width:570px;}
.qna-question-sec .recent-question a{font-size:18px; color:#668000; text-decoration:none; font-weight:500;}
.qna-question-sec .recent-question a:hover{font-size:18px; color:#87a903; text-decoration:none; font-weight:500;}
.qna-question-sec .qna-description{ font-size:14px; color:#333; margin-top:2px;}
.qna-description a{color:#668000; font-size:14px; text-decoration:none;}
.qna-description a:hover{color:#87a903; font-size:14px; text-decoration:none;}
.qna-ques-ask-details{ color:#888; font-size:12px; margin-top:5px; float:left; width:100%;}
.qna-ques-ask-details a { color:#668000; font-size:12px; text-decoration:none;}
.qna-ques-ask-details a:hover{ color:#87a903; font-size:12px; text-decoration:none;}
.qna-sidebar{float:left; width:300px; }
.qna-ask-qbox{width:280px; border:1px solid #ccc; border-radius:3px; float:left; padding:10px; box-shadow: 0px 0px 8px #ccc;}
.qna-ask-ques{font-size:18px; font-weight:500; color:#333; text-transform:uppercase;}
.qna-ask-text-box{ margin-top:10px; width:280px;}
.qna-ask-text-box textarea{border:1px solid #ccc; font-family:Arial, Helvetica, sans-serif; width:280px; min-height:130px; padding:5px; font-size:14px; color:#333; font-size:14px;}
.qna-ask-desc-box{float:left;border:1px solid #ccc; border-top:none; width:268px; padding:5px; font-size:14px; color:#333; background:#f8f8f8;}
.qna-ask-desc-box textarea{border:1px solid #ccc;font-family:Arial, Helvetica, sans-serif; width:280px; min-height:120px; padding:5px; font-size:14px; color:#333; font-size:14px; margin-left:-6px; margin-top:-6px; border-top:0px;}
.qna-ques-desc{ float:left; width:100%; padding-top:5px; padding-bottom:5px;}
.qna-ques-desc img{float:left; max-width:100%; max-height:100%; margin-right:4px; padding-left:3px;}
.qna-ques-desc a{text-decoration:none; color:#333;}
.qna-ques-desc a:hover{text-decoration:none; color:#333; cursor:pointer}
.qna-category-dropdown{ float:left; width:100%; padding-top:5px; padding-bottom:5px; padding-left:3px;}
.qna-category-dropdown select{border:1px solid #ccc; width:160px; height:30px; border-radius:2px; padding-top:0px; padding-bottom:0px;}
.qna-question-submit-btn{ margin-left: 5px;background: #668000;text-decoration:none; color: #FFF;margin-top: 10px;text-align: center;padding: 7px 24px;margin-bottom: 10px;border-radius: 3px;text-decoration: none; cursor:pointer;}
.qna-question-submit-btn:hover{background:#87a903; color: #FFF; text-decoration:none;}
.qna-category-sec{ width:280px; padding:10px; border:1px solid #ccc; float:left; margin-top:20px; border-radius:3px; box-shadow: 0px 0px 8px #ccc; background:#f8f8f8;}
.qna-category-sec .qna-browse-category{font-size:18px; font-weight:500; color:#333; text-transform:uppercase; padding-bottom:5px;}
ul.qna-category-list{ margin:0px; padding:0px; list-style:none;}
ul.qna-category-list >li{ margin-top:8px;}
ul.qna-category-list >li a{color:#668000; font-size:15px; font-weight:500; text-decoration:none;}
ul.qna-category-list >li a:hover{text-decoration:none; color:#87a903; font-size:15px;}
.qna-sidebar-banner{ margin-top:20px; width:100%; float:left;  box-shadow: 0px 0px 8px #ccc;}
.qna-see-more-recent-ques,.qna-see-more-pop-ques{ width: 100%;text-align: right;color: #668000;margin-bottom: 15px;margin-top: -10px;float: left;}
.qna-see-more-recent-ques a,.qna-see-more-pop-ques a{ font-size:14px; color:#668000; text-decoration:none;}
.qna-see-more-recent-ques a:hover,.qna-see-more-pop-ques a:hover{ font-size:14px; color:#87a903; text-decoration:none;}
/*qna answer section start*/
.qna-ans-sec-cont{width:100%; float:left; overflow:hidden; background:#feff99; margin-top:20px; margin-bottom:20px; border-radius:5px; border:1px solid #ccc;}
.qna-ans-ques-box{padding:15px;}
.qna-ans-ques-box h1{color:#668000; margin:0px; padding:0px; font-size:20px; font-weight:500;}
.qna-ans-ques-box h1 a{color:#668000; margin:0px; padding:0px; font-size:20px; font-weight:500;}
.qna-ans-ques-box h1 a:hover{color:#87a903; margin:0px; padding:0px; font-size:20px; font-weight:500;}
.qna-ans-ques-box .qna-ques-decription{ font-size:14px; color:#333; margin-top:3px; }
.qna-ans-ques-box .qna-ques-decription a{color:#668000; font-size:14px; text-decoration:none;}
.qna-ans-ques-box .qna-ques-decription a:hover{ font-size:14px; color:#87a903; text-decoration:none;}
.qna-ans-ques-box .qna-ques-ask-dec{ font-size:12px; color:#888; margin-top:3px;}
.qna-ans-ques-box .qna-ques-ask-dec a{ font-size:12px; color:#668000; text-decoration:none;}
.qna-ans-ques-box .qna-ques-ask-dec a:hover{ font-size:12px; color:#87a903; text-decoration:none;}
.qna-ques-ask-share{width:100%; width: 100%;margin-top: 10px;}
.qna-ques-ask-share textarea{width: 615px;font-size: 14px;color: #333;padding: 5px;border-radius: 3px; border: 1px solid #ccc;font-family:Arial, Helvetica, sans-serif;}
.qna-ques-ask-share input[type="button"]{border:1px solid #668000; background:#668000; color:#fff; margin-top:10px; width:140px; height:30px; border-radius:3px; font-size:14px; cursor:pointer; }
.qna-ques-ask-share input[type="button"]:hover{ background:#87a903; border:1px solid #87a903;}
.qna-ques-ask-decbtn input[type="button"]{border:1px solid #668000; background:#668000; color:#fff; margin-top:10px; width:140px; height:30px; border-radius:3px; font-size:14px; cursor:pointer; }
.qna-ques-ask-decbtn input[type="button"]:hover{ background:#87a903; border:1px solid #87a903;}
.qna-answers-sec{ float:left; width:100%;}
.qna-answers-box{ background:#f8f8f8;  width:100%;  margin-top:20px; border-radius:3px; border:1px solid #ddd;  float:left; padding-bottom:10px;}
.qna-answers-list{margin:10px; display:block;  margin-bottom:5px; border-bottom:1px solid #ccc; float:left;}
.qna-answers-list .qna-answer-details{ font-size:12px; color:#888; margin-bottom:10px;}
.qna-answers-list .qna-answer-details a{ font-size:12px; color:#668000; text-decoration:none;}
.qna-answers-list:last-child{border-bottom:0px!important;}
.qna-answers-list .asnwer-box{border:1px solid #ccc; padding:10px; background:#fff; border-radius:3px; float:left; width: 604px; }
.qna-answers-list .comments_box{width: 603px; margin-top:10px;  margin-bottom:10px;  float: left;}
.qna-answers-list .comments_box textarea{width: 603px; border-radius: 2px; border: 1px solid #ccc; padding: 5px; font-family:Arial, Helvetica, sans-serif; font-size: 14px;}
.qna-answers-list .comments_liist{width:603px;   float: left; margin-top:10px;}
.qna-answers-list .comments_liist h5{margin-top: 5px;font-size: 16px;font-weight: normal;color:#668000;margin-bottom:10px;}
.qna-answers-description{padding-bottom: 5px; float:left; width:100%;}
ul.all-comments{padding-left:20px;}
ul.all-comments>li{border-bottom:1px solid #ccc; padding-bottom:10px; margin-bottom:10px;}
ul.all-comments>li:last-child{border-bottom:none; margin-bottom:0px;}
.comments-details{ font-size:12px; color:#555; margin-top:10px;}
.comments-details a{ font-size:12px; color:#668000; text-decoration:none;}
.comments-details a:hover{ font-size:12px; color:#87a903; text-decoration:none;}
.qna-answers-list .comments_box input[type="button"]{border:1px solid #668000; background:#668000; color:#fff; margin-top:10px; width:140px; height:30px; border-radius:3px; font-size:14px; cursor:pointer; }
.qna-answers-list .comments_box input[type="button"]:hover{ background:#87a903; border:1px solid #87a903;}
.dogspot-comments-sec{ font-size:12px; color:#888; margin-bottom:10px;  margin-top:10px; float:left;}
.dogspot-comments-sec a{font-size:12px; color:#668000; text-decoration:none; cursor:pointer;}
.dogspot-comments-sec a:hover{font-size:12px; color:#87a903; text-decoration:none; cursor:pointer;}
.qna-share-ansbox{ width:100%; float:left; margin-top:20px; background:#f8f8f8; border-radius:3px; border:1px solid #ccc;}
.qna-share-ansbox textarea{font-family:Arial, Helvetica, sans-serif; width:625px; font-size:14px; color:#888; display:block; margin:10px; padding:5px; border:1px solid #ccc; border-radius:3px; }
.qna-share-ansbox input[type="button"]{ margin:0px 0px 10px 10px; background:#668000; border:1px solid #668000; color:#fff; width:140px; cursor:pointer; height:30px; border-radius:3px; font-size:14px; }
.qna-share-ansbox input[type="button"]:hover {background:#87a903; border:1px solid #87a903;}
.qna-answer-btn{background: #668000;color: #FFF; margin-top: 10px; text-align: center; padding: 7px 15px; margin-bottom: 10px; float: left; border-radius: 3px; text-decoration: none;}
.qna-answer-btn:hover{background:#87a903; color:#fff; text-decoration:none;}
.qna-margin-top{ margin-top:0px;}
.qna-margin-t-l{margin-left: 10px;margin-top: 0px}
.qna-submit-cmnt{background: #668000;color: #FFF;  text-align: center; margin-top:10px; padding: 7px 15px;  float: left; border-radius: 3px; text-decoration: none; cursor:pointer;}
.qna-submit-cmnt:hover{background:#87a903; color:#fff; text-decoration:none;}
.short {overflow: hidden;}
.full{}
/*qna share icon */
.ds_social_cont{width:100%; float:left; width:100%;}
.ds_social_buttons{word-wrap:normal; clear: both; margin: 0; padding: 0; display: inline-table; font: 14px/23px arial, sans-serif; color: #222222;}
.ds_social_buttons ul{padding:0;margin:0;list-style: none;}
.ds_social_buttons .ds_social_list,.ds_social_list a, .ds_social_icons { display: inline-block;}
.ds_social_list{position: relative;width: auto;height: auto;margin: 2px 3px 2px 0;list-style: none;}
.ds_social_buttons .ds_social_list a {padding: 2px 8px 2px 8px;color: #fff;text-decoration: none;font-size: 12px;ont-family: "Segoe WP", "Segoe UI", Helvetica, Arial, sans-serif;-webkit-transition: color .2s, background-color .2s;-moz-transition: color .2s, background-color .2s;-o-transition: color .2s, background-color .2s;transition: color .2s, background-color .2s;}
.ds_social_buttons .ds_social_list:last-child a { margin-right:0;}
.ds_social_buttons .ds_social_icons {width: 15px;height: 14px;margin-right: 1px;vertical-align:-3px;background:url('/new/qna/Images/ds_social-icons.png') 0 0 no-repeat;background-size: 132px 12px;}
.ds_social_buttons .ds_link_linkedin .ds_social_icons { background-position: -42px 0px;}
.ds_social_buttons .ds_twitter_share .ds_social_icons {background-position: -20px 0px;}
.ds_social_buttons .ds_google_share .ds_social_icons {background-position: -64px 0px;}
.ds_social_buttons .ds_facebook_share .ds_social_icons { background-position: -2px 0px;}
.ds_social_buttons .ds_pinterest_share .ds_social_icons {background-position: -85px 0px;}
.ds_social_buttons a:hover,.ds_social_buttons a:focus {color: #FFF;}
.ds_social_buttons .ds_twitter_share a, .ds_twitter_share a:hover,.ds_twitter_share a:focus{background-color: #1ab2e8;}	
.ds_social_buttons .ds_google_share a, .ds_google_share a:hover, .ds_google_share a:focus{background-color: #dc4a38;}
.ds_social_buttons .ds_pinterest_share a,.ds_pinterest_share a:hover,.ds_pinterest_share a:focus {background-color: #fd1d1f;}
.ds_social_buttons .ds_facebook_share a, .ds_facebook_share a:hover,.ds_facebook_share a:focus{background-color: #5f82cd;}
.ds_social_buttons .ds_linkedin_share a, .ds_linkedin_share a:hover,.ds_linkedin_share a:focus {background-color: #0077b5;}
.ds_social_list a {padding: 5px 10px 6px 10px;}
.ds_social_icons{display:inline-block;vertical-align:middle;-webkit-transition: max-width .3s, margin .3s;-moz-transition: max-width .3s, margin .3s;-o-transition: max-width .3s, margin .3s;ransition: max-width .3s, margin .3s;}
.ds_social_icons { margin-right:0; }
.ds_social_icons { margin-right:5px; }
.ds_social_count{position: relative;display: inline-block;border: 1px solid #d1d1d1;vertical-align: top;font-size: 11px;color: #333;background: #fff;border-radius: 3px 0 0 3px;}
.ds_social_count:after {content: "";position: absolute;left: -6px;bottom: 6px;margin-right: 6px;border-left: 0px solid transparent;border-right: 6px solid #FFF;border-top: 6px solid transparent;border-bottom: 6px solid transparent;}
.ds_social_count{padding-top: 1px;padding-bottom: 1px;min-width: 30px;max-width: 40px;box-sizing: border-box;-o-box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;text-align: center;color: #666;border-width: 1px 1px 1px 0px;border-radius: 0;margin-left: -4px;}
.ds_fz_14{font-size:14px;}
.originalTextareaInfo{font-size: 12px;color: #000000;font-family: Tahoma, sans-serif;text-align: right;}
.warningTextareaInfo{font-size: 12px;color: #FF0000;font-family:Arial, Helvetica, sans-serif; text-align:right;}
.qna-anser-submit-alert{margin-top: 5px; padding: 5px; border-radius: 3px; color: #198FFF; font-size: 14px;  border: 1px solid #198FFF;}
#qnaclickdet{cursor:pointer;}
#qnaclickdet:hover{text-decoration:none; cursor:pointer;}
.qna-answer-after-submit{text-align: Center;  padding: 10px; border: 1px solid #198FFF; float: left;  width: 604px;  margin: 10px; color: #198fff;  border-radius: 3px;}
.originalTextareaInfo{background: #f8f8f8;padding-right: 10px;padding-top: 2px;}
.qna-comment-after-submit{text-align: Center;  padding: 10px; border: 1px solid #198FFF; float: left;  width: 580px;   color: #198fff;  border-radius: 3px; margin-bottom:10px;}
.ViewMore{background: none repeat scroll 0 0 #f8f8f8; border:1px solid #ccc; border-radius: 5px; color: #3333;font-size:14px;float: left; padding: 10px 0;text-align:center;width:100%;}
.qna-releted-article{ float:left; width:300px; margin-top:20px;}
.qna-releted-art-text{font-size: 18px; font-weight: 500;    color: #333;    text-transform: uppercase;    padding-bottom: 5px;}
ul.qna-releted-artsec{float:left; margin:0px; padding:0px; list-style:none;}
ul.qna-releted-artsec li{margin-top:10px; float:left; width:300px;}
.qna-rel-art-img{float:left; width:100px; text-align:left;}
.qna-rel-art-headline{ float:left; width:200px;}
.qna-rel-art-headline a{color: #668000;font-size: 15px;font-weight: 500;text-decoration: none;}
.qna-rel-art-headline a:hover{color: #87a903;font-size: 15px;font-weight: 500;text-decoration: none;}
.breadcrumb a { font-size:13px !important; text-decoration:none;}
.breadcrumb{background:#fff !important; font-family:Arial, Helvetica, sans-serif;}
.breadcrumb_cont{float:left; width:100%; color: #666; font-size:13px; word-spacing:2px; margin-top:5px;}
.breadcrumb_cont span{ color:#333;}
.breadcrumb_cont span a:hover{ color:#668000; font-size:13px;}
.brd_font_bold{ font-weight:bold;}
.qna_buy_nowbtn{  background: none repeat scroll 0% 0% #FF6709;color: #FFF!important; display: inline !important;font-size: 14px;padding: 5px 12px;border-radius: 3px;text-transform: uppercase;font-family: arial;cursor: pointer; text-decoration:none;}
.qna_buy_nowbtn:hover{ text-decoration:none;}
div.be_ad_banner.cont660 { margin-bottom: 10px; width: 700px; border: 1px solid #ddd;  float: left; }
.be_ad_banner h3 { font-size: 16px; background: #FFFFFF; color: #668000; border-bottom: 1px solid #CACACA; padding: 14px; text-transform: none;}
.be_ad_banner ul li { list-style: none; padding: 14px;margin: 0; font-size: 13px;}
.be_relatedCom { display: table-cell; width: 126px; text-align: center; vertical-align: top;}
.be_buynow img { border: 0px solid; margin-top: 5px;}
.be_relatedCom label { float: left; width: 74%; padding: 3px 13%; margin-top:10px; margin-bottom:10px;}
.be_relatedCom:hover { box-shadow: 0px 0px 1px #444; background: #fff;}
