@font-face{font-family:'SegoeUI';src:url('/new/common/font_source/SegoeUI.eot?') format('eot'),
url('/new/common/font_source/SegoeUI.woff') format('woff'),
url('/new/common/font_source/SegoeUI.ttf') format('truetype'),
url('/new/common/font_source/SegoeUI.svg#SegoeUI') format('svg');}
@charset "utf-8";body{margin:0;padding:0;font-family:"Segoe UI";}
@font-face{font-family:"Segoe UI";src:url(/new/common/font_source/segoeui_0.ttf);font-weight:normal;font-style:normal;}
h1, h2, h3, h4, h5, h6, p, form, div, table, ul, li, dt, dd, dl, img{margin:0px;padding:0px;border:0;}
#headerContainer{background-color:#48BAF0;background-repeat:repeat;height:94px;width:100%;margin-bottom:1px;position:relative;}
.headerContainer_inside{margin:auto;width:972px;}
.headerContainer_left{width:200px;float:left;position:absolute;padding-right:10px;background:#48BAF0;border-top:1px solid #234697;}
.head_left{float:left;background:#48BAF0;width:50%;margin-left:-480px;height:91px;z-index:1;border-top:1px solid #234697;position:absolute;}
.head_center{margin:0 auto;width:972px;}
.headerContainer_center{width:100%;float:left;position:absolute;border-bottom:1px solid #234697;border-left:0px solid #234697;z-index:0;background:#fff;background:url(file://///webart03/Repositories/petsglamnew/dogspot_new/new/common/images/top_nav.png) repeat-x;}
.logo{width:197px;display:block;float:left;margin-right:1px;}
.tabs{width:90px;margin-left:210px;display:block;border-left:1px solid #234697;float:left;margin-right:1px;text-align:center;}
.tabs a{font-weight:bold;text-decoration:none;color:#444;}
.headerContainer_right{width:400px;float:right;text-align:right;z-index:999;}
.loginContainer{margin:5px 0 0 0;}
.loginContainer img{vertical-align:middle;margin-left:5px;}
.loginContainer span{font-size:12px;color:#333;margin-right:5px;}
.loginContainer a{color:#234696;text-decoration:none;}
.loginContainer .arrow{padding-right:10px;position:relative;}
.slidingDiv{padding:10px;border:1px solid #d3d1d1;border-top-width:4px;width:400px;background:#fff;top:0;left:500px;z-index:99;}
.show_hide{display:none;}
.basketContainer{box-shadow:inset 1px 1px 3px #666;-moz-box-shadow:inset 1px 1px 3px #666;background:#2B82D2;border-radius:4px;text-align:center;float:right;margin-left:10px;height:27px;}
.basketContainer img{padding:6px;float:left;}
.basketContainer .item, .rate{padding:7px;font-size:12px;color:#fff;float:left;display:inline-block;}
.basketContainer a{color:#fff;text-decoration:none;}
.basketContainer a:hover{color:#fff;text-decoration:underline;}
.searchwrapper{width:178px;height:27px;background-image:url(/new/common/images/icon-search-box.png);background-repeat:no-repeat;position:relative;float:right;}
.searchwrapper form{display:inline;}
.searchbox{border:0px;background-color:transparent;position:absolute;top:3px;left:3px;width:140px;height:24px;padding:0 7px;}
.searchbox_submit{border:0px;background-color:transparent;position:absolute;top:0px;left:148px;width:30px;height:27px;}
#navContainer{background:#F7FFD8;width:100%;height:40px;float:left;display:table;}
.navContainer_inside{margin:auto;width:972px;display:table;}
.navContainer_left{float:left;width:971px;background:#f7ffd8;display:table;}
.navContainer_right{}
#footer{width:100%;padding:0;margin:0;background:#666;}
#footerGreen{margin:auto;width:940px;background:#2B82D2;padding:5px 10px;margin:auto;}
#footerGreen p{font-size:12px;line-height:18px;color:#fff;}
#footerContent{width:940px;overflow:auto;background:#362c23;padding:10px 10px;margin:auto;padding-bottom:0 !important;}
#footerContent_left{width:685px;float:left;}
#footerContent_right{width:255px;float:right;}
.footerContainer{margin-bottom:10px;float:left;}
.footerContainer ul{list-style-type:none;float:left;width:150px;}
.footerContainer li{font-size:13px;line-height:25px;display:block;margin-right:20px;}
.footerContainer li a{color:#fff;text-decoration:none;}
.footerContainer li a:hover{color:#999;}
.footerContainer h3{color:#a9d701;font-size:14px;font-weight:normal;display:block;margin-bottom:10px;text-transform:uppercase;}
#feedbackContainer{border-radius:5px;padding:10px;background:#494542;width:235px;margin-bottom:20px;}
.happyClients{margin-bottom:20px;}
.happyClients h3{color:#a9d701;font-size:14px;font-weight:normal;margin-bottom:10px;text-transform:uppercase;}
.happyClients p{color:#fff;font-size:13px;font-weight:normal;line-height:18px;margin-bottom:5px;}
.happyClients span{color:#999;font-size:12px;font-weight:normal;}
.happyClients a{color:#fff;text-decoration:underline;}
.feedback{margin-bottom:20px;}
.feedback h3{color:#a9d701;font-size:14px;font-weight:normal;margin-bottom:10px;text-transform:uppercase;}
.feedback label{font-size:13px;width:100%;display:block;color:#fff;}
.feedback input{float:right;width:150px;height:22px;padding:0 5px;}
.feedback textarea{float:right;width:150px;padding:0 5px;}
.feedback img{vertical-align:middle;margin-left:71px;}
.divideLine{padding:10px;border-radius:20px;margin:0 10px 10px 0;background:#75726f;height:80px;}
.divideLine_inner{float:left;width:31.5%;padding:0 5px;}
.divideLine_heading{font-size:16px;color:#fff;font-weight:normal;text-align:center;margin-bottom:10px;}
.sprite{background:url(/new/common/images/dogspot_sprites.png);}
.partners{width:96px;height:48px;}
.payment{width:49px;height:29px;}
.join{width:30px;height:30px;}
.loginSocial_sm{width:21px;height:21px;}
.loginSocial_big{width:66px;height:22px;}
.loginButton{width:68px;height:30px;}
.payu{background-position:-2px -2px;}
.ebs{background-position:-102px -2px;}
.junglee{background-position:-202px -2px;}
.shopclues{background-position:-302px -2px;}
.bluedart{background-position:-402px -2px;}
.delhivery{background-position:-502px -2px;}
.mastercard{background-position:-2px -60px;}
.visa{background-position:-55px -60px;}
.netbanking{background-position:-108px -60px;}
.cod{background-position:-161px -60px;}
.cheque{background-position:-214px -60px;}
.fb{background-position:-2px -99px;}
.twitter{background-position:-36px -99px;}
.gplus{background-position:-70px -99px;}
.linkedin{background-position:-104px -99px;}
.youtube{background-position:-138px -99px;}
.pinit{background-position:-171px -99px;}
.fb_sm{background-position:-2px -139px;}
.gm_sm{background-position:-28px -139px;}
.fb_big{background-position:-54px -139px;}
.gm_big{background-position:-125px -139px;}
.loginButton{background-position:-196px -139px;}
.cart_basket{float:left;}
.cart_basket .icon-basket1{float:left;margin:7px;}
.cart_basket a{float:left;background:url(http://www.fishspot.in/new/common/images/cart_fish.png) no-repeat 6px 7px;padding-right:6px;}
.cart_basket_txt{float:right;line-height:32px;padding-right:7px;color:#fff;margin-left:30px;}
.new_navigation>ul>li .bg-nav{background:url(/new/common/images/nav_line.jpg) no-repeat;float:left;width:2px;height:32px;}
.vs10{height:10px;overflow:hidden;float:left;width:100%;}
.new_item, .new_rate{float:left;line-height:32px;color:#fff;}
.new_rate{margin-right:7px;}
.new_item{margin-left:30px;}
.ds_topSubNav{width:366px;background:#fff;margin-left:0px;text-align:left;padding-bottom:5px;}
.subNav_col{display:inline-block;vertical-align:baseline;zoom:1;vertical-align:top;margin-right:10px;padding-right:10px;width:155px;text-align:left;font-family:"Segoe UI";}
.subNav_col h4{margin:0;padding:0;font-size:14px;color:#333;padding-left:10px;padding-top:8px;}
.ds_subMenuSmall{width:176px;background:#fff;margin-left:0px;text-align:left;padding-bottom:5px;}
.ds_mlMore{margin-left:-116px;}
.ds_mlCat{margin-left:-109px;}
.ds_mlHC{margin-left:-244px}
.view_morebrands a{font-weight:bold;font-family:segoe ui;font-size:14px;color:#668000;}
.view_all_products{margin-left:5px;margin-right:5px;background:#e7fb98;text-align:center;padding-top:4px;padding-bottom:4px;color:#668000;border-radius:3px;font-size:14px;}
.view_all_products a{color:#668000;font-size:14px;text-decoration:none;}
.header_top_left{float:left;width:845px;}
.header_top_right{float:left;width:120px;}