@font-face{font-family:'SegoeUI';src:url('/new/common/font_source/SegoeUI.eot?') format('eot'),
url('/new/common/font_source/SegoeUI.woff') format('woff'),
url('/new/common/font_source/SegoeUI.ttf') format('truetype'),
url('/new/common/font_source/SegoeUI.svg#SegoeUI') format('svg');}
.spot_li_hp{position:relative;}
.spot_li_hp ul{float:left;margin:0px;padding:0px;}
.spot_li_hp>ul>li{float:left;list-style:none;padding:0px 7px;font-size:14px;line-height:17px;height:16px;border-right:1px solid #888;color:#000;}
.spot_li_hp ul li.no_border_hp{border:0px;}
.spot_li_hp .logIN_box.fl{top:24px;right:0px;z-index:9999;}
span.index_arrow-bottom{border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #3d4d00;position:absolute;top:-11px;right:18px;}
.spot_li_hp .logDetail_box.fl li{line-height:16px;}
.srch_hp.search_new input[type="text"]{width:572px;background:#fff;color:#333;}
.cart_hp{position:relative;border-radius:3px;background:#eee;border:1px solid #bfbfbf;color:#333;padding:2px 10px;margin-top:6px;}
div.labelCart_hp.fl{font-size:17px;text-transform:uppercase;padding:6px 7px 1px 7px;}
div.item_hp{position:absolute;right:-10px;top:-10px;background:#668000;color:#fff;width:26px;padding:4px 0;height:17px;text-align:center;vertical-align:middle;border-radius:12px;}
div.imgCart_hp.fl{padding-top:3px;}
.rytTop_hp .fb_dogSpot{margin-top:-2px;margin-right:5px}
.LogINBox_hp{font-family:'SegoeUI';}
.LogINBox_hp .check_logbox{font-family:'SegoeUI';float:left;text-align:left;width:208px;margin-left:13px;}
.LogINBox_hp .alt_log label{float:left;text-align:left;}
.LogINBox_hp{position:absolute;width:710px;top:50%;left:50%;margin-left:-355px;margin-top:-200px;background:#f8f8f8;box-shadow:0px 0px 1px 1px #888;z-index:99999;height:405px;}
div.logbanner_hp{position:absolute;z-index:9;bottom:0px;right:0px;}
.LogINBox_hp .check_log{float:left;width:455px;border:1px solid #bfbfbf;padding:10px;background:#fff;height:362px;position:relative;margin:10px;}
.LogINBox_hp .check_log label{font-size:11pt;float:left;width:234px;margin-top:6px;}
.LogINBox_hp .check_log input#pass1, .LogINBox_hp .check_log input#searchadd{width:250px;}
div.LoginBen_hp{float:left;text-align:left;width:197px;margin-top:34px;}
div.LoginBen_hp h3{font-size:17px;color:#555;font-weight:normal;width:197px;margin-top:10px;padding-bottom:5px;text-align:center;border-bottom:1px solid #888;}
div.LoginBen_hp ul{float:left;margin:0px;padding:0px;padding-top:5px;border-top:1px solid #FFFFFF;}
div.LoginBen_hp ul li{float:left;width:161px;list-style:disc;color:#444;font-size:14px;padding:3px 0;margin-left:33px;}
p.btn_conti input[type=submit]{background:#b72903;background:-webkit-gradient(linear, left top, left bottom, from(#f07635), to(#b72903));border:medium none;border-radius:5px;color:#fff;cursor:pointer;font-size:16px;font-weight:normal;height:32px;margin:6px 0px;text-transform:capitalize;padding:2px 0;width:80px;text-align:center;}
div.newUser_hp{float:left;background:#E0E0E0;width:475px;color:#555;margin:-10px;font-size:15px;padding:5px 0;margin-bottom:10px;border-bottom:1px solid #D1D0D0;}
div.newUser_hp a{color:#668000;}
.LogINBox_hp .check_logbox .eDetail_box.fl{margin:2px 0 0 0;}
.LogINBox_hp .check_logbox .eDetail_box.fl label{margin-top:0px;margin-bottom:4px;}
.LogINBox_hp .check_logbox .eDetail_box.fl select{width:201px;border:1px solid #888;border-radius:5px;}
.LogINBox_hp .check_logbox input{margin-top:5px;color:#333;}
.LogINBox_hp .check_logbox p.btn_conti{margin:0px 0 0px 0;width:96%;}
.LogINBox_hp .check_logbox p.btn_conti input[type=submit]{font-size:16px;}
.LogINBox_hp .check_log h3{font-size:21px;float:left;width:100%;margin:5px 0 20px;color:#668000;font-weight:normal;}
.LogINBox_hp .check_logbox p.btn_conti input[type=submit],.LogINBox_hp .check_logbox p.btn_conti input[type=button]{background:#b72903;background:-webkit-gradient(linear, left top, left bottom, from(#f07635), to(#b72903));border:medium none;border-radius:5px;color:#fff;cursor:pointer;font-size:16px;font-weight:normal;height:32px;margin:6px 0px;text-transform:capitalize;padding:2px 0;width:100%;text-align:center;}
.LogINBox_hp .check_logbox p{margin:5px 0 10px 0;}
.scrollHead_new{float:left;width:100%;box-shadow:0 1px 3px rgba(0,0,0,0.2);background-color:rgba(255,255,255,0.98);position:fixed;top:0px;z-index:9999;}
#search_bar_div{width:100%;box-shadow:0 1px 3px rgba(0,0,0,0.2);background-color:rgba(255,255,255,0.98);top:0px !important;z-index:8888 !important;position:relative;padding-top:0px;margin-left:0px;z-index:8888;display:none;}
.search_new.fl{position:relative;}
.srchRslt_new{padding:0px;border:1px solid #bfbfbf;background-color:white;overflow:hidden;z-index:999;text-align:left;top:32px;border-left:0px;left:21px;position:absolute;width:571px !important;border-radius:2px;}
.srchRslt_new ul{width:100%;list-style-position:outside;list-style:none;padding:0;z-index:999;margin:0;text-align:left;}
.srchRslt_new li{margin:0px;padding:6px 10px;cursor:default;display:block;z-index:999;border-left:3px solid #bfbfbf;font:menu;border-bottom:1px solid #bfbfbf;font-size:12px;line-height:16px;overflow:hidden;text-align:left;}
.srchRslt_new li:hover{box-shadow:1px 1px 34px 0px #ddd inset;border-left:3px solid #666;}
.srchRslt_hp{float:left;width:100%;}
.srchRsltImg_hp{float:left;margin:5px;}
.srchRsltTxt_hp{float:left;margin:20px 5px;}
div.errorPop{float:left;color:#D34F4F;background:#FCE2E6;border-radius:0 0 5px 5px !important;padding:7px 0 !important;border:1px solid #D34F4F;font-size:13px;width:100%;top:0;text-align:center;left:0;position:absolute;margin:-1px;}
.spot_li_hp>ul>li .fish_hp{text-decoration:none;}
.spot_li_hp>ul>li .fish_hp:hover{color:#2B82D2;text-decoration:none;}
.spot_li_hp>ul>li .supp_hp{text-decoration:none;}
.spot_li_hp>ul>li .supp_hp:hover{color:#668000;text-decoration:none;}
div.headSrch_hp{float:left;width:100%;border-left:3px solid #bbb;border-bottom:1px solid #bfbfbf;color:#000;background:#eee;padding:5px 11px;font-weight:bold;font-size:14px;}
.srchRslt_new li .catSrch_hp{color:#668000;}
.hp_search_iconnew,.hp_carr_iconnew,.or_img_iconnew, .hp_loginwith_fb, .hp_loginwith_gmail,.hp_ds_logonew{background: url("/new/common/images/sprites_ds.png") no-repeat scroll 0% 0% transparent;float: left; margin-left: 3px;}
.hp_search_iconnew{cursor: pointer;  float: left;  width: 42px; height: 34px; background-position: -3px -46px; margin-left: -5px;}
.hp_carr_iconnew{background-position: -46px -46px ; float: left; width: 26px; height: 25px; background-position: -46px -46px; margin-left: -3px;}
.or_img_iconnew{width: 35px;height: 175px; background-position:-462px -218px;}
.hp_loginwith_fb{width: 150px;height: 50px;background-position: -299px -319px;}
.hp_loginwith_gmail{width: 150px;height: 50px;background-position: -299px -376px;}
.hp_ds_logonew{width: 184px;height: 45px;  background-position:-6px -266px;}