@charset "utf-8";body{margin:0;padding:0;font-family:"Segoe UI";}
@font-face{font-family:"Segoe UI";src:url(/new/common/font_source/segoeui_0.ttf);font-weight:normal;font-style:normal;}
h1, h2, h3, h4, h5, h6, p, form, div, table, ul, li, dt, dd, dl, img{margin:0px;padding:0px;border:0;}
/*header left starts here*/
#headerContainer{background-color:#b2da1d;background-repeat:repeat;height:94px;width:100%;margin-bottom:1px;position:relative;}
.headerContainer_inside{margin:auto;width:972px;position:relative;}
.headerContainer_left{width:200px;float:left;position:absolute;padding-right:10px;background:#b2da1d;border-top:1px solid #877b63;}
.head_left{float:left;background:#b2da1d;width:50%;margin-left:-480px;height:91px;z-index:1;border-top:1px solid #877b63;position:absolute;}
.head_center{margin:0 auto;width:972px;}
.headerContainer_center{width:100%;float:left;position:absolute;border-bottom:1px solid #877b63;border-left:0px solid #877b63;z-index:0;background:#fff;background:url(/new/common/images/top_nav.png) repeat-x;}
.logo{border-top:0px solid #867b62;width:197px;display:block;float:left;margin-right:1px;}
.tabs{width:90px;margin-left:210px;display:block;border-left:1px solid #877b63;float:left;margin-right:1px;text-align:center;}
.tabs a{font-weight:bold;text-decoration:none;color:#444;}
.ad_product{float:left;margin-top:44px;margin-left:214px;}
/*header right starts here*/
.headerContainer_right{width:400px;float:right;right:0;position:absolute;text-align:right;}
.loginContainer{margin:5px 0 0 0;}
.loginContainer img{vertical-align:middle;margin-left:0px;}
.loginContainer span{font-size:12px;color:#333;margin-right:5px;}
.loginContainer a{color:#234696;text-decoration:none;}
.loginContainer .arrow{padding-right:10px;position:relative;}
/* login container starts */
.slidingDiv{padding:10px;border:1px solid #d3d1d1;border-top-width:4px;width:400px;background:#fff;top:0;left:500px;z-index:99;}
.show_hide{display:none;}
.basketContainer{box-shadow:inset 1px 1px 3px #666;-moz-box-shadow:inset 1px 1px 3px #666;background:#84a50c;border-radius:4px;text-align:center;float:right;margin-left:10px;height:27px;}
.basketContainer img{padding:6px;float:left;}
.basketContainer .item, .rate{padding:7px 4px;font-size:12px;color:#fff;float:left;display:inline-block;}
.basketContainer a{color:#fff;text-decoration:none;}
.basketContainer a:hover{color:#fff;text-decoration:underline;}
.searchwrapper{width:178px;height:27px;/*background-image:url(/new/common/images/icon-search-box.png);*/background-repeat:no-repeat;position:relative;float:right;}
.searchwrapper form{display:inline;}
.searchbox{background-color:transparent;border:0 none;height:24px !important; margin-top:1px;left:3px;padding:0 2px;position:absolute;*top:5px;width:140px;}
.searchbox_submit{border:0 none;height:27px;left:146px;padding:0;position:absolute;top:0px;width:30px;}
#navContainer{background:#877b63;width:100%;height:32px;}
.navContainer_inside{margin:auto;width:972px;}
.navContainer_left{float:left;width:780px;}
.navContainer_right{float:right;width:180px;}
/* Footer starts here */
/*#footer{width:100%;padding:0;margin:0;background:#666;}
#footerGreen{margin:auto;width:940px;background:#81a00c;padding:5px 10px;margin:auto;}
#footerGreen p{font-size:12px;line-height:18px;color:#fff;}
#footerContent{width:940px;overflow:auto;background:#362c23;padding:10px 10px;margin:auto;padding-bottom:0 !important;}
#footerContent_left{width:685px;float:left;}
#footerContent_right{width:255px;float:right;}
.footerContainer{margin-bottom:10px;float:left;}
.footerContainer ul{list-style-type:none;float:left;width:150px;}
.footerContainer li{font-size:13px;line-height:25px;display:block;margin-right:20px;}
.footerContainer li a{color:#fff;text-decoration:none;}
.footerContainer li a:hover{color:#999;}
.footerContainer h3{color:#a9d701;font-size:14px;font-weight:normal;display:block;margin-bottom:10px;text-transform:uppercase;}
#feedbackContainer{border-radius:5px;padding:10px;background:#494542;width:235px;margin-bottom:20px;}
.happyClients{margin-bottom:20px;}
.happyClients h3{color:#a9d701;font-size:14px;font-weight:normal;margin-bottom:10px;text-transform:uppercase;}
.happyClients p{color:#fff;font-size:13px;font-weight:normal;line-height:18px;margin-bottom:5px;}
.happyClients span{color:#999;font-size:12px;font-weight:normal;}
.happyClients a{color:#fff !important;text-decoration:underline;}
.feedback{margin-bottom:20px;}
.feedback h3{color:#a9d701;font-size:14px;font-weight:normal;margin-bottom:10px;text-transform:uppercase;}
.feedback label{font-size:13px;width:100%;display:block;color:#fff;}
.feedback input{float:right;width:150px;height:22px;padding:0 5px;}
.feedback textarea{float:right;width:150px;padding:0 5px;}
.feedback img{vertical-align:middle;margin-left:71px;}
.divideLine{padding:10px;border-radius:20px;margin:0 10px 10px 0;background:#75726f;height:80px;}
.divideLine_inner{float:left;padding:0 5px;}
.divideLine_heading{font-size:16px;color:#fff;font-weight:normal;text-align:center;margin-bottom:10px;}*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
.ac_name_holder{ padding:0px 0px !important;}}