@font-face{font-family:'SegoeUI';src:url('/new/common/font_source/SegoeUI.eot?') format('eot'),
url('/new/common/font_source/SegoeUI.woff') format('woff'),
url('/new/common/font_source/SegoeUI.ttf') format('truetype'),
url('/new/common/font_source/SegoeUI.svg#SegoeUI') format('svg');}
@charset "utf-8";body{margin:0;padding:0;font-family:"Segoe UI";}
@font-face{font-family:"Segoe UI";src:url(/new/common/font_source/segoeui_0.ttf);font-weight:normal;font-style:normal;}
h1, h2, h3, h4, h5, h6, p, form, div, table, ul, li, dt, dd, dl, img{margin:0px;padding:0px;border:0;}
#headerContainer{background-color:#48BAF0;background-repeat:repeat;height:94px;width:100%;margin-bottom:1px;position:relative;}
.headerContainer_inside{margin:auto;width:972px;}
.headerContainer_left{width:200px;float:left;position:absolute;padding-right:10px;background:#48BAF0;border-top:1px solid #234697;}
.head_left{float:left;background:#48BAF0;width:50%;margin-left:-480px;height:91px;z-index:1;border-top:1px solid #234697;position:absolute;}
.head_center{margin:0 auto;width:972px;}
.headerContainer_center{width:100%;float:left;position:absolute;border-bottom:1px solid #234697;border-left:0px solid #234697;z-index:0;background:#fff;background:url(file://///webart03/Repositories/petsglamnew/dogspot_new/new/common/images/top_nav.png) repeat-x;}
.logo{width:197px;display:block;float:left;margin-right:1px;}
.tabs{width:90px;margin-left:210px;display:block;border-left:1px solid #234697;float:left;margin-right:1px;text-align:center;}
.tabs a{font-weight:bold;text-decoration:none;color:#444;}
.headerContainer_right{width:400px;float:right;text-align:right;z-index:999;}
.loginContainer{margin:5px 0 0 0;}
.loginContainer img{vertical-align:middle;margin-left:5px;}
.loginContainer span{font-size:12px;color:#333;margin-right:5px;}
.loginContainer a{color:#234696;text-decoration:none;}
.loginContainer .arrow{padding-right:10px;position:relative;}
.slidingDiv{padding:10px;border:1px solid #d3d1d1;border-top-width:4px;width:400px;background:#fff;top:0;left:500px;z-index:99;}
.show_hide{display:none;}
.basketContainer{box-shadow:inset 1px 1px 3px #666;-moz-box-shadow:inset 1px 1px 3px #666;background:#2B82D2;border-radius:4px;text-align:center;float:right;margin-left:10px;height:27px;}
.basketContainer img{padding:6px;float:left;}
.basketContainer .item, .rate{padding:7px;font-size:12px;color:#fff;float:left;display:inline-block;}
.basketContainer a{color:#fff;text-decoration:none;}
.basketContainer a:hover{color:#fff;text-decoration:underline;}
.searchwrapper{width:178px;height:27px;background-image:url(/new/common/images/icon-search-box.png);background-repeat:no-repeat;position:relative;float:right;}
.searchwrapper form{display:inline;}
.searchbox{border:0px;background-color:transparent;position:absolute;top:3px;left:3px;width:140px;height:24px;padding:0 7px;}
.searchbox_submit{border:0px;background-color:transparent;position:absolute;top:0px;left:148px;width:30px;height:27px;}
#navContainer{background:#F7FFD8;width:100%;height:40px;float:left;display:table;}
.navContainer_inside{margin:auto;width:972px;display:table;}
.navContainer_left{float:left;width:971px;background:#f7ffd8;display:table;}
.navContainer_right{}
#footer{width:100%;padding:0;margin:0;background:#666;}
#footerGreen{margin:auto;width:940px;background:#2B82D2;padding:5px 10px;margin:auto;}
#footerGreen p{font-size:12px;line-height:18px;color:#fff;}
#footerContent{width:940px;overflow:auto;background:#362c23;padding:10px 10px;margin:auto;padding-bottom:0 !important;}
#footerContent_left{width:685px;float:left;}
#footerContent_right{width:255px;float:right;}
.footerContainer{margin-bottom:10px;float:left;}
.footerContainer ul{list-style-type:none;float:left;width:150px;}
.footerContainer li{font-size:13px;line-height:25px;display:block;margin-right:20px;}
.footerContainer li a{color:#fff;text-decoration:none;}
.footerContainer li a:hover{color:#999;}
.footerContainer h3{color:#a9d701;font-size:14px;font-weight:normal;display:block;margin-bottom:10px;text-transform:uppercase;}
#feedbackContainer{border-radius:5px;padding:10px;background:#494542;width:235px;margin-bottom:20px;}
.happyClients{margin-bottom:20px;}
.happyClients h3{color:#a9d701;font-size:14px;font-weight:normal;margin-bottom:10px;text-transform:uppercase;}
.happyClients p{color:#fff;font-size:13px;font-weight:normal;line-height:18px;margin-bottom:5px;}
.happyClients span{color:#999;font-size:12px;font-weight:normal;}
.happyClients a{color:#fff;text-decoration:underline;}
.feedback{margin-bottom:20px;}
.feedback h3{color:#a9d701;font-size:14px;font-weight:normal;margin-bottom:10px;text-transform:uppercase;}
.feedback label{font-size:13px;width:100%;display:block;color:#fff;}
.feedback input{float:right;width:150px;height:22px;padding:0 5px;}
.feedback textarea{float:right;width:150px;padding:0 5px;}
.feedback img{vertical-align:middle;margin-left:71px;}
.divideLine{padding:10px;border-radius:20px;margin:0 10px 10px 0;background:#75726f;height:80px;}
.divideLine_inner{float:left;width:31.5%;padding:0 5px;}
.divideLine_heading{font-size:16px;color:#fff;font-weight:normal;text-align:center;margin-bottom:10px;}
.sprite{background:url(/new/common/images/dogspot_sprites.png);}
.partners{width:96px;height:48px;}
.payment{width:49px;height:29px;}
.join{width:30px;height:30px;}
.loginSocial_sm{width:21px;height:21px;}
.loginSocial_big{width:66px;height:22px;}
.loginButton{width:68px;height:30px;}
.payu{background-position:-2px -2px;}
.ebs{background-position:-102px -2px;}
.junglee{background-position:-202px -2px;}
.shopclues{background-position:-302px -2px;}
.bluedart{background-position:-402px -2px;}
.delhivery{background-position:-502px -2px;}
.mastercard{background-position:-2px -60px;}
.visa{background-position:-55px -60px;}
.netbanking{background-position:-108px -60px;}
.cod{background-position:-161px -60px;}
.cheque{background-position:-214px -60px;}
.fb{background-position:-2px -99px;}
.twitter{background-position:-36px -99px;}
.gplus{background-position:-70px -99px;}
.linkedin{background-position:-104px -99px;}
.youtube{background-position:-138px -99px;}
.pinit{background-position:-171px -99px;}
.fb_sm{background-position:-2px -139px;}
.gm_sm{background-position:-28px -139px;}
.fb_big{background-position:-54px -139px;}
.gm_big{background-position:-125px -139px;}
.loginButton{background-position:-196px -139px;}
.cart_basket{float:left;}
.cart_basket .icon-basket1{float:left;margin:7px;}
.cart_basket a{float:left;background:url(http://www.fishspot.in/new/common/images/cart_fish.png) no-repeat 6px 7px;padding-right:6px;}
.cart_basket_txt{float:right;line-height:32px;padding-right:7px;color:#fff;margin-left:30px;}
.new_navigation>ul>li .bg-nav{background:url(/new/common/images/nav_line.jpg) no-repeat;float:left;width:2px;height:32px;}
.vs10{height:10px;overflow:hidden;float:left;width:100%;}
.new_item, .new_rate{float:left;line-height:32px;color:#fff;}
.new_rate{margin-right:7px;}
.new_item{margin-left:30px;}
.ds_topSubNav{width:366px;background:#fff;margin-left:0px;text-align:left;padding-bottom:5px;}
.subNav_col{display:inline-block;vertical-align:baseline;zoom:1;vertical-align:top;margin-right:10px;padding-right:10px;width:155px;text-align:left;font-family:"Segoe UI";}
.subNav_col h4{margin:0;padding:0;font-size:14px;color:#333;padding-left:10px;padding-top:8px;}
.ds_subMenuSmall{width:176px;background:#fff;margin-left:0px;text-align:left;padding-bottom:5px;}
.ds_mlMore{margin-left:-116px;}
.ds_mlCat{margin-left:-109px;}
.ds_mlHC{margin-left:-244px}
.view_morebrands a{font-weight:bold;font-family:segoe ui;font-size:14px;color:#668000;}
.view_all_products{margin-left:5px;margin-right:5px;background:#e7fb98;text-align:center;padding-top:4px;padding-bottom:4px;color:#668000;border-radius:3px;font-size:14px;}
.view_all_products a{color:#668000;font-size:14px;text-decoration:none;}
.header_top_left{float:left;width:845px;}
.header_top_right{float:left;width:120px;}
#nav-wrapper{margin:auto 0;position:relative;z-index:10;font-family:"Segoe UI";}
.new_navigation{height:40px;}
.new_navigation>ul{margin:0;padding:0;display:table;}
.new_navigation>ul>li{list-style:none;position:relative;height:40px;display:table-cell;vertical-align:middle;border-left:1px solid #b6d556;text-align:center;}
.new_navigation>ul>li>a{background-repeat:no-repeat;background-position:left;padding-right:12px;padding-left:12px;color:#668000;font-size:15px;display:inline-block;text-decoration:none;height:40px;line-height:16px;display:table-cell;vertical-align:middle;font-family:"Segoe UI";}
.new_navigation>ul>li>a .drop{background-position:right;background-image:url(/new/common/images/arrow-down-white.gif);background-repeat:no-repeat;padding-right:15px;}
.new_navigation>ul>li>a:hover .drop{background-position:right;background-image:url(/new/common/images/arrow-down-green.png);background-repeat:no-repeat;padding-right:15px;}
.new_navigation>ul>li>a.last-border{border-right:0!important;}
.new_navigation>ul>li>a.active{background:#f1f1f1;background:-moz-linear-gradient(top,#f1f1f1 0,#b2b0b4 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f1f1f1),color-stop(100%,#b2b0b4));background:-webkit-linear-gradient(top,#f1f1f1 0,#b2b0b4 100%);background:-o-linear-gradient(top,#f1f1f1 0,#b2b0b4 100%);background:-ms-linear-gradient(top,#f1f1f1 0,#b2b0b4 100%);background:linear-gradient(to bottom,#f1f1f1 0,#b2b0b4 100%);font-family:"Segoe UI";}
.new_navigation>ul>li>a.selected{background:#E7FB98!important;}
.new_navigation ul#navigation>li>a:hover{height:40px;}
.new_navigation>ul>li>a.active, .new_navigation>ul>li>a.selected{color:#779700;}
.drop-menu{background:#fff;top:40px;left:0;border:1px solid #ddd;z-index:10000!important;text-transform:none;font-family:"Segoe UI";font-size:15px;position:absolute;box-shadow:none;margin-left:-1px;}
ul.dscat-main{margin:0;padding:0px 9px;width:155px;line-height:12px;background:#fff;border-top:0;}
ul.dscat-main li{list-style:none;color:#688601;margin:8px 0;font-size:14px;}
ul.dscat-main>li>a{color:#2B82D2;display:block;padding:2px 0;width:100%;font-size:14px;text-decoration:none;font-family:"Segoe UI";}
ul.dscat-main>li>a:hover{width:100%;color:#668000;font-size:14px;text-decoration:none;font-family:"Segoe UI";padding:2px 0;}
ul.dscat-main>li>a.active{color:#444;cursor:pointer;}
ul.dscat-main>li>a.active:hover{}
ul.dscat-main>li>a.active .NavArrow{background-image:url(/new/common/images/arrow-right.png);background-repeat:no-repeat;background-position:right;display:inline-block;float:right;height:7px;width:4px;margin-top:7px;}
.cat-content{position:absolute;left:148px;top:0;}
.list-column{width:258px;}
.list-column .text-center{margin-right:-3px;}
.list-column.last{width:200px;}
.list-column .menu{padding:11px 0 0 40px;width:200px;}
.list-column .menu-last{padding:10px 0 0 15px;width:210px;height:139px;}
.list-column .menu p{margin:0 0 0 20px;color:#444;font-weight:bold;font-size:12px;text-transform:uppercase;}
.list-column .menu ul{margin:9px 0 0 20px;padding:0;}
.list-column .menu ul li{list-style:none;padding:0;margin:15px 0 0 0;font-size:14px;text-decoration:none;}
.list-column .menu ul li a{text-decoration:none;color:#779700;text-transform:capitalize;}
.list-column .menu ul li a:hover{background-image:none;color:#444;}
.fleft{float:left;}
.fright{float:right;}
.fssInd{font-size:1.1rem;z-index:1;}
input,select,textarea{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;outline:0;}
.hdMeta,.hdLogo,.hdMenu,.hdSearch,.hdUsps,.hdCart,.hdLink{position:absolute;left:16px;}
.hdMeta{top:0;width:100%;height:27px;overflow:hidden;}
.hdMetaLinks{float:right;font-size:10px;}
.hdMetaLinks li{display:inline;}
.hdMetaLinks li{padding-left:5px;}
input,select,textarea,button{font-size:12px;vertical-align:middle;color:#2f2f2f;}
input.input-text,textarea{padding:2px;}
textarea{overflow:auto;}
input.radio,input.checkbox{margin-right:3px;}
a{outline:0;color:inherit;text-decoration:none;}
.checkbox_bg{clear:both;padding:10px 0 15px 0;width:250px;*width:200px!important;}
.checkbox_bg_div{float:left;}
.checkbox_bg_div2{font-size:10px;margin:2px 0 0 0;float:left;}
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
.gender_div{padding:5px 0 0 0;margin:5px 0 0 0;width:282px;}
.gender_box{font-weight:normal;float:left;padding:2px 3px 0 0;}
.gender_radio{float:left;}
.gender_male{float:left;padding:2px 1px;}
.gender_female{float:left;padding:2px 1px;}
.hdMetaLinks_new{float:right;font-size:11px;margin-top:5px;}
.hdMetaLinks_new li{display:inline;padding:0 5px 0 0;}
.line_none{border:none !important;padding:0px !important;}
.hdMetaLinks_new li a,a.accountnew{color:#234696;padding:2px;display:inline;}
.tooltipBg{width:236px;height:185px;}
.tooltipBg .tooltip_close{float:right;padding:3px;cursor:pointer;color:#ccc;font-size:12px;letter-spacing:1px;}
.tooltip_mid{width:250px;background:#fcfafb;border:1px solid #877b63;border-top:4px solid #877b63 !important;border-radius:2px;margin-left:20px;*margin-left:15px!important;margin-top:-6px;overflow:auto;}
.tooltip_mid_content{padding:15px;}
.tooltip_mid-account{width:144px;background:none repeat scroll 0 0 #fff;border:1px solid #2B82D2;border-bottom:none !important;}
.signin_text{color:#000;font-size:16px}
.signin_input{border:1px solid #ccc;padding:5px;width:230px;margin-top:8px;color:#ccc;border-radius:4px;}
.signin_input1{border:1px solid #ccc;padding:5px;width:220px;margin-top:8px;color:#000;border-radius:4px;}
.newcustomer_text{padding:5px 0 0 0;font-size:12px}
.newcustomer_text a{cursor:pointer;text-decoration:none;}
.newcustomer_text a:hover{}
.forgot_text{padding:10px 0 0 0;font-size:12px;}
.forgot_text a{text-decoration:none;}
.forgot_text a:hover{text-decoration:underline;}
.sign_btn{background:url("/new/common/images/dogspot_sprites.png") -196px -139px no-repeat;border:medium none;color:#fff;cursor:pointer;font-size:13px;font-weight:bold;height:31px;margin:10px 0 0 0;padding:2px 0;width:68px;}
.hdMetaLinks_new li a.accountnew{background-position:right;padding-right:10px;background-image:url(/new/common/images/arrow-down-blue.png);background-repeat:no-repeat;}
.hdMetaLinks_new li a.accountnew:hover{background-position:right;padding-right:10px;background-image:url(/new/common/images/arrow-down-blue.png);background-repeat:no-repeat;}
.hdMetaLinks_new li a.arrow{padding-right:10px;display:block;}
.old-login-div{position:absolute;z-index:1000000;top:34px;right:0;display:none;}
.vert-one.new{width:173px!important;}
.vert-one.new>li>a{border-bottom:1px solid #ebebeb;}
.hdMetaLinks_new li a,a.accountnew{color:#04507c;padding:2px;display:inline;}
ul.vert-one{padding:0;list-style-type:none;display:block;font-size:12px;line-height:30px;}
ul.vert-one li{margin:0;padding:0;border-bottom:1px solid #48BAF0;background:#2B82D2;}
ul.vert-one li a{display:block;color:#FFF;padding:0 0 0 15px;text-decoration:none;}
ul.vert-one li a:hover{background-color:#ebebeb;font-weight:bold;color:#2B82D2;}
ul.vert-one li a span.arrow-icon{background:url("/new/common/images/arrow-right-hover.png")right no-repeat;width:8px;height:8px;vertical-align:middle;display:inline-block;margin-right:7px;}
ul.vert-one li a.current,ul.vert-one li a.current:hover{background-color:#ebebeb;font-weight:bold;}
.dog_btn{background-repeat:no-repeat;float:left;margin:1px 0 0 1px;}
.dog_btn a{width:91px;height:38px;float:left;cursor:pointer;}
.dog_btn a:hover{background:url("/new/common/images/dog_hover.png");width:91px;height:38px;background-repeat:no-repeat;float:left;cursor:pointer;}
@font-face{font-family:'SegoeUI';src:url('/new/common/font_source/SegoeUI.eot?') format('eot'),
url('/new/common/font_source/SegoeUI.woff') format('woff'),
url('/new/common/font_source/SegoeUI.ttf') format('truetype'),
url('/new/common/font_source/SegoeUI.svg#SegoeUI') format('svg');}
.spot_li_hp{position:relative;}
.spot_li_hp ul{float:left;margin:0px;padding:0px;}
.spot_li_hp>ul>li{float:left;list-style:none;padding:0px 7px;font-size:14px;line-height:17px;height:16px;border-right:1px solid #888;color:#000;}
.spot_li_hp ul li.no_border_hp{border:0px;}
.spot_li_hp .logIN_box.fl{top:24px;right:0px;z-index:9999;}
span.index_arrow-bottom{border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #3d4d00;position:absolute;top:-11px;right:18px;}
.spot_li_hp .logDetail_box.fl li{line-height:16px;}
.srch_hp.search_new input[type="text"]{width:572px;background:#fff;color:#333;}
.cart_hp{position:relative;border-radius:3px;background:#eee;border:1px solid #bfbfbf;color:#333;padding:2px 10px;margin-top:6px;}
div.labelCart_hp.fl{font-size:17px;text-transform:uppercase;padding:6px 7px 1px 7px;}
div.item_hp{position:absolute;right:-10px;top:-10px;background:#668000;color:#fff;width:26px;padding:4px 0;height:17px;text-align:center;vertical-align:middle;border-radius:12px;}
div.imgCart_hp.fl{padding-top:3px;}
.rytTop_hp .fb_dogSpot{margin-top:-2px;margin-right:5px}
.LogINBox_hp{font-family:'SegoeUI';}
.LogINBox_hp .check_logbox{font-family:'SegoeUI';float:left;text-align:left;width:208px;margin-left:13px;}
.LogINBox_hp .alt_log label{float:left;text-align:left;}
.LogINBox_hp{position:absolute;width:710px;top:50%;left:50%;margin-left:-355px;margin-top:-200px;background:#f8f8f8;box-shadow:0px 0px 1px 1px #888;z-index:99999;height:405px;}
div.logbanner_hp{position:absolute;z-index:9;bottom:0px;right:0px;}
.LogINBox_hp .check_log{float:left;width:455px;border:1px solid #bfbfbf;padding:10px;background:#fff;height:362px;position:relative;margin:10px;}
.LogINBox_hp .check_log label{font-size:11pt;float:left;width:234px;margin-top:6px;}
.LogINBox_hp .check_log input#pass1, .LogINBox_hp .check_log input#searchadd{width:250px;}
div.LoginBen_hp{float:left;text-align:left;width:197px;margin-top:34px;}
div.LoginBen_hp h3{font-size:17px;color:#555;font-weight:normal;width:197px;margin-top:10px;padding-bottom:5px;text-align:center;border-bottom:1px solid #888;}
div.LoginBen_hp ul{float:left;margin:0px;padding:0px;padding-top:5px;border-top:1px solid #FFFFFF;}
div.LoginBen_hp ul li{float:left;width:161px;list-style:disc;color:#444;font-size:14px;padding:3px 0;margin-left:33px;}
p.btn_conti input[type=submit]{background:#b72903;background:-webkit-gradient(linear, left top, left bottom, from(#f07635), to(#b72903));border:medium none;border-radius:5px;color:#fff;cursor:pointer;font-size:16px;font-weight:normal;height:32px;margin:6px 0px;text-transform:capitalize;padding:2px 0;width:80px;text-align:center;}
div.newUser_hp{float:left;background:#E0E0E0;width:475px;color:#555;margin:-10px;font-size:15px;padding:5px 0;margin-bottom:10px;border-bottom:1px solid #D1D0D0;}
div.newUser_hp a{color:#668000;}
.LogINBox_hp .check_logbox .eDetail_box.fl{margin:2px 0 0 0;}
.LogINBox_hp .check_logbox .eDetail_box.fl label{margin-top:0px;margin-bottom:4px;}
.LogINBox_hp .check_logbox .eDetail_box.fl select{width:201px;border:1px solid #888;border-radius:5px;}
.LogINBox_hp .check_logbox input{margin-top:5px;color:#333;}
.LogINBox_hp .check_logbox p.btn_conti{margin:0px 0 0px 0;width:96%;}
.LogINBox_hp .check_logbox p.btn_conti input[type=submit]{font-size:16px;}
.LogINBox_hp .check_log h3{font-size:21px;float:left;width:100%;margin:5px 0 20px;color:#668000;font-weight:normal;}
.LogINBox_hp .check_logbox p.btn_conti input[type=submit],.LogINBox_hp .check_logbox p.btn_conti input[type=button]{background:#b72903;background:-webkit-gradient(linear, left top, left bottom, from(#f07635), to(#b72903));border:medium none;border-radius:5px;color:#fff;cursor:pointer;font-size:16px;font-weight:normal;height:32px;margin:6px 0px;text-transform:capitalize;padding:2px 0;width:100%;text-align:center;}
.LogINBox_hp .check_logbox p{margin:5px 0 10px 0;}
.scrollHead_new{float:left;width:100%;box-shadow:0 1px 3px rgba(0,0,0,0.2);background-color:rgba(255,255,255,0.98);position:fixed;top:0px;z-index:9999;}
#search_bar_div{width:100%;box-shadow:0 1px 3px rgba(0,0,0,0.2);background-color:rgba(255,255,255,0.98);top:0px !important;z-index:8888 !important;position:relative;padding-top:0px;margin-left:0px;z-index:8888;display:none;}
.search_new.fl{position:relative;}
.srchRslt_new{padding:0px;border:1px solid #bfbfbf;background-color:white;overflow:hidden;z-index:999;text-align:left;top:32px;border-left:0px;left:21px;position:absolute;width:571px !important;border-radius:2px;}
.srchRslt_new ul{width:100%;list-style-position:outside;list-style:none;padding:0;z-index:999;margin:0;text-align:left;}
.srchRslt_new li{margin:0px;padding:6px 10px;cursor:default;display:block;z-index:999;border-left:3px solid #bfbfbf;font:menu;border-bottom:1px solid #bfbfbf;font-size:12px;line-height:16px;overflow:hidden;text-align:left;}
.srchRslt_new li:hover{box-shadow:1px 1px 34px 0px #ddd inset;border-left:3px solid #666;}
.srchRslt_hp{float:left;width:100%;}
.srchRsltImg_hp{float:left;margin:5px;}
.srchRsltTxt_hp{float:left;margin:20px 5px;}
div.errorPop{float:left;color:#D34F4F;background:#FCE2E6;border-radius:0 0 5px 5px !important;padding:7px 0 !important;border:1px solid #D34F4F;font-size:13px;width:100%;top:0;text-align:center;left:0;position:absolute;margin:-1px;}
.spot_li_hp>ul>li .fish_hp{text-decoration:none;}
.spot_li_hp>ul>li .fish_hp:hover{color:#2B82D2;text-decoration:none;}
.spot_li_hp>ul>li .supp_hp{text-decoration:none;}
.spot_li_hp>ul>li .supp_hp:hover{color:#668000;text-decoration:none;}
div.headSrch_hp{float:left;width:100%;border-left:3px solid #bbb;border-bottom:1px solid #bfbfbf;color:#000;background:#eee;padding:5px 11px;font-weight:bold;font-size:14px;}
.srchRslt_new li .catSrch_hp{color:#668000;}
.hp_search_iconnew,.hp_carr_iconnew,.or_img_iconnew, .hp_loginwith_fb, .hp_loginwith_gmail,.hp_ds_logonew{background: url("/new/common/images/sprites_ds.png") no-repeat scroll 0% 0% transparent;float: left; margin-left: 3px;}
.hp_search_iconnew{cursor: pointer;  float: left;  width: 42px; height: 34px; background-position: -3px -46px; margin-left: -5px;}
.hp_carr_iconnew{background-position: -46px -46px ; float: left; width: 26px; height: 25px; background-position: -46px -46px; margin-left: -3px;}
.or_img_iconnew{width: 35px;height: 175px; background-position:-462px -218px;}
.hp_loginwith_fb{width: 150px;height: 50px;background-position: -299px -319px;}
.hp_loginwith_gmail{width: 150px;height: 50px;background-position: -299px -376px;}
.hp_ds_logonew{width: 184px;height: 45px;  background-position:-6px -266px;}
.headBox_new.fl {width: 100%;margin-top: 5px;position:relative;}
.logo_new.fl {margin: 0px 25px 6px 0;}
.search_new.fl {margin:5px 10px;}
.search_new input[type="text"] {width: 340px;height: 33px;padding: 10px;font-size: 16px;font-weight: normal;float: left;border-radius: 5px 0 0 5px;border: 1px solid #aaa;border-right: 0px;}
.search_new img{ float:left;}
.ryt_box_new.fr {/*width: 352px;*/margin: 11px 0;}
.ryt_box_new.rytLikefb.fr{/* width:294px;*/}
.fb_dogSpot {float: left;margin: 4px 0 0 6px;position: relative;z-index: 9999;}
.logBox_new.fl {padding: 6px;background: #eee;margin-left: 7px;border-radius: 3px;font-size: 11px;border: 1px solid #aaa;}
.logBox_new.fl:hover{background: #f7ffd8;}
.logBox_new.fl.active{background: #f7ffd8;}
.siteBox_new.fl {width: 100%;margin-top: 5px;}
.logoBox_new.fl {margin-left: 0px;margin-bottom: 7px;}
.siteBanner.fl {background: #fff;font-family:Arial, Helvetica, sans-serif;position:relative; color:#5C5C5C;width: 100%;line-height: 23px;padding: 6px 0px;border-bottom: 1px solid #A0A0A0;}
.fl.bannerText {margin-right: 30px;font-size: 17px;}
.logIN_box.fl {background: #fcfafb;padding: 5px 10px ;width:270px;border-radius: 0 0 2px 2px;border:1px solid #3d4d00;border-top: 5px solid #3d4d00;position: absolute;top: 38px;z-index: 999;}
.log_Intext.fl{ width:100%; color:#3d4d00;font-size: 17px;}
.new_userTxt.fr{ width:100%;text-align: left; margin:4px 0;}
.logIN_box a {text-decoration: underline; cursor:pointer;}
.logIN_box a:hover {text-decoration: none;}
.logDetail_box.fl{ width:270px;}
.eDetail_box.fl{ width:270px;margin: 8px 0;}
.eDetail_box.fl label{ width:70px;margin: 6px 0;float: left;}
.eDetail_box.fl input[type="password"], .eDetail_box.fl input[type="text"], select{ width:200px;border-radius: 2px;padding: 5px;border: 1px solid #bfbfbf; color:#000;margin: 0px;}
.logIN_box input[type="button"], .logIN_box input[type="submit"]{background: #b72903;background: -webkit-gradient(linear, left top, left bottom, from(#f07635), to(#b72903));border: medium none; border-radius:2px;color: #fff;cursor: pointer;font-size: 16px;font-weight: bold;height: 34px;margin:6px 0px;padding: 2px 0;width:100%; text-align:center;}
.logIN_box input[type="checkbox"] {margin: 1px 4px;}
.careDetail {font-size: 14px;}
.logIN_box.fl .or_img {float: left;margin: 0px 0 0 16px;}
.logDetail_box.fl li {float: left;list-style: none;width: 130px;padding: 5px;}
.logDetail_box.fl li a{ text-decoration:none;}
.logDetail_box.fl li a:hover{ text-decoration:underline;}
.log_newHead {float: left;width: 140px;padding: 5px 15px;margin: 0 -10px -5px -10px;border-top: 1px solid #bfbfbf;}
.log_newHead a {background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e8e7e7));background: -moz-linear-gradient(top, #ffffff, #e8e7e7);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e8e7e7');background: -o-linear-gradient(#ffffff, #e8e7e7);border: 1px solid #cfcfcf;width: 130px;float: left;border-radius: 2px;text-decoration:none;padding: 5px;text-align: center;}
.up_arw{float: right;position: absolute; cursor:pointer;right: 59px;padding: 8px;margin-top: 3px; border-radius: 50%; background:url(/new/common/images/arrow_full_up.png) no-repeat}
.up_arw:hover{ background:url(/new/common/images/arrow_full_up-hover.png) no-repeat;}
.down_arw{float: right;cursor:pointer;padding: 8px;border-radius: 50%; background: url(/new/common/images/arrow_down.png) no-repeat}
.down_arw:hover{ background:url(/new/common/images/arrow_down_hover.png) no-repeat}
.arw_box {position: absolute;right: 0px;top: 42px;padding: 10px;background: #333;}
.arw_box {position: absolute;right: 48px;top: 0;padding: 5px 10px;border: 1px solid #aaa;background: #fff;border-top: 0px;border-radius: 0 0 5px 5px;}
.close_new {float: right;position: absolute;right: 49px;padding: 4px;}
.breadcrumb{float: left;}
#tabs{float:left;margin:0px;}
.ds-helper-clearfix:before,
.ds-helper-clearfix:after{content:"";display:table;border-collapse:collapse;}
.ds-helper-clearfix:after{clear:both;}
.ds-helper-clearfix{min-height:0;}
.ds-tabs{position:relative;padding:0;float:left;margin-top:5px;width:100%;}
.ds-tabs .ds-tabs-nav{margin:0;padding:0px;}
.ds-tabs .ds-tabs-nav li{list-style:none;float:left;position:relative;top:0;margin:0px;border-bottom-width:0;padding:0;white-space:nowrap;cursor:pointer;font-family:"Segoe UI";font-size:16px;}
.ds-tabs .ds-tabs-nav .ds-tabs-anchor{float:left;padding:0.4em 0.8em;text-decoration:none;}
.ds-tabs .ds-tabs-nav li.ds-tabs-active{margin-bottom:0px;padding-bottom:0px;}
.ds-tabs .ds-tabs-nav li.ds-tabs-active .ds-tabs-anchor,
.ds-tabs .ds-tabs-nav li.ds-state-disabled .ds-tabs-anchor,
.ds-tabs .ds-tabs-nav li.ds-tabs-loading .ds-tabs-anchor{cursor:text;}
.ds-tabs-collapsible .ds-tabs-nav li.ds-tabs-active .ds-tabs-anchor{cursor:pointer;}
.ds-tabs .ds-tabs-panel{display:block;border-width:0;height:38px;background:none;}
.ds-tooltip{padding:8px;position:absolute;z-index:9999;max-width:300px;-webkit-box-shadow:0 0 5px #aaa;box-shadow:0 0 5px #aaa;}
body .ds-tooltip{border-width:2px;}
.ds-widget{font-family:Verdana,Arial,sans-serif;font-size:16px;}
.ds-widget .ds-widget{font-size:14px;}
.ds-widget input,
.ds-widget select,
.ds-widget textarea,
.ds-widget button{font-family:"Segoe ds";font-size:14px;}
.ds-widget-content{background:#668000;color:#222222;}
.ds-widget-content a{color:#222222;}
.ds-widget-header{background:#668000;color:#222222;}
.ds-widget-header a{color:#fff;}
.ds-state-default,
.ds-widget-content .ds-state-default,
.ds-widget-header .ds-state-default{background:#668000;font-weight:normal;color:#fff;}
.ds-state-default a,
.ds-state-default a:link,
.ds-state-default a:visited{color:#fff;text-decoration:none;}
.ds-state-hover,
.ds-widget-content .ds-state-hover,
.ds-widget-header .ds-state-hover,
.ds-state-focus,
.ds-widget-content .ds-state-focus,
.ds-widget-header .ds-state-focus{background:#E7FB98;font-weight:normal;color:#668000;}
.ds-state-hover a,
.ds-state-hover a:hover,
.ds-state-hover a:link,
.ds-state-hover a:visited,
.ds-state-focus a,
.ds-state-focus a:hover,
.ds-state-focus a:link,
.ds-state-focus a:visited{color:#668000;text-decoration:none;color:#fff;}
.ds-state-active,
.ds-widget-content .ds-state-active,
.ds-widget-header .ds-state-active{background:#F7FFD8;font-weight:normal;color:#212121;}
.ds-state-active a,
.ds-state-active a:link,
.ds-state-active a:visited{color:#668000;text-decoration:none;}
.choose_tab{color:#fff;margin-left:10px;margin-top:8px;}
.robotic { display: none; }
label.error{color:#F00!important;line-height: 17px!important;font: bolder 14px arial!important;margin-right: 1px!important;display:none !important;text-align: right!important;font-weight:100!important;float:left;
font-family:Arial!important;font-size:12px!important;}
input.error{border:1px medium!important;}
input::-webkit-input-placeholder {color: #CCC;}
input:focus::-webkit-input-placeholder {color: white;}
#loginFormnew input.error {border: 1px solid #f00;}
#resigterFormnew input.error{/*display:block !important;  */border: 1px solid #f00;}
#resigterFormnew select.error{/*display:block !important;  */border: 1px solid #f00;}
/* Firefox < 19 */input:-moz-placeholder {color: #CCC;}
input:focus:-moz-placeholder {color: white;}
/* Firefox > 19 */
input::-moz-placeholder {color: #CCC;}
input:focus::-moz-placeholder {color: white;}
/* Internet Explorer 10 */
input:-ms-input-placeholder {color: #CCC;}
input:focus:-ms-input-placeholder { color: white;}


