/* CSS Document */
.headBox_new.fl {
width: 100%;margin-top: 5px;
position:relative;
}
.logo_new.fl {margin: 0px 25px 6px 0;}
.search_new.fl {
margin:5px 10px;
}
.search_new input[type="text"] {
width: 340px;
height: 33px;padding: 10px;
font-size: 16px;
font-weight: normal;
float: left;
border-radius: 5px 0 0 5px;
border: 1px solid #aaa;
border-right: 0px;
}
.search_new img{ float:left;}
.ryt_box_new.fr {/*width: 352px;*/
margin: 11px 0;
}
.ryt_box_new.rytLikefb.fr{/* width:294px;*/}
.fb_dogSpot {float: left;margin: 4px 0 0 6px;position: relative;
z-index: 9999;}
.logBox_new.fl {
padding: 6px;
background: #eee;
margin-left: 7px;
border-radius: 3px;font-size: 11px;
border: 1px solid #aaa;
}
.logBox_new.fl:hover{
background: #f7ffd8;}
.logBox_new.fl.active{
background: #f7ffd8;}
.siteBox_new.fl {
width: 100%;margin-top: 5px;
}
/*.logoBox_new.fl {
margin-left: 240px;
}*/
.logoBox_new.fl {
margin-left: 0px;
margin-bottom: 7px;
}
.siteBanner.fl {
background: #fff;font-family:Arial, Helvetica, sans-serif;
position:relative; color:#5C5C5C;
width: 100%;line-height: 23px;
padding: 6px 0px;
border-bottom: 1px solid #A0A0A0;
}
.fl.bannerText {
margin-right: 30px;
font-size: 17px;
}
.logIN_box.fl {
background: #fcfafb;
padding: 5px 10px ;
width:270px;
border-radius: 0 0 2px 2px;
border:1px solid #3d4d00;
border-top: 5px solid #3d4d00;
position: absolute;
top: 38px;
z-index: 999;
}
.log_Intext.fl{ width:100%; color:#3d4d00;font-size: 17px;}
.new_userTxt.fr{ width:100%;text-align: left; margin:4px 0;}
.logIN_box a {
text-decoration: underline; cursor:pointer;
}
.logIN_box a:hover {
text-decoration: none;
}
.logDetail_box.fl{ width:270px;}
.eDetail_box.fl{ width:270px;margin: 8px 0;}
.eDetail_box.fl label{ width:70px;margin: 6px 0;
float: left;}
.eDetail_box.fl input[type="password"], .eDetail_box.fl input[type="text"], select{ width:200px;border-radius: 2px;padding: 5px;
border: 1px solid #bfbfbf; color:#000;margin: 0px;}
.logIN_box input[type="button"], .logIN_box input[type="submit"]{background: #b72903;background: -webkit-gradient(linear, left top, left bottom, from(#f07635), to(#b72903));
border: medium none; border-radius:2px;
color: #fff;
cursor: pointer;
font-size: 16px;
font-weight: bold;
height: 34px;
margin:6px 0px;
padding: 2px 0;
width:100%; text-align:center;
}
.logIN_box input[type="checkbox"] {
margin: 1px 4px;
}
.careDetail {
font-size: 14px;
}
.logIN_box.fl .or_img {
float: left;
margin: 0px 0 0 16px;
}
.logDetail_box.fl li {
float: left;
list-style: none;
width: 130px;
padding: 5px;
}
.logDetail_box.fl li a{ text-decoration:none;}

.logDetail_box.fl li a:hover{ text-decoration:underline;}
.log_newHead {
float: left;
width: 140px;
padding: 5px 15px;
margin: 0 -10px -5px -10px;
border-top: 1px solid #bfbfbf;
}
.log_newHead a {
background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e8e7e7));
background: -moz-linear-gradient(top, #ffffff, #e8e7e7);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e8e7e7');
background: -o-linear-gradient(#ffffff, #e8e7e7);
border: 1px solid #cfcfcf;
width: 130px;
float: left;
border-radius: 2px;
text-decoration:none;
padding: 5px;
text-align: center;
}

.up_arw{float: right;
position: absolute; cursor:pointer;
right: 59px;
padding: 8px;margin-top: 3px; 
border-radius: 50%; background:url(/new/common/images/arrow_full_up.png) no-repeat}
.up_arw:hover{ background:url(/new/common/images/arrow_full_up-hover.png) no-repeat;}
.down_arw{float: right;cursor:pointer;
padding: 8px;
border-radius: 50%; background: url(/new/common/images/arrow_down.png) no-repeat}
.down_arw:hover{ background:url(/new/common/images/arrow_down_hover.png) no-repeat}
.arw_box {
position: absolute;
right: 0px;
top: 42px;
padding: 10px;
background: #333;
}
.arw_box {
position: absolute;
right: 48px;
top: 0;
padding: 5px 10px;
border: 1px solid #aaa;
background: #fff;
border-top: 0px;
border-radius: 0 0 5px 5px;
}
.close_new {
float: right;
position: absolute;
right: 49px;
padding: 4px;
}
.breadcrumb{float: left;}