@font-face {
	font-family: 'SegoeUI';
	src: url('/new/common/font_source/SegoeUI.eot?') format('eot'), 
	     url('/new/common/font_source/SegoeUI.woff') format('woff'), 
	     url('/new/common/font_source/SegoeUI.ttf')  format('truetype'),
	     url('/new/common/font_source/SegoeUI.svg#SegoeUI') format('svg');
}

#nav-wrapper{
	margin:auto 0;
	position: relative;
	z-index: 10;
	font-family:"Segoe UI";
}
.new_navigation{
	height: 48px;
}
.new_navigation>ul{
	margin: 0;
	padding: 0;
	display: table;
}
.new_navigation>ul>li{
	list-style: none;
	position: relative;
	height:48px;
	display:table-cell;
	vertical-align:middle;
	border-left: 1px solid #7f962e;
	text-align: center;
}
.new_navigation>ul>li>a{
	
	background-repeat: no-repeat;
	background-position:left;
	padding-right: 12px;
	padding-left: 12px;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	display: inline-block;
	text-decoration:none;
	height: 48px;
display: table-cell;
vertical-align: middle;

	
}

.new_navigation>ul>li>a .drop{
	background-position:right;
	background-image: url(/new/common/images/arrow-down-white.gif);
	background-repeat: no-repeat;
	padding-right:15px;
}
.new_navigation>ul>li>a:hover .drop{
	background-position: right;
	background-image: url(/new/common/images/arrow-down-green.png);
	background-repeat: no-repeat;
	padding-right: 15px;
}

.new_navigation>ul>li>a.last-border{
	border-right: 0!important;
}
.new_navigation>ul>li>a.active{

background:#f1f1f1;
background:-moz-linear-gradient(top,#f1f1f1 0,#b2b0b4 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f1f1f1),color-stop(100%,#b2b0b4));
background:-webkit-linear-gradient(top,#f1f1f1 0,#b2b0b4 100%);
background:-o-linear-gradient(top,#f1f1f1 0,#b2b0b4 100%);
background:-ms-linear-gradient(top,#f1f1f1 0,#b2b0b4 100%);
background:linear-gradient(to bottom,#f1f1f1 0,#b2b0b4 100%);
	/*background: #E9ECF5;
	background: -moz-linear-gradient(top,#f1f1f1 0,#b2b0b4 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f1f1f1),color-stop(100%,#b2b0b4));
	background: -webkit-linear-gradient(top,#f1f1f1 0,#b2b0b4 100%);
	background: -o-linear-gradient(top,#f1f1f1 0,#b2b0b4 100%);
	background: -ms-linear-gradient(top,#f1f1f1 0,#b2b0b4 100%);
	background: linear-gradient(to bottom,#f1f1f1 0,#b2b0b4 100%);*/
}
.new_navigation>ul>li>a.selected{
	background:#f7ffd8!important;
}

.new_navigation ul#navigation>li>a:hover{
	height: 48px;
}
.new_navigation>ul>li>a.active, .new_navigation>ul>li>a.selected{
	color: #779700;
	/*border-top: #779700 solid 3px;
	margin-top: -3px;*/
}

/*.new_navigation>ul>li>a.active, .new_navigation>ul>li>a.selected{
	color: #779700;
	border-top: #779700 solid 3px;
	margin-top: -3px;
}*/
.drop-menu{
	border-right: #bdbdbd solid 1px;
	border-bottom: #bdbdbd solid 1px;
	background: #fcfafa;
	top: 48px;
	left: 0;
	-webkit-box-shadow: 1px 4px 6px -1px rgba(135,135,135,0.8);
	box-shadow: 1px 4px 6px -1px rgba(135,135,135,0.8);
	z-index: 10000!important;
	text-transform:uppercase;
}
ul.dscat-main{
	margin: 0;
	padding:0px 9px;
	width: 155px;
	line-height:12px;
	/*-webkit-box-shadow: 3px 4px 10px -1px rgba(177,177,177,0.4);
	box-shadow: 3px 4px 10px -1px rgba(177,177,177,0.4);*/
	background:#F7FFD8;
	border-top: 0;
}
ul.dscat-main li{
	list-style: none;
	color: #688601;
	margin:8px 0;
	font-size:14px;
}
ul.dscat-main>li>a{
	color: #2B82D2;
	display: block;
	padding: 3px 0;
	width: 100%;
	font-size: 13px;
	text-decoration: none;
}
ul.dscat-main>li>a:hover{
}
ul.dscat-main>li>a.active{
	color: #444;
	cursor: pointer;
}
ul.dscat-main>li>a.active:hover{
}
ul.dscat-main>li>a.active .NavArrow{
	background-image:url(/new/common/images/arrow-right.png);
	background-repeat:no-repeat;
	background-position:right;
	display: inline-block;
	float: right;
	height: 7px;
	width: 4px;
	margin-top: 7px;
}
.cat-content{
	position: absolute;
	left: 148px;
	top: 0;
}
.list-column{
	width:258px;
}
.list-column .text-center{
	margin-right: -3px;
}
.list-column.last{
	width: 200px;
}
.list-column .menu{
	padding: 11px 0 0 40px;
	width: 200px;
}
.list-column .menu-last{
	padding: 10px 0 0 15px;
	width: 210px;
	height: 139px;
}
.list-column .menu p{
	margin: 0 0 0 20px;
	color: #444;
	font-weight:bold;
	font-size: 12px;
	text-transform: uppercase;
}
.list-column .menu ul{
	margin: 9px 0 0 20px;
	padding: 0;
}
.list-column .menu ul li{
	list-style: none;
	padding: 0;
	margin: 15px 0 0 0;
	font-size: 14px;
	text-decoration: none;
}
.list-column .menu ul li a{
	text-decoration: none;
	color:#779700;
	text-transform:capitalize;
}

.list-column .menu ul li a:hover{
	background-image: none;
	color: #444;
}
.fleft{
	float: left;
}
.fright{
	float: right;
}


/* login tooltip starts */

.fssInd{
	font-size: 1.1rem;
	z-index: 1;
}

input,select,textarea{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
}
.hdMeta,.hdLogo,.hdMenu,.hdSearch,.hdUsps,.hdCart,.hdLink{
	position: absolute;
	left: 16px;
}
.hdMeta{
	top: 0;
	width: 100%;
	height: 27px;
	overflow: hidden;
}
.hdMetaLinks{
	float: right;
	font-size: 10px;
}
.hdMetaLinks li{
	display: inline;
}
.hdMetaLinks li{
	padding-left: 5px;
}
input,select,textarea,button{
	font-size:12px;
	vertical-align: middle;
	color: #2f2f2f;
}
input.input-text,textarea{
	padding: 2px;
}
textarea{
	overflow: auto;
}
input.radio,input.checkbox{
	margin-right: 3px;
}
a{
	outline: 0;
	color: inherit;
	text-decoration: none;
}

.checkbox_bg{
	clear: both;
	padding: 10px 0 15px 0;
	width: 250px;
	*width:200px!important;
}
.checkbox_bg_div{
	float: left;
}
.checkbox_bg_div2{
	font-size: 10px;
	margin: 2px 0 0 0;
	float: left;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear{
	clear: both;
}
.gender_div{
	padding: 5px 0 0 0;
	margin: 5px 0 0 0;
	width: 282px;
}
.gender_box{
	font-weight: normal;
	float: left;
	padding: 2px 3px 0 0;
}
.gender_radio{
	float: left;
}
.gender_male{
	float: left;
	padding: 2px 1px;
}
.gender_female{
	float: left;
	padding: 2px 1px;
}

.hdMetaLinks_new{
	float: right;
	font-size: 11px;
	margin-top: 5px;
}
.hdMetaLinks_new li{
	display: inline;
	padding: 0 5px 0 0;
}
.line_none{ border:none !important; padding:0px !important;}
.hdMetaLinks_new li a,a.accountnew{
	color: #234696;
	padding: 2px;
	display: inline;
}

.tooltipBg{
	width: 236px;
	height: 185px;
}
.tooltipBg .tooltip_close{
	float: right;
	padding: 3px;
	cursor: pointer;
	color: #ccc;
	font-size: 12px;
	letter-spacing: 1px;
}
.tooltip_mid{
	width: 250px;
	background: #fcfafb;
	border: 1px solid #877b63;
	border-top: 4px solid #877b63 !important;
	border-radius: 2px;
	margin-left: 20px;
	*margin-left:15px!important;
	margin-top: -6px;
	overflow:auto;
}
.tooltip_mid_content{
	padding: 15px;
}
.tooltip_mid-account{
	width: 144px;
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #2B82D2;
	border-bottom:none !important;
}

.signin_text{
	color: #000;
	font-size: 16px
}
.signin_input{
	border: 1px solid #ccc;
	padding: 5px;
	width: 230px;
	margin-top: 8px;
	color: #ccc;
	border-radius:4px;
}
.signin_input1{
	border: 1px solid #ccc;
	padding: 5px;
	width: 220px;
	margin-top: 8px;
	color: #000;
	border-radius:4px;
}
.newcustomer_text{
	padding: 5px 0 0 0;
	font-size: 12px
}
.newcustomer_text a{
	cursor: pointer;
	text-decoration: none;
}
.newcustomer_text a:hover{
}
.forgot_text{
	padding: 10px 0 0 0;
	font-size: 12px;
}
.forgot_text a{
	text-decoration: none;
}
.forgot_text a:hover{
	text-decoration: underline;
}
.sign_btn{
	background: url("/new/common/images/dogspot_sprites.png") -196px -139px no-repeat;
	border: medium none;
	color: #fff;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	height: 31px;
	margin: 10px 0 0 0;
	padding: 2px 0;
	width: 68px;
}

.hdMetaLinks_new li a.accountnew{
	background-position: right;
	padding-right: 10px;
	background-image: url(/new/common/images/arrow-down-blue.png);
	background-repeat: no-repeat;
}
.hdMetaLinks_new li a.accountnew:hover{
	background-position: right;
	padding-right: 10px;
	background-image: url(/new/common/images/arrow-down-blue.png);
	background-repeat: no-repeat;
}

.hdMetaLinks_new li a.arrow{
padding-right: 10px;
display:block;
}


.old-login-div{
	position: absolute;
	z-index: 1000000;
	top:34px;
	right:0;
	display: none;
}
.vert-one.new{
	width: 173px!important;
}
.vert-one.new>li>a{
	border-bottom: 1px solid #ebebeb;
}
.hdMetaLinks_new li a,a.accountnew{
	color: #04507c;
	padding: 2px;
	display: inline;
}
ul.vert-one{
	padding: 0;
	list-style-type: none;
	display: block;
	font-size: 12px;
	line-height: 30px;
}
ul.vert-one li{
margin: 0;
padding: 0;
border-bottom: 1px solid #48BAF0;
	background:#2B82D2;
}
ul.vert-one li a{
	display: block;
	color: #FFF;
	padding: 0 0 0 15px;
	text-decoration: none;
}
ul.vert-one li a:hover{
	background-color: #ebebeb;
	font-weight: bold;
	color:#2B82D2;
	
}

ul.vert-one li a span.arrow-icon{
	background: url("/new/common/images/arrow-right-hover.png")right no-repeat;
	width: 8px;
	height: 8px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 7px;
}
ul.vert-one li a.current,ul.vert-one li a.current:hover{
	background-color: #ebebeb;
	font-weight: bold;
}
.dog_btn{
background-repeat: no-repeat;
float: left;
margin: 1px 0 0 1px;

	/*background:url("/new/common/images/dog_link.png"); width:91px; height:38px; background-repeat:no-repeat; float:left;*/}
.dog_btn a{width:91px; height:38px; float:left; cursor:pointer;}
.dog_btn a:hover{background:url("/new/common/images/dog_hover.png"); width:91px; height:38px;background-repeat:no-repeat; float:left; cursor:pointer;}


/* login tooltip starts */
