@font-face {
	font-family: 'SegoeUI';
	src: url('/new/common/font_source/SegoeUI.eot?') format('eot'), 
	     url('/new/common/font_source/SegoeUI.woff') format('woff'), 
	     url('/new/common/font_source/SegoeUI.ttf')  format('truetype'),
	     url('/new/common/font_source/SegoeUI.svg#SegoeUI') format('svg');
}



#nav-wrapper{margin:auto 0;position:relative;z-index:10;}
.navigation{height:32px;}
.navigation>ul{margin:0;padding:0;}
.navigation>ul.fleft{ float:left !important;}
.navigation>ul>li{list-style:none;position:relative;height:32px;float:left; font-family:'SegoeUI';}
.navigation>ul>li>a:hover{background:#f7ffd8!important;color:#779700;border-top:#779700 solid 3px;margin-top:-3px; }

.navigation > ul > li > a{/*background-image:url("/new/common/images/bg-nav.png");*/background-position:left center;background-repeat:no-repeat;color:#FFFFFF;display:inline-block;font-size:14px;line-height:32px;padding-left:12px;padding-right:12px;text-decoration:none;text-transform:uppercase;font-family: 'SegoeUI'; margin-left:-2px;}
.navigation > ul > li:hover .arrow-down-white { background-position: -359px -45px;}
.navigation>ul>li>a .drop{background-position:right;background-repeat:no-repeat;padding-right:11px;}
/*.navigation>ul>li>a:hover .drop{background-position:right;background-image:url(/new/common/images/arrow-down-green.png);background-repeat:no-repeat;padding-right:11px;}*/
.navigation>ul>li>a.last-border{border-right:0!important;}
.navigation>ul>li>a.active{background:#f1f1f1;background:-moz-linear-gradient(top,#f1f1f1 0,#b2b0b4 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f1f1f1),color-stop(100%,#b2b0b4));background:-webkit-linear-gradient(top,#f1f1f1 0,#b2b0b4 100%);background:-o-linear-gradient(top,#f1f1f1 0,#b2b0b4 100%);background:-ms-linear-gradient(top,#f1f1f1 0,#b2b0b4 100%);background:linear-gradient(to bottom,#f1f1f1 0,#b2b0b4 100%);}
.navigation>ul>li>a.selected{background:#f7ffd8!important;}
.navigation ul#navigation>li>a:hover{height:32px;}
.navigation>ul>li>a.active, .navigation>ul>li>a.selected{color:#779700;border-top:#779700 solid 3px;margin-top:-3px;height:32px;}
.drop-menu {
border-right: #bdbdbd solid 1px;
border-bottom: #bdbdbd solid 1px;
background: #fcfafa;
/* position: absolute; */
/* top: 32px; */
position: relative;
float: left;
/* left: 0; */
-webkit-box-shadow: 1px 4px 6px -1px rgba(135,135,135,0.8);
box-shadow: 1px 4px 6px -1px rgba(135,135,135,0.8);
/* z-index: 10000!important; */
text-transform: uppercase;
}
.drop-menu.drop-menu_width{ width:667px;}
ul.cat-main{margin:0;padding:0px 12px;width:170px;line-height:12px;-webkit-box-shadow:3px 4px 10px -1px rgba(177,177,177,0.4);box-shadow:3px 4px 10px -1px rgba(177,177,177,0.4);background:#f7ffd8;border-top:0;}
ul.fleft.cat-main{ float:left !important;}
ul.cat-main li{list-style:none;color:#688601;margin:8px 0;font-size:14px;}
ul.cat-main>li>a{color:inherit;display:block;padding:3px 0;width:100%;font-size:13px;text-decoration:none;}
ul.cat-main>li>a:hover{}
ul.cat-main>li>a.active{color:#444;cursor:pointer;}
ul.cat-main>li>a.active:hover{}
ul.cat-main>li>a.active .NavArrow{background-image:url(/new/common/images/arrow-right.png);background-repeat:no-repeat;background-position:right;display:inline-block;float:right;height:7px;width:4px;margin-top:4px;}
.cat-content {
position: absolute;
left: 218px;
top: 0;z-index: 888;
height: 532px;
width: 413px;
background: #fff;
background:url(/new/pix/menu-banner11.png) no-repeat 8px bottom #fff;
box-shadow: 1px 1px 1px 1px #C9C9C9;
}
.list-column{width:200px;}
.list-column .text-center{margin-right:-3px;}
.list-column.last{width:200px;}
.list-column .menu{padding:11px 0 0 0px;width:206px;}
.list-column .menu-last{padding:10px 0 0 15px;width:210px;height:139px;}
.list-column .menu p{margin:0 0 0 20px;color:#444;font-weight:bold;font-size:12px;text-transform:uppercase;}
.list-column .menu ul{margin:9px 0 0 20px;padding:0;}
.list-column .menu ul li{list-style:none;padding:0;margin:10px 0 0 0;font-size:14px;text-decoration:none;}
.list-column .menu ul li a{text-decoration:none;color:#779700;text-transform:capitalize;}
.list-column .menu ul li a:hover{background-image:none;color:#444;}
.fleft{float:left;}
.fright{float:right;}
/* login tooltip starts */
.fssInd{font-size:1.1rem;z-index:1;}
input,select,textarea{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;outline:0;}
.hdMeta,.hdLogo,.hdMenu,.hdSearch,.hdUsps,.hdCart,.hdLink{position:absolute;left:16px;}
.hdMeta{top:0;width:100%;height:27px;overflow:hidden;}
.hdMetaLinks{float:right;font-size:10px;}
.hdMetaLinks li{display:inline;}
.hdMetaLinks li{padding-left:5px;}
input,select,textarea,button{font-size:12px;vertical-align:middle;color:#2f2f2f;}
input.input-text,textarea{padding:2px;}
textarea{overflow:auto;}
input.radio,input.checkbox{margin-right:3px;}
a{outline:0;color:inherit;text-decoration:none;}
.checkbox_bg{clear:both;padding:10px 0 15px 0;width:250px;*width:200px!important;}
.checkbox_bg_div{float:left;}
.checkbox_bg_div2{font-size:10px;margin:2px 0 0 0;float:left;}
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
.gender_div{padding:5px 0 0 0;margin:5px 0 0 0;width:282px;}
.gender_box{font-weight:normal;float:left;padding:2px 3px 0 0;}
.gender_radio{float:left;}
.gender_male{float:left;padding:2px 1px;}
.gender_female{float:left;padding:2px 1px;}
.hdMetaLinks_new{float:right;font-size:11px;margin-top:3px;}
.hdMetaLinks_new li{display:inline;padding:0;}
.hdMetaLinks_new li a,a.accountnew{color:#234696;padding:2px;display:inline;}
.tooltipBg{width:236px;height:185px; position:absolute;right: 14px;}
.tooltipBg .tooltip_close{float:right;padding:3px;cursor:pointer;color:#ccc;font-size:12px;letter-spacing:1px;}
.tooltip_mid{width:250px;background:#fcfafb;border:1px solid #877b63;border-top:4px solid #877b63 !important;border-radius:2px;margin-left:20px;*margin-left:15px!important;margin-top:-6px;overflow:auto;}
.tooltip_mid_content{padding:15px; text-align:left;}
.tooltip_mid-account{width:144px;background:none repeat scroll 0 0 #fff;border:1px solid #97bd08;border-bottom:none !important;}
.signin_text{color:#000;font-size:16px}
.signin_input{border:1px solid #ccc;padding:5px;width:200px;margin-top:8px;border-radius:4px;}
.signin_input1{border:1px solid #ccc;padding:5px;width:200px;margin-top:8px;color:#000;border-radius:4px;}
.newcustomer_text{padding:5px 0 0 0;font-size:12px}
.newcustomer_text a{cursor:pointer;text-decoration:none;}
.newcustomer_text a:hover{}
.forgot_text{padding:10px 0 0 0;font-size:12px;}
.forgot_text a{text-decoration:none;}
.forgot_text a:hover{text-decoration:underline;}
.sign_btn{background:url("/new/common/images/dogspot_sprites.png") -196px -139px no-repeat;border:medium none;color:#fff;cursor:pointer;font-size:13px;font-weight:bold;height:31px;margin:10px 0px;padding:2px 0;width:68px;}
.hdMetaLinks_new li a.accountnew{background-position:right;/*background-image:url(/new/common/images/arrow-down-blue.png);background-repeat:no-repeat;*/}
.hdMetaLinks_new li a.accountnew:hover{background-position:right;/*background-image:url(/new/common/images/arrow-down-blue.png);background-repeat:no-repeat;*/}
.hdMetaLinks_new li a.arrow{padding-right:10px;display:block;}
.old-login-div{position:absolute;z-index:1000000;top:32px;right:0;display:none;}
.vert-one.new{width:173px!important;}
.vert-one.new>li>a{border-bottom:1px solid #ebebeb;}
.hdMetaLinks_new li a,a.accountnew{color:#04507c;padding:2px;display:inline;}
ul.vert-one{padding:0;list-style-type:none;display:block;font-size:12px;line-height:30px;}
ul.vert-one li{margin:0;padding:0;border-bottom:1px solid #cbef33;background:#edffab;}
ul.vert-one li a{display:block;color:#000;padding:0 0 0 15px;text-decoration:none;}
ul.vert-one li a:hover{background-color:#ebebeb;font-weight:bold;}
ul.vert-one li a span.arrow-icon{background:url("/new/common/images/arrow-right-hover.png")right no-repeat;width:8px;height:8px;vertical-align:middle;display:inline-block;margin-right:7px;}
ul.vert-one li a.current,ul.vert-one li a.current:hover{background-color:#ebebeb;font-weight:bold;}
/* login tooltip starts */
.menu_banner {position: absolute;top: 306px;width: 273px;height: 63px;right: 39px;display: block;z-index: -9999;background: url("/new/common/images/happy_dog.png") no-repeat;}
/*home page variant*/
   .index_menu{ float:left; width: 220px; margin-top:-360px; font-family:SegoeUI;}
   .index_menu>ul{ float:left;position:relative;margin-left: -3px;}
   .index_menu>ul>li{ float:left; list-style:none; width: 215px; }
   .index_menu>ul>li>a{ float:left; padding:8px 28px 9px 12px; border-bottom:1px solid #668000; background:#f7ffd8; color:#000;width:81%;border-left: 3px solid #668000;border-right: 1px solid #668000;color: #779700;padding:9px 28px 9px 12px\9\0;font-size: 14px;}
   .ie10 .index_menu>ul>li>a{padding:9px 28px 15px 12px;}
   html[data-useragent*='MSIE 10.0'].index_menu>ul>li>a{padding:9px 28px 15px 12px;}

   .index_menu>ul>li>a:hover,.index_menu>ul>li>a.active_Menu_hp {
text-decoration: none;
background: #fff;
color: #668000;
border-left: 3px solid #668000;
}
.index_arrow-right {
	width: 0; float:right; margin:3px 0;
	height: 0; 
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	
	border-left: 4px solid #668000;
}
.index_menu>ul>li>a:hover .index_arrow-right{border-left: 4px solid #668000;}
div.rightNav_new {
float: left;

}
.navigation>ul>li>a.activeNav_new{ background:#3d4d00;}
.navigation>ul>li>a.activeNav_new:hover{background: #3d4d00 !important; color:#fff; border-top: none;margin-top: 0px;}
div.index_menu.subNav_new {
    position: absolute;
    margin: 0px;
    z-index: 999;
    width: 161px;
}
div.index_menu.subNav_new ul li {
    width: 146px;
}
.navigation > ul > li > a .nav_arrowbottom{border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-top: 5px solid #FFFFFF;
float: right;
margin-top: -18px;
margin-left: 10px;}
.navigation > ul > li > a:hover .nav_arrowbottom, div.index_menu.subNav_new:hover .nav_arrowbottom{border-top: 5px solid #668000;}
div.navicon {
height: 3px;
float: left;
width: 20px;
margin: 9px 8px 0 -4px;
border-top: 9px double #fff;
border-bottom: 3px solid #fff;
font-size: 0;
}
.navigation > ul > li > a .nav_arrowbottomwag{   
 border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-top: 5px solid #FFFFFF;
float: right;
margin-top: -18px;
margin-left: 10px;
}
.navigation > ul > li > a:hover .nav_arrowbottomwag{border-top: 5px solid #668000;}

div.wagmar_top6
{
	margin-top:6px;
	}
	div.wagmar_bot6
{
	margin-bottom:6px;
	}

div.dogRegister_btn
{
	width: 190px;
	
	}
	div.dogRegister_btn a
{
	background: none repeat scroll 0% 0% #AFD71C;
float: left;
padding: 10px 5px;
margin: 16px 0px;
color: #FFF;
border-radius: 2px;
text-align: center;
width: 190px;
font-size: 14px;
text-transform: uppercase;
	}
	div.dogRegister_btn a:hover {
    text-decoration: none;
    background:#000000;
}
div.wag_pdl25{
		padding-left:25px;
		}
div.subNav_newHp {
    float: left;
    width: 100%;
    background: #f7ffd8;
    position: absolute;
    top: 32px;
    z-index: 99;
    font-size: 12px;height: 430px;
    border-bottom: 1px solid #668000;
    padding: 10px 0;
}
div.navBlock_hp {
    float: left;
    width: 182px;
	font-family:SegoeUI;
}

div.navBlockwag_hp
{
	float:left;
	width:145px;
	}
div.dogBreed_navHp {
    float: left;
    /* border-right: 1px solid #668000; */
    margin-right: 10px;
	width:184px;
	height:auto;
}
div.dogNav_img
{ margin-bottom:5px;
	}
div.navBlock_hp a {
    float: left;
    width: 184px;
    margin: 2px 0;
    color: #668000;
	font-family:SegoeUI;
	font-size: 14px;
}
div.artcile_navHp {
    float: left;
    /* border-right: 1px solid #668000; */
    margin-right: 10px;
	width:184px;
    height: 293px;
}
div.qna_navHp {
    float: left;
    /* border-right: 1px solid #668000; */  
	margin-right: 10px;  
	height: 293px;
	width:184px;
}
div.classified_navHp {
    float: left;
    /* border-right: 1px solid #668000; */
	 margin-right: 10px; 
	  height: 293px;
	  width: 184px;
    padding-right: 10px;
}
div.dogshow_navHp {
    float: left;
	width:184px;
}
div.navBlock_hp a:hover {
    color: #444;
    text-decoration: none;
	font-family:SegoeUI;
}
div.headNAV_hp {
    width: 100%;
    color: #fe511b;
    margin-bottom: 5px;
	font-family:SegoeUI;
	font-size: 13px;
}
div.linkPage_hp {
float: left;
width: 100%;
margin-top: 4px;
color: #fe511b;
font-size:14px;
}div.linkPage_hp a {
    text-decoration: none;
    color: #fe511b;
}
div.linkPage_hp a:hover {
    text-decoration: none;
    color: #000;
}
.wagClub_navHp{
    float: left;
    /*border-right: 1px solid #668000;*/
    margin-right: 10px; width:600px;
}
.wagtag_navHp{ float:left; }
#navContainer{ position:relative;}
div.wagBlock_hp {
    float: left;
    padding: 10px;
}
div.wagLink_hp {
    float: left;
    width: 160px;
	margin-top: 19px;
}
div.wagLink_hp a {
    background: #AFD71C;;
    float: left;
    padding: 10px 5px;
    margin: 16px 0;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    width: 159px;
    font-size: 14px;
    text-transform: uppercase;
}
div.wagLink_hp a:hover {
    text-decoration: none;
    background:#000000;
}
.navigation>ul>li .bg-nav.fr {
float: right;
}
.wagClub_navHp div.wagBanner_hp.fl {
    width: 300px;
    height: 300px;margin: 10px 0;
margin-right: 2%;overflow: hidden;
}
.wagClub_navHp div.wag_indexSec {
    width: 348px;
    height: 348px;
}
.wagClub_navHp .wagBanner_hp .wag_indexSec .dg_popBox.dg_pop2Box {
    margin: 3px;
    padding: 5px;
    float: left;
}
.wagBanner_hp .wag_indexSec .dg_popBox.dg_pop2Box.navWC_wtBox {
width: 85px;
height: 85px;
overflow: hidden; float:left;
padding: 0px;
position: relative;
border: 2px solid #668000;
margin: 0px 12px 12px 0;
}
div.nav_knwMore_wc {
    float: left;
}
div.knwMrTxt_nav {
    margin-bottom: 4px;
    margin-top: 4px;
    font-weight: bold;
}
div.navBlock_hp strong {
color: #555;margin: 4px 0;
float: left
}
div.linkPage_hp .dbNav_hp {
margin-top: 14px;
}
.wagBanner_hp .wag_indexSec .dg_popBox.dg_pop2Box.navWC_wtBox div.dg_popImg {
width: 85px;
height: 85px;
border: 0px;
border-radius: 0px;
}
.dg_popTxt {
    float: left;
    display: none;
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.82);
    margin-top: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
    height: 100%;
    position: absolute;
}
.dg_popTxt h3 {
    text-transform: uppercase;
    font-size: 11px;
    margin-top: 2px;
    margin-bottom: 1px;
}
.dg_popTxt h4 {
    color: #668000;
    font-size: 11px;
    margin-bottom: 2px;
}
div.dgh_popText
{
    float: left;
    display: none;
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.82);
    margin-top: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
    height: 100%;
    position: absolute;
	}
div.dgh_popText h3 {
    text-transform: uppercase;
    font-size: 11px;
    margin-top: 2px;
    margin-bottom: 1px;
}
div.dgh_popText h4 {
    color: #668000;
    font-size: 11px;
    margin-bottom: 4px;
}
	
div.navBlock_hp.locWC_hp{ width:140px; font-family:SegoeUI;}

div.dogAdooptionBlock
{
float: left;
margin-right: 10px;
width: 480px;
}
div.AdoptionImgBlock
{
margin-top: 10px;
margin-bottom: 10px;
}
div.dogDonationBlock
{
float: left;
width: 460px;
margin-left:10px;
}
div.dogDonationBannerBlock
{
	margin-top: 10px;
    margin-bottom: 10px;
	}
div.navBlock_hp.petwelfareBlock{width: 233px; font-family: SegoeUI;}
div.dogDonationImgBlock
{
	width:215px;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
	margin-right:5px;
}
div.dogDonationName
{
	font-size:16px;
	 margin-top:7px;
	 margin-bottom:7px;
	 color:#669900;
	}
div.pet_welfare
{
	font-size:20px;
	color:#000;
	}
	div.pet_welfare a:hover
	{
	 text-decoration:none;
	}
	.color_red
	{
	 color:#f00;
	 font-size:20px;
	}
	.color_black
	{
		color:#000;
		font-size:20px;
		}