.prd-details-sec, .product-desc {
	margin: 30px 0px;
}
.prd-details-sec .ds-p-title h1 {
	font-size: 33px;
	font-weight: normal;
	margin: 0px;
}
.prd-details-sec .ds-p-span {
	font-size: 14px;
	margin-top: 15px;
}
.prd-details-sec .ds-p-span span {
	font-size: 14px;
}
.ds-p-span .ds-p-in-stock {
	color: #6c9d06;
}
.ds-p-span .ds-p-out-of-stock {
	color: #f00;
}
.ds-p-span span {
	margin-right: 5px;
}
.ds-p-span span a {
	text-decoration: none;
	color: #333;
}
.ds-p-description {
	margin-top: 15px;
	color: #888;
	font-size: 14px;
	line-height: 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
}
.ds-p-pincode {
	padding: 15px 0px;
	font-size: 15px;
	border-bottom: 1px solid #ddd;
}
.ds-p-pincode span {
	color: #6c9d06;
	margin-right: 10px;
}
.ds-p-pincode .check-now-btn {
	background: #9d9d9d;
	color: #fff;
	border-left: 0px;
	cursor: pointer;
	height: 42px;
	border: none;
	width: 103px;
}
.ds-p-pincode input {
	border: 1px solid #333;
	padding: 10px;
	font-size: 14px;
}
.ds-price-details {
	padding: 15px 0px;
}
.ds-price-details .ds-p-dis-price {
	color: #ff7a22;
	font-size: 33px;
	margin-right: 10px;
}
.ds-price-details .ds-p-cross-price {
	font-size: 33px;
	color: #888;
}
.ds-price-details .price-tex {
	font-size: 14px;
	font-style: italic;
	color: #888;
	margin-top: 5px;
}
.ds-shiping-details {
	font-size: 13px;
	padding: 10px 0px 15px 0px;
	border-bottom: 1px solid #ddd;
}
.ds-shiping-details .ds-p-shipping-p {
	color: #ff7a22;
}
.ds-shiping-details span a {
	color: #6c9d06;
	margin-left: 5px;
	text-decoration: underline;
}
.ds-shiping-details .ds-p-cod {
	float: right;
}
.ds-shiping-details .ds-cod-a {
	color: #6c9d06;
}
.ds-shiping-details .ds-cod-n {
	color: #f00;
}
.ds-p-scq-box {
	text-transform: uppercase;
	color: #555;
}
.ds-p-scq-box span {
	margin-right: 15px;
}
.ds-p-scq-box select {
	border-radius: 0px;
	width: 65px;
	padding: 5px;
	border: 1px solid #ddd;
	margin-left: 5px;
}
.ds-p-scq-box .ds-p-qqty-minus, .ds-p-qqty-plus {
	width: 25px;
	height: 25px;
	font-size: 14px;
	font-weight: bold;
	color: #666;
	border: 1px solid #ddd;
	background: #f8f8f8;
	cursor: pointer
}
.ds-p-qqty-minus {
	margin-left: 10px;
	border-right: 0px !important;
}
.ds-p-qqty-plus {
	margin-left: -4px;
	border-left: 0px;
}
.ds-p-btn-section {
	padding: 15px 0px;
}
.ds-p-btn-section {
	padding: 15px 0px;
}
.ds-p-btn-section .ds-p-add-to-cart {
	color: #ff7a22;
	font-size: 18px;
	border: 1px solid #ff7a22;
	background: #fff;
	font-family: 'lato', sans-serif;
	padding: 6px 0px;
	width: 150px;
	cursor: pointer;
	text-transform: uppercase;
}
.ds-p-add-to-cart:hover {
	background: #ff7a22;
	font-size: 18px;
	color: #fff;
}
.ds-p-buy-now-cart {
	background: #ff7a22;
	font-size: 18px;
	color: #fff;
	width: 150px;
	padding: 6px 0px;
	border: none;
	margin-left: 10px;
	text-transform: uppercase;
	cursor: pointer;
	border: 1px solid #ff7a22;
}
.ds-p-buy-now-cart:hover, .ds_buy_now_mediumbtn:hover {
	color: #ff7a22;
	font-size: 18px;
	background: #fff;
}
.add-to-my-wishlist a {
	text-decoration: underline;
	color: #6c9d06;
}
.add-to-my-wishlist a:hover, .ds-p-combo-name a:hover {
	color: #888;
}
.ds-p-combo-box {
	background: #f4f4f4;
	padding: 20px 0px;
	box-shadow: 0px 0px 7px #ccc;
}
.ds-p-combo-box h2 {
	font-size: 18px;
	font-weight: normal;
}
.ds-p-combo-products {
	display: table-cell;
	margin: 10px;
	vertical-align: top;
	padding: 20px 10px 0 0px;
	width: 150px;
}
.ds-product-check-box {
	position: absolute;
	overflow: hidden;
}
.ds-product-check-box input[type=checkbox] {
	display: none;
}
.ds-product-check-box input[type=checkbox] + label {
	padding-left: 28px;
	display: inline-block;
	line-height: 14px;
	background-repeat: no-repeat;
	cursor: pointer;
	height: 27px;
}
.ds-product-check-box label {
	background-image: url('../images/checkbox-v3.jpg');
	color: #888;
	font-size: 13px;
	letter-spacing: 0.6px;
	font-family: 'lato', sans-serif;
}
.ds-product-check-box input[type=checkbox]:checked + label {
	background-position: 0px -23px;
}
.ds-p-combo-plus-box {
	display: table-cell;
	margin: 10px;
	font-weight: bold;
	vertical-align: top;
	padding-top: 74px;
	font-size: 28px;
	width: 25px;
	padding-left: 2px;
	color: #555;
	padding-right: 5px;
}
.ds-p-comb_img {
	float: left;
	width: 150px;
	margin-bottom: 10px;
	background: #fff;
	text-align: center;
	padding: 10px 0px;
	border: 1px solid #999;
}
.ds-como-buy-now-s {
	float: left;
	margin-top: 80px;
}
.ds-p-combo-total {
	font-size: 30px;
	color: #ff7a22;
	margin-bottom: 10px;
}
.ds_buy_now_mediumbtn {
	background: #ff7a22;
	border: 1px solid #ff7a22;
	font-size: 18px;
	color: #fff;
	width: 146px;
	padding: 8px 0px;
	border: 1px solid #ff7a22;
	text-transform: uppercase;
	cursor: pointer;
}
.ds-p-combo-name {
	margin: 0px 0px 10px 0px;
	float: left;
}
.ds-p-combo-name a {
	font-size: 14px;
	color: #333;
	text-decoration: none;
}
.ds-p-combo-name a:hover {
	color: #ff7a22;
	text-decoration: none;
}
.col1-layout {
	margin: 30px 0px;
}
.ds-p-combo-price {
	font-size: 16px;
	float: left;
}
.product-desc {
	font-family: 'Lato', sans-serif;
	letter-spacing: 0.6px;
	font-size: 14px;
	color: #333;
}
.ds-header-new_cont {
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}
.product-desc h2, .product-desc h3 {
	font-size: 17px;
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 20px;
	border-bottom: 1px solid #ddd;
	    font-weight: 600;
}
.p-ind-desc h3 {
	text-align: center;
}
.p-ind-desc-box {
	width: 100%;
}
.p-head {
	float: left;
	width: 100%;
	margin-bottom: 20px;
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
}
.p-ind-item-desc {
	font-size: 14px;
	float: left;
	width: 100%;
	line-height: 20px;
	margin-bottom: 20px;
	line-height: 20px;
}
.p-ind-descrion-p ul {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px 0px 20px;
}
.p-ind-descrion-p ul li {
	margin-left: 20px;
	line-height: 24px;
}
p-ind-descrion-p{ line-height:24px;}
.p-ind-descrion-p table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #ddd;
	margin-bottom: 20px;
	overflow-y: scrool;
}
.p-ind-descrion-p table td {
	border: 1px solid #ddd;
	padding-left: 3px;
}
.product_list:last-child {
	border-bottom: none;
}
.smililars_p_img img {
	height: 170px;
	width: 181px;
}
.product_list {
	text-align: center;
	border-bottom: 1px solid #ccc;
	width: 175px;
	margin: auto auto 10px;
}
.smililars_p_details {
	font-size: 14px;
	color: #888;
	line-height: 20px;
	text-align: left;
}
.smililars_p_details a {
	text-decoration: none;
	color: #333;
}
.smililars_p_details a:hover {
	text-decoration: none;
	color: #ff7a22;
}
.smililars_p_price {
	font-size: 20px;
	margin-bottom: 10px;
	text-align: left;
	color: #888;
}
.smililars_p_details a:hover {
	color: #222;
}
#dspzoom {
	display: none;
	margin-bottom: 50px;
}
/* Large thumbnail: */
#dspzoom .dspzoom_thumb {
	background: white url(../images/loading.gif) center no-repeat;
	padding: 6px;
}
/* Large thumbnail - image (in case you want to add a border around the image within the frame) */
#dspzoom .dspzoom_thumb_image {
}
/* Small thumbnails: */
#dspzoom .dspzoom_small_thumbs li {
	background: white;
	border: 1px solid #ddd;
	margin: 10px;
	padding: 3px;
}
/* The one on the left that makes them slide */
#dspzoom ul li.dspzoom_smallthumb_first {
}
/* The one on the right that makes them slide */
#dspzoom ul li.dspzoom_smallthumb_last {
}
/* The currently active one */
#dspzoom ul li.dspzoom_smallthumb_active {
	-webkit-box-shadow: 0 0 10px #ddd;
	-moz-box-shadow: 0 0 10px #ddd;
	box-shadow: 0 0 10px #ddd;
}
/* Zoomed image area: */
#dspzoom .dspzoom_zoom_area, .dspzoom_zoom_area {
	background: white url(../images/loading.gif) center no-repeat;
	border: 1px solid #ddd;
	padding: 6px;
	-webkit-box-shadow: 0 0 10px #ddd;
	-moz-box-shadow: 0 0 10px #ddd;
	box-shadow: 0 0 10px #ddd;
}
/* Magnifier area (thumbnail hovering rectangle): */
#dspzoom .dspzoom_magnifier {
	background: white;
	border: 1px solid #bbb;
}
/* Icon that will apear at the left bottom of the large thumbnail (optional): */
#dspzoom .dspzoom_icon {
	background: url(../images/zoom.png) no-repeat;
	width: 14px;
	height: 14px;
}
/* Hint that will apear at the top right of the large thumbnail (optional): */
#dspzoom .dspzoom_hint {
	background: url(../images/hint.gif) no-repeat;
	width: 130px;
	height: 57px;
}
/* Description area (optional) */
#dspzoom .dspzoom_description {
	background: white;
	font-style: italic;
	margin: 10px;
	padding: 6px 10px;
}
.dspzoom, .dspzoom_thumb, .dspzoom_thumb_image, .dspzoom_source_image, .dspzoom_zoom_preview, .dspzoom_icon, .dspzoom_hint {
	display: none
}
.dspzoom, .dspzoom ul, .dspzoom li, .dspzoom img, .dspzoom_hint, .dspzoom_icon, .dspzoom_description {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none
}
.dspzoom, .dspzoom_magnifier div, .dspzoom_magnifier div img, .dspzoom_small_thumbs ul, ul .dspzoom_small_thumbs li, .dspzoom_zoom_area div, .dspzoom_zoom_img {
	position: relative
}
.dspzoom img, .dspzoom li {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	user-drag: none
}
.dspzoom, .dspzoom_small_thumbs li {
	float: left
}
.dspzoom_right {
	float: right
}
.dspzoom li {
	position: absolute;
	padding-bottom: 10px;
}
.dspzoom img {
	vertical-align: bottom;
	max-width: none
}
.dspzoom_magnifier {
	cursor: default
}
.dspzoom_magnifier div, .dspzoom_small_thumbs {
	overflow: hidden
}
.dspzoom_magnifier div img {
	display: none
}
.dspzoom_icon, .dspzoom_hint {
	cursor: default;
	width: 0;
	height: 0;
	overflow: hidden
}
.dspzoom_small_thumbs li.vertical {
	float: none
}
.dspzoom_zoom_area {
	z-index: 996
}
.dspzoom_zoom_area div {
	overflow: hidden;
	z-index: 997
}
.dspzoom_zoom_preview {
	position: absolute;
	z-index: 998
}
.dspzoom_zoom_img, .dspzoom_hint {
	z-index: 999
}
.dspzoom {
	direction: ltr
}
div.dspzoom_description {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 999
}
div.dspzoom_description.rtl {
	direction: rtl;
	text-align: right
}
#example2 {
	display: none;
	margin-bottom: 50px;
	margin-top: 50px;
}
.discount-sticker {
	right: 5px;
	font-size: 15px;
	width: 45px;
	height: 45px;
	line-height: 45px;
}
.aff-mar-sec {
	border-top: 1px solid #ddd;
}
.aff-logo-sec, .aff-price-sec {
	padding-top: 5px;
}
.aff-price {
	font-size: 20px;
	color: #ff7a22;
	font-weight: 600;
}
.aff-price-sec .ds-p-cross-price {
	font-weight: 600;
	font-size: 20px;
	color: #888;
}
.shipping_details .modal-dialog{max-width: 800px; width: 100%;}
.shipping_details .modal-body{background: #fff; color: #555;}
.shipping_details .modal-body .text-shp {
    text-align: left;
    font-size: 13px;
    padding: 0px 20px;
    color: #555;
    line-height: 20px;
    margin-bottom: 3px;
}
.shipping_details .modal-body .sh-text-m h2 {
    margin-bottom: 5px;
    color: #333;
    padding: 5px 20px 5px 20px;
    font-size: 16px;
    font-weight: normal;
    font-family: lato, sans-serif;
    text-transform: uppercase;
}