.enableSvg #Search_field .logo,#Search_field .enableSvg .logo,.enableSvg #Search_field .searchCategoryCellEmpty,#Search_field .enableSvg .searchCategoryCellEmpty,.enableSvg #Search_field .searchCategoryClip,#Search_field .enableSvg .searchCategoryClip, .enableSvg #Search_field .searchCategoryClip_2,#Search_field .enableSvg .searchCategoryClip_2, .enableSvg #Search_field .searchInputContainer,#Search_field .enableSvg .searchInputContainer,.enableSvg #Search_field .searchSubmit,#Search_field .enableSvg .searchSubmit,.enableSvg #Search_field .navItemContent.saved .heart,#Search_field .navItemContent.saved .enableSvg .heart,.enableSvg #Search_field .navBarContentContainer .plus,#Search_field .navBarContentContainer .enableSvg .plus{background-image:url(images/search_icon.png); cursor:pointer;
}
.noJS #Search_field .searchCategory{filter:alpha(opacity=100);-ms-filter:"alpha(opacity=100)";opacity:1;position:relative;top:-2px;left:4px}
.noJS #Search_field .searchCategoryContainer{position:relative}
.noJS #Search_field .searchCategoryLabel{display:none}
.noJS #Search_field .navBar{display:none}
#Search_field{}
#Search_field table{width:100%}
#Search_field table,#Search_field tr,#Search_field td{padding:0;margin:0;vertical-align:top;border-collapse:collapse}
#Search_field .navHead{}
#Search_field .navHeadContentContainer{height:60px;margin:0 auto;max-width:510px; min-width:510px}
#Search_field .navHeadContent{height:60px}

#Search_field .searchText{padding-left:34px;padding-top:24px;font-size:12px!important}
#Search_field .searchText label{cursor:default}
#Search_field .searchBarCell{width:100%}
#Search_field .searchBarContainer{padding:0 0; margin: -14px 32px 0 0; margin: -39px 32px 0 0\9; }
#Search_field .searchBarContainer{margin: -39px 32px 0 0\0/IE9}
#Search_field .searchBarTable{position:relative;top:13px;height:34px}
#Search_field .searchCategoryCell{color:#808080;font-size:12px!important; border-right:1px solid #dedcdc;  float:right; height:26px; width:19px;}
#Search_field .searchCategoryCellEmpty{background-position:0 -596px;width:3px}
#Search_field .searchCategoryClip{display:block;height:34px;line-height:34px;color:#877b63;overflow:hidden;background-position:-4px -731px;cursor:pointer; text-transform:uppercase;}
#Search_field .searchCategoryClip_2{display:block;height:34px;line-height:34px;background-position:0 -731px;cursor:pointer; width:20px !important;}
.searchCategoryCell label{ width:19px !important;}
#Search_field .searchCategoryClip:hover{background-position:-4px -731px;color:#877b63; text-transform:uppercase;}
#Search_field .searchCategoryClip:hover .searchCategoryArrow{width:0;height:0;border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #333}
#Search_field .searchCategoryClip:active,#Search_field .searchCategoryClip:focus,#Search_field .searchCategoryClip.active{background-position:-4px -731px;color:#877b63}
#Search_field .searchCategoryClip:active .searchCategoryArrow,#Search_field .searchCategoryClip:focus .searchCategoryArrow,#Search_field
.searchCategoryClip.active .searchCategoryArrow{width:0;height:0;border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #877b63}
#Search_field .searchCategoryClip .searchCategoryArrow{display:inline-block;position:relative;margin-left:5px;top:9px;width:0;height:0;border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid gray;pointer-events:none; left:3px;}
#Search_field .searchCategoryContainer{position:relative;display:table;overflow:hidden;padding:5px;padding-left:0;margin:3px 0;border:0; height: 28px; line-height: 23px;  text-align:left; left: -32px;}
#Search_field .searchCategoryLabel{position:absolute;padding:0 5px;padding-left:10px;white-space:nowrap;pointer-events:none;}
#Search_field .searchCategory{filter:alpha(opacity=0);-ms-filter:"alpha(opacity=0)";opacity:0;position:absolute;padding:2px;margin:0;border:0;height:24px;line-height:24px;outline:0;outline-width:0;color:#808080;background:#fff;border:1px solid #ccc; text-transform:uppercase; left:11px;}
#Search_field .searchCategory option{color:#877b63; font-size:12px; border-bottom:1px solid #ededed; padding:5px 35px; text-transform:uppercase;}
#Search_field .searchInputContainer{width:30%;padding-left:5px!important;background-position:-4px -731px;background-repeat:repeat-x}
#Search_field .searchInput{display:block;width:23%;height:20px;line-height:14px;border:0;background:0;margin:0;padding:3px 0;font-size:14px!important; position:absolute; z-index:9999; color:#444444;}
#Search_field .searchSubmitContainer{display:table-cell;width:56px}
#Search_field .searchSubmit{display:block;width:30px;height:34px;border:0;padding:0;float:right;background-position:-220px -949px; background-color:transparent; float:left;}
.searchCategoryLabelText{ float:left; padding: 25px 0 0;  width: 19px;}
#Search_field .searchSubmit:hover{background-position:-220px -949px;}
.shop_img{ background:url(images/shop_icon.png) no-repeat; width:16px; height:15px; width:100%; background-position:6px 5px;}
.dog_icon{ background:url(images/dog_icon.png) no-repeat; width:14px; height:16px; width:100%; background-position:6px 5px;}
.articles_icon{ background:url(images/articles.png) no-repeat; width:12px; height:16px; width:100%; background-position:6px 5px;}
.qa_icon{ background:url(images/qa_icon.png) no-repeat; width:16px; height:15px; width:100%; background-position:6px 5px;}
.puppie_icon{ background:url(images/puppies_icon.png) no-repeat; width:18px; height:14px; width:100%; background-position:6px 5px;}
.gallery_icon{ background:url(images/doggallery_icon.png) no-repeat; width:16px; height:14px; width:100%; background-position:6px 5px;}
.business_icon{background:url(images/business_icon.png) no-repeat; width:16px; height:14px; width:100%; background-position:6px 5px;}
.text_icons{}
 @media screen and (-webkit-min-device-pixel-ratio:0)
{
#Search_field .searchBarContainer { margin-top:-39px;}
}

 @media screen and (-webkit-min-device-pixel-ratio:0)
{
.searchCategoryContainer2 img{ margin-top:5px;}
}
