.position{
	display: inline-block;
	height: 1.6em;
	overflow: hidden;
	position: relative;
	width: 10px;
}

.digit{
	position:absolute;
	display:block;
	border-radius:0.2em;
	text-align:center;
	color:#333;
	letter-spacing:-1px;
}

.countDays, .countHours, .countMinutes, .countSeconds{ background:#fff;padding: 3px 5px;
    border-radius: 5px;}


.countDiv{
	display:inline-block;
	width:16px;
	height:20px;
	position:relative;
}

.countDiv:before,
.countDiv:after{
	position:absolute;
	width:5px;
	height:5px;
	background-color:#fff;
	border-radius:50%;
	left:50%;
	margin-left:-3px;
	top:0.5em;
	box-shadow:1px 1px 1px rgba(4, 4, 4, 0.5);
	content:'';
}

.countDiv:after{
	top:0.9em;
}


.sticky-bar-sec{ font-family:roboto;}
.sticky-bar{position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
     height: 40px;
    line-height: 40px;background-color: #191970;
	 color:#fff; text-align:center;}
.sticky-bar a, .sticky-bar a:hover{ text-decoration:none; color:#fff; text-transform:uppercase;}	 
.sticky-left{width: 92%;
    float: left;}
.sticky-right{
	max-width: 22px;
    float: right;
    padding: 6px 4px;}