@charset "utf-8";
body {
	margin:0;
	padding:0;
	font-family:"Segoe UI";
}
@font-face {
	font-family:"Segoe UI";
	src: url(/new/common/font_source/segoeui_0.ttf);
	font-weight: normal;
	font-style: normal;
}
h1, h2, h3, h4, h5, h6, p, form, div, table, ul, li, dt, dd, dl, img{
	margin:0px;
	padding:0px;
	border:0;
}

/*header left starts here*/

#headerContainer{
	background:#b2da1d;
	height:94px;
	width:100%;
	margin-bottom:1px;
}
.headerContainer_inside{
	margin:auto;
	width:960px;
}
.headerContainer_left{
	width:610px;
	float:left;
}
.logo{
	border-top:10px solid #867b62;
	width:197px;
	display:block;
	float:left;
	margin-right:1px;
}
.tabs{
	width:90px;
	display:block;
	float:left;
	margin-right:1px;
	text-align:center;
}
.tabs a{
	font-weight:bold;
	text-decoration:none;
	color:#444;
}


/*header right starts here*/
.headerContainer_right{
	width:350px;
	float:right;
	text-align:right;
}
.loginContainer{
	margin:5px 0 0 0;
}
.loginContainer img{
	vertical-align:middle;
	margin-left:5px;
}
.loginContainer span{
	font-size:12px;
	color:#333;
	margin-right:5px;
}
.loginContainer a{
	color:#234696;
	text-decoration:none;
}
.loginContainer .arrow{
	background:url(/new/common/images/arrow-down.png) no-repeat;
	background-position:right;
	padding-right:10px;
	position:relative;
}
/* login container starts */
.slidingDiv {
	padding:10px;
	border:1px solid #d3d1d1;
	border-top-width:4px;
	width:400px;
	background:#fff;
	top:0;
	left:500px;
	z-index:99;
}
.show_hide {
    display:none;
}


.basketContainer{
	box-shadow: inset 1px 1px 3px #666;
	-moz-box-shadow: inset 1px 1px 3px #666;
	background:#84a50c;
	border-radius:4px;
	padding:5px;
	text-align:center;
	float:right;
	margin-left:10px;
}
.basketContainer span{
	background:url(/new/common/images/icon-basket.png) no-repeat;
	background-position:left;
	padding-left:25px;
	font-size:12px;
	color:#fff;
}
.basketContainer a{
	color:#fff;
	text-decoration:none;
}
.basketContainer a:hover{
	color:#fff;
	text-decoration:underline;
}

.searchwrapper {
	width: 178px; /*follow your image's size*/
	height: 27px;/*follow your image's size*/
	background-image: url(/new/common/images/icon-search-box.png);
	background-repeat: no-repeat; /*important*/
	position: relative;
	float:right;
}
.searchwrapper form {
	display: inline;
}
.searchbox {
	border: 0px; /*important*/
	background-color: transparent; /*important*/
	position: absolute; /*important*/
	top: 0px;
	left: 0px;
	width: 148px;
	height: 27px;
	padding:0 7px;
}
.searchbox_submit {
	border: 0px; /*important*/
	background-color: transparent; /*important*/
	position: absolute; /*important*/
	top: 0px;
	left: 148px;
	width: 30px;
	height: 27px;
}
#navContainer{
	background:#877b63;
	width:100%;
	height:32px;
}
.navContainer_inside{
	margin:auto;
	width:960px;
}
.navContainer_left{
	float:left;
	width: 780px;
}
.navContainer_right{
	float:right;
	width: 180px;
}



/* Mega Menu Starts */
/* Mega Menu Ends */




/* Footer starts here 
#footer{
	width:100%;
	padding:0;
	margin:0;
	background:#666;
}
#footerGreen{
	margin:auto;
	width:940px;
	background:#81a00c;
	padding:5px 10px;
	margin:auto;
}
#footerGreen p{
	font-size:12px;
	line-height:18px;
	color:#fff;
}

#footerContent{
	width:940px;
	overflow:auto;
	background:#362c23;
	padding:10px 10px;
	margin:auto;
	padding-bottom:0 !important;
}
#footerContent_left{
	width:685px;
	float:left;
}
#footerContent_right{
	width:255px;
	float:right;
}

/* ----------- footer----------- 
.footerContainer {
	margin-bottom:10px;
	float:left;
}
.footerContainer ul {
	list-style-type:none;
	float:left;
	width:150px;
}
.footerContainer li {
	font-size:13px;
	line-height:25px;
	display:block;
	margin-right:20px;
}
.footerContainer li a {
	color:#fff;
	text-decoration:none;
}
.footerContainer li a:hover {
	color: #999;
}
.footerContainer h3 {
	color: #a9d701;
	font-size:14px;
	font-weight:normal;
	display:block;
	margin-bottom:10px;
	text-transform:uppercase;
}

#feedbackContainer{
	border-radius:5px;
	padding:10px;
	background:#494542;
	width:235px;
	margin-bottom:20px;
}
.happyClients{
	margin-bottom:20px;
}
.happyClients h3{
	color: #a9d701;
	font-size:14px;
	font-weight:normal;
	margin-bottom:10px;
	text-transform:uppercase;
}
.happyClients p{
	color: #fff;
	font-size:13px;
	font-weight:normal;
	line-height:18px;
	margin-bottom:5px;
}
.happyClients span{
	color: #999;
	font-size:12px;
	font-weight:normal;
}
.happyClients a{
	color: #fff;
	text-decoration:underline;
}


.feedback{
	margin-bottom:20px;
}
.feedback h3{
	color: #a9d701;
	font-size:14px;
	font-weight:normal;
	margin-bottom:10px;
	text-transform:uppercase;
}
.feedback label{
	font-size: 13px;
	width:100%;
	display: block;
	color:#fff;
}
.feedback input{
	float:right;
	width:150px;
	height:22px;
	padding:0 5px;
}
.feedback textarea{
	float:right;
	width:150px;
	padding:0 5px;
}
.feedback img{
	vertical-align:middle;
	margin-left:71px;
}

.divideLine{
	padding:10px;
	border-radius:20px;
	margin:0 10px 10px 0;
	background:#75726f;
	height:80px;
}
.divideLine_inner{
	float:left;
	padding:0 5px;
}
.divideLine_heading{
	font-size:16px;
	color:#fff;
	font-weight:normal;
	text-align:center;
	margin-bottom:10px;
}

/* ----------- css sprites----------- 
.sprite {
	background:url(/new/common/images/dogspot_sprites.png);
}
.partners {
	width:96px;
	height:48px;
}
.payment {
	width:49px;
	height:29px;
}
.join {
	width:30px;
	height:30px;
}
.loginSocial_sm{
	width:21px;
	height:21px;
}
.loginSocial_big{
	width:66px;
	height:22px;
}
.loginButton{
	width:68px;
	height:30px;
}


/* partners starts 
.payu{
	background-position:-2px -2px;
}
.ebs{
	background-position:-102px -2px;
}
.junglee{
	background-position:-202px -2px;
}
.shopclues{
	background-position:-302px -2px;
}
.bluedart{
	background-position:-402px -2px;
}
.delhivery{
	background-position:-502px -2px;
}
/* partners ends */


/* payment starts 
.mastercard{
	background-position:-2px -60px;
}
.visa{
	background-position:-55px -60px;
}
.netbanking{
	background-position:-108px -60px;
}
.cod{
	background-position:-161px -60px;
}
.cheque{
	background-position:-214px -60px;
}
/* payment ends */



/* join starts 
.fb{
	background-position:-2px -99px;
}
.twitter{
	background-position:-36px -99px;
}
.gplus{
	background-position:-70px -99px;
}
.linkedin{
	background-position:-104px -99px;
}
.youtube{
	background-position:-138px -99px;
}
.pinit{
	background-position:-171px -99px;
}
/* Join ends */



/* login social starts */
/*.fb_sm{
	background-position:-2px -139px;
}
.gm_sm{
	background-position:-28px -139px;
}
.fb_big{
	background-position:-54px -139px;
}
.gm_big{
	background-position:-125px -139px;
}
.loginButton{
	background-position:-196px -139px;
}l
/* login social ends */


