#tabs
{
	float:left;
	margin:0px;
	}

.ds-helper-clearfix:before,
.ds-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ds-helper-clearfix:after {
	clear: both;
}
.ds-helper-clearfix {
	min-height: 0; 
}



.ds-tabs {
	position: relative;
	padding:0;
	float:left;
	margin-top:5px;
	width:100%;
}
.ds-tabs .ds-tabs-nav {
	margin: 0;
	padding:0px;
}
.ds-tabs .ds-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin:0px;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
	cursor:pointer;
	font-family:"Segoe UI";
	font-size:16px;
}
.ds-tabs .ds-tabs-nav .ds-tabs-anchor {
	float: left;
	padding: 0.4em 0.8em;
	text-decoration: none;
}
.ds-tabs .ds-tabs-nav li.ds-tabs-active {
	margin-bottom:0px;
	padding-bottom:0px;
}
.ds-tabs .ds-tabs-nav li.ds-tabs-active .ds-tabs-anchor,
.ds-tabs .ds-tabs-nav li.ds-state-disabled .ds-tabs-anchor,
.ds-tabs .ds-tabs-nav li.ds-tabs-loading .ds-tabs-anchor {
	cursor: text;
}
.ds-tabs-collapsible .ds-tabs-nav li.ds-tabs-active .ds-tabs-anchor {
	cursor: pointer;
}
.ds-tabs .ds-tabs-panel {
	display: block;
	border-width: 0;
	height:38px;
	background: none;
	
}
.ds-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
body .ds-tooltip {
	border-width: 2px;
}

/* Component containers
----------------------------------*/
.ds-widget {
	font-family: Verdana,Arial,sans-serif;
	font-size: 16px;
}
.ds-widget .ds-widget {
	font-size: 14px;
}
.ds-widget input,
.ds-widget select,
.ds-widget textarea,
.ds-widget button {
	font-family:"Segoe ds";
	font-size: 14px;
}
.ds-widget-content {

	background: #668000;
	color: #222222;
}
.ds-widget-content a {
	color: #222222;
}
.ds-widget-header {
	
	background: #668000;
	color: #222222;
	
}
.ds-widget-header a {
	color: #fff;
}

/* Interaction states
----------------------------------*/
.ds-state-default,
.ds-widget-content .ds-state-default,
.ds-widget-header .ds-state-default {
	
	background: #668000;
	font-weight: normal;
	color: #fff;
}
.ds-state-default a,
.ds-state-default a:link,
.ds-state-default a:visited {
	color:#fff;
	text-decoration: none;
}
.ds-state-hover,
.ds-widget-content .ds-state-hover,
.ds-widget-header .ds-state-hover,
.ds-state-focus,
.ds-widget-content .ds-state-focus,
.ds-widget-header .ds-state-focus {

	background: #E7FB98;
	font-weight: normal;
	color: #668000;
}
.ds-state-hover a,
.ds-state-hover a:hover,
.ds-state-hover a:link,
.ds-state-hover a:visited,
.ds-state-focus a,
.ds-state-focus a:hover,
.ds-state-focus a:link,
.ds-state-focus a:visited {
	color: #668000;
	text-decoration: none;
	color:#fff;
}
.ds-state-active,
.ds-widget-content .ds-state-active,
.ds-widget-header .ds-state-active {
background: #F7FFD8;
	font-weight: normal;
	color: #212121;
}
.ds-state-active a,
.ds-state-active a:link,
.ds-state-active a:visited {
	color: #668000;
	text-decoration: none;
}

.choose_tab
{
color:#fff;
margin-left: 10px;
margin-top: 8px;
}

