/* Global properties ======================================================== */
html, body {
	/* [disabled]width:100%; */
	padding: 0;
	margin: 0;
}
body {
font-family:Calibri;
font-size:14px;	
}

a {
	text-decoration:none;
	cursor:pointer;
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}


.link {
	color:#50b3bc;
	text-decoration:none;
	text-decoration:underline;
	font-weight:normal;
}
.link:hover {
	text-decoration:none;
}
.link-1 {
	color:#50b3bc;
	text-decoration:none;
	text-decoration:underline;
	float:right;
}
.link-1:hover {
	text-decoration:none;
}
.clr-1 {
	color:#131313;
}
.clr-2 {
	color:#4d4d4d;
}
.clr-3 {
	color:#a70101;
}
/* h2 {
	font-size:40px;
	line-height:48px;
	color:#a70101;
	font-weight:normal;
	font-style:italic;
	text-shadow:#cc7b7b 0px 0px 3px;
}
h2 strong {
	font-size:22px;
	line-height:27px;
	color:#131313;
	font-weight:bold;
	font-style:italic;
	text-shadow:transparent 0px 0px 3px;
	display:block;
	margin-top:-5px;
}
.h2-line {
	border-bottom:#d6d6d6 1px solid;
	padding-bottom:5px;
}
.h2 {
	text-align:center;
}
.h2-line-2 {
	border-bottom:#d6d6d6 1px solid;
	padding-bottom:2px;
	display:inline-block;
}
.h2-line-3 {
	border-bottom:#d6d6d6 1px solid;
	padding-bottom:0px;
	display:block;
}
h3 {
	font-size:36px;
	line-height:45px;
	color:#131313;
	font-weight:normal;
	font-style:italic;
	text-shadow:#6c6c6c 0px 0px 3px;
}
.h3-line {
	border-bottom:#d6d6d6 1px solid;
	padding-bottom:2px;
}
.h3 {
	text-align:center;
}
.h3-line-2 {
	border-bottom:#d6d6d6 1px solid;
	padding-bottom:2px;
	display:inline-block;
}
h4 {
	font-size:24px;
	line-height:38px;
	color:#131313;
	font-weight:normal;
	font-style:italic;
	text-shadow:#6c6c6c 0px 0px 3px;
}
h5 {
	font-size:30px;
	line-height:36px;
	color:#131313;
	font-weight:normal;
	font-style:italic;
	text-shadow:#6c6c6c 0px 0px 3px;
}
.h5-line {
	border-bottom:#d6d6d6 1px solid;
	padding-bottom:6px;
} */

/******************************************************************/
.clear {
	clear:both;
	line-height:0;
	font-size:0;
	width:100%;
}
.wrapper {
	width:100%;
	overflow:hidden;
	position:relative
}
.wrap {
	overflow:hidden;
	position:relative;
}
.extra-wrap {
	overflow:hidden;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}
.center {
	text-align:center;
}
.nowrap {
	white-space:nowrap;
}

.top-1 {
	padding-top:2px;
}
.top-2 {
	padding-top:28px;
}
.top-3 {
	padding-top:13px;
}
.top-4 {
	padding-top:33px;
}
.top-5 {
	padding-top:24px;
}
.left-1 {
	margin-left:40px;
}
.left-2 {
	margin-left:20px;
}
.bot-0 {
	padding-bottom:0 !important;
	margin-bottom:0 !important;
}
.pad-0 {
	padding:0px 0px 0px 0px;
}
.pad-1 {
	padding:33px 39px 0px 39px;
}
.pad-2 {
	padding:0px 39px 0px 39px;
}
.pad-3 {
	margin:17px 0px 12px 0px;
}
.p1 {
	padding-bottom:18px;
}
.p2 {
	padding-bottom:13px;
}


/*********************************content*************************************/
#content {
	width:972px;
	margin:0 auto;
	
}

.petAdoption_MainBlock {
	overflow:hidden;
	
	background:#fff;
	float:left;
	font-family:"segoe UI";
	font-size:14px;	
}
.col-1 {
float: left;
width: 660px;
margin-right: 8px;
}
.col-2 {
	float:left;
	width:280px;
}
.box-1 {
	overflow:hidden;
	padding-top:28px;
}

.petadoption_postblock {
	margin-top:10px;
	overflow:hidden;
	
}
.petpetadoption_box{
	overflow:hidden;
	
}
.petpetadoption_box .pet-adoption_post{
	width:190px;
	height:300px;
	float:left;
	margin-left:9px;
	margin-right:9px;
	border:1px solid #ddd;
	box-shadow:2px 2px 2px 2px #ddd;
	margin-top:7px;
	padding-top:5px;
    padding-bottom:40px;
	padding-left:5px;
	padding-right:5px;
	
}

.pet-adoption_post img 
{
padding-top:5px;
padding-left:2px;

}
.pet-adoption_post h2
{
font-size:20px;
padding:0px;
margin:0px;
padding-bottom:5px;
padding-top:5px;
border-bottom:1px dotted #ddd;
color:#668000;

font-weight:normal;

}
.pet-adoption_post h2 a
{
font-size:20px;
padding:0px;
margin:0px;
padding-bottom:5px;
padding-top:5px;
border-bottom:1px dotted #ddd;
color:#668000;

font-weight:normal;

}
.pet-adoption_post h4
{
font-size:14px;
padding:0px;
margin:0px;
padding-bottom:5px;
padding-top:5px;
border-bottom:1px dotted #ddd;
font-weight:normal;
color:#333333;
text-align:left;
}
.pet-adoption_post h4 a
{
font-size:14px;
padding:0px;
margin:0px;
padding-bottom:4px;
padding-top:4px;
font-weight:normal;
color:#333333;
}
.petadoption_fileter
{
width:100%;

border-bottom:3px solid #668000;
}

 .petadoption_fileter select
{
width:170px;
height:32px;
border:1px solid #668000;
margin-bottom:10px;
margin-top:10px;
margin-right: 8px;
}
.go_btn
{
background:#668000;
border:1px solid #668000;
width:50px;
height:32px;
color:#fff;
font-size:16px;
border-radius:3px;
cursor:pointer
}
.box-3>div p {
	margin-top:11px;
}
.col-3 p.center {
	margin-top:29px;
}
.block-4 {
	background:url(../images/block-4.png) center 0 no-repeat;
	margin-top:17px;
	padding-top:15px;
}
.box-4 {
	overflow:hidden;
	padding-top:8px;
	margin-left:40px;
	margin-right:40px;
}
.box-4>div {
	width:190px;
	float:left;
	text-align:center;
	margin-right:10px;
}
.box-4>div h4 {
	margin-bottom:4px;
}
.box-4>div p {
	margin-top:11px;
}
.col-4 {
	float:left;
	width:310px;
}
.col-4 h3, .col-5 h3 {
	padding-top:34px;
}
.col-5 {
	float:left;
	width:510px;
}
.col-5 h2 {
	padding-top:33px;
}

.col-7 {
	float:left;
	width:630px;
}
.col-7 h2 {
	padding-top:33px;
}
.col-8 {
	float:left;
	width:190px;
}
.col-8 h5 {
	padding-top:39px;
}
.box-5 {
	overflow:hidden;
}
.box-5>div {
	width:151px;
	float:left;
	text-align:center;
	margin-right:8px;
}
.box-5>div p {
	margin-top:11px;
}

#form {
	margin: 33px 0 0px 0px;
	width:310px;
}
/* #form input {
	border:#d8d5d5 1px solid;
	background:#e4e4e4;
	font: 14px "Times New Roman", Times, serif;
	color:#48484e;
	padding:4px 10px 6px 10px;
	outline: medium none;
	width: 218px;
	height:17px;
	float:left;
} */
#form textarea {
	border:#d8d5d5 1px solid;
	background:#e4e4e4;
	font: 14px "Times New Roman", Times, serif;
	color:#48484e;
	height: 255px;
	outline: medium none;
	overflow: auto;
	padding: 4px 0px 0px 10px;
	width: 228px;
	resize:none;
	margin:0px 0 0 0;
	float:left;
}
#form label {
	position:relative;
	overflow:hidden;
	display: block;
	min-height:37px;
}
#form label strong {
	font-weight:normal;
	float:left;
	text-align:right;
	display:inline-block;
	width:60px;
	padding-top:4px;
	padding-right:9px;
}
.btns {
	text-align:right;
	width:310px;
	padding-top:6px;
}
.btns a {
	display:inline-block;
	margin:0 0px 0 20px;
}
/*********************************content*************************************/
/*********************************sidebar*************************************/
.sidebar
{
overflow:hidden;

}
.Foster_pet
{
width:280px;
height:auto;
margin-bottom:10px;
}
.Foster_pet h2
{
color: #668000;
font-size:20px;
padding:0px;
margin:0px;
padding-top:5px;
padding-bottom:5px;
margin-bottom:10px;
border-bottom:3px solid  #668000;
}
.Foster_pet p
{
font-size:15.5px;
color:#000;
margin-top:5px;
margin-bottom:5px;

}
.foster-me{

text-align:center;
padding-top:10px;
}

.foster-me .fm_btn{

width:150px;
height:35px;
background:#ff8226;
border:1px solid #ff8226;
border-radius:3px;
color:#fff;
font-size:18px;
cursor: pointer;
}
/* .foster-me a:hover {
	width:150px;
height:35px;
background:#ff8226;
border:1px solid #ff8226;
border-radius:3px;
color:#fff;
font-size:18px;
cursor: pointer;
text-decoration:none;
	} */
.youmaylike_post{
width:280px;
height:auto;
margin-bottom:10px
}
.youmaylike_post h2
{
font-size:20px;
padding:0px;
margin:0px;
padding-top:5px;
padding-bottom:5px;
margin-top:10px;
margin-bottom:10px;
border-bottom:3px solid  #668000;
color:#668000;
}
.youmaylike_post img
{margin:0px;
padding:0px;
}
.youmaylike_post h3
{
font-size:18px;
margin:0px;
padding:5px;

color:#fff;
background:#668000;
}
/*********************************sidebar*************************************/
/*********************************article inside sec*************************************/
.petadoption_insidebox1
{
float:left;
width:245px;
margin-left:10px;

}
.petadoption_insidebox2
{
float:left;
width:380px;
margin-left:15px;
margin-right:10px;
text-align: left;
}
.petadoption_articlesec
{

margin:10px;
margin-top:0px;
float:left;

}

.pa_padtb
{
padding-top:10px;
padding-bottom:10px;
}
.pa_padtb5
{
padding-top:5px;
padding-bottom:5px;
}
.pet-adoption_dogbread 
{
	width:200px;
	max-height:300px;
	text-align:center;
	
}
.pet-adoption_dogbread img
{
text-align:center;
max-height:200px;
border:1px solid #fff	;
box-shadow:2px 2px 2px 2px #ddd;
}
.pa_dogbread_info
{ 
font-size:16px;
}
.pa_dogbread_info h2
{ 
font-size:22px;
color:#a2cd05;
margin:0px;
padding:0px;
}
.intrested_btn{

width:150px;
height:35px;
background:#ff8226;
border:1px solid #ff8226;
border-radius:3px;
color:#fff;
font-size:18px;
margin-top:5px;
margin-bottom:5px;
cursor: pointer;
}
.pa-post_details
{
margin-top:5px;
margin-bottom:5px;
}
.pa-post_details h2
{
margin:0px;
padding:0px;
font-size:22px;
}
.pa-post_details p
{
margin:0px;
padding:0px;
font-size:16px;
margin-top:5px;
margin-bottom:5px;
text-align:left;
}
/* form css*/
.foster-form
{

width:100%;
}
.foster-form h1
{

color:#668000;
width:100%;
border-bottom: 3px solid #668000;
padding:5px;
font-size:20px;
text-align:left;
margin:0px;
font-weight:normal;
}
.personaldetailsDiv, .householdDiv, .foster_infoDiv
{
    width: 100%;
    margin-top: 10px;
    text-align: left;
    margin-left: 20px;

}
.adoption_ques_label
{
display:inline-block;
width:250px;
margin-top:10px;
margin-bottom:10px;
font-size:14px;
text-align:left!important;
}
.adoption_ques_input
{
	border:1px solid #a5ce08;
width:200px;
height:30px;
border-radius:5px;
margin-top:5px;
margin-bottom:5px;
}

.household_input, .fosterinfo_input

{
border:1px solid #a5ce08;
width:200px;
height:30px;
border-radius:5px;
margin-top:5px;
margin-bottom:5px;
}
.householdDrop
{
border: 1px solid #a5ce08;
width: 200px;
height: 30px;
border-radius: 5px;
margin-top: 5px;
margin-bottom: 5px;
}
#fosterform_drop
{
border:1px solid #a5ce08;
width:86px;
height:30px;
margin-top:5px;
margin-bottom:5px;
border-radius:5px;
}

.personaldetails_label, .fosterinfo_label
{
font-size:14px;
width:400px;
display:inline-block;
margin-top:10px;
margin-bottom:10px;
text-align:left;
margin-right: 10px;
}
.adoption_ques_form
{
width:100%;
text-align:left;
}
.adoption_ques_form h1
{

background:#a2cc00;
color:#fff;
text-align:left; 
font-size:20px;
font-weight:normal;
padding:5px  0px 5px;
border-radius:5px;
padding-left:10px;
}

.adoption_ques_form h2
{
    color:#668000;
    width: 100%;
    border-bottom: 3px solid #668000;
    padding: 5px;
    font-size: 20px;
    text-align: left;
    margin: 0px;
	font-weight:normal;

}

.adoption_ques_formDiv, .personaldetailsDiv, .occupationDiv, .previous_experienceDiv
{
width:100%;
margin-top:10px;
margin-left:20px;
}
.adoption_ques_label
{
display:inline-block;
width:250px;
margin-top:10px;
margin-bottom:10px;
font-size:14px;
text-align:left;

}
.adoption_ques_input
{
border:1px solid #a5ce08;
width:247px;
height:30px;
border-radius:5px;
margin-top:5px;
margin-bottom:5px;
text-align:left;
}
.personaldetails_input, .occupation_input, .previous_experience_input
{
border:1px solid #a5ce08;
width:200px;
height:30px;
border-radius:5px;
margin-top:5px;
margin-bottom:5px;
text-align:left; 
}

.personaldetails_label
{

font-size:14px;
width:280px;
display:inline-block;
margin-top:10px;
margin-bottom:10px;
text-align:left;
margin-right:20px;

}
.occupation_label
{

font-size:14px;
width:230px;
display:inline-block;
margin-top:10px;
margin-bottom:10px;
text-align:left;
margin-right:20px;

}
.previous_experience_label
{

font-size:14px;
width:250px;
display:inline-block;
margin-top:10px;
margin-bottom:10px;
text-align:left;
margin-right:20px;

}

.foster_submitbtnDiv, .adoption_quesbtnDiv
{
width:100%;
text-align:center;
margin-top:10px;
margin-bottom:10px;

}
.fosterform_submitbtn, .adoption_ques_submitbtn
{
border:1px solid #ff8226;
width:150px;
height:40px;
background:#ff8226;
color:#fff;
font-size:20px;
border-radius:3px;
cursor: pointer;
}

/*adoption email box */

.adoption_emailbox

{
border:1px solid #ddd;
font-size:18px; 
text-align:left; 
color:#668001;
padding-top:5px; 
padding-bottom:5px; 
padding-left:5px;
margin-top:20px; 
margin-bottom:20px;
}
.adoption_emailtext
{
font-size:18px; 
text-align:left; 
color:#668001;
padding-bottom:5px;
}
.adoption_emailid
{
font-size:16px;
text-align:left;
 color:#333;
}
.adoption_emailid a
{
color:#333;
text-decoration:underline;
}

/*   for new form */

.dogadooption_form
{
	width:100%;

	}
.add_form_adopoption 
{
font-size:24px;
color:#000;
font-weight:bold;
text-align:left;
margin-left: 7px;
	
}
.Basic_Div, .Location_Div, .Photo_infoDiv, .Aboupupy_infoDiv
{
width:100%;
margin-top:10px;

}
.Adoption_submit_btndiv {
margin-right: 10px;
text-align: right;
margin-top: 10px;
margin-bottom: 10px;
}
.dogadooption_form h1
{
color:#668000;
width:100%;
border-bottom: 3px solid #668000;
padding:5px;
font-size:20px;
text-align:left;
margin:0px;
font-weight:normal;
}
.dogadoption_drop
{
border: 1px solid #A5CE08;
width: 200px;
height:35px;
border-radius: 5px;
margin-top: 5px;
margin-bottom: 5px;
text-align: left;
	}
.dogadoption_formlabel
{
display: inline-block;
width: 250px;
font-size: 14px;
text-align: left;
float: left;
margin: 10px -138px 10px 20px;
}
.dogadoption_forminput

{
border:1px solid #a5ce08;
width:200px;
height:30px;
border-radius:5px;
margin-top:5px;
margin-bottom:5px;
}
.dogadoption_drop_half
{
border: 1px solid #A5CE08;
width: 98px;
height:30px;
border-radius: 5px;
margin-top: 5px;
margin-bottom: 5px;
text-align: left;
}

.Adoption_submit_btn{
   border: 1px solid #FF8226;
   width: 150px;
   height: 40px;
   background: none repeat scroll 0% 0% #FF8226;
   color: #FFF;
   font-size: 20px;
   border-radius: 3px;
cursor:pointer;
}
.Dog_adoption_Banner
{
	margin-bottom:10px;
	
	}
