.actBox_wc_new {
    float: left;
    width: 652px;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 30px;
}
.dogThumb_img_new {
    float: left;
    border: 1px solid #bfbfbf;
    padding: 3px;
    border-radius: 2px;
    background: #fff;
    width: 70px;
    min-height: 50px;
    max-height: 70px;
}
.actPost_new {
    float: left;
    margin-left: 10px;
    width: 562px;
	margin-bottom:30px;
}
.dogName_act_new {
    font-size: 17px;
    float: left;
    margin-bottom: 10px;
    font-weight: normal;
}
.dogName_act_new a {
    color: #8dc059;
    font: normal 17px arial;
}
.postIcon_wc _new{
    float: left;
    background: rgba(0, 0, 0, 0.53);
    width: 295px;
    padding-left: 5px;
    margin-top: -50px;
}

.wagPost {
    background: #000;
    float: left;
    height: 30px;
    margin: 5px 5px 5px 0;
    padding: 5px;
}
.wagPost img {
    float: left;
    cursor: pointer;
}

.wagPost span {
    color: #fff;
    float: right;
    margin: 7px;
}
.actTxt_post {
    float: left;
    font-family: Arial, Helvetica, sans-serif!important;
    font-size: 15px;
    margin-top: 10px;
}

.dg_cmntBox {
    float: left;
    background: rgba(141, 141, 141, 0.15);
    width: 540px !important;
    border-radius: 2px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

.dg_cmntFld {
    margin-bottom: 10px;
    position: relative;
    float: left;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    width: 100%;
}
.dg_Imguser {
    float: left;
    margin-right: 10px;
    border: 2px solid #fff;
    background: #fff;
    min-height: 20px;
    width: 50px;
    overflow: hidden;
}
.dg_Txtcmnt {
    float: left;
    width: 476px !important;
}
.dg_Txtcmnt textarea {
    float: left;
    margin: 0;
    min-height: 54px;
    min-width: 470px !important;
    font-family: arial;
    border: 1px;
}

.actImg_post_new {
    float: left;
    width: 562px;
    cursor: pointer;
    background:#f2f2f2;
    text-align: center;
}
.postIcon_wc_new {
    float: left;
    background: rgba(0, 0, 0, 0.53);
    width: 558px !important;
    padding-left: 5px;
    margin-top: -50px;
}

.dg_cmntPost_new {
    float: left;
    text-transform: uppercase;
    background: #95BB1C;
    width: 470px;
    text-align: center;
    padding: 5px 0;
    margin-top: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}
.winner_blk{float:left; width:290px; margin-left:30px; margin-top: 30px;}

.feed_block,.winner_box{
       margin-bottom: 25px;
    background-color: #F0f0f0;
    color: #333333;
    text-transform: uppercase;
    font-size: 11pt;
    padding: 14px 0px;
    line-height: 16px;
    text-align: center;
    font-weight: bold;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 16px;
	}
	.today_winner_blk{ margin-bottom:20px; float:left; width:100%;}
	.today_date{ 
	text-align:center;      
    background:#8dc059;
    padding: 8px 0px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
   font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	}
	.contest_tagline{float: left;
    font-size: 16px;
    font-family: arial;
    width: 60%;
    margin-top: 5px;}
	.winner_dog_info{ background:#f0f0f0; float: left;
    width: 290px;}
	.contest_img{ float:left; padding:10px;}
	.contest_img img {    
	max-width: 90px;
    max-height: 90px;
    border: 2px solid #ddd;}
	.contest_dogname{   
	 font-size: 16px;
    font-weight: bold;
    padding-top: 12px;
    float: left;
	font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    color: #333;
	}
	.contest_img_sec{
    float: left;
    width: 100%;
    background: #f2f2f2;
	padding:30px 0px;
	}
	.contest_img_sec a{color:#fff; text-transform:uppercase; text-decoration:none;}
	.contest_img_sec a:hover{ color:#fff; text-decoration:none; }
	.contest_img_btn{background:#ff4181; padding: 10px 60px; font-size:18px; margin:auto; color:#fff;}
	.edit_info_wc select {width: 460px !important;height: 35px;}
	.activity_pop_wc{overflow: auto;max-height: 400px;}
	.rytPost_list{ width:652px !important; float:left;}
    .actImg_post_new img{ max-width:562px !important;}
	.contest_title{ padding-top:15px; color:#333; font-size:26px; font-weight:normal;float:left; width:100%; background:#f0f0f0; display: block;
 
    font-family: "lobster_tworegular",cursive,sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #f04b4b;
    font-size: 300%;
    line-height: 100%;}
	.bg_body{ height:505px !important;}
	.txt_dg, .bg_body_op { top:176px !important;}
	.text_box_dg{width: 972px !important;}
	.text_box_dg p{width: 972px !important; padding:0px !important; padding-bottom:15px!important;}
	.ad_dg_btn{ margin-top:50px !important; background: #8dc059!important; } 
	.dg_cmntPost{ background: #8dc059!important;}
