.page_404_cont{float:left; font-family:arial,tahoma,verdana,sans-serif; width:100%;}
.text_404{font-weight: bold;color: #000;  text-align: left; float:left; width:100%;}
.text_404_left{ float:left; width:90px; font-size: 47px;}
.text_404_right{float:left; width: 880px;font-size: 16px; padding-top: 30px;text-align: left;}
.text_404_product{ float:left; width:100%; font-size:18px; color: #4B4B4B; font-weight:normal; margin-top:5px; padding-bottom:10px; border-bottom:1px solid #ddd;}
ul.ds_product_list {margin: 0px;padding: 0px;list-style: outside none none; overflow: hidden;float: left;padding-bottom: 30px; margin-bottom:10px; border-bottom:1px solid #ddd;}
ul.ds_product_list li{margin-top:15px;width: 164px;display: block;float: left;padding-right: 15px;font: 12px Arial,Helvetica,sans-serif;color: #675E5B;margin-right: 15px;text-align: center;}
ul.ds_product_list li h2 {font: bolder 14px Arial;color: #7F9F0B; margin-bottom: 5px;text-align: center;}
ul.ds_product_list li:last-child {margin-right: 0px;border-right:none;}
ul.ds_product_list li .ds_product_name {color: #333;font-weight:normal;font-size:15px;width:160px; height:60px;display:table-cell;vertical-align:middle;}
ul.ds_product_list li .ds_product_name a {color: #333;font-weight:normal;font-size:14px;text-decoration:none;}
.product_page_price_b{margin-left:5px; font-weight:bold;}
.product_page_presnt{background:#f00; font-size:11px; color:#fff; padding:2px; margin-left:5px; border-radius:3px;}
.ds_product_price_div{ margin-top:5px; margin-bottom:5px;}
.ds_product_buynow{ margin-top:15px;}
.ds_product_buynow_btn{background: #FF6709;color: #FFF;font-size: 14px;padding: 5px 12px; text-decoration:none; border-radius: 3px; text-transform: uppercase; cursor: pointer;}
.ds_product_buynow_btn { text-decoration:none; color:#fff;}
.artile_404_cont{width:100%; float:left; border-bottom:1px solid #ddd; padding-bottom:15px; margin-bottom:15px;	 }
.artile_404_img{float: left;width:200px;margin-top: 3px;text-align:left;}
.artile_404_text{float: left;width:772px;font-family:Arial, Helvetica, sans-serif; margin-top:2px;}
.artile_404_text h2{ padding:0px; margin:0px;margin-bottom:3px;}
.artile_404_text h2 a{ text-decoration:none;  color:#333; font-size:18px;}
.artile_404_text h2 a:hover{ text-decoration:none;  color:#333; font-size:18px;}
.artile_404_text p{ padding:0px; margin:0px; margin-top:8px; font-size:15px; }
.artile_404_text span{ color:#333; font-size:14px;}
.artile_404_text a{ color:#333; font-size:14px; text-decoration:none;  }
.artile_404_text .read_more{color: #99cc00;font-weight: bold; font-size:15px; text-decoration: none;}
.related_article{float:left;  padding-top:5px; margin-bottom:10px; width:100%;  font-size: 24px;text-align: left; font-family:Arial, Helvetica, sans-serif;}
.NoteFoundBuynow{margin-top: 15px; text-align:center;}

