html, body{padding:0;margin:0;}
/* using the child selector to hide the following body css from IE6 and earlier */
html>body {background-color: #fff;}
#footerCart {position: absolute;bottom: 0;width: 100%;height: 70px;background:url(/new/pix/bg-cart.gif) repeat-x;}
/* for moz/opera and others*/
html>body #footerCart{position: fixed;}

#dogCart {height: 135px;width:145px;background:url(/new/pix/dog_with_cart.png) no-repeat left;margin-top:-70px;z-index:4;float:left;}
#detailCart{height:70px;width:85%;text-align:right;float:right;}
#checkout{z-index:4;margin-top:-30px;margin-right:10px;float:right;}
.priceContainer, .discountContainer, .itemContainer{text-align:center;padding:5px 10px;float:right;border-left:1px dotted #999;overflow:hidden;}
.priceContainer span, .discountContainer span{font-family:Arial, Helvetica, sans-serif;font-size:13px;}
.priceContainer strong, .discountContainer strong{font-family:Arial, Helvetica, sans-serif;font-size:16px;}
input.couponBox {border: 1px solid #999;border-radius:7px;box-shadow: 0 1px 2px #ccc inset;height: 20px;margin-top: 8px;width: 100px;padding:3px;}
input.applyCoupon {border: 0 none;border-radius:7px;box-shadow: 0 1px 0 #666;font-size: 12px;font-weight: bold;padding: 5px 10px;text-align: center;margin-top: 8px;}
/* margin-bottom ensures lastcontent is not obscured by footer */
