<<<<<<< .mine
/* Layout helpers ----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	font-size: 100%;
	list-style: none;
	text-decoration: none;
}
.ui-helper-clearfix:before, .ui-helper-clearfix:after {
	content: "";
	display: table;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	zoom: 1;
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter: Alpha(Opacity=0);
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}



=======
/* Layout helpers*/
.ui-helper-hidden {display: none;}
.ui-helper-hidden-accessible {border: 0;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}
.ui-helper-reset {margin: 0;padding: 0;border: 0;outline: 0;line-height: 1.3;font-size: 100%;list-style: none;text-decoration: none;}
.ui-helper-clearfix:before, .ui-helper-clearfix:after {content: "";display: table;}
.ui-helper-clearfix:after {clear: both;}
.ui-helper-clearfix {zoom: 1;}
.ui-helper-zfix {width: 100%;height: 100%;top: 0;left: 0;position: absolute;opacity: 0;filter: Alpha(Opacity=0);}
/* Interaction Cues*/
.ui-state-disabled {cursor: default !important;}
>>>>>>> .r3060
/* workarounds */
* html .ui-autocomplete {width: 1px;} /* without this, the menu expands to 100% in IE6 */
.ui-button {display: inline-block;position: relative;padding: 0;margin-right: .1em;cursor: pointer;text-align: center;zoom: 1;overflow: visible;} /* the overflow property removes extra width in IE */
.ui-button, .ui-button:link, .ui-button:visited, .ui-button:hover, .ui-button:active {text-decoration: none;}
.ui-button-icon-only {width: 2.2em;} /* to make room for the icon, a width needs to be set here */
button.ui-button-icon-only {width: 2.4em;} /* button elements seem to need a little more width */
.ui-button-icons-only {width: 3.4em;} 
button.ui-button-icons-only {width: 3.7em;} 
/*button text element */
.ui-button .ui-button-text {display: block;line-height: 1.4;}
.ui-button-text-only .ui-button-text {padding: 5px;}
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {padding: .4em;text-indent: -9999999px;}
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {padding: 5px;}
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text {padding: .4em 2.1em .4em 1em;}
.ui-button-text-icons .ui-button-text {padding-left: 2.1em;padding-right: 2.1em;}
/* no icon support for input elements, provide padding by default */
input.ui-button {padding: .4em 1em;}
/*button icon element(s) */
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon {position: absolute;top: 50%;margin-top: -8px;}
.ui-button-icon-only .ui-icon {left: 50%;margin-left: -8px;}
.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary {left: .5em;}
.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary {right: .5em;}
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary {right: .5em;}
/*button sets*/
.ui-buttonset {margin-right: 0px;}
.ui-buttonset .ui-button {margin-left: 0;margin-right: -.3em;}
/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {-moz-border-radius-topleft: 5px/*{cornerRadius}*/;-webkit-border-top-left-radius: 5px/*{cornerRadius}*/;-khtml-border-top-left-radius: 5px/*{cornerRadius}*/;border-top-left-radius: 5px/*{cornerRadius}*/;}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {-moz-border-radius-topright: 5px/*{cornerRadius}*/;-webkit-border-top-right-radius: 5px/*{cornerRadius}*/;-khtml-border-top-right-radius: 5px/*{cornerRadius}*/;border-top-right-radius: 5px/*{cornerRadius}*/;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {-moz-border-radius-bottomleft: 5px/*{cornerRadius}*/;-webkit-border-bottom-left-radius: 5px/*{cornerRadius}*/;-khtml-border-bottom-left-radius: 5px/*{cornerRadius}*/;border-bottom-left-radius: 5px/*{cornerRadius}*/;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {-moz-border-radius-bottomright: 5px/*{cornerRadius}*/;-webkit-border-bottom-right-radius: 5px/*{cornerRadius}*/;-khtml-border-bottom-right-radius: 5px/*{cornerRadius}*/;border-bottom-right-radius: 5px/*{cornerRadius}*/;}
/* Interaction states*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {border: 1px solid #81a00c;/*{borderColorDefault}*/;background: #ccc;background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#ffffff));background: -webkit-linear-gradient(top, #cccccc, #ffffff);
   background: -moz-linear-gradient(top, #cccccc, #ffffff);  background: -ms-linear-gradient(top, #cccccc, #ffffff);background: -o-linear-gradient(top, #cccccc, #ffffff);color: #555555/*{fcDefault}*/;}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {color: #555555/*{fcDefault}*/;text-decoration: none;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {background: #ffffff;background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));background: -webkit-linear-gradient(top, #ffffff, #cccccc);background: -moz-linear-gradient(top, #ffffff, #cccccc); background: -ms-linear-gradient(top, #ffffff, #cccccc); background: -o-linear-gradient(top, #ffffff, #cccccc);}
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited {color: #212121/*{fcHover}*/;text-decoration: none;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {border: 1px solid #aaaaaa/*{borderColorActive}*/;background: #ffffff/*{bgColorActive}*/ /*{bgImgUrlActive}*/ 50%/*{bgActiveXPos}*/ 50%/*{bgActiveYPos}*/ repeat-x/*{bgActiveRepeat}*/;font-weight: normal/*{fwDefault}*/;color: #212121/*{fcActive}*/;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {color: #212121/*{fcActive}*/;	text-decoration: none;}
.span_remove_styles {font-size: 14px;color: #666;float: left;font-family: Arial, Helvetica, sans-serif;padding-top: 7px;margin-right: 10px;}
.search_filter {display: block;color: #666;float: left;margin: 1px 2px 1px 0;padding: 3px 5px;background-color: #eee;border: 1px solid #D8D8D8;width: auto;-moz-border-radius: 4px;-webkit-border-radius: 4px;-khtml-border-radius: 4px;border-radius: 4px;background: -moz-linear-gradient(top, #ddd 0%, #EEE 100%);box-shadow: 0 1px 0 #FEFEFE inset, 0 1px 0 #FAFAFA;}
.clearfix {display: inline-block;}
#selected_fltrs{padding: 10px;overflow: auto;}