@charset "utf-8";
/* CSS Document */
.container{ float:left;width: 680px;margin: 12px 0 0 0;}
html ul.tabs li.active {
 border-radius:0;
background: #fff;
border:1px solid #668000;
border-bottom: 0px;
}
html ul.tabs li.active a{ border:0px; border-radius:0;background: #fff; border-top:4px solid #668000;}
html ul.tabs li{ border-radius:0;border:0px solid #668000; margin-right:3px; }
.be_tab:hover{ overflow:visible;}
html ul.tabs li>ul{float: right;
width: 131px;
top: 36px;
right: 0px;
position: absolute;}
html ul.tabs li>ul>li{ float:left; width:100%; overflow:visible; list-style:none;}
ul.tabs li a {
background: #edffb3;
font-size: 15px;
padding: 0px 11px;
border: 1px solid #668000;
border-radius: 2px 2px 0 0;
text-transform: uppercase;
}
html ul.tabs li.active a:hover, html ul.tabs a:hover {
background: #668000; color:#fff;
border-radius: 0;
border: 1px solid #666;
border-bottom: 0px;
}
html ul.tabs li.active a:hover{border:0px;}
.tab_container{border: 0;
border-top: 1px solid #668000; padding:0px;
border-radius: 0px;
}
.tab_content p { color:#333;}
/*#rateIt {
height: 15px;
overflow: hidden;
}*/
ul.rating li{ border:0px;}
.tab_content {clear: both;}
.be_relatedCom label {
width: 64% !important;
}
div.be_ad_banner.cont660 {border: 0px solid #ddd !important;}

/* adoption table */

.adoption_tag
{
	margin-top:20px;
	float:left;
}
.adoption_tags_table {
  background: white;
  border-collapse: collapse;
  float:left;
  padding:5px;
  border:1px solid #CCC;
  font-family:"Segoe UI";
  width:280px;
}
 
.adoption_tags_table th {
  color:#fff;;
  background:#999;
  border-bottom:1px solid #ccc;
  border-right: 1px solid #ccc;
  font-size:18px;
  font-weight: 100;
  padding: 5px;
  text-align:left;
  vertical-align:middle;
  font-family:"Segoe UI";
}

.adoption_tags_table th:first-child {
  border-top-left-radius:0px;
}
 
.adoption_tags_table th:last-child {
  border-top-right-radius:0px;
  border-right:none;
}
  
.adoption_tags_table tr {
  border-top: 1px solid #ccc;
  border-bottom-: 1px solid #ccc;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  
}
 
.adoption_tags_table tr:first-child {
  border-top:none;
}

.adoption_tags_table tr:last-child {
  border-bottom:none;
}
 
.adoption_tags_table tr:nth-child(odd) td {
  background:#EBEBEB;
} 
.adoption_tags_table td {
  background:#FFFFFF;
  padding: 7px 5px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  border-right: 1px solid #C1C3D1;
}
.adoption_tags_table td a {

font-family:"Segoe UI";
font-size:15px;
color:#333;
}
..adoption_tags_table td a:hover {

font-family:"Segoe UI";
font-size:15px;
color:#333;
}
.adoption_tags_table td:last-child {
  border-right: 0px;
}

.adoption_tags_table th.text-left {
  text-align: left;
}

.adoption_tags_table td.text-left {
  text-align: left;
}


.titile_tag a.tooltip span{
z-index: 10;
display: none; 
border-radius:4px; 
-moz-border-radius: 4px; 
-webkit-border-radius: 4px; 
} 

.titile_tag a.tooltip:hover span{ 
display: inline; 
position: absolute; 
border: 1px solid #8c8c8c; 
background: #fff;
} 


.titile_tag a.tooltip > span{
width: 200px; 
padding: 10px 12px; 
opacity: 0; 
visibility: hidden; 
z-index: 10; 
position: absolute; 
font-size: 13.5px; 
font-style: normal; 
-webkit-border-radius: 3px; 
-moz-border-radius: 3px; -o-border-radius: 3px; 
border-radius: 3px; 
-webkit-box-shadow: 4px 4px 4px #d9b3c3; 
-moz-box-shadow: 4px 4px 4px #d9b3c3; 
box-shadow: 4px 4px 4px #d9b3c3; 
color: #668000; 
background: #fff; 
background: -moz-linear-gradient(top, #FBF5E6 0%, #FFFFFF 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBF5E6), color-stop(100%,#FFFFFF)); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBF5E6', endColorstr='#FFFFFF',GradientType=0 ); 
border: 1px solid #8c8c8c; 
}


.titile_tag a.tooltip:hover > span{ 
opacity: 1; 
text-decoration:none; 
visibility: visible; 
overflow: visible; 
margin-top: 50px; 
display: inline; 
margin-left: -150px;
text-align:left;
}

.titile_tag a.tooltip span b{ 
width: 15px; 
height: 15px; 
margin-left: 20px; 
margin-top: -19px; 
display: block; 
position: absolute; 
-webkit-transform: rotate(-45deg); 
-moz-transform: rotate(-45deg); 
-o-transform: rotate(-45deg); 
transform: rotate(-45deg); 
-webkit-box-shadow: inset -1px 1px 0 #fff; 
-moz-box-shadow: inset 0 1px 0 #fff; -o-box-shadow: inset 0 1px 0 #fff; 
box-shadow: inset 0 1px 0 #fff; 
display: none\0/; *display: none; 
background: #fff; 
border-top: 1px solid #8c8c8c; 
border-right: 1px solid #8c8c8c; 
}
.sharebtn_container {		/*For social buttons*/
    margin-top: 20px;
} 
</style>
           <style>
ul.rating li.be_one a:hover{ background-position:0 -23px !important;}
ul.rating li.be_two a:hover{ background-position:0 -46px !important;}
ul.rating li.be_three a:hover{ background-position:0 -69px !important;}
ul.rating li.be_four a:hover{ background-position:0 -92px !important;}
ul.rating li.be_five a:hover{ background-position:0 -115px !important;}

