.brownstrip { background-color:#2a1e07; padding:10px 0px 10px 0px; float:left; width:100%;}
.brownstrip h1 {font:bolder 28px arial; color:#fff;}
.brownstrip h1 span {font:28px arial; color:#fff;}
ul.business_linstings_city { list-style-type:none; margin:0; padding:0; float:left;}
ul.business_linstings_city li {margin-right:10px; float:left; color:#484848; font:12px arial;}
ul.business_linstings_city li.first { font-weight:bold; color:#2a1e07;}
ul.business_linstings_city li a{ font:12px arial; color:#484848;}
ul.business_listings_category { list-style-type:none; margin:0; padding:0;}
ul.business_listings_category li { float:left; margin-right:40px;}
ul.business_listings_category li a {font:bolder 12px arial; color:#867b62; display:block; margin-bottom:5px;}
ul.business_listings_category li a:hover { text-decoration:none; color:#484848;}
ul.business_listings_reviews {list-style-type:none; margin:0; padding:0; }
ul.business_listings_reviews li { float:left; margin-right:120px;}
ul.business_listings_reviews li a {font:bolder 30px arial; color:#727272; display:block; line-height:24px;}
ul.business_listings_reviews li a:hover {text-decoration:none;}
ul.business_listings_reviews li span a {font:bolder 18px arial; color:#727272; display:block; }
.business_listings_comments_text {font:bolder 12px arial; color:#969696; line-height:16px;}
.business_listings_col364 {width:364px; float:left;}
.breadcrumb a { font-size:13px !important; text-decoration:none;}
.breadcrumb{background:#fff !important; font-family:Arial, Helvetica, sans-serif;}
.breadcrumb_cont{float:left; width:100%; color: #666; font-size:13px; word-spacing:2px; margin-top:5px;}
.breadcrumb_cont span{ color:#333;}
.breadcrumb_cont span a:hover{ color:#668000; font-size:13px;}
.brd_font_bold{ font-weight:bold;}