body{margin:0; padding:0;}
h1{font:bold 26px calibri; padding:0; margin:0; text-align:center; color:#ff5101}
h2{font:bold 20px calibri; padding:0; margin:0; text-align:center; color:#ff5101}
h3{font:bold 16px calibri; padding:0; margin:0; text-align:center; color:#333}
h4{font:14px calibri; padding:0; margin:0; text-align:center; color:#333}
#wrapper{margin:0; padding:0; border:0px solid #000; }
#header{height:65px; border:0px solid #ff0000; background:url(/new/pix/checkout/header_bg.gif) repeat-x;}
#mainmidbody{background:url(/new/pix/checkout/body_bg.gif) repeat-x; width:100%; height:auto; border:0px solid #00ff00; background-color:#CDE075;}
.centerbodycont{width:965px; height:auto !important; height:500px; min-height:500px; border:0px solid #ff0000; margin:0 auto;}
#breadcrumbs{width:100%; height:60px; border:0px solid #000; margin-top:0px; width:969px; text-align:center}
.mand{color:#FF0000; margin:0 auto}
#mainframe_123{background-color:#AFD71C; height:auto !important; height:300px; min-height:300px; width:965px; border:3px solid #96bd04; /*margin:10px auto*/}
#boxframe_more_123{width:auto; height:383px; height:auto !important; height:300px; min-height:300px; border:0px solid #AFD71C; margin:40px; background-color:#fff}
#footer{width:100%; height:50px; border-top:2px solid #c1c1c1; background-color:#e8e8e8; margin-top:0px; text-align:center;}
#footer a{font:11px arial; padding:0px 5px 0px 25px; text-decoration:none; color:#333333; float:left;}
.verticalail{vertical-align:middle}
#footernav{padding-top:18px; margin-left:350px;}

.imgmar{margin-top:7px;}
/* CSS Document */
img{border:none;}
#mainframe{background-color:#AFD71C; width:733px; border:3px solid #96bd04; margin:15px auto}
.chkheader{font:bold 16px arial; color:#333333; padding:12px;}
#mainchkcenter{border:0px solid #333;  float:left; background-color:#F0EFEF}/*margin:0px 40px 40px 40px;*/
/*#close_icon{width:27px;	height:27px; border:0px solid #000; float:right; margin-top:-10px; margin-right:-10px; cursor:pointer}*/
#close_icon_11{width:27px;	height:27px; border:0px solid #000; float:right; margin-top:-65px; margin-right:-65px; cursor:pointer; font:bold 12px arial;}
.hedclr{color:#fff;}
.tbldata{font:14px arial; color:#333;}
.tblpdg{padding:10px 0;}
.smal_lk{font:11px arial; color:#2020FF}
.qtyfld{width:40px; height:20px; border:1px solid #ccc; text-align:center}
.couponinfo{font:12px arial; color:#333; width:325px; background-color:#FFFFFF; margin-top:15px; padding:10px; float:left; display:inline}
.pricedtl{font:12px arial; color:#333; width:275px; background-color:#fff; margin-top:15px; padding:0px; float:right; display:inline}
.priceholder{border:0px solid #000; float:left; width:100%;}
.buttons{border:0px solid #000; float:left; width:100%; margin-top:15px; margin-bottom:10px;}
.shopping_btn{float:left; display:inline; border:0px solid #000; margin-left:-7px;}
.order_btn{float:right; display:inline; border:0px solid #000; margin-right:-7px;}

/*Sign in page*/
#loginmain{width:965px; height:400px; border:2px solid #a1cc01; margin:0 auto; background-color:#AFD71C;}
.loginheader{font:bold 16px arial; color:#fff; padding:10px; background-color:#ff5101;}
#boxframe{width:880px; height:320px; border:0px solid #ff0000; margin:40px auto; background-color:#FFFFFF}

#loginmain1{width:965px; height:470px; border:2px solid #a1cc01; margin:0 auto; background-color:#AFD71C;}
#boxframe1{width:880px; height:380px; border:0px solid #ff0000; margin:40px auto; background-color:#FFFFFF}

#loginmain2{width:965px; height:365px; border:2px solid #a1cc01; margin:0 auto; background-color:#AFD71C;}
#boxframe2{width:884px; height:280px; border:0px solid #ff0000; margin:0px auto; background-color:#FFFFFF}

#boxA{width:430px; /*height:500px;*/ border:0px solid #ccc; float:left; display:inline;}
#boxB{width:50px; /*height:500px;*/ border:0px solid #ccc; float:left; display:inline; vertical-align:middle; text-align:center}
#boxC{width:404px; /*height:500px;*/ border:0px solid #ccc; float:left; display:inline;}
.fontformation{font:12px arial; color:#333333;}
.small_info{font:10px arial; color:#333; padding-left:23px;}
.socialdiv{margin:0 auto; border:2px solid #ccc; font:12px arial; padding:0px 5px 0 0;  width:160px;}
.imgpd{padding:3px 0 3px 5px; vertical-align:middle}
.addressfld{width:300px; height:80px;}

/*Shipping*/
#loginmain_more{width:965px; height:570px; border:2px solid #a1cc01; margin:0 auto; background-color:#AFD71C;}
#loginmain_more11{width:965px; height:565px; border:2px solid #a1cc01; margin:0 auto; background-color:#AFD71C;}
#boxframe_more{width:880px; height:484px; border:0px solid #ff0000; margin:40px auto; background-color:#FFFFFF}
#loginmain_more{width:965px; height:465px; border:2px solid #a1cc01; margin:0 auto; background-color:#AFD71C;}
#boxframe_more_1{width:880px; height:383px; border:0px solid #ff0000; margin:40px auto; background-color:#FFFFFF}
.shippingbox{width:880px; height:500px; border:0px solid #ccc; float:left; display:inline;}
.shipping_blkframe{float:left; display:inline; width:300px; height:350px; border:0px solid #333;}
.shipping_more{width:570px; height:364px; border:0px solid #ccc; float:right; display:inline;}
.showaddress{width:20px;}
.addblock{width:130px; font:12px arial; margin:5px; height:120px; -moz-border-radius:5px; border-radius:5px; border:1px solid #ccc; padding:0px;}
.adddtl{font:12px arial; padding:7px;}

.contact_frm{border:40px solid #afd71c; padding:15px; background-color::#fff; width:30%; margin:20px auto;}
.doglogoid{/*padding:4px;*/ font:12px arial; background-color:#88a31f; color:#fff; width:110px; height:24px; border:0px solid #000; margin:0 auto; 
background:url(/new/pix/checkout/css_sprites.png) no-repeat; background-position:-58px 0;}
.fishlogoid{/*padding:4px;*/ font:12px arial; background-color:#88a31f; color:#fff; width:110px; height:24px; border:0px solid #000; margin:0 auto; 
background:url(/new/pix/checkout/css_sprites.png) no-repeat; background-position:-58px -24px;}

/*Checkout page div based code*/
.clear{clear:both}
.cartfullwh{width:100%; margin:0 auto;}
.carthead{width:100%; background-color:#FF5101;}
.headcolone{float:left; display:inline; width:16%; font:14px arial; border-right:1px solid #dcdbdb; color:#fff; background-color:#FF5101; text-align:center; padding:15px 0px; }
.headcoltwo{float:left; display:inline; width:16%; font:14px arial; border-right:1px solid #dcdbdb; color:#fff; background-color:#FF5101; text-align:center; padding:15px 0; }
.productname{margin-top:15px; }
.headcolthree{float:left; display:inline; width:10%; font:14px arial; border-right:1px solid #dcdbdb; color:#fff; background-color:#FF5101; text-align:center; padding:15px 0;}
.qtyproduct{margin:40px auto;}
.headcolfour{float:left; display:inline; width:10%; font:14px arial; border-right:1px solid #dcdbdb; color:#fff; background-color:#FF5101; text-align:center; padding:15px 0; }
.qtyproduct{margin:40px auto;}
.headcolfive{float:left; display:inline; width:15%; font:14px arial; border-right:1px solid #dcdbdb; color:#fff; background-color:#FF5101; text-align:center; padding:15px 0; }
.headcolsix{float:left; display:inline; width:10%; font:14px arial;border-right:1px solid #dcdbdb; color:#fff; background-color:#FF5101; text-align:center; padding:15px 0; }
.headcolseven{float:left; display:inline; width:12%; font:14px arial; border-right:1px solid #dcdbdb; color:#fff; background-color:#FF5101; text-align:center; padding:15px 0; }
.headcoleight{float:left; display:inline; width:10%; font:14px arial;  color:#fff; background-color:#FF5101; text-align:center; padding:15px 0; }

.fullwhproduct{width:100%; background-color:#fff; margin:0 auto; border-top:1px solid #dcdbdb; background-color:#fff; color:#333; height:110px;}
.fullgrproduct{width:100%; background-color:#F2F2F2; margin:0 auto; border-top:1px solid #dcdbdb; background-color:#f2f2f2; color:#333 height:110px;;}
.productcolone{float:left;display:inline;width:16%; font:14px arial; border-right:1px solid #dcdbdb; text-align:center; height:110px}
.productcoltwo{float:left;display:inline;width:16%; font:14px arial; border-right:1px solid #dcdbdb; text-align:left; height:110px;}
.productcolthree{float:left;display:inline;width:10%; font:14px arial; border-right:1px solid #dcdbdb; text-align:center; height:110px}
.productcolfour{float:left;display:inline;width:10%; font:14px arial; border-right:1px solid #dcdbdb; text-align:center; height:110px;}
.productcolfive{float:left;display:inline;width:15%; font:14px arial; border-right:1px solid #dcdbdb; text-align:center; height:110px;}
.productcolsix{float:left;display:inline;width:10%; font:14px arial; border-right:1px solid #dcdbdb; text-align:center; height:110px;}
.productcolseven{float:left;display:inline;width:12%; font:14px arial; border-right:1px solid #dcdbdb; text-align:center; height:110px;}
.productcoleight{float:left;display:inline;width:10%; font:14px arial; text-align:center;}

.bgdiv{background-color:#dcdbdb}
.twelvearial{font:12px arial}
.ordersmm{float:left; border:0px solid #000; width:95%; background-color:#dcdbdb; margin-left:12px; font:12px arial;}
.producthd{font:bold 16px arial; color:#333; padding:5px;}

/*css sprites*/
#close_icon{width:27px; height:27px; background:url(/new/pix/checkout/css_sprites.png) no-repeat;float:right; margin-top:-10px; margin-right:-10px; cursor:pointer}
.delicon{width:22px; height:22px; float:left; margin-left:22px; background:url(/new/pix/checkout/css_sprites.png) no-repeat; background-position:-31px 0px;}
.contishop{width:176px; height:53px; border:0px solid #000; background:url(/new/pix/checkout/css_sprites.png) no-repeat; background-position:-324px 0; float:left}
.placeodr{width:174px; height:53px; border:0px solid #000; background:url(/new/pix/checkout/css_sprites.png) no-repeat; background-position:-326px -54px; float:right}
.verify_btn{width:101px; height:38px; background:url(/new/pix/checkout/css_sprites.png) no-repeat; background-position:-169px 0; float:right}
.applycode_btn{width:140px; height:40px; background:url(/new/pix/checkout/css_sprites.png) no-repeat; background-position:-169px -37px; float:left; margin-left:7px;}
.placeodr_btn{width:155px; height:45px; background:url(/new/pix/checkout/css_sprites.png) no-repeat; background-position:-169px -78px; float:right; margin-left:7px;}
.contishop_btn{width:190px; height:45px; background:url(/new/pix/checkout/css_sprites.png) no-repeat; background-position:-159px -125px; float:left;}
.savencont_btn{width:190px; height:45px; background:url(/new/pix/checkout/css_sprites.png) no-repeat; background-position:-159px -175px; float:right;}
.savencont_btn12{width:190px; height:45px; background:url(/new/pix/checkout/save_add.png) no-repeat; float:right;}
.savencont_btn123{width:190px; height:45px; background:url(/new/pix/checkout/update_add.png) no-repeat; float:right;}
.cont_btn{width:129px; height:47px; background:url(/new/pix/checkout/css_sprites.png) no-repeat; background-position:-0px -48px; float:right;}
.or_cir{width:49px; height:46px; border:0px solid #000; background:url(/new/pix/checkout/css_sprites.png) no-repeat; background-position:2px -101px; float:left; margin-top:120px;}
.facebook_login{width:240px; height:55px; border:0px solid #000; background:url(/new/pix/checkout/css_sprites.png) no-repeat; float:left; background-position:-169px -222px; margin-left:75px;}
.google_login{width:240px; height:55px; border:0px solid #000; background:url(/new/pix/checkout/css_sprites.png) no-repeat; float:left; background-position:-169px -275px; margin-left:75px;}
.aftrcaling{width:210px; height:51px; border:0px solid #000; background:url(/new/pix/checkout/css_sprites.png) no-repeat; float:left; background-position:-169px -326px; margin-left:95px;}
span.secureP{width:25px; height:26px; border:0px solid #ff0000; background:url(/new/pix/checkout/css_sprites.png) no-repeat; background-position:-133px -83px; float:left; margin-top:-7px;px;}
span.deliveryP{width:30px; height:25px; border:0px solid #ff0000; background:url(/new/pix/checkout/css_sprites.png) no-repeat; background-position:-118px -111px; float:left; margin-top:-7px;px;}
span.returnnR{width:28px; height:25px; border:0px solid #ff0000; background:url(/new/pix/checkout/css_sprites.png) no-repeat; background-position:-80px -108px; float:left; margin-top:-7px;px;}
span.genuine{width:22px; height:25px; border:0px solid #ff0000; background:url(/new/pix/checkout/css_sprites.png) no-repeat; background-position:-54px -108px; float:left; margin-top:-7px;px;}
.headlogo{width:355px; height:66px; border:0px solid #000; float:left; background:url(/new/pix/checkout/css_sprites.png) no-repeat; background-position:-0px -381px;}
.alertmsg{font:12px arial; color:#ff0000; padding:5px 0 5px 150px; text-align:left}
.txtfld{border:1px solid #ccc; height:22px;}