.slide-out-div{padding:10px;width:240px;background:#fff;border:#ccc 1px solid;border-radius:5px;font-family:Arial, Helvetica, sans-serif;font-size:14px;}
.timing_tab{font-family:Arial, Helvetica, sans-serif;font-size:14px;background:#9ac33c;color:#fff;padding:7px;border-radius:3px;margin-top:10px;font-weight:bold;}
.support_side_tab{border-radius:4px;margin-top:5px;}
.call_use_section{margin:auto;width:150px;}
.call_us_tab{margin-top:10px;}
.call_use_bold{font-weight:bold;}
.email_bold{font-weight:bold;}
.customer_care_no{margin-top:2px;}
.customer_care_email_id{margin-top:2px;}