@font-face {
	font-family: 'throw_my_hands_up_in_the_aiRg';
	src: url('https://www.dogspot.in/wag_club/font/throwmyhandsupintheair.eot');
	src: url('https://www.dogspot.in/wag_club/font/throwmyhandsupintheair.eot?#iefix') format('embedded-opentype'), url('https://www.dogspot.in/wag_club/font/throwmyhandsupintheair.woff') format('woff'), url('https://www.dogspot.in/wag_club/font/throwmyhandsupintheair.ttf') format('truetype'), url('https://www.dogspot.in/wag_club/font/throwmyhandsupintheair.svg#throw_my_hands_up_in_the_aiRg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'throw_my_hands_up_in_the_aiBd';
	src: url('https://www.dogspot.in/wag_club/font/throwmyhandsupintheairbold.eot');
	src: url('https://www.dogspot.in/wag_club//font/throwmyhandsupintheairbold.eot?#iefix') format('embedded-opentype'), url('https://www.dogspot.in/wag_club/font/throwmyhandsupintheairbold.woff') format('woff'), url('https://www.dogspot.in/wag_club/font/throwmyhandsupintheairbold.ttf') format('truetype'), url('https://www.dogspot.in/wag_club/font/throwmyhandsupintheairbold.svg#throw_my_hands_up_in_the_aiBd') format('svg');
	font-weight: normal;
	font-style: normal;
}
.wag_club_sec {
	height: 215px;
	background: url(https://www.dogspot.in/wag_club/images/back_blck.jpg) no-repeat center 1px;
	float: left;
	width: 100%;
	margin-top: -1px;
}
.wag_club_sec h1 {
	font-family: 'throw_my_hands_up_in_the_aiBd';
	color: #fff;
	font-size: 25px;
	width: 100%;
	padding-bottom: 15px;
	text-align: center;
	text-shadow: 4px 5px 0px #050505;
	text-shadow: 4px 5px 0px #050505;
}
.wag_club_sec p {
	display: table-cell;
	padding: 0px 0px 0px 5px;
	border-bottom: 2px dashed;
	float: left;
	width: 100%;
	border-top: 2px dashed;
	text-align: center;
	display: table;
	color: #fff;
}
.wag_club_sec p span.font174 {
	font-size: 36px;
	display: table-cell;
	vertical-align: middle;
	font-family: 'throw_my_hands_up_in_the_aiBd';
}
.wag_club_sec p span.font50 {
	font-size: 20px;
	display: table-cell;
	vertical-align: middle;
	font-family: 'throw_my_hands_up_in_the_aiBd';
}
.add_btn_dg {
	text-align: center;
	width: 100%;
	float: left;
}
.ad_dg_btn {
	background: #8dc059;
	width: 208px;
	margin-top: 10px;
	text-align: center;
	margin: auto;
	margin-top: 20px;
	color: #fFf;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 18px;
}
.contest_feed {
	width: 100%;
	float: left;
	margin-top: 40px;
	text-align: center;
	background: #f0f0f0;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 18px;
}
.ui-navbar ul {
	background: #f0f0f0!important;
	border-radius: 0!important;
}
.ui-btn-active, .ui-state-active {
	background: #ddd !important;
}
.ui-navbar li .ui-btn {
	font-size: 17.5px !important;
}
.wag_club_list {
	width: 100%;
	float: left;
	margin: 0px 0px 20px 0px;
}
.post-container {
	margin: 0 auto;
	max-width: 320px;
	overflow: hidden;
}
.post-header {
	margin-top: 30px;
}
.contest_dog_small {
	float: left;
	width: 15%;
	margin-bottom:15px;
}
.contest_dog_small img {
	max-width: 50px;
	max-height: 50px;
	border: 1px solid #ccc;
}
.dogName_act_new {
	padding-left: 10px;
	float: left;
	font-size: 16px;
	width: 80%;
}
.post-content {
	width: 100%;
	float: left;
	background: #f4f4f4;
}
.post-content img {
	max-width: 320px;
	height: auto;
	border-radius: 5px;
}
.ui-navbar li .ui-btn {
	text-align: center;
}
.wagPost {
	background: #000;
	float: left;
	height: 38px;
	margin: 5px 5px 5px 0;
	padding: 5px;
}
.wagPost span{ color:#fff !important;}
.postIcon_wc_new {
	background: rgba(0, 0, 0, 0.53);
	padding-left: 5px;
	max-width: 320px;
	margin-top: -48px;
	position: absolute;
	width: 100%;
}
.dg_cmntBox {
	float: left;
	width: 100%;
	max-width: 320px;
	background: rgba(141, 141, 141, 0.15);
	border-radius: 2px;
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #ddd;
}
.dg_Imguser {
	float: left;
	width: 20%;
}
.dg_Imguser img {
	max-width: 50px;
	max-height: 50px;
}
.dg_Txtcmnt {
	width: 80%;
	float: left;
}
.textWrite {
	height: 43px;
	border: none;
	resize: none !important;
}
.dg_cmntPost {
	float: left;
	text-transform: uppercase;
	background: #8dc059;
	width: 100%;
	text-align: center;
	padding: 5px 0;
	margin-top: 5px;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
}
.btn-primary {
	background-color: #d1d1d1;
}
.btn {
	display: block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.contest_uploadblk {
	padding: 15px;
}
.ui-btn {
	border: none !important;
	border-bottom: 1px solid #ddd;
	border-radius: 0px !important;
	padding-top: 10px !important;
	padding-bottom: 10px!important;
	color: #999;
	font-size: 14px !important;
	border-bottom: 1px solid #ccc !important;
}
.ui-input-btn {
	background-color: #d1d1d1 !important;
}
#image-holder {
	margin-top: 15px;
}
.ui-select .ui-btn {
	border-radius: 0px !important;
}
.mrt {
	margin-top: 15px !important;
}
.dog_nameinput {
	background: #fff;
	border: none;
	border-bottom: 1px solid #ccc;
	padding-top: 10px !important;
	padding-bottom: 10px!important;
}
.ui-input-text input {
	background: #fff !important;
	border: none !important;
	border-bottom: 1px solid #ccc!important;
}
.dg_cmnt_cls {
	text-align: right;
}
.image-holder img {
	max-width: 200px;
	height: auto;
}
.ui-mobile .ui-page-active {
	overflow-x: initial!important;
}
.actImg_post_new {
	text-align: center;
}
.actTxt_post {
	float: left;
	width: 100%;
	margin-top: 8px;
}
.dog_name_wc {
	float: left;
	width: 100%;
	background: url(../images/bg_wc.jpg) repeat #e8e7c5;
	margin-top: 1px;
}
.dog_sec_wc1 {
	width: 100%;
	text-align: center;
}
.left_sec_dg {
	width: 100%;
	float: left;
	margin-top: 20px;
}
.left_sec_dg h1 {
	font-size: 26px;
	color: #E4E4E4;
	text-shadow: 2px 2px #000;
	text-align: center;
}
.left_sec_dg p {
	font-size: 16px;
	color: #fff;
	text-align: center;
}
.wc_btn {
	float: left;
	width: 100%;
	background: rgba(255, 255, 255, 0.34);
	margin: 20px 0;
	padding: 24px 0;
	border-top: 1px dashed #fff;
	border-bottom: 1px dashed #fff;
}
.actUp_wc {
	background: #fff;
	width: 208px;
	margin-top: 10px;
	text-align: center;
	margin: auto;
	color: #8dc059;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 18px;
}
.wg-btn-sec {
	float: left;
	width: 100%;
}
.dog_rec_dg1 {
	background: url(../images/bg_wc1.jpg) repeat #e8e7c5;
	position: inherit;
	float: left;
	width: 100%;
}
.text_box_dg {
	color: #fff;
	width: 100%;
	text-align: center;
	font-size: 26px;
	text-shadow: 2px 2px #000;
	margin: 20px 0px;
}
.dg_popMost_top{float:left; width:100%;}
.dg_popMost_top ul{ list-style:none; margin:0px; float:left; width:100%;}
.dg_popMost_top ul li{ float:left; width:48%; text-align:center;}
.dg_popMost_top ul li:last-child{ margin-left:4%;}
.dg_popMost_top ul li img{   background: #fff;
    border: 4px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    z-index: 0;
    position: relative;
    text-align: center;
    width: 144px;
    height: 144px;}
.dg_popTxt{background: #fff;
    margin: 10px 15px;
    padding: 10px;}
	
	.dog_profileImg_dg {
    float: left;
    width: 100%;
    overflow: hidden;
}
.dog_profileImg_dg img{ width:100%; height:auto;}



.button { width: 150px; padding: 10px; 
background-color: #FF8C00; box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2);
 font-weight:bold; text-decoration:none; } 

   .loginScreen
   { 
    width: 945px; 
    position:relative; 
	z-index:99999; 
	background:#fff; 
	border:1px solid #ccc; 
	border-radius:10px;
	padding:10px;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	background:#f5f5f5;
    margin-top:15px;
	float:left;
	}
	.wag_popup_terms_cont{float:left; text-align:left; padding-left:20px; }
	.wag_popup_terms_cont h2{color:#333; font-size:16px; margin-bottom:10px; margin-top:10px;  color:#668000;}
   .wag_popup_terms_cont_text{font-size:14px; color:#333; margin-bottom:5px;}
   .wag_popup_terms_cont ul{ margin:0px; padding:0px; font-size:14px; padding-left:25px;}
   .wag_popup_terms_cont ul>li{ font-size:14px; margin-bottom:3px;}
   .wag_popup_terms_cont_text_text{font-size:14px; color:#333; margin-bottom:5px; margin-top:10px;}
   .wag_popup_terms_cont_text_textf{font-size:14px; color:#333; margin-bottom:10px; margin-top:5px;}
   .cancel { display:block; position:absolute; top:3px; right:2px; background:rgb(245,245,245); color:black; height:30px; width:35px; font-size:30px; text-decoration:none; text-align:center; 
	font-weight:bold; cursor:pointer;
	} 


.dog_name_dg {
    float: left;
    background: url(/wag_club/images/bg_wc1.jpg) repeat #e8e7c5;
    top: 176px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.add_name_dg {
    max-width: 940px;
    margin: 0 auto;
}
.add_name_box_dg {
    float: left;
    width: 100%;
}
#container {
float:left;
width:100%; 
text-align:center;
overflow: hidden;
}
#slider-wrapper {
    width: 8460px;
}
.slide_dg {
    width: 940px;
    max-height: 500px;
    overflow: hidden;
    float: left;
}
.add_name_box_dg .que_box_dg {
    width: 100%;
    margin: 50px auto;
    font-family: 'throw_my_hands_up_in_the_aiRg';
    font-size: 24px;
}
.add_name_box_dg input[placeholder] {
    color: #333;
}
.add_name_box_dg input[type=text] {
    font-size: 30px;
    background: none !important;
    margin-bottom: 50px;
    text-align: center;
	border-bottom:0px !important;
}
.nxt_dg {
    position: absolute;
    top: -30px;
    width: 100px;
    right: 37px;
}
#NextButton {
    position: absolute;
    top: 270px;
    background: #9fc800;
    right: 0;
    padding: 28px 20px;
    border-radius: 2px 0 0 2px;
}
#PreviousButton {
    position: absolute;
    top: 270px;
    background: #9fc800;
    left: 0;
    padding: 28px 20px;
    border-radius: 0 2px 2px 0;
}
.pre_dg {
    position: absolute;
    top: -30px;
    width: 100px;
    left: 52px;
}
.select_box_dg {
    width: 500px;
    margin: 0 auto;
    text-align: left;
    position: relative;
}
.select_breed_dg {
    width: 363px;
    margin-left: 50px;
    border-radius: 2px;
    padding: 13px 20px;
    background: #574528;
    color: #fff;
    font-size: 20px;
    float: left;
    cursor: pointer;
}
.select_breed_dg {
    width: 363px;
    margin-left: 50px;
    border-radius: 2px;
    padding: 13px 20px;
    background: #574528;
    color: #fff;
    font-size: 20px;
    float: left;
    cursor: pointer;
}
.mixBreed_wc {
    float: left;
    width: 100%;
    margin-top: 0px;
    text-align: center;
}
.txt_mix_wc {
    color: #4E4E4E;
    float: left;
    width: 100%;
    text-align: center;
    margin: 5px 0px;
}
.srch_span_wc {
    float: left;
}
.select_breedBox_dg {
    width: 401px;
    margin-left: 50px;
    border-radius: 0 0 2px 2px;
    border: 1px solid #574528;
    margin-top: -46px;
    float: left;
    padding: 0px;
    background: #a89263;
}
.srch_span_wc>input[type=text] {
    font-size: 17px;
    width: 391px;
    border: 1px solid #668100;
    border-radius: 3px;
    margin: 5px;
    float: left;
    background: #fff !important;
    padding: 3px 5px;
    text-align: left;
}
.add_name_box_dg input[placeholder] {
    color: #333;
}

.select_breedBox_dg {
    width: 401px;
    margin-left: 50px;
    border-radius: 0 0 2px 2px;
    border: 1px solid #574528;
    margin-top: -46px;
    float: left;
    padding: 0px;
    background: #a89263;
}
.select_breedBox_dg ul {
    float: left;
    margin: 5px 5px 5px 5px;
    padding: 0px;
    border: 1px solid #668100;
    border-radius: 3px;
    background: #fff;
    overflow: auto;
    height: 200px;
    width: 388px;
}
.select_breedBox_dg ul li {
    float: left;
    width: 349px;
    padding: 8px 14px;
    border-bottom: 1px dashed #666;
    list-style: none;
}
.select_box_dg input[type=file] {
    width: 338px;
}
input[type="file"] {
    width: 411px;
    margin-left: 70px;
    position: absolute;
    opacity: 0;
    left: 0px;
    height: 50px;
}
.upload_photo_dg {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    float: left;
    background: #765d39;
    width: 298px;
    border-radius: 2px;
    margin-left: 70px;
    padding: 10px 20px;
    overflow: hidden;
    text-align: center;
}

div#vasPhoto {
    float: left;
    color: #D34F4F;
    background: #FCE2E6;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
    border: 1px solid #D34F4F;
    width: 100%;
}
</style>  
<style>div#vasPhoto {
float: left;
color: #D34F4F;
background: #FCE2E6;
border-radius: 5px;
padding: 5px;
font-size: 16px;
margin: 10px 0;
text-align: center;
border: 1px solid #D34F4F;
width: 100%;
}
.gender_dg {
    width: 650px;
    margin: 0 auto;
}
.gender_dg ul {
    float: left;
    margin: 0px 80px;
    padding: 0px;
}
.gender_dg ul a {
    float: left;
    width: 175px;
    margin-left: 50px;
}
.gender_dg ul li.boy_dg {
    margin-right: 87px;
    border: 8px solid #4169A5;
    overflow: hidden;
    background: #95C4D3;
}
.gender_dg ul li.boy_dg.active_boy {
    box-shadow: 0px 0px 88px -3px #00336B inset;
}
.gender_dg ul li.girl_dg.active_girl {
    box-shadow: 0px 0px 88px -3px #6B0027 inset;
}
.gender_dg ul li {
    width: 150px;
    padding: 0px;
    height: 150px;
    list-style: none;
    border-radius: 86px;
    float: left;
}
.gender_dg ul li img {
    margin-top: 17px;
}
.gender_dg ul li.girl_dg {
    border: 8px solid #D3298F;
    overflow: hidden;
    background: #F5A3C7;
}
.select_birth_box {
    margin: 10px 0 50px 0;
}
.select_month, .select_day {
    background: #765d39;
    color: #fff;
    width: auto;
    border: 0px;
    border-radius: 3px;
    font-size: 16px;
    padding: 10px;
    margin-right: 25px;
}
.age_dg {
    width: 300px;
    margin: 0 auto;
}
.ab {
	width: 300px !important;
	top: 0 !important;
	position: relative !important;
	left: 0 !important;
}
.bc {
	width: 300px !important;
	top: 0 !important;
	position: relative !important;
	left: 0 !important;
}
.ec {
	width: 300px !important;
	top: 0 !important;
	position: relative !important;
	left: 0 !important;
}
.wc_rytHead1 {
	float: left;
	position: relative;
	height: 477px;
	margin-left: 160px;
	margin-top: 50px;
	width: 712px;
}
.wc_breedBrowse1.wc_breed1.fl {
	background: none;
	width: 340px;
}
.wc_search1.wc_searchBreed1 {
	width: 300px;
	margin-left: 0;
}
.wc_search1 {
	width: 354px;
	float: left;
	background: #fff;
	border: 1px solid #88D501;
	border-radius: 2px;
}
.wc_search1.wc_searchBreed1 input {
	font-size: 19px;
	width: 300px;
	margin: 0px;
	text-align: left;
	padding: 15px;
}
.wc_headBreedBox {
	width: 403px;
	position: absolute;
	text-align: left;
	top: 62px;
	left: 0;
	;
}
.wc_headBreedBox.wc_locBox {
	left: 340px;
	right: 0;
}
.wc_select_breedBox {
	width: 300px;
}
.wc_select_breedBox ul {
	width: 280px;
	margin: 9px;
}
.wc_select_breedBox ul li {
	width: 240px;
}
.wc_breedBrowse1.wc_breed1.fl {
	background: none;
	width: 340px;
}
.fl {
	float: left;
}
.hero_name_dg {
	background: url(https://www.dogspot.in/wag_club/images/superhero.png) no-repeat;
	width: 890px;
	height: 302px;
	margin: -20px auto;
	font-size: 56px;
	color: #668100;
	font-weight: bold;
}
.name_dg {
	float: left;
	margin-top: 76px;
	margin-left: 398px;
	width: 380px;
	font-size: 35px;
	text-align: left;
	color: #4b3c27;
}
.add_name_box_dg input[type=text].tagline_dg {
	font-size: 50px;
	margin-left: 397px;
	float: left;
	text-align: left;
	width: 380px;
}
.add_name_box_dg input[placeholder] {
	color: #333;
}
@media only screen and (max-device-width: 480px) {
.slide_dg{ width:360px; border:1px solid #f00;}
	}
