
@charset "UTF-8";
ul.dropdown, ul.dropdown li,  {list-style: none; margin: 0; padding: 0;}
ul.dropdown {position: relative; z-index: 597; float: left;}
ul.dropdown li a {display: block; padding: 7px 0px 7px 15px; color:#fff; margin-top:5px; text-decoration:none;}
ul.dropdown li a:hover {color:#fff; text-decoration:none;}
ul.dropdown li {float: left; display:block; line-height: 1.3em; vertical-align: middle; zoom: 1; color:#fff;  font:bolder 20px arial; line-height: normal; background:url(/new/pix/navidivider.gif) top right no-repeat;  }
ul.dropdown li.hover, ul.dropdown li:hover {position: relative; z-index: 599; cursor: default; color:#bdb7a9;}
ul.dropdown ul {visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; }
ul.dropdown ul li {float: none; }
ul.dropdown ul ul {top: 1px; left: 99%;}
ul.dropdown li:hover > ul { visibility: visible;}
ul.dropdown ul {color:#616161; font-size: 12px; padding:5px 0px 5px 0px; width:384px; height:234px; text-align:left; background:url(/new/pix/topnav_dropdownbg.gif) top no-repeat; z-index:1000; display:block;}
ul.dropdown ul li {background-image:none; border:none; font-size:12px; font-weight:normal; color:#616161;  margin-bottom:0px; margin:15px; width:160px; float:left;  margin-right:6px; padding-right:6px; border-right:1px solid #ccc; }
ul.dropdown ul li a{ display:block; margin-bottom:0px; padding-bottom:2px; color:#616161; text-decoration:none; padding-left:16px; background:url(/new/pix/circle_nav.gif) top left no-repeat;}
ul.dropdown ul li strong{ font:bolder 16px arial; color:#867b62}
ul.dropdown ul li strong em{ color:#84a40d}
ul.dropdown ul li a.viewall {color:#889908; text-decoration:none; display:block; color:#889908; font:12px arial; background-image:none; padding-left:0px; font-weight:bold;}
ul.dropdown ul li a.viewall:hover{color:#000; text-decoration:none;}
ul.dropdown *.dir {padding-right: 15px; background-position: 100% 50%;}
ul.dropdown li {padding: 0;}
ul.dropdown li.dir {padding: 7px 14px 7px 14px;}
ul.dropdown ul li.dir { padding-right: 14px;}
ul.dropdown li {}
ul.dropdown li:hover {color:#bdb7a9;}
ul.dropdown ul a {padding: 0px 5px 4px 10px;  color:#fff;}
ul.dropdown ul a:hover {color:#bdb7a9; font-weight:bold; text-decoration:none; }
ul.dropdown a.open { color: #fff;}
ul.dropdown ul a.open { color: #fff;}
ul.dropdown li:hover > a.dir {color: #625c50; background-color:#bdb7a9; text-decoration:none;}
ul.dropdown ul li:hover > a.dir {  color:#bdb7a9;}