
@charset "UTF-8";
/* dropdown22 css */
ul.dropdown2, ul.dropdown2 li,  {list-style: none; margin: 0; padding: 0; }
ul.dropdown2 {position: relative; z-index: 597; }
ul.dropdown2 li a {display: block; padding:2px 5px 5px 10px; color:#fff; margin-top:5px; text-decoration:none;}
ul.dropdown2 li a:hover {color:#382700; text-decoration:none;}
ul.dropdown2 li { display:block; line-height: 1.3em; vertical-align: middle; zoom: 1; color:#fff;  font: 14px arial; line-height: normal; border-bottom:1px solid #9f9582;  width:182px; }
ul.dropdown2 li.hover, ul.dropdown2 li:hover {position: relative; z-index: 599; cursor: default; color:#bdb7a9;}
ul.dropdown2 ul {visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; }
ul.dropdown2 ul li {float: none; }
ul.dropdown2 ul ul {top: 0px; left: 99%;}
ul.dropdown2 li:hover > ul { visibility: visible;}
/* dropdown2 css */
ul.dropdown2 ul {color:#616161; font-size: 12px; padding:5px 0px 5px 0px; text-align:left; 	background-color:#d6c8ac; margin-top:-2px;  list-style-type:circle;}
ul.dropdown2 ul li {background-image:none; border:none; font-size:12px; font-weight:normal; color:#616161;  margin-bottom:0px; list-style-type:circle;  float:left;   }
ul.dropdown2 ul li a{ display:block; margin-bottom:0px; padding-bottom:2px; color:#47340a; text-decoration:none; padding-left:16px;}
ul.dropdown2 ul li a:hover{ color:#6c4d08}
ul.dropdown2 ul li strong{ font:bolder 16px arial; color:#867b62}
ul.dropdown2 ul li strong em{ color:#84a40d}
ul.dropdown2 ul li a.viewall {color:#889908; text-decoration:none; display:block; color:#889908; font:12px arial; background-image:none; padding-left:0px; font-weight:bold;}
ul.dropdown2 ul li a.viewall:hover{color:#000; text-decoration:none;}
ul.dropdown2 *.dir {padding-right: 15px; background-position: 100% 50%; cursor:pointer; color:#fff}