@import "dropdown-left.css";
ul.dropdown-vertical {width: 180px;background-color:#877b63;margin:0px; padding:0px;}
ul.dropdown-vertical ul {top: 1px;left: 99%;}
ul.dropdown-vertical p { margin:0px; padding:0px;}
ul.dropdown-vertical li {float: none;}