#FeaturedouterDiv {height: 258px;border: 1px solid #cfcece;background-image: url(/images/outer-bg.gif);padding: 4px;background-repeat: repeat-x;background-position: top;background-color: #e3e1e4;}
.horBox{background-image: url(/images/smallboxbg.gif);background-repeat: no-repeat;height: 50px;margin-bottom: 2px;font-family: Arial, Helvetica, sans-serif;color:#000;}
.horBox:hover{background-position: bottom left;color: #f9dc9e;outline: none; }
#fetTitle{font-family:Verdana;font-size:12px;font-weight: bold;color:#3d8b14;}
#fetTitle a{font-family:Verdana;font-weight: bold;color: #3d8b14;text-decoration: none;}
#fetTitle a:Hover{font-family:Verdana;font-weight: bold;color:#FFF;text-decoration: underline;}
#horBoxIn{margin-left: 8px;padding-top: 10px;text-align: center;font-size: 12px;}
#whitebox{height:256px;background-color:#FFFFFF;border: 1px;border-right-width:1px;border-left-width: 1px;border-bottom-width: 1px;border-top-style: solid;border-right-style: solid;border-left-style: solid;border-bottom-style: solid;border-top-color: #b94004;border-right-color: #b94004;border-left-color: #b94004;border-bottom-color: #b94004;text-align: center;width: 410px;}	
#FeaturedouterDiv a{text-decoration: none;}
#FeaturedouterDiv a:hover{text-decoration: none;}
