*body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0
}
.about-dogspot-n-head {
	font-size: 28px;
	margin-bottom: 30px;
	float: left;
	width: 100%;
	font-family: gothambold1;
	color: #333
}
.about-dogspot-n-text {
	font-size: 14px;
	font-family: Lato, sans-serif;
	margin-bottom: 30px;
	float: left;
	width: 100%;
	line-height: 23px;
	color: #555;
	letter-spacing: .6px
}
.tb_listing ul li {
	font-size: 18px
}
.about-dogspot-sec {
	float: left;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 15px
}
#footer, #newFooter {
	padding: 0;
	margin: 0
}
form, h1, h2, h3, h4, h5, h6, img, li, p, ul {
	margin: 0;
	padding: 0;
	border: none
}
#footer {
	width: 100%;
	background: #666
}
#newFooter {
	width: 100%;
	background: #fff;
	float: left;
	border-top: 1px solid #ccc
}
#footerGreen {
	width: 100%;
	overflow: auto;
	background: #3d4d00;
	padding: 5px 0;
	margin: auto;
	border-top: 1px solid #fff
}
#footerGreen p {
	font-size: 12px;
	line-height: 18px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff
}
#footerContent {
	width: 972px;
	overflow: hidden;
	background: #fff;
	padding: 20px 15px;
	margin: auto;
	padding-bottom: 0!important
}
#footerContent_left {
	width: 972px;
	float: left;
	margin-bottom: 15px
}
#footerContent_right {
	width: 255px;
	float: right
}
.footerContainer {
	margin-bottom: 0;
	float: left;
	width:307px;
	margin-right:25px;
	
	
}
.footerContainer:last-child{ margin-right:0px; }
.footerContainer ul {
	list-style-type: none;
	float: left;
    width: 50%;
}
.footerContainer li {
	text-align: left;
	font-size: 14px;
	line-height: 25px;
	display: block;
	font-family: Lato, sans-serif;
	letter-spacing: .6px
}
.divideLine_heading, .feedback h3, .feedback label, .happyClients a, .happyClients h3, .happyClients p, .happyClients span {
	font-family: Arial, Helvetica, sans-serif
}
.footerContainer li a {
	color: #555;
	text-decoration: none
}
.footerContainer li a:hover {
	color: #668000
}
.footerContainer h3, .footerContainer h5 {
	text-align: left;
	color: #555;
	font-weight: 400;
	margin-bottom: 8px;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #aaa;
	padding-bottom: 3px;
	font-size: 18px;
	display: block
}
.footerContainer h5 {
	text-transform: uppercase
}
#feedbackContainer {
	border-radius: 5px;
	padding: 10px;
	background: #3d4d00;
	width: 235px;
	margin-bottom: 10px;
	float: left
}
.happyClients {
	margin-bottom: 20px
}
.happyClients h3 {
	color: #a9d701;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 10px
}
.happyClients p, .happyClients span {
	font-size: 12px;
	font-weight: 400
}
.happyClients p {
	color: #fff;
	line-height: 18px;
	margin-bottom: 5px
}
.happyClients span {
	color: #999
}
.happyClients a {
	color: #fff;
	text-decoration: underline
}
.feedback {
	margin-bottom: 18px
}
.feedback h3 {
	color: #a9d701;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 10px
}
.feedback label {
	font-size: 13px;
	width: 100%;
	display: block;
	color: #fff
}
.feedback input, .feedback textarea {
	float: right;
	width: 150px;
	padding: 0 5px
}
.feedback input {
	height: 22px
}
.feedback img {
	vertical-align: middle;
	margin-left: 71px
}
.divideLine {
	padding: 10px 4px;
	border-radius: 20px;
	margin: 0 10px 10px 0;
	background: #fff;
	height: 80px;
	float: left;
	width: 670px
}
.divideLine_inner {
	float: left;
	padding: 0 5px
}
.divideLine_heading {
	font-size: 16px;
	color: #000;
	font-weight: 400;
	text-align: center;
	margin-bottom: 10px
}
.discount_banner {
	position: fixed;
	top: 400px;
	right: 0
}
.coupon {
	position: fixed;
	top: 151px;
	right: 0
}
.card_icon_box {
	margin-bottom: 20px;
	width: 275px;
	float: left
}
.arrow-down-blue, .arrow-down-green, .arrow-down-white, .arrow-right, .beaphar_brands, .breadcrumb_bg, .button-submit, .cart_hp_icon, .creature, .discount_banner1, .discount_banner2, .dmca_copyright_protected150c, .dogs_brand, .facebook, .fish_head, .forbis_brand, .googleplus, .header_search_icon, .homepage_boxicon, .homepage_truckicon, .icon-basket, .icon-cheque, .icon-cod, .icon-mail, .icon-mastercard, .icon-netbanking, .icon-phone, .icon-search, .icon-visa, .jerhigh12, .karlie_brand, .linkedin, .loading, .logo-bluedart, .logo-delivery, .logo-junglee, .logo-payu, .next-orange-gray, .pinit, .pre-orange-gray, .shopind_rtcont_btmcurve, .shopnow_bg, .twitter, .youtube, .zoomloader {
	background: url(/new/common/images/sprites_ds.png) no-repeat;
	float: left;
	margin-left: 3px
}
.bg-nav, .button-fb, .button-google, .close_icon, .icon-search-box, .top_nav {
	background: url(/new/common/images/sprites_ds.png) no-repeat;
	float: left
}
.dogs_brand, .forbis_brand, .jerhigh12, .karlie_brand {
	margin-right: 26px;
	margin-top: 20px
}
.fish_head {
	background-position: -3px -2px;
	width: 121px;
	height: 36px;
	margin: 0
}
.icon-search {
	background-position: -6px -48px;
	height: 27px;
	margin-left: -6px;
	overflow: hidden;
	text-indent: -74px;
	width: 30px;
	z-index: 9999
}
div.offerBanner, div.offerBanner_left {
	z-index: 99999;
	overflow: hidden;
	bottom: 0
}
.icon-basket {
	background-position: -49px -52px;
	width: 16px;
	height: 16px;
	margin: 5px
}
.discount_banner1 {
	background-position: -459.33px 0;
	width: 34px;
	height: 209px
}
.discount_banner2 {
	background-position: -415.31px 0;
	width: 34px;
	height: 210px
}
.icon-cheque, .icon-cod, .icon-visa {
	width: 49px;
	height: 29px
}
.icon-visa {
	background-position: -60px -85px
}
.icon-cheque {
	background-position: -225px -85px
}
.icon-cod {
	background-position: -170px -85px
}
.homepage_truckicon {
	height: 34px;
	width: 38px;
	margin-left: 100px;
	background-position: -3px -3px
}
.homepage_boxicon {
	height: 34px;
	width: 34px;
	margin-left: 100px;
	background-position: -56px -3px
}
.icon-mastercard {
	background-position: -6px -85px;
	width: 49px;
	height: 29px
}
.icon-netbanking {
	background-position: -115px -85px;
	width: 49px;
	height: 29px
}
.facebook, .googleplus, .linkedin, .pinit, .twitter, .youtube {
	width: 30px;
	height: 30px
}
.googleplus {
	background-position: -76px -122px
}
.linkedin {
	background-position: -113px -122px
}
.pinit {
	background-position: -181px -122px
}
.twitter {
	background-position: -6px -122px
}
.youtube {
	background-position: -147px -121px
}
.facebook {
	background-position: -41px -122px
}
.logo-bluedart, .logo-delivery, .logo-junglee, .logo-payu {
	width: 100px;
	height: 52px
}
.logo-payu {
	background-position: -4px -157px
}
.logo-bluedart {
	background-position: -207px -157px
}
.logo-delivery {
	background-position: -307px -156px
}
.logo-junglee {
	background-position: -106px -157px;
	margin-left: 49px
}
.button-submit {
	background-position: -134.33px -12px;
	width: 64px;
	height: 20px;
	margin-top: 3px;
	float: right
}
.dmca_copyright_protected150c {
	background-position: -206px -5px;
	width: 149px;
	height: 31px
}
.arrow-down-green {
	background-position: -336px -50px;
	width: 7px;
	height: 4px
}
.arrow-down-white {
	background-position: -359px -49px;
	width: 7px;
	height: 4px;
	float: right;
	margin-top: 14px
}
.icon-mail, .icon-phone {
	width: 18px;
	height: 18px;
	margin: -2px 7px 0 2px
}
.icon-phone {
	background-position: -336px -82px
}
.icon-mail {
	background-position: -367px -83px
}
.arrow-down-blue {
	background-position: -317px -50px;
	width: 7px;
	float: right;
	margin-top: 5px;
	height: 4px
}
.icon-search-box {
	background-position: -215px -220px;
	width: 178px;
	height: 27px;
	float: right
}
.top_nav {
	background-position: -21px -214px;
	width: 4px;
	height: 38px
}
.bg-nav1 {
	background-position: -9px -216px;
	width: 2px;
	height: 32px
}
.button-fb {
	background-position: -108px -222px;
	width: 66px;
	height: 22px
}
.button-google {
	background-position: -34px -222px;
	width: 66px;
	height: 21px
}
.close_icon {
	background-position: -184px -222px;
	width: 22px;
	height: 21px;
	position: absolute;
	right: -10px;
	top: -10px
}
.forbis_brand {
	background-position: -7px -254px;
	width: 87px;
	height: 46px
}
.pre-orange-gray {
	background-position: -136px -51px;
	width: 44px;
	height: 22px
}
.creature {
	background-position: -137px -307px;
	width: 108px;
	height: 33px
}
.dogs_brand {
	background-position: -115px -252px;
	width: 111px;
	height: 46px
}
.jerhigh12 {
	background-position: -323px -252px;
	width: 130px;
	height: 48px
}
.karlie_brand {
	background-position: -249px -249px;
	width: 56px;
	height: 50px
}
.next-orange-gray {
	background-position: -79px -51px;
	width: 44px;
	height: 22px
}
.beaphar_brands {
	background-position: -5px -304px;
	width: 129px;
	height: 39px;
	margin-top: 20px
}
.loading, .zoomloader {
	width: 16px;
	height: 16px
}
.loading {
	background-position: -194px -54px
}
.zoomloader {
	background-position: -217px -55px
}
.breadcrumb_bg {
	background-position: -374px -219px;
	width: 4px;
	height: 30px
}
.shopind_rtcont_btmcurve {
	background-position: -254px -311px;
	width: 194px;
	height: 13px
}
.shopnow_bg {
	background-position: -408px -6px;
	width: 3px;
	height: 120px
}
div.footDetail {
	float: left;
	width: 100%;
	font-family: Segoe UI;
	font-size: 22px;
	margin-bottom: 20px
}
div.footHelp {
	float: left;
	width: 280px
}
div.foot_join {
	float: left;
	width: 200px
}
.bottomFoot_tb, .tb_listing, .tb_listing ul {
	width: 100%;
	float: left
}
div.footNum {
	float: left;
	margin-top: 5px;
	font-size: 18px
}
.bottomFoot_tb {
	background: #eee;
	font-family: Segoe UI
}
.dsLeftSocialIcons ul li, .tb_listing ul li {
	font-family: Lato, sans-serif
}
.tb_listing {
	padding: 20px 0 10px;
	letter-spacing: 1px
}
.tb_listing ul {
	margin: 0;
	padding: 0
}
.tb_listing ul li {
	line-height: 24px;
	list-style: none;
	width: 25%;
	text-align: center;
	float: left
}
.foot_icon_tb {
	float: left;
	text-align: center;
	width: 100%;
	padding: 5px 0;
	height: 34px
}
div.cont980 {
	width: 972px;
	margin: 0 auto;
	text-align: left;
	padding: 0 4px
}
div.cateFoot_list_new {
	float: left;
	width: 60%;
	margin: 0 15% 15px;
	border-bottom: 1px solid #999;
	font-size: 12px;
	text-align: center;
	padding: 0 40px;
	line-height: 16px
}
div.payFoot_icon {
	float: left;
	text-align: center;
	margin: 0 272px 20px
}
div.icon-amex1 {
	margin: -1px 0 0 3px;
	float: left
}
div.payFoot_icon h5 {
	color: #555;
	margin-bottom: 10px;
	font-weight: 400;
	font-size: 25px
}
div.foot_join label {
	float: left;
	width: 100%;
	text-align: left;
	margin-left: 4px
}
div.footHelp label {
	float: left
}
#footerGreen.footgrey {
	background: #5A5A5A
}
div.footHelp label a:hover {
	color: #777676;
	text-decoration: none
}
div.footHelp label a {
	text-decoration: none;
	color: #668000
}
div.offerBanner_left {
	position: fixed;
	left: 0;
	border: 3px solid #585858;
	border-bottom: 0;
	border-radius: 15px 15px 0 0
}
div.offerCls_left {
	position: absolute;
	top: 6PX;
	right: 8px;
	font-weight: 700
}
.icon-amex {
	float: left;
	margin: 5px 2px
}
div.offerBanner {
	position: fixed;
	right: 4px;
	border: 3px solid #585858;
	border-bottom: 0;
	border-radius: 15px 15px 0 0
}
div.offerCls {
	position: absolute;
	top: 6px;
	right: 8px;
	font-weight: 700
}
.ds_popupbanner {
	bottom: 0;
	left: 1.2%;
	z-index: 500;
	position: fixed;
	width: 150px;
	height: 272px
}
.closeWrapper {
	display: block;
	left: 127px;
	top: -12px;
	width: 12px;
	height: 12px
}
.ds-icon-close {
	font-size: 12px;
	border-radius: 20px;
	height: 17px;
	color: #FFF;
	width: 21px;
	position: absolute;
	text-align: center;
	background: #333;
	padding-top: 5px;
	cursor: pointer
}
.amex1_icon_new, .amex2_icon_new, .rupay_icon {
	width: 50px;
	height: 29px;
	background: url(/new/common/images/payment-sprits.png) no-repeat
}
.ds-close_btn {
	float: right;
	line-height: 1;
	color: #000;
	border: none;
	position: absolute;
	font-weight: 400
}
.call_use_bold, .email_bold, .timing_tab {
	font-weight: 700
}
@media only screen and (max-width :1200px) {
.ds_popupbanner {
	display: none
}
}
.amex1_icon_new {
	background-position: 0 -5px
}
.amex2_icon_new {
	background-position: -49px -5px;
	margin-left: -3px
}
.rupay_icon {
	background-position: -102px -5px
}
.dsLeftSocialIcons {
	margin: -15px 0 15px;
	float: right
}
.dsLeftSocialIcons ul {
	margin: 0;
	padding: 0;
	list-style: none
}
.dsLeftSocialIcons ul li a {
	color: #333;
	text-decoration: none;
	float: left;
	width: 100%
}
.dsLeftSocialIcons ul li a span {
	background: url(/new/images/sprite-icon-new.png) no-repeat;
	display: block;
	margin-right: 5px;
	float: left;
	height: 24px;
	width: 26px
}
.dsLeftSocialIcons ul li.facebook {
	top: 6px
}
.dsLeftSocialIcons ul li.twitter {
	top: 40px
}
.dsLeftSocialIcons ul li.googlePlus {
	top: 74px
}
.dsLeftSocialIcons ul li.linkedin {
	top: 108px
}
.dsLeftSocialIcons ul li.youtube {
	top: 142px
}
.dsLeftSocialIcons ul li.instagram {
	top: 176px
}
.dsLeftSocialIcons ul li.pinterest {
	top: 210px
}
.dsLeftSocialIcons ul li {
	border: 1px solid transparent;
	border-right: none;
	background: #FFF;
	padding: 4px 1px;
	float: left;
	font-size: 18px;
	line-height: 24px
}
.slide-out-div, .timing_tab {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px
}
#facebook {
	background-position: -1px 0
}
#twitter {
	background-position: -2px -31px
}
#googleplus {
	background-position: 0 -63px
}
#linkedin {
	background-position: -2px -97px
}
#youtube {
	background-position: -1px -130px
}
#instagram {
	background-position: 0 -162px
}
#pinterest {
	background-position: 1px -192px
}
.slide-out-div {
	padding: 10px;
	width: 240px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	z-index: 9999
}
.timing_tab {
	background: #9ac33c;
	color: #fff;
	padding: 7px;
	border-radius: 3px;
	margin-top: 10px
}
.support_side_tab {
	border-radius: 4px;
	margin-top: 5px
}
.call_use_section {
	margin: auto;
	width: 150px
}
.call_us_tab {
	margin-top: 10px
}
.customer_care_no {
	margin-top: 2px
}
.cs_mt15 {
	margin-top: 15px
}
.customer_care_email_id {
	margin-top: 2px
}
.fmw {
	margin-right: 30px;
	width: 250px
}
