*body {font-family:Arial, Helvetica, sans-serif;margin:0;padding:0;}
p, h1, h2, h3, h4, h5, h6, form, ul, li, img {margin:0;padding:0;border:none;}
#footer{width:100%;padding:0;margin:0;background:#666;}
#newFooter{width:100%;padding:0;margin:0;background:#666;}
#footerGreen{width:940px;overflow:auto;background:#81a00c;padding:5px 20px;margin:auto;}
#footerGreen p{font-size:12px;line-height:18px;font-family:Arial, Helvetica, sans-serif;color:#fff;}
#footerContent{width:950px;overflow:auto;background:#362c23;padding:10px 15px;margin:auto;padding-bottom:0 !important;}
#footerContent_left{width:685px;float:left;}
#footerContent_right{width:255px;float:right;}
.footerContainer {margin-bottom:10px;float:left;}
.footerContainer ul {list-style-type:none;float:left;width:150px;}
.footerContainer li {text-align:left;font-size:12px;line-height:25px;display:block;margin-right:20px;font-family:Arial, Helvetica, sans-serif;}
.footerContainer li a {color:#fff;text-decoration:none;}
.footerContainer li a:hover {color: #999;}
.footerContainer h3 {text-align:left;color: #a9d701;font-size:14px;font-weight:normal;display:block;margin-bottom:8px;font-family:Arial, Helvetica, sans-serif;}
#feedbackContainer{border-radius:5px;padding:10px;background:#494542;width:235px;margin-bottom:10px;float: left;}
.happyClients{margin-bottom:20px;}
.happyClients h3{color: #a9d701;font-size:18px;font-weight:normal;margin-bottom:10px;font-family:Arial, Helvetica, sans-serif;}
.happyClients p{color: #fff;font-size:12px;font-weight:normal;font-family:Arial, Helvetica, sans-serif;line-height:18px;margin-bottom:5px;}
.happyClients span{color: #999;font-size:12px;font-weight:normal;font-family:Arial, Helvetica, sans-serif;}
.happyClients a{color: #fff;text-decoration:underline;font-family:Arial, Helvetica, sans-serif;}
.feedback{margin-bottom:18px;}
.feedback h3{color: #a9d701;font-size:18px;font-weight:normal;margin-bottom:10px;font-family:Arial, Helvetica, sans-serif;}
.feedback label{font-size: 13px;width:100%;display: block;font-family:Arial, Helvetica, sans-serif;color:#fff;}
.feedback input{float:right;width:150px;height:22px;padding:0 5px;}
.feedback textarea{float:right;width:150px;padding:0 5px;}
.feedback img{vertical-align:middle;margin-left:71px;}
.divideLine{padding:10px 4px;border-radius:20px;margin:0 10px 10px 0;background:#75726f;height:80px; float:left;width: 670px;}
.divideLine_inner{float:left;padding:0 5px;}
.divideLine_heading{font-size:16px;color:#fff;font-weight:normal;text-align:center;margin-bottom:10px;font-family:Arial, Helvetica, sans-serif;}
.discount_banner {position: fixed;top: 400px;right: 0px;}
.coupon{position: fixed;top: 151px;right: 0px;}
.card_icon_box{margin-bottom: 20px;width: 275px;float: left;}
.fish_head, .icon-search, .icon-basket, .discount_banner1, .discount_banner2, .icon-visa, .icon-cheque, .icon-cod, .icon-mastercard, .icon-netbanking, .googleplus, .linkedin, .pinit, .twitter, .youtube, .facebook, .logo-payu, .logo-bluedart, .logo-delivery, .logo-junglee, .button-submit, .dmca_copyright_protected150c, .arrow-down-green, .arrow-down-white, .arrow-right, .icon-phone, .icon-mail,.arrow-down-blue, .forbis_brand, .pre-orange-gray, .creature, .dogs_brand, .jerhigh12, .karlie_brand, .next-orange-gray, .beaphar_brands, .loading, .zoomloader, .breadcrumb_bg, .shopind_rtcont_btmcurve, .shopnow_bg{background: url(/new/common/images/sprites.png) no-repeat; float:left; margin-left:3px;}
.icon-search-box, .top_nav, .bg-nav, .button-fb, .button-google, .close_icon{background: url(/new/common/images/sprites.png) no-repeat; float:left;}
.forbis_brand,.dogs_brand, .jerhigh12, .karlie_brand{ margin-right:26px; margin-top:20px;}
.fish_head{background-position: -3px -2px ;width: 121px;height: 36px; margin:0px;}
.icon-search{background-position: -6px -48px ;width: 30px;height: 27px;margin-left: -6px;overflow: hidden;text-indent: -74px;width: 30px;z-index: 9999;}
.icon-basket{background-position: -49px -52px ;width: 16px;height: 16px;margin: 5px;}
.discount_banner1{background-position: -459.3333332538605px 0;width: 34px;height: 209px;}
.discount_banner2{background-position: -415.3125px 0;width: 34px;height: 210px;}
.icon-visa{background-position: -60px -85px ;width: 49px;height: 29px;}
.icon-cheque{background-position: -225px -85px ;width: 49px;height: 29px;}
.icon-cod{background-position: -170px -85px ;width: 49px;height: 29px;}
.icon-mastercard{background-position: -6px -85px;width: 49px;height: 29px;}
.icon-netbanking{background-position: -115px -85px ;width: 49px;height: 29px;}
.googleplus{background-position: -76px -122px ;width: 30px;height: 30px;}
.linkedin{background-position: -113px -122px ;width: 30px;height: 30px;}
.pinit{background-position: -181px -122px ;width: 30px;height: 30px;}
.twitter{background-position: -6px -122px ;width: 30px;height: 30px;}
.youtube{background-position: -147px -121px ;width: 30px;height: 30px;}
.facebook{background-position: -41px -122px ;width: 30px;height: 30px;}
.logo-payu{background-position: -4px -157px ;width: 100px;height: 52px;}
.logo-bluedart{background-position: -207px -157px ;width: 100px;height: 52px;}
.logo-delivery{background-position: -307px -156px ;width: 100px;height: 52px;}
.logo-junglee{background-position: -106px -157px ;width: 100px;height: 52px;margin-left:49px;}
.button-submit{background-position: -134.328125px -12px ;width: 64px;height: 20px;margin-top: 3px;float: right;}
.dmca_copyright_protected150c{background-position: -206px -5px ;width: 149px;height: 31px;}
.arrow-down-green{background-position: -336px -50px ;width: 7px;height: 4px;}
.arrow-down-white{background-position: -359px -49px ;width: 7px;height: 4px;float: right;margin-top: 14px;}
.arrow-right{}
.icon-phone{background-position: -336px -82px ;width: 18px;height: 18px;margin: -2px 7px 0 2px;}
.icon-mail{background-position: -367px -83px ;width: 18px;height: 18px;margin: -2px 7px 0 2px;}
.arrow-down-blue{background-position: -317px -50px;width: 7px;float:right;margin-top: 5px;height: 4px;}
.icon-search-box{background-position: -215px -220px ;width: 178px;height: 27px; float:right;}
.top_nav{background-position: -21px -214px ;width: 4px;height: 38px;}
.bg-nav{background-position: -9px -216px ;width: 2px;height: 32px;}
.button-fb{background-position: -108px -222px ;width: 66px;height: 22px;}
.button-google{background-position: -34px -222px ;width: 66px;height: 21px;}
.close_icon{background-position: -184px -222px ;width: 22px;height: 21px;}
.forbis_brand{background-position: -7px -254px ;width: 87px;height: 46px; }
.pre-orange-gray{background-position: -136px -51px ;width: 44px;height: 22px;}
.creature{background-position: -137px -307px ;width: 108px;height: 33px;}
.dogs_brand{background-position: -115px -252px ;width: 111px;height: 46px;}
.jerhigh12{background-position: -323px -252px ;width: 130px;height: 48px;}
.karlie_brand{background-position: -249px -249px ;width: 56px;height: 50px;}
.next-orange-gray{background-position: -79px -51px ;width: 44px;height: 22px;}
.beaphar_brands{background-position: -5px -304px ;width: 129px;height: 39px;margin-top:20px;}
.loading{background-position: -194px -54px ;width: 16px;height: 16px;}
.zoomloader{background-position: -217px -55px ;width: 16px;height: 16px;}
.breadcrumb_bg{background-position: -374px -219px ;width: 4px;height: 30px;}
.shopind_rtcont_btmcurve{background-position: -254px -311px ;width: 194px;height: 13px;}
.shopnow_bg{background-position: -408px -6px ;width: 3px;height: 120px;}