*body {font-family:Arial, Helvetica, sans-serif;margin:0;padding:0;}
p, h1, h2, h3, h4, h5, h6, form, ul, li, img {margin:0;padding:0;border:none;}
#footer{width:100%;padding:0;margin:0;background:#666;}
#newFooter{width:100%;padding:0;margin:0;background:#fff; float:left; border-top:1px solid #ccc;}
#footerGreen{width:100%;overflow:auto;background:#3d4d00;padding:5px 0px;margin:auto;border-top: 1px solid #fff;}
#footerGreen p{font-size:12px;line-height:18px;font-family:Arial, Helvetica, sans-serif;color:#fff;}
#footerContent{width:972px;overflow:hidden;background:#fff;padding:20px 15px;margin:auto;padding-bottom:0 !important;}
#footerContent_left{width:972px;float:left; margin-bottom:15px;}
#footerContent_right{width:255px;float:right;}
.footerContainer {margin-bottom:0px;float:left;}
.footerContainer ul {list-style-type:none;float:left;width:150px;}
.footerContainer li {text-align:left;font-size:14px;display: block;
width: 130PX;line-height:25px;display:block;margin-right:20px;font-family:Arial, Helvetica, sans-serif;}
.footerContainer li a {color:#555;text-decoration:none;}
.footerContainer li a:hover {color: #668000;}
.footerContainer h3 {text-align:left;color: #555;font-size: 18px;font-weight:normal;display:block;margin-bottom:8px;font-family:Arial, Helvetica, sans-serif;border-bottom: 1px solid #aaa;padding-bottom: 3px;}
.footerContainer h5 {text-align:left;color: #555;font-size: 18px;font-weight:normal;display:block;margin-bottom:8px;font-family:Arial, Helvetica, sans-serif;border-bottom: 1px solid #aaa;padding-bottom: 3px; text-transform:uppercase;}
#feedbackContainer{border-radius:5px;padding:10px;background:#3d4d00;width:235px;margin-bottom:10px;float: left;}
.happyClients{margin-bottom:20px;}
.happyClients h3{color: #a9d701;font-size:18px;font-weight:normal;margin-bottom:10px;font-family:Arial, Helvetica, sans-serif;}
.happyClients p{color: #fff;font-size:12px;font-weight:normal;font-family:Arial, Helvetica, sans-serif;line-height:18px;margin-bottom:5px;}
.happyClients span{color: #999;font-size:12px;font-weight:normal;font-family:Arial, Helvetica, sans-serif;}
.happyClients a{color: #fff;text-decoration:underline;font-family:Arial, Helvetica, sans-serif;}
.feedback{margin-bottom:18px;}
.feedback h3{color: #a9d701;font-size:18px;font-weight:normal;margin-bottom:10px;font-family:Arial, Helvetica, sans-serif;}
.feedback label{font-size: 13px;width:100%;display: block;font-family:Arial, Helvetica, sans-serif;color:#fff;}
.feedback input{float:right;width:150px;height:22px;padding:0 5px;}
.feedback textarea{float:right;width:150px;padding:0 5px;}
.feedback img{vertical-align:middle;margin-left:71px;}
.divideLine{padding:10px 4px;border-radius:20px;margin:0 10px 10px 0;background:#fff;height:80px; float:left;width: 670px;}
.divideLine_inner{float:left;padding:0 5px;}
.divideLine_heading{font-size:16px;color:#000;font-weight:normal;text-align:center;margin-bottom:10px;font-family:Arial, Helvetica, sans-serif;}
.discount_banner {position: fixed;top: 400px;right: 0px;}
.coupon{position: fixed;top: 151px;right: 0px;}
.card_icon_box{margin-bottom: 20px;width: 275px;float: left;}
/*CSS SPRITES*/
.fish_head, .icon-search, .icon-basket, .discount_banner1, .discount_banner2, .icon-visa, .icon-cheque, .icon-cod, .icon-mastercard, .icon-netbanking, .googleplus, .linkedin, .pinit, .twitter, .youtube, .facebook, .logo-payu, .logo-bluedart, .logo-delivery, .logo-junglee, .button-submit, .dmca_copyright_protected150c, .arrow-down-green, .arrow-down-white, .arrow-right, .icon-phone, .icon-mail,.arrow-down-blue, .forbis_brand, .pre-orange-gray, .creature, .dogs_brand, .jerhigh12, .karlie_brand, .next-orange-gray, .beaphar_brands, .loading, .zoomloader, .breadcrumb_bg, .shopind_rtcont_btmcurve, .shopnow_bg, .homepage_truckicon, .homepage_boxicon,.header_search_icon,.cart_hp_icon{background: url(/new/common/images/sprites_ds.png) no-repeat; float:left; margin-left:3px;}
.icon-search-box, .top_nav, .bg-nav, .button-fb, .button-google, .close_icon{background: url(/new/common/images/sprites_ds.png) no-repeat; float:left;}
.forbis_brand,.dogs_brand, .jerhigh12, .karlie_brand{ margin-right:26px; margin-top:20px;}
.fish_head{background-position: -3px -2px ;width: 121px;height: 36px; margin:0px;}
.icon-search{background-position: -6px -48px ;width: 30px;height: 27px;margin-left: -6px;overflow: hidden;text-indent: -74px;width: 30px;z-index: 9999;}
.icon-basket{background-position: -49px -52px ;width: 16px;height: 16px;margin: 5px;}
.discount_banner1{background-position: -459.3333332538605px 0;width: 34px;height: 209px;}
.discount_banner2{background-position: -415.3125px 0;width: 34px;height: 210px;}
.icon-visa{background-position: -60px -85px ;width: 49px;height: 29px;}
.icon-cheque{background-position: -225px -85px ;width: 49px;height: 29px;}
.icon-cod{background-position: -170px -85px ;width: 49px;height: 29px;}
.homepage_truckicon{height: 34px;width: 38px;margin-left: 100px;background-position: -3px -3px;}
.homepage_boxicon{height: 34px;width: 34px;margin-left: 100px;background-position: -56px -3px;}
.icon-mastercard{background-position: -6px -85px;width: 49px;height: 29px;}
.icon-netbanking{background-position: -115px -85px ;width: 49px;height: 29px;}
.googleplus{background-position: -76px -122px ;width: 30px;height: 30px;}
.linkedin{background-position: -113px -122px ;width: 30px;height: 30px;}
.pinit{background-position: -181px -122px ;width: 30px;height: 30px;}
.twitter{background-position: -6px -122px ;width: 30px;height: 30px;}
.youtube{background-position: -147px -121px ;width: 30px;height: 30px;}
.facebook{background-position: -41px -122px ;width: 30px;height: 30px;}
.logo-payu{background-position: -4px -157px ;width: 100px;height: 52px;}
.logo-bluedart{background-position: -207px -157px ;width: 100px;height: 52px;}
.logo-delivery{background-position: -307px -156px ;width: 100px;height: 52px;}
.logo-junglee{background-position: -106px -157px ;width: 100px;height: 52px;margin-left:49px;}
.button-submit{background-position: -134.328125px -12px ;width: 64px;height: 20px;margin-top: 3px;float: right;}
.dmca_copyright_protected150c{background-position: -206px -5px ;width: 149px;height: 31px;}
.arrow-down-green{background-position: -336px -50px ;width: 7px;height: 4px;}
.arrow-down-white{background-position: -359px -49px ;width: 7px;height: 4px;float: right;margin-top: 14px;}
.arrow-right{/*background-position: -385px -50px ;width: 4px; float:right;display: inline-block;height: 7px;*/}
.icon-phone{background-position: -336px -82px ;width: 18px;height: 18px;margin: -2px 7px 0 2px;}
.icon-mail{background-position: -367px -83px ;width: 18px;height: 18px;margin: -2px 7px 0 2px;}
.arrow-down-blue{background-position: -317px -50px;width: 7px;float:right;margin-top: 5px;height: 4px;}
.icon-search-box{background-position: -215px -220px ;width: 178px;height: 27px; float:right;}
.top_nav{background-position: -21px -214px ;width: 4px;height: 38px;}
.bg-nav1{background-position: -9px -216px ;width: 2px;height: 32px;}
.button-fb{background-position: -108px -222px ;width: 66px;height: 22px;}
.button-google{background-position: -34px -222px ;width: 66px;height: 21px;}
.close_icon{background-position: -184px -222px ;width: 22px;height: 21px;position: absolute;right: -10px;top: -10px;}
.forbis_brand{background-position: -7px -254px ;width: 87px;height: 46px; }
.pre-orange-gray{background-position: -136px -51px ;width: 44px;height: 22px;}
.creature{background-position: -137px -307px ;width: 108px;height: 33px;}
.dogs_brand{background-position: -115px -252px ;width: 111px;height: 46px;}
.jerhigh12{background-position: -323px -252px ;width: 130px;height: 48px;}
.karlie_brand{background-position: -249px -249px ;width: 56px;height: 50px;}
.next-orange-gray{background-position: -79px -51px ;width: 44px;height: 22px;}
.beaphar_brands{background-position: -5px -304px ;width: 129px;height: 39px;margin-top:20px;}
.loading{background-position: -194px -54px ;width: 16px;height: 16px;}
.zoomloader{background-position: -217px -55px ;width: 16px;height: 16px;}
.breadcrumb_bg{background-position: -374px -219px ;width: 4px;height: 30px;}
.shopind_rtcont_btmcurve{background-position: -254px -311px ;width: 194px;height: 13px;}
.shopnow_bg{background-position: -408px -6px ;width: 3px;height: 120px;}
div.footDetail {float: left;width: 100%;font-family: Segoe UI;font-size: 22px;margin-bottom:20px;}
div.footHelp {float: left; width: 280px;}
div.foot_join {float: left;width: 200px;}
div.footNum {float: left;margin-top: 5px;font-size: 18px;}
.bottomFoot_tb{ background:#eee; width:100%; float: left;font-family: Segoe UI;}
.tb_listing{ float:left; width:100%;padding: 20px 0; padding-bottom:10px;}
.tb_listing ul{ float:left; margin:0px; padding:0px;width: 100%;}
.tb_listing ul li{ list-style:none; width:25%; text-align:center;float: left; font-size:22px;}
.foot_icon_tb{ float:left; text-align:center; width:100%; padding:5px 0;height: 34px;}
div.cont980 {width: 972px;margin: 0 auto;text-align: left;padding: 0px 4px 0px 4px;}
div.cateFoot_list_new {float: left;width: 60%;margin: 0px 15%;border-bottom: 1px solid #999;font-size: 12px;text-align: center;padding:0px 40px;line-height: 16px; margin-bottom: 15px;}
div.payFoot_icon {float: left;text-align: center;margin: 0 272px; margin-bottom: 20px;}
div.icon-amex1 {margin: -1px 0px 0 3px;float: left;}
div.payFoot_icon h5 {color: #555;margin-bottom: 10px;font-weight: normal;font-size: 25px;}
div.foot_join label {float: left;width: 100%;text-align: left;margin-left: 4px;}
div.footHelp label {float: left;}
#footerGreen.footgrey{background: #5A5A5A;}
div.footHelp label a:hover {color: #777676;text-decoration: none;}
div.footHelp label a {text-decoration: none;color: #668000;}
div.offerBanner_left {position: fixed;bottom: 0px;left:0px;z-index: 99999;border: 3px solid #585858;border-bottom: 0px;border-radius: 15px 15px 0 0;overflow:hidden;}
div.offerCls_left {position: absolute;top: 6PX;right: 8px;font-weight: bold;}
.icon-amex {float: left;margin: 5px 2px;} 
div.offerBanner{position: fixed;bottom: 0px;right: 4px;z-index: 99999;border: 3px solid #585858;border-bottom: 0px;border-radius: 15px 15px 0 0;overflow: hidden;}  
div.offerCls {position: absolute;top: 6px;right: 8px;font-weight: bold;}
.ds_popupbanner {bottom: 0px; left: 1.2%;z-index: 500; position: fixed;width: 150px; height: 272px;}
.closeWrapper{display: block;left: 127px;top: -12px;width: 12px;height: 12px;}
.ds-icon-close{font-size: 12px;border-radius: 20px;height: 17px;color: #FFF;width: 21px;position: absolute;text-align: center;background: #333;padding-top: 5px;cursor:pointer;}
.ds-close_btn {float: right;font-weight: 700;line-height: 1;color: #000;border: medium none;position:absolute;font-weight:normal;}
@media only screen and (max-width : 1200px){.ds_popupbanner {display:none;}}
.amex1_icon_new,.amex2_icon_new, .rupay_icon{background: url(/new/common/images/payment-sprits.png) no-repeat;}
.amex1_icon_new{width:50px; height:29px; background-position:-0px -5px;}
.amex2_icon_new{width:50px; height:29px; background-position:-49px -5px; margin-left: -3px;}
.rupay_icon{ width:50px; height:29px; background-position: -102px -5px; }
.dsLeftSocialIcons{background: none repeat scroll 0% 0% #FFF;border-width: 1px medium 1px 1px;border-style: solid none solid solid;border-color: #Ccc; -moz-use-text-color #C2C2C2 #C2C2C2;-moz-border-top-colors: none;-moz-border-right-colors: none;-moz-border-bottom-colors: none;-moz-border-left-colors: none;border-image: none;float: right;font-size: 1.2em;font-weight: bold;position: fixed;top: 220px;right: 0px; height: 250px;width: 34px; z-index: 9999;}
.dsLeftSocialIcons {font-size: 14px; font-weight: normal;}
.dsLeftSocialIcons ul{ margin:0px; padding:0px;  list-style:none;}
.dsLeftSocialIcons ul li{background: #fff; border: 1px solid transparent;border-right: none;line-height: 24px;height: 24px;padding: 4px opx ; padding-left:2px;position: absolute;width: 100px;}
.dsLeftSocialIcons ul li a {color: #333; text-decoration: none;float: left;width: 100%;}
.dsLeftSocialIcons ul li a span { background: url(/new/images/sprite-icon-new.png) no-repeat 0 0; display: block;margin-right: 5px;float: left; height: 24px;width: 26px;}
.dsLeftSocialIcons ul li.facebook {top: 6px;}
.dsLeftSocialIcons ul li.twitter {top: 40px;}
.dsLeftSocialIcons ul li.googlePlus {top: 74px;}
.dsLeftSocialIcons ul li.linkedin {top: 108px;}
.dsLeftSocialIcons ul li.youtube {top: 142px;}
.dsLeftSocialIcons ul li.instagram {top: 176px;}
.dsLeftSocialIcons ul li.pinterest {top: 210px;}
.dsLeftSocialIcons ul li {background:#FFF; border-width: 1px medium 1px 1px;border-style: solid none solid solid;border-color: transparent -moz-use-text-color transparent transparent;-moz-border-top-colors: none;-moz-border-right-colors: none;-moz-border-bottom-colors: none;-moz-border-left-colors: none;border-image: none;line-height: 24px; height: 24px;padding: 4px 1px;position: absolute;width: 100px;}
#facebook{ background-position:-1px 0px;}
#twitter{background-position:-2px -31px;}
#googleplus{background-position: 0px -63px;}
#linkedin{background-position: -2px -97px;}
#youtube{background-position: -1px -130px;}
#instagram{background-position: 0px -162px;}
#pinterest{background-position: 1px -192px;}
.slide-out-div{padding:10px;width:240px;background:#fff;border:#ccc 1px solid;border-radius:5px;font-family:Arial, Helvetica, sans-serif;font-size:14px; z-index: 9999;}
.timing_tab{font-family:Arial, Helvetica, sans-serif;font-size:14px;background:#9ac33c;color:#fff;padding:7px;border-radius:3px;margin-top:10px;font-weight:bold;}
.support_side_tab{border-radius:4px;margin-top:5px;}
.call_use_section{margin:auto;width:150px;}
.call_us_tab{margin-top:10px;}
.call_use_bold{font-weight:bold;}
.email_bold{font-weight:bold;}
.customer_care_no{margin-top:2px;}
.cs_mt15{margin-top:15px;}
.customer_care_email_id{margin-top:2px;}
.fmw{margin-right: 30px; width:250px;}

