body {font-family:Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6, p, form, div, table, ul, li, dt, dd, dl, img{margin:0px;padding:0px;border:0;}
#getListed_container{width:968px;background:#fff;padding:10px;margin:auto;}
#firstContainer{border-bottom:2px solid #ddd;padding-bottom:20px;margin-bottom:20px;overflow:auto;}
.firstContainer_left{border-right:1px solid #ddd;width:390px;margin-right:30px;padding-right:30px;float:left;}
.firstContainer_left img{margin-bottom:10px;}
.firstContainer_left p{text-align:left;color:#531e01;font-size:12px;line-height:15px;}
.firstContainer_right{width:500px;float:right;position:relative;}  
#secondContainer{margin-bottom:20px;overflow:auto;}
.text1{color:#444;font-size:14px;font-family:Arial, Helvetica, sans-serif;text-align:justify;}
.secondContainer_header{text-align:left;margin-bottom:20px;}
.secondContainer_header h2{color:#444;font-size:20px;font-family:Arial, Helvetica, sans-serif;}
.secondContainer_column{width:302px;height:88px;background:url(/new/pix/getlisted-images/bg-column.jpg) repeat-x;margin:0 0 15px 0;padding:5px;float:left;}
.secondContainer_column div{margin:10px 0;}
.secondContainer_column img{float:left;width:60px;height:60px;display:block;margin-right:10px;}
.secondContainer_column h3{text-align:left;color:#81a00c;font-size:14px;font-family:Arial, Helvetica, sans-serif;margin-bottom:5px;}
.secondContainer_column p{text-align:left;color:#444;font-size:12px;font-family:Arial, Helvetica, sans-serif}
#thirdContainer{margin-bottom:10px;overflow:auto;background:#f4f4f4;border:1px solid #ebe8e8;padding:20px;padding-bottom:0 !important;}
.thirdContainer_header{margin-bottom:10px;text-align:center;}
.thirdContainer_header h2{text-align:center;color:#444;font-size:20px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;}
.thirdContainer_column{width:270px;background:url(/new/pix/getlisted-images/bg-line-top.jpg) top center repeat-x;float:left;padding:10px; 0;text-align:center}
.thirdContainer_column div{margin:10px 0;}
.thirdContainer_column img{display:block;margin:auto !important;padding:10px 0;}
.thirdContainer_column h3{color:#81a00c;font-size:24px;font-family:Arial, Helvetica, sans-serif;}
.thirdContainer_column p{color:#444;font-size:12px;font-family:Arial, Helvetica, sans-serif;text-align:left;}
/* slider classes starts here */
#products {margin-left:26px;}
#products .slides_container {width:450px;overflow:hidden;float:left;position:relative;display:none;font-size:13px;font-family:Arial, Helvetica, sans-serif;color:#666;text-align:justify;}
.slides_container div {width:450px;height:110px;display:block;}
#products .next,#products .prev {position:absolute;top:50px;left:0;width:11px;height:0;padding-top:21px;overflow:hidden;display:block;z-index:101;}
#products .prev{background-image: url(/new/pix/getlisted-images/arrow-previous.png);}
#products .next {left: 488px;background-image: url(/new/pix/getlisted-images/arrow-next.png);}
.slideHeading {font-size:18px;font-family:Arial, Helvetica, sans-serif;color:#666;background-image:url(/new/pix/getlisted-images/blockquote.jpg);background-position:top left ;background-repeat:no-repeat;text-indent:30px;margin-bottom:10px;}
/* slider classes ends here */