
.toplogin {width:388px; float:left; margin-right:20px;}
.cont460 {width:330px; float:left; margin-right:20px;}
.cont280 {width:205px; margin-right:49px; float:left; }
.cont300 {width:300px; float:left;}
.cont165 {width:360px; float:left;}
.cont779 {width:779px; float:left;}
.header{width:972px; margin:0 auto; text-align:left; padding: 0px 4px 0px 4px; height:20px;overflow:hidden \0/;}
.header p{margin:0px; padding:0px;}
p.login{ font:bolder 14px Arial, Helvetica, sans-serif; color:#a33b00; margin-top:13px;}
p.login a{color:#a33b00; text-decoration:none;}
p.login a:hover{color:#9a5408; text-decoration:none;}
p.login2{ font:bold 14px Arial, Helvetica, sans-serif; color:#a33b00; margin-top:2px;}
p.login2 a{color:#a33b00; text-decoration:none;}
p.login2 a:hover{color:#9a5408; text-decoration:none;}
.greenstrip{ background:url(/new/pix/greenstrip_bg.gif) top repeat-x; color:#81a00c; height:170px;overflow:hidden;}
.newtab{background-image: url(/new/pix/new-tab.png);background-repeat: no-repeat;background-position: right top;}

.search { background:url(/new/pix/topsearchbg_2.png) top no-repeat; height:46px; overflow:hidden; color:#e2e2e2; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src=  "pix/topsearchbg_2.png" ); width:490px; margin-bottom:0px; padding:0px; margin-left:20px;  }
.searchBox{background-color: white;float:left;width: 400px;height: 28px;position: relative;margin-right:8px;border:1px solid #ccc;}     
#input-search-container{position: absolute;height: 26px;width: 400px;}
#input-search-container #selection{float: left;height: 22px;font:12px arial;color:#7f7f7f;padding: 4px 0px 0px 0px;width:100px;text-align:center;}
#input-search-container #search-cont{padding: 2px 3px 5px 3px;float: left;height: 25px;width:253px;}
#input-search-container #search-cont input{float: left;height: 20px;width:390px;padding: 2px 3px 0px 0px;font:12px arial; color:#7f7f7f;}
#search-query{border: none;height: 30px;}
#input-search-container #arrow-up-down{float : left;width: 10px;height: 10px;padding: 10px 0px 0px 20px;cursor:pointer;}
#input-search-container #arrow-up-down div{background: url(/new/pix/arrow.gif) no-repeat ;width: 10px;height: 10px;}
#options-cont{float: right;width: 141px;font: 12px arial;background-color: white;color:#7f7f7f;z-index: 1000;position: relative;display: none;cursor:pointer;}
#options-cont ul{list-style-type: none;padding: 10px 0px 8px 17px;}
#options-cont ul li{margin-bottom:8px;}

#footer {padding-top:20px;}
#footer p {padding:0px; margin:0px;}
#footer ul {padding:0px; margin:0px; list-style-type:none;  }
#footer ul li { float:left; margin-right:10px; width:132px; }
#footer ul li a { text-decoration:none; color:#474747;  margin-bottom:5px; display:block; font:12px Arial, Helvetica, sans-serif; }
#footer ul li a:hover {text-decoration:underline; color:#474747;}
#footer h2 {font:bolder 20px Arial, Helvetica, sans-serif; color:#666;}
#footer p.btn {background:url(/new/pix/recommend_btn_bgleft.gif) no-repeat; width:260px; }
#footer p.btn span {background:url(/new/pix/recommend_btn_bgright.gif) top right no-repeat; display:block; padding:4px 15px 4px 20px;font:bolder 18px Arial, Helvetica, sans-serif; color:#FFFFFF;  text-decoration:none;}
#footer p.btn span a {font:bolder 18px Arial, Helvetica, sans-serif; color:#FFFFFF;  text-decoration:none;}
#footer p.btn span a:hover {text-decoration:none; color:#FFFFFF;}

.f2cont750 {width:790px;}
.fcont300 {width:284px; border-right:1px solid #cccccc; float:left; margin-right:20px; padding-right:16px; height:250px;}
.f2cont750 p{font:12px Arial, Helvetica, sans-serif; color:#9f9f9f; line-height:16px;}

.petSpecificSecNavBox {background:url(/new/pix/petSpecificSecNav.gif) repeat-x scroll 0 0 transparent;height: 49px;margin-bottom: 10px;margin-top: 10px;}
.wrap {margin: 0 auto; position: relative;width: 1000px;z-index: 0;}

.petSpecificNavigation{left: 0;position: absolute;top: 0;}
.petSpecificsecNavSide {background: url(/new/pix/petSpecificSecNav.gif) no-repeat scroll 0 -100px transparent;float: left;height: 49px;width: 18px;}
#siteNav {float: left;min-height: 41px;width:961px;}
.siteNavRightBg {background-color: #bdb7a9;height: 25px;margin-top: 4px;width:964px;}
.left{float: left;}
.wrap ul{list-style: none outside none; padding-top:8px; padding-bottom:8px; padding-left:12px;}
.wrap ul li a span {cursor: pointer;display: table-cell;line-height: 15px;text-align: center;vertical-align: middle;}
.siteNavLi {float:left; padding-right:14px; margin-right:14px; border-right:1px solid #FFFFFF;}
.siteNavLink {color: #FFFFFF;font-size: 20px;font-weight: bold;text-decoration: none;}
.secNavContent {left: 0;padding: 18px 10px 10px;position: absolute;z-index: 180;}
#siteNav ul {list-style: none outside none;}
.siteSecondNavLeft dl {left: 231px;}
.secNavContent dl {overflow: hidden;padding: 0 0 10px;position: absolute;top: 19px;width: 209px;}
.secNavContent dd {width: 168px;}
.clearFloatNoHeight {clear: both;display: block;font-size: 0;height: 0;line-height: 0;overflow: hidden;width: 0;}
.siteSecondNavLeft ul {left: 10px;}
.secNavContent ul {padding-left: 12px;position: absolute;top: 19px;width: 187px;}
.secNavContent .siteNavBarLine {border-right: 1px solid #E5E0DE;left: 210px;margin-top: 5px;overflow: hidden;position: absolute;}
.cont514 {width:514px;}
ul.rightHeader{ margin:0px; padding:0px; list-style:none; height:89px; margin-bottom:35px;}
ul.rightHeader li{ float:left; height:89px; overflow:hidden; border-right:1px solid #fff; margin-right:5px; text-align:center;}
ul.rightHeader li span{ display:block; top right no-repeat; height:89px;}
ul.rightHeader li span a {font:14px Arial, Helvetica, sans-serif; color:#fffbe7; display:block; text-decoration:none; padding:0px 10px 0px 10px;}
ul.rightHeader li span a:hover {text-decoration:none; }
ul.rightHeader li.active {background:url(/new/pix/active_shop_leftbg.gif) no-repeat; float:left; height:89px; border:none;}
ul.rightHeader li.active span{background:url(/new/pix/active_shop_rightbg.gif) top right no-repeat;}
ul.rightHeader li span a b{ display:block; margin-bottom:12px; font-size:30px; color:#fff; font-weight:bold; padding-top:30px; line-height:18px; letter-spacing:-1px;}
ul.rightHeader li.active a  b{ color:#fff;}

ul.rightHeader li:Hover {background:url(/new/pix/active_shop_leftbg.gif) no-repeat; float:left; height:89px;}
ul.rightHeader li span:Hover{background:url(/new/pix/active_shop_rightbg.gif) top right no-repeat;}


.write_testimonial {background: none repeat scroll 0 0 #DC6900;color: #FFFFFF;display: block;font: bold 11px Arial,Helvetica,sans-serif;border:none;text-decoration: none;}
.write_testimonial:hover {background: none repeat scroll 0 0 #8CAD10;text-decoration: none;}
.newtestimonialbox{ float:left; width:236px; background-color:#0C6;}