@font-face {
	font-family: 'SegoeUI';
	src: url('/new/common/font_source/SegoeUI.eot?') format('eot'), 
	     url('/new/common/font_source/SegoeUI.woff') format('woff'), 
	     url('/new/common/font_source/SegoeUI.ttf')  format('truetype'),
	     url('/new/common/font_source/SegoeUI.svg#SegoeUI') format('svg');
}
.product_head_hp{width: 100%;font-family: 'SegoeUI';}
div.product_tab_hp.fl {float: left;margin: 20px 0;height: 301px;}
.product_head_hp ul {border-bottom: 1px solid #999;float: left;padding: 0px;padding-bottom: 5px;width: 100%;margin: 0px;}
.product_head_hp ul li {list-style: none;font-size: 18px;font-weight: bold;}
.product_head_hp ul li a {padding: 3px 0px;margin: 0 52px 0 0; color:#555;}
.product_head_hp ul li a:hover,.product_head_hp ul li a.active_hp {text-decoration: none;color: #668000;font-family: 'SegoeUI';border-bottom: 2px solid #668000;}
.product_slider_hp ul{ float:left; margin:0px; padding:0px;}
.product_slider_hp ul li{ float:left; list-style:none;padding:10px 4px;margin-right: 0px;}
.product_slider_hp ul li:hover {box-shadow: 0px 0px 1px 1px #668000;}
.product_slider_hp {float: left;height: 250px;margin: 10px 0; width:972px; position:relative;}
li.fr.next_hp {padding: 0px;margin: 100px 0 0 5px;}
li.fl.prev_hp {padding: 0px;margin: 100px 5px 0 0;}
li.fl.prev_hp:hover, li.fr.next_hp:hover {box-shadow: none;}
.category_box_hp {width: 100%;margin-bottom: 30px;}
.catBox_hp {border: 1px solid #668000;padding-bottom: 1px;margin-right: 10px;width: 315px;}
.catBox_head_hp {background: #3a4900;width: 100%;color: #fff;font-size: 22px;font-family: 'SegoeUI';padding: 1px 0 5px;text-align: center;font-weight: 900;}
.catBox_img_hp {text-align: center;width: 100%;padding: 20px 0 5px 0;margin-bottom: -1px;border-bottom: 3px solid #668000;background: #fff;}
.no_margin_hp{ margin:0px;}
div.wagBanner_hp{width: 49%;margin:10px 0;margin-right: 2%;}
div.wagBanner_hp.wagPedia_hp{ margin:13px 0;}
div.artBox_hp{width: 49%;  margin-top: 20px;float: left;font-family: 'SegoeUI';margin-right: 2%;}
div.artBox_hp h3{float: left;width: 100%;font-size: 29px;margin: 10px 0;border-bottom: 2px solid #668000;}
div.artBox_hp h3 a {color: #668000;padding: 5px 0;font-size: 27px;font-weight: normal;float: left;}
.no_margin_hp.no_margin_hp{ margin:0px;}
.artBox_hp.no_margin_hp{ margin-top:20px;} 
.artBox_hp .txthold h2 a {color: #668000;font-size: 15px;font-family: 'SegoeUI';}
.artBox_hp .txthold p {color: #555;font-size: 13px;}
.artBox_hp .txthold p.caption1 {font-family: 'SegoeUI';font-size: 12px;}
.artBox_hp .txthold p.caption1 a {color: #668000;font-family: 'SegoeUI';text-decoration:none;}
.artBox_hp.no_margin_hp li {width: 100%;height: 55px;list-style: none;  font-size: 13px;  font-family: 'SegoeUI';margin-bottom: 10px;padding-bottom: 10px;border-bottom: 1px dotted #CCC;}
.artBox_hp.no_margin_hp li a {color: #668000;text-decoration: none;}
.stryBox_hp{ width:100%;margin-top: 20px;}
.stryBox_hp h3{    float: left;}.stryBox_hp h3 a{color: #668000; padding: 5px 0; font-size: 27px;font-weight: normal;float: left;}
.wagBanner_hp .wag_rec_dg1 {float: left;width: 100%;}
.wagBanner_hp .wag_indexSec {width: 306px;float: left;height:306px;overflow:hidden;}
.wagBanner_hp .wag_indexText .be_click {text-transform: uppercase;float: left;margin: 15px 0px;color: #fff;font-size: 17px;width: 94%;}
.wagBanner_hp .wag_indexText p{ font-size:20px;text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;}
.wagBanner_hp .wag_indexText .be_click a {color: #fff;padding: 6px 10px;background: #a3cc00;float: left;width: 96%;text-align: center;border-radius: 3px;text-decoration: none;}
.wagBanner_hp .wag_indexText .be_click a:hover{background: #668000;}
.wagBanner_hp .wag_indexText {float: left;width: 150px;margin: 55px 0 0 10px;color: #fff;}
.wagBanner_hp .wag_indexSec .dg_popBox.dg_pop2Box .dg_popImg img {width: 100px;height: 100px;}
.wagBanner_hp .wag_indexText p strong {font-size: 25px;}
.wagBanner_hp .homepage-fancystripe {height: .8em;float: left;width: 100%;}
.wagBanner_hp .wag_indexSec .dg_popBox.dg_pop2Box {width: 100px; height:100px; overflow:hidden;padding: 0px;position: relative;border: 1px solid #fff;}
.wagBanner_hp .wag_indexSec .dg_popBox.dg_pop2Box:hover .dg_popTxt { display:block;}
.wagBanner_hp .wag_indexSec .dg_popBox.dg_pop2Box .dg_popImg {width: 100px;height: 100px;border-radius: 0px;border: 0px solid #fff;}
.wagBanner_hp .wag_indexSec .dg_popTxt {float: left; display:none;background: rgba(255, 255, 255, 0.82);margin-top: 0;padding: 0px;width: 100%;text-align: center;height: 100%;position: absolute;}
.wagBanner_hp .dg_popTxt h3 {text-transform: uppercase;font-size: 14px;margin-top: 14px;margin-bottom: 5px;}
.wagBanner_hp .wag_indexText h3 {float: left;color: #668000;font-size: 14px;letter-spacing: 1px;line-height: 25px;font-weight: normal;font-style: italic;margin-top: 8px;text-align: center;}
.wagBanner_hp .wag_indexText h4 {float: left;width: 100%;font-size: 27px;color: #FF9D0A;line-height: 32px;text-transform: uppercase;text-align: left;}
.product_slider_hp ul li h2 {font-size: 14px;border-top: 1px solid #bbb;border-bottom: 1px solid #bbb;margin: 5px 0;font-family: 'SegoeUI';font-weight: normal;}
.load_hp{ float:left; position:absolute; top:50%; margin-top:-20px; left:50%; margin-left:-20px;}
div.fl.sale_banner_hp {margin-top: 43px;margin-right: 6px;margin-left: 15px;width: 355px;overflow: hidden;}
div.home_user_story {float: left;  width: 100%;  color: #668000;  font-weight: normal;  margin: 10px 0;  border-bottom: 2px solid #668000;}
div.home_user_story h1 { float: left; line-height: 44px;margin-left: 10px; color: #686868;font-weight: normal;}
.wagBanner_hp .wag_indexText_New { float: left;color: #FFF;width: 150px;margin: 40px 0px 0px 10px;overflow: hidden;}
.wagBanner_hp .wag_indexText_New h4 {float: left;width: 100%;font-size: 28px;line-height: 32px;color: #000;text-align: center;}
.wagBanner_hp .wag_indexText_New h2{ float: left;text-align: center;font-size: 20px;clear: both;color: #000;margin-top: 20px;}
.wagBanner_hp .wag_indexText_New h3 {float: left;color: #668000;font-size: 18px;letter-spacing: 1px;line-height: 25px;font-weight: normal;text-align: center;margin-top: 20px;text-align:center;}
.wagBanner_hp .wag_indexText_New .be_click_new {float: left;margin: 20px 0px;color: #FFF;font-size: 17px;width: 94%;}
.wagBanner_hp .wag_indexText_New .be_click_new a {color: #FFF;padding: 7px 10px;float: left;width: 96%;text-align: center;text-decoration: none;background:#CD0001;box-shadow: 3px 3px 3px #ccc;}
.wagBanner_hp .wag_indexText_New .wag_indexTextRotate{transform: rotate(90deg);}
.wagBanner_hp .wag_indexText_New .wag_indexTextMPLeft{padding-left: 6%; margin-left: -12px;padding-right: 4%;}
.wagBanner_hp .homepage-fancystripe_new {height: 0.8em;float: left;width: 100%;}
.homepage-fancystripe_new {height: 0.9em;margin: 0.25em 0px;background:#a3cc02;}
.bannerSlide {position:relative; height:248px; width:660px; z-index:0;}
.bannerSlide ul { position:absolute; left:0; top:0; }
.christmas_bell_left{position: absolute;float: left;display: block;left: 75px;top: 184px;}
.christmas_bell_right{position: absolute;float: left;display: block;top: 181px;right: 75px;}
@media screen and (max-width: 1300px) {
.christmas_bell_left{display:none;}
.christmas_bell_right{display:none;}}
#homeSlide {position:relative; height:260px; width:486px;}
#homeSlide a{ position:absolute; left:0; top:0; }
#homeSlide1 {position:relative; height:260px; width:486px;}
#homeSlide1 a{ position:absolute; left:0; top:0; }
.rytSide-banner.fr {width: 315px;margin-top: 13px;}
.sideBannerBox {border: 1px solid #ccc;}
.rytBorBottom.fl {width: 302px;border-bottom: 0px solid #ccc;margin:7px 0;}

