@font-face {
	font-family: 'SegoeUI';
	src: url('/new/common/font_source/SegoeUI.eot?') format('eot'), 
	     url('/new/common/font_source/SegoeUI.woff') format('woff'), 
	     url('/new/common/font_source/SegoeUI.ttf')  format('truetype'),
	     url('/new/common/font_source/SegoeUI.svg#SegoeUI') format('svg');
}
.home_page_sec{margin:auto; width:972px;}
.home_photoslider{margin-top: 13px;float: left;}
.home_mar_b{margin:0px; padding:0px;}
.cursor_pointer{cursor:pointer;}
.online_p{text-align: left; font-family:'Segoe UI';}
.online_p_p{color:#565656; line-height:16px; font-size:13px; font-family:'Segoe UI';}
.login-popupshadow{padding:0; box-shadow:none; border:0px solid #fff;background: rgba(255, 255, 255, 0);}
.bnonept10{border:none; padding-top:10px;}
.border_none{border:none;}
.product_head_hp{width: 100%;font-family: 'SegoeUI';}
div.product_tab_hp.fl {float: left;margin: 20px 0;height: 301px;}
.product_head_hp ul {border-bottom: 1px solid #999;float: left;padding: 0px;padding-bottom: 5px;width: 100%;margin: 0px;}
.product_head_hp ul li {list-style: none;font-size: 18px;font-weight: bold;}
.product_head_hp ul li a {padding: 3px 0px;margin: 0 52px 0 0; color:#555;}
.product_head_hp ul li a:hover,.product_head_hp ul li a.active_hp {text-decoration: none;color: #6C9D06;font-family: 'SegoeUI';border-bottom: 2px solid #6C9D06;}
.product_slider_hp ul{ float:left; margin:0px; padding:0px;}
.product_slider_hp ul li{ float:left; list-style:none;padding:10px 4px;margin-right: 0px;}
.product_slider_hp ul li:hover {box-shadow: 0px 0px 1px 1px #6C9D06;}
.product_slider_hp {float: left;height: 250px;margin: 10px 0; width:972px; position:relative;}
li.fr.next_hp {padding: 0px;margin: 100px 0 0 5px;}
li.fl.prev_hp {padding: 0px;margin: 100px 5px 0 0;}
li.fl.prev_hp:hover, li.fr.next_hp:hover {box-shadow: none;}
.category_box_hp {width: 100%;margin-bottom: 30px;}
.catBox_hp {border: 1px solid #6C9D06;padding-bottom: 1px;margin-right: 10px;width: 315px;}
.catBox_head_hp {background: #3a4900;width: 100%;color: #fff;font-size: 22px;font-family: 'SegoeUI';padding: 1px 0 5px;text-align: center;font-weight: 900;}
.catBox_img_hp {text-align: center;width: 100%;padding: 20px 0 5px 0;margin-bottom: -1px;border-bottom: 3px solid #6C9D06;background: #fff;}
.no_margin_hp{ margin:0px;}
div.wagBanner_hp{width: 49%;margin:10px 0;margin-right: 2%;}
div.wagBanner_hp.wagPedia_hp{ margin:13px 0;}
div.artBox_hp{width: 49%;  margin-top: 20px;float: left;font-family: 'SegoeUI';margin-right: 2%;}
div.artBox_hp h3{float: left;width: 100%;font-size: 29px;margin: 10px 0;border-bottom: 2px solid #6C9D06;}
div.artBox_hp h3 a {color: #6C9D06;padding: 5px 0;font-size: 27px;font-weight: normal;float: left; text-decoration:none;}
div.artBox_hp h4{float: left;width: 100%;font-size: 29px;margin: 10px 0;border-bottom: 2px solid #6C9D06;}
div.artBox_hp h4 a {color: #6C9D06;padding: 5px 0;font-size: 27px;font-weight: normal;float: left; text-decoration:none;}
div.artBox_hp h4 a:hover{color: #6C9D06;padding: 5px 0;font-size: 27px;font-weight: normal;float: left; text-decoration:none;}
.no_margin_hp.no_margin_hp{ margin:0px;}
.artBox_hp.no_margin_hp{ margin-top:20px;} 
.artBox_hp .txthold .home_article_text a {color: #6C9D06;font-size:14px; font-family: 'SegoeUI'; font-weight:bold;}
.artBox_hp .txthold h2 a {color: #6C9D06;font-size:15px;font-family: 'SegoeUI';}
.artBox_hp .txthold p {color: #555;font-size: 13px;}
.home_qna_text a {color: #6C9D06;font-size:14px; font-family: 'SegoeUI'; font-weight:bold;}
.qnacaption{margin-top: 10px; font-family: 'SegoeUI';font-size: 12px!important;}
.artBox_hp .txthold p.caption1 {font-family: 'SegoeUI';font-size: 12px;}
.artBox_hp .txthold p.caption1 a {color: #6C9D06;font-family: 'SegoeUI';text-decoration:none;}
.artBox_hp.no_margin_hp li {width: 100%;list-style: none;  font-size: 13px;  font-family: 'SegoeUI';margin-bottom: 10px;padding-bottom: 10px;border-bottom: 1px dotted #CCC;}
.artBox_hp.no_margin_hp li a {color: #6C9D06;text-decoration: none;}
.artBox_hp.no_margin_hp li p{color: #555;font-size: 13px;}
.stryBox_hp{ width:100%;margin-top: 20px;}
.stryBox_hp h3{    float: left;}.stryBox_hp h3 a{color: #6C9D06; padding: 5px 0; font-size: 27px;font-weight: normal;float: left;}
.wagBanner_hp .wag_rec_dg1 {float: left;width: 100%;}
.wagBanner_hp .wag_indexSec {width: 306px;float: left;height:306px;overflow:hidden;}
.wagBanner_hp .wag_indexText .be_click {text-transform: uppercase;float: left;margin: 15px 0px;color: #fff;font-size: 17px;width: 94%;}
.wagBanner_hp .wag_indexText p{ font-size:20px;text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;}
.wagBanner_hp .wag_indexText .be_click a {color: #fff;padding: 6px 10px;background: #a3cc00;float: left;width: 96%;text-align: center;border-radius: 3px;text-decoration: none;}
.wagBanner_hp .wag_indexText .be_click a:hover{background: #6C9D06;}
.wagBanner_hp .wag_indexText {float: left;width: 150px;margin: 55px 0 0 10px;color: #fff;}
.wagBanner_hp .wag_indexSec .dg_popBox.dg_pop2Box .dg_popImg img {width: 100px;height: 100px;}
.wagBanner_hp .wag_indexText p strong {font-size: 25px;}
.wagBanner_hp .homepage-fancystripe {height: .8em;float: left;width: 100%;}
.wagBanner_hp .wag_indexSec .dg_popBox.dg_pop2Box {width: 100px; height:100px; overflow:hidden;padding: 0px;position: relative;border: 1px solid #fff;}
.wagBanner_hp .wag_indexSec .dg_popBox.dg_pop2Box:hover .dg_popTxt { display:block;}
.wagBanner_hp .wag_indexSec .dg_popBox.dg_pop2Box .dg_popImg {width: 100px;height: 100px;border-radius: 0px;border: 0px solid #fff;}
.wagBanner_hp .wag_indexSec .dg_popTxt {float: left; display:none;background: rgba(255, 255, 255, 0.82);margin-top: 0;padding: 0px;width: 100%;text-align: center;height: 100%;position: absolute;}
.wagBanner_hp .dg_popTxt h5 {text-transform: uppercase;font-size: 14px;margin-top: 14px;margin-bottom: 5px;}
.wagBanner_hp .wag_indexText h3 {float: left;color: #6C9D06;font-size: 14px;letter-spacing: 1px;line-height: 25px;font-weight: normal;font-style: italic;margin-top: 8px;text-align: center;}
.wagBanner_hp .wag_indexText h4 {float: left;width: 100%;font-size: 27px;color: #FF9D0A;line-height: 32px;text-transform: uppercase;text-align: left;}
.product_slider_hp ul li h2 {font-size: 14px;border-top: 1px solid #bbb;border-bottom: 1px solid #bbb;margin: 5px 0;font-family: 'SegoeUI';font-weight: normal;}
.product_slider_hp ul li h3 {font-size: 14px;border-top: 1px solid #bbb;border-bottom: 1px solid #bbb;margin: 5px 0;font-family: 'SegoeUI';font-weight: normal;}
.product_slider_hp ul li h3 a{font-size: 14px;margin: 5px 0;font-family: 'SegoeUI';font-weight: normal; color:#555;}
.load_hp{ float:left; position:absolute; top:50%; margin-top:-20px; left:50%; margin-left:-20px;}
div.fl.sale_banner_hp {margin-top: 43px;margin-right: 6px;margin-left: 15px;width: 355px;overflow: hidden;}
div.home_user_story {float: left;  width: 100%;  color: #6C9D06;  font-weight: normal;  margin: 10px 0;  border-bottom: 2px solid #6C9D06;}
div.home_user_story h1 { float: left; line-height: 44px;margin-left: 10px; color: #686868;font-weight: normal;}
.wagBanner_hp .wag_indexText_New { float: left;color: #FFF;width: 150px;margin: 40px 0px 0px 10px;overflow: hidden;}
.wagBanner_hp .wag_indexText_New h4 {float: left;width: 100%;font-size: 28px;line-height: 32px;color: #000;text-align: center;}
.wagBanner_hp .wag_indexText_New h2{ float: left;text-align: center;font-size: 20px;clear: both;color: #000;margin-top: 20px;}
.wagBanner_hp .wag_indexText_New .wag_home_text_new{ float: left;text-align: center;font-size: 20px;clear: both;color: #000;margin-top: 20px; font-weight:bold;}
.wagBanner_hp .wag_indexText_New .wag_home_text_new_new{float: left;color: #6C9D06;font-size: 18px;letter-spacing: 1px;line-height: 25px;font-weight: normal;text-align: center;margin-top: 20px;text-align:center; font-weight:bold; margin-left:1px;}
.wagBanner_hp .wag_indexText_New h3 {float: left;color: #6C9D06;font-size: 18px;letter-spacing: 1px;line-height: 25px;font-weight: normal;text-align: center;margin-top: 20px;text-align:center;}
.wagBanner_hp .wag_indexText_New .be_click_new {float: left;margin: 20px 0px;color: #FFF;font-size: 17px;width: 94%;}
.wagBanner_hp .wag_indexText_New .be_click_new a {color: #FFF;padding: 7px 10px;float: left;width: 96%;text-align: center;text-decoration: none;background:#CD0001;box-shadow: 3px 3px 3px #ccc;}
.wagBanner_hp .wag_indexText_New .wag_indexTextRotate{transform: rotate(90deg);}
.wagBanner_hp .wag_indexText_New .wag_indexTextMPLeft{padding-left: 6%; margin-left: -12px;padding-right: 4%;}
.wagBanner_hp .homepage-fancystripe_new {height: 0.8em;float: left;width: 100%;}
.homepage-fancystripe_new {height: 0.9em;margin: 0.25em 0px;background:#6C9D06;}
.bannerSlide {position:relative; height:248px; width:660px; z-index:0;}
.bannerSlide ul { position:absolute; left:0; top:0; }
#homeSlide {position:relative; height:260px; width:486px;}
#homeSlide a{ position:absolute; left:0; top:0; }
#homeSlide1 {position:relative; height:260px; width:486px;}
#homeSlide1 a{ position:absolute; left:0; top:0; }
.rytSide-banner.fr {width: 315px;margin-top: 13px;}
.sideBannerBox {border: 1px solid #ccc;}
.rytBorBottom.fl {width: 302px;border-bottom: 0px solid #ccc;margin:7px 0;}
.wc_sec{position:relative;}
wc_sec{position:relative;}
.txt_dg_wc{height:400px;position:absolute;top:15px;left:0;width:100%;z-index:0;}
.text_box_dg_wc{font-family:'throw_my_hands_up_in_the_aiRg';width:840px;margin:0 auto;color:#fff;}
.text_box_dg_wc h1{font-family:'throw_my_hands_up_in_the_aiBd';color:#fff;font-size:58px;width:100%;padding-bottom:15px;text-align:center;text-shadow:4px 5px 0px #050505;text-shadow:4px 5px 0px #050505;}
.text_box_dg_wc p{display:table-cell;padding:0px 0px 0px 5px;border-bottom:3px dashed;float:left;width:840px;border-top:3px dashed;text-align:center;}
.text_box_dg_wc p span.font174{font-size:124px;display:table-cell;}
.text_box_dg_wc p span.font50{font-size:40px;display:table-cell;}
.dog_name_wc{float:left;width:100%;background:url(../images/bg_wc.jpg) repeat #e8e7c5;margin-top:1px;}
.wc_dogImg{float:right;border:5px solid rgba(255, 255, 255, 0.68);border-radius:4px;width:150px;position:relative;background:rgba(255, 255, 255, 0.76);height:150px;text-align:center;}
.dog_sec_wc{width:855px;margin:20px auto;}
.left_sec_dg{text-align:left;margin-left:20px;width:625px;float:left;margin-top:20px;}
.left_sec_dg h1{font-size:47px;color:#E4E4E4;text-shadow:2px 2px #000;}
.left_sec_dg p{font-size:28px;color:#fff;}
.wc_btn{float:left;width:100%;background:rgba(255, 255, 255, 0.34);margin:20px 0;padding:24px 0;border-top:1px dashed #fff;border-bottom:1px dashed #fff;}
.dg_popMost{float:left;}
.dg_popBox{float:left;width:37%;padding:50px 6% 50px 7%;}
.dg_popImg{float:left;background:#fff;border:10px solid #fff;border-radius:50%;overflow:hidden;width:330px;height:330px;z-index:0;position:relative;}
.dg_popTxt{float:left;background:rgba(255, 255, 255, 0.82);margin-top:-50px;padding:57px 5px 20px 5px;width:97%;text-align:center;}
.dg_popTxt h4{color:#6C9D06;font-size:13px;margin-bottom:4px;}
.dg_popTxt h3{text-transform:uppercase;margin-bottom:5px;}
.dg_popTxt p{font-size:13px;}
.dg_popBox.dg_pop2Box .dg_popImg{width:230px;height:230px;}
.dg_popBox.dg_pop2Box{width:25%;padding:50px 4% 50px 4%;}
.dg_popclub{float:left;background:rgba(0, 0, 0, 0.18);width:100%;}
.dg_popclub h1{color:#FFFFFF;font-size:30px;margin-top:30px;text-align:center;}
.wc_aboutDog{width:100%;float:left;background:#aec551;color:#fff;}
.wc_notAdd{float:left;width:100%;margin:140px 0;}
.home_page_slider { width:628px;height:440px; }
#carousel li {margin-right: 5px;}
#carousel img {display: block; opacity: .5; cursor: pointer;}
#carousel img:hover {opacity: 1;}
#carousel .flex-active-slide img {opacity: 1; cursor: default;}
.loading #container {opacity: 0;}
.loading:before  { content: 'LOADING'; display: block; margin: 100px 0 0; text-align: center; color: #fff; font-weight: bold; font-size: 60px; opacity: 0.3; }
.ds_top_brands{float:left; width:100%; margin-top: 15px;}
.ds_top_brands h4{ font-size:20px; font-family:Arial, Helvetica, sans-serif; color: #6C9D06; border-bottom:2px solid #6C9D06;padding-bottom:5px; float:left; margin:0px;}
.ds_top_brandslist{ width:100%; float:left; border:1px solid #ddd; padding-top:5px; border-radius:3px; margin-top:15px; }
.ds_top_brandslist ul{float: left; margin: 0px;padding: 0px;list-style: outside none none; }
.ds_top_brandslist ul>li{display: block;float: left;font: 12px Arial,Helvetica,sans-serif;color: #675E5B; margin-right: 22px;  }
.ds_top_brandslist ul>li:last-child{margin-right:0px;}
.brands_sprite{background: url(/new/pix/brands-logos1.png) no-repeat;} 
.dogspot_logo{ width:107px; height:24px; background-position: -1px -21px; margin-top: 18px; margin-left:7px;}
.royalcanin_logo{width: 108px;height: 28px;background-position: -120px -11px; margin-top:9px; }
.pedigree_logo{ width: 84px;height: 60px;background-position: -242px -6px; margin-top:6px;}
.drools_logo{ width: 83px;height: 40px; background-position: -338px -13px;  margin-top:10px;}
.nd_logo{ width: 68px;height: 58px; background-position: -432px 0px;}
.focus_logo{ width: 93px;height: 37px; background-position: -511px -13px;  margin-top:14px;}
.hills_logo{ width: 58px;height: 55px; background-position: -612px -4px; margin-top:4px;}
.petmate_logo{ width: 81px;height: 31px;background-position: -675px -17px;  margin-top:15px;}
.all4pets_logo{ width: 101px;height: 40px; background-position: -765px -13px;  margin-top:15px;}
.catsbest_logo{ width: 96px;height: 23px; background-position: -877px -16px;  margin-top:15px;}
.view_more_brands{float:left; width:100%; margin-top:5px; overflow:hidden;}
.view_more_brandsleft{border-top:1px solid #ddd; margin-top:10px; width:872px; float: left;}
.view_more_brandsright{ width:100px; float: left; text-align:right;}
.view_more_brandsright a{text-decoration: none;display: block;color: #889908;font: bolder 13px arial; }
.about_onlineshoping{width:972px; float:left; margin-top:5px;}
.about_onlineshoping h1{ font-size:20px; font-family:Arial, Helvetica, sans-serif; color: #6C9D06; border-bottom:2px solid #6C9D06;padding-bottom:5px; float:left; margin:0px;}
.about_dogspot_new{ float:left; width:972px;   font:14px arial; margin-top:10px; color: #555;}
.about_dogspot_new_t{ margin-bottom:10px;}
.about_mar_btm{ margin-bottom:0px;}
.hp_banner{ float:left; width:628px; height:432px; border:1px solid #ddd; font-family:"Segoe UI"}
ul.tabs-slider {padding: 0px;list-style: none;margin: auto;display:table;background:#989898;margin:0px;width:100%;}
ul.tabs-slider li.current{background: #f2f2f2;color:#555;}
ul.tabs-slider li.current a{ color:#555;}
ul.tabs-slider li {background: none;font-size: 14px;padding: 3px 6px;cursor: pointer;display: table-cell;vertical-align: middle;height:40px;border-left:1px solid #aaa;border-right:1px solid #888;text-align:center;}
ul.tabs-slider li:first-child{ border-left:0px;}
ul.tabs-slider li:last-child{ border-right:0px;}
ul.tabs-slider li a{ text-decoration:none; color:#fff;}
.slider-content.current{display: inherit;}
.slider-content{display: none;background: #fff;padding-top: 0px;}
a.read{ color:#6C9D06 !important;}
a.viewall{color:#6C9D06 !important;}