@font-face {
	font-family: 'SegoeUI';
	src: url('/new/common/font_source/SegoeUI.eot?') format('eot'), 
	     url('/new/common/font_source/SegoeUI.woff') format('woff'), 
	     url('/new/common/font_source/SegoeUI.ttf')  format('truetype'),
	     url('/new/common/font_source/SegoeUI.svg#SegoeUI') format('svg');
}
.home_page_sec{margin:auto; width:972px;}
.home_photoslider{margin-top: 13px;float: left;}
.home_mar_b{margin:0px; padding:0px;}
.cursor_pointer{cursor:pointer;}
.online_p{text-align: left; font-family:'Segoe UI';}
.online_p_p{color:#565656; line-height:16px; font-size:13px; font-family:'Segoe UI';}
.login-popupshadow{padding:0; box-shadow:none; border:0px solid #fff;background: rgba(255, 255, 255, 0);}
.bnonept10{border:none; padding-top:10px;}
.border_none{border:none;}
.product_head_hp{width: 100%;font-family: 'SegoeUI';}
div.product_tab_hp.fl {float: left;margin: 20px 0;height: 301px;}
.product_head_hp ul {border-bottom: 1px solid #999;float: left;padding: 0px;padding-bottom: 5px;width: 100%;margin: 0px;}
.product_head_hp ul li {list-style: none;font-size: 18px;font-weight: bold;}
.product_head_hp ul li a {padding: 3px 0px;margin: 0 52px 0 0; color:#555;}
.product_head_hp ul li a:hover,.product_head_hp ul li a.active_hp {text-decoration: none;color: #668000;font-family: 'SegoeUI';border-bottom: 2px solid #668000;}
.product_slider_hp ul{ float:left; margin:0px; padding:0px;}
.product_slider_hp ul li{ float:left; list-style:none;padding:10px 4px;margin-right: 0px;}
.product_slider_hp ul li:hover {box-shadow: 0px 0px 1px 1px #668000;}
.product_slider_hp {float: left;height: 250px;margin: 10px 0; width:972px; position:relative;}
li.fr.next_hp {padding: 0px;margin: 100px 0 0 5px;}
li.fl.prev_hp {padding: 0px;margin: 100px 5px 0 0;}
li.fl.prev_hp:hover, li.fr.next_hp:hover {box-shadow: none;}
.category_box_hp {width: 100%;margin-bottom: 30px;}
.catBox_hp {border: 1px solid #668000;padding-bottom: 1px;margin-right: 10px;width: 315px;}
.catBox_head_hp {background: #3a4900;width: 100%;color: #fff;font-size: 22px;font-family: 'SegoeUI';padding: 1px 0 5px;text-align: center;font-weight: 900;}
.catBox_img_hp {text-align: center;width: 100%;padding: 20px 0 5px 0;margin-bottom: -1px;border-bottom: 3px solid #668000;background: #fff;}
.no_margin_hp{ margin:0px;}
div.wagBanner_hp{width: 49%;margin:10px 0;margin-right: 2%;}
div.wagBanner_hp.wagPedia_hp{ margin:13px 0;}
div.artBox_hp{width: 49%;  margin-top: 20px;float: left;font-family: 'SegoeUI';margin-right: 2%;}
div.artBox_hp h3{float: left;width: 100%;font-size: 29px;margin: 10px 0;border-bottom: 2px solid #668000;}
div.artBox_hp h3 a {color: #668000;padding: 5px 0;font-size: 27px;font-weight: normal;float: left;}
.no_margin_hp.no_margin_hp{ margin:0px;}
.artBox_hp.no_margin_hp{ margin-top:20px;} 
.artBox_hp .txthold h2 a {color: #668000;font-size: 15px;font-family: 'SegoeUI';}
.artBox_hp .txthold p {color: #555;font-size: 13px;}
.artBox_hp .txthold p.caption1 {font-family: 'SegoeUI';font-size: 12px;}
.artBox_hp .txthold p.caption1 a {color: #668000;font-family: 'SegoeUI';text-decoration:none;}
.artBox_hp.no_margin_hp li {width: 100%;height: 55px;list-style: none;  font-size: 13px;  font-family: 'SegoeUI';margin-bottom: 10px;padding-bottom: 10px;border-bottom: 1px dotted #CCC;}
.artBox_hp.no_margin_hp li a {color: #668000;text-decoration: none;}
.stryBox_hp{ width:100%;margin-top: 20px;}
.stryBox_hp h3{    float: left;}.stryBox_hp h3 a{color: #668000; padding: 5px 0; font-size: 27px;font-weight: normal;float: left;}
.wagBanner_hp .wag_rec_dg1 {float: left;width: 100%;}
.wagBanner_hp .wag_indexSec {width: 306px;float: left;height:306px;overflow:hidden;}
.wagBanner_hp .wag_indexText .be_click {text-transform: uppercase;float: left;margin: 15px 0px;color: #fff;font-size: 17px;width: 94%;}
.wagBanner_hp .wag_indexText p{ font-size:20px;text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;}
.wagBanner_hp .wag_indexText .be_click a {color: #fff;padding: 6px 10px;background: #a3cc00;float: left;width: 96%;text-align: center;border-radius: 3px;text-decoration: none;}
.wagBanner_hp .wag_indexText .be_click a:hover{background: #668000;}
.wagBanner_hp .wag_indexText {float: left;width: 150px;margin: 55px 0 0 10px;color: #fff;}
.wagBanner_hp .wag_indexSec .dg_popBox.dg_pop2Box .dg_popImg img {width: 100px;height: 100px;}
.wagBanner_hp .wag_indexText p strong {font-size: 25px;}
.wagBanner_hp .homepage-fancystripe {height: .8em;float: left;width: 100%;}
.wagBanner_hp .wag_indexSec .dg_popBox.dg_pop2Box {width: 100px; height:100px; overflow:hidden;padding: 0px;position: relative;border: 1px solid #fff;}
.wagBanner_hp .wag_indexSec .dg_popBox.dg_pop2Box:hover .dg_popTxt { display:block;}
.wagBanner_hp .wag_indexSec .dg_popBox.dg_pop2Box .dg_popImg {width: 100px;height: 100px;border-radius: 0px;border: 0px solid #fff;}
.wagBanner_hp .wag_indexSec .dg_popTxt {float: left; display:none;background: rgba(255, 255, 255, 0.82);margin-top: 0;padding: 0px;width: 100%;text-align: center;height: 100%;position: absolute;}
.wagBanner_hp .dg_popTxt h3 {text-transform: uppercase;font-size: 14px;margin-top: 14px;margin-bottom: 5px;}
.wagBanner_hp .wag_indexText h3 {float: left;color: #668000;font-size: 14px;letter-spacing: 1px;line-height: 25px;font-weight: normal;font-style: italic;margin-top: 8px;text-align: center;}
.wagBanner_hp .wag_indexText h4 {float: left;width: 100%;font-size: 27px;color: #FF9D0A;line-height: 32px;text-transform: uppercase;text-align: left;}
.product_slider_hp ul li h2 {font-size: 14px;border-top: 1px solid #bbb;border-bottom: 1px solid #bbb;margin: 5px 0;font-family: 'SegoeUI';font-weight: normal;}
.load_hp{ float:left; position:absolute; top:50%; margin-top:-20px; left:50%; margin-left:-20px;}
div.fl.sale_banner_hp {margin-top: 43px;margin-right: 6px;margin-left: 15px;width: 355px;overflow: hidden;}
div.home_user_story {float: left;  width: 100%;  color: #668000;  font-weight: normal;  margin: 10px 0;  border-bottom: 2px solid #668000;}
div.home_user_story h1 { float: left; line-height: 44px;margin-left: 10px; color: #686868;font-weight: normal;}
.wagBanner_hp .wag_indexText_New { float: left;color: #FFF;width: 150px;margin: 40px 0px 0px 10px;overflow: hidden;}
.wagBanner_hp .wag_indexText_New h4 {float: left;width: 100%;font-size: 28px;line-height: 32px;color: #000;text-align: center;}
.wagBanner_hp .wag_indexText_New h2{ float: left;text-align: center;font-size: 20px;clear: both;color: #000;margin-top: 20px;}
.wagBanner_hp .wag_indexText_New h3 {float: left;color: #668000;font-size: 18px;letter-spacing: 1px;line-height: 25px;font-weight: normal;text-align: center;margin-top: 20px;text-align:center;}
.wagBanner_hp .wag_indexText_New .be_click_new {float: left;margin: 20px 0px;color: #FFF;font-size: 17px;width: 94%;}
.wagBanner_hp .wag_indexText_New .be_click_new a {color: #FFF;padding: 7px 10px;float: left;width: 96%;text-align: center;text-decoration: none;background:#CD0001;box-shadow: 3px 3px 3px #ccc;}
.wagBanner_hp .wag_indexText_New .wag_indexTextRotate{transform: rotate(90deg);}
.wagBanner_hp .wag_indexText_New .wag_indexTextMPLeft{padding-left: 6%; margin-left: -12px;padding-right: 4%;}
.wagBanner_hp .homepage-fancystripe_new {height: 0.8em;float: left;width: 100%;}
.homepage-fancystripe_new {height: 0.9em;margin: 0.25em 0px;background:#a3cc02;}
.bannerSlide {position:relative; height:248px; width:660px; z-index:0;}
.bannerSlide ul { position:absolute; left:0; top:0; }
.christmas_bell_left{position: absolute;float: left;display: block;left: 75px;top: 184px;}
.christmas_bell_right{position: absolute;float: left;display: block;top: 181px;right: 75px;}
.slide-out-div{padding:10px;width:240px;background:#fff;border:#ccc 1px solid;border-radius:5px;font-family:Arial, Helvetica, sans-serif;font-size:14px;}
.timing_tab{font-family:Arial, Helvetica, sans-serif;font-size:14px;background:#9ac33c;color:#fff;padding:7px;border-radius:3px;margin-top:10px;font-weight:bold;}
.support_side_tab{border-radius:4px;margin-top:5px;}
.call_use_section{margin:auto;width:150px;}
.call_us_tab{margin-top:10px;}
.call_use_bold{font-weight:bold;}
.email_bold{font-weight:bold;}
.customer_care_no{margin-top:2px;}
.cs_mt15{margin-top:15px;}
.customer_care_email_id{margin-top:2px;}
@media screen and (max-width: 1300px) {
.christmas_bell_left{display:none;}
.christmas_bell_right{display:none;}}
#homeSlide {position:relative; height:260px; width:486px;}
#homeSlide a{ position:absolute; left:0; top:0; }
#homeSlide1 {position:relative; height:260px; width:486px;}
#homeSlide1 a{ position:absolute; left:0; top:0; }
.rytSide-banner.fr {width: 315px;margin-top: 13px;}
.sideBannerBox {border: 1px solid #ccc;}
.rytBorBottom.fl {width: 302px;border-bottom: 0px solid #ccc;margin:7px 0;}
.wc_sec{position:relative;}
wc_sec{position:relative;}
.txt_dg_wc{height:400px;position:absolute;top:15px;left:0;width:100%;z-index:0;}
.text_box_dg_wc{font-family:'throw_my_hands_up_in_the_aiRg';width:840px;margin:0 auto;color:#fff;}
.text_box_dg_wc h1{font-family:'throw_my_hands_up_in_the_aiBd';color:#fff;font-size:58px;width:100%;padding-bottom:15px;text-align:center;text-shadow:4px 5px 0px #050505;text-shadow:4px 5px 0px #050505;}
.text_box_dg_wc p{display:table-cell;padding:0px 0px 0px 5px;border-bottom:3px dashed;float:left;width:840px;border-top:3px dashed;text-align:center;}
.text_box_dg_wc p span.font174{font-size:124px;display:table-cell;}
.text_box_dg_wc p span.font50{font-size:40px;display:table-cell;}
.dog_name_wc{float:left;width:100%;background:url(../images/bg_wc.jpg) repeat #e8e7c5;margin-top:1px;}
.wc_dogImg{float:right;border:5px solid rgba(255, 255, 255, 0.68);border-radius:4px;width:150px;position:relative;background:rgba(255, 255, 255, 0.76);height:150px;text-align:center;}
.dog_sec_wc{width:855px;margin:20px auto;}
.left_sec_dg{text-align:left;margin-left:20px;width:625px;float:left;margin-top:20px;}
.left_sec_dg h1{font-size:47px;color:#E4E4E4;text-shadow:2px 2px #000;}
.left_sec_dg p{font-size:28px;color:#fff;}
.wc_btn{float:left;width:100%;background:rgba(255, 255, 255, 0.34);margin:20px 0;padding:24px 0;border-top:1px dashed #fff;border-bottom:1px dashed #fff;}
.dg_popMost{float:left;}
.dg_popBox{float:left;width:37%;padding:50px 6% 50px 7%;}
.dg_popImg{float:left;background:#fff;border:10px solid #fff;border-radius:50%;overflow:hidden;width:330px;height:330px;z-index:0;position:relative;}
.dg_popTxt{float:left;background:rgba(255, 255, 255, 0.82);margin-top:-50px;padding:57px 5px 20px 5px;width:97%;text-align:center;}
.dg_popTxt h4{color:#668000;font-size:13px;margin-bottom:4px;}
.dg_popTxt h3{text-transform:uppercase;margin-bottom:5px;}
.dg_popTxt p{font-size:13px;}
.dg_popBox.dg_pop2Box .dg_popImg{width:230px;height:230px;}
.dg_popBox.dg_pop2Box{width:25%;padding:50px 4% 50px 4%;}
.dg_popclub{float:left;background:rgba(0, 0, 0, 0.18);width:100%;}
.dg_popclub h1{color:#FFFFFF;font-size:30px;margin-top:30px;text-align:center;}
.wc_aboutDog{width:100%;float:left;background:#aec551;color:#fff;}
.wc_notAdd{float:left;width:100%;margin:140px 0;}
.nivoSlider{position:relative;width:628px;height:432px;overflow:hidden;}
.nivoSlider img{position:absolute;top:0px;left:0px;}
.nivo-main-image{display:block !important;position:relative !important;width:628px !important;}
.nivoSlider a.nivo-imageLink{position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:6;display:none;}
.theme-default .nivoSlider{border:1px solid #ccc;}
.nivo-slice{display:block;position:absolute;z-index:5;height:100%;top:0;}
.nivo-box{display:block;position:absolute;z-index:5;overflow:hidden;}
.nivo-box img{display:block;}
.nivo-caption{position:absolute;left:0px;bottom:0px;background:#000;color:#fff;width:100%;z-index:8;padding:5px 10px;opacity:0.8;overflow:hidden;display:none;-moz-opacity:0.8;filter:alpha(opacity=8);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.nivo-caption p{padding:5px;margin:0;}
.nivo-caption a{display:inline !important;}
.nivo-html-caption{display:none;}
.nivo-directionNav a{position:absolute;top:45%;z-index:9;cursor:pointer;}
.nivo-prevNav{left:0px;}
.nivo-nextNav{right:0px;}
.nivo-controlNav{text-align:center;padding:15px 0;}
.nivo-controlNav a{cursor:pointer;}
.nivo-controlNav a.active{font-weight:bold;}
.nivo-directionNav{display:block !important;position:relative;top:-60px;z-index:9;}
.theme-default .nivoSlider{position:relative;z-index:0;background:#fff url(../images/loading.gif) no-repeat 50% 50%;}
.theme-default .nivoSlider img{position:absolute;top:0px;left:0px;display:none;}
.theme-default .nivoSlider a{border:0;display:block;}
.theme-default .nivo-controlNav{text-align:center;float:left;margin-top:8px;padding:5px 0;padding-bottom:20px;<div class="nivo-controlNav"><a class="nivo-control" rel="0">1</a><a class="nivo-control active" rel="1">2</a></div>}
.theme-default .nivo-controlNav a{display:inline-block;width:22px;height:21px;text-indent:-9999px;border:0;margin:0 2px;background-image:url(../images/bullets.png);background-repeat:no-repeat;}
.theme-default .nivo-controlNav a.active{background-position:0 -20px;}
.theme-default .nivo-directionNav a{display:block;width:26px;height:36px;background:url(/shop-slider/images/arrows2.png) no-repeat;text-indent:-9999px;border:0;margin-top:-178px;}
.theme-default a.nivo-nextNav{background-position:-30px 0;margin-top:-178px;}
.theme-default a.nivo-prevNav{left:15px;}
.theme-default .nivo-caption{font-family:Arial, Helvetica, sans-serif;font-size:14px;}
.theme-default .nivo-caption a{color:#fff;border-bottom:1px dotted #fff;}
.theme-default .nivo-caption a:hover{color:#fff;}
.theme-default .nivo-controlNav.nivo-thumbs-enabled{width:100%;}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a{width:auto;height:auto;background:none;margin-bottom:5px;}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img{display:block;width:120px;height:auto;}
table{border-collapse:separate;border-spacing:0;}
caption, th, td{text-align:left;font-weight:normal;}
blockquote:before, blockquote:after,
q:before, q:after{content:"";}
blockquote, q{quotes:"" "";}
header, section, footer,
aside, nav, article, figure{display:block;}
a, a:visited{text-decoration:none;}
a:hover, a:active{color:#000;text-decoration:none;}
#photoslider{width:600px;height:432px;margin:auto;}
.theme-default #slider{margin:auto;}
.theme-pascal.slider-wrapper,
.theme-orman.slider-wrapper{margin-top:150px;}
.clear{clear:both;}
