#mask {display: none;background: #000;position: fixed; left: 0; top: 0;z-index: 100;width: 100%; height: 100%;opacity: 0.8;z-index: 9999;}
.login-popup{display:none;background: #FFF;padding: 10px;border: 2px solid #ddd;float: left;font-size: 1.2em;position: fixed;top: 50%; left: 50%;z-index: 99999;box-shadow: 0px 0px 20px #999;-moz-box-shadow: 0px 0px 20px #999; -webkit-box-shadow: 0px 0px 20px #999; border-radius:3px 3px 3px 3px;-moz-border-radius: 3px; -webkit-border-radius: 3px; }
.main {background: url("/img/white_bg.png") repeat scroll 0 0 transparent;border-radius: 15px 15px 15px 15px;box-shadow: 0 0 12px #CCCCCC;margin: 152px auto 0;padding: 15px;width: 450px;}
.main-cont {background: none repeat scroll 0 0 #669900;border: 1px solid #666600;border-radius: 15px 15px 15px 15px;overflow: hidden;width: 448px;}
.main-cont-mar {padding: 30px 50px 20px;}
.main-cont-text {color: #FFFFFF;font-size: 21px;font-weight: bold;margin-bottom: 10px;}
.subscription {background: url("/img/snapdeal/sprite/snapdeal-x.png?v=1") repeat-x scroll 0 -174px transparent;display: none;height: 67px;overflow: hidden;width: 100%;}
.subscription_inner {font: 14px Tahoma,Geneva,sans-serif;margin: 0 auto;overflow: hidden;padding: 0 0 14px;width: 870px;}
.subscription-main-top-text {background: #A5CB18;color: #fff;font-size: 15px;padding: 8px 0;font-weight: bold;text-align: center;}
.home-subscribe-close { background: url("/new/pix/homesubscribe-sprite.png") -30px -23px no-repeat transparent;display: block;height: 29px;margin: -10px 0px 0px 431px;position: absolute;width: 30px;}
.subscription_text {color: #2F2F2F;float: left;font-size: 14px;font-weight: 700;padding: 5px 15px 0 0;}
.subscription_select {float: left;padding: 0 10px 0 0;}
.subscription_button {float: left;padding: 3px 0 0;}
input.subscription-button {height: 51px;margin-bottom: 0;padding: 0 0 0 8px;text-align: left;width: 186px;}
.subscription-bottom {border-top: 1px solid #D0563F;margin: 10px 0 0;overflow: hidden;padding: 10px;}
.subscription-bottom .left {float: left;padding: 0 0 0 5px;}
.subscription-bottom .right {float: right;padding: 0 5px 0 0;}
.subscription-bottom .title {color: #FDBC2C;font-size: 13px;font-weight: bold;}
.subscription-bottom-con {color: #FFFFFF;font-size: 18px;}
.subscription-bottom-con span {font-size: 12px;}
.subscription-bottom-con a {color: #FFFFFF;text-decoration: underline;}
.subscription-bottom-con a:hover {color: #FFFFFF;text-decoration: none;}
.subscription-bottom-con a.panel {font-size: 12px;}
.subscription-safe {background: url("/img/home-sprite.png") no-repeat scroll -115px -402px transparent;color: #EBCBBE;margin: 5px 0 0;padding: 0 0 0 13px;}
.subscription-button {background: url("/img/festival/headerv1.1/homesubscribe-button-bg.gif") no-repeat scroll right top transparent;border: 2px solid #A49595;border-radius: 8px 8px 8px 8px;color: #FFFFFF;cursor: pointer;font-size: 20px;height: 51px;margin: 10px 0;text-align: left;width: 185px;}
.subscription .hide {overflow: hidden;padding: 3px 0;text-align: right;width: 100%;}
.subscription .hide a {color: #464646;font-size: 11px;font-weight: 700;text-decoration: none;}
.form-fld {background-color: #FFFFFF;border: 1px solid #D4D4D4;color: #333333;font-size: 12px;padding: 8px 2px;width: 98%;}
.combo_box {float: left;border-top: 1px solid #aaa;margin-top: 20px;padding-bottom: 20px;}
h3.combo_head {color: #555;margin: 15px 0;ont-size: 18px;}
.ui-tabs .ui-tabs-nav li {list-style: none;float: left;position: relative;top: 0;margin: 0 5px 0 0;border-bottom-width: 0;border-radius: 3px 3px 0 0;padding: 0;white-space: nowrap;}
.ui-tabs .ui-tabs-nav li a, .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {cursor: pointer;}
.ui-tabs .ui-tabs-nav li a {float: left;padding: .5em 1em;text-decoration: none;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {border: 1px solid #d3d3d3;background: #e6e6e6;font-weight: normal;color: #555555;}
.ui-widget-header {border-bottom: 1px solid #444;color: #222222;font-weight: bold;float: left;width: 100%;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {border: 1px solid #444;background: #ffffff;font-weight: normal;color: #212121;}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {margin-bottom: -1px;padding-bottom: 1px;}
.product_1 {display: table-cell;margin: 10px;font-weight: bold;vertical-align: middle;padding: 20px 10px 0 10px;width: 125px;}
.product_2 {display: table-cell;margin: 10px;font-weight: bold;vertical-align: top;padding-top: 76px;font-size: 22px;width: 20px;}
.pro_combo {float: left;width: 70%;}
.pro_combo_price {float: right;width:250px;margin-top: 80px;}
.pro_combo_price h4 {float: left;border-bottom: 1px solid #666;padding-bottom:5px;width: 100%;font-size: 18px;}
.product_1 input[type="checkbox"] {float: left;margin: 3px 0;}
label.com_label {font-size: 14px;margin-left: 3px;font-weight: normal;}
.com_img {float: left;width: 125px;margin-bottom: 10px;}
.pri_label {float: left;font-size: 15px;margin: 5px 0;}
.pri_label1 {float: left;width: 100%;margin-top: 5px;font-weight: bold;font-size: 22px;}
.label_bor {float: left;border-bottom: 1px solid #bfbfbf;padding-bottom: 3px;margin-bottom: 3px;}
