
* html body{margin:0px; padding:0px;}
body{margin:0px; padding:0px; text-align:center; font:12px Arial; background-color:#fff; behavior: url(csshover.htc);}
body a{text-decoration:none; color:#000; outline:none;}
body a:hover{text-decoration:underline; color:#666; outline:none;}

img {border:0}
h1 a{ font:bolder 20px arial; color:#4b3a15; text-decoration:none;}
h1 a:hover {text-decoration:none;}

h4 {font:bolder 12px arial; color:#000;}
h5 {font:bolder 16px arial; color:#867654;}
/* general */
h1,h2, h3, h4, h5, h6, p, form, div, table, ul, dt, dd, dl {margin:0px; padding:0px;}

.fl{float:left;}
.fr{float:right;}
.cb{clear:both}
.vs5{height:5px; overflow:hidden;}
.vs2{height:2px; overflow:hidden;}
.vs10{height:10px; overflow:hidden;}
.vs15{height:15px; overflow:hidden;}
.vs13{height:13px; overflow:hidden;}
.vs20{height:20px; overflow:hidden;}
.vs30{height:30px; overflow:hidden;}
.vs40{height:40px; overflow:hidden;}
.pt5{ padding-top:5px;}
.pt10{padding-top:10px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pb5{padding-bottom:5px;}
.pb2{padding-bottom:2px;}
.pb10{padding-bottom:10px;}
.mB20{margin-bottom:20px;}
.mr20{margin-right:20px;}
.mr5{margin-right:5px;}
.mr18{margin-right:18px;}
.mr10{margin-right:10px;}
.ml5{margin-left:20px;}
.pa10{padding:10px;}
.pa4{padding:4px;}
.mt20{margin-top:20px;}
.mt10{margin-top:10px;}
.mt5{margin-top:5px;}
.mb15{margin-bottom:15px;}
.hrline {border-top:1px dashed #969696;}
.hrlineSolid {border-top:1px solid #dad9d7;}
.w320{ width:320px;}

/* general */

/*header */
.cont980{width:972px; margin:0 auto; text-align:left; padding: 0px 4px 0px 4px;}

/*slideshow */
.cont660 {width:660px; margin-right:12px; float:left;}
.cont300 {width:300px; float:left;}
img.border { border:1px solid #656567;}
ul.slide {margin:0px; padding:0px; list-style-type:none; list-style:none;}
ul.slide li { display:block; float:left; padding-right:15px; border-right:1px solid #dad9d7; font:12px Arial, Helvetica, sans-serif; color:#675e5b;  margin-right:15px; width:171px; text-align:center;}
ul.slide li a.link { color:#666;  text-decoration:none; display:block; margin-bottom:5px; }
ul.slide li a:hover {text-decoration:none; display: block;}
ul.slide li h2 {font:bolder 14px Arial; color:#7f9f0b; margin-bottom:5px; text-align:center;}
ul.slide li h2 a {color:#867b62;}
ul.slide li h2 a:hover {color:#7f9f0b;}
ul.slide li.last {border-right:0px;}
ul.slide li.arrow { width:70px; border-right:0px; padding-top:40px; padding-right:0px; margin-right:0px; margin-left:20px;}
a.viewmore { font:bolder 12px Arial, Helvetica, sans-serif; color:#9fbe3f;text-decoration:none; }
a:hover.viewmore {text-decoration:none; color:#9fbe3f; }
/*home tabs*/

ul.hometabs{ margin:0px; padding:0px; list-style:none;}
ul.hometabs li{ float:left; margin-right:9px; background:url(../pix/tab_normal_bg.gif) repeat-x; float:left; height:81px; overflow:hidden}
ul.hometabs li span{ display:block; background:url(../pix/normal_bgright.gif) top right no-repeat; height:81px;}
ul.hometabs li span a {font:14px Arial; color:#000; display:block; text-decoration:none; padding:0px 20px 0px 20px;}
ul.hometabs li span a:hover {text-decoration:none; }
ul.hometabs li.active {background:url(../pix/tab_lileft_bg.gif) no-repeat; float:left; height:81px; width:214px;}
ul.hometabs li.active span{background:url(../pix/tabspan_bgright.gif) top right no-repeat;}
ul.hometabs li span a b{ display:block; margin-bottom:5px; font-size:20px; color:#4b4b4b; font-weight:bolder; padding-top:30px; line-height:18px;}

ul.hometabs li.active a {background:url(../pix/tab_ahref_bg.gif) no-repeat; background-position:28px 0px;}
ul.hometabs li.active a  b{ color:#000;}

/*home tabs*/


/* three columns */
h3 { font:bolder 22px Arial, Helvetica, sans-serif; color:#84a40d; padding-bottom:15px; line-height:22px;}
h3 a {color:#84a40d; text-decoration:none;}
h3 a:hover {color:#867b62; text-decoration:none;}
h2 {font:bolder 12px Arial, Helvetica, sans-serif; color:#7f9f0b; text-align:left; }
h2 a {color:#46433d;}
h2 a:hover {color:#867b62;}

/* text */
.caption {font:11px Tahoma; color:#757575; padding-top:5px;}
.caption a { font:11px Tahoma; color:#84a40d; text-decoration:underline;}
.caption a:hover {color:#867b62;}
a.viewall {color:#9fbe3f; text-decoration:none; display:block; color:#889908; font:bolder 12px arial; }
a.viewall:hover{color:#000; text-decoration:none;}

.col280{ width:280px; float:left; margin-right:20px; padding-right:20px;  border-right:1px solid #b2b2b2;}
.imgtxtcont {padding-bottom:10px; margin-bottom:10px; border-bottom:1px solid #dcdcdc;}
.imgtxtcont.last {border:0px;}
.imghold {float:left; width:30px; height:30px; margin-right:10px; margin-top:2px;}
.txthold { float:left;  width:222px; }
.txthold img { margin-left:10px; margin-bottom:3px;}
.txthold p{ margin-bottom:5px;}

/*breadcrumb */
.breadcrumb{background:url(/new/pix/breadcrumb_bg.gif) repeat-x; overflow:hidden; padding:8px 0px 8px 0px; margin-bottom:20px;}
.breadcrumb a {font:12px Arial, Helvetica, sans-serif; color:#4b3a15; text-decoration:underline;}
.breadcrumb a:hover {text-decoration:none;}

/*for png images in ie6*/
img, div{ behavior: url(/new/css/iepngfix.htc) }

/*begin checkout  */
.checkOut239 {width:239px; float:left; margin-right:12px;}
.checkOut292 {width:292px; float:left;}
.beginCheckOut { font:14px Arial; color:#4b3a15; padding:15px; border:1px solid #ccc; background-color:#fff; height:100%; overflow:hidden;}
.beginCheckOut p {color:#4b3a15; }
.beginCheckOut p a {font:13px arial; color:#4b3a15; text-decoration:underline;}
.beginCheckOut p a:hover {font:13px arial; color:#4b3a15; text-decoration:none;}
.beginCheckOut h4 {color:#000000; font:bolder 20px arial; margin-bottom:10px; line-height:26px; }
.beginCheckOut h4 a {font:bolder 20px arial; color:#e77200; text-decoration:none;}
.beginCheckOut h4 a:hover {text-decoration:none; color:#867b62;}

/* begin checkout form */
.beginCheckOut label{font-weight:bolder; color:#3b3b3b; line-height:17px;}
.beginCheckOut label span{ color:#FF0000;}
.beginCheckOut input{ font:12px arial; color:#7f7f7f; width:300px; margin-top:7px;  border:1px solid #ccc; padding-left:3px; padding-top:1px; height:23px;}
.beginCheckOut label.checkOut {margin-right:10px; width:80px; text-align:right; float:left; margin-top:5px;}
.beginCheckOut input.checkOut{ font:12px arial; color:#7f7f7f; width:209px; margin-top:0px; height:23px; border:1px solid #ccc; padding-left:3px; padding-top:1px; float:left;}
.beginCheckOut select { font:12px arial; color:#7f7f7f; width:213px;  height:27px; border:1px solid #ccc; padding-top:4px;}
.beginCheckOut input.checkbox {width:14px; margin-right:10px; height:18px; margin-right:10px; margin-top:0px; float:left; border:0;}
.beginCheckOut label.checkbox {margin:0; font-weight:none; color:#505050; font:12px arial; float:left; }
.beginCheckOut input.radiobox {width:20px; margin-top:0px; float:left; height:18px; border:0;}


table.reviewYourOrder { text-align:center; border-color: #505050;
    border-width: 0 0 1px 1px;
    border-style: solid;  }
table.reviewYourOrder th {font:bolder 14px arial; color:#3b3b3b;  border-color: #505050;
    border-width: 1px 1px 0px 0px;
    border-style: solid; padding:5px;}
table.reviewYourOrder td { font:14px arial; color:#3b3b3b; border-color: #505050;
    border-width: 1px 1px 0 0;
    border-style: solid;
    margin: 0;
    padding: 10px;
    }
table.reviewYourOrder input{border:1px solid #ccc; margin-bottom:7px;}

table.reviewYourOrder2 {text-align:right;}
table.reviewYourOrder2 td {font:bolder 14px arial; color:#4c4c4c; padding-bottom:5px; padding-top:5px;}
table.reviewYourOrder2 td span {font:bolder 14px arial; color:#707070; }

/* pop up */
.popUp710 {border:4px solid #97ba19; padding:5px 15px 40px 15px; width:710px;}

/*login */
.loginCont614 {width:614px; margin-right:12px; float:left;}
.loginCont614 h1 { font:bolder 30px arial; color:#262626;}
.loginCont614 h1 a{ font:bolder 30px arial; color:#ff5f08; text-decoration:none;}
.loginCont614 h1 a:hover{color:#ff5f08; text-decoration:none;}

.loginImgHold {width:12px; float:left; margin-right:10px;}
.loginImgHold img {display:block; margin-top:4px; margin-bottom:31px;}

.loginTextHold {width:320px; float:left;}
.loginTextHold a {display:block; color:#4b3a15;}
.loginTextHold a:hover {text-decoration:none; color:#4b3a15;}
.loginTextHold h2 {color:#3a3b38;}
.loginTextHold h2 a {font:bolder 16px arial; color:#3a3b38; text-decoration:none;}
.loginTextHold h2 a:hover {color:#3a3b38; text-decoration:none;}
.loginTextHold p{color:#3d3013; margin-bottom:10px;}

/*registration */
.registerCont578 {width:578px; margin-left:auto; margin-right:auto; color:#3b3b3b;}
.registerCont578 a { text-decoration:underline;}
.registerCont578 a:hover { text-decoration:none;}
.registerCont578 .padding {padding:20px; border:1px solid #ccc; background-color:#fff; height:100%; overflow:hidden;}
.registerCont578 h4 {color:#000000; font:bolder 20px arial; margin-bottom:10px; line-height:26px; }
.registerCont578 h4 a {font:bolder 20px arial; color:#e77200; text-decoration:none;}
.registerCont578 h4 a:hover {text-decoration:none; color:#867b62;}
.registerCont578 h1 {color:#000000; font:bolder 20px arial; line-height:26px; }
.registerCont578 h1 a {font:bolder 20px arial; color:#e77200; text-decoration:none;}
.registerCont578 h1 a:hover {text-decoration:none; color:#867b62;}
.registerCont578 h2 {color:#000000; font:bolder 14px arial; line-height:16px; }
.registerCont578 h3 {color:#3B3B3B; font:bolder 12px arial; line-height:16px; }
.registerCont578 label {width:168px; float:left; color: #3B3B3B; line-height: 17px; font:bolder 14px arial; margin-right:20px; text-align:right;}
.registerCont578 label span {color:#FF0000;}  
.registerCont578 input {width:300px; float:left; font:12px arial; color:#7f7f7f; border:1px solid #ccc; padding-left:3px; padding-top:1px; height:23px;}
.registerCont578 select { width:333px; float:left; font:12px arial; color:#7f7f7f; border:1px solid #ccc; padding-left:3px; padding-top:1px; }

/* articles */

/* text */
.caption1 {font:11px Tahoma; color:#757575; padding-top:5px;}
.caption1 a { font:11px Tahoma; color:#a33b00; text-decoration:underline;}
.caption1 a:hover {color:#867b62; text-decoration:none;}
a.read{font:11px Tahoma; color:#84a40d; text-decoration:none;}
a:hover.read {color:#867b62; text-decoration:none;}

ul.category{ list-style-type:none; margin:0; padding:0; float:left; width:132px;}
ul.category li{ display:block;}
ul.category li a{ display:block; color:#757575; margin-bottom:8px;}

h1 a.articles{ font:bolder 22px arial; color:#46433d; text-decoration:none;}
h1 a:hover.articles {text-decoration:none;}
.grey_text{ color:#46433d; line-height:18px;}
h2 a.articles1{ font:bolder 14px arial; color:#575757; text-decoration:none;}
h2 a:hover.articles1 {text-decoration:none; color:#46433d;}
.green_text { font:12px arial; color:#6e8909;}

.articlesCommentBoxTop {background:url(../pix/articles/articles_commentbox_top.gif) no-repeat; height:32px;}
.articlesCommentBoxMid {background:url(../pix/articles/articles_commentbox_mid.gif) repeat-y; }
.articlesCommentBoxBottom {background:url(../pix/articles/articles_commentbox_bottom.gif) no-repeat; height:15px;}

/* articles */

/* Q&A */
.q_a_GreenStrip {background:url(../pix/qa_greenstrip_bg.gif) top repeat-x; color:#ccdf73; padding:15px 0px 15px 0px; }
.answersCont295{width:295px; float:left; padding-right:20px; border-right:1px solid #b1aeae; margin-right:20px;}
.answersCont295 input{ border:1px solid #ccc; color:#666; padding:3px; margin-bottom:19px;}
.answersCont660 {width:660px; background:url(../pix/q&a_cont660.gif) repeat-x; border:1px solid #e4e4e4;}
ul.featured_answer{margin:0; padding:0; list-style-type:none;}
ul.featured_answer li{ float:left; margin-right:5px; border:1px solid #ccc; background:url(../pix/featured_ans_bg.gif) no-repeat;}
ul.featured_answer li.active{ float:left; margin-right:5px; border:1px solid #ccc; background-color:#fff; background-image:none; }
ul.featured_answer li a {font:12px arial; color:#535353; padding:5px;}
ul.featured_answer li a:hover { text-decoration:none;}


/* showpages */
.showPages {
    color: #003399;
    font-family: "Courier New",Courier,monospace;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}
.showPages a {
    background: url("/images/pg-but-bg-2.gif") repeat scroll 0 0 transparent;
    border: 1px solid #99CCFF;
    color: #003399;
    font-family: "Courier New",Courier,monospace;
    font-size: 14px;
    font-weight: bold;
    margin: 4px 2px;
    padding: 4px 6px 2px;
    text-decoration: none;
}
.showPages a:hover {
    background-position: center bottom;
    border: 1px solid #2969F8;
    color: #003399;
    font-family: "Courier New",Courier,monospace;
    font-size: 14px;
    font-weight: bold;
    margin: 4px 2px;
    padding: 4px 6px 2px;
    text-decoration: none;
}
.showPages span {
    background-color: #6666FF;
    border: 1px solid #99CCFF;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 2px;
    margin-right: 2px;
    padding: 4px 6px 2px;
}
.linkButtonBlue {
    background-color: transparent;
    background-image: url("/images/pg-but-bg.gif");
    border: 1px solid #99CCFF;
    color: #000000;
    font-family: "Courier New",Courier,monospace;
    font-size: 14px;
    font-weight: bold;
    margin: 4px 2px;
    padding: 2px 6px 1px;
    text-decoration: none;
}

