
.welcome {margin-top:12px; }
.welcome b {color:#9bc015; }
.myProfile { color:#A33B00; font-weight: bolder; margin-top:3px;}
.myProfile a {text-decoration:none; color:#A33B00;}
.myProfile a:hover {text-decoration:none; color:#A33B00;}

.profilecont195 {width:195px; float:left; margin-right:8px;}
.profilecont562 {width:562px; float:left; margin-right:16px;}
.profilecont185 {width:184px; float:left; color:#867B62; }
.profileImgHold {width:20px; float:left; margin-right:10px;}
.profileImgHold img {display:block; margin-top:0px; margin-bottom:8px;}

.profileTextHold {width:96px; float:left;}
.profileTextHold a {display:block; color:#4b3a15; margin-bottom:8px; }
.profileTextHold a:hover {text-decoration:none; color:#4b3a15;}
.profileTextHold h4 {color:#867b62;}
.profileTextHold h4 a {font:bolder 12px arial; color:#867b62; text-decoration:none;}

.profileLeftWhiteContTop {background:url(/new/pix/profile/profile_rtcont_topcurve_bg.gif) no-repeat;}
.profileLeftWhiteContTop h2 {color:#4b3a15;}
.profileLeftWhiteContTop h2 a{font:bolder 14px arial; color:#4b3a15; text-decoration:none;}
.profileLeftWhiteContTop h2 a:hover{color:#9bc015; text-decoration:none;}
.profileLeftWhiteContBottom {background:url(/new/pix/profile/profile_rtcont_bottomcurve_bg.gif) no-repeat; height:12px;}
.profileLeftWhiteCont2Top {background:url(/new/pix/profile/profile_rtcont2_bottomcurve_bg.gif) no-repeat;}

.profileupdateStatus { background:url(/new/pix/profile/update_status_bg.gif) no-repeat; height:76px;}
.profileupdateStatus input {border:1px solid #ccc; color:#7F7F7F; width:413px; height:44px; padding:0px 0px 0px 3px;}

ul.profileDogGallery {margin:0; padding:0; list-style-type:none;}
ul.profileDogGallery li {float:left; margin-right:11px;}
ul.profileDogGallery li img {border:1px solid #000;}

.profilecont185 h2 { color: #7F9F0B;}
.profilecont185 h2 a{color:#867B62; font: bolder 12px Arial;}
.profilecont185 h2 a:hover {text-decoration:none; color:#84a40d;}
.profilecont185 h2 a.product{color:#867B62; font: bolder 14px Arial;}
.profilecont185 h2 a:hover.product {text-decoration:none; color:#84a40d;}

.profilecont185 a.link {font:bolder 14px arial; color:#F88000; display:block;}
.profilecont185 a.link1 {font:12px arial; color:#867B62; text-decoration:underline;}
.profilecont185 a:hover.link1 {text-decoration:none;;}

h3 a.profile{color:#84a40d; text-decoration:none; font:bolder 18px Arial; padding-bottom:15px; line-height:20px;}
h3 a:hover.profile {color:#867b62; text-decoration:none;}

ul.profileTabs{ margin:0px; padding:0px; list-style:none;}
ul.profileTabs li{ float:left; background:url(/new/pix/profile/profile_tabs_left.gif) repeat-x; height:33px; overflow:hidden}
ul.profileTabs li span{ display:block; background:url(/new/pix/profile/profile_tabs_right.gif) top right no-repeat; height:33px;}
ul.profileTabs li span a {font:bolder 12px Arial; color:#fff; display:block; text-decoration:none; padding:8px 15px 0px 15px;}
ul.profileTabs li span a:hover {text-decoration:none; }
ul.profileTabs li.active {background:url(/new/pix/profile/profile_tabs_activeleft.gif) no-repeat; float:left; height:33px;}
ul.profileTabs li.active span{background:url(/new/pix/profile/profile_tabs_activeright.gif) top right no-repeat;}
ul.profileTabs li.active span a{color:#5a5a5a;}

ul.latestupdate { list-style:none; margin:0px; padding:0px; margin-top:10px;}
ul.latestupdate li{border-bottom:1px solid #e0e0e0; display:block; height:auto; padding-bottom:15px; margin-bottom:15px; color:#545454;}
ul.latestupdate li span.img{float:left; width:30px; margin-top:3px; height:30px; border:1px solid #565656; margin-right:10px; display:block;}
ul.latestupdate li span.txtcont{float:left; width:470px; display:block; font-size:12px; line-height:18px;} ul.latestupdate li span.txtcont a{ text-decoration:none; color:#867B62;} ul.latestupdate li span.txtcont a:hover{ text-decoration:none; color:#666;}
ul.latestupdate li span.txtcont span{ display:block;}
ul.latestupdate li span.txtcont .cap_share{ font:11px tahoma; color:#737373;}
ul.latestupdate li span.txtcont .cap_share a{  color:#4373b1; text-decoration:none;} ul.latestupdate li span.txtcont .cap_share a:hover{  color:#4373b1; text-decoration:underline;}

ul.latestupdate li span.txtcont ul{margin:10px 0px 5px 0px; padding:0px;}
ul.latestupdate li span.txtcont ul li{border:none; height:auto; float:left; width:120px; height:83px; padding:2px; border:1px solid #ccc; margin-right:5px; text-align:center; margin-bottom:5px;}
ul.latestupdate li span.txtcont ul li img{ width:120px; height:83px;}
ul.latestupdate li span.txtcont .greytxt11 a{ text-decoration:none;} ul.latestupdate li span.txtcont .greytxt11 a:hover{text-decoration:underline;}
ul.latestupdate li span.txtcont .like_icon{ margin-right:10px;}
ul.latestupdate li span.cb{clear:both; display:block;}
ul.latestupdate li span.txtcont blockquote{ margin:0px; padding:0px; margin-top:10px;}
ul.latestupdate li.last{border-bottom:0; padding-bottom:0px; margin-bottom:0px; }

.other_detailsCont967 {width:967px; color:#3b3b3b;}
.other_detailsCont967 h1 {font:bolder 18px arial; color:#E77200;}
.other_detailsCont967 .border { border:1px solid #ccc; background-color:#fff; height:100%; overflow:hidden; padding:20px;}
.other_detailsCont237 {width:237px; margin-right:20px; float:left; text-align:right;}
.other_detailsCont668 {width:668px; float:left;}
.other_detailsCont237 label {color: #3B3B3B; font:bolder 14px arial;}
.other_detailsCont237 label span {color:#FF0000;}  
.other_detailsCont668 input {width:300px; font:12px arial; color:#7f7f7f; border:1px solid #ccc; padding-left:3px; padding-top:1px; height:23px;}
.other_detailsCont668 input.radio {width:13px; font:12px arial; color:#7f7f7f; border:none; height:13px; margin:2px 5px 0px 0px;}
.other_detailsCont668 select.multiple { width:450px;; font:12px arial; color:#7f7f7f; border:1px solid #ccc; padding-left:3px; padding-top:1px; margin-top:2px; height:auto; }
.other_detailsCont668 select{ width:305px;; font:12px arial; color:#7f7f7f; border:1px solid #ccc; padding:4px 4px 4px 3px;margin-top:2px; height:27px;}
.other_detailsCont668 textarea{ width:296px;; font:12px arial; color:#7f7f7f; border:1px solid #ccc; padding:4px 4px 4px 3px;margin-top:2px; height:80px; resize:none;}

.tab_form{ font-family:Arial, Helvetica, sans-serif;}
.tab_form tr{ float: left;margin: 5px 0;width: 100%;}
.tab_form strong{ width:130px; float:left;}
.tab_form input{ font-family:Arial, Helvetica, sans-serif; color:#3e3e3e; font-size:13px; border:1px solid #d6d6d6; padding:7px 2px; float:left;}
.tab_form select{font-family:Arial, Helvetica, sans-serif; color:#3e3e3e; font-size:13px; border:1px solid #d6d6d6; padding:7px 2px;}
.tab_form input[type="button"]{ background:#234697; color:#fff; cursor:pointer; border:none; padding:10px 20px;}
.tab_form input[type="reset"]{ background:#234697; color:#fff; cursor:pointer; border:none;  padding:10px 20px;}