.puppies-top-sec, .puppies-middle-sec, .puppies-middle-b, .puppies-middle-btm{float:left; width:100%; font-family:lato,sans-serif;  letter-spacing: 0.6px; }
.puppies-sec{width: 100%;float: left;margin: 10px 0px 20px 0px;   text-align:center;}
.puppies-adopt-text{ margin-bottom:10px; font-size:20px;}
.puppies-text-dec{ font-size:14px; line-height:20px; }
.puppies-middle-sec{ padding:30px 0px; }
.add-new-puppu-btn{    
color: #fff;
background: #6c9d06;
text-decoration: none;
border: none;
font-size: 16px;
border-radius: 3px;
cursor: pointer;
font-family: lato, sans-serif;
padding:10px 20px;
}
.add-new-puppu-btn:hover{ text-decoration:none; color:#fff;}
	.puppy-btn-sec{float: left;
width: 100%;
margin-top: 25px;}
.puppies-middle-sec{ background:#555; padding:30px 0px; margin-top:20px; }
.puppies-middle-b{ width: 100%;
    background: url("/images/background-sub.jpg");
    background-size: cover;
    padding: 20px 0px 0px 0px;}
.puppies-middle-btm{margin-top: 20px;
    background: #fff;}
.puppes-search-col-1{ float:left; width:20%;}
.puppes-search-col-2{ float:left; width:32.5%;}
.puppes-search-col-3{float:left;  width:15%;}
.puppes-search-col-1 h1{font-weight: normal;
font-size: 20px;
text-transform: uppercase; margin-top:6px; color:#fff;}
.puppes-search-col-2 select{width: 270px;
    height: 35px; border:1px solid #ddd; font-family:lato,sans-serif; font-size:14px; letter-spacing:0.6px;}
	.puppes-search-col-3 input{
    border: none;
    border: 1px solid #6c9d06;
    font-size: 14px;
    font-size: 14px;
    font-family: lato,sans-serif;
    background: #6c9d06;
    width: 150px;
    height: 35px;
    color: #fff;
    border-radius: 3px;
	cursor:pointer; letter-spacing:0.6px;
	}
	.puppies-text-dec a { color:#6c9d06;}
	.puppies-text-dec a:hover{ color:#6c9d06; text-decoration:underline;}
	.puppies-left-sec{ font-family:lato,sans-serif; font-size:14px; letter-spacing:0.6px;}
		.bodyText_row{ padding:0px;    border: 1px solid #ddd; background:#fff;     float: left;
    width: 226px;
    margin:0px 20px 20px 0px; min-height:270px; border-radius:5px;}
	.bodyText_container{ width:100%; font-family:lato,sans-serif; float:left;}
	.puppies-image {float: left; 
	
    width: 100%;
   
    text-align: center;
    background: #555;
    padding: 25px 0px 15px 0px;
    margin-bottom: 20px;}
	.puppies-image img{ text-align:center;    
    border: 2px solid #ddd;
    width: 80px;
    height: 80px;
    border-radius: 50px; margin-bottom:-40px;}
	
	.bodyText_row a:hover{color:#ff8a00; text-decoration:underline;}
	.bodyText_row:nth-child(4){ margin-right:0px; }
	.bodyText_row:nth-child(8){ margin-right:0px; }
	.bodyText_row:nth-child(12){ margin-right:0px; }
	.bodyText_row:nth-child(16){ margin-right:0px; }
	.bodyText_row:nth-child(20){ margin-right:0px; }
	.puppies-space{    padding: 10px 15px 0px 15px; font-size:13px;}
	.puppies-show-text{    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
    font-size: 13px;}
	