@charset "utf-8";
#rcBreedbox{text-align: center;background-color: #CCC;text-decoration: none;font-weight: bold;margin: 2px;padding: 2px;}
#rcBreedbox a:Hover{text-align: center;background-color: #F00;text-decoration: none;color: #FFF;font-weight: bold;display: block;}
#diduknow{font-size: 60px;font-weight: bold;color: #F00;vertical-align: top;margin-top: -10px;}