/* CSS Document */
body{ font-family:Arial, Helvetica, sans-serif;}
.hlp_box , .hlp_box1{

border:0px solid #bfbfbf;
}
.hlp_box{ width:622px; float:left; background:#fff; padding:22px 30px; position:relative; top:150px;}
.top_mar_pr{position:relative; top:150px;}
.hlp_box h2{ color:#b2da1d; font-size:33px; margin:0px 0 5px 0; padding:0px;}
.hlp_box p{margin:0px 0 5px 0; padding:0px; float:left;width: 100%;text-align: left;}
.btn_box{ float:left; margin:10px 0px;width: 100%;
text-align: left;}
.btn_box span.yes_box{ float:left; margin-right:10px;}
.dog_img_box {float: left;position: absolute;top:19px;right:150px;}
.btn_box a{ text-decoration:none;}
.btn_box a:hover{ text-decoration:none;}
/* not logged in */
.hlp_box1{ width:682px;  float:left; background:#fff;}
/*.pop_box1 {
top: 50%;
background: #fff;
position: absolute;
margin-top: -100px;
}
*/.hlp_head{background:#b2da1d; border-bottom:1px solid #000; float:left; width:100%;}
.hlp_head span.cls_hlp{ float:right; margin:10px;}
.hlp_box1 h2{ color:#fff; float:left; margin:0px; font-size: 18px;padding: 10px 20px;}
.hlp_detail{ float:left; padding:10px 20px;}
.hlp_detail ul{ float:left; padding:0px;margin: 0px;}
.hlp_detail ul.box_dog_breed_pr{height: 234px;overflow-y: auto;width: 654px;}
.hlp_detail ul li{ float:left; padding:0px; margin-right:20px; list-style:none;text-align: left;}
.hlp_detail ul li p {font-size: 16px;margin: 10px 0;}
.hlp_detail ul li input[type=text]{ width:160px; border-radius:5px; border:1px solid #bfbfbf; padding:5px;}
.hlp_detail ul li select{ width:160px; border-radius:5px; float:left; border:1px solid #bfbfbf; margin-right:10px; padding:5px;}
select#dogbreed1{width: 250px;
margin-right: 2px;}

/*not registered */
.email_ad_box{ background:#dbdbdb; float:left;border-radius: 5px; width:97%; padding:10px;}
.email_ad_box label{ float:left; font-size:12px;padding:7px 4px; }
.email_ad_box input{ float:left; margin-left:10px; border-radius:5px; width:200px;padding: 4px;border: 1px solid #999;}

/*Select Breed*/
.hlp_detail li.breed_li{ float:left;width: 168px;margin: 10px 22px; }
.hlp_detail li.breed_li .breed_select{border:2px solid #ccc;}
.hlp_detail li.breed_li .breed_select h3{ background:#ccc;margin: 0px;padding: 7px;font-size: 13px; text-align:center;height: 21px;
overflow: hidden; color: #FFFFFF;}
.name_of_dog {background: #eee;border-radius: 3px;padding: 5px;font-size: 12px;border: 1px solid #bfbfbf;width: 157px; float:left;}
.name_of_dog input{ float:left;margin: 0px 5px;}
.name_of_dog label{ float:left;}
.shop_more>a{color:#403e3f; text-decoration:underline;}
.shop_more>a:hover{ text-decoration:none;}
.shop_more {float: left;width:641px;padding: 10px 0px 20px 41px;border-bottom: 1px solid #bfbfbf;margin-left: -20px;text-align: left;}
.btn_box1{ float:left;margin: 20px 0px 10px 0px;width: 100%;text-align: left;}
.btn_box2{ float:left; margin:10px 0px;width: 100%;text-align: left;}
.btn_box2 p{ font-size:12px; margin:5px 0;text-align: left;}
.name_of_dog .arw_ryt{ float:right;margin-top: 4px;}
.txt_pro_rec p {float: left;width: 368px;text-align: left;}
.ryt_txt_pr {float: right;}
.ryt_txt_pr span{ font-size:26px;margin-right: 35px;color: #444;}
.pop_pr_box{ width:682px; display:table; height:500px}