@charset "utf-8";
/* CSS Document */

.buttonwrapper{ /* Container you can use to surround a CSS button to clear float */overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */width: 100%;}

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

a.ovalbutton{background: transparent url('/images/oval-blue-left.gif') no-repeat top left;display: block;float: left;font: normal 13px Tahoma; /* Change 13px as desired */line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */height: 24px; /* Height of button background height */padding-left: 11px; /* Width of left menu image */text-decoration: none;}

a:link.ovalbutton, a:visited.ovalbutton, a:active.ovalbutton{color: #494949; /*button text color*/}

a.ovalbutton span{background: transparent url('/images/oval-blue-right.gif') no-repeat top right;display: block;padding: 4px 11px 4px 0; /*Set 11px below to match value of 'padding-left' value above*/}

a.ovalbutton:hover{ /* Hover state CSS */background-position: bottom left;}

a.ovalbutton:hover span{ /* Hover state CSS */background-position: bottom right;color: black;}