.showPages{font-family: "Courier New", Courier, monospace;font-weight: bold;text-align: center;color: #7c9d01;font-weight: bold;	padding-top: 10px;padding-bottom: 10px;}
.showPages a{border: 1px solid #7c9d01;color: #666;font-weight: bold;font-size: 14px;text-decoration: none;padding-top: 4px;padding-right: 6px;padding-bottom: 2px;padding-left: 6px;margin-right: 2px;margin-left: 2px;font-family: "Courier New", Courier, monospace;background: url(images/pg-but-bg-2.gif) repeat-x transparent;margin-top: 4px;margin-bottom: 4px;}
.showPages a:Hover{border: 1px solid #7c9d01;color: #7c9d01;font-weight: bold;font-size: 14px;text-decoration: none;padding-top: 4px;	padding-right: 6px;padding-bottom: 2px;padding-left: 6px;margin-right: 2px;margin-left: 2px;font-family: "Courier New", Courier, monospace;background-position: bottom;margin-top: 4px;margin-bottom: 4px;}
.showPages span{border: 1px solid #7c9d01;background-color: #A8D101;color: #FFFFFF;font-weight: bold;padding-top: 4px;padding-right: 6px;padding-bottom: 2px;padding-left: 6px;margin-right: 2px;margin-left: 2px;}