.jcarousel-skin-tango .jcarousel-direction-rtl {direction: rtl;}
.jcarousel-skin-tango .jcarousel-container-horizontal {width: 638px;padding:10px 30px;}
.jcarousel-skin-tango .jcarousel-clip {overflow: hidden;}
.jcarousel-skin-tango .jcarousel-clip-horizontal {width: 638px;height: 100px;}
.jcarousel-skin-tango .jcarousel-item {width: 150px;height: 100px;}
.jcarousel-skin-tango .jcarousel-item-horizontal {margin-left: 0;margin-right:12px;}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {margin-left:10px;margin-right: 0;}
.jcarousel-skin-tango .jcarousel-item-placeholder {background: #fff;color: #000;}
/*Horizontal Buttons*/
.jcarousel-skin-tango .jcarousel-next-horizontal {position: absolute;top: 40px;right: 0;width: 30px;height: 40px;cursor: pointer;background: transparent url(/new/pix/next-horizontal.png) no-repeat 0 0;}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {left: 5px;right: auto;background-image: url(/new/pix/prev-horizontal.png);}
.jcarousel-skin-tango .jcarousel-next-horizontal:hover,.jcarousel-skin-tango .jcarousel-next-horizontal:focus {background-position: -50px 0;}
.jcarousel-skin-tango .jcarousel-next-horizontal:active {background-position: -100px 0;}
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {cursor: default;background-position: -150px 0;}
.jcarousel-skin-tango .jcarousel-prev-horizontal {position: absolute;top: 40px;left: 0;width: 30px;height: 40px;cursor: pointer;background: transparent url(/new/pix/prev-horizontal.png) no-repeat 0 0;}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {left: auto;right: 5px;background-image: url(/new/pix/next-horizontal.png);}
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover,.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {background-position: -50px 0;}
.jcarousel-skin-tango .jcarousel-prev-horizontal:active {background-position: -100px 0;}
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {cursor: default;background-position: -150px 0;}