.banner-size-1, .banner-size-3, .banner-size-4, .banner-size-13, .banner-size-18{background:#999; }
 /* class for main border */ 
.banner-size-4{width:297px; }  /* class for main container */
.products{position:absolute;left:auto;right:1px;top:auto;bottom:1px;}
.banner-size-4 .products{width:295px;height:600px;left:1px;} /* class for inner container */
.banner-item-size-22, .banner-item-size-23, .banner-item-size-24, .banner-item-size-25, .banner-item-size-26{background:#fff;margin:1px 0 0 1px;top:3px; }

.banner-size-4 .banner-item-size-25{width:142px; height:148px; margin:1px 0 0 1px; left:2px;}
/* class for product container */

.banner-size-4 .metadata-price, .banner-size-4 .metadata-sale-price{font-size:12px;border-radius:5px;width:124px;height:25px;padding-top:100px;top:0;right:9px;background: url(/new/pix/bg-transparent.png) repeat;line-height:20px;color:#000;z-index:3; }/* class for transparent bg */
.banner-size-4 .metadata-sale-icon, .banner-size-4 .metadata-new-icon{width:141px;height:30px;top:90px;}
/* class for visible buy now */
.banner-size-4 .metadata-sale-icon{font-size:11px; line-height:12px;top:118px;}
/* class for visible text */
.banner-size-5{width:638px;height:155px; }    /* class for main container */
.banner-size-5 .products{width:636px;height:153px;left:1px;} /* class for inner container */
.banner-size-5 .banner-item-size-26{width:113px;height:148px;margin:1px 0 0 6px; left:1px;/*border:#999 1px solid;*/}
/* class for product container */
.banner-size-5 .metadata-manufacturer{display:none !important; }
.banner-size-5 .metadata-price, .banner-size-5 .metadata-sale-price{font-size:12px;border-radius:5px;width:95px;height:25px;padding-top:100px;top:0;right:9px;background: url(/new/pix/bg-transparent.png) repeat;line-height:20px;color:#000;z-index:3; }   /* class for transparent bg */
.banner-size-5 .metadata-old-price{font-size:8px;line-height:9px; bottom:40px; }
.banner-size-5 .metadata-sale-icon, .banner-size-5 .metadata-new-icon{width:112px;height:30px;top:90px;}
/* class for visible buy now */
.banner-size-5 .metadata-sale-icon{font-size:11px; line-height:20px;top:118px;}
/* class for visible text */
.banner-size-5 .metadata-c2a.banner-item-size-22:hover .metadata-sale-icon,{background-position:-98px 0; height:54px; }

/* BANNER ITEM HOVER RULES                                                    */
.banner-item-size-22:hover *, .banner-item-size-23:hover *, 
.banner-item-size-24:hover *, .banner-item-size-25:hover *, 
.banner-item-size-26:hover *{display:block; }

.banner-item-size-22:hover .metadata-new-icon, 
.banner-item-size-23:hover .metadata-sale-icon, 
.banner-item-size-23:hover .metadata-new-icon, 
.banner-item-size-24:hover .metadata-sale-icon, 
.banner-item-size-24:hover .metadata-new-icon, 
.banner-item-size-25:hover .metadata-sale-icon, 
.banner-item-size-25:hover .metadata-new-icon, 
.banner-item-size-26:hover .metadata-sale-icon, 
.banner-item-size-26:hover .metadata-new-icon{display:none !important; }

/* BANNER ITEM IMAGE RULES                                                    */
.banner-item-image{background-color:#fff; width:100%;height:100%;left:0; top:-30px; z-index:1;}
.banner-item-image img{display:none !important; }

/* BANNER METADATA RULES                                                      */
.metadata-manufacturer, .metadata-price, .metadata-old-price, 
.metadata-sale-price, .metadata-sale-icon, .metadata-new-icon, .metadata-c2a{display:none;color:#fff;font:bold 10px/12px Arial, Verdana, sans-serif;text-align:center;width:100%;height:13px;margin:0;padding:0;position:absolute;left:auto;right:0;top:auto;bottom:0; overflow:hidden;z-index:5;}
.metadata-manufacturer{color:#000;font-weight:normal;text-transform:uppercase;width:92px;left:3px;bottom:50px;}
.metadata-price, .metadata-sale-price{color:#fff;font-size:14px;top:50px;}
.metadata-sale-price{bottom:27px;}
.metadata-old-price{color:#404040;font-size:9px;line-height:10px;text-decoration:line-through;height:10px;bottom:41px;}
.metadata-sale-icon, .metadata-new-icon{display:block;color:#000;font-size:18px;line-height:19px;width:46px;height:19px;left:1px;top: 0; z-index:3; }
.metadata-new-icon{background-position:-47px -67px;font-size:10px; z-index:2;}
.metadata-sale-icon{background-position:-47px -67px; z-index:2; top:100px; color:#000;font-size:18px;}
.metadata-c2a{z-index:4;color:#000;left:9px;top:120px;}/* class for buy now button */
.metadata-title, .metadata-text{display:none !important;}
.banner-size-3 .metadata-manufacturer{width:91px; }
.banner-size-3 .metadata-c2a{background-position:-287px 0; height:65px; }

/* BANNER SIZE 4 METADATA RULES                                               */
.banner-size-4 .metadata-manufacturer{display:none !important; }
.banner-size-4 .metadata-sale-price{bottom:28px;}
.banner-size-4 .metadata-old-price{font-size:8px;line-height:9px;bottom:40px;}
.banner-size-4 .metadata-c2a{background-position:-98px 0;height:54px;}
/* BANNER SIZE 13 METADATA RULES                                              */
.banner-size-13 .metadata-manufacturer{display:none !important; }
.banner-size-13 .metadata-price, .banner-size-13 .metadata-sale-price{font-size:9px;line-height:10px;height:11px;bottom:33px;}
.banner-size-13 .metadata-sale-price{bottom:28px;}
.banner-size-13 .metadata-old-price{font-size:8px;line-height:9px;bottom:60px;}
.banner-size-13 .metadata-sale-icon, .banner-size-13 .metadata-new-icon{background-position:-133px -67px;width:38px;height:17px;}
.banner-size-13 .metadata-sale-icon{background-position:-94px -67px;font-size:10px;line-height:17px;}
.banner-size-13 .metadata-c2a{background-position:-383px 0;height:56px;}

/* BANNER SIZE 18 METADATA RULES                                              */
.banner-size-18 .metadata-manufacturer{width:108px;left:2px;}
.banner-size-18 .metadata-c2a{background-position:-174px 0;height:65px; }

/* CSS FULLY LOADED BEACON USED BY JS TIMEOUT TO DETERMINE WHEN CSS IS LOADED */
.css-fully-loaded{font-family:Loaded;}