/* ========================================================================== */
/*                                                                            */
/* DEFAULT AP CSS STYLE SHEET FOR SOCIOMANTIC SONAR AD BANNERS                */
/*                                                                            */
/* ========================================================================== */
/*                                                                            */
/* DEFAULT BODY RULES (NORMALIZES BANNER IFRAME)                              */
/*                                                                            */
/* ========================================================================== */

body { width: 100%; height: 100%; margin: 0; padding: 0; }
img  { border: 0 none transparent; }



/* ========================================================================== */
/*                                                                            */
/* DEFAULT BANNER RULES                                                       */
/*                                                                            */
/* ========================================================================== */

.banner-size-1, .banner-size-2, .banner-size-3, .banner-size-4, .banner-size-5,
.banner-size-6, .banner-size-7, .banner-size-8, .banner-size-9, .banner-size-10,
.banner-size-11, .banner-size-12, .banner-size-13, .banner-size-14,
.banner-size-15, .banner-size-16, .banner-size-17, .banner-size-18,
.banner-size-19, .banner-size-20, .banner-size-21
{
    background:             #FFF;
    border:                 0 none transparent !important;
    margin:                 0;
    padding:                0;
    position:               relative;
    overflow:               hidden;
}

.banner-size-1  { width: 299px; height: 250px;  }
.banner-size-2  { width: 180px; height: 150px;  }
.banner-size-3  { width: 728px; height: 90px;   }
.banner-size-4  { width: 160px; height: 600px;  }
.banner-size-5  { width: 300px; height: 600px;  }
.banner-size-6  { width: 120px; height: 60px;   }
.banner-size-7  { width: 88px;  height: 31px;   }
.banner-size-8  { width: 250px; height: 250px;  }
.banner-size-9  { width: 240px; height: 400px;  }
.banner-size-10 { width: 336px; height: 280px;  }
.banner-size-11 { width: 300px; height: 100px;  }
.banner-size-12 { width: 720px; height: 300px;  }
.banner-size-13 { width: 468px; height: 60px;   }
.banner-size-14 { width: 234px; height: 60px;   }
.banner-size-15 { width: 120px; height: 90px;   }
.banner-size-16 { width: 120px; height: 240px;  }
.banner-size-17 { width: 125px; height: 125px;  }
.banner-size-18 { width: 120px; height: 600px;  }
.banner-size-19 { width: 88px;  height: 88px;   }
.banner-size-21 { width: 786px !important; height: 313px !important;  background: #DDD; }



/* ========================================================================== */
/*                                                                            */
/* DEFAULT BANNER PRODUCTS CONTAINER RULES                                    */
/*                                                                            */
/* ========================================================================== */

.product-banner
{
    background:             #ddd;
}

.products
{
    background:             #fff;
    display:                block;
    position:               relative;
    top:                    1px;
    left:                   1px;
    overflow:               hidden;
}

.banner-size-1 .products    { width: 297px; height: 200px;  }
.banner-size-2 .products    { width: 178px; height: 101px;  }
.banner-size-3 .products    { width: 575px; height: 88px;   }
.banner-size-4 .products    { width: 158px; height: 540px;  }
.banner-size-5 .products    { width: 298px; height: 544px;  }
.banner-size-6 .products    { width: 118px; height: 58px;   }   /* NEEDS TO BE ARRANGED FOR NEW LOGO SPACE */
.banner-size-7 .products    { width: 86px;  height: 29px;   }   /* NEEDS TO BE ARRANGED FOR NEW LOGO SPACE */
.banner-size-8 .products    { width: 248px; height: 200px;  }
.banner-size-9 .products    { width: 238px; height: 342px;  }
.banner-size-10 .products   { width: 334px; height: 228px;  }
.banner-size-11 .products   { width: 180px; height: 98px;   }
.banner-size-12 .products   { width: 718px; height: 250px;  }
.banner-size-13 .products   { width: 360px; height: 58px;   }
.banner-size-14 .products   { width: 114px; height: 58px;   }
.banner-size-15 .products   { width: 118px; height: 88px;   }   /* NEEDS TO BE ARRANGED FOR NEW LOGO SPACE */
.banner-size-16 .products   { width: 118px; height: 188px;  }
.banner-size-17 .products   { width: 123px; height: 123px;  }   /* NEEDS TO BE ARRANGED FOR NEW LOGO SPACE */
.banner-size-18 .products   { width: 118px; height: 540px;  }
.banner-size-19 .products   { width: 86px;  height: 86px;   }   /* NEEDS TO BE ARRANGED FOR NEW LOGO SPACE */
.banner-size-21 .products   { width: 784px; height: 311px;  background: #DDD; }



/* ========================================================================== */
/*                                                                            */
/* DEFAULT BANNER LINK RULES                                                  */
/*                                                                            */
/* ========================================================================== */

.banner-size-1 a, .banner-size-2 a, .banner-size-3 a, .banner-size-4 a,
.banner-size-5 a, .banner-size-6 a, .banner-size-7 a, .banner-size-8 a,
.banner-size-9 a, .banner-size-10 a, .banner-size-11 a, .banner-size-12 a,
.banner-size-13 a, .banner-size-14 a, .banner-size-15 a, .banner-size-16 a,
.banner-size-17 a, .banner-size-18 a, .banner-size-19 a
{
    color:                  #333;
    cursor:                 pointer;
    text-decoration:        none;
}

.banner-size-1 a:link, .banner-size-2 a:link, .banner-size-3 a:link,
.banner-size-4 a:link, .banner-size-5 a:link, .banner-size-6 a:link,
.banner-size-7 a:link, .banner-size-8 a:link, .banner-size-9 a:link,
.banner-size-10 a:link, .banner-size-11 a:link, .banner-size-12 a:link,
.banner-size-13 a:link, .banner-size-14 a:link, .banner-size-15 a:link,
.banner-size-16 a:link, .banner-size-17 a:link, .banner-size-18 a:link,
.banner-size-19 a:link
{
    font-family:            nohover;
}

.banner-size-1 a:hover, .banner-size-2 a:hover, .banner-size-3 a:hover,
.banner-size-4 a:hover, .banner-size-5 a:hover, .banner-size-6 a:hover,
.banner-size-7 a:hover, .banner-size-8 a:hover, .banner-size-9 a:hover,
.banner-size-10 a:hover, .banner-size-11 a:hover, .banner-size-12 a:hover,
.banner-size-13 a:hover, .banner-size-14 a:hover, .banner-size-15 a:hover,
.banner-size-16 a:hover, .banner-size-17 a:hover, .banner-size-18 a:hover,
.banner-size-19 a:hover
{
    font-family:            hover;
}



/* ========================================================================== */
/*                                                                            */
/* DEFAULT BANNER ITEM RULES                                                  */
/*                                                                            */
/* ========================================================================== */

.banner-item-size-1,  .banner-item-size-2,  .banner-item-size-3,
.banner-item-size-4,  .banner-item-size-5,  .banner-item-size-6,
.banner-item-size-7,  .banner-item-size-8,  .banner-item-size-9,
.banner-item-size-10, .banner-item-size-11, .banner-item-size-12,
.banner-item-size-13, .banner-item-size-14, .banner-item-size-15,
.banner-item-size-16, .banner-item-size-17, .banner-item-size-18,
.banner-item-size-19, .banner-item-size-20, .banner-item-size-21,
.banner-item-size-22, .banner-item-size-23, .banner-item-size-24,
.banner-item-size-25, .banner-item-size-26, .banner-item-size-33,
.banner-item-size-34
{
    background:             #fff;
    border:                 0 none transparent;
    display:                inline;
    float:                  left;
    margin:                 0;
    padding:                0;
    position:               relative;
    overflow:               hidden;
    vertical-align:         middle;
    text-align:             center;
}

.banner-item-size-1     { width: 300px; height: 250px;  }
.banner-item-size-2     { width: 180px; height: 150px;  }
.banner-item-size-3     { width: 728px; height: 90px;   }
.banner-item-size-4     { width: 160px; height: 600px;  }
.banner-item-size-5     { width: 300px; height: 600px;  }
.banner-item-size-6     { width: 120px; height: 60px;   }
.banner-item-size-7     { width: 88px;  height: 31px;   }
.banner-item-size-8     { width: 250px; height: 250px;  }
.banner-item-size-9     { width: 240px; height: 400px;  }
.banner-item-size-10    { width: 336px; height: 280px;  }
.banner-item-size-11    { width: 300px; height: 100px;  }
.banner-item-size-12    { width: 720px; height: 300px;  }
.banner-item-size-13    { width: 468px; height: 60px;   }
.banner-item-size-14    { width: 234px; height: 60px;   }
.banner-item-size-15    { width: 120px; height: 90px;   }
.banner-item-size-16    { width: 120px; height: 240px;  }
.banner-item-size-17    { width: 125px; height: 125px;  }
.banner-item-size-18    { width: 120px; height: 600px;  }
.banner-item-size-19    { width: 88px;  height: 88px;   }
.banner-item-size-20    { width: 194px; height: 323px;  }
.banner-item-size-22    { width: 100px; height: 80px;   }
.banner-item-size-23    { width: 90px;  height: 90px;   }
.banner-item-size-24    { width: 60px;  height: 50px;   }



/* ========================================================================== */
/*                                                                            */
/* BASIC BANNER ITEM IMAGE RULES                                              */
/*                                                                            */
/* ========================================================================== */

.banner-item-image
{
    background-color:       transparent;
    background-position:    center;
    background-repeat:      no-repeat;
    border:                 0 none transparent;
    display:                block;
    position:               absolute;
    top:                    0;
    left:                   0;
    width:                  100%;
    height:                 100%;
    margin:                 0;
    vertical-align:         middle;
    text-align:             center;
}

.banner-item-image img
{
    display:                none;
}



/* ========================================================================== */
/*                                                                            */
/* BASIC BANNER LOGO RULES                                                    */
/*                                                                            */
/* ========================================================================== */

/*.logo
{
    background-color:       #FFF;
    background-position:    center;
    background-repeat:      no-repeat;
    display:                block;
    position:               absolute;
    bottom:                 1px;
    right:                  1px;
    margin:                 0;
    padding:                0;
}
*/
.banner-size-1 .logo    { width: 297px; height: 48px;   }
.banner-size-2 .logo    { width: 178px; height: 47px;   }
.banner-size-3 .logo    { width: 151px; height: 88px;   }
.banner-size-4 .logo    { width: 158px; height: 58px;   }
.banner-size-5 .logo    { width: 298px; height: 54px;   }
.banner-size-6 .logo    { width: 0;     height: 0;      }
.banner-size-7 .logo    { width: 0;     height: 0;      }
.banner-size-8 .logo    { width: 248px; height: 48px;   }
.banner-size-9 .logo    { width: 238px; height: 56px;   }
.banner-size-10 .logo   { width: 334px; height: 50px;   }
.banner-size-11 .logo   { width: 118px; height: 98px;   }
.banner-size-12 .logo   { width: 718px; height: 48px;   }
.banner-size-13 .logo   { width: 106px; height: 58px;   }
.banner-size-14 .logo   { width: 118px; height: 58px;   }
.banner-size-15 .logo   { width: 178px; height: 50px;   }
.banner-size-16 .logo   { width: 118px; height: 50px;   }
.banner-size-17 .logo   { width: 0;     height: 0;      }
.banner-size-18 .logo   { width: 118px; height: 58px;   }
.banner-size-19 .logo   { width: 0;     height: 0;      }
.banner-size-21 .logo   { width: 0;     height: 0;  display: none;  }



/* ========================================================================== */
/*                                                                            */
/* BASIC PRIVACY-I RULES                                                      */
/*                                                                            */
/* ========================================================================== */

.sonar-privacy-i
{
    background:             url(/privacy-i.png) no-repeat -61px bottom;
    position:               absolute;
    display:                block !important;
    bottom:                 1px;
    right:                  1px;
    width:                  16px;
    height:                 15px;
    z-index:                1000;
}

.sonar-privacy-i:hover
{
    background-position:    0 bottom;
    width:                  77px;
}