body {font-family:Arial, Helvetica, sans-serif;margin:0;padding:0;}
#puppiesContainer{margin:auto;width:655px;}
.puppiesContainer_header{border-top-left-radius:7px;border-top-right-radius:7px;background-color:#ddd;padding:10px;overflow:auto;}
.headerText_container{font-size:14px;font-weight:bold;color:#333;float:left;display:block;}
.image{width:110px;margin-right:10px;}
.details{width:180px;margin-right:10px;}
.breed{width:120px;margin-right:10px;}
.age{width:95px;margin-right:10px;}
.location{width:75px;}
.puppiesContainer_body{border-bottom-left-radius:7px;border-bottom-right-radius:7px;border:1px solid #ddd;background-color:#eee;overflow:auto;}
.bodyText_row{overflow:auto;margin:10px;}
.bodyText_container{font-size:12px;color:#333;float:left;display:block;}
.bodyText_container a{text-decoration:none;color:#000;}
.bodyText_container span{font-weight:bold;}
.line{border-bottom:1px solid #fff;margin-bottom:10px;}