.category-slider ul li{ width:310px !important; float:left; padding:0px 8px; }

.category-slider ul li:first-child{ margin-left:0px;}
.banner-cat { width:310px; float:left; border:1px solid #f4f4f4; overflow:hidden; }
.category-slider ul{list-style:none; width:972px; float:left; margin-top:20px;  clear:both;}
.category-slider {margin-top: 15px;
	border-radius: 10px;
	background-color: #fff;
	float: left;
	
	position: relative;
	visibility: hidden;
	left: -5000px;
	width: 972px !important;
	height: 180px;
	font-family: lato, snans-serif;}
#jcl-demo .carousel {
	margin-top: 15px;
	border-radius: 10px;
	background-color: #fff;
	float: left;
	padding-left: 10px;
	position: relative;
	visibility: hidden;
	left: -5000px;
	width: 950px !important;
	height: 290px;
	font-family: lato, snans-serif;
}
#jcl-demo .carousel>ul>li>img {
	width: 220px;
	height: 207px;
	vertical-align: middle;
	margin: 10px 10px 10px 0;
	border-radius: 5px;
}
.product-slider-link a {
	text-decoration: none;
	font-size: 14px;
	color: #444;
	font-family: lato, sans-serif;
	letter-spacing: 0.6px;
}
.p-slide-img img {
	width: 215px;
	height: 204px;
}
.p-slide-cat:hover .p-s-cat {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.p-s-cat {
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

.p-slide-img:hover .p-s-image {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.p-s-image {
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

.carousel ul li {
	width: 225px !important;
	height: 285px !important;
	padding: 0px 3.7px;
	font-family: lato, sans-serif;
	letter-spacing: 0.5px;
	font-size: 14px;
	text-align: center;
}
.product-slider-link {
	padding: 10px 0px;
	text-align: left;
	line-height: 20px;
}
.product-price-s {
	padding-bottom: 10px;
	text-align: left;
}
.product-price-s .p-d-price {
	font-size: 14px;
	color: #999;
	margin-right: 13px;
}
.product-price-s .p-d-off {
	color: #ff7a22;
}
.p-ds-off {
	color: #444;
	margin-right: 13px;
}
#jcl-demo a.prev {
	line-height: 1;
	color: #888;
	text-decoration: none;
	font-family: lato, sans-serif;
	margin-left: 6px;
	float: left;
}
#jcl-demo a.go.highlight {
	background-color: #dedede;
	color: #000;
}
#jcl-demo a.prev {
	margin-left: 130px;
	margin-right: 5px;
}
#jcl-demo a.next {
}
#jcl-demo a.prev:hover, #jcl-demo a.next:hover, #jcl-demo a.go:hover {
	background-color: #666666;
}
#jcl-demo .widget img {
	cursor: pointer;
}
#jcl-demo .mid {
	margin-left: 50px;
	width: 400px;
	height: 300px;
}
#jcl-demo .vertical {
	margin-left: 170px;
}
.clear {
	clear: both;
}
.mixedContent {/*border-radius: 2px;*/
	/*box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);*/
	margin-top: 10px;
	padding-bottom: 20px;/*border: 1px solid #f9f9f9;*/
}
.cateogry-cont{ padding-bottom:0px !important;margin-top: 25px;}
.p-text-l {
	float: left;
	width: 800px;
	/*padding: 0px 15px;*/
	font-size: 18px;
	font-weight: bold;
	font-family: lato, sa;
	text-transform: uppercase;
	letter-spacing: 0.6px;
	color: #555;
}
.p-text-h {
	float: left;
	width: 100%;
	border-bottom: 1px solid #f9f9f9;
	padding: 15px 0px;
}
.p-text-arrow {
	float: left;
	width: 172px;
}
#jcl-demo {
	float: left;
	width: 100%;
}
.rotate-icon {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(18deg);
	-ms-transform: rotate(18deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.banner-cat-t{    position: absolute;
    margin-left: 20px;
    font-size: 18px;
    margin-top: 66px;
    text-transform: uppercase;}
	.banner-cat-t strong{ display:block;}
	.banner-cat-t span{ color:#f00;}
