.container {margin:auto;padding:0; width:100%;}
.container ul{margin: 10px;padding: 10px;}
.container li{padding: 3px;margin-left:3px;list-style-type: circle;}
.container img {margin:auto;padding-right:10px;float:left;}
.wrap {position: relative;overflow: hidden;}
.gradient {width: 100%;height: 35px;background: url(images/bg-gradient.png) repeat-x;position: absolute;bottom: 0;left: 0;}
.read-more {background: #fff;font-family:Arial, Helvetica, sans-serif;font-size:11px;float:right;position:relative;left:0px;}
.read-more a {color: #666;text-decoration: none;}
.read-more a:hover {color: #999;}
.filterContainer{ float:left; width: 232px !important;}
.filterContainer_wrapper{ border:none !important; padding:0px !important; border-radius:0px!important; }
.filterCategory {background: #fff!important; margin-bottom: 10px !important;width: 235px!important;max-height: 200px!important;overflow:auto!important; margin-top: 10px!important; float: left!important; padding:0px !important;}
.ds_productlist_filterby{font-size: 16px;color: #fff;font-weight: normal; Color: #555; padding-top: 5px;text-transform: uppercase;font-family: Arial;float: left; width: 160px;}
.ds_plist_recetall{float: left; margin-top: 5px; margin-left: 10px;color: #555; font-size: 13px;}
.ds_plist_categoryname{color: #555;text-transform: uppercase;  text-align: left;    font-size: 14px; margin-bottom: 5px; background: #f0f0f0; width: 225px; float: left;padding-left: 10px;padding-top: 3px;padding-bottom: 3px; margin-top:10px;}
.ds_cat_heading{text-transform: uppercase;font-weight:bold;font-size: 17px;font-family: arial;color: #555;}
.filterCategoryList{padding: 8px 0px 8px 25px;}
.filterCategoryList a{text-decoration:none; color:#555; font-size:14px;}
.catpage_catenamebox{margin-top: 5px;margin-bottom: 27px; text-transform:uppercase;float: left;width: 100%; font-family:Arial, Helvetica, sans-serif;}
.catpage_catname{text-decoration: none;font-family:Arial, Helvetica, sans-serif;font-size: 17px;font-weight:bold;color: #555;}
.cat_viewallproduct{font-size: 11px; text-decoration:none; color: #fff;background: #aaa; font-weight:bold; padding: 5px;padding-left: 10px;padding-right: 10px;margin-left: 10px; float:right;}
.results{ font-weight:normal!!important; font: 14px arial!important;}
ul.category{ width:162px !important;}
ul.category li{ margin-left:15px;}
ul.category li a{display: block;margin-bottom: 8px; font-size: 14px; font-family: arial !important;color: #555!important;}
.displayContainer h1{text-transform: uppercase;font-weight: bold;font-size: 17px;font-family: Arial;color: #555;}
.mrtop0{ margin-top:0px !important;}
ul.slide li{border:none!!important;}
.ds_search_cont{margin-bottom: 5px;float: left;width: 100%;text-align: right;margin-top: 15px;}
.browse_more_btn{ background: none repeat scroll 0% 0% #AAA;padding: 6px 12px;font-size: 13px;text-decoration: none;color: #FFF;margin-left: 10px;text-transform: uppercase;font-weight: bold;
font-family: arial;}
.browse_more_btn:hover{ text-decoration:none; color:#fff;}
.ds_releted_art{font-weight: bold;font-size: 17px;font-family: Arial;color: #888;margin-bottom: 20px;padding-bottom: 5px;}
ul.slide li h3{  font:14px Arial!important;color: #555!important;margin-bottom: 5px; text-align: left!important;}
ul.slide li h3 a{font:14px Arial!important;color:#555!important;margin-bottom: 5px; text-align:left!important;}
.be_counter_box {float: left;width: 250px;margin-left: 276px;margin-top: 20px;}
.be_counter_box h2 {float: left;font-size: 20px;margin-left:4px;color: #333;}
.gosf_countBox {float: left;padding: 4px;}
.gosf_count {float: left;padding: 10px;margin: 5px 10px;background: #4E4E4E;color: #fff;border-radius: 4px;box-shadow: 0px 0px 24px 0px #000 inset;}
.be_count_txt {float: left;padding: 0 11px;}
.be_count_txt span {float: left;margin-right: 18px;font-size: 13px;}
.imgtxtcont{float:left; width:100%; border-bottom:1px solid #ddd !important;}
.breadcrumb a { font-size:13px !important; text-decoration:none;}
.breadcrumb{background:#fff !important; font-family:Arial, Helvetica, sans-serif;}
.breadcrumb_cont{float:left; width:100%; color: #666; font-size:13px; word-spacing:2px; margin-top:5px;}
.breadcrumb_cont span{ color:#333;}
.breadcrumb_cont span a:hover{ color:#668000; font-size:13px;}
.brd_font_bold{ font-weight:bold;}
.ds_buy_now_cont,.ds_notify_btn_cont{ width:100%; float:left; margin-top:5px;}
.ds_buy_now_btn{background: none repeat scroll 0% 0% #FF6709;color: #FFF!important; display:inline !important;font-size: 14px;padding: 5px 12px;border-radius: 3px;text-transform: uppercase;font-family: arial;   cursor: pointer;}
.ds_notify_btn{background: none repeat scroll 0% 0% #0B59A1;color: #FFF!important;padding: 6px 10px;text-transform: uppercase;display: inline;border-radius: 3px;
display:inline!important;   cursor: pointer;}
.ds_buy_now_btn:hover{ text-decoration:none; color:#fff!important;}
.ds_notify_btn:hover{ text-decoration:none; color:#fff!important;}
.qna-user-img-sec{width: 77px !important;}
.qna-question-sec .recent-question a{font: bolder 12px Arial,Helvetica,sans-serif !important; color: #46433D !important; text-decoration: none;}
.qna-question-sec .recent-question a:hover{font: bolder 12px Arial,Helvetica,sans-serif !important; color: #46433D !important; text-decoration: none;}
.qna-description a{font-size:12px !important;}
.qna-description a:hover{font-size:12px !important;}
.qna-question-sec .qna-description { font-size:12px !important; font-family:Arial, Helvetica, sans-serif;}
.productContainer{border-right:0px !important; width: 202px !important;}
.ds_drydogfood{font: 14px Arial!important;margin-bottom: 5px;   text-align: left !important}
.ds_drydogfood a{font: 14px Arial!important;color: #555; margin-bottom: 5px;text-align: center;}
.productContainer_row{ border-bottom:0px!important; margin-bottom:20px !important; font-family:Arial, Helvetica, sans-serif !important; margin-left:20px !important;}
.rateContainer{width:202px !important;}
.productPrice{width:202px !important;}
.priece_precent_div{ width:100%; float:left; font-size:12px;}
.price_precent_m {margin-left: 5px;}
.priece_precent_box{background: #f00;font-size: 11px;color: #fff;padding: 2px;margin-left: 5px;border-radius: 3px;}
.no-more-results, .lazyload_loding {background: #f1f1f1;min-height: 25px;line-height: 32px;margin: 20px 0;display: none;border-radius: 2px;color: #555;  text-align: center; float:left; width:716px; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold;  }
.no-more-resultsbrand, .lazyload_lodingbrand {background: #f1f1f1;min-height: 25px;line-height: 32px;margin: 20px 0;display: none;border-radius: 2px;color: #555;  text-align: center; float:left; width:100%; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; }
.gif_image{margin-top: 5px;margin-bottom: -4px;margin-right: 5px;}
.loding_more_items{ display:inline;}
.loding_more_catname{ font-size:15px;}
.lazyload-catname{display: inline-block;color: #666;font-size: 11px; color:#555;}
ul.slide li h3{  font:14px Arial!important;color: #7f9f0b;margin-bottom: 5px; text-align: center;}
ul.slide li h3 a{font:14px Arial!important;color:#555;margin-bottom: 5px; text-align: center;}
.ds_product_filterbox{ margin-bottom:10px;}
.displayContainer h1{text-transform: uppercase;font-weight: bold;font-size: 17px;font-family:Arial; color: #555;}
ul.slide li {display: block;float: left;padding-right: 10 !important;font: 12px Arial,Helvetica,sans-serif;color: #675E5B;margin-right: 15px;width: 154px;text-align: center;border: 0px !important;}
.ds_product_sold_out h3{text-transform: uppercase;font-weight: bold; font-size: 17px; font-family: Arial; color: #555; margin-bottom: 5px;margin-top: 30px;}
.ds_pd_listingmb{margin-bottom:35px;}

