.container {
	margin: auto;
	padding: 0;
	width: 100%
}
.container ul {
	margin: 10px;
	padding: 10px
}
.container li {
	padding: 3px;
	margin-left: 3px;
	list-style-type: circle
}
.container img {
	margin: auto;
	padding-right: 10px;
	float: left
}
.wrap {
	position: relative;
	overflow: hidden
}
.gradient {
	width: 100%;
	height: 35px;
	background: url(images/bg-gradient.png) repeat-x;
	position: absolute;
	bottom: 0;
	left: 0
}
.read-more,.wrap{background: #fff;
    float: right;
    position: relative;
    left: 0;
    font-family: lato,sans-serif;
    color: #666;
    line-height: 22px;
    margin-bottom: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 14px;}
.read-more a {
	color: #666;
	text-decoration: none
}
.read-more a:hover {
	color: #999
}
.filterContainer {
	float: left;
	width: 232px!important
}
.filterContainer_wrapper {
	border: none!important;
	padding: 0!important;
	border-radius: 0!important
}
.filterCategory {
	background: #fff!important;
	margin-bottom: 10px!important;
	width: 235px!important;
	max-height: 200px!important;
	overflow: auto!important;
	margin-top: 10px!important;
	float: left!important;
	padding: 0!important
}
.ds_productlist_filterby {
	font-size: 16px;
	color: #fff;
	font-weight: 400;
	Color: #555;
	padding-top: 5px;
	text-transform: uppercase;
	font-family: Arial;
	float: left;
	width: 160px
}
.ds_plist_recetall {
	float: left;
	margin-top: 5px;
	margin-left: 10px;
	color: #555;
	font-size: 13px
}
.ds_plist_categoryname {
	color: #555;
	text-transform: uppercase;
	text-align: left;
	font-size: 14px;
	margin-bottom: 5px;
	background: #f0f0f0;
	width: 225px;
	float: left;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 10px
}
.ds_cat_heading {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 17px;
	font-family: arial;
	color: #555
}
.catpage_catenamebox, .catpage_catname {
	font-family: Arial, Helvetica, sans-serif
}
.filterCategoryList {
	padding: 8px 0 8px 25px
}
.filterCategoryList a {
	text-decoration: none;
	color: #555;
	font-size: 14px
}
.catpage_catenamebox {
	margin-top: 5px;
	float: left;
	width: 100%;
	font-family: lato, sans-serif;
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
	padding-bottom: 20px;
}
.catpage_catenamebox a:hover{ text-decoration:none;color: #333;}
.catpage_catname {
	text-decoration: none;
	font-size: 18px;
	color: #555;
	font-weight: normal;
}
.catpage_catname span {
	font-size: 12px;
	margin-left: 20px;
	float: right;
	background: #aaa;
	padding: 5px 8px;
	color: #fff;
}
.cat_viewallproduct {
	font-size: 11px;
	text-decoration: none;
	color: #fff;
	background: #aaa;
	font-weight: 700;
	padding: 5px 10px;
	margin-left: 10px;
	float: right
}
.results {
	font: 14px arial!important
}
.brd_font_bold, .ds_releted_art {
	font-weight: 700
}
ul.category {
	width: 162px!important
}
ul.category li {
	margin-left: 15px
}
ul.category li a {
	display: block;
	margin-bottom: 8px;
	font-size: 14px;
	font-family: arial!important;
	color: #555!important
}
.mrtop0 {
	margin-top: 0!important
}
.ds_search_cont {
	margin-bottom: 5px;
	float: left;
	width: 100%;
	text-align: right;
	margin-top: 15px
}
.browse_more_btn {
	background: #AAA;
	padding: 6px 12px;
	font-size: 13px;
	text-decoration: none;
	color: #FFF;
	margin-left: 10px;
	text-transform: uppercase;
	font-weight: 700;
	font-family: arial
}
.browse_more_btn:hover {
	text-decoration: none;
	color: #fff
}
.ds_releted_art {
	font-size: 17px;
	font-family: Arial;
	color: #888;
	margin-bottom: 20px;
	padding-bottom: 5px
}
ul.slide li h3, ul.slide li h3 a {
	color: #555!important;
	text-align: left!important
}
.be_counter_box {
	float: left;
	width: 250px;
	margin-left: 276px;
	margin-top: 20px
}
.be_counter_box h2 {
	float: left;
	font-size: 20px;
	margin-left: 4px;
	color: #333
}
.gosf_countBox {
	float: left;
	padding: 4px
}
.gosf_count {
	float: left;
	padding: 10px;
	margin: 5px 10px;
	background: #4E4E4E;
	color: #fff;
	border-radius: 4px;
	box-shadow: 0 0 24px 0 #000 inset
}
.breadcrumb_cont, .ds_buy_now_cont, .ds_notify_btn_cont {
	width: 100%;
	margin-top: 5px;
	float: left
}
.be_count_txt {
	float: left;
	padding: 0 11px
}
.be_count_txt span {
	float: left;
	margin-right: 18px;
	font-size: 13px
}
.imgtxtcont {
	float: left;
	width: 100%;
	border-bottom: 1px solid #ddd!important
}
.breadcrumb a {
	font-size: 13px!important;
	text-decoration: none
}
.breadcrumb {
	background: #fff!important;
	font-family: Arial, Helvetica, sans-serif
}
.breadcrumb_cont {
	color: #666;
	font-size: 13px;
	word-spacing: 2px
}
.breadcrumb_cont span {
	color: #333
}
.breadcrumb_cont span a:hover {
	color: #668000;
	font-size: 13px
}
.ds_buy_now_btn, .ds_notify_btn {
	color: #FFF!important;
	display: inline!important;
	border-radius: 3px;
	text-transform: uppercase;
	cursor: pointer
}
.ds_buy_now_btn {
	background: #FF6709;
	font-size: 14px;
	padding: 5px 12px;
	font-family: arial
}
.ds_notify_btn {
	background: #0B59A1;
	padding: 6px 10px
}
.ds_buy_now_btn:hover, .ds_notify_btn:hover {
	text-decoration: none;
	color: #fff!important
}
.qna-user-img-sec {
	width: 77px!important
}
.productContainer, .productPrice, .rateContainer {
	width: 202px!important
}
.qna-question-sec .recent-question a, .qna-question-sec .recent-question a:hover {
	font: bolder 12px Arial, Helvetica, sans-serif!important;
	color: #46433D!important;
	text-decoration: none
}
.qna-description a, .qna-description a:hover {
	font-size: 12px!important
}
.qna-question-sec .qna-description {
	font-size: 12px!important;
	font-family: Arial, Helvetica, sans-serif
}
.ds_drydogfood, .ds_drydogfood a {
	font: 14px Arial!important;
	margin-bottom: 5px
}
.productContainer {
	border-right: 0!important
}
.ds_drydogfood {
	text-align: left!important
}
.ds_drydogfood a {
	color: #555;
	text-align: center
}
.productContainer_row {
	border-bottom: 0!important;
	margin-bottom: 20px!important;
	font-family: Arial, Helvetica, sans-serif!important;
	margin-left: 20px!important
}
.priece_precent_div {
	width: 100%;
	float: left;
	font-size: 12px
}
.price_precent_m {
	margin-left: 5px
}
.priece_precent_box {
	background: red;
	font-size: 11px;
	color: #fff;
	padding: 2px;
	margin-left: 5px;
	border-radius: 3px
}
.lazyload_loding, .lazyload_lodingbrand, .no-more-results, .no-more-resultsbrand {
	background: #f1f1f1;
	min-height: 25px;
	line-height: 32px;
	margin: 20px 0;
	display: none;
	border-radius: 2px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #555;
	float: left
}
.lazyload_loding, .no-more-results {
	width: 716px
}
.lazyload_lodingbrand, .no-more-resultsbrand {
	width: 100%
}
.gif_image {
	margin-top: 5px;
	margin-bottom: -4px;
	margin-right: 5px
}
ul.slide li h3, ul.slide li h3 a {
	margin-bottom: 5px;
	text-align: center
}
.loding_more_items {
	display: inline
}
.loding_more_catname {
	font-size: 15px
}
.lazyload-catname {
	display: inline-block;
	font-size: 11px;
	color: #555
}
ul.slide li h3 {
	font: 14px Arial!important;
	color: #7f9f0b
}
ul.slide li h3 a {
	font: 14px lato, sans-serif!important;
	color: #555
}
.ds_product_filterbox {
	margin-bottom: 10px
}
.displayContainer h1 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 17px;
	font-family: Arial;
	color: #555
}
ul.slide li {
	display: block;
	float: left;
	padding-right: 10!important;
	font: 12px Arial, Helvetica, sans-serif;
	color: #675E5B;
	margin-right: 15px;
	width: 154px;
	text-align: center;
	border: 0!important
}
.ds_product_sold_out h3 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 17px;
	font-family: Arial;
	color: #555;
	margin-bottom: 5px;
	margin-top: 30px
}
.ds_pd_listingmb {
	margin-bottom: 35px
}
.add-to-cart-btn {
	font-size: 12px!important;
	background: #fff;
	border: 1px solid #666;
	padding: 7px 20px;
	margin-right: 5px
}
.b-now-btn {
	padding: 7px!important;
	margin-left: 2px
}
.form-select-sec {
	float: left;
	width: 100%;
	border-bottom: 1px solid #ddd;
	margin: 10px 0 25px;
	padding: 10px 0
}
select {
	padding: 5px 0
}
.select-size {
	margin-top: 10px;
	float: left;
	width: 100%;
	font-size: 14px;
	margin-bottom: 5px
}
.form-select select {
	border-radius: 3px;
	padding: 0 9px;
	border: 1px solid #ccc;
	color: #666;
	font-size: 14px;
	float: left;
	width: 300px;
	height: 40px;
	margin-right: 10px
}
.find-btn {
	background: #fff;
	color: #FF6709;
	width: 92px;
	height: 40px;
	font-size: 16px;
	text-transform: uppercase;
	border-radius: 3px;
	cursor: pointer;
	border: 1px solid #ff6709
}
.info-box {
	float: left;
	width: 95%;
	margin-bottom: 15px;
	font-family: lato, sans-serif;
	letter-spacing: .6px;
	font-size: 14px;
	border: 1px solid #ddd;
	border-radius: 2px;
	padding: 10px
}
.info-box h2 {
	color: #FF6709;
	margin-bottom: 5px
}
.info-box p {
	line-height: 18px
}
.read_more_btn {
	background: #FF6709;
	color: #FFF!important;
	display: inline!important;
	font-size: 14px;
	padding: 7px 15px;
	border-radius: 3px;
	text-transform: uppercase;
	font-family: arial;
	cursor: pointer
}


.about-cat-section {
	float: left;
	width: 100%;
	background: #f9f9f9;
	padding: 20px 0px
}
.about-cat-section h1 {
	font-size: 24px;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	margin-bottom: 10px;
}
.about-cat-section p {
	font-size: 14px;
	margin-bottom: 15px;
	font-style: italic;
	line-height: 22px;
	color: #666;
}
ul.box-product {
	margin: 0;
    padding: 0;
    list-style: none;
    font-family: lato, sans-serif;
    margin-bottom: 30px;
    float: left;
    width: 100%;
}
ul.box-product li {
	float: left;
	width: 222px;
	padding-right: 15px;
}
ul.box-product li h3 a {
	color: #333;
	font-size: 14px;
	font-weight: normal;
	height: 65px;
	display: block;
	margin-top: 15px;
	line-height: 21px;
}
ul.box-product li .priece_precent {
	font-size: 16px;
	margin-bottom: 15px
}
ul.box-product li .priece_precent span {
	color: #888;
	margin-left: 12px;
}
ul.box-product li .precent_box {
	padding: 2px;
	font-family: sans-serif;
	position: absolute;
	font-size: 14px;
	line-height: 35px;
	text-align: center;
	color: #ff7a22;
	border-radius: 50%;
	border: 1px solid #ff7a22;
	z-index: 999;
	vertical-align: middle;
	width: 35px;
	height: 35px;
	background: #fff;
}
ul.box-product li img {
	max-height: 137px;
	width: auto;
}
	.filet-img-sec{float: left;padding-top: 3px; padding-right: 3px;}
.browse-cat{    padding: 0px;
    text-transform: uppercase;
    font-size: 15px;
    width: 200px;
    font-weight: bold;
    font-family: lato,sans-serif;
    color: #555;
}
.filet-img-sec{float: left;padding-top: 3px; padding-right: 3px;}
.browse-cat{    padding: 0px;
    text-transform: uppercase;
    font-size: 15px;
    width: 200px;
    font-weight: bold;
    font-family: lato,sans-serif;
    color: #555;
}

.browse-cat-fl{overflow: inherit !important; width:220px!important; margin-left:5px; margin-top:10px;margin-left: -15px}
.filterContainer{margin-top: 4px;}