/*dry dog food */
.clear{clear:both;}
#maincetrbody{min-height:500px; text-align:center; padding-top:15px; border:0px solid #ff0000; vertical-align:top; /*background-color:#F6F5F5*/}
#cetrVmidbody{width:950px; border:0px solid #333; margin:0 auto}
.headdivcont{width:100%; border:0px solid #333;}
#breadcrumb{ text-align:left; font:12px arial; float:left; display:inline; border:0px solid #333;}
#breadcrumb a{font:11px arial; color:#3f3f3f; text-decoration:underline; text-align:left; padding:0 5px;}
.filtercont{ float:left; display:inline; border:0px solid #333; width:74%; margin-top:10px;}
.containerfiler{border-radius:4px; -moz-border-radius:4px; border:1px solid #ccc; padding:3px 5px; float:left; font:11px arial;background-color: #E7E7E7; margin-left:5px;}
.alignimg{vertical-align:top; cursor:pointer}
#framemargin{ float:left; margin-top:15px;}
#bodyleftcol{float:left; display:inline; width:182px; /*background-color:#f1f1f1;*/ margin-bottom:10px;}
#bodyrightcol{float:left; display:inline; width:748px; /*background-color:#f1f1f1;*/ margin-left:20px; height:auto; margin-top:-8px;}
.smallhead{font:bold 12px arial; color:#3f3f3f; border-bottom:3px solid #3f3f3f; padding:3px 5px; text-align:left;}
.bigrightlhead{font:bold 18px arial; color:#3f3f3f; border-bottom:3px solid #3f3f3f; padding:3px 5px; text-align:left;}
.elevenarial{font:11px arial; color:3f3f3f}
.twelvearial{font:12px arial; color:3f3f3f}
.padtwelvearial{font:12px arial; color:3f3f3f; margin-top:2px;}
.sortcontainer{float:right; border:0px solid #000; font:11px arial; color:3f3f3f}
.allproductcontainer{width:100%; border:0px solid #000;}
.productcontainer{ border:1px solid #fff; height:300px; width:166px; float:left; display:inline; background-color:#fff; font:12px arial; color:#3f3f3f; position:relative;}
.productcontainer:hover{box-shadow: 0px 0px 3px 1px; }
.Byagefltr{height:120px; background-color:#E7E7E7; margin-top:10px; border:1px solid #D9D9D9;}
.smallheadWoutline{font:bold 12px arial; color:#3f3f3f; padding:3px 5px; text-align:left;}
.closeicon{float:right; cursor:pointer}
.peticon{width:60px; font:11px arial; height:62px; float:left; display:inline; border:0px solid #333; padding:0 5px;}
.filterpriceslider{width:180px; margin:0 auto; margin-top:10px; border:0px solid #000; float:left;}
.ByageBrnd{/*height:100px;*/ background-color:#E7E7E7; margin-top:10px; border:1px solid #D9D9D9;}
.smallheadWoutline img {
float: right;cursor: pointer;
}
.ByBreed{/*height:100px;*/ background-color:#E7E7E7; margin-top:10px; border:1px solid #D9D9D9; -moz-box-shadow: 0px 0px 4px #d4d4d4; -webkit-box-shadow: 0px 0px 4px #d4d4d4; box-shadow: 0px 0px 4px #d4d4d4;}
.slectbrand{height:45px; background-color:#fff; margin:0 auto; width:154px; cursor:pointer; border-bottom:1px solid #E7E7E7;}
.openslectbrand{height:40px; background-color:#fff; margin:0 auto; width:162px; cursor:pointer; border-bottom:1px solid #E7E7E7;}
.brandname{float:left; display:inline; border:0px solid #ff0000; padding:13px 5px; text-align:left; width:93px; font:10px arial; color:#3f3f3f;}
.brndimg{float:left; display:inline; border:0px solid #333; width:41px; height:40px;}
.prodtfrm{margin-top:10px; float:right; display:block; }
.prodtholder{width:100px; height:145px; margin:10px 10px 5px 10px;}
.proddtl {
font: 12px arial;
color: #3f3f3f;
padding: 0 5px;
overflow: hidden;
height: 46px;
float: left;
margin-bottom: 5px;
}
.price {
font: bold 16px arial;
float: left;
text-align: center;
width: 100%;
color: #444;
}
.offer_price {
position: absolute;
left: 36px;
top: 41%;
background: #666;
border: 1px solid #333;
padding: 5px 10px;
color: #fff;
width: 85px;
text-align: center;
display: none;
}
.price strike {
color: #333;
font-size: 13px;
font-weight: normal;
}
/*.dis_box {
float: right;
font-size: 12px;
position: absolute;
right: 0px;
top: 0px;
color: #fff;
padding: 3px;
background: #961919;
}*/
.productcontainer:hover .offer_price {
	display:block;
}
.view_dtlsbtn{margin-top:10px;}
.btn_holder{height:47px; width:747px; margin-top:15px; border-bottom:1px solid #C5C4C4; float:right; display:block;}
.bg_btn{width:747px; float:left; font:12px arial; color:#3f3f3f; padding:7px; cursor:pointer; background:url(/new/shop/images/btn_bg.gif) repeat-x; border:1px solid #DBDADA;
border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px}
.bodyftrcont{font:12px arial; color:#444444; padding:15px 0; text-align:justify; float:right; display:block; width:747px; height:50px; border:0px solid #ff0000;}
.norcol{color:#444444; text-decoration:underline}
.roundcor{border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; border:1px solid #CCCCCC}
.view_dtls_btn {
background: url(/new/shop/images/buynow_btn_small.gif) no-repeat;
padding: 3px 8px;
border-radius: 3px;
-moz-border-radius: 3px;
width: 83px;
-webkit-border-radius: 3px;
text-indent: 83px;
border: 0px solid #D8D8D8;
cursor: pointer;
}
.scroller{border:0px solid #333; width:90%; margin:10px auto 10px auto; height:300px; overflow:scroll; overflow-x:hidden; background-color: #DCDCDC;}
.designerscrcontainer{border:0px solid #333; width:90%; margin:10px auto}
.scrollerleftcont{width:162px; float:left; display:inline; border:0px solid #000; background-color:#fff;}
.sliderByagefltr{background-color:#E7E7E7; margin-top:10px; padding-bottom:10px; border:1px solid #D9D9D9;}
.sliderfil{width:72px; height:15px; padding:8px 8px; font:11px arial; float:left; display:inline; border:0px solid #ff0000;}
.smlpeticon{width:40px; height:62px; font:11px arial; float:left; display:inline; border:0px solid #333; text-align:center;}
.chkbx{margin-left:0px;}