.container {width: 100%;margin-bottom:10px;}
ul.tabs {margin: 0;padding: 0;float: left;list-style: none;height: 36px;width: 100%;border: 0px;}
ul.tabs li {float: left;margin: 0;padding: 0;height: 36px;line-height: 36px;border-left: none;margin-bottom: -1px;margin-right:3px;background:#999;border-top-left-radius:5px;border-top-right-radius:5px;overflow: hidden;position: relative;}
ul.tabs li a {text-decoration: none;color: #000;display: block;font-size:17px;font-weight:normal;padding: 0 33px;outline: none;}
ul.tabs li a:hover {color:#fff;}	
html ul.tabs li.active, html ul.tabs li.active{border-top-left-radius: 5px;
border-top-right-radius: 5px;
background: #fff;
border: 1px solid #666;
border-bottom: 0px;}
html ul.tabs a:hover{ background:#666;border-top-left-radius: 3px;border-top-right-radius: 3px;border: 1px solid #666;border-bottom: 0px;}
.tab_container {border-top: none;clear: both;float: left;width: 100%;background: #fff;border:1px solid #6d6d6d;border-bottom-left-radius:5px;border-bottom-right-radius:5px;padding-bottom:10px;border-top-right-radius: 5px;}
.tab_content p{text-align:justify;font-size:14px;color:#666;}
.tab_content h1 {font-weight: normal;font-size:18px;color:#0063a9;}
.tab_content h2{font-weight: bold;margin-bottom:10px;font-size:14px;color:#333;}
.tab_content img{margin-right:10px;}
.slider{padding:20px;padding-bottom:0 !important;}
.pet_img img{ width:145px; height:135px}