/* CSS Document */
.thank_you_box{ float:left; width:100%;}
.thank_you_box h3 {
color: #444444;
float: left;
width: 100%;
padding-bottom: 5px;
border-bottom: 3px solid #444;
}
.thank_you_box img.close{ float:left;}
.thank_you_box span.ty_head{ float:left; margin-left:10px;}
.left_ty_content{ float:left; width:688px; margin: 10px 10px 10px 0;}
.order_detail {
float: left;
background: #f5f5f5;
border: 1px solid #bfbfbf;
width: 650px;
padding: 10px 15px;
}
.order_detail h4.order_hd {
color: #962327;
font-size: 18px;
font-weight: normal;
}
.left_ty_content p.ty_para{ float:left; margin:5px 0;width: 100%;}
.left_ty_content p.ty_para a{ text-decoration:underline;}
.left_ty_content p.ty_para a:hover{ text-decoration:none;}
.left_ty_content p.con_para{ float:left; margin:10px 0px; width:100%;}
.left_ty_content p.con_para a{ text-decoration:underline;}
.left_ty_content p.con_para a:hover{ text-decoration:none;}
.right_ty_content {
float: right;
width: 272px;
border: 1px solid #bfbfbf;
background: #f5f5f5;
margin: 10px 0;
}
.add_dog{ float:left; border-top: 1px solid #bfbfbf; padding:10px; width:252px;}
.dog_lbl {
color: #444;
width: 70px;
float: left;
text-align: right;
margin-right: 5px;
padding: 4px;
}
.add_dog input[type=text] {
width: 160px;
border-radius: 3px;
border: 1px solid #bfbfbf;
padding: 4px;
margin-bottom: 5px;
float:left;
}
.add_dog select {
border-radius: 3px;
border: 1px solid #bfbfbf;
padding: 4px;
overflow: hidden;
float:left;
margin-bottom: 5px;
cursor: pointer;
appearance: none;
color:#aaa;
-webkit-appearance: none;
}
.add_dog select.breed_select{width: 160px;background: url(/new/shop/images/arrow.png) no-repeat 140px 10px #FFFFFF;}
.add_dog select.gen_select{width: 98px;background: url(/new/shop/images/arrow.png) no-repeat 82px 10px #FFFFFF;}
.add_dog select.yrs_select,.add_dog select.mon_select{width: 70px;background: url(/new/shop/images/arrow.png) no-repeat 55px 10px #FFFFFF;margin-right: 3px;}
.add_dog input[type=file] {
width: 100px;
padding: 3px 8px;
background: url(/new/shop/images/add_photo.png) no-repeat;
overflow: hidden;
text-indent: 91px;
}
.dob_back{ background:url(/new/shop/images/age.png) no-repeat; float:left; width:140px;height: 30px;}
.dob_back select.dob_txt {
margin-left: 58px;
width: 85px;background: url(/new/shop/images/arrow.png) no-repeat 70px 8px #FFFFFF;
padding-top: 1px;
margin-top: 0px;
border-radius: 0px 3px 3px 0;
}
p.dog_p{ float:left;}
p.dog_p input[type=submit]{ background:url(/new/shop/images/save.png) no-repeat;}
p.dog_p input[type=submit] {
background: url(/new/shop/images/save.png) no-repeat;
padding: 10px;
text-indent: 56px;
overflow: hidden;
cursor: pointer;
width: 59px;
border: 0px;
margin: 0px;
}
p.dog_p a {
text-decoration: underline;
}
p.dog_p a:hover {
text-decoration: none;
}

.ty_box{ margin-top:13px;}
.order_detail.ty_box1 {
border-top: 2px solid #444;
}
.order_ship {
float: left;
margin-top: 12px;
font-size: 18px;
color: #444;
padding-bottom: 5px;
}
.ship_address {
float: left;
}
.ship_days {
float: right;
background: #fff;
border: 1px solid #bfbfbf;
padding: 7px;
border-radius: 5px;
margin: 5px;
}
.ty_box2{ padding:0px;width: 680px;}
.shop_head .cart_ty li.name_width{ width:200px !important;}
.shop_head .cart_ty li {
font-weight: normal;
width: 120px !important;
margin-top:5px;
font-weight: bold;
}
.item_info ul.ty_item li {
background: #fff;
width: 120px;
}
.item_info ul.ty_item li.name_width {
width:200px;
}
.item_info ul.ty_item li.cost_color {
color:#962327;
}
.total_box ul li.cost_color {
color:#962327;
}
.grand_box ul li.cost_color {
color:#962327;
}
.grand_box.grand_ty {
background: #fff;
}
.shop_cart.ty_shop_cart {
margin: 0px;
}
.ty_note {
float: left;
background: url(/new/shop/images/note_bg.png) no-repeat;
padding: 13px 31px 20px 52px;
color: #fff;
margin-left: -15px;
font-size: 18px;
margin-top: 5px;
}
.right_ty_cod {
float: right;
width: 272px;
margin: 28px 0;
}
.right_ty_cod h4 {
text-align: center;
font-size: 14px;
margin-top:4px
color: #444;
float:left; 
width:100%;
padding-bottom: 3px;
}
.invite_box{ float:left;}
.left_bor {
float: left;
}
.mid_invite_con {
float: left;
width: 262px;
border-bottom: 2px solid #bfbfbf;
background:#f5f5f5;
border-top: 2px solid #bfbfbf;
}
.ryt_bor {
float: left;
}
label.user_lbl {
font-size: 17px;
color: #444;
padding: 10px;
width: 242px;
border-bottom: 1px solid #bfbfbf;
float: left;
}
.to_label {
padding: 5px 0 5px 14px;
margin-top: 0px;
text-align: left;
float: left;
color: #444;
font-size: 13px;
}
.to_label span {
font-size: 12px;
color: #888;
margin-left: 4px;
}
textarea.mail_area {
max-width: 230px;
min-width: 230px;
float: left;
max-height: 50px;
margin-left: 16px;
min-height: 50px;
border-radius: 5px;
border: 1px solid #bfbfbf;
}
.or_box {
float: left;
font-style: italic;
width: 90%;
text-align: center;
border-bottom: 1px solid #bfbfbf;
margin: 4px 11px;
padding-bottom: 5px;
}
ul.import_links {
float: left;
padding: 10px 20px;
margin: 0px 10px;
text-align: center;
border-bottom: 0px solid #bfbfbf;
}
ul.import_links li{ float:left; list-style:none; width: 67px;}
ul.import_links li label {
color: #1661E6;
}
textarea.msg_area {
max-width: 230px;
min-width: 230px;
float: left;
max-height: 70px;
margin-left: 16px;
min-height: 70px;
border-radius: 5px;
border: 1px solid #bfbfbf;
}
p.invite_para{ float:left; padding:5px 10px;}
.send_invite{float:left; padding:9px  10px; }
.send_invite input[type=button]{ background:url(/new/shop/images/send_invite.png) no-repeat;}
.send_invite input[type=button] {
background: url(/new/shop/images/send_invite.png) no-repeat;
margin: 0px;
padding: 8px 0px;
border: 0px;
width: 110px;
text-indent: 110px;
overflow: hidden;
}
.ty_para1{ line-height:17px;}
.ty_para1 strong{ font-size:15px;}