/* wishlist container starts */
.displayContainer{width:700px;margin-left:19px;margin-right:10px;}
.displayContainer_header{border-bottom:1px solid #81a00c;height:33px;}
.displayContainer_left{width:300px;float:left;}
.displayContainer_left h1{color:#81a00c;font-size:18px;}
.displayContainer_left span{color:#666;font-size:14px;}
.displayContainer_right{width:400px;float:right;text-align:right;margin-top:10px;}
.displayContainer_rightTab{text-align:center;padding:5px;border-top-left-radius:10px;border-top-right-radius:10px;background:#c0cf85;width:100px;font-size:12px;color:#fff;display:inline;cursor:pointer;}
.displayContainer_rightLabel{display:inline;font-size:14px;color:#666;margin-right:10px;}
.displayContainer_rightTabactive{text-align:center;padding:5px;border-top-left-radius:10px;border-top-right-radius:10px;background:#81a00c;width:100px;font-size:12px;color:#fff;display:inline;cursor:pointer;}
.productContainer{width:155px;height:225px;margin-right:12px;border-right:1px solid #999;padding-right:10px;float:left;text-align:center;}
.rateContainer{width:155px;height:25px;text-align:left;}
.rateContainer{width:155px;height:25px;text-align:left;}
.rateContainer span{font-size:10px;color:#666;}
.rateContainer img{vertical-align:middle;}
.buynow_orange{width:155px;height:21px;background:url(images/display-buynow-orange.jpg) right;text-align:right;}
.buynow_green{width:155px;height:21px;background:url(images/display-buynow-green.jpg) right;text-align:right;}
.productBuynow_text{font-size:15px;color:#fff;display:inline;}
.productPrice{text-align:left;font-size:14px;font-weight:bold;color:#666;display:inline;float:left;}
.productContainer p{text-align:center;font-size:13px;color:#666;}
.productContainer_row{height:265px;border-bottom:1px solid #999;margin-bottom:20px;}
.brandlogoContainer{border:1px solid #81a00c;border-radius:7px;padding:3px;padding-top:10px !important;}
.brandlogoContainer_header{text-align:center;border-top-left-radius:7px;border-top-right-radius:7px;background:#81a00c;padding:5px;width:200px;margin-left:250px;}
.brandlogoContainer_header h1{color:#fff;font-size:18px;}
.wishlist_right{width:310px;float:right;padding:10px;background-color:#f1fdcb;border:1px solid #81a00c;}
.wishlist_right span{font-size:13px;color:#666;}
/* wishlist container starts */
.wishlistContainer{overflow:auto;clear:both;width:562px;}
.wishlistContainer_header{height:35px;}
.wishlistContainer_photo{width:130px;margin-right:10px;}
.wishlistContainer_detail{width:422px;background:#fff;padding-bottom:20px;}
.wishlistContainer_inner{clear:both;overflow:auto;margin-bottom:20px;border-bottom:1px dotted #81a00c;}
.wishlistContainer_detail h1{font-size:15px;color:#81a00c;font-weight:normal;margin-bottom:10px;background:#eee;display:block;padding:5px; 0 0 5px;}
.wishlistContainer_detail a{font-size:15px;color:#81a00c;font-weight:normal;}
.wishlistContainer_detail h2{font-size:13px;color:#666;font-weight:normal;padding-bottom:10px;border-bottom:1px dotted #ccc;}
.wishlistContainer_detail h3{font-size:13px;color:#666;font-weight:normal;margin-bottom:10px;padding-bottom:10px;border-bottom:1px dotted #ccc;}
.wishlistContainer_detail p{font-size:12px;color:#333;font-weight:normal;padding:10px 0;border-bottom:1px dotted #ccc;margin-bottom:10px;}
.wishlistContainer_detail span{font-size:12px;color:#333;font-weight:normal;padding-left:5px;}
.wishlistContainer_detail img{vertical-align:middle;}
/* wishlist container starts */