<div id="imgbox"><? 
				  if($puppi_img){ ?>
				  <a href="<? echo"images/thumbs/$puppi_img";?>" class="highslide" onclick="return hs.expand(this, {captionId: 'caption1'})"><img src="<? echo"images/thumbs/thumb_$puppi_img";?>" width="100" height="87" border="0" /></a> 
<? }else{ ?>
<img src="/images/no-img.jpg" alt="No image Photo available" width="100" height="87" border="0"/> 
<? }?></div>