.cont980{width: 972px;margin: 0 auto;text-align: left;padding: 0px 4px 0px 4px;}
.wf_slider{float: left; width: 100%;min-height: 100%;position: relative;overflow: hidden;background: 50% 0% fixed no-repeat;background-position: fixed;background-color: #fff;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover; /*background:url(../images/donate-bg.jpg) no-repeat center rgba(102, 128, 0, 0.6);*/}
.wf_slider img{width:100%; min-width:972px;}
.wf_tagline{float: left;width: 100%;background: rgba(102, 128, 0, 0.6);color: #FFFFFF;margin-bottom: 20px;cursor: pointer;}
.wf_donate{ font-family:Arial, Helvetica, sans-serif;}
.wf_whyBox,.wf_whatBox, .wf_whoBox, .wf_testie{ float:left;margin: 10px 0 0 0; padding-bottom:20px; border-bottom:1px solid #668000;width: 100%;}
.wf_whatBox h3, .wf_whoBox h3, .wf_testie h3{font-size: 25px;margin: 0 0 4px 0;}
.wf_img{ float:left; margin-right:10px; width: 56%;}
.wf_txt{ float:left; width: 42%;}
.wf_txt h3 {font-size: 25px;margin: 0 0 4px 0;}
.wf_txt p {font-size: 16px;margin: 15px 0;}
.wf_btn{float:left;}
.wf_whttxt{float:left; width:100%;}
.wf_whtImg{float:left; width:100%; margin-top:-65px;position: relative;z-index: 1;}
.wf_whtImg img {float: right;}
.wf_whoDetail {display: table-cell;width: 240px;border: 1px solid #668000;vertical-align: middle; position:relative;text-align: center;}
.wf_whoSec { display: table-cell;vertical-align: top;width: 100%;}
.wf_whoImg {display: table-cell;width: 240px;padding: 5px 0;text-align: center;}
.wf_whoDetail:hover .wf_whoTxt{ display: table-cell;}
div.wf_whoTxt { display:none;position: absolute;top: 0;background: rgba(102, 128, 0, 0.68);width: 100%;height: 100%;color: #fff;vertical-align: middle;}
.wf_WhoDbox{ float:left; margin:20px 0 10px 0;}
.wf_whoBox .wf_btn {margin: 19px 0px -36px 405px;}
.wf_whoBox {margin-bottom: 20px;}
.wf_testiBox{ float:left; width:100%; margin-top:10px;}
.wf_testiSec{ float:left; width:50%;margin: 5px 0;}
.wf_testiImg{float:left; width:100px; height:100px; overflow:hidden; border:1px solid #ccc;margin-right: 10px;}
.wf_testiTxt{ float:left; width:340px;}
.wf_testiTxt h4 {float: left;width: 100%;margin: 0 0 5px 0;}
.wf_testiTxt p {float: left;margin: 5px 0 0 0;width: 100%; font-size:14px;}
div.wf_prodctBox {float: left;width: 100%;font-family: arial,tahoma,verdana,sans-serif; font-weight:500;}
div.wf_prodctBox h1 {text-align: left;float: left;width: 100%;margin: 25px 0px;font-family:arial,tahoma,verdana,sans-serif;text-transform: uppercase;color:#555; font-weight:normal;}
div.wf_productDetail {float: left;padding:0 11px; width: 120px;overflow: hidden;}
div.wf_productDetail:hover {cursor: pointer;}
div.wf_productImg{float: left;text-align: center;width: 100%;}
div.wf_productTxtdetail {float: left;width: 88%;font-size: 12px;margin: 0 8px;color: #888;padding: 0 2px;border-top: 1px solid #aaa;padding-top: 5px;}
div.wf_productNsme{float: left;width: 100%;height: 60px;}
div.wf_productNsme input[type="radio"] {float: left;}
div.wf_productNsme label { float: left;}
div.wf_productQty { float: left;width: 100%;margin: 10px 0}
div.wf_donateBtn {float: left;width: 100%;margin-bottom: 15px;text-align: center;}
div.wf_productQty input[type="text"] {width: 30px;float: left;margin-left: 5px;}
div.wf_productQty>label {float: left;margin: 4px 0;}
div.wf_productQty input[type="checkbox"] {float: right;width: 20px;height: 20px;}
.wf_userImg{ margin-bottom:10px;}div.wf_productTxtdetail.wf_userTxtdetail {margin: 0px;width: 100%;}
div.wf_productNsme p {float: left;margin: 4px 0;width: 100%; color:#555; }
.wf_userTxtdetail div.wf_productNsme label {width: 145px;text-transform: uppercase;}
div.wf_productNsme p a {color: #ff8226;text-decoration:underline;}
div.wf_productNsme p a:hover { text-decoration:none;}
div.wf_priceBox {float: left;width: 100%;font-weight: bold;margin: 0px 0;padding: 3px 0 0 0;border-top: 1px solid #aaa;}
div.wf_recipientBox{width: 582px;float: left;}
div.wf_recipientBox div.wf_productDetail {height: 316px;padding-top: 10px;width: 247px;margin: 10px;}
div.wf_recipientBox1 {float: left;width: 389px;border-left: 1px solid #555;}
div.wf_recipientBox1 div.wf_productDetail{width: 345px;margin: 10px;padding-top: 10px;height: 210px;}
div.wf_recipientBox1 div.wf_productImg {height: 100px;overflow: hidden;}
div.wf_boder {float: left;border-bottom: 1px solid #555;width: 100%;}
div.wf_prodctBox h2 {margin: 0px;text-transform: uppercase;text-align: center;color: #668000;}
div.wf_btn.wf_support {float: left;color: #fff;background: #ff8226;padding: 5px 10px;border-radius: 5px;font-size: 32px;padding: 5px 69px;margin: 0 0 0 369px;}
.wf_img iframe {float: right;margin-top: 33px;}
div.wf_slide {float: left;width: 100%;}
div.wf_slideBox{float: left;width: 333px;height: 222px;cursor: pointer;position: relative;}
div.wf_slideImg{float: left;}
div.wf_slideImg img{-webkit-filter: grayscale(100%);filter: gray; }
div.wf_slideImg img:hover{-webkit-filter: grayscale(0%);filter: none; }
.wf_prfBack img{position: absolute;top: 0;left: 0;margin-top: 13px;min-width: 100%;height: 445px; float:left;}
div.wf_prfBack {float: left;width: 100%;position: relative;}
div.wf_pflSec{float: left;padding: 10px;}
div.wf_prfimg {float: left;border-radius: 50%;overflow: hidden;width: 250px;height: 250px;margin: 0 0 0 335px;background: #fff;box-shadow: 0px 0px 1px 2px #fff;}
div.wf_prftxt {float: left;width: 100%;}
div.wf_prftxt h2 {text-align: center;font-size: 40px;margin: 12px 0px 0 0;text-shadow: 1px 1px 4px #000;}
div.wf_prftxt h4 {float: left;width: 100%;text-align: center;font-size: 34px;margin: 10px 0;font-weight: normal;color: #fff;text-shadow: 1px 1px 4px #000;}
div.wf_prftxt p {font-size: 33px;width: 100%;text-align: center;text-shadow: 1px 1px 4px #000;float: left;}
div.wf_prftxt div.wf_btn.wf_support {font-size: 32px;padding: 5px 69px;margin: 0 0 0 369px;}
div.wf_abtSec {float: left;width: 100%;border-bottom: 2px dashed #444;padding-bottom: 20px;text-align: center;}
div.wf_abtSec h2{font-size: 32px;}
div.wf_abtSec h4{font-size: 25px;margin: 15px 0;}
div.wf_abtSec p{font-size: 15px;}
div.wf_suppBox {float: left;width: 100%;position: relative;}
div.wf_suppBox p {font-size: 100px;color: #fff;width: 100%;text-shadow: 1px 1px 4px #000;text-align: center;margin: 28px 0 13px 0;text-transform: uppercase;}
div.wf_dwnArw {text-align: center; cursor:pointer;}
div.wf_recipientBox.wf_suppRecBox {width: 100%;border: 0px;}
div.wf_recboder input[type=radio] {width: 20px;height: 20px;float: left;}
div.wf_recipientBox.wf_suppRecBox div.wf_productDetail{height: 244px;width: 419px;padding: 0 20px 0 10px;margin: 0; margin-bottom:10px;}
div.wf_recipientBox.wf_suppRecBox div.wf_productImg{height: 160px; overflow:hidden;}
div.wf_recboder {float: left;padding: 10px;box-shadow: 0px 0pc 1px 1px #CCCBCB;width: 45%;margin: 0 14px 28px 14px;}
div.wf_recboder:hover {box-shadow: 0px 0px 1px 1px #ff8226;}
div.wf_recboder h2 {float: left;width: 91%;color: #555;text-align: left;border-bottom: 1px dashed #999;margin-bottom: 10px;font-size: 21px;}
div.wf_donorBox{float: left;margin-bottom: 40px;}
div.wf_donorBox ul {float: left;margin: 0px;padding: 0px;}
div.wf_donorBox ul li {float: left;box-shadow: 0 0px 4px #aaa inset;border: 1px solid #999;list-style: none; padding: 7px 8px 8px 5px;margin-bottom: 20px;width: 261px;font-family: arial,tahoma,verdana,sans-serif;font-size: 18px; margin: 20px 24px;background: #fff;border-radius: 3px;}
div.wf_donorBox ul li span.wf_TS {float: left;text-align: center;background: #eee;padding: 13px 4px;width: 63px;font-size: 21px; margin: -13px 8px -13px 3px;border-radius: 5px;}
div.wf_donorBox ul li label {float: right;width: 179px;overflow: hidden;font-size: 20px;}
.error_wf{float: left;color: #D34F4F;background: #FCE2E6;border-radius: 5px;padding: 5px;font-size: 17px;margin: 10px 0;text-align: center;border: 1px solid #D34F4F; width:100%;}
.wf_plus_sign{float: left;width: 40px;margin-bottom: 20px;padding-top: 50px;font-size: 56px;color: #CCC;}
.wf_label_outer{overflow: hidden;position: absolute;height: 76px;}
.wf_label_inner{font-size: 12pt;font-family: "Segoe UI";text-align: center;color: #FFF;padding: 3px;position: relative;transform: rotate(-45deg);background: none repeat scroll 0% 0% #FC0303;left: -91px;width: 210px;top: 3px;}
.wf_free_text{margin-left: 5px;color: #F00; font-size: 14px;}
.wagfund_product_cont{width: 100%; float: left;}
.wagfund_product_catname{margin-top: 7px; float: left; margin-bottom: 5px; width: 960px; font-weight: normal; font-size: 16px; border-radius: 2px; padding: 6px 5px 6px 10px; background:#ddd; color:#555;}
.wagfund_product_list ul{width: 100%; float: left; margin: 0px; padding: 0px; list-style: outside none none;}
.wagfund_product_list ul>li {float: left; width: 315px; margin-top:10px; margin-bottom: 10px; padding-top: 15px; padding-bottom: 15px; border: 1px solid #ddd; margin-left:1px; margin-right: 6px;}
.wagfund_product_list ul>li:last-child{margin-right:0px; margin-top:5px;}
div.wf_productDetail{float: left;padding: 0px 11px;width: 115px; overflow: hidden;}
.wagfund_product_list_other ul{width: 100%; float: left; list-style: outside none none;}
.wagfund_product_list_other ul>li{float: left; width: 186px; border: 1px solid #ddd; margin-right: 6px; margin-top:10px; margin-bottom:5px; padding-top: 15px;padding-bottom: 15px;}
.kannan_fund_cont{ float:left; width:100%; margin-top:20px; margin-bottom:10px;}
.kannan_logo{ text-align:center; margin-bottom:10px;}
.kannan_fund_desc{ font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:19px; color:#555; text-align:left; }
.kannan_fund_desc a{ font-size:15px;  color:#555; text-align:left; text-decoration:none; color:#668000;}
.kannan_fund_desc a:hover{ text-decoration:none; color:#668900;}
div.wf_recboder_new{float: left; padding: 10px; box-shadow: 0px 0pc 1px 1px #CCCBCB; width: 450px; margin-top:20px;}
div.wf_recboder_new:hover {box-shadow: 0px 0px 1px 1px #ff8226;}
div.wf_recboder_new h2 {float: left;width: 91%;color: #555;text-align: left;border-bottom: 1px solid #999;margin-bottom: 10px;font-size: 18px; padding-bottom:5px; text-transform:uppercase; font-weight:500;}
.wf_recboder_newm_left{margin-left:25px;}
.animal_activites_text{width: 100%;float: left;font-size: 15px;font-family: arial;margin-top: 20px;color: #555;line-height: 21px;}
.animal_activites_text h1{text-align: left; float: left;width: 100%;  font-family: arial,tahoma,verdana,sans-serif; text-transform: uppercase; color: #555; font-weight: normal; margin-bottom:10px;}


