@charset "utf-8";
.newcustomer_text a,
.sign_btn {
    cursor: pointer
}

@font-face {
    font-family: SegoeUI;
    src: url(/new/common/font_source/SegoeUI.eot?) format('eot'), url(/new/common/font_source/SegoeUI.woff) format('woff'), url(/new/common/font_source/SegoeUI.ttf) format('truetype'), url(/new/common/font_source/SegoeUI.svg#SegoeUI) format('svg')
}

body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
    border-top: 1px solid #eee
}

@font-face {
    font-family: "Segoe UI";
    src: url(/new/common/font_source/segoeui_0.ttf);
    font-weight: 400;
    font-style: normal
}

dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
img,
li,
p,
table,
ul {
    margin: 0;
    padding: 0;
    border: 0
}

#headerContainer {
    background-color: #48BAF0;
    background-repeat: repeat;
    height: 94px;
    width: 100%;
    margin-bottom: 1px;
    position: relative
}

.head_left,
.headerContainer_left {
    float: left;
    background: #48BAF0;
    border-top: 1px solid #234697
}

.headerContainer_inside {
    margin: auto;
    width: 972px
}

.headerContainer_left {
    width: 200px;
    position: absolute;
    padding-right: 10px
}

.head_left {
    width: 50%;
    margin-left: -480px;
    height: 91px;
    z-index: 1;
    position: absolute
}

.head_center {
    margin: 0 auto;
    width: 972px
}

.logo,
.tabs {
    display: block;
    float: left;
    margin-right: 1px
}

.headerContainer_center {
    width: 100%;
    float: left;
    position: absolute;
    border-bottom: 1px solid #234697;
    border-left: 0 solid #234697;
    z-index: 0;
    background: url(/new/common/images/top_nav.png) repeat-x
}

.logo {
    width: 197px
}

.tabs {
    width: 90px;
    margin-left: 210px;
    border-left: 1px solid #234697;
    text-align: center
}

.tabs a {
    font-weight: 700;
    text-decoration: none;
    color: #444
}

.headerContainer_right {
    width: 400px;
    float: right;
    text-align: right;
    z-index: 999
}

.loginContainer {
    margin: 5px 0 0
}

.loginContainer img {
    vertical-align: middle;
    margin-left: 5px
}

.loginContainer span {
    font-size: 12px;
    color: #333;
    margin-right: 5px
}

.loginContainer a {
    color: #234696;
    text-decoration: none
}

.loginContainer .arrow {
    padding-right: 10px;
    position: relative
}

.slidingDiv {
    padding: 10px;
    border: 1px solid #d3d1d1;
    border-top-width: 4px;
    width: 400px;
    background: #fff;
    top: 0;
    left: 500px;
    z-index: 99
}

.show_hide {
    display: none
}

.basketContainer {
    box-shadow: inset 1px 1px 3px #666;
    -moz-box-shadow: inset 1px 1px 3px #666;
    background: #2B82D2;
    border-radius: 4px;
    text-align: center;
    float: right;
    margin-left: 10px;
    height: 27px
}

.searchbox,
.searchbox_submit {
    border: 0;
    background-color: transparent
}

.basketContainer img {
    padding: 6px;
    float: left
}

.basketContainer .item,
.rate {
    padding: 7px;
    font-size: 12px;
    color: #fff;
    float: left;
    display: inline-block
}

.basketContainer a {
    color: #fff;
    text-decoration: none
}

.basketContainer a:hover {
    color: #fff;
    text-decoration: underline
}

.searchwrapper {
    width: 178px;
    height: 27px;
    background-image: url(/new/common/images/icon-search-box.png);
    background-repeat: no-repeat;
    position: relative;
    float: right
}

.searchwrapper form {
    display: inline
}

.searchbox {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 140px;
    height: 24px;
    padding: 0 7px
}

.searchbox_submit {
    position: absolute;
    top: 0;
    left: 148px;
    width: 30px;
    height: 27px
}

#footer {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #666
}

#footerGreen {
    width: 940px;
    background: #2B82D2;
    padding: 5px 10px;
    margin: auto
}

#footerGreen p {
    font-size: 12px;
    line-height: 18px;
    color: #fff
}

#footerContent {
    width: 940px;
    overflow: auto;
    background: #362c23;
    padding: 10px;
    margin: auto;
    padding-bottom: 0!important
}

#footerContent_left {
    width: 685px;
    float: left
}

#footerContent_right {
    width: 255px;
    float: right
}

.footerContainer {
    margin-bottom: 10px;
    float: left
}

.footerContainer ul {
    list-style-type: none;
    float: left;
    width: 150px
}

.footerContainer li {
    font-size: 13px;
    line-height: 25px;
    display: block;
    margin-right: 20px
}

.footerContainer li a {
    color: #fff;
    text-decoration: none
}

.footerContainer li a:hover {
    color: #999
}

.footerContainer h3,
.happyClients h3 {
    color: #a9d701;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase
}

.footerContainer h3 {
    display: block;
    margin-bottom: 10px
}

#feedbackContainer,
.happyClients {
    margin-bottom: 20px
}

#feedbackContainer {
    border-radius: 5px;
    padding: 10px;
    background: #494542;
    width: 235px
}

.happyClients h3 {
    margin-bottom: 10px
}

.happyClients p {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 5px
}

.happyClients span {
    color: #999;
    font-size: 12px;
    font-weight: 400
}

.happyClients a {
    color: #fff;
    text-decoration: underline
}

.forgot_text a,
.newcustomer_text a,
a {
    text-decoration: none
}

.feedback {
    margin-bottom: 20px
}

.feedback h3 {
    color: #a9d701;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: uppercase
}

.feedback label {
    font-size: 13px;
    width: 100%;
    display: block;
    color: #fff
}

.feedback input,
.feedback textarea {
    float: right;
    width: 150px;
    padding: 0 5px
}

.feedback input {
    height: 22px
}

.feedback img {
    vertical-align: middle;
    margin-left: 71px
}

.divideLine {
    padding: 10px;
    border-radius: 20px;
    margin: 0 10px 10px 0;
    background: #75726f;
    height: 80px
}

.divideLine_inner {
    float: left;
    width: 31.5%;
    padding: 0 5px
}

.divideLine_heading {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px
}

.sprite {
    background: url(/new/common/images/dogspot_sprites.png)
}

.partners {
    width: 96px;
    height: 48px
}

.payment {
    width: 49px;
    height: 29px
}

.join {
    width: 30px;
    height: 30px
}

.loginSocial_sm {
    width: 21px;
    height: 21px
}

.loginSocial_big {
    width: 66px;
    height: 22px
}

.payu {
    background-position: -2px -2px
}

.ebs {
    background-position: -102px -2px
}

.junglee {
    background-position: -202px -2px
}

.shopclues {
    background-position: -302px -2px
}

.bluedart {
    background-position: -402px -2px
}

.delhivery {
    background-position: -502px -2px
}

.mastercard {
    background-position: -2px -60px
}

.visa {
    background-position: -55px -60px
}

.netbanking {
    background-position: -108px -60px
}

.cod {
    background-position: -161px -60px
}

.cheque {
    background-position: -214px -60px
}

.fb {
    background-position: -2px -99px
}

.twitter {
    background-position: -36px -99px
}

.gplus {
    background-position: -70px -99px
}

.linkedin {
    background-position: -104px -99px
}

.youtube {
    background-position: -138px -99px
}

.pinit {
    background-position: -171px -99px
}

.fb_sm {
    background-position: -2px -139px
}

.gm_sm {
    background-position: -28px -139px
}

.fb_big {
    background-position: -54px -139px
}

.gm_big {
    background-position: -125px -139px
}

.loginButton {
    width: 68px;
    height: 30px;
    background-position: -196px -139px
}

.cart_basket {
    float: left
}

.cart_basket .icon-basket1 {
    float: left;
    margin: 7px
}

.cart_basket_txt,
.new_item {
    margin-left: 30px
}

.cart_basket a {
    float: left;
    background: url(https://www.fishspot.in/new/common/images/cart_fish.png) 6px 7px no-repeat;
    padding-right: 6px
}

.cart_basket_txt {
    float: right;
    line-height: 32px;
    padding-right: 7px;
    color: #fff
}

.new_navigation>ul>li .bg-nav {
    background: url(/new/common/images/nav_line.jpg) no-repeat;
    float: left;
    width: 2px;
    height: 32px
}

.hdMeta,
.vs10 {
    width: 100%;
    overflow: hidden
}

.vs10 {
    height: 10px;
    float: left
}

.new_item,
.new_rate {
    float: left;
    line-height: 32px;
    color: #fff
}

.new_rate {
    margin-right: 7px
}

.fssInd {
    font-size: 1.1rem;
    z-index: 1
}

input,
select,
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0
}

.hdCart,
.hdLink,
.hdLogo,
.hdMenu,
.hdMeta,
.hdSearch,
.hdUsps {
    position: absolute;
    left: 16px
}

.hdMeta {
    top: 0;
    height: 27px
}

.tooltip_mid,
textarea {
    overflow: auto
}

.hdMetaLinks {
    float: right;
    font-size: 10px
}

.checkbox_bg_div,
.fl {
    float: left
}

.hdMetaLinks li {
    display: inline;
    padding-left: 5px
}

button,
input,
select,
textarea {
    font-size: 12px;
    vertical-align: middle;
    color: #2f2f2f
}

input.input-text,
textarea {
    padding: 2px
}

input.checkbox,
input.radio {
    margin-right: 3px
}

a {
    outline: 0;
    color: inherit
}

.checkbox_bg {
    clear: both;
    padding: 10px 0 15px;
    width: 250px
}

.checkbox_bg_div2 {
    font-size: 10px;
    margin: 2px 0 0;
    float: left
}

.fr {
    float: right
}

.clear {
    clear: both
}

.gender_div {
    padding: 5px 0 0;
    margin: 5px 0 0;
    width: 282px
}

.gender_box {
    font-weight: 400;
    float: left;
    padding: 2px 3px 0 0
}

.gender_radio {
    float: left
}

.gender_female,
.gender_male {
    float: left;
    padding: 2px 1px
}

.hdMetaLinks_new {
    float: right;
    font-size: 11px;
    margin-top: 5px
}

.hdMetaLinks_new li {
    display: inline;
    padding: 0 5px 0 0
}

.line_none {
    border: none!important;
    padding: 0!important
}

.tooltipBg {
    width: 236px;
    height: 185px
}

.tooltipBg .tooltip_close {
    float: right;
    padding: 3px;
    cursor: pointer;
    color: #ccc;
    font-size: 12px;
    letter-spacing: 1px
}

.tooltip_mid {
    width: 250px;
    background: #fcfafb;
    border: 1px solid #877b63;
    border-top: 4px solid #877b63!important;
    border-radius: 2px;
    margin-left: 20px;
    margin-top: -6px
}

.tooltip_mid_content {
    padding: 15px
}

.tooltip_mid-account {
    width: 144px;
    background: #fff;
    border: 1px solid #2B82D2;
    border-bottom: none!important
}

.signin_text {
    color: #000;
    font-size: 16px
}

.signin_input {
    border: 1px solid #ccc;
    padding: 5px;
    width: 230px;
    margin-top: 8px;
    color: #ccc;
    border-radius: 4px
}

.signin_input1 {
    border: 1px solid #ccc;
    padding: 5px;
    width: 220px;
    margin-top: 8px;
    color: #000;
    border-radius: 4px
}

.newcustomer_text {
    padding: 5px 0 0;
    font-size: 12px
}

.forgot_text {
    padding: 10px 0 0;
    font-size: 12px
}

.forgot_text a:hover {
    text-decoration: underline
}

.spot_li_hp>ul>li .fish_hp,
.spot_li_hp>ul>li .supp_hp,
.spot_li_hp>ul>li .supp_hp:hover,
.spot_li_hp>ul>li a,
ul.vert-one li a {
    text-decoration: none
}

.sign_btn {
    background: url(/new/common/images/dogspot_sprites.png) -196px -139px no-repeat;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    height: 31px;
    margin: 10px 0 0;
    padding: 2px 0;
    width: 68px
}

.hdMetaLinks_new li a.accountnew,
.hdMetaLinks_new li a.accountnew:hover {
    background-position: right;
    padding-right: 10px;
    background-image: url(/new/common/images/arrow-down-blue.png);
    background-repeat: no-repeat
}

.hdMetaLinks_new li a.arrow {
    padding-right: 10px;
    display: block
}

.old-login-div {
    position: absolute;
    z-index: 1000000;
    top: 34px;
    right: 0;
    display: none
}

.vert-one.new {
    width: 173px!important
}

.vert-one.new>li>a {
    border-bottom: 1px solid #ebebeb
}

.hdMetaLinks_new li a,
a.accountnew {
    color: #04507c;
    padding: 2px;
    display: inline
}

ul.vert-one {
    padding: 0;
    list-style-type: none;
    display: block;
    font-size: 12px;
    line-height: 30px
}

ul.vert-one li {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #48BAF0;
    background: #2B82D2
}

ul.vert-one li a {
    display: block;
    color: #FFF;
    padding: 0 0 0 15px
}

ul.vert-one li a:hover {
    background-color: #ebebeb;
    font-weight: 700;
    color: #2B82D2
}

ul.vert-one li a span.arrow-icon {
    background: url(/new/common/images/arrow-right-hover.png) right no-repeat;
    width: 8px;
    height: 8px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 7px
}

.dog_btn a,
.dog_btn a:hover {
    width: 91px;
    height: 38px;
    float: left;
    cursor: pointer
}

ul.vert-one li a.current,
ul.vert-one li a.current:hover {
    background-color: #ebebeb;
    font-weight: 700
}

.dog_btn {
    background-repeat: no-repeat;
    float: left;
    margin: 1px 0 0 1px
}

.dog_btn a:hover {
    background: url(/new/common/images/dog_hover.png) no-repeat
}

.spot_li_hp {
    position: relative
}

.spot_li_hp ul {
    float: left;
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif!important;
}

.spot_li_hp>ul>li {
    float: left;
    list-style: none;
    padding: 0 7px;
    font-size: 14px;
    line-height: 17px;
    height: 16px;
    border-right: 1px solid #888;
    color: #000
}

.spot_li_hp ul li.no_border_hp {
    border: 0
}

.spot_li_hp .logIN_box.fl {
    top: 24px;
    right: 0;
    z-index: 9999
}

span.index_arrow-bottom {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #3d4d00;
    position: absolute;
    top: -11px;
    right: 18px
}

.spot_li_hp .logDetail_box.fl li {
    line-height: 16px
}

.srch_hp.search_new input[type=text] {
    width: 572px;
    background: #fff;
    color: #333
}

.cart_hp {
    position: relative;
    border-radius: 3px;
    background: #eee;
    border: 1px solid #bfbfbf;
    color: #333;
    padding: 2px 10px;
    margin-top: 6px
}

div.labelCart_hp.fl {
    font-size: 17px;
    text-transform: uppercase;
    padding: 6px 7px 1px
}

div.item_hp {
    position: absolute;
    right: -10px;
    top: -10px;
    background: #6C9D06;
    color: #fff;
    width: 26px;
    padding: 4px 0;
    text-align: center;
    vertical-align: middle;
    border-radius: 12px
}

.LogINBox_hp .alt_log label,
.LogINBox_hp .check_logbox,
div.LoginBen_hp {
    text-align: left;
    float: left
}

div.imgCart_hp.fl {
    padding-top: 3px
}

.rytTop_hp .fb_dogSpot {
    margin-top: -2px;
    margin-right: 5px
}

.LogINBox_hp .check_logbox {
    font-family: SegoeUI;
    width: 208px;
    margin-left: 13px
}

.LogINBox_hp {
    font-family: SegoeUI;
    position: absolute;
    width: 710px;
    top: 50%;
    left: 50%;
    margin-left: -355px;
    margin-top: -200px;
    background: #f8f8f8;
    box-shadow: 0 0 1px 1px #888;
    z-index: 99999;
    height: 405px
}

div.logbanner_hp {
    position: absolute;
    z-index: 9;
    bottom: 0;
    right: 0
}

.LogINBox_hp .check_log {
    float: left;
    width: 455px;
    border: 1px solid #bfbfbf;
    padding: 10px;
    background: #fff;
    height: 362px;
    position: relative;
    margin: 10px
}

.LogINBox_hp .check_log label {
    font-size: 11pt;
    float: left;
    width: 234px;
    margin-top: 6px
}

.LogINBox_hp .check_log input#pass1,
.LogINBox_hp .check_log input#searchadd {
    width: 250px
}

div.LoginBen_hp {
    width: 197px;
    margin-top: 34px
}

div.LoginBen_hp h3 {
    font-size: 17px;
    color: #555;
    font-weight: 400;
    width: 197px;
    margin-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 1px solid #888
}

div.LoginBen_hp ul {
    float: left;
    margin: 0;
    padding: 5px 0 0;
    border-top: 1px solid #FFF
}

div.LoginBen_hp ul li {
    float: left;
    width: 161px;
    list-style: disc;
    color: #444;
    font-size: 14px;
    padding: 3px 0;
    margin-left: 33px
}

.ds-nav li,
.srchRslt_new ul,
ul.ds-nav,
ul.ds-nav-dropdown,
ul.poptabs,
ul.tabs-nav,
ul.whatsapp {
    list-style: none
}

p.btn_conti input[type=submit] {
    background: #b72903;
    background: -webkit-gradient(linear, left top, left bottom, from(#f07635), to(#b72903));
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    height: 32px;
    margin: 6px 0;
    text-transform: capitalize;
    padding: 2px 0;
    width: 80px;
    text-align: center
}

div.newUser_hp {
    float: left;
    background: #E0E0E0;
    width: 475px;
    color: #555;
    margin: -10px -10px 10px;
    font-size: 15px;
    padding: 5px 0;
    border-bottom: 1px solid #D1D0D0
}

div.newUser_hp a {
    color: #668000
}

.LogINBox_hp .check_logbox .eDetail_box.fl {
    margin: 2px 0 0
}

.LogINBox_hp .check_logbox .eDetail_box.fl label {
    margin-top: 0;
    margin-bottom: 4px
}

.LogINBox_hp .check_logbox .eDetail_box.fl select {
    width: 201px;
    border: 1px solid #888;
    border-radius: 5px
}

.LogINBox_hp .check_logbox input {
    margin-top: 5px;
    color: #333
}

.LogINBox_hp .check_logbox p.btn_conti {
    margin: 0;
    width: 96%
}

.LogINBox_hp .check_log h3 {
    font-size: 21px;
    float: left;
    width: 100%;
    margin: 5px 0 20px;
    color: #668000;
    font-weight: 400
}

.LogINBox_hp .check_logbox p.btn_conti input[type=button],
.LogINBox_hp .check_logbox p.btn_conti input[type=submit] {
    background: #b72903;
    background: -webkit-gradient(linear, left top, left bottom, from(#f07635), to(#b72903));
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    height: 32px;
    margin: 6px 0;
    text-transform: capitalize;
    padding: 2px 0;
    width: 100%;
    text-align: center
}

#search_bar_div,
.scrollHead_new {
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    background-color: rgba(255, 255, 255, .98)
}

.LogINBox_hp .check_logbox p {
    margin: 5px 0 10px
}

.scrollHead_new {
    float: left;
    position: fixed;
    top: 0;
    z-index: 9999
}

#search_bar_div,
.search_new.fl {
    position: relative
}

#search_bar_div {
    top: 0!important;
    z-index: 8888!important;
    padding-top: 0;
    margin-left: 0;
    display: none
}

.srchRslt_new,
.srchRslt_new li,
.srchRslt_new ul {
    z-index: 999;
    text-align: left
}

.srchRslt_new {
    padding: 0;
    border: 1px solid #bfbfbf;
    background-color: #fff;
    overflow: hidden;
    top: 32px;
    border-left: 0;
    left: 21px;
    position: absolute;
    width: 571px!important;
    border-radius: 2px
}

.srchRslt_new ul {
    width: 100%;
    padding: 0;
    margin: 0
}

.srchRslt_new li {
    margin: 0;
    padding: 6px 10px;
    cursor: default;
    display: block;
    border-left: 3px solid #bfbfbf;
    font: menu;
    border-bottom: 1px solid #bfbfbf;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden
}

.srchRslt_new li:hover {
    box-shadow: 1px 1px 34px 0 #ddd inset;
    border-left: 3px solid #666
}

.srchRslt_hp {
    float: left;
    width: 100%
}

.srchRsltImg_hp {
    float: left;
    margin: 5px
}

.srchRsltTxt_hp {
    float: left;
    margin: 20px 5px
}

div.errorPop {
    float: left;
    color: #D34F4F;
    background: #FCE2E6;
    border-radius: 0 0 5px 5px!important;
    padding: 7px 0!important;
    border: 1px solid #D34F4F;
    font-size: 13px;
    width: 100%;
    top: 0;
    text-align: center;
    left: 0;
    position: absolute;
    margin: -1px
}

.spot_li_hp>ul>li .fish_hp:hover {
    color: #2B82D2;
    text-decoration: none
}

.spot_li_hp>ul>li .supp_hp:hover {
    color: #668000
}

div.headSrch_hp {
    float: left;
    width: 100%;
    border-left: 3px solid #bbb;
    border-bottom: 1px solid #bfbfbf;
    color: #000;
    background: #eee;
    padding: 5px 11px;
    font-weight: 700;
    font-size: 14px
}

.srchRslt_new li .catSrch_hp {
    color: #668000
}

.hp_carr_iconnew,
.hp_ds_logonew,
.hp_loginwith_fb,
.hp_loginwith_gmail,
.hp_search_iconnew,
.or_img_iconnew {
    background: url(/new/common/images/sprites_ds.png) no-repeat;
    float: left;
    margin-left: 3px
}

.hp_search_iconnew {
    cursor: pointer;
    float: left;
    width: 42px;
    height: 34px;
    background-position: -3px -46px;
    margin-left: -5px
}

.hp_carr_iconnew {
    float: left;
    width: 26px;
    height: 25px;
    background-position: -46px -46px;
    margin-left: -3px
}

.or_img_iconnew {
    width: 35px;
    height: 175px;
    background-position: -462px -218px
}

.hp_loginwith_fb {
    width: 150px;
    height: 50px;
    background-position: -299px -319px
}

.hp_loginwith_gmail {
    width: 150px;
    height: 50px;
    background-position: -299px -376px
}

.hp_ds_logonew {
    width: 184px;
    height: 45px;
    background-position: -6px -266px;
    margin-left: 0!important
}

.headBox_new.fl {
    width: 100%;
    margin-top: 5px;
    position: relative
}

.logo_new.fl {
    margin: 0 25px 6px 0
}

.search_new.fl {
    margin: 5px 10px
}

.search_new input[type=text] {
    width: 340px;
    height: 33px;
    font-size: 16px;
    font-weight: 400;
    float: left;
    border-radius: 5px 0 0 5px;
    border: 1px solid #aaa;
    border-right: 0;
    padding: 0 10px
}

.search_new img {
    float: left
}

.ryt_box_new.fr {
    margin: 11px 0
}

.fb_dogSpot {
    float: left;
    margin: 4px 0 0 6px;
    position: relative;
    z-index: 9999
}

.logBox_new.fl {
    padding: 6px;
    background: #eee;
    margin-left: 7px;
    border-radius: 3px;
    font-size: 11px;
    border: 1px solid #aaa
}

.logBox_new.fl.active,
.logBox_new.fl:hover {
    background: #f7ffd8
}

.siteBox_new.fl {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px
}

.logoBox_new.fl {
    margin-left: 0;
    margin-bottom: 7px
}

.siteBanner.fl {
    background: #fff;
    font-family: Lato, sans-serif!important;
    position: relative;
    color: #5C5C5C;
    width: 100%;
    line-height: 23px;
    padding: 6px 0;
    border-bottom: 1px solid #e5e5e5;
}

.arw_box,
.close_new,
.logIN_box.fl,
.up_arw {
    position: absolute
}

.fl.bannerText {
    margin-right: 30px;
    font-size: 17px
}

.spot_li_hp>ul>li:last-child {
    border-right: 0
}

.logIN_box.fl {
    background: #fcfafb;
    padding: 5px 10px;
    width: 270px;
    border-radius: 0 0 2px 2px;
    border: 1px solid #3d4d00;
    border-top: 5px solid #3d4d00;
    top: 38px;
    z-index: 999
}

.log_Intext.fl {
    width: 100%;
    color: #3d4d00;
    font-size: 17px
}

.new_userTxt.fr {
    width: 100%;
    text-align: left;
    margin: 4px 0
}

.logIN_box a {
    text-decoration: underline;
    cursor: pointer
}

.logDetail_box.fl li a,
.logIN_box a:hover {
    text-decoration: none
}

.logDetail_box.fl {
    width: 270px
}

.eDetail_box.fl {
    width: 270px;
    margin: 8px 0
}

.eDetail_box.fl label {
    width: 70px;
    margin: 6px 0;
    float: left
}

.eDetail_box.fl input[type=password],
.eDetail_box.fl input[type=text],
select {
    width: 200px;
    border-radius: 2px;
    padding: 5px;
    border: 1px solid #bfbfbf;
    color: #000;
    margin: 0
}

.logIN_box input[type=button],
.logIN_box input[type=submit] {
    background: #b72903;
    background: -webkit-gradient(linear, left top, left bottom, from(#f07635), to(#b72903));
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    height: 34px;
    margin: 6px 0;
    padding: 2px 0;
    width: 100%;
    text-align: center
}

.logIN_box input[type=checkbox] {
    margin: 1px 4px
}

.careDetail {
    font-size: 14px
}

.logIN_box.fl .or_img {
    float: left;
    margin: 0 0 0 16px
}

.logDetail_box.fl li {
    float: left;
    list-style: none;
    width: 130px;
    padding: 5px
}

.logDetail_box.fl li a:hover {
    text-decoration: underline
}

.log_newHead {
    float: left;
    width: 140px;
    padding: 5px 15px;
    margin: 0 -10px -5px;
    border-top: 1px solid #bfbfbf
}

.log_newHead a {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e8e7e7));
    background: -moz-linear-gradient(top, #fff, #e8e7e7);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e8e7e7');
    background: -o-linear-gradient(#fff, #e8e7e7);
    border: 1px solid #cfcfcf;
    width: 130px;
    float: left;
    border-radius: 2px;
    text-decoration: none;
    padding: 5px;
    text-align: center
}

.down_arw,
.up_arw {
    padding: 8px;
    border-radius: 50%;
    float: right;
    cursor: pointer
}

.up_arw {
    right: 59px;
    margin-top: 3px;
    background: url(/new/common/images/arrow_full_up.png) no-repeat
}

.up_arw:hover {
    background: url(/new/common/images/arrow_full_up-hover.png) no-repeat
}

.down_arw {
    background: url(/new/common/images/arrow_down.png) no-repeat
}

.down_arw:hover {
    background: url(/new/common/images/arrow_down_hover.png) no-repeat
}

.arw_box {
    right: 48px;
    top: 0;
    padding: 5px 10px;
    border: 1px solid #aaa;
    background: #fff;
    border-top: 0;
    border-radius: 0 0 5px 5px
}

.close_new {
    float: right;
    right: 49px;
    padding: 4px
}

.breadcrumb {
    float: left
}

label.error {
    color: red!important;
    line-height: 17px!important;
    font: bolder 14px arial!important;
    margin-right: 1px!important;
    display: none!important;
    text-align: right!important;
    font-weight: 100!important;
    float: left;
    font-family: Arial!important;
    font-size: 12px!important
}

.action_btns,
.centeredText,
.or-sh {
    text-align: center
}

.action_btns,
.action_btns a,
.forgot_password_text,
.pop_login_left,
.pop_login_right,
.popupBody,
.popupContainer,
.popupHeader,
.popup_skip a,
.register_text_box_new,
.terms_of_service,
.user_register .checkbox,
select,
ul.poptabs {
    font-family: Arial, Helvetica, sans-serif
}

input.error {
    border: 1px medium!important
}

input::-webkit-input-placeholder {
    color: #CCC
}

input:focus::-webkit-input-placeholder {
    color: #fff
}

#loginFormnew input.error,
#resigterFormnew input.error,
#resigterFormnew select.error {
    border: 1px solid red
}

input:-moz-placeholder {
    color: #CCC
}

input:focus:-moz-placeholder {
    color: #fff
}

input::-moz-placeholder {
    color: #CCC
}

input:focus::-moz-placeholder {
    color: #fff
}

input:-ms-input-placeholder {
    color: #CCC
}

input:focus:-ms-input-placeholder {
    color: #fff
}

.login_page_lp {
    width: 305px;
    height: 196px;
    background: url(/new/common/images/dogspot_sprite_login.png) 0 -34px no-repeat
}

#lean_overlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    display: none
}

.popupContainer {
    position: absolute;
    width: 750px;
    height: auto;
    left: 45%;
    top: 80px;
    background: #FFF
}

.popup_sprites {
    background: url(/new/images/pop-login-icons.png) no-repeat
}

.popupHeader {
    font-size: 14px;
    text-transform: uppercase;
    background: #8cab3d;
    position: relative;
    padding: 10px 0 0 15px;
    overflow: hidden
}

.popupHeader .modal_close {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 20px;
    margin-right: 6px;
    margin-top: 6px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    background-position: -91px -7px
}

.popupBody {
    padding: 10px 20px;
    height: 350px
}

.lopin_icon {
    width: 132px;
    height: 48px;
    background-position: -128px -4px;
    margin: 10px auto auto;
    border: none;
    cursor: pointer;
    color: transparent
}

.register_icon {
    width: 136px;
    height: 48px;
    background-position: -263px -4px;
    border: none;
    cursor: pointer;
    color: transparent
}

.fb_icon,
.gplus_icon {
    height: 40px;
    width: 40px;
    border: none;
    color: transparent;
    cursor: pointer
}

.fb_icon {
    background-position: -5px -3px
}

.gplus_icon {
    background-position: -45px -3px
}

.popup_skip {
    float: right;
    margin-right: 20px;
    margin-top: -15px;
    margin-bottom: 10px
}

.popup_skip a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    cursor: pointer
}

.centeredText {
    margin: 10px 0 0;
    clear: both;
    text-transform: uppercase
}

.action_btns {
    clear: both;
    overflow: hidden
}

.action_btns a {
    display: inline-block
}

.user_login input[type=email],
.user_login input[type=password],
.user_login input[type=text] {
    border-radius: 3px;
    padding: 9px;
    border: 1px solid #ccc;
    color: #666;
    font-size: 14px
}

.user_login input[type=checkbox] {
    float: left;
    margin-right: 5px
}

.user_login input[type=checkbox]+label {
    float: left
}

.margin_top {
    margin-top: 10px
}

.user_login .checkbox {
    clear: both;
    overflow: hidden;
    margin-left: 7px
}

.forgot_password {
    margin: 0 0 10px;
    clear: both;
    overflow: hidden;
    text-decoration: none;
    color: #333
}

.text_box_popup {
    margin-bottom: 10px
}

.text_box_popup340 {
    width: 340px
}

.text_box_popup152 {
    width: 165px
}

.text_box_drop {
    padding: 9px;
    width: 165px!important
}

.text_box_mrl10 {
    margin-left: 10px
}

.forgot_password_text {
    display: inline-block;
    margin-left: 75px;
    font-size: 14px
}

.register_text_box {
    background: #333;
    width: 330px;
    border-radius: 3px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    color: #fff;
    padding: 9px 10px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px
}

.or-sh {
    border-top: 1px solid #ccc;
    margin-top: 20px
}

.or-sh span {
    position: relative;
    background: #fff;
    font-size: 14px;
    top: -10px;
    color: #aaa;
    padding: 6px;
    border-radius: 16px;
    border: 1px solid #aaa
}

.user_login label,
.user_register {
    display: inline-block;
    font-size: 14px
}

.user_register input [type=password],
.user_register input[type=email],
.user_register input[type=text] {
    border-radius: 3px;
    padding: 9px;
    border: 1px solid #ccc;
    color: #666;
    font-size: 14px
}

.user_register input[type=checkbox] {
    float: left;
    margin-right: 5px
}

.user_register input[type=checkbox]+label {
    float: left
}

.user_register .checkbox {
    margin-bottom: 10px;
    clear: both;
    overflow: hidden
}

.pop_login_left {
    float: left;
    width: 290px
}

.pop_login_right {
    float: left;
    width: 360px;
    margin-left: 15px
}

ul.poptabs {
    margin: 0;
    padding: 0;
    float: left
}

ul.poptabs li {
    background: 0 0;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer
}

.address_sel,
.tab-content {
    background: #fff
}

ul.poptabs li.current {
    background: #fff;
    color: #8cab3d;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-top: 5px
}

.tab-content {
    display: none;
    padding: 0 15px 15px
}

.tab-content.current {
    display: inherit
}

select {
    border-radius: 3px;
    padding: 0 9px;
    border: 1px solid #ccc;
    color: #666;
    font-size: 14px
}

.box {
    padding: 10px 5px 5px;
    display: none;
    margin-top: 10px;
    float: left;
    width: 645px;
    border-top: 1px solid #ddd
}

.forgot_password_error {
    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
    color: #D34F4F
}

.terms_of_service {
    color: #333;
    font-size: 14px;
    text-decoration: underline
}

.email_text,
.errorPop_new {
    text-align: left;
    font-size: 13px
}

.errorPop_new {
    color: #D34F4F;
    margin-left: 9px;
    margin-bottom: 5px
}

.imagerotate {
    background-size: 100%;
    margin-top: 10px;
    width: 279px;
    height: 283px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    z-index: 9990
}

.send_password_text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 260px
}

.check_logbox {
    margin-bottom: 10px;
    margin-top: 10px
}

.email_text {
    margin-left: 10px;
    margin-top: 6px
}

.send_password {
    background: #8cab3d;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    width: 85px;
    height: 36px;
    margin-left: -5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #8cab3d
}

.register_text_box_new {
    background: #333;
    width: 240px;
    border-radius: 3px;
    font-size: 14px;
    margin-left: 5px;
    color: #fff;
    padding: 5px;
    margin-top: 10px;
    text-align: center
}

.header div,
.header p {
    font-size: 13px!important;
    color: #555!important
}

.ds-header-new_cont {
    background: #fff;
    width: 100%;
    min-width: 972px;
    float: left;
    font-family: Lato, sans-serif;
    font-size: 14px
}

ul.tabs-nav {
    padding: 0;
    width: 972px;
    margin: auto;
    text-align: left
}

ul.tabs-nav li:first-child {
    margin-left: 0
}

ul.tabs-nav li {
    background: 0 0;
    text-transform: uppercase;
    font-size: 18px;
    color: #000;
    display: inline-block;
    margin: 7px 11px 4px;
    letter-spacing: .5px;
    padding-bottom: 3px;
    cursor: pointer;
    font-family: Lato, sans-serif!important
}

#ds-header-new,
.ds-nav>li>a {
    font-family: Lato, sans-serif;
    font-size: 14px;
}

ul.tabs-nav li a {
    color: #fff;
    text-decoration: none
}

ul.tabs-nav li.current {
    border-bottom: 3px solid #000;
    color: #555
}

ul.tabs-nav li.current a {
    color: #555
}

.nav-content.current {
    display: inherit
}

.nav-content {
    display: none;
    background: #F7FFD8;
    padding-top: 0
}

.nav_wrap {
    width: 100%;
    margin: auto
}

#ds-header-new {

    text-align: left;
    background: #fff;
    width: 100%;
    float: left;
    border-bottom: 1px solid #e5e5e5;
}

.ds-nav {
    width: 972px;
    height: 37px;
    margin: auto;
    display: table;
	 
	
}

.ds-nav>li,
.ds-nav>li>a {
    display: table-cell;
    vertical-align: middle
}

ul.ds-nav {
    padding: 0;
	
}

.ds-nav>li {
    padding: 0;
    position: relative;
}

.ds-nav>li:last-child,
.ds-nav>li:last-child>a {
    border-right: 0
}

.ds-nav>li:first-child,
.ds-nav>li:first-child>a {
    border-left: 0
}

.ds-nav>li>a {
    background-repeat: no-repeat;
    background-position: left;
    padding-right: 8px;
    padding-left: 8px;
    color: #444;
    letter-spacing: 1px;
    text-decoration: none;
    height: 33px;
	padding-bottom:3px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
	text-transform:uppercase;
	font-size:14.6px; 
	font-weight:600;
}

.ds-nav>li:hover>a {
    background: #f9f9f9;
    color: #ff8a00;
}
.ds-nav>li a:hover>span{    color: #ff8a00;}
.ds-nav>li:hover>div {
    display: block
}

.ds-nav>li>div {
    position: absolute;
    left: 0;
    top: 37.5px;
    display: none;
    background: #fff;
    padding: 0px;
    overflow: hidden;
    z-index: 999999;
	border:1px solid #e5e5e5;
	border-top:0px;
}

.ds-nav>li>div.right {
    right: 0;
    left: auto
}

.drop-container-dog {
    width: 972px
}

.drop-container-cat {
    width: 150px
}

.drop-list-cat {
    float: left;
    width: 142px;
	padding:10px 10px; 
	vertical-align: top;
    margin-bottom: -2000px;
    padding-bottom:2000px;
}

.drop-list-brand {
    float: left;
    width: 152px;
	padding:0px 5px;
}

.view-all-products {
    width: 260px
}

.view-all-products-cat {
    width: 130px
}

.view-all-products,
.view-all-products-cat {
    float: left;
    border: 2px solid #fff;
    padding: 10px;
    margin-top: 5px;
    border-radius: 2px;
    text-align: center
}

.view-all-products a,
.view-all-products a:hover,
.view-all-products-cat a,
.view-all-products-cat a:hover {
    text-decoration: none;
    color: #fff;
    font-size: 14px
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

ul.ds-nav-dropdown {
    text-align: left;
    padding: 0;
    margin: 0
}

ul.ds-nav-dropdown li {
    text-align: left;
    margin-bottom: 8px;
    border: 0
}

ul.ds-nav-dropdown li a {
    text-decoration: none;
    color: #555;
    font-size: 13.5px
}

.shob-by-brands,
.shob-by-cat {
    font-size: 13.5px;
    font-family: lato,sans-serif;
    font-weight: 700;
    text-align: left;
    margin-bottom: 10px;
    color: #333;
}
.shob-by-cat a{ text-decoration:none;}
.drop-nav-right {
    right: 0;
    left: inherit!important
}

.drop-nav-space-art,
.drop-nav-space-cat {
    width: 125px
}

ul.whatsapp {
    padding: 0;
    background: #fff
}

ul.whatsapp li {
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left
}

ul.whatsapp li a {
    display: block;
    padding: 0;
    margin-top: -4px;
    color: #333;
    text-decoration: none
}

ul.whatsapp li a:hover {
    color: #fff;
    background: #fff
}

ul.whatsapp li ul.whatsapp_drop {
    min-width: 125px;
    background: #f8f8f8;
    display: none;
    position: absolute;
    z-index: 9999;
    left: 0;
    margin-top: 5px
}

ul.whatsapp li ul {
    padding: 0
}

ul.whatsapp li:hover ul.whatsapp_drop {
    display: block
}

ul.whatsapp li ul.whatsapp_drop li {
    display: block;
    width: 550px;
    font-family: "Segoe UI";
    padding: 10px;
    border: 1px solid #ddd
}

.spot_li_hp>ul>li:first-child {
    padding-left: 0
}
.drp-svg{margin-left: 8px;
-webkit-transform: rotate(270deg);
transform: rotate(270deg);}
.drv-svg{fill="#444"}
.drp-arrow-nav{content: '';
opacity: 1;
position: absolute;
width: 0;
height: 0;
border-left: 4px solid #c2c2c2;
border-right: 4px solid transparent;
border-top: 4px solid transparent;
border-bottom: 4px solid transparent;
margin-left: 6px;
margin-top: 5px;}
.drp-arrow-nav:hover{border-left: 4px solid #ff8a00;
border-right: 4px solid transparent;
border-top: 4px solid transparent;}
.smrt-deal a{ background:#fff;}
.smrt-deal a:hover{background: #fff;
color: #ff8a00 !important;}
.nev-bg-gray{ background:#f9f9f9 !important;}
/*._3Ed3Ub ._3mmoxn .3Der3h{ opecity:1;
flill:#ffe11b;}*/
.shob-by-cat a:hover{color:#ff8a00; text-decoration:none;}
ul.ds-nav-dropdown li a:hover{color:#ff8a00}
.cat-left{left: -83px !important;}
.fish-left{ background:}
.other-nav{ width:150px; padding:10px !important;}
.offer-nav a{color:#ff8a00 !important; background:#fff!important;}
.offer-nav a:hover{color:#444 !important;}