body{ padding:0px; margin:0px; font-family:AvenirNext-Regular; color:#555;}
@font-face {font-family: AvenirNext-Regular;src: url(fonts/avenir-next-regular.ttf);}
@font-face {font-family: AvenirNext-Medium;src: url(fonts/AvenirNext-Medium.ttf);}
@font-face {font-family: Palatino-Italic;src: url(fonts/texgyrepagella-italic.otf);}
.checkout-block, .container, .checkou-footer{ float:left; width:100%; margin:auto;}
.checkout-navbar{ background:#fbfbfb; width:100%; float:left; box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05); border-bottom:solid 1px #ededed;}
.checkout-navbar .navbar-header, .checkou-sec, .checkou-footer-sec{ margin:auto; width:1024px; font-family:AvenirNext-Medium; }
.checkou-sec h1{font-size: 24px;color: #4a4a4a;; font-family:AvenirNext-Medium; padding:15px 0px; font-weight:normal; margin-bottom:0px;}
.checkou-sec .new-login-form{ float:left; width:100%;}
.new-login-form-details, .new-login-form-social{ float:left; width:446px;}
.new-login-form-full{ width:100%; float:left;}
.new-login-form-social .connect-social{ font-size:16px; font-family:Palatino-Italic; color:#555; margin-top:40px;}
.email-text-text{ font-size:16px; margin-top:20px;  color:#4a4a4a; font-family:AvenirNext-Medium;}
.email-text-box input, .email-text-box select, .email-text-box textarea{box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2);border: solid 1px #979797; margin-top:20px; width:280px;  padding:10px; border-radius:3px;  font-size:14px; color:#555; font-family:AvenirNext-Medium;}
.contuinue-btn{ margin-top:35px;}
.btn{color:#fff; text-decoration:none; width:215px; height:50px; border:none; font-size:16px; border-radius:3px; cursor:pointer; font-family: AvenirNext-Medium;font-size:18px;}
.btn{ background:#6c9d06;}
.btn-guest{background:#fff; margin-left:20px; border:1px solid #6c9d06; color:#6c9d06; text-decoration:none; width:172px; height:50px;  font-size:14px; border-radius:3px; cursor:pointer; font-family: AvenirNext-Regular; font-size:16px;}
.continue-shopping-btn{color:#6c9d06; background:none; text-decoration:none; width:172px; height:45px;   border:1px solid #6c9d06; font-size:13px; border-radius:3px; cursor:pointer; text-transform:uppercase; font-family: AvenirNext-Medium;font-size:13px; }
.btn{ background:#6c9d06; }
.step1_dwd {margin:0px 40px;float: left; width:52px;}
.new-login-form-social ul{ list-style:none; padding:0px; margin:0px; margin-top:15px;}
.new-login-form-social ul>li{ display:inline; }
.new-login-form-social ul>li:first-child{ margin-right:20px;}
.checkou-footer-sec .footer-col{ float:left; width:33.3%; text-align:center;}
.footer-col:first-child{ text-align:left;}
.footer-col ul{ list-style:none; padding:0px; margin:0px;}
.footer-col ul>li{ display:inline; font-size:14px; padding-left:10px; color:#555;}
.footer-col ul>li:first-child{ padding-left:0px;}
.footer-col ul>li a{ text-decoration:none; color:#555;}
.checkou-footer{padding: 15px 0px;border-top: 1px solid #dcdcdc; z-index:9999; background:#fff; margin-top:30px;}
.checkou-fixd{bottom: 0px;position: absolute; }
.forgot-password{text-align: right; margin-right: 125px; margin-top: -15px; float: right;}
.forgot-password a{font-size: 14px; text-decoration: none; color: #6c9d06;}
.email-text-box label {  font-size: 14px;color: #888;margin-left: 25px; position: absolute;margin-top: :20px;padding-top: 20px; }
.email-text-box textarea{  resize:none; font-family:AvenirNext-Medium; font-size:14px; height: 60px;}
.pick-address-book .p-btns{background:#fff; margin-left:20px; border:1px solid #6c9d06; color:#6c9d06; text-decoration:none; width:202px; height:45px;  font-size:14px; border-radius:3px; cursor:pointer; margin-top:180px; font-family: AvenirNext-Medium;}
.address-book{ border:1px solid #ddd; margin-top:15px; padding:20px; width:368px; border-radius:3px;margin-bottom: 15px;float: left;} 
.address-book .cs-full-name{font-size:16px;  font-family: AvenirNext-Medium;}
.address-book .cs-address{ font-size:14px; line-height:20px; margin-top:20px; color:#666; font-family: AvenirNext-Medium;}
.address-delete{text-align: right; margin-top: -20px;float: right;}
ul.checkout-steps{ float:left; width:512px; margin:0px; padding:0px; list-style:none;}
ul.checkout-steps li{float: left;width: 126px;text-align: center; font-size:14px; color:#555;margin-top: 15px; padding-bottom: 15px;margin-left: 20px;margin-right: 20px}
ul.checkout-steps li a{ text-decoration:none; color:#555; }
.chek-out-logo{ float:left; width:256px; margin:17px 0px; }
ul.checkout-steps li .txt{ margin-top:7px;}
.header-sprie{background: url(../images/header-sprite.jpg) no-repeat;  margin:auto;}
.shipping-icon{width:30px; height:23px;background-position: -49px 0px;;}
.shipping-icon-active{ width:30px; height:23px;background-position: -6px -0px;}
.payment-icon{  width:30px; height:24px; background-position: -135px -1px;}
.payment-icon-active{width:23px; height:24px; background-position: -97px -1px;}
.confirmation-icon{width:20px; height:24px; background-position: -173px -1px}
li.active{ border-bottom:3px solid #6c9d06;margin-top: 15px;padding-bottom: 15px;}
.active a{ text-decoration:none; color:#6c9d06 !important; }
ul.nav-right, .continue-shopping{font-size: 14px;float: right; width: 256px;  list-style: none;margin: 0px;padding: 0px; font-size: 14px;  text-align:right;}
ul.nav-right{margin-top: 30px;}
.continue-shopping{ margin-top:15px;}
.user-icon{background-position: -196px -6px;width: 21px;height: 23px; margin-right:5px; padding: 1px 10px;}
.checkout-close{ float:right; text-align:right;}
.checkout-close .close-icon{width: 45px;height: 43px;background-position: -29px -68px; margin-top: -20px;}
.conform-sec{margin:auto; text-align:center; margin-top:25px; float:left; width:100%;}
.conform-icon-new{width: 30px;height: 30px;background-position: -76px -79px;}
.thank-you-placed{ font-size:24px; margin-top:25px; margin-bottom:25px;font-family: AvenirNext-Medium;}
.dogspot-order-number{ margin-top:25px; font-size:22px; margin-bottom:25px; font-size:18px;}
.security-icons{ width:270px; height: 27px;  background-position: 6px -36px; margin-top:-3px;}
.facebook-icon{ }
.Weve-sent-you{font-family: AvenirNext-Regular;font-size: 15px}
ul.payment-tabs{margin: 0px;padding: 0px;list-style: none;float:left;width:200px;}
ul.payment-tabs li{background: none;color: #222;display:block;padding: 5px 0px;cursor: pointer;width:199px;font-family: AvenirNext-Medium;font-size: 15px;line-height: 1.0;margin-bottom:20px;}
ul.payment-tabs li.current{border-right:3px solid #6c9d06;color: #6c9d06;position:relative;}
.payment-tab-content{display: none;background: #fff;padding: 0px 15px;float:left;width:480px; height:520px; border-left:1px solid #dfdfdf;}
.payment-tab-content.current{display: inherit;}
div.payDetail_new {float: left;margin: 3px 0;}
div.bankBox.fl { background: #f8f8f8; margin:5px 5px 5px 5px;border-radius: 3px;border: 1px solid #f4f4f4;width: 153px;height: 30px;padding: 10px 25px 10px 5px;display:inline-block;box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);}
div.bankBox.fl input[type="radio"] {float: left;margin-top: 10px;margin-right: 20px;}
.sbi, .axis, .citi, .hdfc, .icici, .kotak {background: url(../images/sprites-bank.png) no-repeat;margin-left:30px;}
.sbi {background-position: 0 -113px;width: 109px;height: 30px;}
.citi {background-position: 0 -51px;width: 100px;height: 26px;}
.hdfc {background-position: 0 -31px;width: 108px;height: 18px;margin-top: 7px;}
.axis {background-position: 0 -82px;width: 111px;height: 27px;}
.kotak {background-position: 0 -146px;width: 94px;height: 30px;}
.icici {background-position: 0 -2px;width: 110px;height: 23px;}
 .popular-banks{margin-bottom:20px;}
 .all-other-banks{ width:100%; float:left;     margin-top: 10px;}
.popular-banks, .all-other-banks, .credit-card-details, .payu-details{ font-size:18px; margin-left:5px; font-family: AvenirNext-Medium;}
.slect-bank select{ padding-left:5px; font-family: AvenirNext-Medium; margin:0px 5px 15px 0px;   margin-top:20px; color:#555;  border: solid 1px #d8d8d8;  background-color: #ffffff; border-radius: 3px; width:300px; height:36px;}		
.safe-icon{width: 20px;height: 20px; background-position: -229px -5px; display: inline-block;vertical-align: middle; margin-right: 5px;margin-left: 40px;}
.payment-mode-block, .cart-item-block{ float:left; width:714px;}
.order-block{margin-top:10px;}
.payment-mode-block{margin-top:10px;}
.order-block, .cart-placeorder-block, .cart-palce-order-sec{float:left; width:310px;}
.items-in-order{ font-family: AvenirNext-Regular;font-size: 16px;line-height: 1.6;color: #4a4a4a;}
.order-edit{ float:right;}
.order-edit a{ text-decoration:none; color:#6c9d06;}
.slect-bank{ margin-bottom:10px;}
.order-select-box{float:left; width: 310px;background-color: #fafafa; border: solid 1px rgba(150, 150, 150, 0.05); margin-top:10px;}
ul.product-order-details{ list-style:none; padding:0px 10px; float:left; margin:0px; }
.product-order-image{float:left; width:50px;}
.product-order-image img{ border:1px solid #ddd; width:40px; height:auto; border-radius:2px; }
.product-order-text{float:left; width:185px; font-size:12px; line-height:18px;}
.order-item-price{float:left; width:55px; font-size:12px; text-align:right;}
ul.product-order-details li{ border-bottom:1px solid #ddd; padding:20px 0px; float:left;}
.order-item-quantity{ color:#888; font-size:11px;}
ul.product-order-details li:last-child{ border-bottom:none;}
ul.order-item-summery { margin:0px; padding:0px; float:left; list-style:none; width:100%; margin-bottom:0px;}
ul.order-item-summery  li{padding:5px 0px; margin:0px 10px; float:left; width:285px; }
ul.order-item-summery li:first-child{ border-top:1px solid #ddd; padding-top: 10px;}
.order-item-summery li:last-child{border-bottom:1px solid #ddd; overflow:hidden; padding-bottom: 10px;}
.order-item-summeryl, .order-item-summeryr, .you-payl, .you-payr{ float:left; width:50%; font-size:12px;}
.order-item-summeryr,  .you-payr{ text-align:right;}
ul.you-pay{ list-style:none; float:left; width:100%; margin: 0px; padding: 0px;     margin-bottom: 20px; text-transform:uppercase;}
ul.you-pay li{ padding:10px 0px; margin:0px 15px;}
.you-payl, .you-payr{ font-size:18px; color:#6c9d06; font-family: AvenirNext-Medium;}
.promo-code-box{ float:left; width:100%; margin-top:10px; }
.promo-code-box input{font-family: AvenirNext-Medium;font-size:14px;}
.promo-code-box .text-box{background:#fff; width: 216px; height:37px; border:1px solid #ddd; padding:0px 10px;}
.promo-code-box .promo-btn{background:#fff; border:1px solid #ddd; margin-left:-4px; vertical-align:middle;border-left:none; height:39px; width: 72px;
cursor:pointer; font-size:18px; color:#6c9d06; vertical-align: top;}
.cod-content, .payu-content{ margin-bottom:20px; margin-left:5px;}
.payment-page-input input, .payment-expire input, .saved-card-ccv input, .payment-expire select ,.slect-banks select{box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2);border: solid 1px #979797; width:280px; padding:10px; border-radius:3px;  font-size:14px;font-family: AvenirNext-Medium;color: #555; }
.payment-expire select{width:94px;text-align: center;margin-right: 5px;}
.payment-expire input{width:60px;text-align: center;}
.saved-card-ccv input{width:60px;text-align: center; margin-top:7px; margin-left:0px;}
.payment-page-input input{width:280px;}
.expire-line, .cvv-line, .cvv-line-new{ display:inline;}
.cvv-line{margin-left: 144px;}
.procced-to-payment-block{ float:left; margin-top:15px;}
.info{margin-top:22px;  width: 20px;height: 18px;background-position: -249px -5px; cursor:pointer;}
a.tooltip {outline:none; }
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;} 
a.tooltip span {z-index:10;display:none; padding:10px 0px;margin-top:10px; margin-left:28px;width:211px; line-height:16px;}
a.tooltip:hover span{ display:inline; position:absolute; color:#111; border:1px solid #888; background:#fff; font-family:sans-serif;}
.callout {z-index:20;position:absolute;top:20px;border:0;left:-12px;}
a.tooltip span{border-radius:4px;box-shadow: 5px 5px 8px #CCC;}
.visa-icon{width: 45px;height: 29px;background-position: 4px -170px;position: absolute;margin-left: 5px; margin-top:2px;}
#error{ color:#f00;}
.customer-support-box{ border:1px solid #dcdcdc; width:428px;  margin:auto; padding:20px 15px; font-size:14px; overflow:hidden;   }
.customer-support-box ul{ list-style:none; margin:0px; padding:0px; font-family: AvenirNext-Medium;     font-size: 13px;}
.customer-support-box ul li{  float: left;width: 185px;text-align: left;margin-top: 20px;padding-left: 28px;}
.customer-support-box ul li:first-child{ border-right:1px solid #dcdcdc;}
.icon-sec{float:left;  background-position:-80px -30px; }
.customer-support-sec{ float:left; margin:auto; width:100%; margin-top:40px;}
.call-icon{ background-position: -56px -176px;width: 20px;height: 22px;float: left;margin-right: 5px; }
.email-icon{background-position: -83px -176px;width: 20px;height: 22px;float: left;margin-right: 5px;}
/*cart css start */
ul.you-pay-cart{margin-bottom:15px;}
table{border-collapse:collapse; }
table.table-cart-sec{ border-bottom:1px solid #ddd;  width:640px; margin-bottom:20px;}

.cart-item-block ul{ list-style:none; margin:0px; padding:0px; margin-top:15px;    font-size: 14px}
.cart-item-block ul li{ float:left; border-right:1px solid #ddd; padding: 0px 11px; font-size:12px;}
.cart-item-block ul li:first-child{ border-right:none; padding:}
.cart-item-block ul li:nth-child(2){ margin-top:10px;}
.cart-item-block ul li:nth-child(3){ margin-top:10px;}
.cart-item-block ul li a{text-decoration:none; color:#666;}
.minus-icon{ width: 20px;height: 25px; border: none;background-position: -112px -174px;vertical-align: middle; margin-right:5px; cursor:pointer;}
.cart-item-block ul li .quntity-box{width: 57px;background: #f8f8f8;border: 1px solid #f8f8f8;text-align: center;
padding:6px;color: #222;text-transform: uppercase; font-size: 14px;font-family: AvenirNext-Medium; }
.plus-icon{width: 20px;height: 25px;border: none;background-position: -130px -174px;vertical-align: middle; margin-left:5px;cursor:pointer;}
.you-pay-text-box{padding: 15px;}
.cart-placeorder-block{width:308px; background-color: #fafafa; border: solid 1px rgba(150, 150, 150, 0.05);}

.minus-dull-icon, .plus-dull-icon{opacity: 0.5;}
.cart-item-block, .dstabs{ float:left; width: 685px;border-right: 2px solid #f8f8f8;margin-right: 25px; 
 }
	a.cart-tooltip {outline:none; }
a.cart-tooltip strong {line-height:30px;}
a.cart-tooltip:hover {text-decoration:none;} 
a.cart-tooltip span {z-index:10;display:none;margin-top:10px; margin-left:28px;width:211px; line-height:16px; padding:10px;}
a.cart-tooltip:hover span{ display:inline; position:relative; color:#111; border:1px solid #888;   border-radius: 5px;-webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px); background-color: #666666; color:#fff; position:absolute; margin-top:10px; left:36%;  font-size: 12px;font-weight: normal;color: #ffffff;}
a.cart-tooltip:hover span::before{content: ''; position: absolute;left: 69%; top: -10px;width: 0;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 10px solid #666666;clear: both;}
.callout {z-index:20;position:absolute;top:20px;border:0;left:-12px;}
a.cart-tooltip span{border-radius:4px;box-shadow: 5px 5px 8px #CCC;}

.plus-icon{width: 20px;height: 25px;border: none;background-position: -130px -174px;vertical-align: middle; margin-left:5px;}
::-webkit-input-placeholder {color: #333;}
:-moz-placeholder {color: #333;}
::-moz-placeholder { color: #333; }
:-ms-input-placeholder { color: #333;}
.promo-code-applied{margin-top: 15px;float: left;}
.applied-text{float: left;text-transform: uppercase;font-size: 13px;color: #6c9d06}
.applied-text input{ vertical-align:middle;}
.applied-text a{text-decoration:none; margin-left:8px; color:#555; margin-left: 60px;}
.check-box{width:23px; height:20px;background-position: -170px -179px; margin-right: 3px; margin-left: 6px; float:left;}
.saved-card-box{width: 400px;border: solid 1px rgba(150, 150, 150, 0.23); float:left; padding: 20px 10px; margin-top:4px; margin-bottom:20px;}
.saved-check-box, .saved-bank-details, .saved-bank-icons{ float:left;}
.saved-check-box{ width:50px;}
.saved-bank-details{ width:283px;}
.saved-bank-icons{width:66px;}
.saved-bank-icons img{ width:40px; height:auto;}
.saved-bank-details .saved-bank-name{font-size: 10px;font-weight: normal;line-height: 1.5;color: #4a4a4a;}
.saved-bank-accounts{font-size: 18px;font-weight: normal;line-height: 1.44;color: #666666;}
.visa-icon-new{width: 45px;height: 29px;background-position: 4px -204px;position: absolute;margin-left: 5px;margin-top: 2px;}
.american-express-icon{width: 50px;height: 30px;background-position: -36px -204px; position: absolute;margin-left: 5px;margin-top: 2px}
.union-pay-icon{width: 50px;height: 37px;background-position: -90px -204px;position: absolute;margin-left: 5px;margin-top: 2px;}
.master-card-icon{width: 50px;height: 37px;background-position: -141px -204px;position: absolute;margin-left: 5px;margin-top: 2px;}
.discover-icon{width: 50px;height: 37px;background-position: -202px -204px;position: absolute;margin-left: 5px;margin-top: 2px;}
.diners-club-icon{width: 45px;height: 29px;background-position: 4px -245px;position: absolute;margin-left: 5px;margin-top: 2px;}
.maestro-icon{width: 45px; height: 32px;background-position: -48px -244px;position: absolute;margin-left: 5px;margin-top: 2px;}
.citrus-icon{width: 45px; height: 32px;background-position: -90px -244px;position: absolute;margin-left: 5px;margin-top: 2px;}
.saved-card-ccv{float:left; width:100%; margin-top:30px;}
.ptb-btn-sec{float: left;width: 100%;margin-top: 15px;}
.saved-bank-details-sec{float: left;width: 100%;margin-left: 50px;}
.saved-check-box input[type=radio] {display:none;}
.saved-check-box input[type=radio] + label{padding-left:31px;display:inline-block; line-height:24px;background-repeat:no-repeat;cursor:pointer;}
.saved-check-box input[type=radio]:checked + label {background-position: 0 -24px;}
.saved-check-box label{background-image:url('../images/radio2.png');}
.apply-promo-code{ margin-top:10px;  color:#6c9d06; margin-left: 69px;text-transform: uppercase;font-size: 13px; cursor:pointer;}
.plus-promo-icon{width: 23px;height: 20px; background-position: -192px -179px; margin-right: 3px;margin-left: 6px;float: left;}
.see-all-orders{  color:#6c9d06;     text-transform: uppercase;font-size: 13px; cursor:pointer; padding:10px;}
.arrow-down-icon {width: 17px;height: 10px;background-position: -221px -182px;position: absolute; margin:2px 0px 0px 5px;}
.payCC_new label{ cursor:pointer;}
.login-error{margin-top: 5px;color: #f00;font-size: 14px; font-family: AvenirNext-Medium;}
.succes-message{margin-top: 5px; color:#6c9d06; font-size: 14px; display:block;}
::-webkit-input-placeholder{color:#999;}
:-moz-placeholder {color:#999;}
.slect-banks, .payment-page-input, .payment-expire{margin-bottom: 20px;}
.card-invalid{ display:block;}
.payStore{font-size:14px;}
.dropdown{position: relative;display: inline-block;cursor:pointer;}
.dropdown-content {display: none;position: absolute;background-color: #fff; border:1px solid #ddd;min-width: 120px;overflow: auto; margin-top: 33px;text-align: left;}
.dropdown-content a{padding: 12px 3px;text-decoration: none;display: block;}
.show {display:block;}
.login-error-input{border-radius: 3px;background-color: #ffffff;border: solid 1px #f00!important;box-shadow: none!important;}
.shipping-content::before{content: '';position: absolute;left: 36%;top: -20px;width: 0;height: 0;
border-left: 20px solid transparent;border-right: 20px solid transparent;border-bottom: 20px solid #fff;clear: both;}
.shipping-content {display: none; position: absolute;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);border-radius: 6px;background-color: #ffffff;border: solid 1px #dbdbdb;text-align:left;margin-top: 103px; z-index:999999; width:300px;     left: 27%;}
.shipping-dropbtn {font-size: 16px;border: none;cursor: pointer;}
.shipping-dropdown {position: relative;display: inline-block;}
.shipping-content a {color: black;text-decoration: none;display: block;}
.shipping-dropdown a:hover {background-color: #f1f1f1;}
.show {display:block;}
.shipping-customer-name,.shipping-customer-address, .shipping-customer-btn{ padding:8px 20px;}
.shipping-customer-btn{border-top: solid 1px #dfdfdf;}
.shipping-customer-name{margin-top:10px; font-family:AvenirNext-Medium;font-size: 18px;font-weight: 500;line-height: 0.88;color: #4a4a4a;}
.shipping-customer-address{ margin-bottom:10px; margin-top:10px; line-height:22px;}
.shipping-customer-btn a{padding:5px 0px; color: #6c9d06 !important;}
#overlay{ margin:0 auto;color:black;padding:10px;position:fixed; z-index:1000;display:none;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;}
#mask{ position:fixed;top:80px;left:0;background:rgba(0,0,0,0.6);z-index:500;width:100%;height:100%;display:none;}
#overlay:target, #overlay:target + #mask{display:block;opacity:1;}
.chnage-deliveri-address-btn{background: #fff;border: none;color: #6c9d06;font-size: 14px;padding: 5px 0px; font-family: AvenirNext-Medium;cursor:pointer;}
.back-to-sign-btn{ margin:20px 0px; float:left; width:100%; cursor:pointer;}
.back-to-sign-btn a{ color:#6c9d06; text-decoration:none; font-size: 14px;}
.back-left-arrow{width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 6px solid transparent;border-right: 7px solid #6c9d06;float: left;margin-top: 3px;margin-right: 6px}
.back-left-arrow-text{ float: left;}
.enter-password-email-id{margin-top: -10px;float: left;width: 100%;color: #999;}
.popup {display: none; position: fixed;width: 280px;left: 50%;margin-left: -150px;height: 185px;top: 50%;margin-top: -100px;background: #FFF;z-index: 20;}
.popup-box {-webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5); box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5); border-radius:5px; z-index:99999}
.popup a, .popup a:visited {color: #6c9d06; text-decoration:none;}
.pop-signin-btn{ text-align:center; border-top:1px solid #ddd; padding-top:10px; }
.check-your-email{ padding:15px;font-family: AvenirNext-Medium;}
.we-have-emaild, .wrong-emaild-popup{ padding:0px 15px 15px;}
.wrong-emaild-popup{ margin:42px 0px;}
ul.dstabs{list-style: none;font-size: 14px;color: #4a4a4a;padding:0px; margin:0px; margin-bottom:20px; border-bottom:2px solid #f8f8f8; border-right:none; font-family:lato,sans-serif; font-weight:bold; letter-spacing:0.6px;}
ul.dstabs li{color: #555;display: inline-block;cursor: pointer; padding:20px 0px 10px;  }
ul.dstabs li:first-child{ margin-right:5px; }
ul.dstabs li:last-child{ margin-left:10px;}
ul.dstabs li.current{border-bottom: 3px solid #6c9d06; color:#6c9d06;}
.dstab-content{display: none; background: #fff; padding:0px;}
.dstab-content.current{display: inherit;}
.ds_shopping_cart_top{border-top: 3px solid #6c9d06;}
.cart-continue-shopping{float: left;width: 308px;margin-top: 35px; margin-left: 25px; text-align: center;}
.cart-continue-shopping a{ color:#6c9d06; text-decoration:none;}
.log-out-image{vertical-align: middle;margin-right: 5px;}
.delete-save-account{display: inline;text-align: right;margin-left: 96px;}
.apply-copun-sec{width: 310px;float: left;}
#dis_msg{text-align: center;float: left;width: 100%;margin-bottom: 10px;}
.ds-cart-err_box{padding: 9px; display: block; border: 1px solid #f00;border-radius: 3px;}
.ds-cart-error-close_btn{display: inline;}
.ds-cart-error-close_btn a{text-decoration:none;cursor: pointer;}
.ds-cart-error-close_btn img{width: 18px;height: auto;}
.ds-cart-err_list{text-align: center;padding: 10px 0px;color: #f00;display: inline;}
.order-block-sec{float: left;width: 310px;}
.ds-product-image{ padding:10px; border:1px solid #ddd; width:90px; height:85px; border-radius:3px;}
.ds-product-img-sec{ width: 100px; padding-bottom:20px; vertical-align:top;}
.ds-product-text-sec{width: 520px; padding:0px 20px; vertical-align:top;}
.ds-cart-inside-sec{ width:400px; vertical-align:top;}
.ds-cart-inside-price{ padding-left:20px; width:110px; vertical-align:top; text-align:center;}
.product-name a{ text-decoration:none; color:#555;}
.out_of_stock_error_text{background: #FCE7E7;margin-bottom: 20px;font-size: 14px;border: 1px solid #b00;color: #b00;padding-top: 4px;padding-bottom: 5px;text-align: center;}
.ds-cart-ajax{ margin-top:5px; text-align:center;}
.ds-cart-ajax img{width:16px; height:auto;}
.cart_basket_txt{text-align: center;color: #6c9d06;margin-top: 30px;margin-bottom: 30px;}
.more-shop-text{float: left;color: #ff8a00;font-family: sans-serif;letter-spacing: 0.6px;margin: 10px;border-top: 1px solid #ddd;padding-top: 12px;
font-size: 12px;padding-bottom: 5px;}
.easy-reurn-icon{width: 20px;height: 23px; background-position: -229px -5px; display: inline-block; vertical-align: middle;}
.easy-return-sec{text-transform: uppercase; float: left; width: 308px;margin-top: 25px;font-size: 14px;text-align: center;}
.chek-out-logo a, .ptb-btn-sec a{ text-decoration:none;} .sec-bot-t{ float:left; width:100%; font-family:lato,sans-serif;} .text-bout-t{ font-size:14px;
font-weight:bold; letter-spacing:0px; border-bottom:1px solid #ddd; padding-bottom:20px;width: 640px; margin-bottom:20px;
}
    




    
    
   

