.classfieds_block{ float:left; width:100%; background: url(../images/cl-bg.jpg);  padding-top:10px; padding-bottom:30px; font-family: 'Lato', sans-serif; background-repeat: repeat-x;}
.find_pet_text{ text-align:center; color:#fff; padding-top:20px; font-family: 'Lato', sans-serif; font-size:26px; padding-bottom:20px; letter-spacing: 0.6px;}
.search_cl{padding:10px 15px;background:#fff;width:926px;border:0px solid #dbdbdb; border-top-left-radius:3px; border-bottom-left-radius:3px; font-size:14px;}
.button_cl{position:relative;padding:4px 10px; left:-3px; border:2px solid #fff;background-color:#fff;color:#fafafa; border-top-right-radius:4px;border-bottom-right-radius:3px;}
.cl_cat, .cl_small_banner, .cl_long_banner{ float:left; width:100%; font-family: 'Lato', sans-serif;}
.cl_headline{ font-size:22px; font-weight:bold; text-align:center; color:#333;}
.clfieds_sec, .cl_small_banner {margin-top: 25px;padding-right: 5px;}
.cl_small_banner{ margin-top:0px;}
.clfieds_list {float: left;width: 25%;text-align: center;margin-bottom: 25px;}
.clfieds_list img {border-radius: 50%;width: 125px;height: 125px;}
.clfieds_cat {width: 100%;margin-top: 20px;text-transform: uppercase;text-align: center;font-size: 22px;}
.cl_small_banner_list{float: left;width: 33.3%;margin-bottom: 25px;}
.cl_small_banner_list:first-child{ text-align:left;}
.cl_small_banner_list:nth-child(2){ text-align:center;}
.cl_small_banner_list:last-child{ text-align:right;}
.clfieds_cat_name{font-size:20px; margin-top:10px; text-decoration:none;}
.best_services_sec{width: 100%;float: left;text-transform: uppercase;font-size: 14px;border-bottom: 1px solid #ddd;margin-top: 20px;padding-bottom: 20px;background:#f2f2f2; font-family: 'Lato', sans-serif;}
.best_services_text, .add_your_bs_btn{width: 100%;margin-top: 20px;text-transform: uppercase;text-align: center;font-size: 20px; font-family: 'Lato', sans-serif;}
ul.clfieds_listing{ list-style:none; width:100%; float:left;}
.clfieds_listing li {padding-top: 5px;padding-bottom: 10px;background: #fff;width:470px;float:left; margin-top:20px; }
.clfieds_listing li:last-child{ margin-left:20px;}
.clfieds_listing li a {text-decoration: none;color: #333;}
.clfieds_listing li div {vertical-align: middle;padding-left: 10px;text-align: left;text-transform: none;}
.clfiedsimg_blk {width: 150px;margin-right: 10px; padding-top: 10px; display: inline-block;}
.clfiedstext_blk {color: #333;font-size: 16px;width: 250px;display: inline-block;}
.clfieds_right_icon {text-align: right !important;margin-top: -5px;margin-right: 10px;}
.clfieds_shop_name {font-size: 18px;margin-bottom: 3px;}
.clfiedsimg_blk img{ border-radius:50%; width:125px; height:125px;}
.cl_content{ float:left; width:645px; font-family: 'Lato', sans-serif;}
.cl_side_bar{float:left; width:300px; margin-left:25px;}
.cl_listing_cat{ float:left; width:100%; background:#f4f4f4; font-family: 'Lato', sans-serif;letter-spacing: 0.6px;}
ul.clfieds_listing_cat{ list-style:none; width:100%; float:left;}
.clfieds_listing_cat li {padding-top: 10px;padding-bottom: 20px;background: #fff;width:645px;float:left; margin-bottom:25px; border:1px solid #dcdcdc; border-radius:3px;  }
.clfieds_listing_cat li a {text-decoration: none !important;color: #333;}
.clfieds_listing_cat li div {vertical-align: middle;padding-left: 10px;text-align: left;text-transform: none;}
.clfiedsimg_blk_cat {width: 150px;margin-right: 10px; padding-top: 10px; display: inline-block;}
.clfiedstext_blk_cat {color: #333;font-size: 16px;width: 450px;display: inline-block;}
.clfiedsimg_blk_cat img{ border-radius:50%; width:125px; height:125px; border:1px solid #dcdcdc;}
.breadcrumb{ margin-bottom:15px !important;}
.cl_side_bar .cl_side_banner{margin-bottom:20px; width:300px;}
.cl_side_bar .cl_side_banner img{ border-radius:3px;}
.widget {background: #fff;margin: 0 0 15px;float: left;min-width: 300px;}
.widget h6 {color: #666;font-family: sans-serif;font-size: 16px;font-weight: 700;text-transform: uppercase;margin: 0 0 0 0;
   padding: 0;position: relative;margin-bottom: 15px;background: #f9f9f9;position: relative; float:left;}
.widget h6 span{font-family: sans-serif;font-size: 14px; background-color: #8dc059!important; display: inline-block; padding: 9px 16px; margin: 0;
  color: #fff;position: relative; float:left;}
.widget h6 span:before {left: 100%;top: 0;height: 0;width: 7px;position: absolute;content: " ";pointer-events: none;margin-left: 0;margin-top: 0;border-bottom: 36px solid #fff; border-right: 20px solid transparent;}
.widget h6 span:after {left: 100%;top: 0;height: 0;width: 0;position: absolute;content: " "; pointer-events: none;margin-left: 0;
    margin-top: 0;border-bottom: 34px solid #8dc059;border-right: 20px solid transparent;}	
.widget ul{ list-style:none; padding:0px; margin:0px;}
.widget ul li{ float:left; width:100%; border-bottom:1px solid #dcdcdc;  margin-bottom:20px; padding-bottom:20px;}
.widget ul li:last-child{ border-bottom:none; padding-bottom:0px; }
.widget ul li .pop_pet_img{ float:left; width:28%; margin-left:10px;}
.widget ul li .pop_pet_name{ margin-left:10px; float:left; width:63%; font-size:16px; font-family: 'Lato', sans-serif; margin-right:5px; text-align:left;}	
.pop_pet_img img{ width:70px; height:70px; border-radius:50%; border:1px solid #dcdcdc;}
.pop_pet_right_icon{ text-align:right; margin-right:15px;}
.pop_pet_address{ margin-top:7px; font-size:14px;}
.cl_details_sec{ width:100%; float:left; background:#fff; padding:15px 0px; border-radius:3px; }
.cl_details_sec .cl_details_imgsec{ float:left; width:25%; text-align:center;}
.cl_details_sec .cl_details_imgsec img{ width:125px; height:125px; border-radius:50%;} 
.cl_details_name{ font-size:18px; padding-top:15px; padding-bottom:5px; line-height:22px;}
.cl_details_address{ font-size:14px; padding-top:5px; padding-bottom:5px; line-height:20px;}
.cl_details_text{ float:left; width:55%; margin-left:20px;}
.cl_details_ac{ font-size:14px;  border-bottom:1px solid #dcdcdc; padding:15px; float:left; width:615px;}
.cl_details_ac:last-child{border:1px solid #f00;}
.cl_details_ac img, .cl_details_address img{ vertical-align:middle; margin-right:3px;}
.cl_details_about{font-size:18px !important; margin-bottom:5px; text-transform:uppercase;}
.cl_details_icon{ font-size:14px; }
.cl_details_text_icon{ line-height:20px;}
.review_tab {width: 100%;float: left;text-transform: uppercase;font-size: 14px;margin-top: 10px;padding-bottom: 20px;}
.no_review_text {font-size: 14px;font-weight: bold;text-align: center;}
.review_box_text {background: #f2f2f2;width: 90px;margin-left:10px;text-align: center;padding: 5px 0px;}
.review_box {border: 1px solid #f2f2f2;margin: 20px;padding: 10px;text-transform: none;}
.cl_profile_pic{font-size: 13px;}
.cl_profile_pic img, .review_submit_date img { width: 25px;border-radius: 30px;height: 25px;vertical-align: middle;margin-right:5px;}
.review_submit_date {text-align: right;margin-top: -25px;}
.cl_details_block{ background-color:#fff; float:left; width:100%; margin-bottom:20px; }
.review_submit_text{ font-size:14px; line-height:20px; margin-top:5px;}
.pop_pet_text{font-size:18px;}
.review_text_box, .review_text_area{width: 625px;padding: 8px;font-size: 14px;margin-left: 10px; border:none; border-bottom:1px solid #dcdcdc; font-family: sans-serif; color: #333; margin-bottom:15px; border:1px solid #e5e5e5;}
.clfieds_shop_address{ font-size:14px; line-height:20px; margin-top:5px;}
.clfieds_listing li a:hover{ text-decoration:none;}
.cl_details_name a:hover{ text-decoration:none;}
.write_review{ margin-left:10px; margin-bottom: 10px;text-transform: none;font-size: 18px; float:left; width:48%;}
.button-2{display: block;border: 0;color: #fff !important;text-align: center;width: 95px;background-color: #6C9D06; padding: 12px;text-decoration: none;
margin-left:10px;border-radius:3px;}
.button-2:hover{text-decoration:none;}
.suggesstion-drop-down ul{ list-style:none;  padding:0px; margin:5px 0px 0px 0px; background: #fff; border: 1px solid #ddd;border-radius: 5px; width:972px; position:absolute;}
.suggesstion-drop-down ul li{ padding:10px; cursor:pointer;font-size: 14px;border-bottom: 1px solid #ddd;  }
.clfieds_cat_name a{ text-decoration:none; color:#000;}
.clfieds_cat_name a:hover{ color: #ff8a00; text-decoration:none;}
.review-by{ text-align:right; font-size:14px; text-transform:none; margin-bottom:10px; float:left; width:48%; }
.no-review-posted{ text-transform:none; color: #ff8a00; font-size:14px;}
.imgtxtcont{ float:left; text-transform:none;}
.imghold img{width: 30px;height: 30px;border: 1px solid #888;border-radius: 22px;-webkit-filter: opacity(50%);
    filter: opacity(50%);}
	.caption, .caption1 {font-size: 12px !important;font-family: 'Lato', sans-serif!important;}
	.caption a, .caption1 a{color: #ff8a00; text-decoration:none;  }
	
	.myDogText {
    padding: 15px 0px;
    position: relative;
	font-size:24px;
}
.myDogText_content {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius:5px;
    padding: 18px;
	margin-bottom:20px;
}
.myDogText_content input {
    background: none;
    border: 1px solid #ccc;
    font-size: 14px;
    margin: 0;
    min-height: 2.2em;
    text-align: left;    width: 452px;margin-bottom: 15px;
	border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}


.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.clsfeds_time_form {
    float: left;
    width: 100%;
}
.clsfeds_time_form_div {
    float: left;
    width: 48%;    margin-right: 10px}
.cfieds_form_div {
    margin-bottom: 20px;
}
.cfieds_form_div input{padding: .4em;
    line-height: 1.4em;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
	padding:8px; border-radius:3px; 
	}
	.cfieds_form_div select{ width:100%; padding:8px; color: #999; font-size: 14px;} 
	.cfieds_form_div label, .cl-label label{font-size: 14px;margin-bottom: 10px;width: 100%;float: left;color: #999;}
	.cfieds_form_div textarea{     float: left;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
   
    min-height: 60px;}
	.cfieds_form_div button{cursor: pointer; 
   
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 11px 20px;
    border: none;
    margin-left: -1px;
    background-color: #6c9d06;
    border-radius: 3px;
    
    width: 220px;
    text-align: center;}
.ui.segment {
    position: relative;
    background: #FFF;
    box-shadow: none;
    
    padding: 1em;
    border-radius: .28571429rem;
    border: 1px solid #e7e7e7;
}
 ul.ui.list li {
    display: list-item;
    table-layout: fixed;
    list-style-type: none;
    list-style-position: outside;
    padding: .21428571em 0;
    line-height: 1.14285714em;
	font-size:14px;
	    margin-top: 10px;
}
ul.ui.list li:before {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    position: absolute;
    top: auto;
    left: auto;
    margin-left: 3px;
    content: '•';
    opacity: 1;
    color: inherit;
    vertical-align: top;
}

ul.ui.list li p{ margin-left:20px;}
 .hiw{font-size: 24px;}
 .add-business-sec {float: left;width: 100%;margin: 25px 0px 0px;border: 1px solid #e5e5e5;padding: 20px 0px;border-radius: 3px; text-align:center}
.add-business-sec .cnt-find-business{margin-bottom: 5px; font-size: 24px;}
.add-business-sec .create-lsiting p{font-size: 13px;color: #999;}
.clm_cant_find_btn {background-color: #6c9d06;border: none;color: #fff;font-size: 16px;padding: 12px 25px;
    margin-top: 10px;border-radius: 3px; cursor:pointer;}
	.nb{background: #f2f2f2;margin-bottom: 0px !important; padding:12px 0px !important;}
	.breadcrumb a:hover{ text-decoration:none; color:#6c9d06;}
	
.content--related {
	text-align: center;
	font-weight: bold;
	padding-top: 4em;
}

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile-4 + label {
    color: #d3394c;
}

.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {
    color: #722040;
}

.inputfile-4 + label figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #d3394c;
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
}

.inputfile-4:focus + label figure,
.inputfile-4.has-focus + label figure,
.inputfile-4 + label:hover figure {
    background-color: #722040;
}

.inputfile-4 + label svg {width: 100%;height: 100%;fill: #f1e5e6;}

.dg-cl-cat-head{padding: 0px;font-size: 22px;margin-bottom: 13px;margin-top: -10px; float:left}
.box1 input{ display:none}
.box1{float: left;
    width: 100%;
    text-align: center;
    border: 1px solid #6c9d06;
    
    padding: 10px 0px;
    margin-bottom: 12px;
    border-radius: 3px;
    font-size: 14px;}

