.flexslider,
.slider {
    position: relative;
    background: #fff
}

.freeshiping-container .tmc-box,
.wagtag-text,
ul.int-brands li .int-brands-small {
    font-family: Lato, sans-serif;
    letter-spacing: 1px
}

@font-face {
    font-family: gothambold1;
    src: url(gothambold1.eot);
    src: local('gothambold1'), url(gothambold1.woff) format('woff'), url(gothambold1.ttf) format('truetype')
}

.flex-container a:hover,
.flex-slider a:hover {
    outline: 0
}

.flex-control-nav,
.flex-direction-nav,
.slides,
.slides>li {
    margin: 0;
    padding: 0;
    list-style: none
}

.flex-pauseplay span {
    text-transform: capitalize
}

.flexslider {
    padding: 0;
    margin: 0;
    zoom: 1;
    -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, .2);
    -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, .2);
    box-shadow: '' 0 1px 4px rgba(0, 0, 0, .2)
}

.flexslider .slides>li {
    display: none;
    -webkit-backface-visibility: hidden
}

.flexslider .slides img,
.no-js .flexslider .slides>li:first-child,
html[xmlns] .flexslider .slides {
    display: block
}

.flexslider .slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

* html .flexslider .slides {
    height: 1%
}

.slider {
    padding: 0!important;
    width: 100%;
    overflow: hidden;
    text-align: center;
    list-style: none
}

.flexslider .slides img {
    width: 100%;
    height: auto;
    -moz-user-select: none
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease
}

.loading .flex-viewport {
    max-height: 300px;
    background: #f0f0f0
}

.carousel li {
    margin-right: 5px
}

.flex-direction-nav {
    display: none
}

.flexslider:hover .flex-direction-nav .flex-prev:hover {
    opacity: 1
}

.flexslider:hover .flex-direction-nav .flex-next {
    opacity: .7;
    right: 10px
}

.flexslider:hover .flex-direction-nav .flex-next:hover {
    opacity: 1
}

.flex-direction-nav .flex-disabled {
    opacity: 0!important;
    filter: alpha(opacity=0);
    cursor: default;
    z-index: -1
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    margin-top: -30px;
    text-align: center
}

.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1
}

.flex-control-paging li a {
    width: 15px;
    height: 15px;
    display: block;
    background: #555;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px
}

.freeshiping-container,
.pet-st-container,
ul.trusted-partners {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05)
}

.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, .7)
}

.flex-control-paging li a.flex-active {
    background: #6c9d06;
    cursor: default
}

.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden
}

.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0
}

.flex-control-thumbs img {
    width: 100%;
    height: auto;
    display: block;
    opacity: .7;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease
}

.flex-control-thumbs img:hover {
    opacity: 1
}

.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default
}

.freeshiping-container .tmc-box {
    color: #b4b4b4;
    font-size: 14px;
    float: left;
    width: 100%;
    text-align: center
}

.adopt-btn a {
    color: #fff;
    font-size: 18px
}

.adopt-btn a:hover {
    color: #fff
}

.ds-container {
    margin-top: 30px
}

.adoption-banner {
    float: left;
    width: 100%;
    margin-top: 2px
}

.wagtag-text {
    font-size: 16px;
    padding: 21px 40px;
    line-height: 20px;
    float: left;
    width: 400px;
    color: #000
}

.wagtag-btn {
    padding: 0 40px;
    float: left;
    width: 385px
}

.wagtag-btn a {
    color: #6c9d06;
    font-size: 16px;
    float: left;
    margin-bottom: 20px
}

.wagtag-banner {
    float: left;
    width: 460px
}

ul.int-brands {
    padding: 0 0 30px;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #ddd
}

ul.int-brands li {
    float: left;
    margin-left: 62px
}

ul.int-brands li:first-child {
    margin-left: 0;
    width: 315px
}

ul.int-brands li .int-brands-txt {
    font-size: 26px;
    margin-top: 8px
}

ul.int-brands li .int-brands-color {
    color: #ff8a00
}

ul.int-brands li .int-brands-small {
    margin-top: 10px;
    font-size: 16px
}

ul.dogspot-offer-banner {
    padding: 0;
    margin: 0;
    width: 100%
}

ul.dogspot-offer-banner li {
    float: left
}

ul.dogspot-offer-banner li .offer-and-combs {
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 20px
}

ul.dogspot-offer-banner li .offer-and-text {
    font-size: 20px;
    margin-bottom: 5px;
    float: left;
    width: 450px
}

ul.dogspot-offer-banner li .offer-and-text a {
    color: #000;
    border-bottom: dashed 2px #000;
    text-decoration: none;
    float: left;
    padding-bottom: 10px;
    margin-bottom: 20px;
    padding-right: 26px
}

.offer-and-color {
    color: #ff8a00
}

ul.dogspot-offer-banner li:first-child {
    width: 55%
}

ul.dogspot-offer-banner li:last-child {
    width: 45%
}

.pet-st-container {
    float: left;
    width: 100%;
    background: #f2f2f2;
    border-top: 1px solid #ccc;
    margin-top: -2px;
    bordor-bottom: 1px solid #ccc
}

ul.pet-st-header {
    padding: 0;
    margin: 0;
    width: 100%
}

ul.pet-st-header li {
    float: left;
    padding: 20px 0
}

ul.pet-st-header li:first-child {
    width: 60%;
    font-size: 38px;
    color: #d06414
}

ul.pet-st-header li:last-child {
    width: 40%
}

ul.pet-st-header li .petstory-arrow,
ul.pet-st-header li .petstory-btn {
    float: left
}

ul.pet-st-header li .petstory-btn a {
    background: #d06414;
    color: #fff;
    padding: 10px 25px;
    margin-top: 20px;
    float: left;
    margin-left: 0;
    font-size: 16px
}

.petst-sec {
    float: left;
    width: 100%
}

.petst-sec-a,
.petst-sec-c,
petst-sec-c {
    float: left
}

.petst-sec-a {
    width: 477px;
    margin-bottom: 30px
}

.petst-sec-post-img img {
    margin-bottom: 5px;
    width: 477px;
    height: 287px
}

.petst-sec-post-h {
    font-size: 28px;
    text-decoration: none;
    margin-bottom: 7px
}

.petst-sec-b {
    float: left;
    margin-left: 24px;
    width: 223px
}

.pet-st-headline {
    background: #231812;
    padding: 4px 10px 7px;
    position: relative;
    opacity: .8;
    margin-top: -56px
}

.article-samml a {
    color: #fff;
    font-size: 16px;
    text-decoration: none
}

.article-samml {
    float: left
}

.article-samml:last-child {
    margin-top: 25px
}

ul.adopt-wagtag-sec {
    padding: 0;
    margin: 0;
    width: 100%
}

ul.adopt-wagtag-sec li {
    width: 470px;
    float: left
}

ul.adopt-wagtag-sec li:first-child {
    margin-right: 30px
}

.about-dogpsot-text {
    margin-bottom: 10px
}

.int-brands_sprite {
    background: url(https://ik.imagekit.io/2345/checkout/images/brands-sprite-new.jpg) no-repeat
}

.int-spoty-logo {
    width: 156px;
    height: 107px;
    background-position: -4px 0
}

.int-furminator-logo {
    width: 193px;
    height: 108px;
    background-position: -168px 0
}

.int-urineoff-logo {
    width: 118px;
    height: 108px;
    background-position: -382px 0
}

.article-image-block {
    width: 223px;
    height: 181px;
    background: #231812
}

.about-dogspot-n-head {
    font-size: 38px;
    margin-bottom: 30px;
    float: left;
    width: 972px
}

.about-dogspot-n-text {
    font-size: 16px;
    font-family: GothamBook;
    margin-bottom: 30px;
    float: left;
    width: 972px
}

.ds-container,
.freeshiping-container,
.petst-post-head-line,
.petst-sec-post-author {
    width: 100%;
    float: left
}

.article-samml a:hover,
ul.dogspot-offer-banner li .offer-and-text a:hover {
    text-decoration: none;
    color: #d06414
}

.petst-post-head-line a {
    text-decoration: none;
    color: #333
}

.petst-post-head-line a:hover {
    text-decoration: none;
    color: #d06414
}

.petst-sec-post-author a {
    font-size: 14px;
    color: #d06414
}

.petst-sec-post-author a:hover {
    color: #333;
    text-decoration: none
}

.ds-container,
.freeshiping-container,
body {
    font-family: Lato, sans-serif;
    font-size: 14px
}

.adopt-btn a,
.adopt-btn a:hover,
.wagtag-btn a,
.wagtag-btn a:hover,
a,
a:active,
a:hover,
a:visited,
ul.pet-st-header li .petstory-btn a {
    text-decoration: none
}

.wagtag-btn a:hover {
    color: #6c9d06
}

ul.adopt-wagtag-sec,
ul.dogspot-offer-banner,
ul.int-brands,
ul.pet-st-header {
    list-style: none;
    float: left
}

.about-dogspot-n-head,
.adoption-text-b,
.petst-sec-post-h,
ul.dogspot-offer-banner li .offer-and-combs,
ul.int-brands li .int-brands-txt,
ul.pet-st-header li:first-child {
    font-family: gothambold1
}

.freeshiping-container {
    clear: both;
    padding: 12px 0;
    text-align: center;
    font-style: italic;
    background: #fafafa;
    border-bottom: solid 1px #ededed
}

.freeshiping-container .freeshiping-text {
    font-size: 18px;
    margin-bottom: 5px;
    float: left;
    width: 100%;
    text-align: center
}

.adoption-sec,
.wagtag-sec {
    float: left;
    width: 470px
}

.wagtag-sec {
    border: 1px solid #ddd
}

.adoption-box {
    background: #6c9d06;
    color: #fff;
    padding: 25px;
    float: left;
    width: 420px
}

.adbtn,
.wag-tag-btn {
    background: 0 0;
    cursor: pointer
}

.adopt-btn,
.adoption-text-b,
.adoption-text-s {
    width: 400px;
    float: left
}

.adoption-text-b {
    font-size: 32px;
    margin-bottom: 10px
}

.adoption-text-s {
    font-size: 16px
}

.adopt-btn {
    margin-top: 20px;
    margin-bottom: 10px
}

.adbtn {
    border: 1px solid #fff;
    color: #fff;
    padding: 10px;
    font-size: 17px
}

.wag-tag-btn {
    color: #6c9d06;
    font-size: 16px;
    border: 1px solid #6c9d06;
    padding: 10px 20px;
    float: left;
    margin-bottom: 15px
}

.trusted-partners-headline {
    float: left;
    width: 100%;
    font-size: 17px;
    letter-spacing: .6px;
    font-weight: 700;
    font-family: lato, sans-serif;
    text-transform: uppercase;
    padding-bottom: 15px;
    padding-top: 10px
}

ul.trusted-partners {
    border: 1px solid #eee;
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none
}

ul.trusted-partners li {
    font-size: 14px;
    font-family: lato, sans-serif;
    float: left;
    margin-bottom: -3px;
    padding: 15px
}

ul.trusted-partners li:first-child {
    padding: 0;
    width: 30%
}

.partners-btn,
.partners-btn a {
    background: #fe8f01;
    padding: 10px 15px;
    text-transform: uppercase;
    text-decoration: none
}

ul.trusted-partners li:nth-child(2) {
    width: 32%
}

ul.trusted-partners li:last-child {
    width: 31%
}

.partners-btn,
.vet-dr {
    width: 100%;
    float: left
}

.partners-name {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px
}

.partners-services {
    color: #ff7a22;
    margin: 10px 0
}

.partners-btn {
    margin-top: 12px;
    color: #fff!important;
    width: 97px;
    text-align: center
}

.partners-btn a {
    color: #fff
}

.partners-btn:hover {
    text-decoration: none;
    border: 1px solid #fe8f01;
    background: #fff;
    color: #fe8f01!important
}

.vet-dr-l {
    float: left;
    width: 136px
}

.vet-dr-l:last-child {
    margin-left: 25px
}

.dr-name {
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px
}

.vet-gray {
    color: #555
}

