.nivo-box,.nivo-caption,.nivoSlider{overflow:hidden}.ds-container,.freeshiping-container,body{font-family: 'Lato', sans-serif;font-size:14px}.adopt-btn a,.adopt-btn a:hover,.wagtag-btn a,.wagtag-btn a:hover,a,a:active,a:hover,a:visited,ul.pet-st-header li .petstory-btn a{text-decoration:none} .wagtag-btn a:hover{ color:#6c9d06;} ul.adopt-wagtag-sec,ul.dogspot-offer-banner,ul.int-brands,ul.pet-st-header{list-style:none;float:left}@font-face{font-family:gothambold1;src:url(gothambold1.eot);src:local('gothambold1'),url(gothambold1.woff) format('woff'),url(gothambold1.ttf) format('truetype')}.slider-wrapper{width:100%;margin:0 auto}.nivoSlider{position:relative;width:100%;height:auto}.nivoSlider img{position:absolute;top:0;left:0;max-width:none}.nivo-main-image{display:block!important;position:relative!important;width:100%!important}.nivoSlider a.nivo-imageLink{position:absolute;top:0;left:0;width:100%;height:100%;border:0;padding:0;margin:0;z-index:6;display:none;background:#fff;filter:alpha(opacity=0);opacity:0}.nivo-box,.nivo-slice{z-index:5;position:absolute}.nivo-box,.nivo-box img,.nivo-slice{display:block}.nivo-slice{height:100%;top:0}.nivo-caption{position:absolute;left:0;bottom:0;background:#000;color:#fff;width:100%;z-index:8;padding:5px 10px;opacity:.8;display:none;-moz-opacity:.8;filter:alpha(opacity=8);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.nivo-caption p{padding:5px;margin:0}.nivo-caption a{display:inline!important}.nivo-html-caption{display:none}.nivo-directionNav a{position:absolute;top:45%;z-index:9;cursor:pointer}.nivo-prevNav{left:0}.nivo-nextNav{right:0}.nivo-controlNav{text-align:center;padding:15px 0}.nivo-controlNav a{cursor:pointer}.nivo-controlNav a.active{font-weight:700}#wrapper{float:left;width:100%}.theme-default .nivoSlider{position:relative;background:url(loading.gif) 50% 50% no-repeat #fff;margin-bottom:10px}.theme-default .nivoSlider img{position:absolute;top:0;left:0;display:none}.theme-default .nivoSlider a{border:0;display:block}.theme-default .nivo-controlNav{text-align:center;padding:0;position:relative;margin-top:-38px;z-index:9999}.theme-default .nivo-controlNav a{display:inline-block;width:22px;height:22px;background:url(bullets.png) no-repeat;text-indent:-9999px;border:0;margin:0 2px;position:relative}.theme-default .nivo-controlNav a.active{background-position:0 -22px}.theme-default a.nivo-nextNav,.theme-default a.nivo-prevNav{display:none}.theme-default .nivo-controlNav.nivo-thumbs-enabled{width:100%}.theme-default .nivo-controlNav.nivo-thumbs-enabled a{width:auto;height:auto;background:0 0;margin-bottom:5px}.theme-default .nivo-controlNav.nivo-thumbs-enabled img{display:block;width:120px;height:auto}.ds-container,.freeshiping-container{float:left;width:100%}.about-dogspot-n-head,.adoption-text-b,.freeshiping-container .freeshiping-text,.petst-sec-post-h,ul.dogspot-offer-banner li .offer-and-combs,ul.int-brands li .int-brands-txt,ul.pet-st-header li:first-child{font-family:gothambold1}.freeshiping-container{clear:both;margin-top:7px;padding:20px 0;text-align:center;font-style:italic;background:#fafafa;box-shadow:0 1px 1px 0 rgba(0,0,0,.05);border-bottom:solid 1px #ededed}.freeshiping-container .freeshiping-text{font-size:18px;margin-bottom:5px; float:left; width:100%;text-align:center;}.adoption-sec,.wagtag-sec{float:left;width:470px}.wagtag-sec{border:1px solid #ddd}.adoption-box{background:#6c9d06;color:#fff;padding:25px; float:left;width: 420px;}.adoption-text-b{    float: left;
    width: 400px;font-size:32px;margin-bottom:10px}.adoption-text-s{font-size:16px; float:left; width:400px;}.adopt-btn{margin-top:20px;margin-bottom:10px;  float: left;
    width: 400px;} 
	.adbtn{border: 1px solid #fff;
    color: #fff;
    padding: 10px;
    font-size: 17px;
    background: none;
	cursor:pointer;
	} 
	#slider {
  
   background:url(loading.gif) no-repeat 50% 50%; 
max-width:100%;
margin:auto;
min-height:200px;
}
#slider img {

   display:none;
}
	.wag-tag-btn{color: #6c9d06;
    font-size: 16px;
    border: 1px solid #6c9d06;
    padding: 10px 20px;
    float: left;
    margin-bottom: 15px;
	background:none;
	cursor:pointer;
}

.freeshiping-container .tmc-box{color:#b4b4b4;font-size:14px; float:left; width:100%; text-align:center;font-family: 'Lato', sans-serif;letter-spacing: 1px;}
	.adopt-btn a{color:#fff;font-size:18px}.adopt-btn a:hover{color:#fff}.ds-container{margin-top:30px}.adoption-banner{float:left;width:100%;margin-top:2px}.wagtag-text{font-size:16px;padding:21px 40px;line-height:20px;float:left;width: 400px; color:#000;font-family: 'Lato', sans-serif;letter-spacing: 1px;}.wagtag-btn{padding:0 40px;float:left; width:385px;}.wagtag-btn a{color:#6c9d06;font-size:16px;float:left;margin-bottom:20px}.wagtag-banner{float:left;     width: 460px;}ul.int-brands{padding:0 0 30px;margin:0;width:100%;border-bottom:1px solid #ddd}ul.int-brands li{float:left;margin-left:62px}ul.int-brands li:first-child{margin-left:0;width:315px}ul.int-brands li .int-brands-txt{font-size:26px;margin-top:8px}ul.int-brands li .int-brands-color{color:#ff8a00}ul.int-brands li .int-brands-small{margin-top:10px;font-size:16px; font-family: 'Lato', sans-serif;    letter-spacing: 1px;}ul.dogspot-offer-banner{padding:0;margin:0;width:100%}ul.dogspot-offer-banner li{float:left}ul.dogspot-offer-banner li .offer-and-combs{font-size:48px;margin-top:40px;margin-bottom:20px}ul.dogspot-offer-banner li .offer-and-text{font-size:20px;margin-bottom:5px; float:left; width: 450px;}ul.dogspot-offer-banner li .offer-and-text a{color:#000;border-bottom:dashed 2px #000;text-decoration:none;float:left;padding-bottom:10px;margin-bottom:20px;padding-right:26px}.offer-and-color{color:#ff8a00}ul.dogspot-offer-banner li:first-child{width:55%}ul.dogspot-offer-banner li:last-child{width:45%}.pet-st-container{float:left;width:100%;background:#f2f2f2;border-top:1px solid #ccc;margin-top:-2px;bordor-bottom:1px solid #ccc;box-shadow:0 1px 1px 0 rgba(0,0,0,.05)}ul.pet-st-header{padding:0;margin:0;width:100%}ul.pet-st-header li{float:left;padding:20px 0}ul.pet-st-header li:first-child{width:60%;font-size:38px;color:#d06414}ul.pet-st-header li:last-child{width:40%}ul.pet-st-header li .petstory-arrow,ul.pet-st-header li .petstory-btn{float:left}ul.pet-st-header li .petstory-btn a{background:#d06414;color:#fff;padding:10px 25px;margin-top:20px;float:left;margin-left:0;font-size:16px}.petst-sec{float:left;width:100%}.petst-sec-a,.petst-sec-c,petst-sec-c{float:left}.petst-sec-a{width:477px;margin-bottom:30px}.petst-sec-post-img img{margin-bottom:5px;width:477px;height:287px}.petst-sec-post-h{font-size:28px;text-decoration:none;margin-bottom:7px}.petst-sec-b{float:left;margin-left:24px;width:223px}.pet-st-headline{background:#231812; padding: 4px 10px 7px 10px;position:relative;opacity:.8;margin-top:-56px}.article-samml a{color:#fff;font-size:16px;text-decoration:none}.article-samml{float:left}.article-samml:last-child{margin-top:25px}ul.adopt-wagtag-sec{padding:0;margin:0;width:100%}ul.adopt-wagtag-sec li{width:470px;float:left}ul.adopt-wagtag-sec li:first-child{margin-right:30px}.about-dogpsot-text{margin-bottom:10px}.int-brands_sprite{background:url(../images/brands-sprite-new.jpg) no-repeat}.int-spoty-logo{width:156px;height:107px;background-position:-4px 0}.int-furminator-logo{width:193px;height:108px;background-position:-168px 0}.int-urineoff-logo{width:118px;height:108px;background-position:-382px 0}.article-image-block{width:223px;height:181px;background:#231812}.about-dogspot-n-head{font-size:38px;margin-bottom:30px;float:left;width:972px;}.about-dogspot-n-text{font-size:16px;font-family:GothamBook;margin-bottom:30px;float:left;width:972px;}
ul.dogspot-offer-banner li .offer-and-text a:hover{ text-decoration:none;color: #d06414;}
.article-samml a:hover{ text-decoration:none;color: #d06414}
.petst-post-head-line a{text-decoration:none; color:#333;}
.petst-post-head-line a:hover{ text-decoration:none; color:#d06414;}
.petst-sec-post-author, .petst-post-head-line{float: left;width: 100%;}
.petst-sec-post-author a{font-size:14px;color:#d06414;}
.petst-sec-post-author a:hover{color:#333;text-decoration:none;}
