
@font-face {
	font-family: 'GothamBook';src: url('./GothamBook.eot');src: local('GothamBook'), url('./GothamBook.woff') format('woff'), url('./GothamBook.ttf') format('truetype');}
body{font-family: 'GothamBook';}
@font-face {font-family: 'gothambold1';src: url('./gothambold1.eot');src: local('gothambold1'), url('./gothambold1.woff') format('woff'), url('./gothambold1.ttf') format('truetype');}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
blockquote:before, blockquote:after,
q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
header, section, footer,
aside, nav, article, figure {display: block;}
body {font:14px/1.6 Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;color:#333;background:#eee;}

a, a:visited {color:blue;text-decoration:none;}
a:hover, a:active {color:#000;text-decoration:none;}
#dev7link {position:absolute;top:0;left:50px;background:url(images/dev7logo.png) no-repeat;width:60px;height:67px;border:0;display:block;text-indent:-9999px;}

.slider-wrapper { 
	width: 100%; 
	margin:0px auto;
}


.clear {
	clear:both;
}


.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}


.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}

.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }


.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box;         
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}

.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}

.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
#wrapper{ float:left; width:100%;}


.theme-default .nivoSlider {
	position:relative;
	background:#fff url(loading.gif) no-repeat 50% 50%;
    margin-bottom:10px;
    
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	text-align: center;
	padding:0px;
	position: relative;
    margin-top: -38px;
    z-index: 99999
}
.theme-default .nivo-controlNav a {
	display:inline-block;
	margin-top: -38px;
	width:22px;
	height:22px;
	background:url(bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin: 0 2px;
	position: relative;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-default a.nivo-prevNav {
	left:15px;
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;}
.freeshiping-container, .ds-container {float:left; width:100%;font-family: 'GothamBook';}
.freeshiping-container{clear:both; margin-top:7px; padding:20px 0px; text-align:center; font-style:italic; background:#fafafa;box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);border-bottom: solid 1px #ededed;}
.freeshiping-container .freeshiping-text{ font-size:18px;  margin-bottom:5px; font-family: 'gothambold1'; }
.freeshiping-container span{color:#b4b4b4;}
.adoption-sec, .wagtag-sec{ float:left; width:470px; }
.wagtag-sec{border:1px solid #ddd;}
.adoption-box{ background:#6c9d06; color:#fff; padding:25px;}
.adoption-text-b{ font-size:32px;font-family: 'gothambold1'; margin-bottom:7px;}
.adoption-text-s{font-size:16px;  }
.adopt-btn{ margin-top:25px; margin-bottom:15px;}
.adopt-btn a{ border:1px solid #fff; text-decoration:none; color:#fff; padding:10px; font-size:18px;}
.adopt-btn a:hover{ text-decoration:none; color:#fff;}
.ds-container{ margin-top:30px;}
.adoption-banner{ float:left; width:100%; margin-top:2px;}
.wagtag-text{ font-size:16px; padding:19px 40px; line-height:20px; float:left;}
.wagtag-btn{padding: 0px 40px; float:left;}
.wagtag-btn a{color:#6c9d06; text-decoration:none; font-size:16px; border:1px solid #6c9d06; padding:10px 20px; float:left; margin-bottom:20px; }
.wagtag-btn a:hover{ text-decoration:none;}
.wagtag-banner{float:left;}
ul.int-brands{list-style: none;padding: 0px; margin: 0px;float: left;width: 100%;border-bottom: 1px solid #ddd;padding-bottom: 20px;}
ul.int-brands li{ float:left; margin-left:62px; }
ul.int-brands li:first-child{ margin-left:0px; width:315px;}
ul.int-brands li .int-brands-txt { font-size:26px;     margin-top: 8px;font-family: 'gothambold1';}
ul.int-brands li .int-brands-color {color:#ff8a00;}
ul.int-brands li .int-brands-small{margin-top: 10px;font-size: 14px;}
ul.dogspot-offer-banner{list-style: none;padding: 0px; margin: 0px;float: left;width: 100%;}
ul.dogspot-offer-banner li{ float:left;}
ul.dogspot-offer-banner li .offer-and-combs{ font-size:48px; font-family: 'gothambold1'; margin-top:40px;
    margin-bottom: 20px; }
ul.dogspot-offer-banner li .offer-and-text{ font-size:20px; margin-bottom:15px;  }
ul.dogspot-offer-banner li .offer-and-text a{color:#333; border-bottom:dashed 1px #333; padding-bottom:15px; margin-bottom:20px;text-decoration:none; float: left;padding-bottom: 10px;margin-bottom: 20px;}
.offer-and-color{color:#ff8a00;}
ul.dogspot-offer-banner li:first-child{ width:55%;}
ul.dogspot-offer-banner li:last-child{width:45%;}
.pet-st-container{float:left; width:100%; background:#f2f2f2; border-top:1px solid #ccc; margin-top:-2px; margin-bottom:1px solid #ccc; 
}
ul.pet-st-header{list-style: none;padding: 0px; margin: 0px;float: left;width: 100%;}
ul.pet-st-header li{ float:left; padding:20px 0px; }
ul.pet-st-header li:first-child{ width:60%; font-size:38px; color:#d06414; font-family: 'gothambold1';}
ul.pet-st-header li:last-child{ width:40%;}
ul.pet-st-header li .petstory-arrow{ float:left; }
ul.pet-st-header li .petstory-btn{float:left;}
ul.pet-st-header li .petstory-btn a{ text-decoration:none;  background: #d06414;color: #fff;padding: 10px 25px;margin-top: 20px;float: left;margin-left: 0px;font-size: 16px}
.petst-sec{ float:left; width:100%;}
.petst-sec-a, .petst-sec-c, petst-sec-c{ float:left; }
.petst-sec-a{ width:477px; margin-bottom:30px; }
.petst-sec-post-img img{margin-bottom:5px; width:477px; height:287px; }
.petst-sec-post-h{ font-size:28px;font-family: 'gothambold1'; color:#333; text-decoration:none; margin-bottom:10px; }
.petst-sec-a a{ text-decoration:none;}
.petst-sec-a a:hover{ text-decoration:none;}
.petst-sec-post-author a{color:#d06414; text-decoration:none; font-size:14px; }
.petst-sec-post-author a:hover{color:#d06414; text-decoration:none;}
.petst-sec-b{float:left;margin-left:24px; width:223px}
.pet-st-headline{background: #231812;padding: 5px 10px;position: relative;opacity: .8;    margin-top: -52px;}
.pet-st-headline a{color: #fff;font-size: 16px;text-decoration: none;}
.article-samml{ float:left;}
.article-samml:last-child{ margin-top: 20px;}
 ul.adopt-wagtag-sec{list-style: none;padding: 0px; margin: 0px;float: left;width: 100%;}
 ul.adopt-wagtag-sec li{ width:470px; float:left; }
 ul.adopt-wagtag-sec li:first-child{ margin-right: 30px;}
 .about-dogpsot-text{ margin-bottom:10px;}
