/* CSS Document */
.dog_name_dg1 {
float: left;
width: 100%;background: #f8f8f8;
}
.wc_wagTag {
background: #FFFFFF;
float: left;
text-transform: uppercase;
text-align: center;
padding: 10px 0px;
margin: 0px 105px;
width: 275px;
color: #a89263;
border-radius: 2px;
font-size: 18px;
}
.dog_to_track_wt {
background: url(../images/bg_wc.jpg) repeat;
width: 100%;
float: left;
}
/*.wagTag_box {
margin: 20px 0;padding-bottom: 30px;
width: 100%;
border-radius: 2px;
float: left;
box-shadow: 0px 0px 1px 0px #9bc105;
background: #FAFAFA;
}*/
.wt_leftBox {
width: 34%;
float: left;
}
.wt_rytBox {
width: 63%;
float: left;
}
/*.wagTag_box h1 {
float: left;
width: 96%;
background: #E8F8A8;
padding: 10px 2%;
text-transform: uppercase;
color: #9bc105;
margin-bottom: 30px;
border-bottom: 1px solid #9bc105;
}*/
.wt_form ul li {
list-style: none;
float: left;
width: 100%;font-size: 15px;
padding: 5px;
}
.wt_form ul li label {
width: 200px; float:left;padding: 10px;
}
.wt_form ul li input[type=text] {
float: left;
width: 300px;
padding: 10px; font-size:12px; margin-bottom:0px;text-align: left;
border-radius: 2px;
border: 1px solid #ddd;
box-shadow: 1px 1px 3px 0px #dedede inset;
}
.wt_logo {
float: left;
margin: 10px 15px;
width: 226px;
font-size: 54px;
box-shadow: 0px -2px 36px -5px #ddd inset;
color: #aaa;
background: #fff;
padding: 72px 20px;
border: 1px solid #ddd;
}
.wt_form {
float: left;
margin-left: 30px;
color: #666;
}
.wt_actBtn a{
background: #9bc105;
font-weight: bold;
float: left;
padding: 8px 25px 8px 25px;
margin: 0 10px;
color: #fff;
text-transform: uppercase;
border-radius: 2px; cursor:pointer;
}
.wt_actBtn1 {
background: #f89e1d;
font-weight: bold;
float: left;
padding: 8px 15px 8px 15px;
margin: 0 10px;
color: #fff;
font-size: 13px;
text-transform: uppercase;
border: 0px;
border-radius: 2px;
cursor: pointer;
}
.wt_actBtn1:hover {background: #E08404;}
.wt_actBtn a:hover{ background:#668000; text-decoration:none; color:#fff;}
.wt_form ul li span a{
float: left;
margin-left: 219px;
padding: 5px 0;
}
.wt_btnBox {
float: left;
margin-left: 215px;
margin-bottom: 24px;
margin-top: 5px;
}
.wt_form ul li input[type=radio]{ float:left; padding:10px 0px 0 0 ; }
.wt_form ul li span{ float:left; margin-right:10px;}
.wt_radioBox {
float: left;
padding: 10px 0;
}
.wt_form ul li select{ float:left; padding:10px; width:auto; border-radius: 2px;
border: 1px solid #ddd;
box-shadow: 1px 1px 3px 0px #dedede inset;}
.wt_form ul li textarea{ float:left; padding:10px; width:300px; border-radius: 2px;
border: 1px solid #ddd;
box-shadow: 1px 1px 3px 0px #dedede inset;}
.wt_form h3 { color:#f89e1d;
float: left;
width: 90%;
font-size: 20px;
margin: 10px;
padding: 6px 0;
font-weight: normal;
border-bottom: 1px dotted;
}
/* Wag tag Info */
.dg_infoTag{ float:left; width:100%;background: #f8f8f8;}
.dg_infoTag h2 {
float: left;
width: 100%;
color: #9bc105;
font-size: 30px;
padding: 20px 0;
text-transform: uppercase;
}
.dg_infoTag h2 .cont980{ text-align:center;color: #f89e1d;}
.dg_wtBox {color:#f89e1d;
margin: 0 auto;
width: 1000px;
text-align: center;
}
.wt_infoBox {
width: 50%;
text-align: left;
margin: 0 auto;
}
.wt_textInfo{ float:left; padding:10px 10px;width: 43%;}
.vital_wc{width:1000px;}
.vital_wc ul li label{ width:360px;}
.vital_wc ul li .wt_textInfo {width: 50%;}
.wc_lostTag a{ text-decoration:underline;}
.wt_infoBox.fl.wt_form.vital_wc h3{ width:95%;}
.wt_edit.fr {
background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e8e7e7));
padding: 5px;
font-weight: bold;
margin-top: -3px;
border-radius: 2px;
color: #2E2E2E;
font-size: 17px;
border: 1px solid #999;
}
.wt_kciInfo {
float: left;
padding: 45px 115px;
width: 46%;
font-size: 18px;
line-height: 35px;
}
.wt_form .wt_kciInfo p{font-size: 18px;}
.wt_form .wt_kciInfo a{ text-decoration:underline;}
.wt_infoBox.fl.wt_form.vital_wc .wt_kciInfo {
float: left;
padding: 45px 53px;
width: 76%;
font-size: 18px;
line-height: 35px;
}
.wt_infoBox.fl.wt_form.vital_wc .wt_kciInfo p{font-size: 18px;}
.wt_infoBox.fl.wt_form.vital_wc .wt_kciInfo a{ text-decoration:underline;}
.wt_infoBox.fl.wt_form.vital_wc ul li textarea{width: 570px;}
.wt_form ul.wc_editKCI li input[type=text]{ width:230px;}
.wt_infoBox.fl.wt_form.vital_wc .wt_btnBox{margin-left: 370px;}
.wt_lostBtn {
float: right;
font-size: 17px;
background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e8e7e7));
padding: 6px 10px;
color: #666363;
margin-right: 86px;
border: 1px solid #999;
text-transform: uppercase;
border-radius: 2px;
}
.wt_form ul li a {
float: left;
padding: 10px 5px;
text-decoration: underline;
}
.wt_actMsg {
padding: 100px 50px;
font-size: 40px;
}
.slide_wt
{
    width: 940px;
    height: 786px;
    overflow: hidden;
    float: left;
}
.wt_form h4 {
float: left;
font-size: 20px;
width: 100%;margin-top: 50px;
margin-bottom: 5px;
}
.wt_form p {
float: left;
width: 100%;
font-size: 14px;
margin-bottom: 5px;
margin-left: 3px;
}
#container.wt_contain {
width: 940px;
}
.add_name_dg.wt_add {
width: 940px;
}
#slider-wrapper.wt_slide {
width: 8460px;
}
.wt_btnBox1 {
float: left;margin-top: 43px; margin-left:30px;
}
.wt_mainbtn a{
float: left;
width: 300px;
margin: 30px;
padding: 15px 20px;color:#fff;
text-align: center;
font-size: 20px;
}
.wt_errorDiv {
color: #D34F4F;
background: #FCE2E6;
padding: 6px 0;
float: left;
border: 1px solid #D34F4F;
font-size: 18px;
text-align: center;
width: 98%;
margin-bottom: 10px;
border-radius: 5px;
}
.wt_msgDiv{
color: #179B12;
background: #C2FFB0;
padding: 10px 0;
float: left;
border: 1px solid #039108;
font-size: 18px;
text-align: center;margin-bottom: 10px;
border-radius: 5px;
width:98%;}
.wt_verifyDiv{
background: url(/wag_club/images/ryt.png) 10px 10px no-repeat;
padding: 10px 5px; height:20px;
float: left; width:20px;
}

.wt_leftBox1 {
width: 37%;
float: left;
}
.wt_rytBox1 {
width: 60%;
float: left;
}
.wt_actionBox {
float: left;
}
.wt_actionBox ul {
float: left;
margin: 0px;
padding: 0px;
}
.wt_actionBox ul li {
float: left;
background: #888;
padding: 0;
color: #fff;
width: 500px;
height: 170px;
margin-bottom: 17px;
}
.wt_actionBox ul li .wt_leftIcon{ float:left; margin:20px 30px;}
.wt_actionBox ul li .wt_rytTxt{ float:left;width: 300px; margin:28px 0;}
.wt_actionBox ul li.wt_orangeLi div.wt_rytTxt {
margin: 8px 0;
}
.wt_actionBox ul li .wt_rytTxt p {
font-size: 20px;
text-align: center;
float: left;
width: 250px;
margin: 0;
}
.wt_actionBox ul li .wt_rytTxt .wt_btnAct {
background: #fff;
float: left;
color: #888;
text-transform: uppercase;
width: 231px;
text-align: center;
padding: 5px 0;
border-radius: 2px;
margin-top: 10px;
margin-left: 10px;
font-weight: bold;
font-size: 18px;
}
.wt_actionBox ul li .wt_rytTxt .wt_btnAct:hover {
background: #666;
color: #fff;
}
.wt_actionBox ul li.wt_orangeLi{ background:#f89e1d;}
.wt_actionBox ul li.wt_orangeLi .wt_rytTxt .wt_btnAct{ color:#f89e1d}
.wt_actionBox ul li.wt_orangeLi .wt_rytTxt .wt_btnAct:hover {
background: #E08404;
color: #fff;
}
.wt_rytMid{ float:left;width: 315px;margin:40px 0 0 60px;}
.wt_grnStrip {float: left;background: #09ff16;width: 300px;height: 41px;-ms-transform: rotate(170deg);-webkit-transform: rotate(170deg);transform: rotate(170deg);position: relative;z-index: 0;}
.wt_pinkStrip {float: left;background: #ff005a;width: 300px;margin-top: -30px;color: #fff;font-size: 23px;padding: 7px;text-align: center;cursor: pointer;position: relative;}
.wt_pinkStrip a:hover {
text-shadow: 1px 1px 1px #333;
text-decoration: none;
color: #fff;
}
.wt_pinkStrip a {
color: #fff;
}
.wt_knowBox {
float: left;
}
.wt_knowTxt {
float: left;
width: 500px;
color: #d2232a;
font-size: 24px;
margin: 0px 0;
}
.wt_lostBtn1 {
background: #f89e1d;
padding: 5px 10px;
border-radius: 2px;
border: 1px solid #E08404;
cursor: pointer;
font-size: 18px;
color: #fff;
width: auto;
font-weight: bold;
float: left;
margin: 10px;
}
div.wt_lostBtn2 {
background: #eee;
background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e8e7e7));
padding: 5px 10px;
border-radius: 2px;
cursor: pointer;
border: 1px solid #bfbfbf;
cursor: pointer;
float: left;
margin-top: 10px;
font-size: 18px;
width: auto;
}
.trans_wc{ float:left; width:100%; background:#eee; padding:0px 0;}
.transAcc_wc{background: #f89e1d;
padding: 5px 10px;
border-radius: 2px;
border: 1px solid #E08404;
cursor: pointer;
font-size: 18px;
color: #fff;
font-weight: bold;
float: left;
margin: 10px;}
.transDec_wc{background: #eee;
background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e8e7e7));
padding: 5px 10px;
border-radius: 2px;
cursor: pointer;
border: 1px solid #bfbfbf;
cursor: pointer;
float: left;
margin-top: 10px;
font-size: 18px;
}
div.tran_wt {
    float: left;
    width: 100%;
    margin-top: 7px;
}
div.tran_wt label {
    float: left;
    font-size: 20px;
    padding: 10px;
}
div.tran_wt input#tranfer_email {
    float: left;
    padding: 5px 10px;
    margin: 13px;
    border-radius: 3px;
    width: 336px;
    border: 1px solid #bfbfbf;
}
div.tranCon_wt {
    float: left;
    padding: 10px;
}
div.tranConTxt_wt {
    float: left;
    text-align: left;
    font-size: 14px;
}
.wt_form ul li.wc_lostTag a {
    color: #668000;
    font-weight: bold;
    text-decoration: none;
}
.wt_form ul li.wc_lostTag a:hover {
    text-decoration: underline;
}
a#transfer_done {
    color: #f00;
}
div.wt_infoBox.fl.wt_form.vital_wc.vitalInfo_wc {
    width: 500px;
}
div.wt_infoBox.fl.wt_form.vital_wc.vitalInfo_wc ul li label {
    width: 200px;
}
div.wt_infoBox.fl.wt_form.vital_wc.vitalInfo_wc ul li textarea {
    width: 260px;
}
div.wt_infoBox.fl.wt_form.vital_wc.vitalInfo_wc ul li div.wt_btnBox {
    margin-left: 210px;
}
label.accTran_wt {
float: left;
padding: 10px;
font-size: 22px;
}
div.wt_verified {
    position: absolute;
    top: 119px;
    right: 12px;
    transform: rotate(-10deg);  
    -ms-transform: rotate(-10deg); /* IE 9 */  
    -webkit-transform: rotate(-10deg); /* Opera, Chrome, and Safari */;
}
.open_detailBox_dg ul li.firstLi_dg.wt_firstLi_dg{ background:#668000; color:#fff;}
.wt_infoBox.fr.wt_form.vital_wc.kciForm_wc h3 {
    width: 100%;
}
.wt_infoBox.fr.wt_form.vital_wc.kciForm_wc .wt_btnBox {
    margin-left: 370px;
}
.wt_infoBox.fr.wt_form.vital_wc.kciForm_wc input[type=text] {
    width: 500px;
}
.wt_stampPaw {
float: left; position:relative;
margin: -2px 5px -2px 0px;
}
.wt_verifiedTxt{ position: absolute; top: -14px; background: #333; color: #fff; padding: 5px; left: 0px; border-radius: 3px;}

span.wt_arwDwn {
    border-left: 6px solid transparent;  
    border-right: 6px solid transparent;  
    border-top: 6px solid #333;  
    padding: 0px;
    position: absolute;
    top: 27px;
    left: 25px;
}