
@font-face {
	font-family: 'SegoeUI';
	src: url('/fonts/SegoeUI.eot?') format('eot'), 
	     url('/fonts/SegoeUI.woff') format('woff'), 
	     url('/fonts/SegoeUI.ttf')  format('truetype'),
	     url('/fonts/SegoeUI.svg#SegoeUI') format('svg');
}


body {
	font-family: 'SegoeUI';
	text-align: center;
	background-repeat: repeat-x;
	background-position: top;
	background-color: #FFFFFF;
	
}
#wrapper {
	width:972px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}

.dogshows_wrapperBox
{
width:220px;
height:auto;
float:left;
text-align:left;
margin:10px;
margin-top: 9px;
margin-bottom: 9px;
text-align:center;
box-shadow: 2px 2px 2px 2px #DDD;
padding-top:7px;
padding-bottom:7px;
}
.dog_shows_thumbnail img
{
 width:200px;
 height:134px;
 text-align:center;
}
.dog_shows_title
{
font-size:16px;
margin-top:5px;
margin-bottom:5px;
text-align:center;
}
.dogshow_search
{
width:100%;
float:left;
margin-left:20px;
margin-bottom:10px;
}
.dogshow_sub_btn
{
border: 0px none;
cursor: pointer;
width: 25px;
height: 30px;
background: url(../Images/buttons/search-solar.png) no-repeat scroll 0% 0% transparent;
margin-top: 8px;
margin-left: 7px;
}
.dog_show_wrapper
{
width:100%;
float:left;
text-align:left;
margin-left:0px;
margin-top: 15px;
}

.dog_name
{
font-size:14px;
font-weight:bold;
margin:0px;
}
.dog_name a
{
font-size:14px;
font-weight:bold;
color:#000;
text-decoration:none;
}
.dog_date
{
font-size:13px;
margin:0px;
color:#999;
}
.dog_date a
{
font-size:13px;
margin:0px;
text-decoration:none;
color:#4e4d4d;
}
.logo {
	float: left;
}
/* ----------------------DogShow Nav Header -------------------------- */
.dogshow_nav_header
{
float: left;
width: 100%;
font-weight: bold;
background: none repeat scroll 0% 0% #E8F8A8;
font-size: 15px;
border-top: 1px solid #88D501;
color: #9BC105;
padding-top: 6px;
padding-bottom: 6px;
border-bottom: 1px solid #88D501;
z-index:9999;
}
#ds_top_nav {
	clear: both;
height: 37px;
padding-left: 16px;
padding-left: 0px;
float: left;
width: 500px;
}
#ds_top_nav ul{
padding: 0;
margin: 0;
}
#ds_top_nav ul li{
	display: inline;
	padding: 0;
	margin: 0;
	float: left;
}
#ds_top_nav ul li a{
	font-family: 'SegoeUI';
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	font-weight: normal;
	padding-top: 10px;
	padding-bottom: 0;
	text-align: center;
	height: 28px;
	display: block;
	line-height: 15px;
	margin-right: 4px;
	text-transform:uppercase;
} 
#ds_top_nav ul li a:hover, #ds_top_nav ul li a:focus{
	color: #fff;
	background-repeat: no-repeat;
	background-position: left -38px;
	background:#668000;

}
#ds_top_nav ul li a.active{
	color: #fff;
	background-repeat: no-repeat;
	background-position: left bottom;
   
}
.butt_1 {
	/* background-image: url(../Images/nav/butt_1.jpg); */
	width: 79px;
	    background: none repeat scroll 0% 0% #9BC105;
    

}

.butt_2 {
	 background: none repeat scroll 0% 0% #9BC105;
	width: 102px;
	background-repeat: no-repeat;
	background-position: left top;
	   
}
.butt_3 {
	    background: none repeat scroll 0% 0% #9BC105;
  
	width: 149px;
	background-repeat: no-repeat;
	background-position: left top;
}
.butt_4 {
	  background: none repeat scroll 0% 0% #9BC105;
   
	width: 127px;
	background-repeat: no-repeat;
	background-position: left top;
}



#dogshow_nav li:hover ul, #dogshow_nav li.sfhover ul {
	left: auto;
}
#dogshow_nav li li {
	z-index:132px;
	font-weight: normal;
	font-size: 13px;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #ccc;
	margin-right: 3px;  /* because background shadow */
	margin-left: 3px;  /* because background shadow */
}
#dogshow_nav li li a { /* nav dropdown text area */
	color:#0E202E;
	height:auto;
	line-height:16px;
	text-align:left;
	width: 114px !important;
	background-image: url(../Imagess/nav/drop-over.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	font-size: 13px;
	padding-top: 7px;
	padding-right: 14px;
	padding-bottom: 7px;
	padding-left: 14px;
}
#dogshow_nav li li a:hover {
	z-index: 30001;
	color: #F60;
}
#dogshow_nav li:hover, #dogshow_nav li.hover {
   position: static;
}
#ds_searchbox
{
	float:left;
	width:426px;
	margin-left: 46px;
	}
 .ds_searchboxl
{
	float:left;
	      width: 380px
	}
	 .ds_searchboxr
{
	float:left;
	width:39px;
	height:36px;
    background:#9BC105;
	border:1px solid #668000;
	}
	.ds_searchboxr img
{
	padding-top: 7px;
    text-align: center;
    padding-left: 6px;
	}
	.dogshow_input
	{
	    font-family: 'SegoeUI';
		
		border: 1px solid #668000;
        width: 383px;
        height: 38px;
        font-size:16px;
        padding-left: 10px;
        padding-right: 10px;
        float: left;
		}
/* ----------------------Home Page css-------------------------- */
#content {
	clear: both;
}
.dogshow-slider-sec
{
	float: left;
width: 100%;
background: none repeat scroll 0% 0% #DDD;
text-align: left;
	}

#dogshow_banner_holder {
	height: 319px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: left top;
	float:left;
	
}

#dogshow_banner {
	position:relative;
	height:319px;
	z-index:0;
}
#dogshow_banner IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}

#dogshow_banner IMG.active {
    z-index:10;
    opacity:1.0;
}
#dogshow_banner IMG.last-active {
    z-index:9;
}
#slideshowtext {
	position: absolute;
	height: 270px;
	width: 365px;
	z-index:0;
	margin-top: -313px;
	margin-left: 0px;
	/*margin-left: 28px;*/
	padding-top: 30px;
}
#slideshowtext h1 {
	font-size: 30px;
	color: #FFFFFF;
	margin: 0px;
	padding-bottom: 20px;
	line-height: 40px;
}
.recent_show_albem h2 {
text-align: left;
 width: 100%; 
 border-bottom: 3px solid #9BC105; 
 padding-bottom: 5px;
  margin-top: 12px; 
  
  color: #9BC105; font-weight: normal; font-size: 22px;
}
#slideshowtext p {
	font-family: 'SegoeUI';
	font-size: 16px;
	color: #FFFFFF;
	line-height: 20px;
	
	margin:0px;
	padding-bottom:15px;
}
#showsechedule_text {
	position: absolute;
	width: 365px;
	z-index:0;
	margin-top: -122px;
	margin-left: 0px;
	/*margin-left: 28px;*/
	padding-top: 30px;
}
#showsechedule_text h1 {
	font-size: 44px;
	color: #FFFFFF;
	margin: 0px;
	padding-bottom: 20px;
	line-height: 40px;
}

#showsechedule_text h6 {
	font-size: 44px;
	color: #FFFFFF;
	margin: 0px;
	padding-bottom: 20px;
	line-height: 40px;
}
a.dogshow_enter {
	font-family: 'SegoeUI';
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(../Images/buttons/butt_enter.png);
	height: 47px;
	width: 131px;
	display: block;
	padding-top: 20px;
	padding-left: 27px;
	font-size: 18px;
	float: left;
	background-repeat: no-repeat;
	background-position: left top;
	margin-left: -6px;
}
a.dogshow_enter:hover {
		font-family: 'SegoeUI';
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(../Images/buttons/butt_enter.png);
	height: 47px;
	width: 131px;
	display: block;
	padding-top: 20px;
	padding-left: 27px;
	font-size: 18px;
	float: left;
	background-repeat: no-repeat;
	background-position: left top;
	margin-left: -6px;

}
a.dogshow_running {
	font-family: 'SegoeUI';
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(../Images/buttons/butt_running.png);
	height: 47px;
	width: 173px;
	display: block;
	padding-top: 22px;
	padding-left: 26px;
	font-size: 18px;
	float: left;
	background-repeat: no-repeat;
	background-position: left top;
}
a.dogshow_running:hover {
	font-family: 'SegoeUI';
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(../Images/buttons/butt_running.png);
	height: 47px;
	width: 173px;
	display: block;
	padding-top: 22px;
	padding-left: 26px;
	font-size: 18px;
	float: left;
	background-repeat: no-repeat;
	background-position: left top;
}
#show_result {
	position: absolute;
	height: 296px;
	width: 300px;
	z-index: 4;
	
	margin-top: -308px;
	/*margin-left: 652px;*/
	margin-left: 668px;
	background:#C9CFC1;;

}
.show_title {
font-family: 'SegoeUI';
font-size: 20px;
color: #162E44;
height: 31px;
border-bottom: 1px solid #fff;

background: #95BB1C;
padding-left: 20px;
padding-top:10px;
color: #fff;

padding-top: 10px;
padding-bottom: 5px;
}
#show_result ul {
	font-family:'SegoeUI';
	width: 254px;
	list-style:none;
	margin-left: 20px;
	margin-top: 8px;
}
#show_result ul>li
{
	margin-left:0px;
	width: 254px;
	list-style:none;
}
#show_result li a{
	font-family:'SegoeUI';
	font-size: 14px;
color: #162E44;
display: block;
height:44px;
border-bottom: 1px solid #FFF;
text-decoration: none;
padding-top: 4px;
background-repeat: no-repeat;
	
}
#show_result li a:hover{
font-family:'SegoeUI';
	font-size: 14px;
color: #162E44;
display: block;
height:44px;
border-bottom: 1px solid #FFF;
text-decoration: none;
padding-top: 4px;
background-repeat: no-repeat;
text-decoration:underline;	
}


.view-more
{
font-size: 16px;
float: right;
padding-top: 10px;
color: #000;
	}
	.recent_show_albem
	{
		margin-top: 20px; 
		text-align: left; 
		overflow: hidden; 
		width: 100%;
		float: left;
		}
.recent_show_albem h1
{
text-align: left;
 width: 100%; 
 border-bottom: 3px solid #9BC105; 
 padding-bottom: 5px;
  margin-top: 12px; 
  
  color: #9BC105; font-weight: normal; font-size: 22px;
	}
	.view_more_dogshow
	{
float: left;
text-align: right;
width: 99%;
font-size: 19px;
color: #9BC105;
}
.view_more_dogshow a
{
		color:#9BC105;
		font-size: 19px;
		text-decoration:none;
			}
/* ----------------------Dogshow box home page-------------------------- */
#Dogshow_box {
	float:left;
	margin-top:25px;
	padding-right: 0px;
	padding-left: 0px;
	width: 970px;
	height:308px;
	font-family: 'SegoeUI';
}
.box_list {
	height: 320px;
	width:  322px;
	float: left;
	background:#ecdcc5;
	
}
.box_show_title {
	font-family: 'SegoeUI';
	
	font-size: 20px;
	color: #162e44;
	height: 25px;
   border-bottom:1px solid #fff;
 background: none repeat scroll 0% 0% #95BB1C;
padding-left: 20px;
padding-top: 10px;
padding-bottom: 10px;
color: #fff;
}
.box_list ul {
margin-left: 20px;
width: 274px;
list-style: none outside none;
margin-top: 5px;
}
.box_list  ul >li
{

margin:0px;

border-bottom:1px solid #fff;
padding: 2px 0px;
}
.box_list li a{
	font-family:'SegoeUI';
	font-size: 14px;
	color: #162e44;
	display:inline-block;
	height: 28px;
	
	text-decoration: none;
	
	margin-top:5px;
	
	background-repeat: no-repeat;

}
.box_list li a:hover{
  font-family:'SegoeUI';
	font-size: 14px;
	color: #162e44;
	height: 28px;

	text-decoration: underline;

	margin-top:5px;
	

	background-repeat: no-repeat;


}

#box_news {
height: 321px;
	width: 302px;
	/* background-image: url(../Images/bg/box_2_bg.jpg); */
	background:#c9cfc1;

	float: left;
	background-repeat: no-repeat;
	background-position: left top;
}
.dog_show_recentNews {
	padding-top:0px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	font-size: 14px;
	color: #162E44;
}
.dog_show_recentNews a
{
	font-size: 14px;
color: #162E44;
}
	.dog_show_recentNews a:hover
{
	font-size: 14px;
color: #162E44;
	}
	
.recent_news_title {
	font-size: 14px;
	font-weight: bold;
	color: #162e44;
	display: block;
	padding-top: 5px;
	line-height: 17px;
	padding-bottom:5px;
}

.recent_news_title a {
	font-size: 14px;
	font-weight: bold;
	color: #162e44;
	text-decoration: none;
	display: block;
	padding-top: 5px;
	line-height: 17px;
}
.recent_news_readmore a
{   
font-size: 14px;
	color:#668000;
	text-decoration: none;
	}
	a.recent_news_readmore:hover
	{
		font-size: 14px;
	color:rgb(149, 187, 28)
		}
a.recent_news_title:hover {
	font-size: 14px;
	font-weight: bold;
	color: #162e44;
	text-decoration: underline;
	display: block;
	padding-top: 5px;
	line-height: 17px;
}
.recent_news_viewmore
 {
	 margin-right:20px;
	}
.recent_news_date{
	font-size: 11px;
	font-weight: normal;
	color: #162e44;
	text-decoration: none;
	padding-left: 30px;
	padding-right: 40px;
	display: block;
	padding-top: 4px;
	line-height: 15px;
	padding-bottom: 8px;
}
.news_content p {
	padding-left: 30px;
	padding-right: 30px;
	font-size: 12px;
	color: #162e44;
	font-family: 'SegoeUI';
}
#box_show {
	font-family: 'SegoeUI';
	height: 320px;
	width: 302px;
 background-image: url(../Images/bg/Enter-Online.jpg);
	float: left;
	background-repeat: no-repeat;
	background-position: left top;
	
}
a.dogshow_enterbtn {
font-family: 'SegoeUI';
display: block;
background-image: url(../Images/buttons/butt_enter_small.png);
height: 56px;
width: 98px;
text-align: center;
color: #FFF;
font-size: 16px;
line-height: 18px;
text-decoration: none;
padding-top: 16px;
background-repeat: no-repeat;
background-position: left top;
float: right;
margin-right: 6px;
margin-top: 185px;
clear: both;
}
a.dogshow_enterbtn:hover {
	font-family: 'SegoeUI';
	display: block;
	background-image: url(../Images/buttons/butt_enter_small.png);
	height: 56px;
	width: 98px;
   text-align: center;
   color: #FFF;
   font-size: 16px;
   line-height: 18px;
   text-decoration: none;
   padding-top: 16px;
   background-repeat: no-repeat;
   background-position: left -71px;
   float: right;
   margin-right: 6px;
   margin-top: 185px;
  clear: both;
}


.margin_left {
	margin-left: 22px;
}
.float_left_img {
	float: left;
	margin-right: 30px;
}
#get_in_contact {
	clear: both;
	padding-top: 20px;
}
.get_in_touch_text {
	font-size: 14px;
	line-height: 20px;
	margin-top: -5px;
	float: left;
	width: 270px;
	padding-bottom: 15px;
}

/* ----------------------Schedule Page-------------------------- */




#frm_show {
	float: right;
	height: 25px;
	font-size: 12px;
	padding-top: 24px;
	width: 146px;
}
.show_select {
	font-size: 12px;
	color: #000000;
	margin-bottom: 10px;
	width: 100px;
	margin-right: 5px;
	line-height: 22px;
	height: 22px;
	padding: 2px;
	margin-top: 3px;
	margin-left: 10px;
	float: right;
	font-family: 'SegoeUI';
}
.show {
	float: left;
	padding-top: 6px;
	font-size: 12px;
	line-height: 14px;
}
#tbl_recent_shows {
	margin-right: 0px;
	margin-left: 0px;
	margin-top: -10px;
}
#tbl_recent_shows td {
	padding-top: 6px;
}
a.showschedule_results  {
	display: block;
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
	padding-left: 17px;
	background-image: url(../Images/buttons/next.png);
	background-position: left center;
	background-repeat: no-repeat;
	margin-top: 12px;
}
a.showschedule_results :hover {
	text-decoration: none;

}
a.show_title_link {
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	padding-bottom: 5px;
	display: block;
}
a.show_title_link:hover {
	text-decoration: none;
	color:#000;

}
.show_date {
	font-size: 14px;
	color: #000000;
	padding-bottom: 10px;
	padding-top: 6px;
}
.icon {
	padding-left: 30px;
	padding-right: 6px;
}
.box {
	background-color: #e9f1f8;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #dbe8f4;
	border-left-color: #dbe8f4;
	padding-right: 20px;
	padding-left: 20px;
	margin: 0px;
}
.box-corners {
	margin: 0px;
	padding: 0px;
	float: left;
}
.dark {
	background-color: #ddd;
}
.blueborder {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dbe8f4;
}

.negative_margin {
	margin-left: 18px;
}
.pink {
	background-color: #ffefe5;
}
#tbl_shows_available td {
	padding-top: 6px;
}

#tbl_shows_available th {
	background-image: url(../Images/bg/double_line.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	font-size: 12px;
	padding-top: 7px;
	padding-bottom: 10px;
}
.closing_date {
	font-size: 14px;
	line-height: 14px;
}
.exclamation {
	padding-top: 0px;
}
.flag {
	padding-top: 2px;
	margin-left: 12px;
}



/* News */

.add {
	font-family: 'SegoeUI';
	font-size: 12px;
}
/*dogspot  schedule page css */ 
#dogshow_schedules_sec
{

width: 100%;

margin-bottom: 12px;

clear: both;
float: left;
margin:0px;

}
.dogshow_schedules_dog
{background-repeat: no-repeat;
background-position: left top;

}

#dogshow_schedules_sec h1 {
   font-family:'SegoeUI';
font-size: 40px;
color: #FFF;
padding-top: 207px;
padding-left: 18px;
font-weight: normal;
margin: 0px;
padding-bottom: 20px;
margin-left:170px;
text-align:left;
}

#show_results_full_column {
	margin-bottom: 10px;
	padding-bottom: 5px;
	background-repeat: repeat-x;
	background-position: bottom;
    overflow:hidden;
	float: left;
	width: 100%;
	margin-top:25px;
}
#schedule_full_column {
	margin-right: 18px;
	margin-left: 18px;
	margin-bottom: 29px;
	padding-bottom: 38px;
	background-repeat: repeat-x;
	background-position: bottom;
}
#dog_schedule_start {
	margin-bottom: 10px;
	width:100%;
}
#dog_schedule_start h2 {
	width:100%;
	float: left;
	font-size: 24px;
	color: #9BC105;
	font-weight: normal;
	margin:0px;
	float: left;
	padding-bottom:5px;
	border-bottom:3px solid #9BC105;
}

#dog_schedule_start h1 {
	width:100%;
	float: left;
	font-size: 24px;
	color: #9BC105;
	font-weight: normal;
	margin:0px;
	float: left;
	padding-bottom:5px;
	border-bottom:3px solid #9BC105;
}
#dogshow_filter_div
{
    margin-left: 0px;
    margin-bottom: 18px;
    padding-bottom: 5px;
	margin-top:5px;
    background:#E8F8A8;
	text-align:center;
	padding-top:15px;
	padding-bottom:15px;
	border-radius:5px;
	float: left;
    width: 100%;
}

.dogshow_filter_drop
{
border:1px solid #668000;
height:35px;
width: 305px;
font-size:14px;
border-radius:5px;
}
.dogshow_gobtn
{
border: 1px solid #668000;
width:40px;
height:35px;
border-radius:5px;
background:#8CAA17;;
color:#fff;
font-size:16px;
font-weight:bold;
margin-left:5px;
margin-right:15px;
cursor:pointer;
}
.dogshow_sechduletable
{
     margin-left: 0px;
    margin-bottom: 18px;
    padding-bottom: 5px;
	margin-top:5px;
	padding-top:15px;


}
.dogshow_sechduletable table
{
border:1px solid #ddd; 
padding:5px;
border-radius:5px;
}
th
{
background:#95BB1C;
font-size:14px;
color:#fff!important;
}
td,tr,th{
padding:10px;

}
.state_name
{
font-size: 14px;
color:#333;
}
a.showschedule_results {
    display: block;
    font-size: 14px;
    color: #000;
   
    padding-left: 17px;
    background-image: url('../Images/buttons/next.png');
    background-position: left center;
    background-repeat: no-repeat;
    margin-top: 12px;
}
a.show_neg {
    margin-top: 2px;
}
a.showschedule_enter_online {
    display: block;
    font-size: 14px;
    color: #000;
    
    padding-left: 17px;
    background-image: url('../Images/buttons/orange_next.png');
    background-position: left center;
    background-repeat: no-repeat;
    margin-top: 8px;
}
a.cta_back {
	float: right;
	color: #000000;
	background-image: url(../Images/buttons/back.gif);
	display: block;
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 18px;
	font-size: 11px;
	text-decoration: underline;
	margin-top: 35px;
	margin-right: 10px;
	line-height: 12px;
}
a.cta_back:hover {
	float: right;
	color: #000000;
	background-image: url(../Images/buttons/back.gif);
	display: block;
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 18px;
	font-size: 11px;
	text-decoration: none;
	margin-top: 35px;
	margin-right: 10px;
	line-height: 12px;
}
#schedule_col_left {
	float: left;
	width: 628px;
	
}
#tbl_data {
	font-size: 14px;
	color: #000000;
	margin-bottom: 10px;
}
#tbl_data td {
	padding-top: 7px;
	padding-bottom: 7px;
}
strong {
	font-weight: bold;
}
#schedule_col_left p {
	font-size: 12px;
	padding-bottom: 15px;
	padding-right: 12px;
	line-height: 18px;
}



.map {
}
.double_line_with_Margin {
	margin-top: 38px;
	margin-bottom: 29px;
	clear: both;
	display: block;
}
#schedule_butts {
	float: right;
	width: 226px;
	margin-right: 13px;
}
a.schedule_butts_1 {
	font-family: 'SegoeUI';
	font-size: 18px;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	background-image: url(../Images/buttons/pdf-download-btn.jpg);
	background-position: left top;
	text-align: left;
	padding-top: 23px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 23px;
	height: 41px;
	line-height: 18px;
}
a.schedule_butts_1:hover {
	background-position: left bottom;
}
a.schedule_butts_2 {
	font-family: 'SegoeUI';
	font-size: 18px;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	background-image: url(../Images/buttons/pdf-download-btn.jpg);
	background-position: left top;
	text-align: left;
	padding-top: 22px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 23px;
	height: 40px;
	line-height: 18px;
}
a.schedule_butts_2:hover {
	background-position: left bottom;
}
a.schedule_butts_3 {
	font-family: 'SegoeUI';
	font-size: 18px;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	background-image: url(../Images/buttons/pdf-download-btn.jpg);
	background-position: left top;
	text-align: left;
	padding-top: 22px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 23px;
	height: 41px;
	line-height: 18px;
}
a.schedule_butts_3:hover {
	background-position: left bottom;
}
a.schedule_butts_4 {
	font-family: 'SegoeUI';
	font-size: 18px;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	background-image: url(../Images/buttons/schedule_butt_4.jpg);
	background-position: left top;
	text-align: left;
	padding-top: 24px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 23px;
	height: 45px;
	line-height: 18px;
}
a.schedule_butts_4:hover {
	background-position: left bottom;
}
#advert {
	float: left;
	margin-top: 20px;	
	margin-left: 20px;
}
#online_help {
	background-image: url(../Images/banner/online-contact.jpg);
	height: 109px;
	width: 374px;
	margin-left: 0px;
	margin-bottom: 30px;
	padding-left: 163px;
	padding-top: 20px;
	float: left;
	margin-top: 20px;
}
#online_help h6 {
	font-size: 30px;
	color: #000000;
	font-weight: normal;
	line-height: 32px;
	padding-bottom: 10px;
	float: left;
	width: 200px;
	margin-top: -15px;
    margin-bottom: 0px;
}
#online_help p {
	font-size: 14px;
	float: left;
	width: 230px;
	margin-top: -5px;
}

.marg {
	padding-left: 30px;
}
.best_in_show {
	background-image: url(../Images/bg/best_bg_top.jpg);
	background-repeat: repeat;
	background-position: top;
	width: 890px;
	margin-left: 48px;
	margin-bottom: 20px;
}
.best_in_show_inner {
	background-image: url(../Images/bg/best_bg_bottom.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-left: 29px;
	padding-bottom: 14px;
}

.tbl_best {
	font-size: 13px;
}
.tbl_best_list {
	font-size: 12px;
	margin-bottom: 10px;
	padding-top: 10px;
}
.best_in_show_inner .best {
	float:left;
	margin-top: 20px;
	margin-right: 4px;
}
.best_in_show_inner .open {
	float:left;
	margin-top: 12px;
	margin-right: 4px;
	cursor: pointer;
}
.best_in_show_inner .close {
	float:left;
	margin-top: 14px;
	margin-right: 4px;
	cursor: pointer;
}
.best_in_show_inner h3 {
	font-size: 24px;
	font-weight: normal;
	line-height: 26px;
	padding-top: 30px;
}
.best_in_show_inner h4 {
	font-size: 20px;
	font-weight: normal;
	line-height: 26px;
	padding-top: 20px;
}
.judge {
	font-size: 12px;
	color: #000000;
	padding-bottom: 12px;
	padding-top: 20px;
}
.name {
	padding-bottom: 14px;
}
.group {
	font-weight: bold;
	width: 140px;
	text-transform: uppercase;
}
#view_results_row {
	padding-top: 20px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #dbe8f4;
	border-right-color: #dbe8f4;
	border-bottom-color: #dbe8f4;
	border-left-color: #dbe8f4;
}
#view_results {
	float: left;
	padding-left: 48px;
	width: 250px;
}
#view_results h3 {
	font-size: 24px;
	font-weight: normal;
	line-height: 26px;
	padding-bottom: 7px;
}
.best_select {
	font-size: 12px;
	color: #000000;
	margin-bottom: 10px;
	width: 216px;
	margin-right: 5px;
	line-height: 22px;
	height: 22px;
	padding: 2px;
	margin-top: 3px;
	font-family: 'SegoeUI';
}
.float_right {
	float: right;
	margin-right: 48px;
}


/* running show page schedule css */
#running_show {
   
 width: 970px;
margin-top: 5px;
margin-bottom: 12px;
float:left;
clear: both;

}
#running_show h1 {
    
    font-size: 30px;
    color: #FFF;
    padding-top: 141px;
    padding-left: 18px;
  
    margin: 0px;
    padding-bottom: 20px;
	
}
.dog_bone {
   
    background-repeat: no-repeat;
    background-position: left top;
}
#left_col {
    float: left;
    width: 640px;
   margin-right: 31px;
   margin-top:25px;
}

#left_col h1 {
       width: 100%;
    font-size: 22px;
    color: #9BC105;
    font-weight: normal;
    margin: 0px;
    float: left;
    padding-bottom: 5px;
    border-bottom: 3px solid #9BC105;
	overflow:hidden;
}
}
#left_col h2 {
    font-size: 30px;
    color: #000;
    font-weight: normal;
    padding-bottom: 20px;
	margin: 0px;
	overflow:hidden;
}
#left_col p
{
font-size:14px;
} 

.intro
{
margin-top:45px;
margin-bottom:30px;
clear:both;overflow:hidden;
font-size:14px;
}

#left_col ul {
 
    list-style-type: disc;
    padding-bottom: 14px;
}
#left_col li {
    font-size: 14px;
    padding-bottom: 1px;
	margin-left: 20px;
}
#get_in_contact {
    clear: both;
    padding-top: 20px;
}
.float_left_img {
    float: left;
    margin-right: 30px;
}
.get_in_touch_text {
    font-size: 14px;
    line-height: 20px;
    margin-top: -5px;
    float: left;
    width: 270px;
    padding-bottom: 15px;
}
.get_in_contact h2{
   margin:0px;
}
a.cta_contact {
    font-family: 'SegoeUI';
    background-image: url('../Images/buttons/butt_enter.png');
    height: 40px;
    width: 158px;
    display: block;
    float: left;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    margin-left: -5px;
    background-repeat: no-repeat;
    background-position: left top;
}
a.cta_contact {
	font-family: 'SegoeUI';
	background-image: url(../Images/buttons/butt_enter.png);
	height: 47px;
	width: 158px;
	display: block;
	float: left;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	padding-top: 20px;
	font-size: 18px;
	margin-left: -5px;
	background-repeat: no-repeat;
	background-position: left top;
}
a.cta_contact:hover {
	font-family: 'SegoeUI';
	background-image: url(../Images/buttons/butt_enter.png);
	height: 47px;
	width: 158px;
	display: block;
	float: left;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	padding-top: 20px;
	font-size: 18px;
	margin-left: -5px;
	background-repeat: no-repeat;
	background-position: left bottom;
}
#right_col {
    float: left;
   
width: 280px;
padding-bottom: 20px;
margin-left: 20px;
margin-top:25px;
}
#sub_nav_list {
    width: 302px;

    background-repeat: no-repeat;
    background-position: left top;
    margin-bottom: 10px;
}
#sub_nav_list_inner {
   
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-bottom: 14px;
}
.sub_nav_title {
   
    margin-left: 30px;
    font-size: 20px;
    color: #162E44;
    height: 29px;
    padding-top: 31px;
    line-height: 22px;
}
#sub_nav_list ul {
    margin-left: 14px;
    margin-right: 14px;
	list-style:none;
}
#sub_nav_list li a {
    font-size: 14px;
    color: #162E44;
    display: block;
    padding-left: 50px;
    border-top: 1px solid #FFF;
    text-decoration: underline;
    padding-top: 10px;
    line-height: 18px;
    font-weight: normal;
   
    background-repeat: no-repeat;
    background-position: 22px 14px;
    padding-bottom: 10px;
}
.get_in_touch_text {
    font-size: 14px;
    line-height: 20px;
    margin-top: -5px;
    float: left;
    width: 270px;
    padding-bottom: 15px;
}

.dogshow_sider h1
{
margin:0px;
font-size:22px;
color:#9BC105;
border-bottom:3px solid #9BC105;
padding-bottom:5px;
font-weight:normal;
}

/*dogspot  sub nev section */
.dogshow_sub_nav
{
width:280px;
margin-top:20px;
border-radius:5px;
background:#34495E;
}
.dogshow_sub_nav ul {
    list-style: none outside none;
	margin-top:15px;
	padding-top:3px;
	padding-right:25px;
   
	padding-bottom:15px;
}
.dogshow_sub_nav ul >li{
	
  margin-left:20px;
}
.dogshow_sub_nav li a {
    font-size: 14px;
    color: #fff;
    display: block;
    border-bottom: 1px solid #FFF;
    text-decoration: none;
    padding-top: 10px;
    line-height: 18px;
    font-weight: normal;
    padding-bottom: 10px;
	
}
.dogshow_sub_nav li a:hover
{ font-size: 14px;
    color: #fff;
    display: block;
    border-bottom: 1px solid #FFF;
    text-decoration: none;
    padding-top: 10px;
    line-height: 18px;
    font-weight: normal;
    padding-bottom: 10px;
	
}
.dogshow_kci_sec
{  
    display:block;
	font-family: 'SegoeUI';
	border-bottom:0px;
 width:500px;
 overflow:hidden;
 font-size:14px;

 margin: 25px auto auto 400px;
float: left;
	}
	.kci_sec_inside
	{
	border-bottom:1px solid #ddd;
	overflow:hidden;
	 width:500px;
	}
	.kci_sec_left
	{
		  padding-top:10px;
		width:360px; 
	    float:left;
		padding-left:10px;
		 background:#ddd;
		 height:30px;
		text-align: left;
			}
			.kce_sec_right
			{
				width:120px; 
				padding-top:10px;
				float:left;
				text-align:right; 
				padding-right:10px;
				 background:#ddd;
				 height:30px;
				 
				 }
				 .kci_sec ul
				 {
					padding:0px;
					margin:0px;
					margin-left:32px;
					 float:left;
					 list-style:none;
					 padding-top:0px;
					 
					 padding-bottom:5px;
					 font-family: 'SegoeUI';
					 font-size:14px;
					 text-align: left;
					 }
					 .kci_proced_btnDiv
					 {
						 margin:10px;
						 }
   .kci_proced_btn
						 {
				background:#9BC105;
border: 1px solid #9BC105;
color: #FFF;
width: 100px;
height: 30px;
border-radius: 5px;
font-size: 16px;
margin-left:235px;
cursor:pointer;
}
.kci_add_newDogbtn
{background:#9BC105;
border: 1px solid #9BC105;
color: #FFF;
width: 140px;
height: 30px;
border-radius: 5px;
font-size: 16px;
cursor:pointer;
	}
