/* CSS Document */
.wt_topNav{ float:left;}
.wt_topNav ul{ float:left; margin:0px; padding:0px;}
.wt_topNav ul li{ float:left; margin:0px; padding:0px; list-style:none;}
.wt_topNav ul li a {/*border-left: 1px solid #88D501;*/color: #9bc105;float: left;padding: 10px 15px;}
.wt_topNav ul li a:hover{ text-decoration:none; color:#668000;}
/*.wt_last{border-right: 1px solid #88D501;}*/
.wt_search{ float:right;}
.wt_search .wc_srchbtn{ margin:6px 0 0 0;}
.wt_search .wc_search input {border: 0 none;float: left;font-size: 15px;height: 25px;line-height: 25px;margin: 0 5px;width: 194px;}
.wt_topSec {float: left;margin-top: 10px;}
.wt_logo{ float:left;margin: 50px 50px 0 8px;}
.wt_pupSec{ float:left;}
.wt_leftArw{ float:left;margin-top: 50px;}
.wt_stryBox {
margin-left: -2px;
float: left;
background: #ff005a;
width: 386px;
border-radius: 5px;
font-size: 17px;
}
.wt_stryBox h2 {
float: left;
width: 90%; color:#000;
font-size: 22px;
text-align: center;
margin: 10px 20px;
text-transform: uppercase;
}
.wt_pointsBox{ float:left; margin-left:20px;}
.wt_stryBox ul{ float:left; margin:0px; padding:0px 20px;}
.wt_stryBox ul li {
float: left;
width: 100%;
font-size: 17px;
margin-bottom: 7px;
font-weight: bold;
padding: 0px;
color: #fff;
text-transform: uppercase;
letter-spacing: 0px;
}
/*list-style: none;
text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/

.wt_Story {float: left;margin-top: 70px;margin-left: 40px;}
.wt_midSec{float: left;margin-top: 50px;}
.wt_leftMid{ float:left;}
.wt_rytMid{ float:left;width: 315px;margin: 125px 0 0 60px;}
.wt_grnStrip {float: left;background: #09ff16;width: 300px;height: 41px;-ms-transform: rotate(170deg);-webkit-transform: rotate(170deg);transform: rotate(170deg);position: relative;z-index: -1;}
.wt_pinkStrip {float: left;background: #ff005a;width: 300px;margin-top: -30px;color: #fff;font-size: 23px;padding: 7px;text-align: center;}
.wt_bottomSec{float: left;margin-top: 50px; width:100%; background:#aec551;}
.wt_tabSpace{ width:40px; float:left; height:200px;}
.wt_tabs {float: left;text-align: center;margin: 40px 0;}
.wt_tab_box {float: left; background:#fff;width: 297px;}
.wt_tab_box.wt_tab2{ background:#e8f8a8;}
.wt_tab_box h2 {color: #668000;font-size: 25px;display: table-cell;width: 297px;vertical-align: middle;height: 60px;text-align: center;padding: 5px 30px;}
.wt_tabHead{ float:left; width:100%;margin: 10px 0;
border-top: 1px dashed #668000; text-align:center;}
.wt_tabImg {float: left;width: 100%;margin: 10px 0;}
.wt_tabTxt {display: table-cell;padding: 10px 51px;font-size: 22px;line-height: 30px;vertical-align: middle;height: 140px;}
.wt_tabBtn a{float: left;background: #aad223;padding: 8px 30px;margin: 15px 0 30px 65px;font-size: 18px;border-radius: 3px;color: #fff;text-transform: uppercase;}
.wt_tabBtn a:hover{ background:#668000; color:#fff; text-decoration:none;}
.wt_whatBox{ float:left; font-size:15px;}
.wt_whatBox h2 {font-size: 24px;
margin: 10px 0;float: left;width: 100%;}
.wt_whatBox p {font-size: 17px;line-height: 24px;}
.wt_whatBox ul li{ margin-left:30px;line-height: 20px;}
.wt_infoBox{ float:left;width: 100%;margin-top: 25px;}
.wt_whatTxt {
float: left;
width: 100%;
}
.wt_whatImg{ float:right;}
.wt_whatTxt p {font-size: 17px;line-height: 24px;}
.wt_whatImg {float: left;margin-left: -26px;}
.wt_howBox{ float:left;margin-top: 20px;}
.wt_idArw {position: absolute;right: -45px;background: #ff005a;width: 100px;padding-top: 37px;text-transform: uppercase;font-size: 20px;color: #fff;top: -10px;text-align: center;height: 63px;border-radius: 50%;}
.wt_calArw {position: absolute;right: 189px;background: #09ff16;width: 100px;padding-top: 37px;text-transform: uppercase;font-size: 20px;color: #fff;top: 154px;text-align: center;height: 63px;border-radius: 50%;}
.wt_rytArw {position: absolute;top: 54px;right: 2px;z-index: 9;}
.wt_lftArw {position: absolute;right: 199px;top: 135px;z-index: 9;}
.wt_tagLine {
float: left;
background: #ECECEC;
padding: 21px;
width: 251px;
font-weight: bold;
color: #857D7D;
margin: 79px 0 0 0;
text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
margin-left: 20px;
font-size: 18px;
letter-spacing: 2px;
text-transform: uppercase;
}
.wt_tagAll{ float:left; position:relative;}
/*.wt_leftHow{ float:left; width:650px;}
.wt_leftHowBox{ float:left; margin-right:20px; width:300px}
.wt_rytHow{ float:left; width:300px;}
.wt_leftHowBox {
float: left;
margin-right: 20px;
text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
width: 265px;
text-transform: uppercase;
line-height: 35px;
letter-spacing: 2px;
background: #ccc;
padding: 20px;
font-size: 18px !important;
}*/
.wt_getInfo {
float: left;
background: #E8F8A8;
padding: 17px;
text-transform: uppercase;
font-size: 17px;
line-height: 28px;
color: #668000;
font-weight: bold;

}
.wt_fillInfo{float: left;
background:#F0F0F0;
padding: 17px;
text-transform: uppercase;
line-height: 28px;
font-weight: bold;}
.wt_fillInfo ul li{ font-size:15px; line-height:25px;}
.wt_infoBox1 {
float: left;
width: 96%;
margin-top: 10px;
margin-left: 37px;
}
.wt_infoBox1 .wt_tagAll {
margin-top: 60px;
}

/*faq*/
.wt_faqSec{ float:left; margin-top:30px;}
.wt_faqSec h2{ font-size:25px; text-transform:uppercase;}
ul.wt_faqBox{ float:left; margin:0px; padding:0px; width:100%;}
ul.wt_faqBox li{ background: #f7ffd8; margin:10px 0; border: 1px solid #668000; list-style:none; float:left; color: #668000; width:100%;}
ul.wt_faqBox li .wt_queTxt{background:#E8F8A8; float:left;
font-size: 16px;color: #000;width:100%;border-bottom: 1px solid #668000;}
ul.wt_faqBox li .wt_queTxt label{padding: 8px 12px; float:left;}
ul.wt_faqBox li .wt_ansTxt{padding:8px 15px;font-size: 17px; float:left;width:97%;}
.wt_quesShow, .wt_quesHide {
float: left;
font-size: 24px;
font-weight: bold;color: #fff;
padding: 3px 12px;
background: #849C23;
border-right: 1px solid #668000;
}

.wt_paraBox {
float: left;
width: 630px;
border: 1px solid #668000;
}
.wt_paraBox ul {
float: left;
margin: 0px;
padding: 0px;
}
.wt_paraBox ul li{
display: table-cell;
vertical-align: middle;
margin: 0px; padding:0;border-bottom: 1px solid #668000;
width: 200px; list-style:none;;
}
.wt_paraHead,.wt_wagPara, .wt_tradPara{ float:left; padding:7px 10px; width:180px;}
.wt_paraHead,.wt_wagPara{border-right: 1px solid #668000; width:194px;}
.wt_paraHead strong, .wt_wagPara strong, .wt_tradPara strong {
font-size: 18px;
}