 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-tag-menu {background: #f5f5f5; width:100%; padding: 20px 20px 43px 20px;}
.tag-menu {list-style:none; width: 865px;  margin:0 auto; position: relative; z-index: 0;}
.tag-menu li {float:left; height: 23px; padding:0 15px 0 15px;}
.tag-menu li a {text-decoration:none; font-size: 15px; color:#000; font-family: lato,sans-serif; font-weight: 400;}
.tag-menu li a.active{color: #fe8f01;}

.tag-menu-mo {list-style:none; width: 100%;  margin-bottom: 5px;  text-align: center;}
.tag-menu-mo li {display: inline-block; padding:0 8px 0 8px;  margin-bottom: 10px;}
.tag-menu-mo li a {text-decoration:none; font-size: 15px; color:#000; font-family: 'Lato';}
.tag-menu-mo li a.active{color: #fe8f01;}

.tag-icon {position: absolute; width: 250px!important; right: 56px; bottom:-90px; z-index: 99;}

.wagtag {color:#fff;}
input:focus {
    outline: none;
}
.wagtag .container-fluid .tag-icon-main {
    width: 100%;
    position: relative;
    z-index: 99;
}
.wagtag .container-fluid .tag-icon-mo {
    width: 100%;
    position: relative;
    z-index: 99999;
}
.wagtag .well {
    min-height: 20px;
    padding: 20px 20px 40px 20px;
    margin-bottom: 20px;
    background-color: #484848;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    border-radius: 30px;
}
.wagtag h2 {
    
    font-size: 29px;
    color: #fff;
	    text-align: center;
}
.wagtag h2 span {
    display: block;
   
    margin-top: 2px;
	    margin-bottom: 50px;
}
.wagtag label {
    font-size: 20px;
   
    font-weight: 700;
    margin-bottom: 11px;
}
.wagtag .col-md-6 span {
    font-size: 20px;
   
    margin-left: 14px;
    margin-right: 38px;
    margin-bottom: 36px;
    display: -webkit-inline-box;
}
.input-text input {
     width: 100%;
    padding: 15px;
    border-radius: 50px;
    border: none;
	    margin-bottom: 28px;
	    color: #000;
		font-size:14px;
 }
 .plusnineone{width: 39px !important; padding: 0px !important;  display: inline; margin-bottom: -59px !important; position: relative; padding-left: 15px !important; padding-right: 0px !important; padding-top: 5px !important; margin-top: 10px;}
.black-box {
    position: relative;
    top: -122px;
}
 

 
.call-us p {
    color: #353535;
    font-size: 28px;
    
}
.call-us p:last-child {
     font-style: italic;
   
 }

.call-us {
    text-align: center;
	    margin-top: 27px;
		    margin-bottom: 50px;
}
.call-us span {
   
    display: block;
}
.wagtag .margin
{
	border: 1px solid #adadad;width: 50%;margin: 0 auto;margin-top: 36px;margin-bottom: 30px;
}
#slidecontainer input {
    padding-right: 50px;
	    padding-left: 25px;
}



@media (min-width: 300px) and (max-width: 343px) { 
#slidecontainer input {
    margin-top: 5px;
	
}
.wagtag .well {
	    padding: 0px;
}	
.wagtag h2 {
     font-size: 18px;
 }
.wagtag h2 span {
    display: block;
   
    margin-top: 2px;
    margin-bottom: 28px;
}
.wagtag label {
     margin-bottom: 2px;
}
.wagtag .col-md-6 span {
     margin-bottom: 20px;
 }
.input-text input {
     padding: 9px;
    border-radius: 6px;
     margin-bottom: 28px;
 }
#slidecontainer span {
    top: 45px !important;
}

.call-us p {
    color: #353535;
    font-size: 18px;
    
}
.wagtag .margin {
     margin-top: 20px;
    margin-bottom: 20px;
}
















 
}



@media (min-width: 344px) and (max-width: 500px) { 
#slidecontainer input {
    margin-top: 5px;
}
.wagtag .col-md-6 span {
     margin-right: 24px;
 }
.wagtag .well {
    margin-top: 30px;
}	
	
.wagtag h2 {
     font-size: 18px;
 }
.wagtag h2 span {
    display: block;
   
    margin-top: 2px;
    margin-bottom: 28px;
}
.wagtag label {
     margin-bottom: 2px;
}
.wagtag .col-md-6 span {
     margin-bottom: 20px;
 }
.input-text input {
     padding: 9px;
    border-radius: 6px;
     margin-bottom: 28px;
 }
#slidecontainer span {
    top: 45px !important;
}
 .btn-warning-n {
    background-color: #7cdeb6;
    padding: 2px 31px;
    border-radius: 6px;
    /* width: 100%; */
    font-size: 19px;
    color: #484848;
    
    font-weight: bold;
    border: none;
    text-shadow: 0px 0px 0px #484848;
    margin-bottom: 19px;
    margin-top: -20px;
}
.call-us p {
    color: #353535;
    font-size: 18px;
    
}
.wagtag .margin {
     margin-top: 20px;
    margin-bottom: 20px;
}

	
}

@media (min-width: 501px) and (max-width: 700px) { 
#slidecontainer input {
    margin-top: 5px;
}
.wagtag .well {
    margin-top:52px;
}	
	
.wagtag h2 {
     font-size: 18px;
 }
.wagtag h2 span {
    display: block;
   
    margin-top: 2px;
    margin-bottom: 28px;
}
.wagtag label {
     margin-bottom: 2px;
}
.wagtag .col-md-6 span {
     margin-bottom: 20px;
 }
.input-text input {
     padding: 9px;
    border-radius: 6px;
     margin-bottom: 28px;
 }
  .plusnineone{margin-top: 4px; padding-left: 10px !important;}
#slidecontainer span {
    top: 45px !important;
}
 .btn-warning {
    color: #fff;
    background-color: #7cdeb6;
    padding: 2px 31px;
    border-radius: 6px;
    /* width: 100%; */
    font-size: 19px;
    color: #484848;
    
    font-weight: bold;
    border: none;
    text-shadow: 0px 0px 0px #484848;
    margin-bottom: 19px;
    margin-top: -20px;
}
.call-us p {
    color: #353535;
    font-size: 18px;
    
}
.wagtag .margin {
     margin-top: 20px;
    margin-bottom: 20px;
}

	
}
 
 @media (min-width: 701px) and (max-width: 850px) { 
.wagtag .well {
    margin-top:37px;
}	
	
}
 @media (min-width: 800px) and (max-width: 814px) { 
.wagtag .well {
    margin-top:78px;
}	
	
}
 @media (min-width: 820px) and (max-width: 847px) { 
.wagtag .well {
    margin-top:78px;
}	
	
}



  @media (min-width: 767px) and (max-width: 1100px) { 
.tag-icon {
    width: 148px!important;
    bottom:4px;
  }
  .tag-menu li a {font-size: 16px;}
  }

  @media (min-width: 851px) and (max-width: 1000px) { 
.wagtag .well {
    margin-top:70px;
}	
	
}
  @media (min-width: 1001px) and (max-width: 1150px) { 
.wagtag .well {
    margin-top:55px;
}	
	
}
   @media (min-width: 1151px) and (max-width: 1250px) { 
.wagtag .well {
    margin-top:45px;
}	
	
}
    @media (min-width: 1251px) and (max-width: 1450px) { 
.wagtag .well {
    margin-top:10px;
}	
	
}
@media (min-width: 1451px) and (max-width: 1600px) { 
.wagtag .well {
    margin-top:30px;
}	
	
}

@media (min-width: 1601px) and (max-width: 1750px) { 
.wagtag .well {
    margin-top:30px;
}	
	
}
 @media (min-width: 2000px) and (max-width: 2300px) { 
.wagtag .well {
    margin-top:-22px;
}	
	
}
 @media (max-width: 768px){ 
.main-tag-menu {padding: 12px 20px 1px 20px; margin-top: 0px;}
}
 
@media (min-width: 1200px) {
.container {
    margin-top: 36px;
}
}

@media (min-width: 768px) and (max-width: 1000px) { 
.tag-menu li a {
    font-size: 14px;
}
.tag-menu li {
    padding: 0 10px 0 10px;
}
.tag-menu {
    width: 100%;
}
.main-tag-menu {
    padding: 15px 20px 37px 20px;
 }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.tag-menu li a.active{color: #ff7a22;}
/*jquery auto complete css end*/

/*wag tag*/
.tooltip{ z-index:99;}
.footerContainer{    width: 304px !important; }

.wt_stryBox h1{    color: #668000;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0px;
}
.wt_paraImg{ float:left;width: 25px}
.wt_stryBox .table{
width: 96%;
    border: 1px solid #6c9d06;
    margin: 0px 2%; color:#6c9d06; font-size:16px}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{border: 1px solid #6c9d06;}	
div.knwBtnFull_wt {
    background: rgb(43, 43, 43);
    float: left;
    width: 100%;
    margin-top: 33px;
}
.wt_faqSec{ float:left; margin-top:30px;}
.wt_faqSec h1{ font-size:25px; text-transform:uppercase;}
ul.wt_faqBox{ float:left; margin:0px; padding:0px; width:100%;}
ul.wt_faqBox li{ background: #f7ffd8; margin:10px 0; border: 1px solid #6c9d06; list-style:none; float:left; color: #6c9d06; width:100%;}
ul.wt_faqBox li .wt_queTxt{background:#E8F8A8; float:left;
font-size: 16px;color: #000;width:100%;border-bottom: 1px solid #6c9d06;}
ul.wt_faqBox li .wt_queTxt label{padding: 8px 12px; float:left;}
ul.wt_faqBox li .wt_ansTxt{padding:8px 15px;font-size: 17px; float:left;width:97%;}
.wt_quesShow, .wt_quesHide {
float: left;
font-size: 24px;
font-weight: bold;color: #fff;
padding: 3px 12px;
background: #6c9d06;
border-right: 1px solid #6c9d06;
}
.wt_quesHide {padding: 3px 15px;}
.wt_infoBox, .wt_howBox, .wt_fillInfo, .wt_howBox{ float:left; width:100%;}
.wt_infoBox h1{font-size: 24px;
    margin: 10px 0;
    color: #6c9d06;
    float: left;
    width: 100%;}
	.wt_infoBox p, .wt_howBox p{font-size: 16px;
    line-height: 24px;}	
.wt_howBox h2{font-size: 24px;
    margin: 10px 0;
    color: #6c9d06;
    float: left;
    width: 100%;}
.wt_fillInfo {
    background: #F0F0F0;
    padding: 17px;
    text-transform: uppercase;
    line-height: 28px;
    font-weight: 700;
    color: #818181;
	margin:20px 0px;
}	
.wt_howBox  ul{font-size: 16px;    padding: 0px;
    margin-left: 30px}
.wagtag-section{ text-align:left; float:left;width:100%;}
.human-info {
    font-size: 14px;
	color:#333;
	text-align:left;
}
.hrtitle {
      border-top: 1px solid #e9e9e9;
    margin: 1.5em 0;
    position: relative;
    clear: both
}

.hrtitle h2 {
   color: #999 !important;
    font-size: .9em;
    text-transform: uppercase;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: -8px;
}
.my_dogs_title {
    background-color: #fff;
    display: inline-block;
    padding: 0 .75em;
    font-size: 16px;
	    margin-bottom: 0px !important;
		margin:auto; 
		width:200px;
}
.user-dog-pic {
    border: 8px solid #fff;
    border-radius: 50%;
    box-shadow: 2px 1px 5px 1px #aaa;
    overflow: hidden;
    width: 150px;
    height: 150px;
    background-color: #FFF;
    margin: auto;
}
.user-dog-details {
    color: #333;
    font-size: 14px;
    margin: 10px 0px 25px;
}
.nam_color {
    color: #333;
    font-family: sans-serif;
    font-size: 16px;
    overflow: hidden;
    font-weight: 700;
    margin: 5px 0px;
}
.add-another-dog{
	margin-bottom: 15px;
    color: #353535;
    font-size: 28px;    
	
}
.form-horizontal{text-align: left;}
.wagtag{ float:left; width:100%;}
.ac_resultsNew{background:#fff;text-align:left;font-family:lato,sans-serif; margin-top: 1px;}
.ac_resultsNew ul li{ padding:7px 10px;border-bottom:1px solid #ededed;}
.ac_resultsNew ul li:last-child{ border-bottom:0px;}
.ac_resultsNew ul li:hover{ cursor:pointer;}
.input[type=checkbox], input[type=radio]{margin-top: -5px !important}
.wag_tag_activate_icon{
	width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    border-radius: 12px;
    position: absolute;
    margin-left: 70px;
    z-index: 99999;
    background: url(https://www.dogspot.in/wag_club/images/very-sign-icon.png);
    top: 0px;
}
    .lessdetails-sec, .deatils-sec{    float: left;
    width: 96%;
    margin: 15px 2%;
    font-family: roboto;
	font-size:14px;}
    .read-m-l-sec{float:left; width:100%; text-align:center; margin-bottom:15px}
	.read-m-l-sec a{ cursor:pointer;}
	.recommendation{ float:left; width:100%;}
	#readless img{-moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);}
.no-dog-img{margin-top: 21px;
    margin-left: -11px;}
.resent-otp{margin-top: -10px;
    margin-bottom: 10px;}	
	.dropdown-el {position: relative;
    display: inline-block;
    margin-right: 1em;
    max-height: 56px;
    overflow: hidden;
    cursor: pointer;
    padding-top: 10px;
    text-align: left;
    white-space: nowrap;
    outline: none;
    line-height: 60px;
    transition: 0.3s all ease-in-out;
    width: 100%;
    border-radius: 50px;
    border: none;
    margin-bottom: 28px;
    color: #000;
    font-size: 14px;
    background: #fff;
}

.dropdown-el input {
  display: none;
}

.dropdown-el label {
  border-top: .06em solid #d9d9d9;
  display: block;
  height: 2em;
  line-height: 2em;
  padding-left: 1em;
  padding-right: 3em;
  cursor: pointer;
  position: relative;
  transition: 0.3s color ease-in-out;
  font-size:16px;
  height: 40px;
    padding-top: 6px;
}
.dropdown-el label:nth-child(2) {
  margin-top: 3em;
  border-top: .06em solid #d9d9d9;
}

.dropdown-el input:checked + label {
  display: block;
  border-top: none;
  position: absolute;
  top: 0;
   font-size:16px;
}
.dropdown-el input:checked + label:nth-child(2) {
  margin-top: 0;
  position: relative;
}
.dropdown-el::after {
    content: "";
    position: absolute;
    right: 1.3em;
    top: 1.4em;
    border: 0.4em solid #333;
    border-color: #333 transparent transparent transparent;
    transition: .4s all ease-in-out;
}
.dropdown-el.expanded {
  border: 0.06em solid #333;
  background: #fff;
  border-radius: 12px;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
      max-height: 300px;
	      overflow: auto;
}
.dropdown-el.expanded label {
  border-top: .06em solid #d9d9d9;
}
.dropdown-el.expanded label:hover {
  color: #3694d7;
}
.dropdown-el.expanded input:checked + label {
  color: #3694d7;
}
.dropdown-el.expanded::after {
  transform: rotate(-180deg);
  top: .55em;
}
  .dropdown-el.expanded::-webkit-scrollbar {
    width: 10px;
	border-top-right-radius:12px;
	border-bottom-right-radius:12px;
}

.dropdown-el.expanded::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
.dropdown-el.expanded::-webkit-scrollbar-thumb {
    background: #888; 
}

.dropdown-el.expanded::-webkit-scrollbar-thumb:hover {
    background: #555; 
} .showbox{
        display: none;
    }
 .ui-popup-screen{    opacity: .3;
 background-color: #000;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10999;
	webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 350ms;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 350ms;
    animation-timing-function: ease-out;
    animation-duration: 350ms;
 }
 .wag-guest-login{position: fixed;
    top: 50%;
    background: #fff;
    z-index: 15000000;
    opacity: 16;
    text-align: center;
    padding: 0px;
    border-radius: 0px;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 90%;
    right: 0%;
	left:0%;}
	.wag-guest-login p:first-child {
    background: #077ebd;
    text-shadow: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 15px;
    opacity: 0.6;
    margin: 0px;
}
.wag-guest-login p:nth-child(2) {
    padding: 25px;
    font-size: 16px;
    text-shadow: none;
    margin: 0px;
}
.popupHeader .modal_close{ padding: 15px 0px !important;     margin-right: 16px !important;}
.checkbox label{ min-height:16px !important;}
/* wag tag*/