.dog-image, .image-bottom{    float: left;
    width: 100%;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
	.container{ width: 1180px !important;
    margin-bottom: 10px;
    margin: auto;}
	.dog-image h1, h1+h2{ margin: auto;
    max-width: 720px;
    padding: 1.8em 15px 0;
    font: 50px Helvetica,Arial,sans-serif;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.6);}
	.dog-image h2{
    font-size: 20px;
    padding: 12px 15px 20px;
    line-height: 1.4;
	text-align:center;
}
	.product-sorting-bar {
	display: inline-block;
	width: 100%;
	border-radius: 0;}

.product-sorting-bar > div {float: left;padding: 10px;}	
.bootstrap-select .dropdown-toggle{border-radius: 0;}
.dropdown-menu {
	border-radius: 0;border-color: #ccc;-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.bootstrap-select select{margin-right: 20px;  max-width: 140px;padding: 6px 0px;border:1px solid #fff;outline:none;font-size: 13px;}
.box-product-outer {
	margin-bottom: 40px;
	float: left;
}
.box-load-more{display: block;
    margin: 20px auto 30px;
    width: 220px; text-align:center;}
.box-load-more{text-transform: uppercase;
    color: #6c9d06;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #6c9d06;
    padding: 10px 30px;
    text-decoration: none;}
.box-load-more:hover{ background:#6c9d06; color:#fff;border: 2px solid #6c9d06;}
.image-header{background: url(https://www.dogspot.in/new/dog-images/images/dg-img.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
    margin: 0 0 0px;
    text-align: center;
    transition: .8s;
    height: 310px;}

.og-grid li > a{ cursor:pointer;}
#productWrapper {
    width: 98%;
    margin: 0 auto;
}
#navigation {
    background-color: #111;
}
#product-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1;
}
#products {
    font-family: Verdana;
    width: 100%;
    height: 33px;
    background: #fdfdfd;
    font-size: 0;
    border-bottom: 1px solid #dcdcdd;
    text-shadow: #dcdcdd 1px 1px 0;
    z-index: 1;
}
#products > ul {
    position: relative;
    list-style: none;
    width: 1000px;
    height: 33px;
    margin: 0 auto;
    padding: 0;
    white-space: normal;
    font-size: 0;
}
#products > ul > li,
#products > ul > li {
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    white-space: nowrap;
    font-size: 12px;
}
#products > ul > li > a {
    display: block;
    z-index: 2;
    text-decoration: none;
    padding: 0 8px;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    font-size: 12px;
    color: #777;
    height: 33px;
    line-height: 35px;
    text-shadow: none;
    overflow: hidden;
    background: #fdfdfd;
    position: relative;
}
#products > ul > li:hover > a {
    background: url("../Images/product/resource/link-hover.png") repeat-x right 50% transparent;
    color: #494949;
    border-color: #dcdcdd;
    height: 34px;
}
.product-category {
    display: none;
    position: absolute;
    z-index: 1;
    top: 33px;
    background-color: #fff;
    min-height: 40px;
    border: 1px solid #dcdcdd;
    left: 0;
    width: 966px;
    padding: 12px 0;
}
#products > ul > li:hover .product-category {
    display: block;
}
.product-sub-category {
    position: relative;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    width: 146px;
    height: 120px;
    border-right: 1px solid #e8e8e8;
    padding: 0 0 30px 14px;
}
.product-sub-category h4 {
    line-height: 20px;
    color: #353535;
    font-weight: bold;
}
.product-sub-category a {
    text-shadow: none;
    font-size: 11px;
    color: #777;
    display: block;
    line-height: 25px;
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-sub-category a.viewall {
    position: absolute;
    bottom: 0;
    left: 14px;
    width: auto;
    padding: 0 16px 0 0;
    color: #70ac2a;
    background: url(../images/product/resource/cat_all_icon.png) no-repeat right 7px;
}
.product-sub-category a:hover {
    color: #75890c;
}
.product-sub-category-image {
    overflow: hidden;
}
.categories-more {
    position: relative;
    z-index: 3;
    cursor: default;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    white-space: nowrap;
    font-size: 12px;
    width: 150px;
}
.categories-more-list {
    display: none;
    position: absolute;
    z-index: 1;
    top: 33px;
    right: 0;
    background-color: #fff;
    min-height: 40px;
    min-width: 100%;
    border: 1px solid #dcdcdd;
    font-size: 13px;
    line-height: 30px;
    white-space: nowrap;
}
.categories-more-list a {
    display: block;
    border-bottom: 1px solid #EFEFEF;
    color: #8D8D8D;
    text-shadow: none;
    text-decoration: none;
    padding: 0 11px;
}
.categories-more-list a:hover {
    background-color: #f9f9f9;
    color: #494949;
}
.categories-more:hover .categories-more-list {
    display: block;
}

.sidebar h2 {
    border-left: 3px solid #75890c;
    padding: 0 15px;
    margin: 10px 0;
    font-family: 'Open Sans';
    font-size: 22px;
    line-height: normal;
}
.sidebar-block {
    border: 1px solid #d6d6d6;
    border-radius: 2px;
    padding: 0;
    margin-bottom: 10px;
}
.sidebar-block h3 {
    font-weight: bold;
    background-color: #f0f0f0;
    padding: 8px 15px;
}
.sidebar-links,
.sidebar-links table {
    width: 100%;
    margin: 0;
    display: block;
}
.sidebar-links table tbody,
.sidebar-links table tbody tr,
.sidebar-links table tbody tr td {
    display: block;
}
.sidebar-links > li,
.sidebar-links > table tr {
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}
.sidebar-links li a,
.sidebar-links tr a {} .sidebar-links li a.active:hover,
.sidebar-links tr a.active:hover {} .sidebar-links li a:hover,
.sidebar-links tr a:hover {
    background-color: #e4e4e4 !important;
}
.sidebar-links li a.active,
.sidebar-links tr a.active {
    border-left: 4px solid green;
    background-color: #e4e4e4 !important;
}
.product-gallery {
    text-align: center;
}
.product-gallery li,
.product-gallery > div {
    display: inline-block;
    margin: 10px 5px 0 5px;
    vertical-align: top;
    height: 250px;
    width: 280px;
    overflow: hidden;
}
.popup-overlay {
       background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.product-gallery-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index:999999;
}
.product-gallery-popup .product-popup-content {
    position: absolute;
    width: 740px;
    height: auto;
    top: 50%;
    left: 50%;
    margin-left: -370px;
    margin-top: -260px;
    background-color: #fff;
    overflow: hidden;
}
.product-information,
.product-image {
    float: left;
}
.product-information {
    width: 28%;
    margin: 4% 1%;
}
.product-image {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    text-align: center;
	padding: 10px 0px;
}
.product-image img {
       max-height: 100%;
    padding: 20px 15px;
    max-width: 630px;
}
.cross {
    position: absolute;
    top: 10px;
    right: 10px;
	font-weight:bold;
}

.gallery-nav-btns
{
    position: absolute;
    top: 50%;
    width: 98%;
    height: 40px;
    margin-top: -25px;
    margin-left: 1%;
	
}
.gallery-nav-btns a
{
    display: block;
    position: absolute;
    width: 45px;
    height:40px;
    text-align: center;
    right: 0;
    background-image:url('/new/dog-images/images/next-perv-sprite-btn.png');
    background-repeat:no-repeat;
    opacity:0.8;
    cursor:pointer;
}
.gallery-nav-btns a:hover
{
    opacity:1;
}

.nav-btn.prev {
   left:0;
   background-position: 0px -18px;
   
}
.nav-btn.next{
   right:0;
   background-position: -55px -18px;}

#productMasterSidebar {
    position: relative;
}
.user-profile-master-button
{
    float:left;
    display:inline-block; 
    color:#999;
    font-weight:bold;
    font-size:13px;
    position:relative;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border: 1px solid #ddd;
}
.user-profile-master-button:hover
{
    border-color:#cacaca;
    background:#F8F8F8;
}
.user-profile-master-button > span {
    display:block;
    position:absolute;
    top:6px;
    left:9px;
    width:32px;
    height:32px;
    background-repeat:no-repeat;
    background-position:center;
}
.user-profile-master-button:active {
	top:1px;
	background-image: linear-gradient(bottom, rgb(117,137,12) 0%, rgb(160,180,40) 100%);
	background-image: -o-linear-gradient(bottom, rgb(117,137,12) 0%, rgb(160,180,40) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(117,137,12) 0%, rgb(160,180,40) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(117,137,12) 0%, rgb(160,180,40) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(117,137,12) 0%, rgb(160,180,40) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(117,137,12)),
	color-stop(1, rgb(160,180,40))

	);
	color:#fff;
}
.user-profile-panel {
    margin-bottom: 10px;
    border: 0px solid #75890c;
    border-radius: 0px;
}
.DP_panel {
    padding: 0;
    border-bottom: 0px solid #ddd;
    margin-bottom: 10px;
}
.DP_panel {
    padding: 0;
    border-bottom: 0px solid #ddd;
    margin-bottom: 10px;
}
.user-profile-panel ul.sidebar-links li a {
    color: #75890c;
    text-decoration: none;
    line-height: 25px;
}
.DP_panel .user-control {
    float: left;
}
.DP_panel .user-control {
    margin: 0 auto;
    width: 187px;
    float: none;
}
.DP_panel .button-panel .user-profile-master-button {
    float: none;
    margin: 5px 1px 0 0px;
    padding: 6px;
}
.DP_panel .button-panel .statistics-container,
.DP_panel .button-panel .quick-view {
    position: relative;
     z-index: 11;
}
.statistics-container:hover .stat-box,
.quick-view:hover .quick-view-box {
    display: block;
    width: auto;
    z-index: 1000000;
}
.DP_panel .button-panel .statistics-container,
.DP_panel .button-panel .quick-view {
    float: left;
    margin-bottom: -1px;
}
.DP_panel .button-panel .statistics-container > a {
    margin-right: 4px;
}
.DP_panel .button-panel .change-dp {
    float: right;
}
.stat-n-view {
    margin-top: 0px;
    position: relative;
    z-index: 10;
}
.DP_panel .DP {
    width: auto;
    max-height: 350px;
    height: auto;
    margin: 0;
    padding: 10px;
   
    overflow: hidden;
    text-align: center;
    position: relative;
    
    border: 1px solid #dfdfdf;
    background-color: #fff;
    border-radius: 4px;
}
.DP_panel .DP > img {
    /*    height:100%;*/
    width: 100%;
    height: auto;
}
.DP_panel .DP .change_dp_btn {
    position: absolute;
    bottom: -30px;
    right: 0;
    background-color: #000;
    opacity: 0.7;
    padding: 5px;
    transition: bottom 500ms;
}
.DP_panel .DP:hover .change_dp_btn {
    bottom: 0px;
    -webkit-transition: bottom 500ms;
    -moz-transition: bottom 500ms;
    -ms-transition: bottom 500ms;
    -o-transition: bottom 500ms;
}

.user-profile-panel {
    margin-bottom: 10px;
    border: 0px solid #75890c;
    border-radius: 0px;
}
.stat-btn {
    position: relative;
}
.stat-box,
.quick-view-box {
    display: none;  
    position: absolute;
    z-index: 999;    
    background-color: #fff;    
    position: relative;
    border: 1px solid #ddd;
    box-shadow: none;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.UC-stat h3 {
    width: 76%;
}


.statistics-container > a.user-profile-master-button.active,
.quick-view > a.user-profile-master-button.active {
    margin: 5px 1px 0 0;
    padding: 6px 6px 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 1px solid #fff;
    background: #fff;
}
.statistics-container > a.user-profile-master-button.active {
    margin: 5px 4px 0 0;
}


.UC-tags,
.UC-tags .UC-stat + .UC-stat,
.UC-tags .UC-view + .UC-view {
    width: auto;
}
.UC-tags
{
    height:auto;
    width:auto;
    padding:5px !important;
}

.UC-stat > span,
.UC-view > span
{
    width:38px;
}
.UC-tags .UC-stat + .UC-stat,
.UC-tags .UC-view + .UC-view
{
    width:100%;
    margin-top:5px;
}
.UC-stat h3,
.UC-view b
{
    width: 76%;
    padding:0 0 0 5px;
    position:relative;
    margin:0;
    font-family: Verdana, 'Lucida Grande';
   
}

.UC-view b,
.UC-stat b
{
    width: 86%;
    position: relative;
    overflow: hidden;
}
.UC-stat b i
{
    height: 25px;
    position: absolute;
    display: block;
    top: 0;
    z-index: 9;
    left: 0;
}
.UC-stat b a
{
    z-index: 10;
    position: relative;
}
.UC-stat h3
{
    height:24px;
}

.UC-stat b > a
{
    position: absolute;
    height: 100%;
    z-index: 10;
    text-shadow: none;
    
}
.UC-stat b > a:hover
{
    text-shadow: 1px 1px 1px #fff;
    text-shadow:#fff;
    
}
.UC-stat b > i
{
    position: absolute;
    height: 100%;
    opacity: 0.7;    
    display: block;
    top: 0;
    left: 0;
}
.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #fff;
    position: absolute;
    left: -10px;
}
.arrow-left-Discussions {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #fff;
    position: absolute;
    left: -10px;
    top: 80px;
}
.stat {
    position: relative;
    margin-top: 0px;
    margin-bottom: 1px;
    background: #d9d9d9;
    height: 23px;
    width: 100%;
}
.stat > span {
    display: block;
    height: 100%;
    overflow: hidden;
    color: #000;
    -webkit-transition: width 500ms;
    -moz-transition: width 500ms;
    -ms-transition: width 500ms;
    -o-transition: width 500ms;
}
.stat > span > span {
    display: block;
    padding: 2px 0 2px 10px;
    position: absolute;
    height: 20px;
    width: 20px;
    top: 0;
}
.stat > span > span.stat-name {
    left: 0px;
    width: 100%;
    color: #333;
}
.stat > span > span.stat-name a:hover {
    color: #fff;
}
.stat > span > span.stat-amt {
    right: 12px;
    color: #888;
}
.tags button,
.tags b,
.tags a,
.tags span {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tags button,
.tags b,
.UC-view b,
.UC-stat h3{    
    display: block;
    float: left;
/*    width: 100px;   */
    height: 26px;
    line-height:23px;
    text-align: left; 
    font-size: 12px;
    color: #555;
    text-decoration: none;
    text-shadow: 0 1px white;
    background: #fafafa;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #dadada #d2d2d2 #c5c5c5;
    border-radius: 3px 0 0 3px;
    background-image: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: -moz-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: -o-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: linear-gradient(to bottom, #fcfcfc, #f0f0f0);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);    
    padding: 0 0px 0 5px;
}

.tags span {    
    text-align:center;
    z-index: 2;
    overflow: hidden;
    width: 30px;
    height: auto;
    float: left;
    line-height: 20px;
    padding: 3px 7px;
    margin: 0;
    color: white;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border: 0px;
    border-radius: 0 2px 2px 0;
    opacity: .95;
    background: #65bb34;
    border-color: #549b2b #4f9329 #4b8b27;
    background-image: -webkit-linear-gradient(top, #71ca3f, #5aa72e);
    background-image: -moz-linear-gradient(top, #71ca3f, #5aa72e);
    background-image: -o-linear-gradient(top, #71ca3f, #5aa72e);
    background-image: linear-gradient(to bottom, #71ca3f, #5aa72e);
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    -webkit-transition-property: padding, max-width;
    -moz-transition-property: padding, max-width;
    -o-transition-property: padding, max-width;
    transition-property: padding, max-width;
    width: 25px;
    padding: 3px 0px;
}

.tags .click-to-view-likes,
.tags span i {
    font-family: 'FontAwesome';
    font-size: 17px;
}

/* ======================= 
    Product Add Useer Product
   ===================== */
.form
{
    margin:10px 0;
}
.form-fields
{
    float:left;
    width:58%;
}
.form-fields input[type='text'],
.form-fields input[type='password'],
.form-fields textarea
{
    width:95%;
}
.form-fields h3
{
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.error-msg
{
    color:#f00;
}
.form-row
{
    display: table;
    width:100%;
    margin: 10px 0;
}
.form-row > span
{
    width:45%;
    display:table-cell;
    vertical-align:top;
}
.form-row span.colon
{
    float: right;
    margin-right: 20px;
}
.dropdown-wrapper > div
{
    position:relative;
}
.image-preview
{
    float:right;
    width:40%;
}
.image-preview img
{
    width:100%;
}
.image-preview p
{
    text-align:center;
}
.form-btns
{
    margin:15px 0;
}
/* ======================= 
    Product Responsive
   ===================== */

#productContainer {   
    margin-left: 1%;
    min-height: 500px;
    font-size: 13px;
    line-height: normal;
    color: #333;
}
#productContainer,
#productContent,
.sidebar {
    float: left;
}
#productContent {
    width: 83%;
/*    background-color: #ddd;*/
    min-height: 500px;
}
.product-productpage-container
{
     width: 81%;
}
.product-profilepage-container
{
     width: 84%;
}


/* advertise */

#ad-panel-right {
    float: right;
    width: 13%;
}
#ad-panel-right .ad {
    margin-bottom: 30px;
}
#ad-panel-right .ad img {
    width: 100%;
}
@media only screen and (min-width: 0px) and (max-width: 1023px) {}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    
    #productSidebar {
        width: 17%;
        width: -webkit-calc(13em);
        width: -moz-calc(13em);
        width: calc(13em);
    }
    #productMasterSidebar {
        width: 15%;
        width: -webkit-calc(13em);
        width: -moz-calc(13em);
        width: calc(13em);
    }
    .product-profilepage-container
    {
        width:81%;
    }
    #ad-panel-right {
        width: 14%;
        width: -webkit-calc(10em);
        width: -moz-calc(10em);
        width: calc(10em);
    }
}
@media only screen and (min-width: 1201px) and (max-width: 1360px) {
    #productSidebar {
        width: 17%;
        width: -webkit-calc(17em);
        width: -moz-calc(17em);
        width: calc(17em);
    }
    #productMasterSidebar {
        width: 15%;
        width: -webkit-calc(15em);
        width: -moz-calc(15em);
        width: calc(15em);
    }
    #ad-panel-right {
        width: 14%;
        width: -webkit-calc(13em);
        width: -moz-calc(13em);
        width: calc(13em);
    }
}
@media only screen and (min-width: 1361px) {
    #productWrapper
    {
        width:1320px;
    }
    
}

.og-grid {
	list-style: none;
	padding: 0px 0;
	margin: 0 auto;
	text-align: left;
	width: 100%;
	-webkit-column-count: 4;
    -webkit-column-gap: 10px;
    -moz-column-count: 4;
    -moz-column-gap: 10px;
    column-count: 4;
    column-gap: 15px;
}

.og-grid li {
	display: inline-block;
	margin: 10px 5px 0 5px;
	vertical-align: top;
	    display: inline-block;
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 5px;
    opacity: 1;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.og-grid li > a,
.og-grid li > a img {

	border: none;
	outline: none;
	display: block;
	position: relative;
	width: 280px;
    height:auto;
	cursor:pointer;
}

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #ddd;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.og-expander {
	position: absolute;
	background: #ddd;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.og-expander-inner {
	padding: 50px 30px;
	height: 100%;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}

.og-fullimg,
.og-details {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.og-details {
	padding: 0 40px 0 20px;
}

.og-fullimg {
	text-align: center;
}

.og-fullimg img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}

.og-details h3 {
	font-weight: 300;
	font-size: 52px;
	padding: 40px 0 10px;
	margin-bottom: 10px;
}

.og-details p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #999;
}

.og-details a {
	font-weight: 700;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 3px solid #333;
	display: inline-block;
	margin: 30px 0 0;
	outline: none;
}

.og-details a::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

.og-details a:hover {
	border-color: #999;
	color: #999;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }
	
}
.product-desc{text-align: left;
    font-size: 14px;
    line-height: 24px;
    color: #555;}
	.like-icon-box {
 position: relative;
    width: 200px;
    text-align: left;
    opacity: 0;
    transition: opacity .35s ease;
    margin-top: -35px;
    margin-left: 13px;
}

.like-icon-box a {
 text-align: center;
    color: white;
	cursor:pointer;
  
}

.gallery-img:hover .like-icon-box {
  opacity: 1;
}

.download-dog-image{position: absolute;
    top: 448px;
    left: 76px;}
.download-dog-image a{ font-size:14px; text-decoration:none; color:#fff;}
.download-dog-image a:hover{ text-decoration:none; color:#fff;}
.download-dog-image img{ vertical-align:middle;}
.image-bottom{    background: #f4f4f4;
    padding-top: 15px;}	