.clearout{clear:both;}
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3{display:none;}
.nbs-flexisel-container{position:relative;max-width:100%;float:left;margin-top:15px;margin-bottom:15px;}
.nbs-flexisel-ul{position:relative;width:100000px;margin:0px;padding:0px;list-style-type:none;text-align:center;}
.nbs-flexisel-inner{overflow:hidden;float:left;width:972px;background:#fff;border:1px solid #ddd;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.nbs-flexisel-item{float:left;margin:0px;padding:0px;cursor:pointer;position:relative;line-height:0px;width:200px;}
.nbs-flexisel-item img{cursor:pointer;position:relative;margin-top:10px;margin-bottom:10px;max-width:100px;max-height:45px;}
.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right{width:22px;height:22px;position:absolute;cursor:pointer;z-index:100;opacity:0.5;margin-top:25px;}
.nbs-flexisel-nav-left{left:10px;background:url("https://www.dogspot.in/new/common/images/sprites_ds.png") no-repeat scroll -158px -51px transparent;}
.nbs-flexisel-nav-right{left:948px;background:url("https://www.dogspot.in/new/common/images/sprites_ds.png") no-repeat scroll -79px -51px transparent;}