.cont980{width:972px;height:auto;margin:auto; padding:0px !important;}
.ds_cartpage_header{ float:left; width:100%; border-bottom:2px solid #6c9c06; margin-bottom:20px;}
.ds_cartepage_logo{ text-align:left; margin-bottom:5px; margin-top:5px; float:left; margin-right:45px;}
ul.dstabs{margin: 0px;padding: 0px;list-style: none; font-family: arial,tahoma,verdana,sans-serif;}
ul.dstabs li{background: #fff;color: #ccc;display: inline-block;padding: 8px 12px;cursor: pointer; border-top-left-radius: 2px;border-top-right-radius: 2px; font-size:15px;}
ul.dstabs li.current{background: #aaa;color: #fff;border-top-left-radius: 2px;border-top-right-radius: 2px;}
.dstab-content{display: none;background: #fff;padding:0px; border-top:2px solid #aaa; }
.dstab-content.current{display: inherit;}
.ds_shopping_cart_top{border-top: 3px solid #6c9d06;}
.dstab-content_cont{ width:100%;}
.ds_shopping_cont{width:100%; float:left; margin-top:20px;}
.ds_shopping_contemptycart{ float:left; width:100%; background:#fff; overflow:hidden; border: 1px solid #fff;}
.ds_shopping_contleft{ float:left; width:700px; background:#fff; overflow:hidden; border: 1px solid #fff;}
.ds_shopping_contleft table{ width:100%;  font-family: arial,tahoma,verdana,sans-serif; border-collapse:collapse; font-size:13px;}
.ds_shopping_contleft table th{ background:#f2f2f2; font-weight:normal; color:#555;}
.ds_shopping_contleft table td{border-top:1px solid #f2f2f2; border-bottom:1px solid #f2f2f2; padding-top:10px; }
.ds_product_item_cell{width:17%; padding:7px; vertical-align:top;}
.ds_product_name_cell{width:24%; padding:7px; vertical-align:top;}
.ds_product_qty_cell{width:6%; padding:7px; vertical-align:top;}
.ds_product_unit_cell,.ds_product_unitprice_cell,.ds_product_seving_cell{width:13%;padding:7px; vertical-align:top;}
.ds_product_subtotal_cell{width:15%;padding:7px; vertical-align:top;}
.ds_product_remove{ margin-bottom:8px;}
.ds_product_name_desc{ font-size:12px; color:#333; margin-bottom:7px;}
.ds_product_remove a{ font-size:12px; color:#2271b2;  text-decoration:none;}
.ds_product_cod{font-size:12px; color:#333; margin-top:3px; } 
.ds_product_ava{color:#35bf25;}
.ds_product_nva{color:#F00;}
.ds_product_qty_text{width: 28px; height:28px;border-radius: 20px;border: 1px solid #ccc;text-align: Center;font-size: 14px; }
.ds_product_save {margin-top:3px; }
.ds_product_save a{color:#333; font-size:12px; margin-top:3px; text-decoration:none;}
.ds_product_price{font-size:15px;margin-left:4px;}
.shipping_container{ width:100%; background:#f2f2f2; font-family: arial,tahoma,verdana,sans-serif; font-size:16px;margin-bottom:15px; float:left; padding-top:10px; padding-bottom:10px; color:#555; }
.ds_shipping_continue{width:100%; float:left; margin-bottom:15px; margin-top:10px; }
.ds_shopping_continue a:hover{ text-decoration:none}
.ds_place_order a:hover{ text-decoration:none}
.place_order a:hover{ text-decoration:none}
.ds_product_name_desc a:hover{ text-decoration:none}
.ds_product_remove a:hover{ text-decoration:none}
.shipping_containerleft,.ds_shopping_continue{float:left; width:536px; }
.shipping_containerright,.ds_place_order{float:left; width:158px;}
.cart_opct{opacity:0.6;}
.ds_shopping_continuebtn{border:1px solid #6c9d06; padding:7px 18px;  color:#fff; background:#6c9d06;cursor:pointer;font-family: arial,tahoma,verdana,sans-serif; text-transform:uppercase; font-size:16px; border-radius:2px;}
.ds_shopping_continue a:hover{ color:#fff;}
.ds_place_order a:hover{ color:#fff;}
.ds_place_orderbtn{border:1px solid #f76b18; padding:7px 18px; color:#fff; background:#f76b18;cursor:pointer; font-family: arial,tahoma,verdana,sans-serif; text-transform:uppercase;font-size:16px; border-radius:2px; }
.ds_shopping_contright{margin-left:20px; width:250px;float:left; font-family: arial,tahoma,verdana,sans-serif;}
.ds_order_summary_box{width:250px; background:#fff; float: left; padding-bottom: 5px;}
.ds_order_summary_box .summery{ text-transform:uppercase; text-align:left; padding-left:10px; padding:10px 7px; background:#aaa; border-radius:2px; font-size:14px; color:#fff; }
.ds_order_summary_box .order_total{ margin:auto; text-align: center;padding-top: 5px; padding-bottom: 5px;}
.ds_order_summary_box .place_order{ text-align:center; width:100%; margin-top:13px;}
.ds_order_summary_box .place_order_bld{ font-weight:bold;}
.ds_order_summary_box .place_order_btn{background:#f76b18; padding: 6px 71px; font-size:14px; cursor:pointer;  border:1px solid #f76b18; color:#fff; text-transform:uppercase;  margin-bottom:5px; border-radius:3px;}
.ds_order_summary_box .ds_order_details{ width:100%; float:left; font-size:13px;  margin-top:5px; padding-bottom:10px; }
.ds_order_details ul{float: left;list-style: none;width: 100%;margin: 0px;padding: 0px;}
.ds_order_details ul>li{ width:100%;  overflow:hidden; margin-top:10px; list-style: none; }
.ds_order_details .ds_order_details_left{ width:145px; float:left;  text-align:left;  }
.ds_order_details .ds_order_details_right{  float:right;  text-align:left;}
.ds_need_help_box{ float:left; width:100%; margin-top:15px; }
.ds_order_total{ border-top:1px solid #f2f2f2; padding-top:8px;}
.ds_need_help_box .need_help{background:#f2f2f2; color:#333; padding:7px; text-transform:uppercase; font-size:14px;}
ul.need_help_contact{border:1px solid #ccc; margin:0px; padding:0px; overflow:hidden; padding-bottom:10px;  }
ul.need_help_contact li{list-style:none; overflow:hidden; padding:10px 0px 0px 7px; }
.nedd_help_icons{ float:left; width:20%;}
ul.need_help_contact .nedd_help_details{ float:left; width:80%; font-size:12px;}
.nedd_help_details .need_help_con{ font-size:12px; margin-top:2px;}
.nedd_help_details .need_help_text{ font-size:12px; margin-top:4px;}
.need_help_text a{ font-size:12px;  text-decoration:none; color:#333;}
.ds_cartpage_footer{ width:100%; float:left; margin-top:20px; border-top:2px solid #ddd;}
.ds_cartepage_logo{width: 184px;height: 45px; background: url("https://www.dogspot.in/new/common/images/sprites_ds.png") no-repeat scroll 0% 0% transparent; background-position: -8px -266px; margin-top:10px;}
.cartpage_footer { float: left;width: 100%;color: #877B63;font-size: 10pt;text-transform: uppercase;margin: 20px 0px 0px;font-family: arial,tahoma,verdana,sans-serif;font-size:15px;}
.cartpage_footer ul {float: left;margin:0px;padding:0px;}
.cartpage_footer ul li{float: left;list-style: outside none none;margin-right: 46px;}
.cartpage_footer ul li .pet_img {float: left;margin: 2px 10px 0px 0px;}
.cartpage_footer ul li .pet_text {float: left;}
.ds_cart_freetext{ color:#6c9c06; font-size:14px;}
.cart_pagesprite{ background:url(../Images/cart_sprite.png) no-repeat; float:left; margin-right:5px;}
.genuine_icon{width: 20px;height: 17px;background-position: -2px -3px;}
.easy_return_icon{width: 20px;height: 17px;background-position: -28px -2px;}
.safe_n_secure_icon{width: 13px;height: 18px;background-position: -55px -2px;}
.phone_icon{width: 24px;height: 24px;background-position: -76px -1px;}
.message_icon{width: 30px;height: 25px;background-position: -107px 0px;}
.pad_l5{padding-left: 5px;}
.checkout-steps_div{ float:left; width:100%; text-align:center }
.checkout-steps{font-size: 14px;  display: inline-block;margin-left:20px;;padding-top: 5px;font-family:Arial, Helvetica, sans-serif;font-size:12px;}
.checkout-steps li{display: inline-block;list-style: outside none none;text-align: center;}
.checkout-steps li a{ text-decoration:none;}
.checkout-steps{margin:0px; padding:0px; padding-bottom:15px; }
.checkout-steps .step1{margin-right: -3px;}
.checkout-steps .step.active span{font-weight: 600; padding-top: 5px;}
.checkout-steps .step span {width: 25px;color: #858e8f;border-radius: 20px;padding-top: 4px;min-height: 25px;display: inline-block;border: 1px solid #ccd2d5;}
.txt{ margin-bottom:3px;}
.checkout-steps .divider {width: 85px;;border-top: 1px solid #CCD2D5; height: 5px;}
.checkout-steps .step2 {margin-left: -30px;margin-right: -28px;}
.checkout-steps .step3 {margin-left: -14px;margin-right: -14px;}
.checkout-steps .step4 {margin-left: -15px;}
.checkout-steps .step.active span {background-color:#589d3e;color: #fff;border: none;}
.user_profile_div{float:right; margin-right:5px;    margin-top: 30px; color:#555; font-family:Arial, Helvetica, sans-serif; font-size:12px; }
.user_profile_name, .user_profile_logout{ float:left; margin-left:5px;}
.user_profile_logout a{ text-decoration:none; color:#555; font-size:12px;}
.user_profile_name a{ text-decoration:none; color:#555; font-size:12px;}
.user_profile_name{ margin-right:10px;}
.unit_stock_left{color: #f76b18;font-size: 13px;font-weight: bold;margin-top: 5px; margin-bottom:5px;}
.cart_out_of_stock{position: absolute; overflow: hidden;background: #f2f2f2;text-align: Center;margin-top: -31px;z-index: 999999;font-size: 12px; padding-top: 5px; padding-bottom: 5px; width: 90px;  opacity: 0.9; color: #f00;}
.out_of_stock_error_text{ background: #FCE7E7;margin-bottom: 15px; width: 100%;font-family: arial;font-size: 14px;border: 1px solid #b00;color: #b00; padding-top: 4px;padding-bottom: 5px;text-align: center; }
.empty-cart_cont a:hover{ text-decoration:none;}
.empty-cart_cont{ width:100%; text-align:center; font-family:Arial, Helvetica, sans-serif; margin-top:20px; font-size:14px; margin-bottom:40px;}
.empty-cart_contshpbtn{background:#6c9d06; border:1px solid #6c9d06; color:#fff; text-transform:uppercase; font-size:13px;margin-top: 15px;height: 35px;width: 185px;border-radius: 3px; cursor:pointer;}
.empty_cart_catlist{ width:100%; float:left; font-family:Arial, Helvetica, sans-serif; font-size:14px;}
.empty_cart_text{float:left; color:#555; width:100%;}
.empty_cart_sce{float: left; width:25%;}
ul.cart_catlist{list-style:none; padding:0px; margin:0px;}
ul.cart_catlist li{ margin-top:5px; font-size:13px;}
ul.cart_catlist li a{ color:#555; text-decoration:none;}
.cart_aero{ color:#555; margin-right:3px;}
.cart_cursor{ cursor:pointer;}





