body{ padding:0px; margin:0px; font-family:AvenirNext-Regular; color:#555;}
@font-face {font-family: AvenirNext-Regular;src: url(fonts/avenir-next-regular.ttf);}
@font-face {font-family: AvenirNext-Medium;src: url(fonts/AvenirNext-Medium.ttf);}
@font-face {font-family: Palatino-Italic;src: url(fonts/texgyrepagella-italic.otf);}
.checkout-block, .container, .checkou-footer{ float:left; width:100%; margin:auto;}
.checkout-navbar{ background:#fbfbfb; width:100%; float:left; box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05); border-bottom:solid 1px #ededed;}
.checkout-navbar .navbar-header, .checkou-sec, .checkou-footer-sec{ margin:auto; width:1024px; }
.checkou-sec h1{font-size: 24px;color: #4a4a4a;; font-family:AvenirNext-Medium; padding:15px 0px; font-weight:normal;}
.checkou-sec .new-login-form{ float:left; width:100%;}
.new-login-form-details, .new-login-form-social{ float:left; width:446px;}
.new-login-form-full{ width:100%; float:left;}
.new-login-form-social .connect-social{ font-size:16px; font-family:Palatino-Italic; color:#555; margin-top:40px;}
.email-text-text{ font-size:16px; margin-top:30px;  color:#4a4a4a; font-family:AvenirNext-Medium;}
.email-text-box input{box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2);border: solid 1px #979797; margin-top:20px; width:280px;  padding:10px; border-radius:3px;  font-size:14px;}
.contuinue-btn{ margin-top:40px;}
.btn{color:#fff; text-decoration:none; width:215px; height:50px; border:none; font-size:16px; border-radius:3px; cursor:pointer; font-family: AvenirNext-Regular; font-size:18px;}
.btn{ background:#6c9d06;}
.btn-guest{background:#fff; margin-left:20px; border:1px solid #6c9d06; color:#6c9d06; text-decoration:none; width:172px; height:50px;  font-size:14px; border-radius:3px; cursor:pointer; font-family: AvenirNext-Regular; font-size:16px;}
.continue-shopping-btn{color:#6c9d06; background:none; text-decoration:none; width:172px; height:45px;   border:1px solid #6c9d06; font-size:13px; border-radius:3px; cursor:pointer; text-transform:uppercase; font-family: AvenirNext-Regular; font-size:13px;}
.btn{ background:#6c9d06; }
.step1_dwd {margin:0px 40px;float: left; width:52px;}
.new-login-form-social ul{ list-style:none; padding:0px; margin:0px; margin-top:15px;}
.new-login-form-social ul>li{ display:inline; }
.new-login-form-social ul>li:first-child{ margin-right:20px;}
.checkou-footer-sec .footer-col{ float:left; width:33.3%; text-align:center;}
.footer-col:first-child{ text-align:left;}
.footer-col ul{ list-style:none; padding:0px; margin:0px;}
.footer-col ul>li{ display:inline; font-size:14px; padding-left:10px; color:#555;}
.footer-col ul>li:first-child{ padding-left:0px;}
.footer-col ul>li a{ text-decoration:none; color:#555;}
.checkou-footer{padding: 15px 0px;border-top: 1px solid #dcdcdc; z-index:9999; background:#fff; margin-top:30px;}
.checkou-fixd{bottom: 0px;position: absolute; }
.forgot-password{text-align: right; margin-right: 125px; margin-top: -15px; float: right;}
.forgot-password a{font-size: 14px; text-decoration: none; color: #6c9d06;}
.email-text-box label {  font-size: 14px;color: #888;margin-left: 25px; position: absolute;margin-top: :20px;padding-top: 20px; }
.email-text-box textarea{ border:1px solid #888; margin-top:20px; width:280px; height:60px; padding:10px; border-radius:3px; box-shadow: 0px 0px 1px 1px #ddd inset; resize:none; font-family:AvenirNext-Regular; font-size:14px;}
.pick-address-book .p-btns{background:#fff; margin-left:20px; border:1px solid #6c9d06; color:#6c9d06; text-decoration:none; width:202px; height:45px;  font-size:14px; border-radius:3px; cursor:pointer; margin-top:180px; font-family:AvenirNext-Regular;}
.address-book{ border:1px solid #ddd; margin-top:15px; padding:20px; width:368px; border-radius:3px;margin-bottom: 15px;float: left;} 
.address-book .cs-full-name{font-size:16px;  font-family: AvenirNext-Medium;}
.address-book .cs-address{ font-size:14px; line-height:20px; margin-top:20px;}
.address-delete{text-align: right; margin-top: -20px;float: right;}
ul.checkout-steps{ float:left; width:512px; margin:0px; padding:0px; list-style:none;}
ul.checkout-steps li{float: left;width: 126px;text-align: center; font-size:14px; color:#555;margin-top: 15px; padding-bottom: 15px;margin-left: 20px;margin-right: 20px}
ul.checkout-steps li a{ text-decoration:none; color:#555; }
.chek-out-logo{ float:left; width:256px; margin:17px 0px; }
ul.checkout-steps li .txt{ margin-top:7px;}
.header-sprie{background: url(../images/header-sprite.jpg) no-repeat;  margin:auto;}
.shipping-icon{width:30px; height:23px;background-position: -49px 0px;;}
.shipping-icon-active{ width:30px; height:23px;background-position: -6px -0px;}
.payment-icon{  width:30px; height:24px; background-position: -135px -1px;}
.payment-icon-active{width:23px; height:24px; background-position: -97px -1px;}
.confirmation-icon{width:20px; height:24px; background-position: -173px -1px}
li.active{ border-bottom:3px solid #6c9d06;margin-top: 15px;padding-bottom: 15px;}
.active a{ text-decoration:none; color:#6c9d06 !important; }
ul.nav-right, .continue-shopping{font-size: 14px;float: right; width: 256px;  list-style: none;margin: 0px;padding: 0px; font-size: 14px;  text-align:right;}
ul.nav-right{margin-top: 30px;}
.continue-shopping{ margin-top:15px;}
.user-icon{background-position: -196px -6px;width: 21px;height: 23px; margin-right:5px; padding: 1px 10px;}
.checkout-close{ float:right; text-align:right;}
.checkout-close .close-icon{width: 45px;height: 43px;background-position: -29px -68px; margin-top: -20px;}
.conform-sec{margin:auto; text-align:center; margin-top:25px;}
.conform-icon-new{width: 30px;height: 30px;background-position: -76px -79px;}
.thank-you-placed{ font-size:24px; margin-top:25px; margin-bottom:25px;font-family: AvenirNext-Medium;}
.dogspot-order-number{ margin-top:25px; font-size:22px; margin-bottom:25px; font-size:18px;}
.security-icons{ width:270px; height: 27px;  background-position: 6px -36px; margin-top:-3px;}
.facebook-icon{ }
.Weve-sent-you{font-family: AvenirNext-Regular;font-size: 15px}
ul.payment-tabs{margin: 0px;padding: 0px;list-style: none;float:left;width:200px;}
ul.payment-tabs li{background: none;color: #222;display:block;padding: 5px 0px;cursor: pointer;width:199px;font-family: AvenirNext-Medium;font-size: 15px;line-height: 1.0;margin-bottom:20px;}
ul.payment-tabs li.current{border-right:3px solid #6c9d06;color: #6c9d06;position:relative;z-index: 999999;}
.payment-tab-content{display: none;background: #fff;padding: 0px 15px;float:left;width:480px; height:520px; border-left:1px solid #dfdfdf;}
.payment-tab-content.current{display: inherit;}
div.payDetail_new {float: left;margin: 3px 0;}
div.bankBox.fl { background: #f8f8f8; margin:5px 5px 5px 5px;border-radius: 3px;border: 1px solid #f4f4f4;width: 153px;height: 30px;padding: 10px 25px 10px 5px;display:inline-block;box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);}
div.bankBox.fl input[type="radio"] {float: left;margin-top: 10px;margin-right: 20px;}
.sbi, .axis, .citi, .hdfc, .icici, .kotak {background: url(../images/sprites-bank.png) no-repeat;margin-left:30px;}
.sbi {background-position: 0 -113px;width: 109px;height: 30px;}
.citi {background-position: 0 -51px;width: 100px;height: 26px;}
.hdfc {background-position: 0 -31px;width: 108px;height: 18px;margin-top: 7px;}
.axis {background-position: 0 -82px;width: 111px;height: 27px;}
.kotak {background-position: 0 -146px;width: 94px;height: 30px;}
.icici {background-position: 0 -2px;width: 110px;height: 23px;}
 .popular-banks{margin-bottom:20px;}
 .all-other-banks{ width:100%; float:left;     margin-top: 10px;}
.popular-banks, .all-other-banks, .credit-card-details, .payu-details{ font-size:18px; margin-left:5px; font-family: AvenirNext-Medium;}
.slect-bank select{ padding-left:5px; font-family: AvenirNext-Medium; margin:0px 5px 15px 0px;   margin-top:20px; color:#888;  border: solid 1px #d8d8d8;  background-color: #ffffff; border-radius: 3px; width:300px; height:36px;}		
.safe-icon{width: 20px;height: 20px; background-position: -229px -5px; display: inline-block;vertical-align: middle; margin-right: 5px;margin-left: 40px;}
.payment-mode-block, .cart-item-block{ float:left; width:714px;}
.order-block, .cart-placeorder-block{float:left; width:310px;}
.items-in-order{ font-family: AvenirNext-Regular;font-size: 16px;line-height: 1.6;color: #4a4a4a;}
.order-edit{ float:right;}
.order-edit a{ text-decoration:none; color:#6c9d06;}
.slect-bank{ margin-bottom:10px;}
.order-select-box{float:left; width: 310px;background-color: #fafafa; border: solid 1px rgba(150, 150, 150, 0.05); margin-top:10px;}
ul.product-order-details{ list-style:none; padding:0px 10px; float:left; margin:0px; }
.product-order-image{float:left; width:50px;}
.product-order-image img{ border:1px solid #ddd; width:40px; height:auto; border-radius:2px; }
.product-order-text{float:left; width:185px; font-size:12px; line-height:18px;}
.order-item-price{float:left; width:55px; font-size:12px; text-align:right;}
ul.product-order-details li{ border-bottom:1px solid #ddd; padding:20px 0px; float:left;}
.order-item-quantity{ color:#888; font-size:11px;}
ul.product-order-details li:last-child{ border-bottom:none;}
ul.order-item-summery { margin:0px; padding:0px; float:left; list-style:none; width:100%; margin-bottom:0px;}
ul.order-item-summery  li{padding:15px 0px; margin:0px 10px; }
ul.order-item-summery li:first-child{ border-top:1px solid #ddd; }
.order-item-summery li:last-child{border-bottom:1px solid #ddd; overflow:hidden; }
.order-item-summeryl, .order-item-summeryr, .you-payl, .you-payr{ float:left; width:50%; font-size:12px;}
.order-item-summeryr,  .you-payr{ text-align:right;}
ul.you-pay{ list-style:none; float:left; width:100%; margin: 0px; padding: 0px;     margin-bottom: 20px; text-transform:uppercase;}
ul.you-pay li{ padding:10px 0px; margin:0px 15px;}
.you-payl, .you-payr{ font-size:18px; color:#6c9d06; font-family: AvenirNext-Medium;}
.promo-code-box{ float:left; width:100%; margin-top:20px; }
.promo-code-box input{font-family: AvenirNext-Regular; font-size:14px;}
.promo-code-box .text-box{background:#fff; width:205px; height:37px; border:1px solid #ddd; padding:0px 10px;}
.promo-code-box .promo-btn{background:#fff; border:1px solid #ddd; margin-left:-4px; vertical-align:middle;border-left:none; height:39px; width:83px; cursor:pointer;font-size:18px; color:#6c9d06; vertical-align: top;}
.cod-content, .payu-content{ margin-bottom:25px; margin-left:5px;}
.payment-page-input input, .payment-expire input, .saved-card-ccv input{box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2);border: solid 1px #979797; margin-bottom:20px; width:280px; height:15px; padding:10px; border-radius:3px;  font-size:14px;font-family: AvenirNext-Regular; }
.payment-expire input{width:60px;    text-align: center;  }
.saved-card-ccv input{width:60px;text-align: center; margin-top:7px; margin-left:0px;}
.payment-page-input input{width:280px;}
.expire-line, .cvv-line, .cvv-line-new{ display:inline;}
.cvv-line{margin-left: 166px;}
.procced-to-payment-block{ float:left; margin-top:15px;}
.info{display: inline; width:60px; height:30px;   margin-left: 2px;    width: 20px;height: 18px;background-position: -249px -5px;     position: absolute; cursor:pointer;}
a.tooltip {outline:none; }
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;} 
a.tooltip span {z-index:10;display:none; padding:10px 0px;margin-top:10px; margin-left:28px;width:211px; line-height:16px;}
a.tooltip:hover span{ display:inline; position:absolute; color:#111; border:1px solid #888; background:#fff;}
.callout {z-index:20;position:absolute;top:20px;border:0;left:-12px;}
a.tooltip span{border-radius:4px;box-shadow: 5px 5px 8px #CCC;}
.visa-icon{width: 45px;height: 29px;background-position: 4px -170px;position: absolute;margin-left: 5px; margin-top:2px;}
#error{ color:#f00;}
.customer-support-box{ border:1px solid #dcdcdc; width:428px;  margin:auto; padding:20px 15px; font-size:14px; overflow:hidden;   }
.customer-support-box ul{ list-style:none; margin:0px; padding:0px; font-family: AvenirNext-Medium;     font-size: 13px;}
.customer-support-box ul li{  float: left;width: 185px;text-align: left;margin-top: 20px;padding-left: 28px;}
.customer-support-box ul li:first-child{ border-right:1px solid #dcdcdc;}
.icon-sec{float:left;  background-position:-80px -30px; }
.customer-support-sec{ float:left; margin:auto; width:100%; margin-top:40px;}
.call-icon{ background-position: -56px -176px;width: 20px;height: 22px;float: left;margin-right: 5px; }
.email-icon{background-position: -83px -176px;width: 20px;height: 22px;float: left;margin-right: 5px;}
.cart-item-block table{ width:615px; border-collapse:collapse; margin-bottom:20px;}
.cart-item-block table td{ vertical-align:top; border-bottom:1px solid #ddd; padding-bottom:15px;}
.cart-item-block table td img{border:1px solid #dcdcdc; border-radius:3px;}
.cart-item-block table td:nth-child(1){ width:20%;}
.cart-item-block table td:nth-child(2){ width:60%;}
.cart-item-block table td:nth-child(3){ width:20%; text-align:center;}
.cart-item-block table td:nth-child(2) .product-name{font-size: 16px; line-height: 22px;}
.cart-item-block table td:nth-child(2) .product-colortype{font-size: 14px; color:#888; margin-top:6px;}
.cart-item-block table td:nth-child(3) .product-price{ color: #6c9d06; font-family: AvenirNext-Medium; font-size:16px;}
.cart-item-block ul{ list-style:none; margin:0px; padding:0px; margin-top:15px;    font-size: 14px}
.cart-item-block ul li{ float:left; border-right:1px solid #ddd; padding: 0px 12px;}
.cart-item-block ul li:first-child{ border-right:none; padding:}
.cart-item-block ul li a{text-decoration:none; color:#333;}
.minus-icon{ width: 20px;height: 25px; border: none;background-position: -112px -174px;vertical-align: middle; margin-right:5px;}
.cart-item-block ul li .quntity-box{width: 57px;background: #f2f2f2;border: 1px solid #f8f8f8;text-align: center;
padding: 7px;color: #222;text-transform: uppercase; font-size: 14px;font-family: AvenirNext-Medium; }
.plus-icon{width: 20px;height: 25px;border: none;background-position: -130px -174px;vertical-align: middle; margin-left:5px;}
::-webkit-input-placeholder {color: #333;}
:-moz-placeholder {color: #333;}
::-moz-placeholder { color: #333; }
:-ms-input-placeholder { color: #333;}
.promo-code-applied{margin-top: 15px;float: left;}
.applied-text{margin-top: 15px;float: left;text-transform: uppercase;font-size: 13px;color: #6c9d06}
.applied-text input{ vertical-align:middle;}
.applied-text a{text-decoration:none; margin-left:8px; color:#555; margin-left: 60px;}
.check-box{width:23px; height:20px;background-position: -170px -179px; margin-right: 3px; margin-left: 6px; float:left;}
.saved-card-box{width: 400px;border: solid 1px rgba(150, 150, 150, 0.23); float:left; padding: 20px 10px; margin-top:4px; margin-bottom:20px;}
.saved-check-box, .saved-bank-details, .saved-bank-icons{ float:left;}
.saved-check-box{ width:50px;}
.saved-bank-details{ width:283px;}
.saved-bank-icons{width:66px;}
.saved-bank-icons img{ width:40px; height:auto;}
.saved-bank-details .saved-bank-name{font-size: 10px;font-weight: normal;line-height: 1.5;color: #4a4a4a;}
.saved-bank-accounts{font-size: 18px;font-weight: normal;line-height: 1.44;color: #666666;}
.visa-icon-new{width: 45px;height: 29px;background-position: 4px -204px;position: absolute;margin-left: 5px;margin-top: 2px;}
.american-express-icon{width: 50px;height: 30px;background-position: -36px -204px; position: absolute;margin-left: 5px;margin-top: 2px}
.union-pay-icon{width: 50px;height: 37px;background-position: -90px -204px;position: absolute;margin-left: 5px;margin-top: 2px;}
.master-card-icon{width: 50px;height: 37px;background-position: -141px -204px;position: absolute;margin-left: 5px;margin-top: 2px;}
.discover-icon{width: 50px;height: 37px;background-position: -202px -204px;position: absolute;margin-left: 5px;margin-top: 2px;}
.diners-club-icon{width: 45px;height: 29px;background-position: 4px -245px;position: absolute;margin-left: 5px;margin-top: 2px;}
.maestro-icon{width: 45px; height: 32px;background-position: -48px -244px;position: absolute;margin-left: 5px;margin-top: 2px;}
.citrus-icon{width: 45px; height: 32px;background-position: -90px -244px;position: absolute;margin-left: 5px;margin-top: 2px;}
.saved-card-ccv{float:left; width:100%; margin-top:30px;}
.ptb-btn-sec{float: left;width: 100%;margin-top: 15px;}
.saved-bank-details-sec{float: left;width: 100%;margin-left: 50px;}
.saved-check-box input[type=radio] {display:none;}
.saved-check-box input[type=radio] + label{padding-left:31px;display:inline-block; line-height:24px;background-repeat:no-repeat;cursor:pointer;}
.saved-check-box input[type=radio]:checked + label {background-position: 0 -24px;}
.saved-check-box label{background-image:url('../images/radio2.png');}
.apply-promo-code{ float:left; margin-top:20px; width:100%; color:#6c9d06;     margin-left: 51px;text-transform: uppercase;font-size: 13px; cursor:pointer;}
.plus-promo-icon{width: 23px;height: 20px;background-position: -192px -179px;margin-right: 3px;margin-left: 6px;float: left;}
.see-all-orders{  color:#6c9d06;     text-transform: uppercase;font-size: 13px; cursor:pointer; padding:10px;}
.arrow-down-icon {width: 17px;height: 10px;background-position: -221px -182px;position: absolute; margin:2px 0px 0px 5px;}
.payCC_new label{}




    
    
   

