a {
	text-decoration: none;
}
.deal_container {
	width: 972px;
	float: left;
	font-family: lato, sans-serif;
	font-font-size: 14px;
	overflow: hidden;
	letter-spacing: 0.5px;
}
.deal_left {
	float: left;
	margin-right: 5px;
}
.deal_right {
	float: left;
    color: #c40d0a;
    font-size: 16px;
    font-weight: bold
}
.deal_right span{background: #f8f6f6;
    padding: 10px;
    margin-right: 5px;}
.deal_ofthe_dyabanner {
	padding-bottom: 1px;
	float: left;
	margin-bottom: 15px;
	overflow: hidden;
	position: relative;
	width: 100%;
	min-height: 100%;
	background: none no-repeat fixed 50% 0% / cover #FFF;
}
..deal_ofthe_dyabanner img {
width:100%;
min-width:972px;
}
.deal_ofthe_daysection {
	float: left;
	width: 100%;
	margin-top: 10px;
	border-bottom: 1px solid #eee;
}
.deal_ofthe_daysection h1 {
	margin: 0px;
	font-family: lato, sans-serif;
	color: #c40d0a;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	float: left;
	padding-bottom: 3px;
}
.deal_ofthe_daysectionL {
	float: left;
	width: 972px;
	padding-top:10px;
}
.deal_ofthe_daysectionL ul{ list-style:none; margin:0px; padding:0px;}
.deal_ofthe_daysectionR {
	float: left;
	width: 290px;
	margin-left: 18px;
	border-left: 1px solid #ddd;
	padding-left: 10px;
}
.deal_of_the_day_insideL {
	float: left;
	width: 188px;
	text-align: center;
}
.deal_of_the_day_insideR {
	float: left;
	width: 226px;
	margin-left: 18px;
}
.deal_of_the_day_insideR h1 {
	font-size: 22px;
	font-weight: normal;
}
.deal_btn {
	background: #ff841a;
	height: 30px;
	color: #fff;
	font-size: 16px;
	width: 120px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}
.deal_featured_listingL {
	float: left;
	width: 100px;
}
.deal_featured_listing {
	margin-top: 15px;
}
.deal_featured_listingR {
	float: left;
	width: 170px;
	margin-left: 20px;
	text-align: left;
}
.deal_product_text {
	font-size: 15px;
	font-family: lato, sans-serif;
	color: #333;
	margin-top: 3px;
	width:200px;
}
.deal_product_text a {
	font-size: 15px;
	font-family: lato, sans-serif;
	color: #333;
	text-decoration: none;
}
.deal_product_text a:hover{ text-decoration:none;}
.deal_price {
	font-family: lato, sans-serif;
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 5px;
	margin-top: 3px;
}
.deal_price_section {
	margin-top: 50px;
	margin-bottom: 10px;
}
.deal_text_del {
	font-size: 16px;
	font-family: lato, sans-serif;
}
.deal_price_text {
	color: #d00001;
	font-size: 20px;
	font-family: lato, sans-serif;
}
.off_page_section {
	font-size: 16px;
	padding-left: 5px;
	font-family: lato, sans-serif;
}
.deal_price_textside {
	color: #d00001;
	font-size: 18px;
	font-weight: bold;
	padding-left: 5px;
}
.bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
*zoom: 1;
	width: 972px;
}
.time_deal_section {
	font-size: 14px;
	color: #888;
	padding-left: 40px;
}
.time_deal_section_side {
	font-size: 14px;
	color: #888;
	padding-bottom: 20px;
	margin-bottom:10px;
	float: left;
	width: 100%;
}
.side_deal_price {
	margin-top: 15px;
}
.side_addtocart_btn {
	margin-top: 5px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}
.bx-wrapper img {
	max-width: 100%;
}
.bx-wrapper .bx-viewport {
	left: -5px;
	background: #fff;
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
	-ms-transform: translatez(0);
	-o-transform: translatez(0);
	transform: translatez(0);
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}
.bx-viewport ul {
	margin: 0px;
}
.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}
.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: lato, sans-serif;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
*zoom: 1;
*display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}
.bx-wrapper .bx-prev {
	left: 10px;
	background: url(../images/arrows2.png)no-repeat;
}
.bx-wrapper .bx-next {
	right: 10px;
	background: url(../images/arrows2.png) no-repeat;
	background-position: -17px -0px;
}
.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 28px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}
.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}
.bx-wrapper .bx-controls-auto {
	text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(images/arrows2.png) -86px -11px no-repeat;
	margin: 0 3px;
}
.top_offer_section {
	float: left;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
}
.other_top_offer h2 {
	margin: 0px;
	font-family: lato, sans-serif;
	color: #c40d0a;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	float: left;
	padding-bottom: 3px;
}
.other_offer_products {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
.other_offer_products ul {
	float: left;
	margin: 0px;
	padding: 0px;
	list-style: outside none none;
	margin-top: 20px;
}
.other_offer_products ul>li {
	display: block;
	float: left;
	font: 12px Arial, Helvetica, sans-serif;
	color: #675E5B;
	margin-right: 26px;
	width: 223px;
	;
}
.other_offer_products ul>li:last-child {
	margin-right: 0px;
}
ul.bxslider li {
	width: 464px !important;
}
.deal-ends{
    float: left;
    width: 100%;
    margin-bottom: 5px;
    color: #888;
    font-size: 14px;
}
ul.deals_tab {
	margin: 0px;
	padding: 0px;
	list-style: none;
	margin: auto;
	margin-bottom: 20px;
	margin-top:10px;
	font-size: 14px;
	width: 100%;
    float: left;
	border-bottom:1px solid #eee;
}
ul.deals_tab li {
	background: #fff;
	font-size: 16px;
	color: #888;
	display: inline-block;
	color: #555;
	padding: 10px 15px;
	padding-bottom: 5px;
	border-bottom: 0px;
	cursor: pointer;
}
ul.deals_tab li a {
	text-decoration: none;
	color: #555;
	
}
ul.deals_tab li.current {
	background: #fff;
	color: #555;
	padding: 10px 15px;
	padding-bottom: 5px;
	border-bottom: 0px;
	cursor: pointer;
	border-bottom: 2px solid #E77600;
}
.deals_tab_content {
	display: none;
	background: #fff;
	padding-top: 0px;
}
.deals_tab_content.current {
	display: inherit;
	font-family: Arial, Helvetica, sans-serif;
}