.my_orders_cont,.orders_details_cont{ width:100%; float:left;  font-family: Arial, Helvetica, sans-serif; font-size:16px; color:#555;}
ul.my_ordertab{margin: 0px;padding: 0px; padding-left:20px;list-style: none;  margin:auto;   border-bottom: 1px solid #dedede; font-family:Arial, Helvetica, sans-serif;  font-size:14px;}
ul.my_ordertab li{background: #f2f2f2;  font-size: 16px; color:#888; display: inline-block; color: #555; border:1px solid #dedede;  padding:10px 15px; padding-bottom:0px; border-bottom:0px; cursor:pointer;}
ul.my_ordertab li a{ text-decoration:none; color:#555;}
ul.my_ordertab li.current{background: #fff;color: #555; border:1px solid #dedede; padding:10px 15px; padding-bottom:0px; border-bottom:0px; cursor:pointer;}
.my_ordertab_content{display: none; background: #fff;padding-top:0px;}
.my_ordertab_content.current{display: inherit; font-family: Arial, Helvetica, sans-serif; }
.myorder_tab_text{ padding-bottom:7px; }
.cont980{ width:972px; margin:auto;}
.myorders-box{ width:100%; float:left; border:1px solid #dedede; margin-top: 20px;}
.myorders-box .myorders-box-header{ padding:10px; background:#f5f5f5; overflow:hidden; border-bottom:1px solid #dedede; font-size: 14px; color: #555; }
.order-unit{ float:left; font-size:13px;}
.order-unitr{ float:right; padding-right:5px;}
.myorders-box1{ width:20%; padding-left:5px; font-size:13px;}
.myorders-box1 a{ text-decoration:none; color:#555; font-size:13px;}
.order-list-box{ width:100%;  overflow:hidden; padding-bottom:5px; padding-top:5px; }
.order-size-qty{ font-size:13px; color:#555;}
.order-list-left{ float:left; width:370px; padding:16px; }
.order-list-right1{ float:left; padding:16px; width:200px; }
.order-list-right2{ float:left; padding:16px; width:256px;   padding-left: 60px; }
.pdg-left15{padding-left: 17px;}
.order_qty{ margin-left: 10px;}
.order_cont{ width:100%;}
.order_p_img{width:190px}
.order_p_info{ width:180px;}
.order_item_name a{ font-size:13px; color:#555; text-decoration:none; }
.order_item_price{font-size:13px; color:#555; margin-top:5px; margin-bottom:5px; }
.cancel_item_btn, .trackorder_btn{ border:1px solid #dedede; background:#ddd; color:#555; width:125px; height:35px; text-transform:uppercase;  cursor:pointer; margin-left:10px;}
.return_item_btn{ border:1px solid #dedede; background:#f3cf74; color:#555; width:125px; height:35px; cursor:pointer;}
.textuc{ text-transform:uppercase;}
.order-sm{ font-size:12px;}
.fntbld{font-weight:bold;}
.delinfo_nd{color:#555; margin-top:5px;}
.delinfo_d{color:#668000; margin-top:3px;}
ul.myorders_list{ margin:0px; padding:0px; list-style:none; }
ul.myorders_list li{ float:left; width:100%;}
/* order details page */
.order-detail-wrp{ width:100%; float:left; border:1px solid #dedede; }
.order-detail-wrp h1{ color:#555; font-size:16px; padding:10px; margin:0px; font-weight:500; text-transform:uppercase; margin-bottom:0px;
 background:#f8f8f8; border-bottom:1px solid #dedede; }
.clearfix{ display: block; clear:both;}
.order_detail-sec{padding:10px; overflow:hidden; margin-top:5px; font-family: Arial, Helvetica, sans-serif; }
.order_info,.order_address{ width:50%;}
.order_info ul{ list-style:none; padding:0px; margin:0px; color:#555; }
.order_info ul li{ display:block;  border-bottom:1px solid #dedede; width:440px; padding-bottom:8px; color:#555; margin-bottom:10px;}
.order_id_text{ width:100px; font-size:13px; color:#888; display: inline-block; width:125px;}
.order_item{font-size:13px; color:#888;}
.order_id{font-weight: bold;font-size: 18px;}
.order_address ul{ list-style:none; padding:0px; margin:0px; color:#555; }
.order_address ul li{ display:block; width:440px; padding-bottom:2px; color:#555; margin-bottom:5px; font-size:13px;}
.order-details-manage{ width:100%; float:left; margin-top:20px; border:1px solid #dedede; overflow:hidden;}
.order-details-manage .header{ background:#f4f4f4; padding:10px; text-transform:uppercase; font-size:16px; color:#555; border-bottom:1px solid #dedede; }
.order-details-manage ul{ list-style:none; padding:0px; margin:0px;}
.order-details-manage ul li{ float:left; width:49%; text-align:center; margin:5px 0px 5px 0px; border-right:1px solid #dedede}
.order-details-manage ul li:last-child{ border-right:none;}
.order-details-sprits{ background:url('/new/shop/images/order-details-sprits.png'); margin:auto;}
.print-icon{width: 60px;height: 50px;background-position: 0px 0px; margin-top:10px;}
.invoice-icon{ width:60px; height:50px; background-position:-60px 0px;margin-top:10px; }
.contact-icon{ width:60px; height:50px; background-position:-117px 0px;margin-top:10px; }
.manage_order_text{ font-size:14px; margin-top:10px; margin-bottom:10px;}
.track_order_sec{margin-top: 20px;float: left;width: 100%; border:1px solid #dedede; border-bottom:0px;}
.track_order_sec table td{border-bottom: 1px solid #dedede;padding-top: 0px;padding-bottom: 0px;}
.trackOrder{float:left;width:972px;margin-top:20px}
.trackOrder table{width:972px;font-size:14px;color:#848484; border-collapse:collapse; border:1px solid #dedede; margin-bottom:20px;}
.trackOrder tr td{ padding:0px 8px;   border-bottom:1px solid #dedede; border-right:1px solid #dedede; vertical-align:inherit;}
#trackOrderHead{background-color:#f8f8f8; }
.tdWidth35{width:28%}
.tdWidth15{width:15%}
.tdWidth10{width:10%}
.OrderProcessingHead{float:left;text-align:center;border-right:1px solid #dedede; padding:9px 4px;  font-size:14px; }
.OrderProductHead{float:left;text-align:center;border-right:1px solid #dedede; width:109px;padding:9px 13px;}
.OrderProductDesc{float:left;width:106px;padding:0px 15px; text-align:center;}
.mrl-5{ margin-left:-5px;} 
.vtop{vertical-align:top}
.border-right{border-right:0}
.product_imgDiv{float:left;width:99px;text-align:center;}
.product_imgDiv img{width:100px;height:auto}
.product_DescDiv{float:left;width:140px;margin-left:15px}
.trackOrderProduct_Name{font-size:14px;color:#000;}
.trackOrderProduct_Name a{ text-decoration:none; color:#555;}
.trackOrder_itnno{margin-top:5px; font-size:12px;}
.trackOrder_qty{color:#848484;font-size:12px;margin-top:5px}
.delivery_Date{border:1px solid #dedede;padding:5px;width:100px;text-align:center;border-radius:5px;font-size:14px}
.to_product_price{font-size:16px;color:#333;margin-top:10px;font-weight:700}
.to_CancelbtnBox{margin-left:10px;margin-top:10px;margin-bottom:10px}
.to_cancelBtn{border:1px solid #dedede;background:#f5f5f5;width:80px;height:25px;cursor:pointer}
.item-shipment{padding:18px 0}
.unit{float:left}
.state ul{border-left:1px dotted #dedede;}
.state .processed{background-position:4px 0}
.order-step{background: url('/new/shop/img/dots.png') no-repeat scroll 0px 0px transparent;height:22px;width:30px;margin-top:7px;text-align:center;display:inline-block; cursor:pointer;}
.line{overflow:hidden}
.track_border{background:url('/new/shop/img/dots.png') -6px -221px repeat-x}
ul.line{ padding:0px; list-style:none; margin-top:25px; margin-bottom:25px;}
ul.line li{padding: 0px 2px;}
.state{height:36px}.processed:hover{background-position:4px -22px}
.processed-continous{background-position:4px -44px}
.inactive{background-position:4px -176px}
.ds-text-center{text-align:center}.lastUnit{overflow:hidden}.size1of3{width:19%}
.pdtb{ padding-bottom:15px!important; padding-top:15px!important;}
.track_order_process{ float:left; width:100%;}
.cancel_order_btn{border: 1px solid #dedede; width: 130px; height: 30px; background: #f5f5f5; cursor:pointer;}
.trackorder_header{ background:#f4f4f4; padding:10px !important; text-transform:uppercase; font-size:16px; color:#555; }
.lastUnit {overflow: hidden;}
.size1of3 { width: 19%;}
ul.order-detail1 {list-style:none; padding:0px; margin:10px 0px;float:left; width:100%; }
ul.order-detail1 li{margin-bottom:5px; width:100%; float:left; }
ul.order-detail1 li:last-child{margin-bottom:0px; border-top:1px solid #dedede; padding-top:5px; font-weight: bold;}
ul.order-detail1 li div:first-child{color: #333333; float: left;font-size: 13px; width: 70%;}
ul.order-detail1 div:last-child {color: #333;float: left;font-size: 13px;width: 28%; text-align:right; }
.grn-color{ color:#668000;}
.breadcrumb{ background: none !important;}
.breadcrumb_cont {float: left;width: 100%;color: #666;font-size: 13px; word-spacing: 2px;margin-top: 5px;}
.breadcrumb_cont span{color: #333;}
.brd_font_bold {font-weight: bold;}
.no_order_box{width: 100%; float: left;margin-bottom: 50px; margin-top: 50px;  text-align: center;}
.no_order_box h2{text-align: center; color:#555;}
.start_shoppingbtn{background: #6c9d06;border: 1px solid #6c9d06; color: #fff; text-transform: uppercase; font-size: 13px; margin-top: 15px;  border-radius: 3px; cursor: pointer; padding: 7px 15px;text-decoration: none;}
.start_shoppingbtn:hover{ text-decoration:none; color:#fff;}
div.error_myorder{float: left;color: #D34F4F;background: #FCE2E6; border-radius: 5px; padding: 5px;border: 1px solid #D34F4F;font-size: 12px;width: 403px; text-align: center;margin-top: 5px;margin-Bottom: 15px;margin-left:40px;}
.my_order_save_btn{width: 80px;height: 26px;text-transform: uppercase;color: #555;border: 1px Solid #ccc;background-color: #f2f2f2;}
.load_myorder{text-align: center; padding-top: 10px; clear: both;}
.load_myorder img{ width:25px; height:auto;}
.head_oc h3{ font-weight:normal; padding-left:10px;}
.order-cancle-btnpop{ float:right; width:189px; margin-top:5px;}
.myorder_id_btn{  border: 1px solid #dedede;background: #ddd;color: #555;width: 150px; text-transform: uppercase; cursor: pointer; padding-top: 8px; overflow: hidden;padding-bottom: 10px;text-align: center;  text-decoration: none; text-transform:uppercase;}
.fa { color:#555;}