@charset "utf-8";
.offer_page_container{width:972px; margin:auto; overflow:hidden; font-family:"Segoe UI";}
.offer_page_section{ width:100%; float:left; margin-top:20px; padding-bottom: 15px; border-bottom:1px solid #ddd;}
.offer_page_banner_left{ float:left; width:636px;}
.offer_page_banner_right{ float:left; width:306px; margin-left: 27px;}
.offer_page_small_bannr{ float:left; width:306px;}
.offer_mt13{ margin-top:13px;}
.top_offer_section{float:left; width:100%; margin-top:20px;}
.other_top_offer h1{ margin:0px; font-family:"Segoe UI"; color:#c40d0a; font-size:20px; text-transform:uppercase; border-bottom:4px solid #333; letter-spacing:2px; float:left; padding-bottom:3px;}
.other_offer_products{float:left; width:100%; margin-bottom:15px;}
.other_offer_products ul{float: left; margin: 0px;padding: 0px;list-style: outside none none; margin-top:20px;}
.other_offer_products ul>li{display: block;float: left;font: 12px Arial,Helvetica,sans-serif;color: #675E5B;  margin-right: 26px; width: 223px;;}
.other_offer_products ul>li:last-child{margin-right:0px;}