/* CSS Document */
@font-face {
    font-family: 'throw_my_hands_up_in_the_aiRg';
    src: url('../font/throwmyhandsupintheair.eot');
    src: url('../font/throwmyhandsupintheair.eot?#iefix') format('embedded-opentype'),
         url('../font/throwmyhandsupintheair.woff') format('woff'),
         url('../font/throwmyhandsupintheair.ttf') format('truetype'),
         url('../font/throwmyhandsupintheair.svg#throw_my_hands_up_in_the_aiRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'throw_my_hands_up_in_the_aiBd';
    src: url('../font/throwmyhandsupintheairbold.eot');
    src: url('../font/throwmyhandsupintheairbold.eot?#iefix') format('embedded-opentype'),
         url('../font/throwmyhandsupintheairbold.woff') format('woff'),
         url('../font/throwmyhandsupintheairbold.ttf') format('truetype'),
         url('../font/throwmyhandsupintheairbold.svg#throw_my_hands_up_in_the_aiBd') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gorditasbold';
    src: url('../font/gorditas-bold.eot');
    src: url('../font/gorditas-bold.eot?#iefix') format('embedded-opentype'),
         url('../font/gorditas-bold.woff') format('woff'),
         url('../font/gorditas-bold.ttf') format('truetype'),
         url('../font/gorditas-bold.svg#gorditasbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gorditasregular';
    src: url('../font/gorditas-regular.eot');
    src: url('../font/gorditas-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/gorditas-regular.woff') format('woff'),
         url('../font/gorditas-regular.ttf') format('truetype'),
         url('../font/gorditas-regular.svg#gorditasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{font-family: Arial, Helvetica, sans-serif;}
.bg_body{ height: 535px; background:url(../images/back_blck.jpg) no-repeat center 1px;float: left;
width: 100%;}
.bg_body_op {height: 535px;/*background: rgba(0, 0, 0, 0.75);*/position: absolute;top: 149px;left: 0;width: 100%;z-index: 0;}
.txt_dg{height: 505px;position: absolute;top: 158px;left: 0;width: 100%;z-index: 0;}
.text_box_dg{font-family: 'throw_my_hands_up_in_the_aiRg'; width:1140px; margin:0 auto; color:#fff;}
.text_box_dg h1{font-family: 'throw_my_hands_up_in_the_aiBd';color: #fff;font-size: 58px; width:100%; padding-bottom:15px; text-align:center;text-shadow: 4px 5px 0px #050505;text-shadow: 4px 5px 0px #050505;}
.text_box_dg p{ display:table-cell; padding:0px 0px 0px 5px;border-bottom: 3px dashed;float: left;width:1140px;border-top: 3px dashed; text-align:center;}
.text_box_dg p span.font174{ font-size:174px;display:table-cell;}
.text_box_dg p span.font50{ font-size:50px; display:table-cell;}
/*.add_btn_dg {width: 100%;padding-top: 60px;float: left;text-align: center;}*/
.homepage-fancystripe {height: .9em;margin: .25em 0;background: url(../images/fancystripe.png);}
.y_dog_dg{ color:#000; margin-top:30px;float: left;width: 100%;}
.y_dog_dg h1{font-size: 65px; padding:20px 0;color:#000; }
.y_dog_dg p{ font-size:30px;margin-bottom: 50px;color: #999;}
.dog_slider{ width:940px; margin:0 auto;}
.ryt_text_dg{ float: right;margin-top: 20px;}
.left_slider_dg{text-align:left;width: 625px; float:left;margin-top: 22px;}
.left_slider_dg h1{ font-size:47px; color:#000;}
.left_slider_dg p{ font-size:28px;margin-bottom: 30px;color: #999;}

/* Add Dog */
.dog_name_dg{ float:left;  width:100%; background:url(../images/bg_wc1.jpg) repeat #e8e7c5;position: absolute;top: 119px;left: 0px;right: 0px;bottom: 0px;}
.dog_bg_dg{ float:left; width:100%; background:url(../images/bg_wc1.jpg) repeat #e8e7c5;}
.dog_rec_dg{background:url(../images/bg_wc.jpg) repeat #e8e7c5;position: inherit;}
.add_name_dg{ width:940px; margin:0 auto;}
.add_name_box_dg{ float:left; width:100%;}

.add_name_box_dg .que_box_dg{ width:100%; margin:50px auto;font-family: 'throw_my_hands_up_in_the_aiRg'; font-size:45px;}
.add_name_box_dg input[type=text] {font-size: 100px;width: 640px;border: 0px;background: none; margin-bottom:50px;text-align: center;}
.add_name_box_dg input[placeholder]{ color:#333;}

/*Slider */
#container
{
    width: 940px;
    overflow: hidden;
}

/* SET TO THE TOTAL WIDTH OF ALL DIVS */
#slider-wrapper
{
    width: 8460px;
}

/* THESE ARE THE INDIVIDUAL SLIDE PROPERTIES */
.slide_dg
{
    width: 940px;
    max-height: 500px;
    overflow: hidden;
    float: left;
}

/* Select Breed */
.select_box_dg{ width:500px; margin:0 auto; text-align:left;position: relative;}
.select_box_dg input[type=file]{ width:338px;}
.select_breed_dg{width:363px; margin-left:50px;border-radius: 2px;padding: 13px 20px; background:#574528; color:#fff; font-size:20px; float:left; cursor:pointer;}
.select_breedBox_dg{width: 401px;margin-left: 50px;border-radius: 0 0 2px 2px;border: 1px solid #574528;margin-top:-46px;float: left;padding: 0px;background:#a89263;}
.select_breedBox_dg ul {
float: left;
margin: 5px 5px 5px 5px;
padding: 0px;
border: 1px solid #668100;
border-radius: 3px;
background: #fff;
overflow: auto;
height: 200px;
width:388px;
}
.select_breedBox_dg ul li{ float:left; width:349px; padding:8px 14px; border-bottom:1px dashed #666; list-style:none;}
.select_breedBox_dg ul li.lastLi_bor_dg{ border-bottom:0px dashed #666;}
.select_breedBox_dg ul li:hover {
background: #a89263;
color: #fff;
box-shadow: 0px 0px 31px 2px #5a442c inset;
font-weight: bold;
}
.srch_span_wc {
float: left;
}
.srch_span_wc>input[type=text] {
font-size: 17px;
width: 391px;
border: 1px solid #668100;
border-radius: 3px;
margin: 5px;
float: left;
background: #fff;
padding: 3px 5px;
text-align: left;
}
.mixBreed_wc {
float: left;
margin-left: 50px;
width: 84%;
margin-top: 0px;
text-align: center;
}
.txt_mix_wc {
color: #4E4E4E;
float: left;
width: 93%;
text-align: center;
margin: 5px;
}
/*Who R u */
.dog_detail_dg .tagline_box_dg {
font-size: 30px;
 color: white;
/*  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;*/
	 text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.name_owner_dg {
font-size: 80px;
width: 980px;
margin: 0 auto;
color: #000;
}

.gender_dg {width: 650px;margin: 0 auto;}
.gender_dg ul{ float:left; margin:0px 80px; padding:0px; }
.gender_dg ul a {
float: left;
width: 175px;
margin-left: 50px;
}
.gender_dg ul li {width: 150px;padding: 0px;height: 150px;list-style: none;border-radius: 86px;float: left;}
.gender_dg ul li.boy_dg {margin-right: 87px;border: 8px solid #4169A5;overflow: hidden;background: #95C4D3;}
.gender_dg ul li.boy_dg:hover{box-shadow: 0px 0px 88px -3px #00336B inset;}
.gender_dg ul li.boy_dg.active_boy{box-shadow: 0px 0px 88px -3px #00336B inset;}
.gender_dg ul li.girl_dg:hover{box-shadow: 0px 0px 88px -3px #6B0027 inset;}
.gender_dg ul li.girl_dg.active_girl{box-shadow: 0px 0px 88px -3px #6B0027 inset;}
.gender_dg ul li.girl_dg {border: 8px solid #D3298F;overflow: hidden;background: #F5A3C7;}
.gender_dg ul li img {
margin-top: 17px;
}

/*Add age*/
.age_dg{ width:300px; margin:0 auto;}
.birth_dg a{ font-size:13px; color:#444; text-decoration:underline;}
.select_birth_box {margin: 10px 0 50px 0;}
.select_month,.select_day  {
background: #765d39;
color: #fff;width: auto;
border: 0px;
border-radius: 3px;
font-size: 16px;
padding: 10px;
margin-right: 25px;
}

/*tagline*/
.hero_name_dg{ background:url(../images/superhero.png) no-repeat; width:890px;height: 302px; margin:-20px auto;font-size: 56px;color: #668100;font-weight: bold;}
.add_name_box_dg input[type=text].tagline_dg{font-size: 50px;margin-left: 397px;
float: left;text-align: left;
width: 380px;}
.name_dg {
float: left;
margin-top: 76px;
margin-left: 398px;
width: 380px;
font-size: 35px;
text-align: left;
color: #4b3c27;
}

/*Upload Photo*/
input[type="file"] {width: 411px;margin-left: 70px;position: absolute;opacity: 0; left:0px;height: 50px;}
.upload_photo_dg {color: #fff;font-size: 25px;cursor: pointer;float: left;background: #765d39;width: 298px;border-radius: 2px;margin-left: 70px;padding: 10px 20px;overflow: hidden;text-align: center;}
.crop_img_wc {width: 250px;margin-left: 115px;float: left;border-radius: 2px;margin-top: 20px;border: 2px solid; text-align:center;}
.dog_detail_dg{ position:absolute;top: 240px;right: 100px; text-align:right;}
.dog_detail_dg .name_box_dg{ font-family: 'gorditasregular'; font-size:80px; color:#fff;text-shadow: 4px 1px 0px #000;text-transform: capitalize;}
.dog_detail_dg .tagline_box_dg{ font-size:30px;}
.details_box_dg{ position:absolute;top: 620px;
left: 100px;width: 280px;}
.open_detail_dg {border-radius: 2px;padding: 10px 20px;color: #333;font-size: 18px;float: left;width: 240px;background:rgba(255, 255, 255, 0.9);text-align:left;}
.open_detailBox_dg {width: 278px;border-radius: 2px 2px;margin-bottom: 3px;float: left;padding: 10px 0px;}
.open_detailBox_dg ul{ float:left; margin:0px; padding:0px; }
.open_detailBox_dg ul li {float: left;width: 238px;background: rgba(255, 255, 255, 0.9);margin-bottom:3px;padding: 12px 20px;border-bottom: 0px solid #666;list-style: none;font-size: 13px;}
.open_detailBox_dg ul li.firstLi_dg{ border-radius:2px 2px 0 0;}
.open_detailBox_dg ul li.lastLi_dg{ border-radius:0 0 2px 2px;}
.ryt_boxEdit_dg{ position:absolute;top: 573px;
right: 100px;width: 320px;}
.ryt_boxEdit_dg ul{ float:left; margin:0px; padding:0px; width:320px;}
.ryt_boxEdit_dg ul li{ float:right; background:rgba(0, 0, 0, 0.77); width:70px; height:89px; border-radius:2px; margin-left:10px; list-style:none;}
.ryt_boxEdit_dg ul li>a>span{height: 50px;
float: left;
width: 70px;}
.ryt_boxEdit_dg ul li a {
color: #fff;
display: table;
width: 100%;
padding-top: 10px;
}
.ryt_boxEdit_dg ul li a>img{cursor:pointer; }
.ryt_boxEdit_dg ul li a>p{ cursor:pointer; }
/*slider*/
.slide_dog_dg{ background:#ffaa00; float:left; width:100%;}
.slider_dg{width:1000px; margin:0px auto;}
.slider_dg>ul{  padding:0px; text-align:center; float:left; margin:30px 0;}
.slider_dg>ul>li{ float:left; list-style:none; margin:17px; padding:0px; border:8px solid #fff;box-shadow: 6px 7px 8px #555; border-radius:5px;}
.slider_dg>ul>li>a{ float:left;}
/*Post Activity*/
.upload_act_wc{ background:#a89263; float:left; width:100%;}
.act_wc{width:1000px; margin:35px auto;}
.act_wc h2 {
text-align: center;
font-size: 30px;
color: #fff;
float: left;
width: 1000px;
margin: 25px 0 5px 0;
}
.act_wc p{ color:#eee;font-size: 20px;margin-bottom: 14px;}
.btn_act_wc {
background: #fff;
width: 250px;
margin: 20px auto 60px auto;
padding: 10px;
font-weight: bold;
font-size: 20px;
color: #a89263;
border-radius: 2px;
}
/*activity box*/
.actBox_dg{background: url(../images/bg_wc1.jpg) repeat #e8e7c5; float:left; width:100%;}
.activity_box_dg{  float:left; width:100%;padding-top: 20px;}
.activity_box_dg>.act_box_dg{ margin: 60px 0; width:100%;background:rgba(255, 255, 255, 0.84); float:left;}
.act_box_dg>ul{width: 800px; margin:0px auto; padding:0px; border-bottom:0px dotted #333;}
.act_box_dg>ul>li{ list-style:none; float:left;overflow: hidden;}
.act_box_dg>ul>li.act_img_dg {
width: 200px;
height: 200px;
margin:0 25px;
border: 1px solid #fff;
background: #a89263;
border-radius: 2px;
transform: rotate(50deg);
-ms-transform: rotate(50deg);
-webkit-transform: rotate(50deg);
}
.act_box_dg>ul>li.act_img_dg a{ float:left;transform:rotate(310deg);width:200px;height:150px;overflow:hidden;margin-top:25px;
-ms-transform:rotate(310deg); /* IE 9 */
-webkit-transform:rotate(310deg); /* Safari and Chrome */}
.act_box_dg>ul>li.act_txt_dg{ width: 465px;margin:50px 32px 0 32px;}
.act_box_dg>ul>li.act_txt_dg h2{ font-size:30px;}
.act_box_dg>ul>li.act_txt_dg p{ font-size:15px; float:left;text-align: left;margin: 10px 2px;}

/*previous n next button*/
#NextButton {
position: absolute;
top: 270px;
background: #9fc800;
right: 0;
padding: 28px 20px;
border-radius: 2px 0 0 2px;
}
#PreviousButton {
position: absolute;
top: 270px;
background: #9fc800;
left: 0;
padding: 28px 20px;
border-radius:0 2px 2px 0;
}
.nxt_dg {
position: absolute;
top: -30px;
width: 100px;
right: 37px;
}
.pre_dg {
position: absolute;
top: -30px;
width: 100px;

left: 52px;
}
/*Search page*/
.search_name_dg{ float:left; width:100%;background: #29230C;}
.search_name_dg h1{ text-align:center; padding:50px 30px; font-size:56px; font-family: 'gorditasbold'; color:#fff;}
.search_box{ width:980px; margin:0 auto;}
.search_listing{ float:left;margin-top: 30px;}
.search_listing h1{float: left;color: #fff;width: 84%;text-align: left;padding: 5px 15px;background: #7A7A7A;}
.search_listing>ul{float:left; background: #F0F0F0;width: 86%;padding: 6px;margin-bottom: 7px;}
.search_listing>ul>li{float:left; margin:10px; padding:0px;list-style:none; width: 170px;}
.search_listing>ul>li>a{float:left;border:8px solid #fff; border-radius:50%; box-shadow:2px 1px 5px 1px #aaa; overflow:hidden;width: 150px;height: 150px;background-color:#FFF;}
.dog_brief_detail_dg {margin: 10px auto;float: left;width: 170px;text-align: center;}
.dog_brief_detail_dg>.nam_color {
color: #4C6100;
font-family:'gorditasbold';
height: 40px;
float: left;
width: 100%;
font-size: 16px;
font-weight: bold;
overflow: hidden;
}
.dog_brief_detail_dg>span{ color:#333;}

/*Location*/
.location_dg span {
float: left;
font-size: 16px;
width: 100%;
text-align: left;
margin-bottom: 4px;
}
input[type=text].loc_dg {
border: 1px solid #000;
width: 400px;
float: left;
background: #fff;
font-size: 20px;
text-align: left;
padding: 10px;
border-radius: 2px;
}
/*Upload Activity*/
.activity_pop_wc_upload {width: 600px;height:500px;display:table;}
.activity_pop_wc {
width: 600px;
border: 7px solid rgba(170, 170, 170, 0.73);
margin: 0px; min-height:100px; 
display:table-cell;
background: #fff;
float:left;

border-radius: 2px;
}
.activity_pop_wc h2 {
float: left;
background: #999; width:580px;
color: #fff;
padding: 10px;
font-size: 16px;
font-weight: normal;
}
.activity_pop_wc h2 a{ color:#fff; cursor:pointer;}
.activity_pop_wc h2 a:hover{ color:#fff; text-decoration:underline;}
.select_box_dg1{ width:500px; margin:30px 50px; float:left; text-align:left;position: relative;}

.upload_photo_dg1 {color: #fff;font-size: 25px;cursor: pointer;float: left;background:#F1F1F1;
background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#ddd));width: 420px;border-radius: 2px; color:#2E2E2E;padding: 10px 20px;overflow: hidden;text-align: center;border: 1px solid #bfbfbf; margin-left:20px;}
.add_caption label {
margin-left: 119px;
font-size: 15px;
font-weight: bold;
float: left;
width: 80%;
}
.edit_info_wc textarea {
float: left;
margin: 0px 0 10px 0;
background:#F1F1F1;border: 1px solid #bfbfbf;
border-radius: 2px;
width: 460px;
padding: 10px;
}
.btn_is_box1 {
float: left;
background: #eee;
width: 580px;
border-top: 1px solid #bfbfbf;
padding: 5px 10px;
}
.btn_is_box1 input[type="button"],.btn_is_box1 input[type="submit"] {
float: right;
background: #ddd;
border: 1px solid #bfbfbf;
margin-right: 4px;
padding: 5px;
font-weight: bold;
}
.edit_info_wc {
float: left;
margin-left: 70px;
}
.edit_info_wc label {
color: #636363; margin:5px 0;text-align: left;
font-size: 13px; width:100%;float: left;}
.edit_info_wc input[type="text"] {
float: left;
margin: 0px 0 10px 0;
background:#F1F1F1;
border-radius: 2px;
width: 460px;
padding: 10px;
}
.edit_info_wc select{ border:1px solid #bfbfbf;float: left; width:auto;
margin: 0px 0 10px 0;
background:#F1F1F1;
border-radius: 2px;
padding: 10px;}
.edit_info_wc select.breed_wc{width: 460px;width: auto;}
.birth_wc select{ margin-right:10px;width: auto;}
.ex_tagline_wc {
float: left;
text-align: left;
margin-left: 426px;
}
.ex_tagline_wc>span{ font-weight:bold; font-size:14px;}
.ex_tagline_wc>p{font-size:14px; color:#C40000;}
.add_btn_dg {
width: 250px;
padding-top: 60px;
margin: 0 auto;
}
.ad_dg_btn {
width: 250px;float:left;
background: #9bc105; color:#fff;
border-radius: 2px;
font-size: 20px;margin-top: 60px; cursor:pointer;
text-transform: uppercase;
font-family: arial;
}
.ad_dg_btn>span{ float:left;}
.dog_to_track{ background:url(../images/bg_wc.jpg) repeat-x; height:589px; width:100%;float:left;}
.left_img_track.fl {
width:41%;
margin-left:10%;
margin-top:50px;
}
.ryt_text_track.fr {
float: right;
width:40%;
text-align:left;
font-size: 60px;
color: #fff;margin-top:50px;
padding: 40px 0;
}
.Imgtrack.fl {
border: 1px solid;
margin: 10px;
width: 250px;
height: 188px;
overflow: hidden;
background: #a89263;
text-align: center;
}
.Imgtrack1.fl{  margin:-50px 0; margin-left:150px;border: 1px solid;}
.text_track {
float: right;
width:100%; font-weight:bold;
text-align:center;
font-size: 60px;
color: #fff;margin-top:40px;
padding: 10px 0;
}
.submit_photo_dg {
color: #fff;
font-size: 19px;
cursor: pointer;
float: left;
background: #765d39;
width: 120px;
border-radius: 2px;
margin-left: 79px;
margin-top: 34px;
padding: 6px 6px;
overflow: hidden;
text-align: center;
}
.search_sec_name_dg h1{padding:0px 30px;}
.dog_profileImg_dg {
float: left;
width: 100%;
height: 600px!important;
overflow: hidden;
}
.select_box_dg.sel_loc_dg .select_breed_dg {
width: 152px;
font-size: 18px;
margin: 0px;
margin-right: 40px;
}
.select_box_dg.sel_loc_dg {
width: 243px;
float:left;
}
.location_dg {
width: 486px;
margin: 0 auto;
}
.select_box_dg.sel_loc_dg .select_breedBox_dg  {
width: 190px;margin-top: -3px;margin-left: 0;
float: left;
}
.select_box_dg.sel_loc_dg .select_breedBox_dg ul li{ width:82%;}
.select_box_dg.sel_loc_dg .select_breedBox_dg ul {width: 178px;}
.select_box_dg.sel_loc_dg .srch_span_wc>input[type=text]{ width:180px;}
.breed_list_wc {
float: left;
width: 100%; margin:30px 0;
}
.breed_list_wc ul{ float:left; margin:0px; padding:0px}
.breed_list_wc ul li{ float:left; margin:0px; padding:0px; list-style:none;}
.breed_list_wc ul li a {
padding: 10px;
width: 304px;
float: left;
font-size: 16px;
}
.dg_wag_no {
position: absolute;
background: #668000;
border: 2px solid #fff;
font-size: 13px;
border-radius: 50%;
padding: 5px;
right: -17px;
min-height:17px; min-width:17px;
bottom: 8px;
color: #fff;
}
/* wag club sec */
.bg_body_wc{ height: 400px; background:url(/wag_club/images/back_blck.jpg) no-repeat;float: left;
width:100%;}
.wc_sec{ position:relative;}
.txt_dg_wc{height: 400px;position: absolute;top: 15px;left: 0;width: 100%;z-index: 0;}
.text_box_dg_wc{font-family: 'throw_my_hands_up_in_the_aiRg'; width:840px; margin:0 auto; color:#fff;}
.text_box_dg_wc h1{font-family: 'throw_my_hands_up_in_the_aiBd';color: #fff;font-size: 58px; width:100%; padding-bottom:15px; text-align:center;text-shadow: 4px 5px 0px #050505;text-shadow: 4px 5px 0px #050505;}
.text_box_dg_wc p{ display:table-cell; padding:0px 0px 0px 5px;border-bottom: 3px dashed;float: left;width:840px;border-top: 3px dashed; text-align:center;}
.text_box_dg_wc p span.font174{ font-size:124px;display:table-cell;}
.text_box_dg_wc p span.font50{ font-size:40px; display:table-cell;}
/*activity wall */
.dog_name_wc{ float:left; width:100%; background:url(../images/bg_wc.jpg) repeat #e8e7c5;margin-top: 1px;}
.wc_dogImg {
float: right;
border: 5px solid rgba(255, 255, 255, 0.68);
border-radius: 4px;
width: 150px;position: relative;
background:rgba(255, 255, 255, 0.76);
height: 150px; text-align:center;
}
.dog_sec_wc {
width: 855px;
margin: 20px auto;
}
.left_sec_dg{text-align: left; margin-left:20px;width: 625px;float: left;margin-top:20px;}
.left_sec_dg h1 {
font-size: 47px;
color: #E4E4E4;
text-shadow: 2px 2px #000;
}
.left_sec_dg p {
font-size: 28px;
color: #fff;
}
.wc_btn {
float: left;
width: 100%;
background: rgba(255, 255, 255, 0.34);
margin: 20px 0;
padding: 24px 0;
border-top: 1px dashed #fff;
border-bottom: 1px dashed #fff;
}
.actUp_wc {
background: #FFFFFF;
float: left;
text-transform: uppercase;
width: 200px;
text-align: center;
font-weight: bolder;
padding: 10px 30px;
margin: 10px 0 10px 160px;
color: #9bc105;
border-radius: 2px;
font-size: 20px;
}
.actBox_wc {
float: left;
width: 652px;margin-bottom:0px; margin-top: 30px;
margin-right: 18px;

}
.dogThumb_img {
float: left;
border: 1px solid #bfbfbf;
padding: 3px;
border-radius: 2px;
background: #fff;
width: 70px;
min-height: 50px;
max-height: 70px;
}
.dogThumb_img  img{
float: left;

border-radius: 2px;
background: #fff;
width: 70px;
min-height: 50px;
max-height: 70px;
}
.actPost {
float: left;
margin-left: 10px;
width: 550px;
}
.dogName_act1 {
font-size: 17px;float: left;
font-weight: normal; margin-bottom:5px;
}
.dogName_act a {
color: #668000;font: normal 17px arial;
}
.actImg_post {
float: left;
}
.actTxt_post {
float: left;font-family: 'throw_my_hands_up_in_the_aiBd'; font-size:15px; margin-top:10px;
}
.actTxt_post_new {
float: left;font-family: 'throw_my_hands_up_in_the_aiBd'; font-size:15px; 
font-family:"Segoe UI"; width:100%;
}
.rytPost_list {
margin: 0 auto;
width: 728px;
}
/*change display picture*/
.wc_chagePic {
float: right;
}
.wc_changeDP {
background: #eee;
background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e8e7e7));
padding: 5px 10px;
border-radius: 2px; cursor:pointer;
border: 1px solid #bfbfbf;
cursor: pointer; float:left;
margin-top: 10px;
font-size: 14px;
width:166px;
}
.wc_changeDP img{ float:left;margin: 2px 2px 2px 0;cursor: pointer;}
.wc_changeDP label{ float:left;cursor: pointer;}
.wc_changeMenu li a:hover {
color: #fff;
text-decoration: none;
}
.ryt_boxEdit_dg ul li a img {
    cursor: pointer;
}
.wc_chagePic {
float: right;
width: 189px;
}
.wc_changeDP:hover {
color: #fff;
background: -webkit-gradient(linear, left top, left bottom, from(#8FCC23), to(#668000));
border: 1px solid #668000;
}
.wc_changeMenu {
float: left;
text-align: left;
background: #eee;
border: 1px solid #bfbfbf;
border-top: 0px;
width: 186px;
font-size: 14px;
}
.wc_changeMenu li {
padding: 5px 10px;cursor: pointer;
list-style: none;
}
.wc_changeMenu li img {
margin-top: 1px;
float: left;
margin-right: 5px;
}
.wc_changeMenu li:hover {
background: #668000;
color: #fff;
}
.wc_changeMenu li:hover a {color: #fff;}
.allPhoto_wc {
margin: 10px 10px;overflow:auto; max-height:500px;
float: left;
}
.allPhoto_wc li {
float: left;
margin: 8px;
list-style: none;
padding: 4px;
border: 1px solid #bfbfbf;
}
.allPhoto_wc li img{ float:left;}
.dog_sec_wc1 {
width: 645px;
margin: 20px auto;
text-align: center;
}
.wc_dogImg .be_infoDog{ display:none;}
.wc_dogImg:hover .be_infoDog{ display:block;}
.be_infoDog {
float: left;
background: rgba(255, 255, 255, 0.81);
z-index: 9999;
position: absolute;
margin-top: -150px;
width: 150px;
height: 150px;
font-size: 28px;
color: #668000;
}
.postIcon_wc {
float: left;
background: rgba(0, 0, 0, 0.53);
width: 295px;
padding-left: 5px;
margin-top: -50px;
}
.wagPost {
background: #000;
float: left;
height: 30px;
margin: 5px 5px 5px 0;
padding: 5px;
}
.wagPost img {
float: left;cursor:pointer;
}
.wagPost span {
color: #fff;
float: right;
margin: 7px;
}

.fluid-container input[type=button] {
float: right;
padding: 5px;
background: #87A801;
border: 1px solid #668000;
font-weight: bold;
font-size: 15px;
color: #fff;
margin:5px; 
}

.fluid-container input[type=button]:hover{ background:#668000;}
.fluid-container {
width: 1354px;
margin: 0 auto;
margin-bottom: 10px;
}
.wc_dogImg .be_infoDog{ display:none;}
.wc_dogImg:hover .be_infoDog{ display:block;}
.be_infoDog {
float: left;
background: rgba(255, 255, 255, 0.81);
z-index: 9999;
position: absolute;
bottom: 0;
margin-top: -150px;
width: 150px;
height: 150px;
font-size: 28px;
color: #668000;
}

/*given to jyoti*/
/*sub header*/
.wc_headerBar {
float: left;
width: 100%; font-weight:bold;
background: #E8F8A8;
font-size: 15px;
border-bottom: 1px solid #88D501;
text-transform: uppercase;color: #9bc105;
}
.wc_search {width: 354px;
float: left;
background: #fff;
border: 1px solid #88D501;
border-radius: 2px;
}
.wc_search input {margin: 0 5px;
width: 300px;
float: left;
border: 0px;
height: 32px;
line-height: 32px;
font-size: 18px;
}
.wc_search img {
padding: 4px 10px;
border-radius: 0 2px 2px 0;
}

.wc_rytHead{ float:right; position:relative;}
.wc_addDog{ float:left}
.wc_addDog a{ background:#9bc105; border-radius:2px;color: #fff; margin-right:10px; margin:6px 10px;}
.wc_addDog a:hover{ background:#668000; color:#fff;}
.wc_breedBrowse {
border-right: 1px solid #88D501;
padding: 14px 10px;
height: 18px;
}
.wc_breedBrowse label {
margin-left: 20px;
}
.wc_breedBrowse.wc_srch.fl{ background: url(https://www.dogspot.in/wag_club/images/search.png) 10px 13px no-repeat!important; width:24px; height:19px;}
.wc_breedBrowse.wc_srch.fl:hover{ background: url(https://www.dogspot.in/wag_club/images/search_hover.png) 10px 13px no-repeat!important; }
.wc_breedBrowse.wc_alert.fl{ background: url(https://www.dogspot.in/wag_club/images/alert.png) 13px 13px no-repeat!important; width:24px; height:19px;}
.wc_breedBrowse.wc_alert.fl:hover{ background: url(https://www.dogspot.in/wag_club/images/alert_hover.png) 13px 13px no-repeat!important;}
.wc_breedBrowse.wc_breed.fl{ background:url(https://www.dogspot.in/wag_club/images/browse.png) 10px 14px no-repeat!important; min-width24px; height:19px;cursor: auto;}
.wc_breedBrowse.wc_breed.fl:hover{ background:url(https://www.dogspot.in/wag_club/images/browse_hover.png) 10px 14px no-repeat!important; color:#668000;}
.wc_breedBrowse.wc_loc.fl{ background:url(https://www.dogspot.in/wag_club/images/loc.png) 5px 11px no-repeat; min-width:24px!important; height:19px;cursor: auto;}
.wc_breedBrowse.wc_loc.fl:hover{ background:url(https://www.dogspot.in/wag_club/images/loc_hover.png) 5px 11px no-repeat!important; color:#668000;}

.wc_headBreedBox{width:403px;position: absolute;text-align: left;top: 60px;
right: 297px;}

.wc_select_breedBox {
width: 401px;
border-radius: 0 0 2px 2px;
border: 1px solid #88D501;
float: left;
padding: 0px;
background:#E8F8A8;
}
.wc_select_breedBox ul {
float: left;
margin:10px;
padding: 0px;
border: 1px solid #88D501;
border-radius: 3px;
background: #fff;
overflow: auto;
height: 200px;
width: 380px;
}
.wc_select_breedBox ul li {
float: left;
width: 340px;
padding: 8px 14px;
border-bottom: 1px dashed #88D501;
list-style: none;
}
.wc_select_breedBox ul li:hover{ background:#668000; color:#fff;}
.wc_select_breedBox>input[type=text] {
height: 32px;
line-height: 32px;
font-size: 18px;
width: 381px;
border: 1px solid #88D501;
border-radius: 2px;
margin: 10px;
float: left;
background: #fff;
padding: 0px 5px;
text-align: left;
}
.wc_uprArw {
margin-left: 340px;
margin-bottom: -1px;
}
.wc_srcBox {
position: absolute;
top: 67px;
background: #E8F8A8;
right: 448px;
border: 1px solid #88D501;
padding: 10px;
border-radius: 2px;
}
.wc_srcBox .wc_uprArw{
    margin-top: -18px;
    float: left;}
	
	.wc_select_breedBox .wc_search {
margin: 10px;
width: 378px;
}
.wc_select_breedBox .wc_search input[type="text"] {
width: 324px;
}
.wc_headBreedBox.wc_locBox {
right: 179px;
}
.wc_alertBox {
background: #fff;
float: left;border: 1px solid #88D501;
}
.wc_srcBox h3 {
font-size: 14px;
margin-top: -8px;
margin-bottom: 2px;
}
.wc_alertMsg p {
border-bottom: 1px solid;
padding-bottom: 6px;
}
/*.wc_alertMsg {
font-weight: normal;
font-size: 13px;
margin: 6px;
float: left;
}
.wc_alertBox .wc_addDog {
margin-left: 65PX;
float: left;
margin-bottom: -5px;
}
.wc_srcBox.wc_noti {
right: 401px;
}
.wc_srcBox.wc_noti .wc_uprArw {
margin-left: 281px;
margin-right: 6px;
}
.wc_notification {
float: left;
border-bottom: 1px dotted;
width: 93%;
margin: 0px 9px;
}
.wc_notTxt {
float: left;
margin: 0px 0;
font-weight: normal;
text-transform: initial;
}
.wc_notTxt p{ margin:5px 0;}
.wc_notImg {
float: left;
margin: 5px;
}
.wc_allNot a {
font-size: 12px;
font-weight: normal;
text-transform: initial;
color: #668000;
float: left;
line-height: 24px;
width: 100%;
margin-bottom: -9px;
}*/
.wc_headerBar {
float: left;
width: 100%; font-weight:bold;
background: #E8F8A8;
font-size: 15px;
border-bottom: 1px solid #88D501;border-top: 1px solid #88D501;
text-transform: uppercase;color: #9bc105;
}
.wc_search {width: 354px;
float: left;
background: #fff;
border: 1px solid #88D501;
border-radius: 2px;
}
.wc_search input {margin: 0 5px;
width: 300px;
float: left;
border: 0px;
height: 30px;
line-height: 27px;
font-size: 16px;
}
.wc_search img {
padding: 4px 10px; cursor:pointer;
border-radius: 0 2px 2px 0;
}




.wc_rytHead .wc_headBreedBox{width:403px;position: absolute;text-align: left;top: 48px;right: 547px;}
.wc_select_breedBox {
width: 401px;
border-radius: 0 0 2px 2px;
border: 1px solid #88D501;
float: left;
padding: 0px;
background:#E8F8A8;
}
.wc_select_breedBox ul {
float: left;
margin:10px;
padding: 0px;
border: 1px solid #88D501;
border-radius: 3px;
background: #fff;
overflow: auto;
height: 200px;
width: 380px;
}
.wc_select_breedBox ul a{ color:#668000;}
.wc_select_breedBox ul li {
float: left;
width: 340px;
padding: 8px 14px;
border-bottom: 1px dashed #88D501;
list-style: none;
}
.wc_select_breedBox ul li:hover{ background:#668000; color:#fff;}
.wc_select_breedBox>input[type=text] {
height: 32px;
line-height: 32px;
font-size: 18px;
width: 381px;
border: 1px solid #88D501;
border-radius: 2px;
margin: 10px;
float: left;
background: #fff;
padding: 0px 5px;
text-align: left;
}
.wc_uprArw {
margin-left: 340px;
margin-bottom: -1px;
}
.wc_rytHead .wc_srcBox {
position: absolute;
top: 48px;right: 172px;
background: #E8F8A8;
border: 1px solid #88D501;
padding: 10px;
border-radius: 2px;
}
.wc_srcBox .wc_uprArw{
    margin-top: -18px;
    float: left;}
	
	.wc_select_breedBox .wc_search {
margin: 10px;
width: 378px;
}
.wc_select_breedBox .wc_search input[type="text"] {
width: 324px;
}
.wc_rytHead .wc_headBreedBox.wc_locBox {
right: 299px;
top: 48px;
}
.wc_alertBox {
background: #fff;
overflow-y: auto;
min-height: 65px;
float: left; width:300px;
border: 1px solid #88D501;
max-height: 400px;
}
.wc_srcBox h3 {
font-size: 14px;
margin-top: -8px;
margin-bottom: 2px;
}
.wc_alertMsg p {
border-bottom: 1px solid;
padding-bottom: 6px;
}
.wc_alertMsg {
font-weight: normal;
font-size: 13px;
margin: 6px;
float: left;
}
.wc_alertBox .wc_addDog {
margin-left: 65PX;
float: left;
margin-bottom: -5px;
}
.wc_rytHead .wc_srcBox.wc_noti {
right: 176px;
}
.wc_srcBox.wc_noti .wc_uprArw {
margin-left: 281px;
margin-right: 6px;
}
.wc_notification {
float: left;
border-bottom: 1px dotted;
width: 95%;
margin: 0px 9px;
}
.wc_notTxt {
float: left; text-align:left; width:200px;
margin: 0px 0 0 10px;
font-weight: normal;
text-transform: initial;
}
.wc_notTxt p {
float: left;
margin: 2px 0 3px 0;
width: 100%;font-size: 15px;
}
.wc_notTxt p img, .wc_notTxt p span{ float:left; font-size:12px;}
.wc_notImg {
float: left;width: 50px;
background: #000;
margin: 5px;
}
.wc_allNot a {
font-size: 12px;
font-weight: normal;
text-transform: initial;
color: #668000;
float: left;
line-height: 24px;
width: 100%;
margin-bottom: -9px;
}
.actImg_post {
float: left;
width: 550px;cursor: pointer;
background: rgba(0, 0, 0, 0.86);
text-align: center;
}
.actImg_post_new {
float: left;
width: 535px;cursor: pointer;
background: rgba(0, 0, 0, 0.86);
text-align: center;
}
.actImg_post_new img
{
width: 510px; 
height:auto;
}
.actImg_post img
{
width: 550px; 
height:auto;
}
.wc_alert_no {
float: left;
color: #fff;
border: 1px solid;
background: #668000;
margin-left: 14px;
padding: 0px 3px;
border-radius: 2px;
margin-top: -12px;
}
/*user profile*/
.wc_userList {
float: left;
width: 25%;
margin-right: 5%;
background: #6d7b36;
padding: 20px 0;
bottom: 0px;
height: 100%;
}
.wc_userList ul {
float: left;
margin: 0px 0px; width:100%;
padding: 10px 0;
border-bottom: 1px dashed #fff;
}
.wc_userList ul li {
float: left;width: 100%;
text-align: left; list-style:none;
}
.wc_userList ul li a:hover {
color: #668000;
background: rgba(255, 255, 255, 0.7);
border-left: 5px solid #fff;
text-decoration: none;
}
.wc_userList ul li a {
padding:6px 29px 6px 74px;
color: #fff;
font-size: 15px;
float: left;
width: 69%;
border-left: 5px solid #6d7b36;
}
.wc_userUpdate {
float: right;
width: 150px;
text-align: right;
padding:34px 20px 70px;
}
.wc_profileList {
float: left;
margin: 0px 0;
}
.wc_articleList {
float: left; text-align:left;
}
.wc_articleList ul {
float: left;
}
.wc_articleList ul li {
float: left;
list-style: none;
background: #FAF8F8;
margin: 10px; text-align:left;
padding: 15px 15px 0;
border: 1px solid #ddd;
}
.wc_articleList ul li .imgtxtcont {
border: 0px;
margin-bottom: 3px;
}
.wc_articleList ul li:hover {
box-shadow: 0px 0px 3px 0px #ccc;
}
.wc_articleList ul li .imgtxtcont .txthold {
width: 700px !important;
font-size: 17px;
}
.wc_articleList ul li .imgtxtcont .txthold h2{ font-size:18px;}
.wc_articleList ul li .imgtxtcont .txthold .caption1, .wc_articleList ul li .imgtxtcont .txthold .caption1 a{ font-size:15px;}
.wc_articleList ul li .wishlistContainer_inner {
background: #fff;
width: 700px;
}
.wc_articleList ul li .wishlistContainer_detail{ width:560px;}
.wishlistContainer_photo {
margin-top: 20px;
display: table-cell;
vertical-align: middle;
margin-right: 0;
text-align: center;
width: 140px;
}
.wc_articleList ul li .wishlistContainer_detail h1{ padding:10px;}
.wc_articleList ul li .wishlistContainer_detail h1 a{ font-size:18px;}
.wc_articleList table {
width: 798px;
border: 2px solid #ccc;
margin: 20px 0;
}
.wc_articleList table td,.wc_articleList table th {
padding: 8px;
}
.wc_usrImg {
float: left;
border-radius: 50%;
overflow: hidden;
margin-top:-40px;
height: 150px;
margin-left: 90px;
background: #fff;
}
.dg_saveReP {
background: #668000;
padding: 5px 10px;
font-size: 15px;
box-shadow: 2px 2px #A3C202;
float: left;
margin-left: 10px;
color: #fff;
border: 0px solid #668000;
border-radius: 2px;
text-transform: uppercase;
}
.dg_saveReP:hover{background:668000;}
.dg_dragRep {
position: absolute;
top: 50%;
left: 50%;
background: rgba(0, 0, 0, 0.61);
color: #fff;
font-size: 18px; z-index:9999;
padding: 10px;
margin-left: -100px;
width: 200px;
}
.dg_repBtnBox.fl {
float: right;margin-top: 10px;
}
.dg_noDogBox {
padding: 120px 0;
float: left;
font-size: 40px;
width: 100%;
background: #fff;
}
#show_breed_dg {
 position: relative;
/*  top: 0;
  padding-top: 19px;
margin-top: 20px;
 border-top: 1px solid purple;*/

z-index: 8;
}

#show_breed_dg.fixed {
 position: fixed;
 top: 0px;z-index: 9999;
 float:left;
}
.wc_dogImg .be_infoDog label {
display: table-cell; cursor:pointer;
vertical-align: middle;
text-align: center;
text-transform: uppercase;
width: 150px;
font-weight: bold;
height: 150px;
}
.container.dg_conbox{width:83%; text-align:left;}
.dg_conbox h3 {
float: left;
width: 100%;
margin-bottom: 10px;
}
.dg_conbox a {
float: left;
}
.dg_conbox .hrlineSolid {
border-top: 1px solid #dad9d7;
float: left;
width: 100%;
}
.dg_conbox .login-popup {
float: left;
box-shadow: none;
}
.dg_conbox a.close {
float: left;
position: absolute;
right: -25px;
top: -25px;
}
.dg_conbox input[type="password"] {
float: left;
border: 1px solid #aaa;
padding: 5px;
margin-left: 10px;
border-radius: 2px;width: 200px;
}
.dg_conbox input[type="file"] {
opacity: 1;
float: left;
position: static;
border: 0px;
height: auto;
}
.dg_uplUsr {
width: 300px;margin: 10px;
float: left;
}
.dg_fileImg {
float: left;
}
.dg_conbox .dg_fileImg input[type="file"] {
float: left;
margin: 10px 50px;
width: 200px;
margin-top: -40px;
opacity: 0;
padding: 10px;
}
.dg_uplTxt {
float: left;
margin: 0 50px;
width: 178px;
padding: 10px;
text-align: center;
background: #eee;
border: 1px solid #aaa;
}
.dg_imgSub {
float: left;
background: #eee;
padding: 10px 20px;
width: 100%;
margin-top: 10px;
margin-left: -20px;
margin-bottom: -20px;
}
.dg_pubImg {
background: #ccc;
padding: 4px 10px;
border: 1px solid #aaa;
float: left;
}
.not_listing ul li {
list-style: none;
float: left;
width: 100%;
margin-bottom: 10px;
}
.not_listing {
margin: 0 auto;
width: 700px;
}
/*comment */
.dg_cmntBox {
float: left;
background:rgba(141, 141, 141, 0.15);
width: 530px;
border-radius: 2px;
margin-top: 10px;
padding: 10px;
border: 1px solid #ddd;
}
.dg_Imguser {
float: left;
margin-right: 10px;
border: 2px solid #fff;
background: #fff;
min-height: 20px;
width: 50px;
overflow: hidden;
}
.dg_Txtcmnt {
float: left; width: 450px;
}
.dg_cmntPost {
float: left;text-transform: uppercase;
background: #95BB1C;
width: 100%;
text-align: center;
padding: 5px 0;
margin-top: 5px;cursor:pointer;
color: #fff;
font-weight: bold;
}
.dg_Txtcmnt textarea {
float: left;
margin: 0;
min-height: 54px;
min-width: 448px;
font-family:arial;
border: 1px;
}
.dg_Txtcmnt_new textarea {
float: left;
margin: 0;
min-height: 54px;
min-width: 444px;
font-family:arial;
border: 1px;
}
.dg_cmntFld {
margin-bottom: 10px;position: relative;
float: left;border-bottom: 1px solid #ddd;
padding-bottom: 10px;width: 100%;
}
.dg_cmnt_cls {
float: right;
position: absolute;cursor: pointer;
right: 0;
}
.dg_Txtcmnt label {
margin-bottom: 4px;
float: left;
width: 100%;
color: #668000;
font-size: 14px;
}
.dg_Txtcmnt label a{cursor:pointer;}
.dg_Txtcmnt span {
float: left;
color: #999;
margin-top: 5px;
}
.dg_cmntFld a.dg_mid_cmnt{ width:100%; float:left; text-align:center;}

.not_listing ul {
margin-top: 40px;
float: left;width: 100%;
}
.not_listing ul li .wc_notTxt{width: 80%;}
.dg_backact:hover {
text-decoration: none;
}
.dg_backact {
float: left;
color: #668000;
width: 72%;
text-decoration: underline;
margin-top: 13px;
margin-bottom: -15px;
cursor: pointer;
margin-left: 132px;
font-size: 14px;
}


.wc_leftHead {
float: left;
position: relative;
}
.wc_homeIcon.fl {
background: url(https://www.dogspot.in/wag_club/images/home.png) 10px 13px no-repeat!important;
width: 20px;
height: 19px;
}
.wc_homeIcon.fl:hover {
background: url(https://www.dogspot.in/wag_club/images/home-hover.png) 10px 13px no-repeat!important;
}
.wc_userIcon.fl{background: url(https://www.dogspot.in/wag_club/images/user.png) 10px 13px no-repeat!important;
width: 20px;
height: 19px;}
.wc_userIcon.fl:hover {
background: url(https://www.dogspot.in/wag_club/images/user-hover.png) 10px 13px no-repeat!important;;
}
.wc_search.wc_searchBreed{width: 200px;margin-left: 24px;}
.wc_search.wc_searchBreed input{width: 194px;}
.wc_srchbtn {
float: left;
background: #8CAA17;
padding: 5px 5px 4px;
border-radius: 2px;cursor: pointer;
border: 1px solid #668000;
margin: 8px 0;
}
.wc_headBreedBox.wc_userBox {
left: 40px;z-index:999;
top: 48px; 
width: auto;
}
.wc_headBreedBox.wc_userBox .wc_select_breedBox ul {
min-height: 30px; max-height:170px; height:auto !important;
width:228px ;
}
.wc_headBreedBox.wc_userBox .wc_select_breedBox{min-height:46px;
width: 251px;
max-height: 200px;}

.wc_headBreedBox.wc_userBox .wc_select_breedBox ul li {
width: 200px;
padding: 5px 14px;
}
.unpublish_dgBox {
background: rgba(0, 0, 0, 0.11);
float: left;
width: 100%;
}
.wc_headBreedBox.wc_userBox .wc_select_breedBox ul li label {
float: left;
line-height: 25px;
width: 85%;
}

.wc_thumbimg {
float: right;
}
.unpublish_dgBox h2 {
float: left;
color: #fff;
font-size: 30px;
margin-top: 10px;
}
.unpublish_dgBox .search_listing {
width: 980px;
margin-top: 10px;
}
.dog_rec_dg1 {
background: url(https://www.dogspot.in/images/bg_wc1.jpg) repeat #e8e7c5;
position: inherit;
}
.dg_popMost{float:left;}
.dg_popBox {
float: left;
width: 37%;
padding: 50px 6% 50px 7%;
}
.dg_popImg {
float: left;
background: #fff;
border: 10px solid #fff;
border-radius: 50%;
overflow: hidden;
width: 330px;
height: 330px;
z-index: 0;
position: relative;
}
.dg_popTxt {
float: left;
background: rgba(255, 255, 255, 0.82);
margin-top: -50px;
padding: 57px 5px 20px 5px;width: 97%;
text-align: center;
}
.dg_popTxt h4 {
color: #668000;
font-size: 13px;
margin-bottom: 4px;
}
.dg_popTxt h3 {
text-transform: uppercase;
margin-bottom: 5px;
}
.dg_popTxt p {
font-size: 13px;
}
.dg_popBox.dg_pop2Box .dg_popImg {
width: 230px;
height: 230px;
}
.dg_popBox.dg_pop2Box {
width: 25%;
padding: 50px 4% 50px 4%;
}
.dg_popclub {
float: left;
background: rgba(0, 0, 0, 0.18);
width: 100%;
}
.dg_popclub h1 {
color: #FFFFFF;
font-size: 30px;
margin-top: 30px;
text-align: center;
}
.wc_aboutDog {
width: 100%;
float: left;
background: #aec551;
color: #fff;
}
.wc_notAdd {
float: left;
width: 100%;
margin: 140px 0;
}
/*dog profile page css*/
/* header css*/
.dg_profile_leftsec
{
	float:left;
	width: 668px;
	
	}
	
#friendsinfo
{
	float:left;
	}
.ds_profilemt
{
	margin-top:20px;
}
.share_img_updatesBlock
{
   
   float: left;
   width: 632px;
   margin-top:20px;
  
	}
	.share_img_updates
	{
		float::left;
		overflow:hidden;
		
		}
		.share_img_updates ul
		{
			list-style-type: none;
			text-align: left;
			padding: 0px;
			margin: 0px;
			background: #f5f5f5;
			overflow: hidden;
			padding-top: 8px;
			padding-bottom: 8px;
			border: 1px solid #ddd;
			padding-left:10px;
			font-family:"Segoe UI";
			font-size:16px;
			}
			.share_img_updates li
			{
				text-align: left;
                display: block;
                width: 150px;
                margin-left: 0px;
				float: left;
				border: 0px solid;
				padding: 0px;

				}
				.share_img_updates li a
			{
				font-weight:14px;
				text-decoration:none;
				color:#333;
			}
			
.dg_profile_subnav_header {
    float: left;
    width: 100%;
    font-weight: bold;
    background: none repeat scroll 0% 0% #E8F8A8;
    font-size: 15px;
    border-top: 1px solid #88D501;
    color: #9BC105;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #88D501;
	overflow:hidden;
}
#dg_profile_wrapper {
    width: 972px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}
.dg_OverFlow
{
 overflow:hidden;
 float:left;
 margin-top:20px;
}
#dg_profile_wrapper h2
{
font-size: 20px;
font-weight: normal;
margin: 0px;
color: #7F9F0B;
font-family:"Segoe UI";
padding-bottom: 5px;


}
.dg_suggested_friends_block h2
{
	font-size: 20px;
font-weight: normal;
margin: 0px;
color: #7F9F0B;
font-family:"Segoe UI";

}
#dg_profile_subnav ul {
    padding: 0px;
    margin: 0px;
}
#dg_profile_subnav ul li {
    display: inline;
    padding: 0px;
    margin: 0px;
    float: left;
	cursor: pointer;
}
#dg_profile_subnav ul li a {
font-family: "SegoeUI";
color: #FFF;
text-decoration: none;
font-size: 14px;
font-weight: normal;
padding-top: 10px;
padding-bottom: 0px;
text-align: center;
height: 28px;
display: block;
line-height: 15px;
margin-right: 6px;
text-transform:uppercase;

   
}
.butt_1 {
    width:90px;
    background: none repeat scroll 0% 0% #9BC105;
	border-radius: 3px;
}
.butt_2 {
    background: none no-repeat scroll left top #9BC105;
    width: 90px;
	border-radius: 3px;
}
.butt_3 {
    background: none no-repeat scroll left top #9BC105;
    width: 90px;
	border-radius: 3px;
}
.butt_4 {
    background: none no-repeat scroll left top #9BC105;
    width: 200px;
	border-radius: 3px;
}
.butt_5 {
    background: none no-repeat scroll left top #9BC105;
    width: 102px;
	border-radius: 3px;
}
#dg_profile_subnav li a:hover{ 
    font-family: "SegoeUI";
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 0px;
    text-align: center;
    height: 28px;
    display: block;
    line-height: 15px;
	background:#668000;
   
}
#dg_profile_subnav li a:active{ 
    font-family: "SegoeUI";
   color: #fff;
    text-decoration: none;
    font-size: 14px;
 
    padding-top: 10px;
    padding-bottom: 0px;
    text-align: center;
    height: 28px;
    display: block;
    line-height: 15px;
    
}

/* side bar */

#dog_profile_sidebar
{
float:left;
width:300px;

margin-top:20px;
}


.wagtag_banner {
float: left; 
width:300px; 
border:1px solid #ddd;
padding-top:10px;
padding-bottom:10px;
}
.wag_link_block a {
    background: none repeat scroll 0% 0% #AFD71C;
    float: left;
    padding: 10px 5px;
    margin: 16px 0px;
    color: #FFF;
    border-radius: 2px;
    text-align: center;
    width: 150px;
    font-size: 16px;
    text-decoration:none;
	
}

.wag_tagBanner_Block {
    float: left;
  
	width:120px;
	padding-left: 7px;
	margin-top: 15px;
	
}
.wag_tagBanner_Block img
{
width:115px;
height:auto;

}
.wagLink_hp_links
{
float:left;
width: 170px;
}

.dg_profile_addfriend_sideblock
{
float:left;
margin-top:20px;
width:300px;
border:1px solid #ddd;
overflow:hidden;


}
.dg_profile_addfriend_sideblock h3
{
font-size:14px;
font-weight:bold;
margin:10px;
color:#333;
text-align:left;
}
.dg_add_frind_block
{
overflow:hidden;
margin-bottom:10px;
}
.dg_profile_close_button
{

text-align:right;
margin-left: 10px;
margin-right: 10px;
font-size:16px;
color:#999;
}
.dg_profile_close_button_input
{
color:#333;
background:#fff;
border:0px;
cursor:pointer;
font-weight:bold;
}

.dg_friend_block
{
margin:10px;
margin-top: 0px
}
.friend_imgblock
{
float:left;
width:120px;
}
.friend_imgblock img
 {
width:102px;
height:102px;
}
.dg_friend_textblock
{
float:left;
width:160px;
}
.dg_friend_textblock h4
{
font-weight:bold;
font-size:14px;
margin:0px;
padding:0px;
text-align:left;
}
.dg_friend_textblock h5
{
margin:0px;
padding:0px;
font-size:14px;
font-weight:normal;
margin-top:5px;
text-align:left;
color:#333;
}
.addfrnd_req_btndiv
{
margin-left:10px;
margin-right:10px;
text-align:right;
margin-bottom:10px;
}
.addfrnd_req_btn
{
width:100px;
height:30px;
background:#f5f5f5;
border:1px solid #ddd;
color:#333;
font-size:14px;
font-weight:bold;
cursor:pointer;
padding:4px 8px;
}
.dg_profile_strength
{
width:300px;
border:1px solid #ddd;
text-align:left;
float:left;
margin-top:20px;
}
.dg_profile_strength h3
{
font-weight: bold;
margin: 10px;
color: #333;
font-size: 14px;
}
.dg_profile_strength_box
{
width:200px;
background:#668000;
height:30px;
border:1px solid #000;
margin-left:10px;
margin-bottom:10px;
}
.dg_profile_strength_share
{
 text-align:right;
 margin-left:10px;
 margin-right:10px;
 margin-bottom:10px;
}
.dg_profile_strength_share a
{
font-size:14px;
color:#668000;
font-weight:bold;
}
.read_about_dogbreed
{
width:300px;
border:1px solid #ddd; 
float:left;
overflow:hidden;
margin-top: 20px;
}
.read_about_dogbreed h3
{
font-weight: bold;
margin:10px;
color: #333;
font-size: 14px;
text-align:left;
}
.read_about_dogbreed_left
{
float:left;
width: 115px;
margin-left:10px;
margin-bottom:10px;
}
.read_about_dogbreed_left img
{
width: 100px;
max-height: 100px;
min-height: 80px;
border: 1px solid #ddd;
}
.read_about_dogbreed_right
{
float:left;
width:165px;
margin-right:10px;
margin-bottom:10px;
}
.read_about_dogbreed_right h3
{
font-weight: bold;
font-size: 14px;
margin: 0px;
padding: 0px;
color:#333;
text-align:left;

}
.read_about_dogbreed_right h4
{
margin: 5px 0px 0px;
padding: 0px;
font-size: 14px;
font-weight: normal;
text-align:left;
}
.read_about_dogbreed_readmore
{
 text-align:right;
 margin-left:10px;
 margin-right:10px;
 margin-bottom:10px;
 float:right;
}
.read_about_dogbreed_readmore a
{
font-size:14px;
color:#668000;
font-weight:bold;
}
.abotu_dogbreed_text
{
float: left;
text-align: left;
margin-left: 10px;
margin-right: 10px;
font-size: 14px;
}
.dg_recentPicture
{
	width:300px;
	float:left;
	margin-top:20px;
	border:1px solid #ddd;
	}
	.recent_text
	{
		font-size:14px;
		font-weight:bold;
		color: #999;
		margin-top:10px;
		margin-bottom:10px;
		margin-left:10px;
		}
		.recentPicture ul
        {
	     list-style-type: none;
         margin-left: 0px;
         border: 0px solid;
         text-align: left;
         padding: 0px;
		 margin-left: 10px;
		
	}	
	.recentPicture li
	{
		text-align: left;
        display: block;
        width: 84px;
        margin-left: 0px;
        float: left;
        padding: 0px;
		margin-right:12px;
		 margin-bottom:10px;
		 
		
	}
		.recentPicture img
		{
			width:82px;
			height:82px;
			}
			.friends_of_otherdogs
			{
				width:300px;
				float:left;
				margin-top:20px;
				border:1px solid #ddd;
				
				}	
				.friends_of_otherdogsL
				{
					
					float:left;
					text-align:left;
					margin-left:10px;
					margin-top:10px;
					margin-bottom:10px;
					width: 175px;
					}
					.friends_of_otherdogstext
					{
						font-weight:bold;
						font-size:14px;
						color:#999;
						}
					.friends_of_otherdogsR
					{
						float:left;
						text-align:right;
						margin-top:10px;
						margin-right:10px;
						margin-bottom:10px;
						width: 100px;
						}
						.friends_of_otherdogsR a
					{
						font-size:14px;
						color:#668000;
					
						}
						.friends_of_dogslist ul
						{
							list-style-type: none;
                            border: 0px solid;
                            text-align: left;
                            padding: 0px;
                            margin-left: 10px
							
							}
						.friends_of_dogslist li
						{
	
							text-align: left;
                            display: block;
							margin-left: 0px;
							float: left;
							padding: 0px;
							margin-right: 12px;
							margin-bottom: 10px;
							width:130px;
							}
						.friends_of_dogslist img
						{
							width:130px;
							heigt:130px;
							
							}
							.friends_name
							{
								font-size:14px;
								color:#999;
								margin-top:5px;
								margin-bottom:5px;
								padding:0px;
								}
								
							.friends_name a
							{
								font-size:16px;
								color:#668000;
								margin-top:5px;
								margin-bottom:5px;
								padding:0px;
								text-decoration:none;
								}
								
						
/* dg profile home page */


/* pictures page css*/
.dg_picture_top
{
width:972px;
float:left;
overflow:hidden;
margin-top:20px;
height:42px;

}
.dg_picture_top_L
{
float:left;
width:476px;
text-align:left;
margin-top:11px;
}
.dg_picture_top_L ul
{
list-style-type: none;
margin-left:0px;
border: 0px solid;
text-align:left;
padding-left:0px;
padding:0px;
margin-top:9px;
}
.dg_picture_top_L li
{
text-align:left;
display: block;
width: 100px;
margin-left:0px;
float: left;
border: 0px solid;
padding-left:0px;
padding:0px;
margin-top: -10px;
}
.dg_picture_top_L li a
{
text-decoration:underline;
font-size:14px;
color:#668000;
padding:0px;
}
.dg_picture_top_r
}
{
float:left;
width:476px;
text-align:left;'
margin-left:20px;
}
.add_picture_n_album
{
text-align:right;
 margin-right:20px;
 margin-top:6px;
}
.add_picture_n_albumbtn
{
background:#fff;
border:1px solid #ddd;
width:120px;
height:30px;
color:#333;
padding:5px 8px;
font-size:15px;
}
.dg_profile_picture_Block
{
width:972px;
float:left;
text-align:left;
margin-left:0px;
margin-top: 0px;
}
.dg_profile_album_block
{
width:972px;
float:left;
text-align:left;
margin-left:0px;
margin-top: 15px;
}
.dg_suggested_friends_block
{
width:972px;
float:left;
text-align:left;
margin-left:0px;
}
.dg_profile_friends_block
{
	width:972px;
float:left;
text-align:left;
margin-left:0px;

}

.dg_profile_picture_Block h1, .dg_profile_album_block h1, .dg_profile_friends_block h1, .dg_suggested_friends_block h1
{
	font-size:18px;
	font-weight:normal;
	margin:0px;
	padding:0px;
	margin-bottom:10px;
	color:#333;
	}
.dg_profile_picture_Box, .dg_profile_album_Box
{
width:220px;
height:auto;
float:left;
text-align:left;
margin-top: 9px;
margin: 9px 20px 9px 0px;
text-align:center;
border: 1px solid #ddd;
}
.dg_profile_pictures img, .dg_profile_album img
{
 width:220px;
 height:220px;
 text-align:center;
}
.dog_shows_title
{
font-size:16px;
margin-top:5px;
margin-bottom:5px;
text-align:center;
}
.dg_profile_addimagebox
{
margin-top: 98px;
margin-bottom: 98px;
text-align:center;
}
.dg_profile_create_albumbox
{
margin-top: 121px;
margin-bottom: 121px;
text-align:center;
}
.dg_profile_addimageboxbtn,.dg_profile_create_albumbtn
{
background:#fff;
color:#333;
font-size:16px;
border:0px;
cursor:pointer;
}

.edit_delete_Block
{
float: left; 
 width:220px; 
 text-align: center;
 position: absolute; 
 
 background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.58);
 padding-top:6px;
 padding-bottom:6px;
 overflow:hidden;
 margin-top: -62px;

}
.delete_btn
{
float:left;
width:90px;
margin-left:10px;
text-align: left;
}
.edit_btn
{
float:left;
width:90px;
margin-left:10px;
text-align:right;
}
.edit_btn a,.delete_btn a
{
text-decoration:none;
font-size:14px;
color:#333;
}
.dg_profile_album_text
{
width:220px;
background:#f5f5f5;
}
.dg_profile_album_text h4
{
font-size:14px;
font-weight:bold;
color:#333;
text-align:left;
padding:0px;
margin:0px;
margin-left:10px;
padding-top:5px;
}
.dg_profile_album_text h5
{
font-size:14px;
font-weight:normal;
color:#333;
padding:0px;
margin:0px;
text-align:left;
margin-left:10px;
padding-top:5px;
padding-bottom:5px;
}

/* pictures page css*/
/* friends page css*/
.dg_profile_friends_Box
{
width:220px;
height:auto;
float:left;
text-align:left;
margin-top: 9px;
margin: 9px 20px 9px 0px;
text-align:center;
border: 1px solid #ddd;
}
.dg_friends_pictures img,
{
 width:220px;
 height:220px;
 text-align:center;
}
.unfriend_btn_Block
{
float: left; 
 width:220px; 
 text-align: center;
 position: absolute; 
 
 background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.58);
 padding-top:6px;
 padding-bottom:6px;
 overflow:hidden;
 margin-top: -28px;

}
.unfriend_btn
{
float:left;
margin-left:10px;
text-align: right;
margin-right:10px;
width:200px;
}

.unfriend_btn a
{
text-decoration:none;
font-size:14px;
color:#333;
text-align:right;
cursor:pointer;
}
.dg_friend_details
{
width:220px;
background:#f5f5f5;
}
.dg_friend_details h4
{
font-size:14px;
font-weight:bold;
color:#333;
text-align:left;
padding:0px;
margin:0px;
margin-left:10px;
padding-top:5px;
}
.dg_friend_details h5
{
font-size:14px;
font-weight:normal;
color:#333;
padding:0px;
margin:0px;
text-align:left;
margin-left:10px;
padding-top:5px;
padding-bottom:5px;
}
.dg_suggested_friends 
{
	margin-bottom:15px;
	border:1p solid #f00;
}
.dg_suggested_friends ul
{
	list-style-type:none;
	margin-left:0px;
	text-align:left;
	padding:0px;
	margin:0px;
	
	}
	.dg_suggested_friends li
	{
		text-align:left;
		display:block;
		width:458px;
		float:left;
		padding:0px;
		margin:0px;
		border:1px solid #ddd;
		margin-right:25px;
		margin-bottom: 15px;
		}
	.dg_suggested_friendsClose
	{
		margin-top:10px;
		margin-bottom:10px;
	 text-align:right;
	 margin-right:10px;
		
	}
	.dg_suggested_friendsCloseBtn
	{
		background:#fff;
		border:0px;
		font-size:16px;
		color:#666;
		cursor:pointer;
	}
	.dg_suggested_friendsBox
	{
		width:100%;
		overflow: hidden;
		
		}
	.dg_suggested_friendsBoxL
		{
			width:150px;
			margin-left:10px; 
			margin-right:20px;
			margin-left: 15px;
          
            margin-bottom: 15px;
			float:left;
			
			}
		
		
		.dg_suggested_friendsBoxL img
		{
			width:150px;
			height:150px;
					
			}
		.dg_suggested_friendsBoxR
		{
			width:260px;
			float:left;
		}
		.dg_suggested_friendsBoxR h3
		{
			font-size: 14px;
            font-weight: bold;
            color: #333;
            text-align: left;
            padding: 5px 0px 0px;
            margin: 0px 0px 0px 10px;
		}
		.dg_suggested_friendsBoxR h4
		{
			font-size: 14px;
            font-weight: normal;
            color: #333;
            padding: 5px 0px;
            margin: 0px 0px 0px 10px;
            text-align: left;
		}
		
/*upload album css*/

 .photos_container
	{
		width:100%;
		float:left;
		margin-top:20px;
	}
	.dog_albumName h1
	{
		width: 100%;
		
	}
	div.flash1 {

margin: 5px 5px;
border-color: #ccc;
-moz-border-radius-topleft: 5px;
-webkit-border-top-left-radius: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-right-radius: 5px;
}

.showalbumbkbtn
{	
 text-align:right;
}
.showalbumbkbtn a
{
border: 1px solid #DDD;
background: none repeat scroll 0% 0% #FFF;
width: 120px;
height: 30px;
color: #333;
font-size: 15px;
padding: 5px 8px;
font-size: 14px;
border: 1px solid #DDD;
	}
	.uploadablubmbox
	{
		width:100%;
		margin-top:15px;
		margin-bottom:15px;
		
	}
	.uploadablubmboxL
    {
		width:50%;
		float:left;
	}
	.uploadablubmboxR
	{
		width:50%;
		float:left;
	}
	.albumUploadBtn a
	{
background: none repeat scroll 0% 0% #FFF;
width: 120px;
height: 30px;
color: #333;
padding: 5px 8px;
font-size: 14px;
border: 1px solid #DDD
	}
	.editPhotoTable
{
width: 220px;
overflow: hidden;
float: left;
background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.58);
}
.editPhotoTabletd
{
	width:220px;
	padding:0px;
	padding-left:5px;
	padding-right:5px;
}
.editPhotoTabletd label
{
	display:block;
	margin-bottom:5px;
	font-size:14px;
	font-family:"Segoe UI";
	text-align:left;
}
.editPhotoTextBox
{
	width:210px;
	height:30px;
	border:1px solid #ddd;
	font-size:14px;
	}
	.editPhotoTextArea
	{
		width:210px; 
		height:auto;
		border:1px solid #ddd;
	font-size:14px;
	}
	.editPhotoDetails
	{
		text-align:right;
		margin-bottom:10px;
	}
	.editPhotoDetailsBtn
	{
 width: 100px;
 height: 30px;
 border: 1px solid #DDD;
 color: #333;
 font-size: 14px;
 font-weight: bold;
 cursor: pointer;
 padding: 4px 8px;
 background: none repeat scroll 0% 0% #F5F5F5;
	}

/*upload album css*/
/*edit photos css*/
.image_editInfo{float: left;width: 972px;}
.image_editInfo table{width:100%;}
.image_editname h2{font-size: 20px;font-family: segoe ui;font-weight: normal;}

.image_editInfoTop
{
width: 100%;
float: left;
border-bottom: 2px solid #668000;
margin-top: 15px;
padding-bottom: 10px;
margin-bottom: 10px;
}
.delete_allBox{float: left;width: 80%;}
.back_toAlbum{float: right;text-align: right;}
.delete_allBoxbtn
{
font-size: 14px;
padding: 3px;
width: 100px;
text-align: center;
border: 1px solid #DDD;
}
.back_toAlbumbtn
{
width: 140px;
border: 1px solid #DDD;
font-size: 14px;
text-align: center;
height: 26px;
padding: 3px;
}
.image_editInfoform
{
float: left;
width: 100%;
}
.image_editInfotable
{
float: left;
width: 100%;
}
.image_editTextbox 
{
	width: 100%;
padding: 5px;
height: 30px;
border-radius: 5px;
border: 1px solid #CCC;
}
.image_editTextbox1
{
width: 100%;
padding: 5px;
border-radius: 5px;
border: 1px solid #CCC;
}
.marginbtm_10
{
	margin-bottom:10px;
}
.back_btn
{
float: left;
width: 121px;
background: none repeat scroll 0% 0% #DDD;
border: 1px solid #999;
text-align: center;
padding-top: 5px;
padding-bottom: 5px;
font-family: segoe ui;
font-size: 14px;
}
.cancel_btn
{
float: left;
width: 121px;
text-align: center;
background: none repeat scroll 0% 0% #DDD;
border: 1px solid #999;
padding-top: 5px;
padding-bottom: 5px;
font-family: segoe ui;
font-size: 14px;
margin-left: 15px;
}
.save_chnagesbtn
{
	float: left;
width: 145px;
text-align: center;
background: none repeat scroll 0% 0% #DDD;
border: 1px solid #999;
padding-top: 5px;
padding-bottom: 5px;
font-family: segoe ui;
font-size: 14px;
margin-left: 15px;
}
td {
    color: #333;
    text-align: left;
    vertical-align: top;
    padding: 15px 5px;
}
/* edit photos css*/
/*character css*/
.medicaloption_form
{
margin-top:5px;
mar-bottom:5px;
}
.medicaloption_form label
{
display: inline-block;
width: 250px;
text-align: left;
font-size: 16px;
font-family: Segoe ui;
}
.medicaloption_form input, select, textarea{
width: 370px;
height: 30px;
border-radius: 5px;
font-size: 14px;
border: 1px solid #ccc;
font-family:segoe ui;
}
.dropdowncat{
width: 370px;
height: 30px;
border-radius: 5px;
font-size: 14px;
border: 1px solid #ccc;
font-family:segoe ui;}
.vacation_section
{
width: 972px;
margin: auto;
text-align: left;
margin-top:20px;
}
.vacation_text
{
	font-family:"Segoe UI";
	font-size:18px;
	color:#000;
	font-weight:bold;
}
.vacation_section1
{
	float:left;
	width:180px;
}
.vacation_section1 label
{
padding-top:15px;
padding-top: 15px;
display: block;
margin-left:10px;
}

.vacation_section_block
{
	overflow:hidden;
        margin-bottom:15px;
font-size:16px; 
font-family:segoe ui;
}
.vacation_section2
{
	float:left;
	width:250px;
}
.medicaloption_sec
{
width: 100%;
text-align: left;
}
.datapicker
{
	width:110px;
	border:none;
}

.date_label

{float: left;
width: 75px;
overflow: hidden;
vertical-align: middle;
padding-top: 10px;
font-size: 16px
}
.textbox_div
{
	float:left;
        width:130px;
	padding:5px;
	border:1px solid #ccc;
	border-radius: 5px;
}
.button_sec{margin-top:20px;}
.admore_text a
{
color:#668000;
font-size:16px;
text-decoration:none;
}
.wag_club_btns
{
background: #668000;
border: 0px;
font-size: 16px;
color: #FFF;
width: 120px;
height: 30px;
border-radius: 3px;
}

.wag-club-helper-clearfix:before,
.wag-club-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.wag-club-helper-clearfix:after {
	clear: both;
}
.wag-club-helper-clearfix {
	min-height: 0; /* support: IE7 */
}



.wag-club-tabs {
	position: relative;
	padding:0;
}
.wag-club-tabs .wag-club-tabs-nav {
	margin: 0;
	padding:0px;
}
.wag-club-tabs .wag-club-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin:0px;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
	border-bottom:2px solid #668000;
	margin-bottom:10px;
	padding-bottom:5px;
}
.wag-club-tabs .wag-club-tabs-nav .wag-club-tabs-anchor {
	float: left;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:35px;
	text-decoration: none;
	cursor:pointer;
}
.wag-club-tabs .wag-club-tabs-nav li.wag-club-tabs-active {

}
.wag-club-tabs .wag-club-tabs-nav li.wag-club-tabs-active .wag-club-tabs-anchor,
.wag-club-tabs .wag-club-tabs-nav li.wag-club-state-disabled .wag-club-tabs-anchor,
.wag-club-tabs .wag-club-tabs-nav li.wag-club-tabs-loading .wag-club-tabs-anchor {
	cursor: text;
}
.wag-club-tabs-collapsible .wag-club-tabs-nav li.wag-club-tabs-active .wag-club-tabs-anchor {
	cursor: pointer;
}
.wag-club-tabs .wag-club-tabs-panel {
	display: block;
	border-width: 0;
	height:38px;
	background:#fff;
	
}
.wag-club-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
body .wag-club-tooltip {
	border-width: 2px;
}

/* Component containers
----------------------------------*/
.wag-club-widget {
	font-family: Verdana,Arial,sans-serif;
	font-size: 16px;
}
.wag-club-widget .wag-club-widget {
	font-size: 14px;
}
.wag-club-widget input,
.wag-club-widget select,
.wag-club-widget textarea,
.wag-club-widget button {
	font-family:"Segoe UI";
	font-size: 14px;
}
.wag-club-widget-content {

	background: #FFF;
	color: #222222;
}
.wag-club-widget-content a {
	color: #222222;
}
.wag-club-widget-header {
	
	background: #fff;
	color: #222222;
	
}
.wag-club-widget-header a {
	color: #fff;
}

/* Interaction states
----------------------------------*/
.wag-club-state-default,
.wag-club-widget-content .wag-club-state-default,
.wag-club-widget-header .wag-club-state-default {
	
	
	font-weight: normal;
	color: #555555;
}
.wag-club-state-default a,
.wag-club-state-default a:link,
.wag-club-state-default a:visited {
	color: #668000;
	text-decoration: none;
}
.wag-club-state-hover,
.wag-club-widget-content .wag-club-state-hover,
.wag-club-widget-header .wag-club-state-hover,
.wag-club-state-focus,
.wag-club-widget-content .wag-club-state-focus,
.wag-club-widget-header .wag-club-state-focus {

	background: #fff;
	font-weight: normal;
	color: #668000;
	font-weight:bold;
}
.wag-club-state-hover a,
.wag-club-state-hover a:hover,
.wag-club-state-hover a:link,
.wag-club-state-hover a:visited,
.wag-club-state-focus a,
.wag-club-state-focus a:hover,
.wag-club-state-focus a:link,
.wag-club-state-focus a:visited {
	color: #668000;
	text-decoration: none;
}
.wag-club-state-active,
.wag-club-widget-content .wag-club-state-active,
.wag-club-widget-header .wag-club-state-active {
background: #fff;
	font-weight:bold;
	color: #212121;
}
.wag-club-state-active a,
.wag-club-state-active a:link,
.wag-club-state-active a:visited {
	color: #668000;
	text-decoration: none;
}
.cont980{width:972px; margin:auto;}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    padding-left:0px;
	padding-right:0px;
}
.Age_box{width:30px; height:30px; border:1px solid #ccc;}
.dob_dropdown{width:100px; height:30px; border:1px solid #ccc;}
.wagclub_textare{width:370px; height:100px; border:1px solid #ccc;}
/*character css*/
.share_btnbox
{
background: none repeat scroll 0% 0% #F5F5F5;
border-right: 1px solid #DDD;
border-width: medium 1px 1px;
border-style: none solid solid;
border-color: -moz-use-text-color #DDD #DDD;
text-align: right;
padding-right: 10px;
border: 1px solid #DDD;
border-top: none;
float: right;
margin-left: 5px;
padding-top: 5px;
padding-bottom: 5px;
width:620px;
}
.wagclub_sharebtn,.wagclub_cancelbtn
{
	background: none repeat scroll 0% 0% #9BC105;
border: medium none;
width: 90px;
height: 30px;
color: #FFF;
font-size: 16px;
font-family: segoe ui;
border-radius: 3px;
margin-top: 5px;
margin-bottom: 5px;
cursor: pointer;
}
/* recomanded products css*/
.recom_product{margin-top: 15px; float:left; overflow: hidden; font-family:"Segoe UI"; }
.recom_product h1{font-size: 20px; margin-bottom:5px; font-family:"Segoe UI";  color: #668000;font-weight:normal;padding-bottom:5px;}
.be_ad_banner h3 {
font-size: 16px;
background: #FFFFFF;
color: #668000;
border-bottom: 1px solid #CACACA;
padding: 14px;
text-transform: none;
}
.be_ad_banner ul li {
list-style: none;
padding:0px;
margin: 0;
font-size: 13px;
}
.be_relatedCom {
float: left;
border: 1px solid #DDD;
text-align: center;
vertical-align: top;
overflow: hidden;
width: 220px;
height: 270px;
margin: 9px 20px 9px 0px;
}
.be_relatedCom img {
}
.be_buynow img {
border: 0px solid;
margin-top: 5px;
}
.be_relatedCom label {

}
.be_relatedCom:hover {
/*box-shadow: 0px 0px 1px #444;*/
border:1px solid #668000;
background: #fff;
text-decoration:none;
}
.recom_product_name{font-family:"Segoe UI"; font-size:14px; color:#000; padding-left: 5px;
padding-right: 5px;}
.recom_product_name:hover{font-family:"Segoe UI"; font-size:14px; color:#668000;}
.recom_product_price{font-family:"Segoe UI"; font-size:14px; color:#000;}
.recom_product_price:hover{font-family:"Segoe UI"; font-size:14px; color:#668000;}

/* recomanded products css*/
/* my album css*/
.not_added_pictures
{
width:972px;
floa:left;
background:#dddd;
color:ccc;
padding:10px;
font-size:16px;

}

/* my album css*/
/* post  comment section css*/
.dg_post_sec
{
margin-bottom: 10px;
position: relative;
float: left;
border-bottom: 1px solid #DDD;
padding-bottom: 10px;
width: 632px;
margin-top: 20px;
}
/*post comment section css*/
.wagclub_cmtsec
{
float: left;
width: 100%;
padding: 0px 10px;
margin-bottom: 0px;
margin-top: 30px;

}
.wagclub_Postsec
{
float: left;
margin-left: 10px;
width: 520px;
}
.dg_cmntBox1
{
	float: left;
background: none repeat scroll 0% 0% rgba(141, 141, 141, 0.15);
border-radius: 2px;
margin-top: 10px;
padding: 10px;
border: 1px solid #DDD;
width: 511px;
}
.dg_cmntBox_new
{
	float: left;
background: none repeat scroll 0% 0% rgba(141, 141, 141, 0.15);
border-radius: 2px;
margin-top: 10px;
padding: 10px;
border: 1px solid #DDD;
width: 513px;
}
.dg_cmntFld {
    margin-bottom: 10px;
    position: relative;
    float: left;
    border-bottom: 1px solid #DDD;
    padding-bottom: 10px;
    width: 100%;
}
.dg_Imguser {
    margin-right: 10px;
    border: 2px solid #FFF;
    background: none repeat scroll 0% 0% #FFF;
    min-height: 20px;
    overflow: hidden;
    width: 50px;
    float: left;
}
.dg_Txtcmnt_new {
    float: left;
    width: 444px;
}
.dg_Txtcmnt1 textarea {
    font-family: arial;
    border: 1px none;
    min-height: 54px;
    width: 445px;
    float: left;
    margin: 0px;
    
}
.dg_cmntPost1
{
	float: left;
text-transform: uppercase;
background: none repeat scroll 0% 0% #95BB1C;
text-align: center;
padding: 5px 0px;
margin-top: 5px;
cursor: pointer;
color: #FFF;
font-weight: bold;
width: 100%;
width: 445px;
}
.you_have_nofriends
{
	background:E8F8A8;
	width:972px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	font-size:16px;
	text-transform:uppercase;
	color:#668000;
	margin-top:20px;
	margin-bottom:20px;
}
