@charset "utf-8";
/* CSS Document */
#DivAdmin{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 10px;
}
#DivAdmin h1{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	color: #066;
}
ul {
	padding:0px;
	margin: 0px;
}
#response {
	padding:10px;
	background-color:#9F9;
	border:2px solid #396;
	margin-bottom:20px;
}
#list li {
	margin: 0 0 3px;
	padding:8px;
	color:#FFF;
	list-style: none;
	background-color: #069;
}
#list li a{
	color:#FFF;
	background-color: #069;
}
.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.graysmalltext{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #666;
}
.redbtext {
	color: #FF0000;
	font-weight: bold;
}
label.error {
	color: #F00;
}
input.error{
	border: 1px solid #F00;
}