@charset "utf-8";
/* CSS Document */
#topNaviLineMicro{
	background-color: #336db0;
	line-height:4px;
	border: 2px solid #336db0;
}
.dotedSape{
	border-left-width: thin;
	border-left-style: dotted;
	border-left-color: #FFFFFF;
	height: 10px;
	margin-right: 3px;
}

#sddmMicro{
	margin: 0;
	padding: 0;
	z-index: 30;
    }

#sddmMicro li{
	list-style: none;
	float: left;
	font: bold 11px arial;
	margin: 0;
	padding: 0;
}

#spanOffMicro {
	display: block;
	color: #336db0;
	background-image: url(/clubs/images/not-nav-bg.jpg);
}
#spanOffMicro a{
	display: block;
	text-decoration: none;
	color: #336db0;
	padding-top: 12px;
	padding-right: 8px;
	padding-bottom: 12px;
	padding-left: 8px;
	margin-top: 0;
	margin-right: 2px;
	margin-bottom: 0;
	margin-left: 0;
}
#spanOffMicro a:Hover{
	display: block;
	background-color: #336db0;
	color: #ffffff;
	padding-top: 12px;
	padding-right: 8px;
	padding-bottom: 12px;
	padding-left: 8px;
	margin-top: 0;
	margin-right: 2px;
	margin-bottom: 0;
	margin-left: 0;
}

#spanOnMicro{
	display: block;
	padding-top: 12px;
	padding-right: 8px;
	padding-bottom: 12px;
	padding-left: 8px;
	margin-top: 0;
	margin-right: 2px;
	margin-bottom: 0;
	margin-left: 0;
	background-color: #336db0;
	color: #ffffff;
     }
#spanOnMicro a{
	color: #ffffff;
	text-decoration: none;
}	 

#sddmMicro div{
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	border: 1px solid #5970B2;
	background-color: #ffffff;
}

#sddmMicro div a{
	position: relative;
	display: block;
	margin: 0;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	color: #FFF;
	background-color: #336db0;
	padding-top: 12px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 12px;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
}

#sddmMicro div a:hover	{
	color: #336db0;
	background-color: #FFF;
}
#topNaviMicroSite{
	background-image: url(/clubs/site-img/not-nav-bg.jpg);
	background-repeat: repeat-x;
	height: 40px;
}