#Divlogo{
	width:200px;
	float:left;
	height: 125px;
	margin-top:10px;
}
#Divbanner{
	width:590px;
	float:right;
	height: 125px;
	margin-top:10px;
}
#DivRightbanner{
	width: 170px;
	float:right;
	height: 125px;
	margin-top:10px;
}
	
#Divclear{
	clear:both;
}
   
#Divleftcontainer{
	width:200px;
	float:left;
}
#Divrightcontainer{
	float:right;
	width:747px;
	padding:5px;
	border:1px dotted #2ba2f4;
	margin-top: 3px;
}
#DivrightcontainerFull{
	width:768px;
	padding:5px;
	border:1px dotted #2ba2f4;
	margin-top: 3px;
}
#leftLink{
	margin-top:2px;
	padding:5px;
    }	 
#leftLink ul{
	display: block;
	padding-left: 0px;
	margin-top: 10px;
    }
#leftLink li{
	display: block;
	list-style:none;
	color:#373535;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
	font-weight:bold;
	color:#373535;
	line-height:25px;

   }
#leftLink li a{
	display: block;
	color: #4c4d4c;
	padding-left:5px;
	text-decoration: none;
    }
#leftLink li a:hover{
	display: block;
	background-color:#2ba2f4;
	font-size:13px;
	color:#ffffff;
	font-weight:bold;
	text-decoration:none;
	}

#leftLink li a:hover .txt{
	display: block;
	background-color:#37b14c;
	font-size:10px;
	color:#f1f917;
	font-weight:normal;
	text-decoration:none;
	}

#rightbanner{
	width:170px;
	float:right;
	border-left:1px dotted #06F;
	padding-left:5px;
}