@charset "utf-8";
/* CSS Document */
#topNavi{
}
#topNaviLineMicro{
	background-color: #f66d04;
	line-height:2px;
	border: 1px solid #f66d04;
}
.dotedSape{
	border-left-width: thin;
	border-left-style: dotted;
	border-left-color: #FFFFFF;
	height: 10px;
	margin-right: 3px;
}

#sddmMicro{
	margin: 0;
	padding: 0;
	z-index: 30;
}

#sddmMicro li{
	list-style: none;
	float: left;
	font: bold 11px arial;
	margin: 0;
	padding: 0;
}

#spanOffMicro {
	display: block;
	padding-right: 8px;
	padding-left: 8px;
	margin-top: 0;
	margin-right: 2px;
	margin-bottom: 0;
	margin-left: 0;
	color: #FFFFFF;
	background-color: #379736;
	background-image: url(/images/top-navi-bg-green.gif);
	background-repeat: repeat-x;
	padding-top: 6px;
	padding-bottom: 6px;
}
#spanOnMicro{
	display: block;
	padding-top: 6px;
	padding-right: 8px;
	padding-bottom: 6px;
	padding-left: 8px;
	margin-top: 0;
	margin-right: 2px;
	margin-bottom: 0;
	margin-left: 0;
	background-color: #ff7805;
	color: #FFFFFF;
	background-image: url(/images/top-navi-bg-on-green.gif);
	background-repeat: repeat-x;
}
#sddmMicro li a{
	color: #FFF;
	text-align: center;
	text-decoration: none;
	padding-top: 4px;
	padding-right: 2px;
	padding-bottom: 4px;
	padding-left: 2px;

}

#sddmMicro li a:hover
{	}

#sddmMicro div{
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	border: 1px solid #5970B2;
	background-color: #ffffff;
}

	#sddmMicro div a
	{
	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	color: #379736;
	font: 11px arial;
	background-color: #ffffff;
}

	#sddmMicro div a:hover
	{
	color: #FFFFFF;
	background-color: #62e261;
}
