
@font-face {
	font-family: 'throw_my_hands_up_in_the_aiRg';
	src: url('https://www.dogspot.in/wag_club/font/throwmyhandsupintheair.eot');
	src: url('https://www.dogspot.in/wag_club/font/throwmyhandsupintheair.eot?#iefix') format('embedded-opentype'), url('https://www.dogspot.in/wag_club/font/throwmyhandsupintheair.woff') format('woff'), url('https://www.dogspot.in/wag_club/font/throwmyhandsupintheair.ttf') format('truetype'), url('https://www.dogspot.in/wag_club/font/throwmyhandsupintheair.svg#throw_my_hands_up_in_the_aiRg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'throw_my_hands_up_in_the_aiBd';
	src: url('https://www.dogspot.in/wag_club/font/throwmyhandsupintheairbold.eot');
	src: url('https://www.dogspot.in/wag_club//font/throwmyhandsupintheairbold.eot?#iefix') format('embedded-opentype'), url('https://www.dogspot.in/wag_club/font/throwmyhandsupintheairbold.woff') format('woff'), url('https://www.dogspot.in/wag_club/font/throwmyhandsupintheairbold.ttf') format('truetype'), url('https://www.dogspot.in/wag_club/font/throwmyhandsupintheairbold.svg#throw_my_hands_up_in_the_aiBd') format('svg');
	font-weight: normal;
	font-style: normal;
}
.dog_contest {
	height: 215px;
	background: url(https://www.dogspot.in/wag_club/images/back_blck.jpg) no-repeat center 1px;
	float: left;
	width: 100%;
	margin-top:-1px;
}
.dog_contest h1 {
	font-family: 'throw_my_hands_up_in_the_aiBd';
	color: #fff;
	font-size: 25px;
	width: 100%;
	padding-bottom: 15px;
	text-align: center;
	text-shadow: 4px 5px 0px #050505;
	text-shadow: 4px 5px 0px #050505;
}
.dog_contest p {
	display: table-cell;
	padding: 0px 0px 0px 5px;
	border-bottom: 2px dashed;
	float: left;
	width: 100%;
	border-top: 2px dashed;
	text-align: center;
	display: table;
	color: #fff;
}
.dog_contest p span.font174 {
	font-size: 36px;
	display: table-cell;
	vertical-align: middle;
	font-family: 'throw_my_hands_up_in_the_aiBd';
}
.dog_contest p span.font50 {
	font-size: 20px;
	display: table-cell;
	vertical-align: middle;
	font-family: 'throw_my_hands_up_in_the_aiBd';
}
.add_btn_dg {
	text-align: center;
	width: 100%;
	float: left;
}
.ad_dg_btn {
	background: #8dc059;
	width: 208px;
	margin-top: 10px;
	text-align: center;
	margin: auto;
	margin-top: 20px;
	color: #fFf;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 18px;
}
.contest_feed {
	width: 100%;
	float: left;
	margin-top: 40px;
	text-align: center;
	background: #f0f0f0;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 18px;
}
.contest_tabs {
	float: left;
	width: 100%;
	margin-top:23px;
	
}
.ui-navbar ul {
	background: #f0f0f0!important;
	border-radius: 0!important;
}
.ui-btn-active, .ui-state-active {
	background: #ddd !important;
}
.ui-navbar li .ui-btn {
	font-size: 17.5px !important;
}
.ui-tabs {
	padding: 0px !important;
}
.contest_list{width:100%; float:left; }
.post-container {
	margin: 0 auto;
	max-width: 320px;
	overflow:hidden;
}
.post-header {
	margin-top:30px;
}
.contest_dog_small {
	float: left;
	width: 15%;
}
.contest_dog_small img {
	max-width: 50px;
	max-height: 50px;
	border: 1px solid #ccc;
}
.dogName_act_new {
	padding-left: 10px;
	float: left;
	font-size: 16px;
	width: 80%;
}
.post-content {
	width: 100%;
	float: left;
	background: #f4f4f4;
}
.post-content img {
	max-width: 320px;
	height: auto;
	border-radius: 5px;
}
.ui-navbar li .ui-btn {
	text-align: center;
}
.wagPost {
	background: #000;
	float: left;
	height: 38px;
	margin: 5px 5px 5px 0;
	padding: 5px;
}
.postIcon_wc_new {
	background: rgba(0, 0, 0, 0.53);
	padding-left: 5px;
	max-width: 320px;
	margin-top:-48px;
	position: absolute;
	width: 100%;
}
.dg_cmntBox{ float:left; width:100%; max-width:320px; background: rgba(141, 141, 141, 0.15);
   
    border-radius: 2px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;}
	.dg_Imguser{ float:left; width:20%;}
	.dg_Imguser img{max-width:50px; max-height:50px;}
	.dg_Txtcmnt{width:80%; float:left;}
	.textWrite{height: 43px;border: none; resize: none !important;}
	.dg_cmntPost{float: left; text-transform: uppercase; background: #8dc059; width: 100%; text-align: center; padding: 5px 0; margin-top: 5px; cursor: pointer;color: #fff; font-weight: bold;}
	
	.today_winner_blk {
       margin-top: 20px;
    max-width: 320px;
	
	    float: left;
    width: 100%;}
	.today_date {
    text-align: center;
    background: #8dc059;
    padding: 8px 0px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    
}
.winner_dog_info {
       background: #f0f0f0;
    float: left;
    /* width: 290px; */
    width: 100%;
    max-width: 320px;
}
.contest_img {
    float: left;
    padding: 10px;
}
.contest_img img {
    max-width: 110px;
    max-height:110px;
    border: 2px solid #ddd;
}
.contest_dogname {
    font-size: 16px;
    font-weight: bold;
    padding-top: 12px;
    float: left;
    color: #333;
}

.fileUpload {
    position: relative;
    overflow: hidden;

}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.btn-primary {
  
    background-color:#d1d1d1;
    
}
.btn {
    display: block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.contest_uploadblk{ padding:15px;}
.ui-btn{    border: none !important;
    border-bottom: 1px solid #ddd;
    border-radius: 0px !important;
    padding-top: 10px !important;
    padding-bottom: 10px!important;
    color: #999;
    font-size: 14px !important;
    border-bottom: 1px solid #ccc !important;
}
.ui-input-btn{background-color:#d1d1d1 !important;  }
#image-holder{ margin-top:15px;}
.ui-select .ui-btn {
    
    border-radius: 0px !important;
}
.mrt{margin-top:15px !important;}
.dog_nameinput{background: #fff;border: none;border-bottom: 1px solid #ccc; padding-top: 10px !important;
    padding-bottom: 10px!important;}
.ui-input-text input{    background: #fff !important;
    border: none !important;
    border-bottom: 1px solid #ccc!important;}
.dg_cmnt_cls{text-align:right;}
.image-holder img{ max-width:200px; height:auto;}
.ui-mobile .ui-page-active{overflow-x:initial!important;}
.actImg_post_new{ text-align:center;}
.actTxt_post{float: left;
    width: 100%;
    margin-top: 8px;}
