@charset "utf-8";
/* CSS Document */
#backgroundPopup{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;
	border:1px solid #cecece;
	z-index:99998;
	
}
#popupContact{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	background:#FFFFFF;
	border:2px solid #cecece;
	z-index:99999;
	padding:12px;
	font-size:13px;
	
}
#popupContact h1{
	text-align:left;
	color:#6FA5FD;
	font-size:22px;
	font-weight:700;
	border-bottom:1px dotted #D3D3D3;
	padding-bottom:2px;
	margin-bottom:20px;
}
#popupContactClose {
color: #6FA5FD;
cursor: pointer;
display: block;
font-size: 14px;
font-weight: 700;
line-height: 14px;
position: absolute;
right: -25px;
text-decoration: none;
top: -25px;
}
#popupContactClose a{
	text-decoration:none;
}