.cart_popUp{border:0px !important;box-shadow:0px 0px 9px 3px #666;margin:20px auto;width:820px;float:left;min-height:333px;padding-bottom:12px;max-height:430px;}
.cart_popUp .cost_color{color:#962327;}
.cart_head{float:left;margin:5px 0;}
.cart_head h3{float:left;font-size:14pt;color:#444444;margin-right:5px;line-height:34px;}
.cart_head span{float:left;margin:9px 0 0 4px;font-size:10pt;}
.cart_bt{border-top:3px solid #444444;height:10px;}
.fr.xhide.cart_X{font-size:12pt;margin-top:10px;}
.shop_cart{float:left;width:100%;margin-bottom:10px;}
.shop_head{float:left;width:100%;margin-bottom:12px;}
.shop_head ul li{float:left;list-style:none;width:130px;font-size:10pt;font-weight:bold;text-align:center;}
.shop_head1 ul li{width:123px;}
.shop_head1 ul li.name_width, .item_info1 ul li.name_width{width:200px !important;}
.item_info{float:left;width:100%;min-height:60px;}
.item_info ul{background:#f7f4ed;margin-bottom:5px;}
.item_info ul li{list-style:none;width:132px;display:table-cell;font-size:14px;background:#f7f4ed;padding:10px 0;text-align:center;vertical-align:top;}
.item_info ul li.quan_box{background:url(/new/shop/images/img/quan_bg.png) 20px 10px no-repeat;}
.name_width a{color:#0F46C5;font-weight:normal;}
.shop_head ul li.name_width, .item_info ul li.name_width{width:260px;text-align:left;}
.quan_box span{padding:2px 8px;font-size:12pt;font-weight:bold;}
.quan_box span.total_pro{font-weight:normal;}
.total_box{float:right;font-size:12pt;width:292px;margin:4px 0;margin-right:12px;}
.total_box ul{float:right;}
.total_box li{list-style:none;float:left;width:136px;line-height:26px;text-align:right;}
.grand_box{float:right;font-size:13pt;width:100%;margin:2px 0;padding:5px 0;background:#ddd1b9;}
ul.grand_total{float:right;width:300px;font-weight:bold;}
.grand_total li{list-style:none;float:left;width:130px;line-height:26px;text-align:right;}
.total_box li.total_cost{text-align:right;padding-right:20px;}
.grand_total li.total_cost{text-align:right;padding-right:31px; float:right;}
.cart_foot{float:left;width:100%;margin-top:8px;}
.con_shop{float:left;}
.place_order{float:right;}
.checkout_box{float:left;margin-top:12px;width:100%;}
.check_head{float:left;padding-bottom:13px;width:100%;border-bottom:4px solid #444444;}
.check_head ul{float:left;background:url(/new/shop/images/img/check_bg.png) no-repeat;}
.check_head ul li{float:left;list-style:none;margin-right:19px;}
.check_head ul li a.active{background:url(/new/shop/images/img/check_hd.png) no-repeat;color:#000;}
.check_head ul li a span{padding-right:10px;padding-left:4px;font-weight:bold;}
.check_head ul li a{float:left;font-size:14px;width:180px;color:#999999;text-transform:uppercase;padding:6px;}
.check_content{float:left;margin-top:13px;}
.check_log{float:left;width:618px;padding:10px; font-family: lato,sans-serif;font-size: 14px; letter-spacing: 0.6px; border:none;}
.check_log label{font-size:15pt;float:left;width:400px;}
.check_log input#search-add{margin:0px;padding:5px;border-radius:5px;border:1px solid #bfbfbf;float:left;width:300px;font-size:16px;margin-top:5px;}
.check_log input#searchadd{margin:0px;padding:5px;border-radius:5px;border:1px solid #bfbfbf;float:left;width:300px;font-size:16px;margin-top:5px;}
.check_log input#pass1{margin:0px;padding:5px;border-radius:5px;border:1px solid #bfbfbf;float:left;width:300px;font-size:16px;margin-top:5px;}
Jy
.check_logbox{float:left;width:450px;}
.or_img{float:left;margin:10px 10px;}
.alt_log{float:left;margin-left:15px;width:151px;}
.alt_log label{margin-top:10px;}
.fb_log{float:left;margin:10px 0;}
.g_log{float:left;margin:10px 0;}
.check_logbox span.order_tag{float:left;width:142px;margin-left:8px;margin-top:4px;}
.order_box{float:left;border:1px solid #bfbfbf;width:250px;min-height:201px;padding:7px 7px;margin-left:10px;}
.check_logbox p.log_p{float:left;margin-top:15px;font-size:14px;width:400px;}
.log_p a{float:left;text-decoration:underline;}
.log_p a:hover{text-decoration:none;}
.log_p span{float:left;margin-left:5px;color:#666;}
p.btn_conti{float:left;margin:14px 0 10px 0;}
.order_box h3{font-size:12pt;color:#333;float:left;margin-right:5px;}
.order_box span{float:left;margin:3px 0;}
.order_box a.modify{float:right;font-size:9pt;margin-top:1px;color:#333;text-decoration:underline;}
.order_box a.modify:hover{text-decoration:none;}
ul.order_list{float:left;width:100%; padding:0px;}
ul.order_list li.order_l_bg{width:225px;float:left;margin-bottom:2px;padding:2px 3px;background:#f7f4ed;list-style:none;}
ul.order_list li.order_l_bg label{float:left;width:110px;margin:3px 0;overflow:hidden;}
ul.order_list li.order_l_bg span.price{float:left;margin-left:4px;width:100px;text-align:left;}
ul.order_list li.order_l_bg.no_bg{background:none;border-bottom:2px solid #bfbfbf;}
ul.order_list li.order_l_bg.no_bg.no_border{border:0px;}
.order_l_bg.no_bg.no_border.tot_bg{background:#ddd1b9;}
.pet_element{float:left;width:100%;color:#877b63;font-size:10pt;text-transform:uppercase;margin:10px 0 0px 0;}
.pet_element ul{float:left;}
.pet_element ul li{float:left;list-style:none;margin-right:46px;}
.pet_element ul li .pet_img{float:left;margin:2px 10px 0 0;}
.pet_element ul li .pet_text{float:left;}
.pet_element ul li.no_margin{margin:0px;}
.check_head ul.ship_head{float:left;background:url(/new/shop/images/img/check_bg1.png) no-repeat; padding:0px;}
.check_head ul li a.visited_link{color:#000;}
span.ship_tag{font-size:10pt;color:#666;margin-left:7px;}
.check_log label.ship_head{font-size:14px;float:left;width:600px; margin-bottom:10px;}
ul.ship_details{float:left;margin-top:10px; padding: 0px;}
ul.ship_details li{float:left;width:618px;list-style:none;padding:5px 10px;margin-bottom:3px; margin-left: -11px;background:#fff;}
ul.ship_details li label{font-size:12px;line-height:27px;font-size:14px; display:block; margin-bottom:10px; width: 100%;  text-align: left;}
ul.ship_details li input, ul.ship_details li textarea, ul.ship_details li select{float:left;border-radius:0px;border:1px solid #ddd;padding:5px 10px;width: 407px;height: 35px; display:block;}
ul.ship_details li input#address_phone {
width: 407px;
margin-left: 0px;
}

ul.ship_details li textarea.input_ship3{    min-width: 407px!important;min-height:60px;font-family:lato, sans-serif  !important;}
ul.ship_details li span{margin:7px;float:left; margin-left:0px;    font-size: 12px;   color: #f00 !important; width:100%;}
 
p.save_add{float:left;}
p.save_add{float:left;margin:20px 0 0;}
p.save_add input[type=checkbox]{float:left;margin:2px 3px 0 0;}
p.con_pay{float:right;margin:24px 0 12px 0;}
.right_order{float:right;width:250px;}
.promo_box{float:left;background:#fff3a0;width:252px;padding:9px 6px;border:1px solid #f5e88e;margin-left:10px;margin-top:10px;}
.promo_box input{padding:5px;margin-top:5px; margin-left:3px;}
.promo_box input[type=button]{padding:4px;margin-top:5px;}
.promo_box input[type=text]{width:131px;border:1px solid #bfbfbf;border-radius:5px;}
.del_box{float:left;background:#fff3a0;padding:9px 7px;border:1px solid #f5e88e;margin-top:10px;}
.ship_add{float:left;position:relative;width:250px;border:1px solid #ddd;padding:15px;font-size:15px; border-radius:3px;margin-top:10px;margin-right:25px;line-height:24px;height:auto !important;overflow:auto;display:table-cell; min-height:165px;}
.ship_add ul {height:auto !important;overflow: auto;}
.ship_add:hover{background:#fff;cursor:pointer;}
.ship_add.active{background:#e0fd75;cursor:pointer;}
.ship_add.no_margin{margin-right:0px;}
p.add_address{float:left;margin-top:20px;margin-bottom:20px;}
p.add_address img{float:left;margin-right:5px;}
p.add_address span{float:left;}
p.add_address span a{text-decoration:none; background: #fff; border: 1px solid #6c9d06; color: #6c9d06; text-decoration: none; font-size: 14px; border-radius: 3px; cursor: pointer; margin-top: 180px;padding: 10px 40px;}
p.add_address span a:hover{text-decoration:none;}
.check_head ul.pay_head{float:left;background:url(/new/shop/images/img/check_bg2.png) no-repeat; padding:0px;}
.pay_box{float:left;padding:10px 20px;margin:15px 10px;border:1px solid #bfbfbf;position:relative;width:638px;}
.pay_box ul{float:left;}
.pay_box ul li{float:left;list-style:none;width:680px;margin-bottom:10px;}
.pay_box ul li div.select_mode{float:left;padding:10px 0 11px 10px;width:270px;}
.pay_box ul li div.select_mode:hover, .pay_box ul li div.select_mode.active{float:left;color:#867b62;font-weight:normal;}
.select_mode input[type="radio"]{float:left;margin:2px 0px;}
label.pay_label {
    background: url("/new/shop/images/img/pay_bg.png") no-repeat scroll 0 0 transparent;
    float: left;
    font-size: 13px;
    margin-left: 3px;
    padding: 0 0 0 8px;
    width: 270px;
}
.wat_escrow.login-window {float: right;margin-top:-22px;font-size: 10px;margin-top:-3px\9;}
.card_box{float:left;margin-left:10px;}
.card_box img{float:left;}
.card_box span.card_text{float:left;color:#666;margin-top:13px;margin-left:2px;font-size:11px;}
p.pay_p{margin-bottom:10px;margin-top:0px;float:left;width:100%;}
p.pay_p a{text-decoration:underline;}
.offer_box{float:left;background:url(/new/shop/images/img/offer_bg.png) repeat-x;border-radius:5px;border:1px solid #bfbfbf;width:100%;margin-top:12px;}
.offer_box .off_img{float:left;margin-top:8px;margin-left:10px;margin-right:10px;}
.offer_box p{float:left;line-height:32px;}
.offer_box p a{text-decoration:underline;}
.offer_box .cls_img{float:right;margin-right:10px;}
.cod_box{width:348px;height:176px;margin-top:106px;background:#f5f5f5;float:right;border-radius:5px;border:1px solid #bfbfbf;}
.cod_back{width:362px;position:absolute;top:10px;background:url(../images/arrow.png) 0px 165px no-repeat #fff;float:left;right:11px;}
.cod_head{color:#777777;padding:0px 5px 7px 5px;font-size:14px;text-align:center;border-bottom:1px solid #bfbfbf;margin:10px 15px;}
.cod_box input[type="radio"]{float:left;margin:5px 0 0 20px;}
.cod_box label.pay_label{font-size:16px;width:292px;margin-left:9px;}
.cod_box label.pay_label .wat_escrow{font-size:14px;margin-left:10px;text-decoration:underline;}
.cod_box label.pay_label .wat_escrow:hover{text-decoration:none;}
p.escrow_p{float:left;margin:3px 42px; font-size:11px;}
.pay_cod{float:left;margin-bottom:4px;}
.what_escrow{background:#fff;box-shadow:0px 0px 3px 1px #bfbfbf;padding:10px;float:left;width:860px;}
.what_escrow h4{float:left;font-size:16px;}
.close_box{float:right;cursor:pointer;}
ul.escrow_detail{margin:5px 0;float:left;width:100%;}
ul.escrow_detail li{font-size:14px;list-style:none;}
.escrow_process{float:left;}
ul.escrow_pro{float:left;background:url(../../new/shop/images/img/1234.jpg) 0px 64px no-repeat;margin-left:10px;margin-top:15px;}
ul.escrow_pro li{float:left;width:155px;margin-left:13px;list-style:none;text-align:center;}
label.tag_lbl{float:left;margin-top:34px;font-size:12px;width:148px;margin-left:-11px;}
ul.escrow_pro li.pro_mar{margin-top:20px;}.can_box{float:left;margin:8px;}
.can_box a:hover, .for_pass a:hover{text-decoration:none;}
.can_box a, .for_pass a{text-decoration:underline;}
.for_pass{float:left;width:206px;margin:5px 0;font-size:14px;}
.savencont_btn{width:183px;height:40px;background:url(/new/shop/images/img/conti.png) no-repeat;float:right;}
.savencont_btn1{overflow: hidden; background: #fff;border: 1px solid #6c9d06!important;color: #6c9d06; font-size: 14px;border-radius: 3px;cursor: pointer;padding: 10px;width: 234px; float:left;}
#error23, #error234{float:left;color:#D34F4F;background:#FCE2E6;border-radius:5px;padding:5px;margin-bottom:5px;border:1px solid #D34F4F;}
.error_box{float:left;width:400px;}
.add_form_address{float:left;width:100%; margin-top:15px;}
#ship_add_21{margin-right:0px;}
.confirmncont_btn{width:240px;height:42px;background:url(/new/shop/images/img/pay1.png) no-repeat;float:left;}
.savencont_btn_conti{width:190px;height:40px;background:url(/new/shop/images/img/conti.png) no-repeat;float:right;}
.placeholder{color:#CCC;}
.cart_center{margin:0 auto;width:800px;}
.how_work{float:left;background:#666;padding:5px;margin-bottom:10px;border-radius:5px;color:#fff;}
.benefits_box{background:#eee5d4;border-radius:5px;min-height:100px;float:left;width:838px;padding:10px;margin:10px 0px;}
.benefits_box h3{color:#972326;border-bottom:1px solid #C5B492;padding-bottom:10px;}
.benefits_box ul{border-top:1px solid #fff;}
.benefits_box ul li{min-height:70px;list-style:none;width:403px;float:left;border-right:1px dotted #333;margin:10px;padding:0px;}
.benefits_box ul li>img{float:left}
.benefits_box ul li label{float:left;width:64%;padding:5px 10px;line-height:20px;font-size:12px;}
.benefits_box ul li label strong{margin-bottom:5px;float:left;width:100%;}
.benefits_box ul li.no_ryt_mar{border-right:0px;margin-right:0px;}
.view_more{float:right;margin:10px 4px;}
.ship_add li{list-style:none;font-size:13px;line-height:20px; margin-bottom:5px;}
.click_sel{float:left;cursor:pointer;background:#fff;color: #fff; width:31px;padding:5px 10px;position:absolute;    top:5px;
    height: 17px;
    right: 0px;}
/*.click_sel:hover{background: #8dc059; color: #fff; text-align: center;}*/
.cod_not_box{float: left;color: #D34F4F;background: #FCE2E6;border-radius: 5px;padding: 5px;border: 1px solid #D34F4F;font-size: 12px;position: relative;width: 280px;z-index: 9999;text-align: center;margin: -22px 0 -17px 275px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
ul.order_list li.order_l_bg {width: 225px;}
ul.order_list li.order_l_bg span.price{ width:100px;}
.shop_head ul li{width:132px;}
#popupContact .shop_head ul li{width:123px;}
}
#cart_mo { border:4px solid #666\9 !important; }
.shop_head ul li{width:125px\9;}

.all_ship_add {float: left;min-height: 200px;max-height: 403px;width: 710px;overflow: auto;}

div.pay_box.payNew_box {
    background: #fff; border:0px solid #fff;
    padding: 0px;
}
div.payMethod_new {
    float: left;width: 638px;
}
div.payCC_new {
    float: left;
    font-size: 12px;
}
div.payCC_new {}
div.payCC_new>label {
    font-size: 15px;
    background: #B8B5B5; cursor:pointer;
    width: auto;
    color: #fff;
    border: 1px solid #bfbfbf;
    padding: 11px 11px;
    position: relative;
    z-index: 1;
    float: left;
    border-radius: 0;
    width: 152px;
    border-left: 2px solid #7E7C7C;
    margin: 0px 0 3px 0px;
    border-right: 0px;
}
div.paySec_new {
float: left;
width: 385px;
position: absolute;
left: 176px;
background: #fff;
top: 0;
padding: 20px 38px;
border: 1px solid #bfbfbf;
margin-left: -1px;
height: 360px;
}
div.paySec_new>label {
    font-size: 12px;
}
div.payDetail_new {
    float: left;
    margin: 3px 0;
}
div.payDetail_new>label {
    font-size: 14px;
    width: 108px;
    line-height: 30px;
}
div.payDetail_new input[type="text"],  div.payDetail_new input[type="password"] {
    float: left;
    width: 200px;
    border-radius: 3px;
    border: 1px solid #bfbfbf;
    padding: 5px;
}
div.payDetail_new select {
    width: 95px;
    float: left;
}
div.payCC_new>label:hover,div.payCC_new>label.active_pay {
    background: #fff;
    border: 1px solid #bfbfbf;
    color: #000;
    border-left: 2px solid #666;
    border-right: 0px;
}
.payTxt_new {
font-size: 14px;
line-height: 20px;
background: #f5f5f5;
padding: 10px;border: 1px solid #bfbfbf;
border-radius: 5px;
}
.PayText_Coupon{
font-size: 16px;
line-height: 20px;
background: #f5f5f5;
padding: 10px;
border: 1px solid #bfbfbf;
border-radius: 5px;
margin-bottom:6px;
text-align:center;
}
.PayText_CouponBtn
{
	background:#FE9A2E;
	 border:1px solid #FE9A2E; 
	 color:#fff;
	  border-radius:3px;
	  height:28px;
	  width:85px; 
	  font-size:14px;
}
.payTxt_new label{ margin:4px 0;font-size: 15px;padding: 12px;
width: 330px;}
div.payMethod_new p.pay_p {
margin-bottom: 0px;
margin-top: 10px;
}
.sbi, .axis, .citi, .hdfc, .icici, .kotak{
	background: url(/new/shop/images/sprites-bank.png) no-repeat;
}

.sbi{
	background-position: 0 -113px ;
	width: 109px;
	height: 30px;
}

.axis{
	background-position: 0 -82px ;
	width: 111px;
	height: 27px;
}

.citi{
	background-position: 0 -51px ;
	width: 100px;
	height: 26px;
}

.hdfc{
	background-position: 0 -31px ;
	width: 108px;
	height: 18px;margin-top: 7px;
}

.icici{
	background-position: 0 -2px ;
	width: 110px;
	height: 23px;
}

.kotak{
	background-position: 0 -146px ;
	width: 94px;
	height: 30px;
}
div.bankBox.fl {
    background: #f5f5f5;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid #bfbfbf;
    width: 153px;
    height: 30px;
    padding:10px 5px;
    display: table-cell;
}
div.bankBox.fl input[type="radio"] {
    float: left;
    margin-top: 10px;
    margin-right: 7px;
}
div.paySec_new h3 {
float: left;
margin-left: 5px;
font-size: 18px;
font-weight: normal;
color: #666;
}
div.edCheck_detail {
float: right;
position: absolute;
right: 4px;
width: 70px !important;
}
span.delCheck_detail {
float: left;
width: 20px;
height: 20px;
margin-left:10px;
}
.new_address{ float:left; width:100%}
.error_logCheck {
float: left;
color: #D34F4F;
background: #FCE2E6;
border-radius: 5px;
padding: 5px;
margin: 0px;
border: 1px solid #D34F4F;
}
div.payDetail_new>label.card_blck2 {
    float: left;
    width: auto;margin-right: 5px;
}
div.payDetail_new>label.card_blck3 {
    float: left;
    width: auto;
}
div.payDetail_new>label.card_blck1 {
    float: left;
    width: auto;margin-right: 5px;
}
div.payStore {
font-size: 11px;
float: left;
margin: 9px 0 0 3px;
}
div.payStore a {
color: #668000; cursor:pointer;
text-decoration: underline;
}
div.payStore a:hover{ text-decoration:none;}
div.payDetail_new>label.card_blck1 input, div.payDetail_new>label.card_blck2 input, div.payDetail_new>label.card_blck3 input {
float: left;
margin: 7px 4px 0 0;
}
div#ddebit-card-name {
    border-top: 1px solid #848181;
    padding-top: 9px;
    margin-top: 19px;
    margin-bottom: 10px;
}
input#ddcard_name {
    margin-left: 88px;
}
div#ddebit-card-name p {
    margin-left: 74px;
    font-size: 14px;
}
div#debit-card-name {
    border-top: 1px solid #848181;  padding-top: 9px;  margin-top: 19px;  margin-bottom: 10px;
}
input#dcard_name {
    margin-left: 88px;
}
div#debit-card-name >p {
    margin-left: 74px;  font-size: 14px;
}
.order_box span img {
float: left;
margin: 5px 5px;
}
div.tagPayCc_np{
float: left;
font-size: 15px;
font-weight: bold;
color: #668000;
}