.clfieds_blk, .clfieds_search_box, ..clfiedsview_blk, .clfieds_sec{width: 100%;}
.clfieds_banner{ text-align:center;}
.clfieds_banner img {max-width: 100%;height:auto;padding:3px 10px;}
.clfieds_sec {margin-top: 25px; padding-left:5px; padding-right:5px;}
.clfieds_list {float: left;width: 33%;text-align: center;margin-bottom: 25px;}
.clfieds_list img {border-radius: 50%;width: 105px; height: 105px;}
.clfieds_list a{ color:#000; text-decoration:none; font-size:14px;}
.clfieds_heading {text-align: center;margin-top: 15px;  margin-bottom: 25px;font-size: 22px;color:#fff;}
.ui-input-has-clear input{border-radius: 5px !important;}
.ui-input-search{padding-right: 0em!important;}
.clfieds_cat, .best_services_text, .add_your_bs_btn{width:100%; margin-top:20px; text-transform:uppercase; text-align:center; font-size:20px; }
.add_your_bs_btn{ float:left; margin-bottom:15px;}
.add_your_bs_btn a{color:#8dc059; font-size:16px;  float: left; width: 100%; text-decoration:underline;}
.add_your_bs_btn a:hover{ color:#333; text-decoration:underline;}
.clfieds_head { width: 100%; padding: 12px 12px 20px 12px; border-top: 0; border-bottom: 0; background: url("../images/clbg-new2.jpg") no-repeat scroll 46% 0px;background-size: 100% auto;text-align: center;}
.clfieds_ima_rd {border: 3px solid #fff;border-radius: 100px; margin-top: 5px;}
.clfieds_user_name {font-size: 24px;color: #fff;padding-top: 10px;padding-bottom: 10px;}
.clfieds_user_date{color: #fff;font-size: 14px;padding-bottom: 10px;}
.ui-input-search input{background:#fff !important;}
.clfieds_cat_name{ margin-top:8px; font-size:16px;}
.clfieds_list_blk{ background:#f2f2f2; }
#select-3-button{ border: none; border-bottom: 1px solid #ddd;}
.clfieds_blk {    width: 100%;    text-align: center; }
ul.clfiedsimg_blk{ list-style:none;}
.clfieds_listing li { padding-top:5px; padding-bottom: 10px;background:#fff;margin:10px;}
.clfiedsimg_blk img {width: 110px;height: 110px; overflow: hidden; border: 1px solid #ddd!important; border-radius: 50%;}
.clfieds_listing li div {vertical-align: middle; padding-left: 10px;text-align:left;text-transform:none;}
.clfieds_listing li a{ text-decoration:none; color:#333;}
.clfiedstext_blk{color:#333;font-size:16px;width:65%;display:inline-block}
.clfiedsimg_blk{width:30%;margin-right:10px;padding-top:10px;display:inline-block}
.clfieds_right_icon{ text-align:right !important; margin-top:-5px; margin-right:10px;}
.clfieds_shop_name{ font-size:16px; margin-bottom:3px;}
.clfieds_shop_address{ font-size:14px;}
.clfiedsview_blk{float:left;}
.clfiedsview_head{width:100%;padding:12px;border-top:0;border-bottom:0;background:url(../../images/product_bg.png) 46% -33px no-repeat #555;background-size:100% auto;text-align:center}
.clfiedsview_ima_rd{border:3px solid #fff;border-radius:100px;margin-top:5px;width:120px;height:120px}
.clfiedsview_user_name{font-size:24px;color:#fff;padding-top:10px;padding-bottom:10px}
.clfiedsview_user_date{color:#fff;font-size:14px;padding-bottom:10px}
.clfiedsview_callnreview, .timing_tab, .navigate_tab, .about_client_tab, .review_tab, .best_services_sec{ width:100%; float:left;text-transform:uppercase; font-size:14px; border-bottom:1px solid #ddd; margin-top:20px; padding-bottom:20px; }
.clfiedsview_call{ float:left; width:50%; border-right:1px solid #ddd; padding:20px 0px;  }
.clfiedsview_callreview{ float:left; width:50%; padding:20px 0px;}
.clfiedsview_callreview img, .clfiedsview_call img, .navigate_tab img{width:22px; height:22px; margin-left:20px; vertical-align: middle;}
.about_client_tab_a{ margin-left:20px;}
.timing_tab img{ width:30px; height:30px; vertical-align:middle; margin-left:20px;}
.timing_tab_date,.navigate_tab_address, .about_client_tab_text{ margin-top:5px; margin:0px 20px;  font-size:12px; text-transform:none;}
.navigate_tab_map{ margin-top:10px;}
 .ui-listview>.ui-li-static{border: 1px solid #ddd !important; border-bottom: 0px !important;}
 .ui-listview{background: #fff;}
 #category_name{text-align: center; font-size: 16px; text-transform: uppercase; padding: 10px 0px;}
 .text_not_found{color: #222; font-size: 20px;text-align: center; padding: 10px 0px;}
 .review_box_text{ background:#f2f2f2; width:90px; margin-left:20px; text-align:center; padding:5px 0px;}
.review_box{ border:1px solid #f2f2f2; margin:20px; padding:10px;   text-transform:none;}
.no_review_text{font-size: 14px; font-weight: bold; text-align:center;}
.cl_profile_pic, .review_submit_date { font-size:13px;}
.cl_profile_pic img, .review_submit_date img{width:25px; border-radius: 30px; height: 25px; border: 1px solid #ddd; vertical-align: middle;}
.review_submit_date{text-align: right;margin-top: -25px;}
.review_submit_text{margin-top:5px; font-size:14px;}
.clsfied_review_form, .ui-popup{padding:0px !important; margin:0px !important; }
.clsfied_review_textarea{min-width:300px;  min-height:250px; border:none; resize: none !important; font-size:13px;}
.ui-input-btn{ margin-bottom:0px !important;}
.contest_uploadblk{ padding:15px;}
.cfieds_form_blk{margin:10px}.ui-input-text input{border:none!important;border-bottom:1px solid #ccc!important}.cfieds_form_blk texarea{border:1px solid #ddd}.texarea{border-bottom-color:#ccc;resize:none}.ui-select .ui-btn,textarea.ui-input-text{border:none;border-bottom:1px solid #ccc;resize:none!important}.cfieds_form_div{margin-bottom:20px}.fileUpload{position:relative;overflow:hidden}.fileUpload input.upload{position:absolute;top:0;right:0;margin:0;padding:0;font-size:20px;cursor:pointer;opacity:0;filter:alpha(opacity=0)}.btn-primary{background-color:#d1d1d1}.btn{display:block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px}
.ui-btn{border: none !important;border-bottom: 1px solid #ddd;border-radius: 0px !important; padding-top: 10px !important; padding-bottom: 10px!important;color: #999;font-size: 14px !important;   border-bottom: 1px solid #ccc !important;}
.ui-input-btn{background-color:#d1d1d1 !important;  }
#image-holder{ margin-top:15px;}
.ui-select .ui-btn{border-radius: 0px !important;}
.clsfeds_time_form{ float:left; width:100%;}
.clsfeds_time_form_div{float:left; width:49%;}
.add_review_cl_btn{float: right; width: 30px; text-align: center;}



 
    