@charset "utf-8";
/* CSS Document */
#cbsddm{
	margin: 0;
	padding: 0;
	z-index: 30;
}

#cbsddm li{
	list-style: none;
	float: left;
	font: bold 11px arial;
	margin: 0;
	padding: 0;
}

#cbspanOff {
	display: block;
	padding-right: 8px;
	padding-left: 8px;
	margin-top: 0;
	margin-right: 2px;
	margin-bottom: 0;
	margin-left: 0;
	color: #FFFFFF;
	background-color: #666;

	padding-top: 5px;
	padding-bottom: 5px;
}
#cbspanOn{
	display: block;
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;
	margin-top: 0;
	margin-right: 2px;
	margin-bottom: 0;
	margin-left: 0;
	background-color: #ff7805;
	color: #FFFFFF;

}
#cbsddm li a{
	color: #FFF;
	text-align: center;
	text-decoration: none;
	padding-top: 4px;
	padding-right: 2px;
	padding-bottom: 4px;
	padding-left: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#cbsddm div{
	z-index:1000;
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	border: 1px solid #5970B2;
	background-color: #ffffff;
}

#cbsddm div a{
	z-index:1000;
	position: relative;
	display: block;
	margin: 0;
	padding: 5px 11px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
}

#cbsddm div a:hover{
	background: #49A3FF;
	color: #FFFFFF
}