@charset "utf-8";
/* CSS Document */

#greedBox {
    background-color: rgb(170, 238, 97);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-color: rgb(0, 102, 0);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px 4px 4px 4px;
    padding-top: 5px;
    padding-bottom: 5px;
}
