@charset "utf-8";
/* CSS Document */
#container1 h1{
   font-family:verdana;
     font-weight:bold;
     font-size:13px;
	 color:#000000;
     text-decoration:none;
     text-align:left;
     padding:10px;
     margin:0px;
    clear:both;
}
#linebar{
	background-image:url(../images/bg1.jpg);
	height:18px;
	  font-family:Verdana, Arial, Helvetica, sans-serif;
	   font-size:12px;
	   font-weight:bold;
	   color:#000000;
	}
	
#container2{
	margin:0px;
	background-color:#dbdcdd;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#000000;
	text-align:left;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	clear: both;
	   }
	   
#container3{
	clear: both;
	   }	   
		   
	   	  
#left{

	  height:160px;
	  float:left;
	  background-image:url(../images/bg2.jpg);
	  font-family:Verdana, Arial, Helvetica, sans-serif;
	   font-size:12px;
	   font-weight:normal;
	   color:#000000;
	   text-align:left;
	     padding-left:12px;
	   padding-top:15px;
	  }
	  
#right{

	  float:left;
	  background-image:url(../images/bg3.jpg);
	  font-family:Verdana, Arial, Helvetica, sans-serif;
	   font-size:12px;
	   font-weight:bold;
	   color:#000000;
	   text-align:left;
	   padding-left:10px;
	   padding-top:15px;
	  }	
#print{
	width:50px;
	padding-left:10px;
}  	  
       	  
#adminPanel{
	float: center;
}
.redbg {
	background-color: #F60;
}