*{ margin:0px; padding:0px;}
@font-face {
    font-family: 'amertype_md_btmedium';
    src: url('fonts/amrtypen.eot');
    src: url('fonts/amrtypen.eot?#iefix') format('embedded-opentype'),
         url('fonts/amrtypen.woff') format('woff'),
         url('fonts/amrtypen.ttf') format('truetype'),
         url('fonts/amrtypen.svg#amertype_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
.product_container{ width:100%; margin:0px auto;}
.coming_soon_text{ margin:0px auto; font-family: 'amertype_md_btmedium'; color:#9c8054; font-size:36px; font-weight:bold; text-shadow: 0 2px 2px #999999; position:relative; width:1100px;}
.nopart{ font-family:Arial, Helvetica, sans-serif; color:#be1910; font-size:90px;}
.new_class{ position:absolute; top:20px; color:#be1910; font-size:24px; text-transform:uppercase; text-shadow:none; }
.field_lunch{ width:960px; margin:0 auto; background:#b2da1d; height:60px; padding:0 20px; font-family:Arial, Helvetica, sans-serif; color:#fff; font-size:16px;}
.field_lunch input{ border:medium none; margin:4px 0 0; padding:0px 3px; width:800px; font-family: 'amertype_md_btmedium'; font-size:24px; color:#d2d1d0; float:left; }
.field_lunch button{ background:#f08200; border-radius:5px; width:115px; height:31px; float:left; border:none; cursor:pointer; font-family:Arial, Helvetica, sans-serif; color:#fff; font-weight:bold; font-size:16px;  margin: 3px 0 0 10px;}
.lunch_list{  width:1000px; margin:0 auto;}
.lunch_list ul{ margin:0px; padding:0px; }
.lunch_list ul li{  margin:0px 0 0 30px; list-style:none; }



.donate_container{ width:990px; margin:0 auto;}
.donate_container h3{ color:#797979; font-family: 'amertype_md_btmedium'; font-size:35px; text-shadow: 0 2px 2px #999999; text-align:left;}
.donate_banner{ background:url(images/donate_banner.jpg) no-repeat; width:990px; height:310px;   margin: 20px 0 30px; }
.donate_field{ float:right; margin:130px 0 0 0 }
.donate_field input{ border:none; float: left; *float: left; position:relative; left:75px; top:14px; *margin: 15px -120px 0 20px ;width: 238px; background:transparent; font-size:28px; color:#6f6f6f;}
.donate_field input.error{ left:185px !important;}
.donate_field label.error{ color: #FF0000;  left: 116px; position: relative; top: 56px;}
:focus {outline:none;}
.donate_field button{ background:transparent; border:none; margin: 76px 200px 0 0; float:right; cursor:pointer;}
.donate_content{ float:left; width:100%;}
.donate_content h4{ color:#797979; font-family: 'amertype_md_btmedium'; text-align:center; font-size:25px;  text-shadow: 0 2px 2px #999999; background:url(images/heading_line.png) repeat-x; height:18px; line-height:0px; *line-height:40px;}
.donate_content h4 span{ background:#fff; padding:0 20px; *position:relative; *top:-15px;}
.donate_content p{ font-family:Arial, Helvetica, sans-serif; font-size:14px; padding:10px 0; line-height:20px; text-align:left;}
