/* CSS Document */
div.cont980 {margin: 0 auto;width: 972px;}
.wt_topNav{ float:left;}
.wt_topNav ul{ float:left; margin:0px; padding:0px;}
.wt_topNav ul li{ float:left; margin:0px; padding:0px; list-style:none;}
.wt_topNav ul li a {/*border-left: 1px solid #88D501;*/color: #9bc105;float: left;padding: 10px 15px;}
.wt_topNav ul li a:hover{ text-decoration:none; color:#668000;}
/*.wt_last{border-right: 1px solid #88D501;}*/
.wt_search{ float:right;}
.wt_search .wc_srchbtn{ margin:6px 0 0 0;}
.wt_search .wc_search input {border: 0 none;float: left;font-size: 15px;height: 25px;line-height: 25px;margin: 0 5px;width: 194px;}
.wt_topSec {float: left;margin-top: 10px;}
.wt_logo{ float:left;margin: 50px 0px 0 48px;}
.wt_pupSec{ float:left;}
.wt_leftArw{ float:left;margin-top: 50px;}
.wt_stryBox {
margin-left:48px;
float: left;
background: #E8F8A8;
width: 396px;
border-radius: 5px;
font-size: 17px;
}
.wt_stryBox h2 {
float: left;
width: 96%;
color: #668000;
font-size: 17px;
text-align: center;
margin: 10px 9px;
text-transform: uppercase;
}
.wt_pointsBox {
float: left;
margin: 0 12px 12px 12px;
}
.button_wt.knwBtn_wt{background-position: 154px;margin-top: 40px;margin-bottom: 40px;margin-left: 277px;}
/*.wt_stryBox ul{ float:left; margin:0px; padding:0px 20px;}
.wt_stryBox ul li {float: left;width: 100%;font-size: 17px;margin-bottom: 7px;font-weight: bold;padding: 0px;color: #668000;text-transform: uppercase;letter-spacing: 0px;}
list-style: none;
text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/

.wt_Story {
float: left;
margin-top: 13px;
margin-left: 0px;
}
div.wt_reaBox {
float: left;
}
.wt_midSec{float: left;margin-top: 50px;}
.wt_leftMid{ float:left;}
.wt_rytMid{ float:left;width: 315px;margin: 125px 0 0 60px;}
.wt_grnStrip {float: left;background: #09ff16;width: 300px;height: 41px;-ms-transform: rotate(170deg);-webkit-transform: rotate(170deg);transform: rotate(170deg);position: relative;z-index: -1;}
.wt_pinkStrip {float: left;background: #ff005a;width: 300px;margin-top: -30px;color: #fff;font-size: 23px;padding: 7px;text-align: center;}
.wt_bottomSec{float: left;margin-top: 50px; width:100%; background:#888;}
.wt_tabSpace{ width:40px; float:left; height:200px;}
.wt_tabs {float: left;text-align: center;margin: 40px 0;}
.wt_tab_box {float: left; background:#fff;width: 297px;}
.wt_tab_box.wt_tab2{ background:#e8f8a8;}
.wt_tab_box h2 {color:#f89e1d;font-size: 25px;display: table-cell;width: 297px;vertical-align: middle;height: 60px;text-align: center;padding: 5px 30px;}
.wt_tabHead{ float:left; width:100%;margin: 10px 0 0 0;
border-top: 1px dashed #f89e1d; text-align:center;}
.wt_tabImg {float: left;width: 100%;margin: 0px 0;}
.wt_tabTxt {display: table-cell;padding: 0px 50px;font-size: 22px;line-height: 30px;vertical-align: middle;height: 140px;}
.wt_tabBtn a{float: left;background: #f89e1d;padding: 8px 30px;margin: 15px 0 30px 65px;font-size: 18px;border-radius: 3px;color: #fff;text-transform: uppercase;}
.wt_tabBtn a:hover{ background:#E08404; color:#fff; text-decoration:none;}
.wt_whatBox{ float:left; font-size:15px;}
.wt_whatBox h2 {font-size: 24px;margin: 10px 0;float: left;width: 100%;}
.wt_whatBox p {font-size: 17px;line-height: 24px;}
.wt_whatBox ul li{ margin-left:30px;line-height: 20px;}
.wt_infoBox{ float:left;width: 100%;margin-top: 25px;}
.wt_whatTxt {float: left;width: 100%;}
.wt_whatImg{ float:right;}
.wt_whatTxt p {font-size: 17px;line-height: 24px;}
.wt_whatImg {float: left;margin-left: -26px;}
.wt_howBox{ float:left;margin-top: 20px;}
.wt_idArw {position: absolute;right: -45px;background: #ff005a;width: 100px;padding-top: 37px;text-transform: uppercase;font-size: 20px;color: #fff;top: -10px;text-align: center;height: 63px;border-radius: 50%;}
.wt_calArw {position: absolute;right: 189px;background: #09ff16;width: 100px;padding-top: 37px;text-transform: uppercase;font-size: 20px;color: #fff;top: 154px;text-align: center;height: 63px;border-radius: 50%;}
.wt_rytArw {position: absolute;top: 54px;right: 2px;z-index: 9;}
.wt_lftArw {position: absolute;right: 199px;top: 135px;z-index: 9;}
.wt_tagLine {float: left;background: #ECECEC;padding: 21px;width: 251px;font-weight: bold;color: #857D7D;margin: 79px 0 0 0;text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
margin-left: 20px;font-size: 18px;letter-spacing: 2px;text-transform: uppercase;}
.wt_tagAll{ float:left; position:relative;}
/*.wt_leftHow{ float:left; width:650px;}
.wt_leftHowBox{ float:left; margin-right:20px; width:300px}
.wt_rytHow{ float:left; width:300px;}
.wt_leftHowBox {
float: left;
margin-right: 20px;
text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
width: 265px;
text-transform: uppercase;
line-height: 35px;
letter-spacing: 2px;
background: #ccc;
padding: 20px;
font-size: 18px !important;
}*/
.wt_getInfo {float: left;background: #E8F8A8;padding: 17px;text-transform: uppercase;font-size: 17px;line-height: 28px;color: #668000;font-weight: bold;}
.wt_fillInfo{float: left;background:#F0F0F0;padding: 17px;text-transform: uppercase;line-height: 28px;
font-weight: bold;color: #818181;}
.wt_fillInfo ul li{ font-size:15px; line-height:25px;}
.wt_infoBox1 {
float: left;
width: 96%;
margin-top: 10px;
margin-left: 37px;
}
.wt_infoBox1 .wt_tagAll {
margin-top: 60px;
}

/*faq*/
.wt_faqSec{ float:left; margin-top:30px;}
.wt_faqSec h2{ font-size:25px; text-transform:uppercase;}
ul.wt_faqBox{ float:left; margin:0px; padding:0px; width:100%;}
ul.wt_faqBox li{ background: #f7ffd8; margin:10px 0; border: 1px solid #668000; list-style:none; float:left; color: #668000; width:100%;}
ul.wt_faqBox li .wt_queTxt{background:#E8F8A8; float:left;
font-size: 16px;color: #000;width:100%;border-bottom: 1px solid #668000;}
ul.wt_faqBox li .wt_queTxt label{padding: 8px 12px; float:left;}
ul.wt_faqBox li .wt_ansTxt{padding:8px 15px;font-size: 17px; float:left;width:97%;}
.wt_quesShow, .wt_quesHide {
float: left;
font-size: 24px;
font-weight: bold;color: #fff;
padding: 3px 12px;
background: #849C23;
border-right: 1px solid #668000;
}
.wt_quesHide {padding: 3px 15px;}
.wt_paraBox {
float: left;
width: 630px;
border: 1px solid #668000;
}
.wt_paraBox ul {
float: left;
margin: 0px;
padding: 0px;
}
.wt_paraBox ul li{
display: table-cell;
vertical-align: middle;border-right: 1px solid #668000;
margin: 0px; padding:0;border-bottom: 1px solid #668000;
width: 200px; list-style:none;;
}
.wt_paraHead,.wt_wagPara, .wt_tradPara{ float:left; padding:7px 10px; width:180px;}
.wt_paraHead,.wt_wagPara{border-right: 0px solid #668000; width:194px;}
.wt_paraHead strong, .wt_wagPara strong, .wt_tradPara strong {
font-size: 18px;
}
.ad_dg_btn.wt_actBtn{padding: 8px 20px; background:#f89e1d; text-align:center;}
.ad_dg_btn.wt_actBtn:hover{ background:#E08404}

/*New UI*/
.boon_wt{ background:#ededee; width:100%; float:left;}
.boonBox_wt{ float:left;width: 862px; position:relative;padding: 50px 55px;}
.boon_bg_wt{ background:url(/wagtag/images/tag-bg.png) no-repeat; width:295px; height:295px; float:left;}
div.boon_bg_wt.boonRot_wt2 {
    /* Rotate div */  
    transform: rotate(90deg);  
    -ms-transform: rotate(90deg); /* IE 9 */  
    -webkit-transform: rotate(90deg); /* Opera, Chrome, and Safari */;
    margin-left: 182px;
}
div.boon_bg_wt.boonRot_wt3 {
    /* Rotate div */  
  transform: rotate(70deg);  
  -ms-transform: rotate(70deg); /* IE 9 */  
  -webkit-transform: rotate(70deg); /* Opera, Chrome, and Safari */;
  
 margin-left: 106px;
  
 margin-top: -81px;
}
div.boon_bg_wt.boonRot_wt4 {
    float: left;
    /* Rotate div */  transform: rotate(7deg);  -ms-transform:rotate(7deg); /* IE 9 */  
    -webkit-transform: rotate(-90deg); /* Opera, Chrome, and Safari */;
    margin-top: -80px;
    margin-left: 159px;
}
.boonTxt_wt{ float:left;width: 862px;padding: 50px 55px; position:absolute;}
.boonCon_wt {
width: 208px;
height: 128px;
float: left;
line-height: 39px;
font-size: 27px;
text-align: center;
}
div.boonCon_wt.boontxt_Con_wt1 {
    padding:105px 46px 46px 46px;
}
div.boonCon_wt.boontxt_Con_wt2 {
    padding: 81px 46px;
    margin-left: 168px;
}
div.boonCon_wt.boontxt_Con_wt3 {
    padding: 14px 146px;
}
div.boonCon_wt.boontxt_Con_wt4 {
    padding: 14px  0 0 99px;
}
.boonTxt_wt h3 {
position: absolute;
font-size: 32px;
color: #000;
font-weight: normal;
margin:130px 0 0 355px;
width: 212px;
text-align: left;
line-height: 47px;
}
.button_wt {
background: url(/wagtag/images/btn-arw.png) no-repeat 174px 10px #f89e1d;
border-radius: 5px;
padding: 10px 43px 10px 22px;
font-size: 20px;
color: #fff;
float: left;
margin: 0px 0 50px 367px;
text-transform: uppercase;
}
.tagInfo_wt{ float:left; width:100%;padding: 50px 0;}
div.tagImgs_wt {
    float: left;
    width: 347px;
    margin-left: 50px;
}
div.tagFront_wt {
    float: left;
}
div.tagBack_wt {
    float: right;
    margin-top: -80px;
}
div.tagSpec_wt {
float: left;
border-radius: 5px;
width: 352px;
font-size: 27px;
background: #f89e1d;
color: #fff;
padding: 40px;
margin-left: 90px;
margin-top: 42px;
text-transform: uppercase;
text-shadow: 2px 1px saddlebrown;
}
div.tagAbt_wt {
float: left;
text-align: center;
font-size: 22px;
margin: 30px 48px;
width: 883px;
line-height: 34px;
}
div.button_wt.buttonAct_wt { margin-bottom:0px;
background-position: 209px;
}
.tagActivate_wt{ float:left; width:100%; background:#d1232a; position:relative;}
div.headAct_wt {
    float: left;
    margin-top: 293px;
}
div.tagActBox_wt {
    float: left;
    padding:10px 50px;
    width: 872px;
}
div.prodAct_wt {
    float: left;
}
div.tagActTxt_wt {
    position: absolute;
    margin-left: 262px;
    margin-top: 227px;
    width: 668px;
}
div.getTxt_wt {
    float: left;
    width: 230px;
    text-align: center;
    font-size: 26px;
    padding: 10px 52px;
    color: #555;
    margin-right: 200px;
}
div.profileTxt_wt {
    float: left;  
    width: 250px;  text-align: center;  
    font-size: 26px;
padding: 18px 52px;
    margin-top: 36px;
    color: #555;
    margin-left: 255px;
}
.buttonLost_wt{background-position: 126px;}
.lostTag_wt{ float:left; width:100%; background:#ededee;}
.lostTagBox_wt{float: left;position: relative;padding: 50px;width: 872px;}
div.lostHead_wt {
    float: left;
}
div.lostProc_wt {
    float: right;
    margin-top: -128px;
}
div.lostTxtBox_wt {
    position: absolute;
    margin-left: 223px;
    margin-top: 354px;
}
div.finderTxt_wt {
    float: left;
    width: 250px;
    font-size: 27px;
    text-align: center;
    padding: 105px 57px 0 57px;
}
div.connectTxt_wt {
    float: left;  
    width: 275px;  font-size: 27px;  text-align: center;  
    padding: 40px 12px;
    transform: rotate(-13deg);  
    -ms-transform: rotate(9-13deg0deg);  
    -webkit-transform: rotate(-13deg);
}
div.button_wt.buttonGet_wt {
background-position: 228px;
}
div.buyBox_wt {
    float: left;
    width: 872px;
    padding: 50px;
}
div.buyHead_wt {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 56px;
}
div.buyHeadline_wt {
    float: left;  width: 100%;  text-align: center;  
    font-size: 24px;
}
div.buyImg_wt {
    float: left;
    padding: 50px;
    margin-left: 98px;
}
div.buyPrice_wt {
float: left;
padding:98px 0 0 50px;
width: 214px;
}
div.buyPrice_wt p {
float: left;
font-size: 18px;
text-align: left;
margin-bottom: 16px;
}
div.price_wt {
    float: left;margin-bottom: 20px;
}
div.price_wt img {
    float: left;
}
div.price_wt span {
    float: left;
font-size: 58px;
margin: -20px 10px;
}
div.price_wt.mrp_wt {
    float: left;
    width: 100%;
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 10px;
}
div.price_wt.mrp_wt span {
    font-size: 28px;
    margin: -11px 11px;
}
.button_wt.buyBtn_wt {
background-position: 131px;margin-bottom: 0px;}
.wt_pointsBox .wt_paraBox {
    width: 370px;color: #668000;
}
.wt_pointsBox .wt_paraBox ul li .wt_paraHead strong,.wt_pointsBox .wt_paraBox ul li .wt_wagPara strong,.wt_pointsBox .wt_paraBox ul li .wt_tradPara strong {
font-size: 13px;
}
.wt_pointsBox .wt_paraBox ul li div.wt_paraHead {
    font-size: 13px;padding: 4px 10px;width: 140px;padding: 4px 0px;
width: 70px;
}
div.wt_paraImg {
float: left;
padding: 13px 7px;
}
.wt_pointsBox .wt_paraBox ul li .wt_paraHead,.wt_pointsBox .wt_paraBox ul li .wt_wagPara {}
.wt_pointsBox .wt_paraBox ul li .wt_paraHead, .wt_pointsBox .wt_paraBox ul li .wt_wagPara, .wt_pointsBox .wt_paraBox ul li .wt_tradPara {
    width: 100px;  font-size: 13px;
}
.wt_pointsBox .wt_paraBox ul li .wt_wagPara {
width: 103px !important;text-align: center;
}
div.knwBtnFull_wt {
background: rgb(43, 43, 43);
float: left;
width: 100%;
margin-top: 33px;
}
.wt_pointsBox .wt_paraBox ul li .wt_paraHead strong {
margin-left: 7px;
}
div.wt_paraImg.headImg_wt {
padding: 5px 2px;
float: right;
}
.wt_pointsBox .wt_paraBox ul li{ width:123px;}
div.wt_paraImg1 {
width: 104px;
text-align: center;
float: left;
}
div.wt_cycle.wt_whatBox {
width: 100%;
}
div.wt_cycle.wt_whatBox h2 {
text-align: center;
margin-top: 0;
font-size: 26px;
background: #555;
color: #fff;
padding: 10px 0;
} 
div.wt_cycle.wt_whatBox img{ float:left; margin-left:40px;}
div.button_wt.btnAbtKnw_wt {
margin-left: 322px;
background-position: 318px;
}
a.button_wt.buyBtn_wt:hover {
text-decoration: none;
color: #fff;
background-color: #E08404;
}
div.wt_activateNow {
    float: left;
    width: 100%;
    background: rgb(43, 43, 43);
    padding: 40px 0;
    color: #fff;
}
div.actiNowTxt_wt {
    float: left;
}
a.button_wt.actNowBtn_wt {
    margin: 0px;
}
div.actiNowTxt_wt label {
    float: left;
    font-size: 33px;
    margin-right: 91px;
    margin-left: 127px;
}
a.button_wt.actNowBtn_wt:hover{
text-decoration: none;
color: #fff;
background-color: #E08404;}
div.linkwt_newWc {
    float: left;
    width: 300px;
    margin: 35px;
}
div.linkwt_newWc a {
    color: #fff;
    width: 300px;
    float: left;
    padding: 3PX;
    font-size: 15px;
}