@charset "utf-8";
*body {
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
}
p, h1, h2, h3, h4, h5, h6, form, ul, li, img {
	margin:0;
	padding:0;
	border:none;
}
#newFooter{
	width:100%;
	padding:0;
	margin:0;
	background:#666;
}
#footerGreen{
	width:940px;
	overflow:auto;
	background:#81a00c;
	padding:5px 20px;
	margin:auto;
}
#footerGreen p{
	font-size:12px;
	line-height:18px;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
}



#footerContent{
	width:940px;
	overflow:auto;
	background:#362c23;
	padding:10px 20px;
	margin:auto;
	padding-bottom:0 !important;
}
#footerContent_left{
	width:685px;
	float:left;
}
#footerContent_right{
	width:255px;
	float:right;
}





/* ----------- footer----------- */
.footerContainer {
	margin-bottom:10px;
	float:left;
}
.footerContainer ul {
	list-style-type:none;
	float:left;
	width:150px;
}
.footerContainer li {
	text-align:left;
	font-size:12px;
	line-height:25px;
	display:block;
	margin-right:20px;
	font-family:Arial, Helvetica, sans-serif;
}
.footerContainer li a {
	color:#fff;
	text-decoration:none;
}
.footerContainer li a:hover {
	color: #999;
}
.footerContainer h3 {
	text-align:left;
	color: #a9d701;
	font-size:14px;
	font-weight:normal;
	display:block;
	margin-bottom:10px;
	font-family:Arial, Helvetica, sans-serif;
}

#feedbackContainer{
	border-radius:5px;
	padding:10px;
	background:#494542;
	width:235px;
	margin-bottom:10px;
}
.happyClients{
	margin-bottom:20px;
}
.happyClients h3{
	color: #a9d701;
	font-size:18px;
	font-weight:normal;
	margin-bottom:10px;
	font-family:Arial, Helvetica, sans-serif;
}
.happyClients p{
	color: #fff;
	font-size:12px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	line-height:18px;
	margin-bottom:5px;
}
.happyClients span{
	color: #999;
	font-size:12px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
}
.happyClients a{
	color: #fff;
	text-decoration:underline;
	font-family:Arial, Helvetica, sans-serif;
}


.feedback{
	margin-bottom:18px;
}
.feedback h3{
	color: #a9d701;
	font-size:18px;
	font-weight:normal;
	margin-bottom:10px;
	font-family:Arial, Helvetica, sans-serif;
}
.feedback label{
	font-size: 13px;
	width:100%;
	display: block;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
}
.feedback input{
	float:right;
	width:150px;
	height:22px;
	padding:0 5px;
}
.feedback textarea{
	float:right;
	width:150px;
	padding:0 5px;
}
.feedback img{
	vertical-align:middle;
	margin-left:71px;
}

.divideLine{
	padding:10px;
	border-radius:20px;
	margin:0 10px 10px 0;
	background:#75726f;
	height:80px;
}
.divideLine_inner{
	float:left;
	width:31.5%;
	padding:0 5px;
}
.divideLine_heading{
	font-size:16px;
	color:#fff;
	font-weight:normal;
	text-align:center;
	margin-bottom:10px;
	font-family:Arial, Helvetica, sans-serif;
}