
* html body{margin:0px; padding:0px;}
body{margin:0px; padding:0px; text-align:center; font:12px Arial; background-color:#fff; behavior: url(/new/css/csshover.htc);}
body a{text-decoration:none; color:#000; outline:none;}
body a:hover{text-decoration:underline; color:#666; outline:none;}
textarea {resize: none;}

img {border:0}
h1 a{ font:bolder 20px arial; color:#4b3a15; text-decoration:none;}
h1{ font:bolder 20px arial; color:#4b3a15; text-decoration:none;}
h1 a:hover {text-decoration:none;}

h4 {font:bolder 12px arial; color:#000;}
h5 {font:bolder 16px arial; color:#867654;}
/* general */
h1,h2, h3, h4, h5, h6, form, div, table, dt, dd, dl {margin:0px; padding:0px;}

.fl{float:left;}
.fr{float:right;}
.cb{clear:both}
.vs5{height:5px; overflow:hidden;}
.vs2{height:2px; overflow:hidden;}
.vs3{height:3px; overflow:hidden;}
.vs10{height:10px; overflow:hidden;}
.vs15{height:15px; overflow:hidden;}
.vs13{height:13px; overflow:hidden;}
.vs20{height:20px; overflow:hidden;}
.vs30{height:30px; overflow:hidden;}
.vs40{height:40px; overflow:hidden;}
.vs55{height:55px; overflow:hidden;}
.vs80{height:80px; overflow:hidden;}
.vs140{height:140px; overflow:hidden;}
.vs160{height:160px; overflow:hidden;}
.pt5{ padding-top:5px;}
.pt10{padding-top:10px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pb5{padding-bottom:5px;}
.pb2{padding-bottom:2px;}
.pl10{padding-left:10px;}
.pb10{padding-bottom:10px;}
.mB20{margin-bottom:20px;}
.mr20{margin-right:20px;}
.mr5{margin-right:5px;}
.mr18{margin-right:18px;}
.mr10{margin-right:10px;}
.m10{margin-left:10px;}
.ml5{margin-left:20px;}
.m30{margin-left:30px;}
.pa10{padding:10px;}
.pa4{padding:4px;}
.mt20{margin-top:20px;}
.mt16{margin-top:16px;}
.mt10{margin-top:10px;}
.mt5{margin-top:5px;}
.mb15{margin-bottom:15px;}
.mb10{margin-bottom:10px;}
.hrline {border-top:1px dashed #969696;}
.hrlineSolid {border-top:1px solid #dad9d7;}
.w320{ width:320px;}
.w152{width:152px;}
.h152{width:105px;}
.tac{text-align:center;}
.tal{text-align:left;}
.dn{ display:none;}
.db{ display:block;}
.bls{border-left:1px solid #cccccc;}
.tgreen{ color:#84A40D;}
.bs{border: 1px solid #cccccc;}
.radall{-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
.shadowall{-moz-box-shadow: 2px 2px 2px #d4d4d4; -webkit-box-shadow: 2px 2px 2px #d4d4d4; box-shadow: 2px 2px 2px #d4d4d4;}
/* general */

/*header */
.cont980{width:972px; margin:0 auto; text-align:left; padding: 0px 4px 0px 4px;}

a.viewall {color:#9fbe3f; text-decoration:none; display:block; color:#889908; font:bolder 12px arial; }
a.viewall:hover{color:#000; text-decoration:none;}



/*slideshow */
.cont660 {width:660px; margin-right:12px; float:left;}
.cont300 {width:300px; float:left;}
.cont290 {width:280px; float:left;}
img.border { border:1px solid #656567;}
ul.slide {margin:0px; padding:0px; list-style-type:none; list-style:none;}
ul.slide li { display:block; float:left; padding-right:15px; border-right:1px solid #dad9d7; font:12px Arial, Helvetica, sans-serif; color:#675e5b;  margin-right:15px; width:171px; text-align:center;}
ul.slide li a.link { color:#666;  text-decoration:none; display:block; margin-bottom:5px; }
ul.slide li a:hover {text-decoration:none; display: block;}
ul.slide li h2 {font:bolder 14px Arial; color:#7f9f0b; margin-bottom:5px; text-align:center;}
ul.slide li h2 a {color:#867b62;}
ul.slide li h2 a:hover {color:#7f9f0b;}
ul.slide li.last {border-right:0px;}
ul.slide li.arrow { width:70px; border-right:0px; padding-top:40px; padding-right:0px; margin-right:0px; margin-left:20px;}
a.viewmore { font:bolder 12px Arial, Helvetica, sans-serif; color:#9fbe3f;text-decoration:none; }
a:hover.viewmore {text-decoration:none; color:#9fbe3f; }
/*home tabs*/

ul.hometabs{ margin:0px; padding:0px; list-style:none;}
ul.hometabs li{ float:left; margin-right:9px; background:url(/new/pix/tab_normal_bg.gif) repeat-x; float:left; height:81px; overflow:hidden}
ul.hometabs li span{ display:block; background:url(/new/pix/normal_bgright.gif) top right no-repeat; height:81px;}
ul.hometabs li span a {font:14px Arial; color:#000; display:block; text-decoration:none; padding:0px 20px 0px 20px;}
ul.hometabs li span a:hover {text-decoration:none; }
ul.hometabs li.active {background:url(/new/pix/tab_lileft_bg.gif) no-repeat; float:left; height:81px; width:214px;}
ul.hometabs li.active span{background:url(/new/pix/tabspan_bgright.gif) top right no-repeat;}
ul.hometabs li span a b{ display:block; margin-bottom:5px; font-size:20px; color:#4b4b4b; font-weight:bolder; padding-top:30px; line-height:18px;}

ul.hometabs li.active a {background:url(/new/pix/tab_ahref_bg.gif) no-repeat; background-position:28px 0px;}
ul.hometabs li.active a  b{ color:#000;}

/*home tabs*/

/* three columns */
h3 { font:bolder 22px Arial, Helvetica, sans-serif; color:#84a40d; padding-bottom:5px; line-height:22px;}
h3 a {font:bolder 22px Arial, Helvetica, sans-serif; color:#84a40d; text-decoration:none;}
h3 a:hover {color:#867b62; text-decoration:none;}
h2 {font:bolder 12px Arial, Helvetica, sans-serif; color:#7f9f0b; text-align:left; }
h2 a {color:#46433d;}
h2 a:hover {color:#867b62;}
.caption {font:11px Tahoma; color:#757575; padding-top:5px;}
.caption a { font:11px Tahoma; color:#84a40d; text-decoration:underline;}
.caption a:hover {color:#867b62;}
a.viewall {color:#9fbe3f; text-decoration:none; display:block; color:#889908; font:bolder 12px arial; }
a.viewall:hover{color:#000; text-decoration:none;}

.col280{ width:280px; float:left; margin-right:20px; padding-right:20px;  border-right:1px solid #b2b2b2;}
.imgtxtcont {padding-bottom:1px; margin-bottom:10px; border-bottom:1px solid #dcdcdc;}
.imgtxtcont1 {padding-bottom:1px; margin-bottom:10px; border-bottom:1px solid #dcdcdc;}
/*for testemonial starts.............................................................*/
.imgtxtcont2 {padding-bottom:1px; margin-bottom:10px; border-bottom:1px solid #dcdcdc;}
/*for testemonial ends.............................................................*/
.imgtxtcont.last {border:0px;}
.imghold {float:left; width:30px; height:30px; margin-right:10px; margin-top:3px;}
.txthold { float:left;  width:222px; }
.txthold img { margin-left:10px; margin-bottom:3px;}
.txthold p{ margin-bottom:10px;}

/*for png images in ie6*/
img, div{ behavior: url(/new/css/iepngfix.htc) }

/*begin checkout  */
.checkOut239 {width:239px; float:left; margin-right:12px;}
.checkOut292 {width:292px; float:left;}
.beginCheckOut { font:14px Arial; color:#4b3a15; padding:15px; border:1px solid #ccc; background-color:#fff; height:100%; overflow:hidden;}
.beginCheckOut p {color:#4b3a15; position:relative; z-index:0;}
.beginCheckOut p a {font:13px arial; color:#4b3a15; text-decoration:underline;}
.beginCheckOut p a:hover {font:13px arial; color:#4b3a15; text-decoration:none;}
.beginCheckOut h4 {color:#000000; font:bolder 20px arial; margin-bottom:10px; line-height:26px; position:relative; z-index:0;}
.beginCheckOut h4 a {font:bolder 20px arial; color:#e77200; text-decoration:none;}
.beginCheckOut h4 a:hover {text-decoration:none; color:#867b62;}
.nobold{font-size: small;}

/* begin checkout form */
.beginCheckOut label{font-weight:bolder; color:#3b3b3b; line-height:17px;}
.beginCheckOut label span{ color:#FF0000;}
.beginCheckOut input{ font:12px arial; color:#7f7f7f; margin-top:7px;  border:1px solid #ccc; padding-left:3px; padding-top:1px; height:23px;}
.beginCheckOut label.checkOut {margin-right:10px; width:80px; text-align:right; float:left; margin-top:5px;}
.beginCheckOut input.checkOut{ font:12px arial; color:#7f7f7f; width:209px; margin-top:0px; height:23px; border:1px solid #ccc; padding-left:3px; padding-top:1px; float:left;}
.beginCheckOut input.filedw{ width:98%;}
.beginCheckOut select { font:12px arial; color:#7f7f7f; width:213px;  height:27px; border:1px solid #ccc; padding-top:4px;}
.beginCheckOut input.checkbox {width:14px; margin-right:10px; height:18px; margin-right:10px; margin-top:0px; float:left; border:0;}
.beginCheckOut label.checkbox {margin:0; font-weight:none; color:#505050; font:12px arial; float:left; }
.beginCheckOut input.radiobox {width:20px; margin-top:0px; float:left; height:18px; border:0;}


table.reviewYourOrder { text-align:center; border-color: #505050;
    border-width: 0 0 1px 1px;
    border-style: solid;  }
table.reviewYourOrder th {font:bolder 14px arial; color:#3b3b3b;  border-color: #505050;
    border-width: 1px 1px 0px 0px;
    border-style: solid; padding:5px;}
table.reviewYourOrder td { font:14px arial; color:#3b3b3b; border-color: #505050;
    border-width: 1px 1px 0 0;
    border-style: solid;
    margin: 0;
    padding: 10px;
    }
table.reviewYourOrder input{border:1px solid #ccc; margin-bottom:7px;}

table.reviewYourOrder2 {text-align:right;}
table.reviewYourOrder2 td {font:bolder 14px arial; color:#4c4c4c; padding-bottom:5px; padding-top:5px;}
table.reviewYourOrder2 td span {font:bolder 14px arial; color:#707070; }

/* pop up */
.popUp710 {border:4px solid #97ba19; padding:5px 15px 40px 15px; width:710px;}
.error{ color: #F00;}
input.error{border: 1px solid #F00;}
label.error{color: #F00;}

/*login */
.loginCont614 {width:614px; margin-right:12px; float:left;}
.loginCont614 h1 { font:bolder 30px arial; color:#262626;}
.loginCont614 h1 a{ font:bolder 30px arial; color:#ff5f08; text-decoration:none;}
.loginCont614 h1 a:hover{color:#ff5f08; text-decoration:none;}

.loginImgHold {width:12px; float:left; margin-right:10px;}
.loginImgHold img {display:block; margin-top:4px; margin-bottom:31px;}

.loginTextHold {width:320px; float:left;}
.loginTextHold a {display:block; color:#4b3a15;}
.loginTextHold a:hover {text-decoration:none; color:#4b3a15;}
.loginTextHold h2 {color:#3a3b38;}
.loginTextHold h2 a {font:bolder 16px arial; color:#3a3b38; text-decoration:none;}
.loginTextHold h2 a:hover {color:#3a3b38; text-decoration:none;}
.loginTextHold p{color:#3d3013; margin-bottom:10px;}
iframe{ border:0; border-color:#FFF; overflow:auto;};

/*registration */
.registerCont578 {width:578px; margin-left:auto; margin-right:auto; color:#3b3b3b;}
.registerCont578 a { text-decoration:underline;}
.registerCont578 a:hover { text-decoration:none;}
.registerCont578 .padding {padding:20px; border:1px solid #ccc; background-color:#fff; height:100%; overflow:hidden;}
.registerCont578 h4 {color:#000000; font:bolder 20px arial; margin-bottom:10px; line-height:26px; }
.registerCont578 h4 a {font:bolder 20px arial; color:#e77200; text-decoration:none;}
.registerCont578 h4 a:hover {text-decoration:none; color:#867b62;}
.registerCont578 h1 {color:#000000; font:bolder 20px arial; line-height:26px; }
.registerCont578 h1 a {font:bolder 20px arial; color:#e77200; text-decoration:none;}
.registerCont578 h1 a:hover {text-decoration:none; color:#867b62;}
.registerCont578 h2 {color:#000000; font:bolder 14px arial; line-height:16px; }
.registerCont578 h3 {color:#3B3B3B; font:bolder 12px arial; line-height:16px; }
.registerCont578 label {width:168px; float:left; color: #3B3B3B; line-height: 17px; font:bolder 14px arial; margin-right:20px; text-align:right;}
.registerCont578 label span {color:#FF0000;}  
.registerCont578 input {float:left; font:12px arial; color:#7f7f7f; border:1px solid #ccc; padding-left:3px; padding-top:1px; height:23px;}
.registerCont578 select { width:333px; float:left; font:12px arial; color:#7f7f7f; border:1px solid #ccc; padding-left:3px; padding-top:1px; }

/* articles */

/* text */
.caption1 {font:11px Tahoma; color:#757575; padding-top:0px;}
.caption1 a { font:11px Tahoma; color:#a33b00; text-decoration:underline;}
.caption1 a:hover {color:#867b62; text-decoration:none; }
a.read{font:11px Tahoma; color:#84a40d; text-decoration:none; }
a:hover.read {color:#867b62; text-decoration:none;}

ul.category{ list-style-type:none; margin:0; padding:0; float:left; width:132px;}
ul.category li{ display:block;}
ul.category li a{ display:block; color:#757575; margin-bottom:8px;}

h1 a.articles{ font:bolder 22px arial; color:#46433d; text-decoration:none;}
h1 a:hover.articles {text-decoration:none;}
.grey_text{ color:#46433d; line-height:18px;}
h2 a.articles1{ font:bolder 14px arial; color:#575757; text-decoration:none;}
h2 a:hover.articles1 {text-decoration:none; color:#46433d;}
.green_text { font:12px arial; color:#6e8909;}

.articlesCommentBoxTop {background:url(../pix/articles/articles_commentbox_top.gif) no-repeat; height:32px;}
.articlesCommentBoxMid {background:url(../pix/articles/articles_commentbox_mid.gif) repeat-y; }
.articlesCommentBoxBottom {background:url(../pix/articles/articles_commentbox_bottom.gif) no-repeat; height:15px;}

.pageBody p { 	margin-top: 10px;	margin-bottom: 10px;}
.pageBody ul li{	margin-right: 20px;	margin-left: 20px;}
/* articles */

/*breadcrumb */
.breadcrumb{background:url(/new/pix/breadcrumb_bg.gif) repeat-x; overflow:hidden; height:25px; padding-top:5px; margin-bottom:20px;}
.breadcrumb a {font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#666; text-decoration:none; line-height:20px;}
.breadcrumb a:hover {text-decoration:underline; color:#999;}


/* Q&A */
.q_a_GreenStrip {background:url(../pix/qa_greenstrip_bg.gif) top repeat-x; color:#ccdf73; padding:10px 0px 10px 0px; }
.answersCont295{width:295px; float:left; padding-right:20px; border-right:1px solid #b1aeae; margin-right:20px;}
.answersCont295 input{ border:1px solid #ccc; color:#666; padding:3px; margin-bottom:19px;}
.answersCont660 {width:660px; background:url(../pix/q&a_cont660.gif) repeat-x; border:1px solid #e4e4e4;}
ul.featured_answer{margin:0; padding:0; list-style-type:none;}
ul.featured_answer li{ float:left; margin-right:5px; border:1px solid #ccc; background:url(../pix/featured_ans_bg.gif) no-repeat;}
ul.featured_answer li.active{ float:left; margin-right:5px; border:1px solid #ccc; background-color:#fff; background-image:none; }
ul.featured_answer li a {font:12px arial; color:#535353; padding:5px;}
ul.featured_answer li a:hover { text-decoration:none;}

ul.category{ list-style-type:none; margin:0; padding:0; float:left; width:132px;}
ul.category li{ display:block;}
ul.category li a{ display:block; color:#757575; margin-bottom:8px;}
.textWrite { 	width: 99%;	padding: 3px;}

/*events*/
.black_strip {background:#232117; padding:5px 0px 10px 0px; font:bolder 12px Arial, Helvetica, sans-serif; color:#fff;}
.black_strip h1 {font:bold 34px Arial, Helvetica, sans-serif; color:#fff;}
.black_strip h2 {font:bold 14px Arial, Helvetica, sans-serif; color:#fff;}
.black_strip select {width:185px; border:1px solid #585858; padding:3px; font:12px Arial, Helvetica, sans-serif; color:#585858; margin:0px 5px 0px 5px;}
.photo_gallery_cont460 {width:460px; float:left; }
.black_strip_cont250 {width:200px; float:left; border-left:1px solid #b8b8b4; border-right:1px solid #b8b8b4; padding-left:15px; padding-right:15px; margin-right:25px; margin-left:70px; margin-top:1px;}
.black_strip_cont250 h2 {font:bolder 16px Arial, Helvetica, sans-serif !important;}
.black_strip_cont250 a {font:16px Arial, Helvetica, sans-serif!important; color:#fff!important;}
.black_strip_cont250 p {font:16px Arial, Helvetica, sans-serif!important; color:#fff!important; font-weight:normal!important;}
.black_strip_cont185 {width:185px; float:right; }
.photo_gallery_cont378 {width:378px; float:right;}
ul.gallery_thumb {list-style:none; margin:0; padding:0;}
ul.gallery_thumb li{float:left; margin-right:8px;}
ul.gallery_thumb li.last{ margin-right:0px;}
.photo_gallery_cont700 {float:left; width:700px; margin-right:20px;}
.photo_gallery_cont250 {float:left; width:250px; margin-top:10px;}
.photo_gallery_cont240 {float:right; width:240px;}
ul.gallery_post {list-style:none; margin:0; padding:0;}
ul.gallery_post li{float:left; margin-right:5px; border-right:1px solid #565656; font:12px Arial, Helvetica, sans-serif; color:#565656; padding-right:5px;}
ul.gallery_post li.last {margin:0; padding:0; border:0;}

.gallery_description {font:12px/16px Arial, Helvetica, sans-serif; color:#565656;}
ul.description {list-style:none;margin:0; padding:0;}
ul.description li {margin-bottom:5px;}
.auto_scroll { height:450px; overflow:auto;}

.photo_gallery_recent_added {border-top: 0px solid #DAD9D7; margin-top:12px;}

.events_land_cont318 {float:left; width:318px; margin-right:29px;}
.events_land_cont318 ul {list-style:none; margin:0; padding:0;}
.events_land_cont318 ul li {float:left; margin-right:22px;}
.events_land_cont318 ul li.last {margin:0px;}
.events_land_cont280{width:280px; float:left;}

.events {margin-top:50px;}
.events h3 { font:bolder 16px Arial, Helvetica, sans-serif; color:#84a40d; padding-bottom:15px; line-height:22px;}
.events h3 a {color:#84a40d; text-decoration:none;} 
.events h3 a:hover {color:#867b62; text-decoration:none;}

ul.dog_shows_results {list-style:none; margin:0; padding:0; height:240px; overflow:auto;}
ul.dog_shows_results li {margin-bottom:5px; padding-bottom:5px; border-bottom:1px solid #DAD9D7; height:35px;}
ul.dog_shows_results li span.left {float:left; width:30px; font:bolder 18px/18px Arial, Helvetica, sans-serif; color:#46433d;}
ul.dog_shows_results li span.right {float:right; width:232px;}
ul.dog_shows_results li span.right h2{color:#867b62; padding-bottom:5px;}
ul.dog_shows_results li span.right p{color:#757575;}
.grey_text {font:bolder 16px Arial, Helvetica, sans-serif; color:#666;}
.grey_text a {color:#84A40D; text-decoration:underline;}
.grey_text a:hover {text-decoration:none;}

ul.handlers {list-style:none; margin:0;}
ul.handlers li {float:left; width:115px; margin-right:19px; color:#867B62; margin-left:19px;}
ul.handlers li.enthus {width:115px; margin-right:23px; color:#867B62; margin-left:0;}
ul.handlers li.last {margin:0;}
ul.handlers li h2 {font:bolder 12px Arial, Helvetica, sans-serif; color:#867B62; padding-bottom:5px;}
ul.handlers li h2 a {font:bolder 12px Arial, Helvetica, sans-serif; color:#867B62; }
ul.handlers li.arrow {width:25px; margin:0; padding:0; border:none; margin-top:50px;}
ul.handlers li p {margin-bottom:8px;}

.events_land_cont480 {float:left; width:480px;}
.events_land_cont718 {float:left; width:718px; margin-right:24px;}
.events_land_cont230 {float:left; width:230px;}
.events_land_cont280 {float:right; width:280px;}
.events_land_cont300 {float:left; width:300px; margin-top:3px;}
.events_land_cont300 ul {list-style:none; margin:0; padding:0;}
.events_land_cont300 ul li {font:12px Arial, Helvetica, sans-serif; color:#6c850d; border-right:1px solid #989898; margin-right:5px; padding-right:5px; float:left;}
.events_land_cont300 ul li.last {border:none;}
.events_land_cont300 ul li a { font:12px Arial, Helvetica, sans-serif; color:#6c850d;}

#tabs {
    margin-top:12px;
}
ul.tab_content {list-style:none; margin:0; padding:0;}
ul.tab_content li { height:30px;}
ul.tab_content li.contact {height:55px;}
ul.tab_content li span.left {float:left; width:120px; text-align:right; font:bolder 12px Arial, Helvetica, sans-serif; color:#46433d;}
ul.tab_content li span.right {float:right; width:570px; text-align:left; font:12px  Arial, Helvetica, sans-serif; color:#46433d; }
ul.tab_content li span.cb { clear:both;}
ul.tab_content li a {color:#84a40d;}

#tabs .tspacesmall {
    border-bottom: 1px solid #ccc;
    float: left;
    height: 30px;
    width: 4px;
}

#tabs .tspacelarge{
    border-bottom: 1px solid #ccc;
    float: left;
    height: 30px;
    width: 10px;
}

#tabs .tspace_extra_large{
    border-bottom: 1px solid #ccc;
    float: left;
    height: 30px;
    width: 160px;
}

#tabs span.active{
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	border-top:1px solid #ccc;
    color: #5f5f5f;
    display: block;
    float: left;
    font-weight: bold;
    height: 22px;
    padding-top: 8px;
    text-align: center;
	font:bolder 12px arial; background-color:#fff;
}

#tabs span.active a { font:bolder 12px arial; color: #0b0b0a;}
#tabs span.normal a { font:bolder 14px arial; color: #46433d;}
#tabs span.normal{
    color: #fff;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	border-top:1px solid #ccc;
    display: block;
    float: left;
    font-weight: bold;
    height: 23px;
    padding-top: 7px;
    text-align: center;
    width: 110px;
	font:bolder 16px arial;;
	background-color:#f0f0f0;
}
.topcc{font-size:14px; font-weight:bold; color:#f88000}
/*event */
/* events.css*/
table.shows_result_table {border:1px solid #333333;}
table.shows_result_table td { padding:4px  }
table.shows_result_table td.borderbttm {border-bottom:1px solid #333333;  }
table.shows_result_table td.borderright{border-right:1px solid #333333; text-align:center; }
table.shows_result_table td.green { font-weight:bold; border-right:1px solid #333333; border-bottom:1px solid #fff;  background-color:#c3d486; text-align:center; } 
table.shows_result_table td.dgreen { font-weight:bold; background-color:#a0bb3e;border-right:1px solid #333333; border-bottom:1px solid #fff; text-align:center; }
table.shows_result_table td.last {border-right:none !important;}

ul.dog_gallery {list-style:none; margin:0px; padding:0px}
ul.dog_gallery li {float:left; width:55px; margin-right:12px;}
ul.dog_gallery li.arrow {width:25px; margin:0; padding:0; border:none; margin-top:16px; margin-right:15px;}
ul.dog_gallery li img {margin:0px !important;}
ul.dog_gallery li.last {margin-right:15px;}

.event_cont183 {float:left; border:1px solid #e2e2e2; padding:10px; width:173px; background-color:#fbfbfb;}
.event_cont183 h2 {font-size:14px; font-weight:bold; color:#84A40D;}

ul.events_city {list-style:none; margin:0px; padding:0px;}
ul.events_city li {color:#757575; margin-bottom:5px;}
ul.events_city li a {color:#757575;}


.events_cont500 {float:left; width:500px; margin-left:23px;}
.three_column_imagetextcont {padding-bottom:15px; margin-bottom:15px; border-bottom:1px solid #d1d1d1;}
.three_column_imagetextcont .img_cont {width:147px; margin-right:15px; float:left;}
.three_column_imagetextcont .text_cont {width:225px;float:left; }
.three_column_imagetextcont .text_cont1 {float:right; max-width:110px; font-size:34px; text-align:center; color:#272727;}
.three_column_imagetextcont .text_cont1 span {font-size:14px; display:block;}

ul.past_events {list-style:none; margin:0px; padding:0px;}
ul.past_events li {float:left; border-right:1px solid #ccc; padding-right:30px; margin-right:30px; color:#46433d; width:124px;}
ul.past_events li img {display:block; margin-bottom:10px;}
ul.past_events li h2 {color:#867b62; font:14px Arial, Helvetica, sans-serif; margin-bottom:5px;}
ul.past_events li.last {margin:0px; padding:0px; border:none;}

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

a.ovalbutton{
background: transparent url('/images/oval-blue-left.gif') no-repeat top left;
display: block;
float: left;
font: normal 13px Tahoma; /* Change 13px as desired */
line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
height: 24px; /* Height of button background height */
padding-left: 11px; /* Width of left menu image */
text-decoration: none;

}

a:link.ovalbutton, a:visited.ovalbutton, a:active.ovalbutton{
color: #494949; /*button text color*/
}

a.ovalbutton span{
background: transparent url('/images/oval-blue-right.gif') no-repeat top right;
display: block;
padding: 4px 11px 4px 0; /*Set 11px below to match value of 'padding-left' value above*/
}

a.ovalbutton:hover{ /* Hover state CSS */
background-position: bottom left;
}

a.ovalbutton:hover span{ /* Hover state CSS */
background-position: bottom right;
color: black;
}

a.ovalbuttonOrange{
background: transparent url(/images/oval-orange-left.gif) no-repeat top left;
display: block;
float: left;
height: 0.01%;
font: normal 13px Tahoma; /* Change 13px as desired */
line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
height: 24px; /* Height of button background height */
padding-left: 11px; /* Width of left menu image */
text-decoration: none;

}

a:link.ovalbuttonOrange, a:visited.ovalbuttonOrange, a:active.ovalbuttonOrange{
color: #494949; /*button text color*/
}

a.ovalbuttonOrange span{
background: transparent url(/images/oval-orange-right.gif) no-repeat top right;
display: block;
padding: 4px 11px 4px 0; /*Set 11px below to match value of 'padding-left' value above*/
}

a.ovalbuttonOrange:hover{ /* Hover state CSS */
background-position: bottom left;
}

a.ovalbuttonOrange:hover span{ /* Hover state CSS */
background-position: bottom right;
color: black;
}
/* END*/
#userinfo {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	margin-bottom: 3px;
	background-color: #867B62;
	color: #FFFFFF;
	font-size: 12px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
}
a.userbutton {
	DISPLAY: block;
	PADDING-LEFT: 4px;
	FONT-SIZE: 12px;
	LINE-HEIGHT: 14px;
	PADDING-TOP: 4px;
	background-color: #FFFFFF;
	COLOR: #314973;
	margin-top: -1px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-bottom: 4px;
	/*border: 1px solid #81A00C;*/
}

<!--here css for new event page-->
#mainContainer{
	width:980px;
	background:#fff;
	padding:0;
	margin:auto;
}
.greyContainer{
	background:url(/new/pix/bg-grey.jpg) repeat-x;
	height:130px;
}
.greyContainer h1{
	font-size:20px;
	color:#333;
	padding-top:10px;
	font-weight:normal;
	margin-bottom:15px;
}
.greyContainer h2{
	font-size:20px;
	color:#333;
	padding-top:10px;
	font-weight:normal;
	margin-bottom:15px;
}
.greyContainer h3{
	font-size:20px;
	color:#333;
	padding-top:10px;
	font-weight:normal;
	margin-bottom:15px;
}
.greyContainer select{
	font-size:16px;
	width:270px;
	line-height:30px;
	border:1px solid #999;
}
.greyContainer img{
	padding-right:15px;
}
.greyContainer a{
	text-decoration:none;
	color:#000;
}



.matterContainer{
	/*overflow:auto;*/
	clear:both;
	min-height:500px;
}
.matterContainer h1{
	font-size:18px;
	color:#666;
	padding-top:10px;
	font-weight:normal;
	margin-bottom:15px;
	margin:0;
	padding:0;
}
.matterContainer h2{
	font-size:18px;
	color:#666;
	padding-top:10px;
	font-weight:normal;
	margin-bottom:15px;
	margin:0;
	padding:0;
}
.matterContainer h3{
	font-size:18px;
	color:#666;
	padding-top:10px;
	font-weight:normal;
	margin-bottom:15px;
}
.matterContainer p{
	font-size:11px;
	color:#666;
	font-weight:normal;
}
.matterContainer a{
	text-decoration:none;
	color:#666;
}
.matterContainer a:hover{
	text-decoration:underline;
	color:#333;
}

.photoWrapper{
	width:140px;
	border-bottom:1px dotted #666;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}
.featureEvents{
	margin-right:20px;
}
.featureEvents div{
	border-bottom:1px dotted #666;
	
}
.featureEvents h2{
	font-size:18px;
	color:#666;
	font-weight:normal;
	margin:0;
	padding:0;
}
.featureEvents p{
	font-size:13px;
	line-height:20px;
	color:#7c9d01;
}
.featureEvents a{
	color:#7c9d01;
}








.blogsArticle{
	overflow:auto;
}
.blogsArticle div{
	border-bottom:1px dotted #666;
	
}
.blogsArticle h2{
	font-size:18px;
	color:#666;
	font-weight:normal;
	margin:0;
	padding:0;
}
.blogsArticle h3{
	font-size:13px;
	color:#7c9d01;
	font-weight:bold;
	margin:0;
	padding:0;
	margin-bottom:2px;
}
.blogsArticle h4{
	font-size:10px;
	color:#999;
	font-weight:normal;
	font-style:italic;
}
.blogsArticle h5{
	font-size:12px;
	color:#7c9d01;
	font-weight:normal;
}

.blogsArticle p{
	font-size:13px;
	line-height:18px;
	color:#666;
	margin-bottom:2px;
}
.blogsArticle a{
	color:#7c9d01;
}



.bottomContainer{
	border:1px solid #7c9d01;
	border-radius:7px;
	z-index:11;
	top:-4px;
	position:relative;
	height:150px;
	text-align:center;
}
.bottomContainer_text{
	font-size:12px;
	color:#666;
	font-weight:normal;
}
.bottomContainer_text a{
	color:#666;
	text-decoration:none;
}
.bottomContainer_text a:hover{
	color:#999;
	text-decoration:underline;
}

.bottomContainer_icon{
	width:115px;
	height:130px;
	margin-top:10px;
	padding:0 20px;
	float:left;
	border-right:1px dotted #999;
}


.bottomContainer_header{
	background:url(/new/pix/bg-container-heading.jpg) no-repeat;
	width:225px;
	height:31px;
}
.orangeButton{
	border-radius:10px;
	background: url(/new/pix/orange-button-bg.jpg) repeat-x;
	height:30px;
	width:120px;
	border:1px solid #fff;
}
.orangeButton a{
	text-decoration:none;
	font-size:18px;
	font-weight:normal;
	color:#fff;
	display:block;
	height:30px;
	width:120px;
	padding-left:5px;
}
.orangeButton a:hover{
	color:#ff0;
}
.orangeButton h1{
	font-size:17px;
	color:#fff;
	font-weight:normal;
	padding:5px 0 0 0;
	text-align:center;
}

.submitButton{
	background: url(/new/pix/submit-button-bg.jpg);
	border:1px solid #fff;
	padding:5px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	font-size:14px;
	font-weight:bold;
	color: #333;
}
<!-- product category-->

.filterContainer{
	width:248px;
}
.filterContainer header{
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	background:#81a00c;
	height:27px;
	font-size:18px;
	padding:5px 0 0  10px;
	color:#fff;
}
.filterContainer_wrapper{
	border:1px solid #81a00c;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
	padding:5px;
}
.filterCategory{
	background:#f0f0f0;
	padding:5px 10px;
	margin-bottom:10px;
}
.filterCategory c1{
	color:#81a00c;
	text-transform:uppercase;
	text-align:left;
	font-size:14px;
	margin-bottom:5px;
	font-weight:bold;
}
.filterCategory label{
	font-size:13px;
	color:#666;
	line-height:22px;
}




.displayContainer{
	width:700px;
	margin-left:19px;
	margin-right:10px;
}
.displayContainer_header{
	border-bottom:1px solid #F88000;
	height:33px;
}

.displayContainer_left{
	width:300px;
	float:left;
}
.displayContainer_left h1{
	color:#81a00c;
	font-size:18px;
}
.displayContainer_left span{
	color:#666;
	font-size:14px;
}
.displayContainer_right{
	width:400px;
	float:right;
	text-align:right;
	margin-top:10px;
}
.displayContainer_rightTab{
	text-align:center;
	padding:5px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	background:#F88000;
	width:100px;
	font-size:12px;
	display:inline;
	cursor:pointer;
}
.displayContainer_rightTab a{
	text-decoration:none;
	color:#fff;
}
.displayContainer_rightLabel{
	display:inline;
	font-size:14px;
	color:#000;
	margin-right:10px;
}

.displayContainer_rightTabactive{
	text-align:center;
	padding:5px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	background:#fff;
	width:100px;
	font-size:12px;
	display:inline;
	cursor:pointer;
	border:1px solid #F60;
	border-bottom:none; 
}
.displayContainer_rightTabactive a{
	text-decoration:none;
	color:#000;
}



.rateContainer{
	width:156px;
	height:25px;
	text-align:center;
}
.rateContainer span{
	font-size:10.9px;
	color:#333;
}
.rateContainer img{
	vertical-align:middle;
}
.buynow_orange{
	width: 156px;
	height: 21px;
	background: url(/new/pix/display-buynow-orange.jpg) right;
	text-align: center;
}
.buynow_green{
	width:155px;
	height:21px;
	background:url(/new/pix/display-buynow-green.jpg) right;
	text-align:center;
}
.productBuynow_text{
	font-size:14px;
}
.productBuynow_text a{
	color:#fff;
	text-decoration:none;
}

.productPrice{
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#ff0000;
	width:156px;
	height:20px;
}
.productContainer{
	width:155px;
	height:270px;
	margin-right:12px;
	border-right:1px solid #999;
	padding-right:10px;
	float:left;
	text-align:center;
}
.productContainer p{
	text-align:center;
	font-size:13px;
	color:#666;
}
.productContainer_row{
	height:310px;
	border-bottom: 1px solid #999;
	margin-bottom: 20px;
}



.brandlogoContainer{
	border:1px solid #81a00c;
	border-radius:7px;
	width:698px;
}
.brandlogoContainer_header{
	text-align:center;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	background:#81a00c;
	padding:5px;
	width:200px;
	margin-left:250px;
}
.brandlogoContainer_header h1{
	color:#fff;
	font-size:18px;
}
.brandslide{
	width:150px;
	float:left;
	border-left:1px dashed #999;
	text-align:center;
}

/* ----------- slider ----------- */


.dogresult-bg {
   background-color: #1a82f7; 
   background-image: url(images/fallback-gradient.png); 
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ebeaea), to(#ddd));
   background-image: -webkit-linear-gradient(top, #ebeaea, #ddd); 
   background-image:    -moz-linear-gradient(top, #ebeaea, #ddd);
   background-image:     -ms-linear-gradient(top, #ebeaea, #ddd);
   background-image:      -o-linear-gradient(top, #ebeaea, #ddd);
   padding:7px; margin-bottom:5px; list-style:none; display:block;
   border-radius:5px;
}


/* ----------- contact us page ----------- */
input.formField{
	width:200px;
	padding:5px;
	border-radius:5px;
	border:1px solid #999;
}
select.formSelect{
	width:312px;
	padding:5px;
	border-radius:5px;
	border:1px solid #999;
}
textarea.formTextarea{
	width:300px;
	padding:5px;
	border-radius:5px;
	border:1px solid #999;
}
.formbutton{
	width:100px;
	padding:5px;
	border-radius:5px;
	border:1px solid #999;
    background-color: #1a82f7; 
    background-image: url(images/fallback-gradient.png); 
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ebeaea), to(#ddd));
    background-image: -webkit-linear-gradient(top, #ebeaea, #ddd); 
    background-image:    -moz-linear-gradient(top, #ebeaea, #ddd);
    background-image:     -ms-linear-gradient(top, #ebeaea, #ddd);
    background-image:      -o-linear-gradient(top, #ebeaea, #ddd);
}

.formText{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333;
}
.formText{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333;
}
tr.height{
	height:33px;
}
.contactDetails_wrapper{
	float:right;
	width:495px;
}
.contactDetails_wrapper h3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#84a40d;
}
.contactDetails_wrapper p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333;
	text-align:justify;
}
.contactDetails_wrapper span{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666;
}

/* ----------- contact us page ----------- */

/* Scrollbar
----------------------------------------------------------------------------------------------------*/	

	
	::-webkit-scrollbar {
		width: 12px;
		height: 6px;
	}
	
	::-webkit-scrollbar-button:start:decrement,
	::-webkit-scrollbar-button:end:increment {
		display: block;
		height: 10px;
	}
	
	::-webkit-scrollbar-button:vertical:increment {
		background-color: #fff;
	}
	

	::-webkit-scrollbar-track-piece {
		background-color: #fff;
		-webkit-border-radius: 3px;
		border:1px solid #b6b6b6;

	}
	
	::-webkit-scrollbar-thumb:vertical {
		height: 50px;
		background-color: #cbcbcb;
		border:1px solid #b6b6b6;
		-webkit-border-radius: 3px;
	}
	
	::-webkit-scrollbar-thumb:horizontal {
		width: 50px;
		background-color: #ccc;
		-webkit-border-radius: 3px;
	}

.authorContainer {
	padding:10px;
	border:1px solid #ddd;
	//font-family:Arial, Helvetica, sans-serif;
	overflow:auto;
}
.authorContainer h2 {
	font-size:18px;
	font-weight:normal;
	color:#ff7628;
	padding-bottom:5px !important;
	margin-bottom:12px !important;
	border-bottom:1px dashed #999;
	//margin:0;
	//padding:0;
}
.authorContainer p {
	font-size:12px;
	color:#444;
	text-align:justify;
	//margin:0;
	//padding:0;
}
.authorContainer img {
	float:left;
	margin:0 10px 0 0;
}
