
/* shop header */
.heading {background:url(/new/pix/browsecategor_nav.png) no-repeat; padding:14px 0px 0px 10px; font:bolder 14px Arial; color:#fff; margin-top:13px; width:183px; height:31px;}
.heading span {padding-left:7px;}
.addCart {background:url(/new/pix/cart_bg.gif) no-repeat; height:29px;}
.addCart img { padding:5px 0px 2px 10px;}
.addCart p {font:14px arial; color:#fff; padding:7px 10px 0px 0px;}

.cont183 {width:183px; float:left; margin-right:7px;}
.shopcontRight194 {width:194px; float:left;}
.shopcont778 {width:778px; float:left;}
ul.shpnav {margin:0;  background-color:#877b63; list-style-type:none;}
ul.shpnav li { width:160px; margin-left:10px; display:block; color:#fff;border-bottom:1px solid #9f9582; padding-bottom:6px; position: relative; }
ul.shpnav li.last { border-bottom:0px; margin-bottom:0px; padding-bottom:0px; }
ul.shpnav li a { font:14px arial; color:#fff; display:block; padding:5px 4px 2px 5px; }
ul.shpnav li a:hover {color:#282118; text-decoration:none;}

ul.shpnav li ul.sub li{
	
	border-width:1px 1px 1px 1px!important;
	 border:none;
	 padding-bottom:0px;
	 padding-top:5px;
}

ul.shpnav li ul.sub li a{
	font-weight: normal!important;
	color:#47340a;
}
li > ul.sub {
	top: auto;
	left: auto;
}

ul.shpnav  li:hover ul.sub, li.over ul.sub {
	display: block;
	visibility: visible;
}

/*shop tabs */

ul.shoptabs{ margin:0px; padding:0px; list-style:none;}
ul.shoptabs li{ float:left; margin-right:10px; background:url(/new/pix/shoptabs_leftbg.gif) repeat-x; overflow:hidden}
ul.shoptabs li span{ display:block; background:url(/new/pix/shoptabs_rightbg.gif) top right no-repeat; }
ul.shoptabs li span {font:11px tahoma; color:#535353; display:block; text-decoration:none; padding:0px 10px 10px 15px;}
ul.shoptabs li span b{ display:block; margin-bottom:2px; font:12px Arial, Helvetica, sans-serif; color:#535353; font-weight:bolder; padding-top:8px; line-height:18px;}

div.contborbttm {border-bottom:1px dashed #969696; }
.cont650 {width:650px; float:left; margin-right:22px;}
ul.shopslide {margin:0px; padding:0px; list-style-type:none; list-style:none;}
ul.shopslide li { display:block; float:left; padding-right:4px; border-right:1px solid #dad9d7; font:12px Arial, Helvetica, sans-serif; color:#675e5b;  margin-right:4px; width:190px; text-align:center;}
ul.shopslide li a.link { color:#f88000;  text-decoration:none; display:block; margin-bottom:5px; font:bolder 14px Arial, Helvetica, sans-serif;}
ul.shopslide li a.link1 { color:#666;  text-decoration:none; display:block; margin-bottom:5px; }
ul.shopslide li a:hover {text-decoration:none;}
ul.shopslide li h2 {font:bolder 14px Arial; color:#7f9f0b; margin-bottom:5px; text-align:center;}
ul.shopslide li h2 a {color:#867b62;}
ul.shopslide li h2 a:hover {color:#7f9f0b;}
ul.shopslide li.last {border-right:0px; padding-right:0px; margin-right:0px;}
ul.shopslide li.arrow { width:25px; border-right:0px; padding-top:85px; padding-right:0px; margin-right:0px; }
p.imgrt img{margin-right:25px;}
a.recent { color:#a46d0d;}
a.recent:hover  {color:#7f9f0b;}



.shopimgholdSlide {float:left; width:304px;}
.shopimgholdSlide a.slide {border:1px solid #dcdcdc; text-align:center;}
.shopimgholdSlide p img.arrow {margin-right:18px;}
.shoptextholdSlide {float:left; width:445px; color:#4b3a15; padding:0px 12px 0px 12px;}
.cont210 {width:210px; padding-right:20px; float:left; border-right:1px solid #ccc; margin-right:20px;}
.cont210 p b {font:bolder 32px arial; color:#f88000; line-height:28px;}
.cont210 p span {font:bolder 22px arial; color:#8f8f8f; font-stretch:narrower;}
.cont195 {width:193px; float:left;}
h2.stock{font:bolder 14px arial; color:#717171; margin-bottom:5px; }
h2.stock a {font:bolder 14px arial; color:#717171; text-decoration:none;}
h2.stock a:hover{text-decoration:none;}
.dashbor {border-top:1px dashed #969696; background:url(/new/pix/shopnow_bg.gif) repeat-x; padding:15px 5px 10px 5px;}
.dashbor p b{font:bolder 16px arial; color:#4b3a15; line-height:15px;}
.selectbox { float:left; margin-right:11px;  }
.selectbox select { width:110px; margin-top:5px; height:22px; font:11px Arial; color:#575757; padding-top:1px;}
.selectbox input {width:40px;  margin-top:5px; }
.selectbox span { font:bolder 12px arial; color:#575757; line-height:16px;}


.shopIndMid {background:url(/new/pix/shopind_rtcont_topcurve.gif) no-repeat;  }
.shopIndMid ul{ margin:0px; padding:0px; list-style:none; width:150px;}
.shopIndMid ul li{ padding-bottom:5px; margin-bottom:5px; border-bottom:1px solid #ccc; height:20px;}
.shopIndMid ul li.last{ padding-bottom:0px; margin-bottom:0px; border-bottom:0; height:35px;}
.shopIndMid ul  li span{ display:block; float:left; color:#8b8b8b;}
.shopIndMid ul  li span.cb{ clear:both;}
.shopIndMid ul  li span.left{width:53px;}
.shopIndMid ul  li span.right{width:75px;}
.shopIndBtm {background:url(/new/pix/shopind_rtcont_btmcurve.gif) no-repeat; height:16px;} 

.shopIndrtcont {background:url(/new/pix/shopind_rtcont2_topcurve.gif) no-repeat; }

h4.shopProducts {color:#867b62; margin-bottom:10px;}
h4.shopProducts a {font:bolder 16px arial; text-decoration:none; color:#867b62;}
ul.shopIndPage {list-style-type:square; margin-left:14px; padding:0;}
ul.shopIndPage li {margin-bottom:5px;}

.productSummary769 {width:769px; margin-right:13px; float:left;}
.productSummary769 p{ color:#3d3d3d; line-height:16px; }
.productSummary769 h2 {color:#867b62; margin-bottom:10px;}
.productSummary769 h2 a {font:bolder 16px arial; text-decoration:none; color:#867b62; }
.productSummary769 ul li { 	list-style-type:square;	margin-left:20px;	padding:0;	margin-top: 10px;	margin-bottom: 10px;}

ul.relatedProducts {margin:0px; padding:0px; list-style-type:none; list-style:none;}
ul.relatedProducts li { display:block; border-bottom:1px solid #dad9d7; font:12px Arial, Helvetica, sans-serif; color:#675e5b;  margin-right:4px; width:170px; text-align:center; margin-bottom:10px; padding-bottom:10px;}
ul.relatedProducts li a.link { color:#f88000;  text-decoration:none; display:block; margin-bottom:5px; font:bolder 14px Arial, Helvetica, sans-serif;}
ul.relatedProducts li a:hover {text-decoration:none;}
ul.relatedProducts li h2 {font:bolder 14px Arial; color:#7f9f0b; margin-bottom:5px; text-align:center;}
ul.relatedProducts li h2 a {color:#867b62;}
ul.relatedProducts li h2 a:hover {color:#7f9f0b;}
ul.relatedProducts li.last {border-bottom:0px; padding-bottom:0px; margin-bottom:0px;}

.shopCommentBoxTop {background:url(/new/pix/commentbox_topcurve.gif) no-repeat; height:32px;}
.shopCommentBoxMid {background:url(/new/pix/commentbox_midcurve.gif) repeat-y; }
.shopCommentBoxBottom {background:url(/new/pix/commentbox_bottomcurve.gif) no-repeat; height:15px;}

/* category */
.categoryGreenStrip {
	background:url(/new/pix/categorylanding_greenbg.gif) top repeat-x;
	color:#360;
	padding:15px 0px 15px 0px;
}

/*product listing */

.filters182 {width:182px; margin-right:15px; border:1px solid #d4d4d4; background:url(/new/pix/product_listing/filters_bg.gif) repeat-x; padding:15px 10px 15px 10px; float:left; background-color:000; }
.filters182 p{font:14px arial; color:#000;}
.filters182 p span {font:14px arial; color:#6d6d6d;}
.filters182 h3 {font:bolder 14px arial; color:#8ba91d; padding-bottom:8px;}
.filters182 ul{ margin:0px; padding:0px; list-style:none; }
.filters182 ul li{ padding-bottom:2px; margin-bottom:2px;}
.filters182 ul li.last {border-bottom:1px solid #ccc;padding-bottom:10px; margin-bottom:10px; }
.filters182 ul li label { margin-left:10px; width:100px;}
.filters182 ul li label span { color:#a1a1a1; margin-left:29px;}

/*.productListing542 {width:542px; float:left; border-right:1px dashed #ccc; padding-right:20px; margin-right:15px;}*/
.productListing716 {width:716px; float:left; padding-right:20px; margin-right:15px;}
.results {font:bolder 14px arial; color:#686868;}


ul.productListingTabs{ margin:0px; padding:0px; list-style:none;}
ul.productListingTabs li{ float:left; margin-right:8px; background:url(/new/pix/product_listing/product_tabs_normalleft.gif) repeat-x; overflow:hidden; width:130px; height:45px;}
ul.productListingTabs li span{ display:block; background:url(/new/pix/product_listing/product_tabs_normalright.gif) top right no-repeat; height:45px; }
ul.productListingTabs li span a {font: bolder 12px Arial; color:#888; display:block; text-decoration:none; padding-left:10px; }
ul.productListingTabs li span a:hover {text-decoration:none; }
ul.productListingTabs li.active {background:url(/new/pix/product_listing/product_tabs_activeleft.gif) no-repeat; float:left; width:130px; height:45px;}
ul.productListingTabs li.active span{background:url(/new/pix/product_listing/product_tabs_activeright.gif) top right no-repeat; height:45px;}
ul.productListingTabs li.active span a{font:12px Arial; color:#fff; display:block; text-decoration:none; padding-left:10px; }
ul.productListingTabs li span a b{ font: bolder 12px Arial; color:#fff; display:block; text-decoration:none; padding:8px 0px 2px 0px;}
.doubleborderImg {margin:10px 0; padding:10px 0; border-bottom:1px solid #ddd;}

.productListing173 {width:173px; float:left; color:#969696;}
.productListing173 b { font-weight:bolder; color:#000000;}

.previous {font:12px arial;}
.previous a {font-weight:bolder; color:#77940a; text-decoration:none;}
.previous a:hover {color:#666;}
.previous a.link { color:#000; text-decoration:none; margin:0px 4px 0px 4px;}
.previous a:hover.link {color:#666;}

#leftnav {
  background-color:#E9E9E9;
  border-bottom-color:#4F76A9;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-image:initial;
  border-left-color:#4F76A9;
  border-left-style:solid;
  border-left-width:1px;
  border-right-color:#4F76A9;
  border-right-style:solid;
  border-right-width:1px;
  border-top-color:#4F76A9;
  border-top-style:solid;
  border-top-width:1px;
  padding-bottom:5px;
  padding-left:5px;
  padding-right:5px;
  padding-top:5px;
  width:160px;
}
a.userbutton {
  background-color:#F6F6F6;
  border-bottom-color:#D9E6F7;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#D9E6F7;
  border-left-style:solid;
  border-left-width:1px;
  border-right-color:#D9E6F7;
  border-right-style:solid;
  border-right-width:1px;
  border-top-color:#D9E6F7;
  border-top-style:solid;
  border-top-width:1px;
  color:#314973;
  display:block;
  font-size:12px;
  line-height:14px;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:-1px;
  padding-bottom:4px;
  padding-left:4px;
  padding-top:4px;
}
