.container {
	width: 100%;
	margin-bottom:10px;
}
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 30px;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 30px;
	line-height: 30px;
	border-left: none;
	margin-bottom: -1px;
	margin-right:3px;
	background:url(/new/pix/tab1-deactive.jpg) repeat;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	overflow: hidden;
	position: relative;
}
ul.tabs li a {
	text-decoration: none;
	color: #fff;
	display: block;
	font-size:14px;
	font-weight:normal;
	padding: 0 20px;
	outline: none;
}
ul.tabs li a:hover {
	color:#333;
}	
html ul.tabs li.active, html ul.tabs li.active a:hover  {
	color:#333;
	background:url(/new/pix/tab1-active.jpg) repeat;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.tab_container {
	border-top: none;
	clear: both;
	float: left; 
	width: 100%;
	background: #fff;
	border:1px solid #fe5f00;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	padding-bottom:10px;
}
.tab_content p{
	text-align:justify;
	font-size:14px;
	color:#666;
}
.tab_content h1 {
	font-weight: normal;
	font-size:18px;
	color:#0063a9;
}
.tab_content h2{
	font-weight: bold;
	margin-bottom:10px;
	font-size:14px;
	color:#333;
}
.tab_content img{
	margin-right:10px;
}
.slider{
	padding:20px;
	padding-bottom:0 !important;
}