
/*new css*/
 .wagtag-section .wagtag-nav {
    background: #5d5d5d;
    font-weight: bold;
    font-size: 14px;
}
.wagtag-section .wagtag-nav .navbar {
    margin-bottom: 0px;
    text-transform: uppercase;
}
.wagtag-section .wagtag-nav .navbar a {
    color: #fff;
}
.wagtag-section .wagtag-nav .navbar a:hover {
	background: #5d5d5d;
	color: #ff8a00;
}
.wagtagact-btn-sec{ margin-top:5px;}
.wagtagact-btn-sec a, .wagtagact-btn-sec a:hover{
    color: #fff;
    font-weight: normal;
    }
	.wagtagact-btn{    width: 100%;
    text-align: center;
    line-height: 40px;
    background-color: #6c9d06;
    margin-bottom: 5px;
}
/*new css end*/
.wt_stryBox{
    background: #E8F8A8;
    border-radius: 5px;
    font-size: 17px;
    margin:30px 20px 0px;  
	overflow: hidden;
	padding-bottom:10px;

}
.wt_pupSec{ margin-top:30px}
.wt_logo{ margin-top:20%;}
.wt_stryBox h1{    color: #668000;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0px;
}
.wt_paraImg{ float:left;width: 25px}
.wt_stryBox .table{
width: 96%;
    border: 1px solid #6c9d06;
    margin: 0px 2%; color:#6c9d06; font-size:16px}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{border: 1px solid #6c9d06;}	
div.knwBtnFull_wt {
    background: rgb(43, 43, 43);
    float: left;
    width: 100%;
    margin-top: 33px;
}

.button_wt {
   background: #f89e1d;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    width: 240px;
    line-height: 50px;
    height: 50px;
    margin: 30px auto;
}
.boon_wt {background: #ededee; float:left; width:100%; padding:50px 0px;}
.boonCon_wt{background: url(/wagtag/images/tag-bg.png) no-repeat;
    width: 295px;
    height: 295px;
    float: left;
	font-size: 27px;
    padding-top: 100px;
    text-align: center;}
.boontxt_Con_wt2 {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
   
}
.boontxt_Con_wt4{
    transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(-90deg);
    margin-top: -80px;}
.boontxt_Con_wt3 {
    transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    -webkit-transform: rotate(70deg);
    margin-left: 106px;
    margin-top: -81px;
}
.boon-box-text{    transform: rotate(-71deg);
    -ms-transform: rotate(-71deg);
    -webkit-transform: rotate(-71deg); 
	padding-left: 15px; }	
	.boon-box-text_1 {
    transform: rotate(-91deg);
    -ms-transform: rotate(-91deg);
    -webkit-transform: rotate(-91deg);
	padding-right: 15px;
}
.boon-box-text_2{   
    transform: rotate(-271deg);
    -ms-transform: rotate(-271deg);
    -webkit-transform: rotate(-271deg);
	    padding-right: 15px;
	}
.boon_wt h3 {
    line-height: 50px;
    margin-top: 63px;
    font-size: 24px;
	font-weight:bold;
}
.know-more-wag-btn{cursor: pointer;
    background: #f89e1d;
    width: 320px;
    margin: 30px auto 0px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase}	
	.about-wag-tag{ float:left; width:100%; padding:40px 0px; }
.tagSpec_wt {
    border-radius: 5px;
    font-size: 27px;
    background: #f89e1d;
    color: #fff;
    padding: 80px 40px;
    margin-top: 42px;
    text-transform: uppercase;
    text-shadow: 2px 1px saddlebrown;
}
.tagAbt_wt p{    font-size: 22px;
    margin: 30px 48px;
    line-height: 34px;
    text-align: center;}

	.tagActivate_wt {
    float: left;
    width: 100%;
    background: #d1232a;
    position: relative;
	    padding: 40px;
}
.lostTag_wt {
    float: left;
    width: 100%;
    background: #ededee;
	padding:40px;
	}
.buyBox_wt h4{font-size: 56px}

.buyBox_wt p{    font-size: 24px;}
.buyPrice_wt p{font-size: 18px;}
.buyPrice_wt{ max-width:220px; margin-top:60px;}
.price_wt{font-size: 28px;}
.buyImg_wt{ margin-top:20px;}
div.wt_activateNow {
    float: left;
    width: 100%;
    background: rgb(43, 43, 43);
    padding: 40px 0;
    color: #fff;
}
.buyBox_wt{    float: left;
    width: 100%;
    padding: 40px 0px;}
.actiNowTxt_wt label{font-size: 33px;}
.how-to-actiave, .lost-btn, .get-wag-tag-btn, .buy-now-btn, .activate-now-btn {background: #f89e1d;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    width: 240px;
    line-height: 50px;
    height: 50px;
    margin: 30px auto 0px;
    text-align: center;
}
.how-to-actiave, .activate-now-btn{margin-top: 0px;}
.wt_faqSec{ float:left; margin-top:30px;}
.wt_faqSec h1{ font-size:25px; text-transform:uppercase;}
ul.wt_faqBox{ float:left; margin:0px; padding:0px; width:100%;}
ul.wt_faqBox li{ background: #f7ffd8; margin:10px 0; border: 1px solid #6c9d06; list-style:none; float:left; color: #6c9d06; width:100%;}
ul.wt_faqBox li .wt_queTxt{background:#E8F8A8; float:left;
font-size: 16px;color: #000;width:100%;border-bottom: 1px solid #6c9d06;}
ul.wt_faqBox li .wt_queTxt label{padding: 8px 12px; float:left;}
ul.wt_faqBox li .wt_ansTxt{padding:8px 15px;font-size: 17px; float:left;width:97%;}
.wt_quesShow, .wt_quesHide {
float: left;
font-size: 24px;
font-weight: bold;color: #fff;
padding: 3px 12px;
background: #6c9d06;
border-right: 1px solid #6c9d06;
}
.wt_quesHide {padding: 3px 15px;}
.wt_infoBox, .wt_howBox, .wt_fillInfo, .wt_howBox{ float:left; width:100%;}
.wt_infoBox h1{font-size: 24px;
    margin: 10px 0;
    color: #6c9d06;
    float: left;
    width: 100%;}
	.wt_infoBox p, .wt_howBox p{font-size: 16px;
    line-height: 24px;}	
.wt_howBox h2{font-size: 24px;
    margin: 10px 0;
    color: #6c9d06;
    float: left;
    width: 100%;}
	.wt_fillInfo {
    background: #F0F0F0;
    padding: 17px;
    text-transform: uppercase;
    line-height: 28px;
    font-weight: 700;
    color: #818181;
}	
.wt_howBox  ul{font-size: 16px;}
.wt_paraBox {
    float: left;
    max-width: 630px;
    border: 1px solid #668000;
}

	