.popupHeader {
    font-size: 14px;
    background: #077ebd;
    position: relative;
    padding: 10px 0 0 15px;
    overflow: hidden;
    font-family: lato, sans-serif;
    opacity: 0.6;
}
.popupHeader-text {
    text-transform: none;
    color: #fff;
    padding: 10px;
	text-align:center;
}
.popupHeader-text h4 {
    font-size: 23px;
    color: #fff;
    margin-bottom: 10px;
    font-family: lato, sans-serif;
    margin: 10px 0px;
    padding: 0px;
}
.popupHeader-text p {
    font-size: 16px;
    margin: 0px 0px 10px;
}
.wagtag_wrp {
       padding: 0px !important; 
    margin: -1px 0px 0px !important; 
}
.white_wrp {background: #fff url(https://ik.imagekit.io/2345/new/common/images/pop-bg.jpg);}
.input-blk-new input{width: 100%;
    height: 35px;
    border-radius: 17px;
    padding: 9px;
    border: 1px solid #333;
    font-size: 14px;
    margin-bottom: 10px;}
	.signin_btn-new{    background: #333;
    color: #fff !important;
    border: #333;
    padding: 10px 20px;
    width: 136px;
    height: 40px;
    font-size: 16px;
    margin-right: 80px;
    cursor: pointer; text-align:center;}
	.login-section{float: left;
    width: 100%;}
.social-login-sec, .or-section, .register-sec{float: left;}
.social-login-sec{width: 30%;}
.or-section{width: 22%; font-weight:bold; padding:15px 0px;}
.register-sec{width:46%;}
.input-wrp-new{ margin-top:20px; margin-bottom:20px;} 
.fb_icon {
    background-position: 0px 0px;
}
.gplus_icon {
   background-position: -55px 0px !important;
}
.fb_icon, .gplus_icon {
    display: inline-block;
}  
.popup_sprites {
    background: url(https://ik.imagekit.io/2345/new/common/images/sprites-social.png) no-repeat;
} 
.fb_icon, .gplus_icon {height: 40px; width: 40px; border: none;color: transparent; cursor: pointer;}
    
.white_wrp{ border:0px !important;}
.forgotpassword-page4{ background:#fff !important; border:0px;}
.login-m-row{ float:left; width:100%;font-size: 14px;  }
.login-m-row a{ color: #333;
    cursor: pointer;
    font-size: 15px;}
 .login-m-row a.login-create-ac{display: inline;color: #fe8f01 !important;font-size: 15px; text-decoration:underline;}
 .text_box_drop {
        padding: 8px !important;
    border-radius: 17px;
    border: 1px solid #333 !important;
    font-size: 14px !important;
}	
    
.check-blk-new{    clear: both;
    overflow: hidden;
    margin-left: 7px;
}
.check-blk-new input[type=checkbox] {
    display: none;
}
.check-blk-new input[type=checkbox] + label {
    padding-left: 28px;
    display: inline-block;
    line-height: 16px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.check-blk-new  label {
    background-image: url(https://ik.imagekit.io/2345/bootstrap/images/checkbox.jpg);
    color: #555;
    font-size: 14px;
    letter-spacing: 0.6px;
    font-family: 'lato', sans-serif;
    font-weight: normal;
}
.check-blk-new input[type=checkbox]:checked + label {
    background-position: 0 -16px;
}
.check-blk-new input[type=checkbox] + label {
    padding-left: 28px;
    display: inline-block;
    line-height: 16px;
    background-repeat: no-repeat;
    cursor: pointer;
}
