.nivoSlider{position:relative;width:628px;height:432px;overflow:hidden;}
.nivoSlider img{position:absolute;top:0px;left:0px;}
.nivo-main-image{display:block !important;position:relative !important;width:628px !important;}
.nivoSlider a.nivo-imageLink{position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:6;display:none;}
.theme-default .nivoSlider{border:1px solid #ccc;}
.nivo-slice{display:block;position:absolute;z-index:5;height:100%;top:0;}
.nivo-box{display:block;position:absolute;z-index:5;overflow:hidden;}
.nivo-box img{display:block;}
.nivo-caption{position:absolute;left:0px;bottom:0px;background:#000;color:#fff;width:100%;z-index:8;padding:5px 10px;opacity:0.8;overflow:hidden;display:none;-moz-opacity:0.8;filter:alpha(opacity=8);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.nivo-caption p{padding:5px;margin:0;}
.nivo-caption a{display:inline !important;}
.nivo-html-caption{display:none;}
.nivo-directionNav a{position:absolute;top:45%;z-index:9;cursor:pointer;}
.nivo-prevNav{left:0px;}
.nivo-nextNav{right:0px;}
.nivo-controlNav{text-align:center;padding:15px 0;}
.nivo-controlNav a{cursor:pointer;}
.nivo-controlNav a.active{font-weight:bold;}
.nivo-directionNav{display:block !important;position:relative;top:-60px;z-index:9;}
.theme-default .nivoSlider{position:relative;z-index:0;background:#fff url(../images/loading.gif) no-repeat 50% 50%;}
.theme-default .nivoSlider img{position:absolute;top:0px;left:0px;display:none;}
.theme-default .nivoSlider a{border:0;display:block;}
.theme-default .nivo-controlNav{text-align:center;float:left;margin-top:8px;padding:5px 0;padding-bottom:20px;<div class="nivo-controlNav"><a class="nivo-control" rel="0">1</a><a class="nivo-control active" rel="1">2</a></div>}
.theme-default .nivo-controlNav a{display:inline-block;width:22px;height:21px;text-indent:-9999px;border:0;margin:0 2px;background-image:url(../images/bullets.png);background-repeat:no-repeat;}
.theme-default .nivo-controlNav a.active{background-position:0 -20px;}
.theme-default .nivo-directionNav a{display:block;width:26px;height:36px;background:url(/shop-slider/images/arrows2.png) no-repeat;text-indent:-9999px;border:0;margin-top:-178px;}
.theme-default a.nivo-nextNav{background-position:-30px 0;margin-top:-178px;}
.theme-default a.nivo-prevNav{left:15px;}
.theme-default .nivo-caption{font-family:Arial, Helvetica, sans-serif;font-size:14px;}
.theme-default .nivo-caption a{color:#fff;border-bottom:1px dotted #fff;}
.theme-default .nivo-caption a:hover{color:#fff;}
.theme-default .nivo-controlNav.nivo-thumbs-enabled{width:100%;}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a{width:auto;height:auto;background:none;margin-bottom:5px;}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img{display:block;width:120px;height:auto;}
table{border-collapse:separate;border-spacing:0;}
caption, th, td{text-align:left;font-weight:normal;}
blockquote:before, blockquote:after,
q:before, q:after{content:"";}
blockquote, q{quotes:"" "";}
header, section, footer,
aside, nav, article, figure{display:block;}
a, a:visited{text-decoration:none;}
a:hover, a:active{color:#000;text-decoration:none;}
#photoslider{width:600px;height:432px;margin:auto;}
.theme-default #slider{margin:auto;}
.theme-pascal.slider-wrapper,
.theme-orman.slider-wrapper{margin-top:150px;}
.clear{clear:both;}