.club-contest img,.micro-site-top-banner img{max-width:100%;height:auto}.micro-site-cont{float:left;width:96%;margin:20px 2%}.micro-site-top-banner{text-align:center;float:left;width:100%;margin-bottom:20px}.banner-logo{float:left;width:21%}.banner-full{float:left;width:61%}.club-contest{float:left;width:100%}.club-site-col-2{width:100%!important;margin-bottom:20px}#sddmMicro,#topNaviMicroSite,.mic-side-bar{width:100%;float:left}#topNaviMicroSite{height:40px;margin-top:20px}#sddmMicro{margin:0;padding:0 0 10px;z-index:30;border-bottom:1px solid #ddd}#sddmMicro li{list-style:none;float:left;margin:0;padding:0 10px}#sddmMicro li .active{color:#336db0}#sddmMicro li:first-child{padding-left:0}.mic-side-bar ul{float:left;margin:0;padding:0}.mic-side-bar ul li
{float:left;padding:10px} #DivRightbanner{ float:left; width:16.5%;margin-left: -5px;
}