* {
	margin: 0;
	padding: 0;
}

body { 
  
}

#wrapper {
    width: 640px;
    margin: 25px auto;
	font-family:"Segoe UI";
}

#intro {
    padding-bottom: 10px;
}

#slider {
    width: 650px;
    margin: 0 auto;
    position: absolute;
	
 
 
}

.scroll {
	overflow: hidden;
	width: 650px;
    margin: 0 auto;
    position: relative;
	
}

.scrollContainer {
	position: relative;
}

.scrollContainer div.panel {
    padding: 10px;
    width: 180px;
	height: 220px;
}

#left-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 12px;
	bottom: 0;
	
	
}

#right-shadow {
	position: absolute;
	top: 0;
	right: 0;
	width: 12px;
	bottom: 0;
	
}

.inside {
	padding: 10px;
	
}

.inside img {
	display: block;
	border: 1px solid #666;
	margin: 0 0 10px 0;
	width: 150px;
	max-height:145px;
	min-width:120px;
}
.insideimgBox
{
	width:180px;
	height:150px;
}
.inside h2 {
	font-weight: normal;
	color: #111;
	font-size: 16px;
	margin: 0 0 8px 0;
}

.inside p {
	font-size: 11px;
	color: #ccc;
}

a {
	color: #000;
	text-decoration: none;
	
}
a:hover
{
	color: #000;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid #999;
}

.scrollButtons {
    position: absolute;
    top: 80px;
    cursor: pointer;
}

.scrollButtons.left {
    left: -45px;
}

.scrollButtons.right {
    right: -45px;
}

.hide {
    display: none;
}