
a{
text-decoration:none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
font-family:segoe ui;
  
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


.container {

  
 
 margin:auto;
 margin-top:10px;
}

.share-btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0 5px;
  padding-top: 40px;
  width:100px;
  margin-left:0px;
  text-decoration: none;

}
.center
{
text-align:center;
}
.share-btn:active {
  margin-top: 0px;
}
.share-btn:active .share-btn-action {

}
.share-btn:active .share-btn-action:after {
  bottom: 3px;
}

.share-btn-count {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  line-height: 40px;
  font-size: 19px;
  letter-spacing: -1px;
  color: #555;
  background: #fff;
  border:1px solid #ddd;
	}
.share-btn-count:before, .share-btn-count:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -6px;
  border: 6px solid transparent;
  border-top-color: #fff;
}
.share-btn-count:before {
  margin-left: -7px;
  margin-top: 1px;
  border-width: 7px;
  border-top-color: rgba(0, 0, 0, 0.07);
}

.share-btn-action {
  display: block;
  position: relative;
  line-height: 32px;
  padding: 5px 0 5px;
  font-size: 12px;
  color: white;
  
 
}
.share-btn-action:before {
  content: '';
  display: inline-block;
  vertical-align: top;
  
  width: 14px;
  height: 18px;
  
}
.share-btn-action:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 6px;
  left: 0;
  right: 0;
  
}

.share-btn-tweet {

  background: #43bffb;
 
}
.share-btn-tweet:before {
  margin-left: -3px;
}
.share-btn-tweet:after {
  
}
.share-btn-tweet + .share-btn-count {
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 1px rgba(0, 0, 0, 0.12), 0 2px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 1px rgba(0, 0, 0, 0.12), 0 2px rgba(0, 0, 0, 0.04);
}
.share-btn-tweet + .share-btn-count:before {
  border-top-color: rgba(0, 0, 0, 0.05);
}

.share-btn-linkedin{
  background: #007bb6;
 
}
.share-btn-share:before {
  background-position: -18px 0;
}

.share-btn-share{
  background: #3b579d;
 
}
.share-btn-share:before {
  background-position: -18px 0;
}
.share-btn-plus {
  background: #df4a32;
 
}
.share-btn-tumblr {
  background: #34465d;
 
}
.share-btn-pinterest {
  background: #f31717;
 
}

.share-btn-plus:before {

}
