@font-face {font-family: 'SegoeUI';src: url('/font/SegoeUI.eot?') format('eot'), url('/fontSegoeUI.woff') format('woff'), url('/font/SegoeUI.ttf')  format('truetype'), url('/font/SegoeUI.svg#SegoeUI') format('svg');}
body {font-family: lato,sans-serif;;font-size:14px;padding:0px;margin:0px;}
strong{font-weight:normal;}
a {cursor:pointer;text-decoration:none;}
a:hover{text-decoration:none;}
h1{ color: #6C9D06;font-weight: normal;font-size: 20px;}
.link {color:#50b3bc;text-decoration:none;text-decoration:underline;font-weight:normal;}
.link:hover {text-decoration:none;}
.link-1{color:#50b3bc;text-decoration:none;text-decoration:underline;float:right;}
.link-1:hover{text-decoration:none;}
.clr-1{color:#131313;}
.clr-2{color:#4d4d4d;}
.clr-3{color:#a70101;}
.clear {clear:both;line-height:0;font-size:0;width:100%;}
.wrapper{width:100%;overflow:hidden;position:relative}
.wrap{overflow:hidden;position:relative;}
.extra-wrap{overflow:hidden;}
.fleft {float:left;}
.fright {float:right;}
.center {text-align:center;}
.nowrap {white-space:nowrap;}
.top-1 {padding-top:2px;}
.top-2{padding-top:28px;}
.top-3{padding-top:13px;}
.top-4{padding-top:33px;}
.top-5{padding-top:24px;}
.left-1{margin-left:40px;}
.left-2{margin-left:20px;}
.bot-0{padding-bottom:0 !important;margin-bottom:0 !important;}
.pad-0{padding:0px 0px 0px 0px;}
.pad-1{padding:33px 39px 0px 39px;}
.pad-2{padding:0px 39px 0px 39px;}
.pad-3{margin:17px 0px 12px 0px;}
.p1{padding-bottom:18px;}
.p2{padding-bottom:13px;}
#content{width:972px;margin:0 auto;}
.petAdoption_MainBlock{overflow:hidden;background:#fff;float:left;font-family: lato,sans-serif;;font-size:14px;}
.col-1{float: left;width: 660px;margin-right: 8px;}
.col-2 {float:left;width:280px;}
.box-1 {overflow:hidden;padding-top:28px;}
.petadoption_postblock{margin-top:10px;overflow:hidden;}
.petpetadoption_box{overflow:hidden;}
.petpetadoption_box .pet-adoption_post{width: 190px; height: 246px; float: left; margin-left: 0px; margin-right: 18px; margin-top: 7px; padding-top: 5px; padding-bottom: 40px; padding-left: 5px; padding-right: 5px; border: 1px dashed #555; border-radius: 5px;}
.pet-adoption_post img{padding-top:5px;padding-left:2px;}
.pet-adoption_post h2{font-size:20px;padding:0px;margin:0px;padding-bottom:5px;padding-top:5px;border-bottom:1px dotted #ddd;color:#6C9D06;font-weight:normal;}
.pet-adoption_post h2 a{font-size:20px;padding:0px;margin:0px;padding-bottom:5px;padding-top:5px;border-bottom:1px dotted #ddd;color:#6C9D06;font-weight:normal;}
.pet-adoption_post_h4{font-size:14px;padding:0px;margin:0px;padding-bottom:5px;padding-top:5px;border-bottom:1px dotted #ddd;font-weight:normal;color:#333333;text-align:left;}
.pet-adoption_post h4{font-size:14px;padding:0px;margin:0px;padding-bottom:5px;padding-top:5px;border-bottom:1px dotted #ddd;font-weight:normal;color:#333333;text-align:left;}
.pet-adoption_post h4 a{font-size:14px;padding:0px;margin:0px;padding-bottom:4px;padding-top:4px;font-weight:normal;color:#333333;}
.petadoption_fileter{width:100%;border-bottom:3px solid #6C9D06;text-align:left;}
.petadoption_fileter select{width:293px;height:32px;border:1px solid #6C9D06;margin-bottom:10px;margin-top:10px;margin-right: 8px;}
.go_btn{background:#6C9D06;border:1px solid #6C9D06;width:50px;height:32px;color:#fff;font-size:16px;border-radius:3px;cursor:pointer}
.box-3>div p{margin-top:11px;}
.col-3 p.center {margin-top:29px;}
.block-4{background:url(../images/block-4.png) center 0 no-repeat;margin-top:17px;padding-top:15px;}
.box-4 {overflow:hidden;padding-top:8px;margin-left:40px;margin-right:40px;}
.box-4>div {width:190px;float:left;text-align:center;margin-right:10px;}
.box-4>div h4 {margin-bottom:4px;}
.box-4>div p {margin-top:11px;}
.col-4 {float:left;width:310px;}
.col-4 h3, .col-5 h3 {padding-top:34px;}
.col-5 {float:left;width:510px;}
.col-5 h2 {padding-top:33px;}
.col-7 {float:left;width:630px;}
.col-7 h2 {padding-top:33px;}
.col-8{float:left;width:190px;}
.col-8 h5{padding-top:39px;}
.box-5 {overflow:hidden;}
.box-5>div {width:151px;float:left;text-align:center;margin-right:8px;}
.box-5>div p {margin-top:11px;}
#form {margin: 33px 0 0px 0px;width:310px;}
#form textarea {border:#d8d5d5 1px solid;background:#e4e4e4;font: 14px;color:#48484e;height: 255px;outline: medium none;overflow: auto;padding: 4px 0px 0px 10px;width: 228px;resize:none;margin:0px 0 0 0;float:left;font-family: lato,sans-serif;;}
#form label{position:relative;overflow:hidden;display: block;min-height:37px;}
#form label strong{font-weight:normal;float:left;text-align:right;display:inline-block;width:60px;padding-top:4px;padding-right:9px;}
.btns{text-align:right;width:310px;padding-top:6px;}
.btns a{display:inline-block;margin:0 0px 0 20px;}
.sidebar{overflow:hidden;}
.Foster_pet{width:280px;height:auto;margin-bottom:10px;}
.Foster_pet h3{font-size:20px;padding:0px;margin:0px;padding-top:5px;padding-bottom:5px;margin-top:10px;margin-bottom:10px;border-bottom:3px solid  #6C9D06;color:#6C9D06; text-align:left; font-weight:normal;}
.Foster_pet p{font-size:15.5px;color:#000;margin-top:5px;margin-bottom:5px;}
.foster-me{text-align:center;padding-top:10px;}
.foster-me .fm_btn{width:150px;height:35px;background:#ff8226;border:1px solid #ff8226;border-radius:3px;color:#fff;font-size:18px;cursor: pointer;}
.youmaylike_post{width:280px;height:auto;margin-bottom:10px}
.youmaylike_post h3{font-size:20px;padding:0px;margin:0px;padding-top:5px;padding-bottom:5px;margin-top:10px;margin-bottom:10px;border-bottom:3px solid  #6C9D06;color:#6C9D06; text-align:left; font-weight:normal;}
.youmaylike_post img{margin:0px;padding:0px;}
.youmaylike_post h4{font-size:18px;margin:0px;padding:5px;color:#fff;background:#6C9D06; font-weight:normal;}
.petadoption_insidebox1{float:left;width:350px;margin-left:0px;}
.petadoption_insidebox2{float:left;width:275px;margin-left:15px;margin-right:10px;text-align: left;}
.petadoption_articlesec{margin:10px;margin-top:0px;float:left;margin-left:0px;}
.pa_padtb{padding-top:10px;padding-bottom:10px;}
.pa_padtb5{padding-top:5px;padding-bottom:5px;}
.pet-adoption_dogbread{width:350px;text-align:left;}
.pet-adoption_dogbread img{text-align:center;width:330px;height:auto;border:1px solid #fff	;box-shadow:2px 2px 2px 2px #ddd;}
.pa_dogbread_info{ font-size:16px;}
.pa_dogbread_info h2{ font-size:22px;color:#a2cd05;margin:0px;padding:0px;}
.intrested_btn{width:150px;height:35px;background:#ff8226;border:1px solid #ff8226;border-radius:3px;color:#fff;font-size:18px;margin-top:5px;margin-bottom:5px;cursor: pointer;}
.pa-post_details{margin-top:5px;margin-bottom:5px;}
.pa-post_details h2{margin:0px;padding:0px;font-size:22px;}
.pa-post_details p{margin:0px;padding:0px;font-size:16px;margin-top:5px;margin-bottom:5px;text-align:left;font-family: lato,sans-serif;;font-size:16px;line-height:normal;}
.foster-form{width:100%;}
.foster-form h1{color:#6C9D06;width:100%;border-bottom: 3px solid #6C9D06;padding:5px;font-size:20px;text-align:left;margin:0px;font-weight:normal;padding-left:0px;}
.personaldetailsDiv, .householdDiv, .foster_infoDiv{width: 100%;margin-top: 10px;text-align: left;margin-left: 20px;}
.adoption_ques_label{display:inline-block;width:250px;margin-top:10px;margin-bottom:10px;font-size:14px;text-align:left!important;}
.adoption_ques_input{border:1px solid #a5ce08;width:200px;height:30px;border-radius:5px;margin-top:5px;margin-bottom:5px;}
.household_input, .fosterinfo_input{border:1px solid #a5ce08;width:200px;height:30px;border-radius:5px;margin-top:5px;margin-bottom:5px;}
.householdDrop{border: 1px solid #a5ce08;width: 200px;height: 30px;border-radius: 5px;margin-top: 5px;margin-bottom: 5px;}
#fosterform_drop{border:1px solid #a5ce08;width:86px;height:30px;margin-top:5px;margin-bottom:5px;border-radius:5px;}
.personaldetails_label, .fosterinfo_label{font-size:14px;width:400px;display:inline-block;margin-top:10px;margin-bottom:10px;text-align:left;margin-right: 10px;}
.adoption_ques_form{width:100%;text-align:left;}
.adoption_ques_form h1{background:#a2cc00;color:#fff;text-align:left; font-size:20px;font-weight:normal;padding:5px  0px 5px;border-radius:5px;padding-left:10px;}
.adoption_ques_form h2{color:#6C9D06;width: 100%;border-bottom: 3px solid #6C9D06;padding: 5px;font-size: 20px;text-align: left;margin: 0px;font-weight:normal;}
.adoption_ques_formDiv, .personaldetailsDiv, .occupationDiv, .previous_experienceDiv{width:100%;margin-top:10px;margin-left:20px;}
.adoption_ques_label{display:inline-block;width:250px;margin-top:10px;margin-bottom:10px;font-size:14px;text-align:left;}
.adoption_ques_input{border:1px solid #a5ce08;width:247px;height:30px;border-radius:5px;margin-top:5px;margin-bottom:5px;text-align:left;}
.personaldetails_input, .occupation_input, .previous_experience_input{border:1px solid #a5ce08;width:200px;height:30px;border-radius:5px;margin-top:5px;margin-bottom:5px;text-align:left;}
.personaldetails_label{font-size:14px;width:280px;display:inline-block;margin-top:10px;margin-bottom:10px;text-align:left;margin-right:20px;}
.occupation_label{font-size:14px;width:230px;display:inline-block;margin-top:10px;margin-bottom:10px;text-align:left;margin-right:20px;}
.previous_experience_label{font-size:14px;width:250px;display:inline-block;margin-top:10px;margin-bottom:10px;text-align:left;margin-right:20px;}
.foster_submitbtnDiv, .adoption_quesbtnDiv{width:100%;text-align:center;margin-top:10px;margin-bottom:10px;}
.fosterform_submitbtn, .adoption_ques_submitbtn{border:1px solid #ff8226;width:150px;height:40px;background:#ff8226;color:#fff;font-size:20px;border-radius:3px;cursor: pointer;}
.adoption_emailbox{border:1px solid #ddd;font-size:16px; text-align:left;color:#668001;padding-top:3px; padding-bottom:8px; padding-left:5px;margin-top:20px; margin-bottom:20px;line-height:normal; background:#f5f5f5; padding:5px; border-radius:3px;}
.adoption_emailtext{font-size:17px; text-align:left; color:#333;padding-bottom:5px;}
.adoption_emailid{font-size:16px;text-align:left; color:#6C9D06; line-height:normal;}
.adoption_emailid a{color:#6C9D06;text-decoration:underline;}
.adoption_emailid a:hover{color:#6C9D06;text-decoration:underline;}
.dogadooption_form{width:100%;	}
.add_form_adopoption{font-size:24px;color:#000;font-weight:bold;text-align:left;margin-left: 7px;}
.Basic_Div, .Location_Div, .Photo_infoDiv, .Aboupupy_infoDiv{width:100%;margin-top:10px;}
.Adoption_submit_btndiv {margin-right: 10px;text-align: right;margin-top: 10px;margin-bottom: 10px;}
.dogadooption_form h1{color:#6C9D06;width:100%;border-bottom: 3px solid #6C9D06;padding:5px;font-size:20px;text-align:left;margin:0px;font-weight:normal;padding-left:0px;}
.dogadoption_drop{border: 1px solid #A5CE08;width: 200px;height:35px;border-radius: 5px;margin-top: 5px;margin-bottom: 5px;text-align: left;}
.dogadoption_formlabel{display: inline-block;width: 250px;font-size: 14px;text-align: left;float: left;margin: 10px -138px 10px 20px;}
.dogadoption_forminput{border:1px solid #a5ce08;width:200px;height:30px;border-radius:5px;margin-top:5px;margin-bottom:5px;}
.dogadoption_drop_half{border: 1px solid #A5CE08;width: 98px;height:30px;border-radius: 5px;margin-top: 5px;margin-bottom: 5px;text-align: left;}
.Adoption_submit_btn{border: 1px solid #FF8226;width: 150px;height: 40px;background: none repeat scroll 0% 0% #FF8226;color: #FFF;font-size: 20px;border-radius: 3px;cursor:pointer;}
.Dog_adoption_Banner{margin-bottom:10px;}
.howto_adopt{width:100%;float:left;font-family: lato,sans-serif;;}
.howto_adopt h1{color: #6C9D06;width: 100%;padding:5px;padding-left:0px;font-size: 20px;text-align: left;margin: 0px;font-weight: normal;margin-top:15px;}
.adopt_steps{font-size:18px;font-family: lato,sans-serif;;margin-top:10px;text-align:left;float:left;width:100%;color:000;}
.adoption_steps ul{font-size:16px;float:left;width:100%;color:000;font-family: lato,sans-serif;;text-align:leftmargin-left:30px;margin-top:10px;}
.adoption_steps li{padding-bottom:5px;font-family: lato,sans-serif;;}
.to_fosterpet{float:left;text-align:left;font-family: lato,sans-serif;;font-size:16px;margin-top:15px;}
.to_fosterpet a{font-size:16px; color:#6C9D06;font-family: lato,sans-serif;;}
.about_dog_adoption{border:1px solid #ddd;font-size:16px; text-align:left;padding-top:5px; padding-bottom:5px;padding-left:5px; margin-top:20px; color:#333;font-family: lato,sans-serif;;line-height:normal; background:#f5f5f5; padding:5px; border-radius:3px;}
.about_dog_adoption a{color:#6C9D06;}
.termscondation{float:left;width:99%;font-family: lato,sans-serif;;border:1px solid #ddd;margin-top:20px;padding:5px;font-size:16px;	}
.termscondation a{color:#6C9D06;}
.AboutDogAdoption{ float:left; width:100%; font-family: lato,sans-serif;;}
.AboutDogAdoption h1{float:left;width: 99.5%;font-size:20px;margin:0px;font-weight: normal;text-align: left;margin-top: 10px;color: #333;padding:5px;padding-left:0px;font-family: lato,sans-serif;;}
.AboutDogAdoption h2{color: #6C9D06;width: 100%;font-size: 20px;margin: 0px;font-weight: normal;text-align: left;margin-bottom:5px;font-family: lato,sans-serif;;}
.AboutDogAdoption p{margin:0px;padding: 0px;font-size: 16px;text-align: left;margin-bottom:5px;font-family: lato,sans-serif;;line-height:none;}
.adoption_tag{margin-top:20px;float:left;}
.adoption_tags_table { background: white;border-collapse: collapse; float:left;padding:5px;border:1px solid #CCC;font-family: lato,sans-serif;;width:280px;}
.adoption_tags_table th { color:#fff;;background:#ccc;border-bottom:1px solid #ccc;border-right: 1px solid #ccc;font-size:18px font-weight: 100;padding: 5px;text-align:left;vertical-align:middle;font-family: lato,sans-serif;;}
.adoption_tags_table th:first-child {border-top-left-radius:0px;}
.adoption_tags_table th:last-child {border-top-right-radius:0px;border-right:none;}
.adoption_tags_table tr {border-top: 1px solid #ccc;border-bottom-: 1px solid #ccc;color:#666B85;font-size:16px;font-weight:normal;}
.adoption_tags_table tr:first-child {border-top:none;}
.adoption_tags_table tr:last-child{ border-bottom:none;}
.adoption_tags_table tr:nth-child(odd) td {background:#f8f8f8;} 
.adoption_tags_table td {background:#FFFFFF;padding: 7px 5px;text-align:left;vertical-align:middle;font-weight:300;font-size:18px;border-right: 1px solid #C1C3D1;}
.adoption_tags_table td a {font-family: lato,sans-serif;;font-size:15px;color:#333;}
.adoption_tags_table td a:hover{font-family: lato,sans-serif;;font-size:15px;color:#333;}
.adoption_tags_table td:last-child{border-right: 0px;}
.adoption_tags_table th.text-left{text-align: left;}
.adoption_tags_table td.text-left{text-align: left;}
.text-left h3{border:none;color: #444;font-size:18px;font-weight: normal; margin:0px; padding:0px; }
.titile_tag a.tooltip span{z-index: 10;display: none; border-radius:4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; } 
.titile_tag a.tooltip:hover span{ display: inline; position: absolute; border: 1px solid #8c8c8c; background: #fff;}
.titile_tag a.tooltip > span{width: 200px; padding: 10px 12px; opacity: 0; visibility: hidden; z-index: 10; position: absolute; font-size: 13.5px; font-style: normal; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 4px 4px 4px #d9b3c3; -moz-box-shadow: 4px 4px 4px #d9b3c3; box-shadow: 4px 4px 4px #d9b3c3; color: #6C9D06; background: #fff; background: -moz-linear-gradient(top, #FBF5E6 0%, #FFFFFF 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBF5E6), color-stop(100%,#FFFFFF)); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBF5E6', endColorstr='#FFFFFF',GradientType=0 ); border: 1px solid #8c8c8c; }
.titile_tag a.tooltip:hover > span{opacity: 1; text-decoration:none; visibility: visible; overflow: visible; margin-top: 50px; display: inline; margin-left: -150px;text-align:left;}
.titile_tag a.tooltip span b{ width: 15px; height: 15px; margin-left: 20px; margin-top: -19px; display: block; position: absolute; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); -webkit-box-shadow: inset -1px 1px 0 #fff; -moz-box-shadow: inset 0 1px 0 #fff; -o-box-shadow: inset 0 1px 0 #fff; box-shadow: inset 0 1px 0 #fff; display: none\0/; *display: none; background: #fff; border-top: 1px solid #8c8c8c; border-right: 1px solid #8c8c8c; } 
label{ font-weight:normal!important;}
*{margin: 0;padding: 0;}
#wrapper {width: 640px;margin: 25px auto;font-family: lato,sans-serif;;}
#intro{padding-bottom: 10px;}
#slider {width: 650px;margin: 0 auto;position: relative;font-family: lato,sans-serif;;float:left;height:260px;margin-bottom:10px;margin-top:10px;}
.scroll {overflow: hidden;width: 590px;margin: 0 auto;position: relative;font-family: lato,sans-serif;;height:250px;}
.scrollContainer {position: relative;}
.scrollContainer div.panel {padding: 10px;width: 180px;height:190px;}
#left-shadow {position: absolute;top: 0;left: 0;width: 12px;bottom: 0;}
#right-shadow {position: absolute;top: 0;right: 0;width: 12px;bottom: 0;}
.inside {padding: 10px;}
.inside img {display: block;margin: 0 0 10px 0;max-width: 150px;margin:auto;}
.insideimgBox{width:180px;height:150px;border: 1px solid #DDD;display:table-cell;vertical-align:middle;margin-bottom: 5px;}
.inside h4 {font-weight: normal;color: #111;font-size: 16px;margin: 0 0 8px 0;}
.inside p {font-size: 11px;color: #ccc;}
a{color: #000;text-decoration: none;}
.scrollButtons {position: absolute; top: 120px;cursor: pointer;}
.scrollButtons.left {left: 0px;}
.scrollButtons.right {right:0px;}
.hide {display: none;}
.related_pets{text-align: left;font-weight: bold;font-size: 20px;color: #6C9D06;border-bottom: 3px solid #6C9D06;padding-top:0px;padding-bottom: 7px;}
.sb_icon_left, .sb_icon_right{background: url("/new/common/images/sprites_ds.png") no-repeat scroll 0% 0% transparent;float: left;margin-left: 3px;}
.sb_icon_left{float: left;margin-left: 3px;width: 33px;height: 33px;background-position: -378px -217px;}
.sb_icon_right{float: left; margin-left: 3px; width: 33px;height: 33px; background-position: -402px -217px;}
.breadcrumb a { font-size:13px !important; text-decoration:none;}
.breadcrumb{background:#fff !important; font-family:Arial, Helvetica, sans-serif;}
.breadcrumb_cont{float:left; width:100%; color: #666; font-size:13px; word-spacing:2px; margin-top:5px;}
.breadcrumb_cont span{ color:#333;}
.breadcrumb_cont span a:hover{ color:#6C9D06; font-size:13px;}
.brd_font_bold{ font-weight:bold;}