* {margin: 0;padding: 0;}
body {font-family:"Segoe UI";}
#wrapper {width: 640px;margin: 25px auto;font-family:"Segoe UI";}
#intro{padding-bottom: 10px;}
#slider {width: 650px;margin: 0 auto;position: relative;font-family:"Segoe UI";float:left;height:260px;margin-bottom:10px;margin-top:10px;}
.scroll {overflow: hidden;width: 590px;margin: 0 auto;position: relative;font-family:"Segoe UI";height:250px;}
.scrollContainer {position: relative;}
.scrollContainer div.panel {padding: 10px;width: 180px;height:190px;}
#left-shadow {position: absolute;top: 0;left: 0;width: 12px;bottom: 0;}
#right-shadow {position: absolute;top: 0;right: 0;width: 12px;bottom: 0;}
.inside {padding: 10px;}
.inside img {display: block;margin: 0 0 10px 0;max-width: 150px;margin:auto;}
.insideimgBox{width:180px;height:150px;border: 1px solid #DDD;display:table-cell;vertical-align:middle;margin-bottom: 5px;}
.inside h2 {font-weight: normal;color: #111;font-size: 16px;margin: 0 0 8px 0;}
.inside p {font-size: 11px;color: #ccc;}
a {color: #000;text-decoration: none;}
.scrollButtons {position: absolute; top: 120px;cursor: pointer;}
.scrollButtons.left {left: 0px;}
.scrollButtons.right {right:0px;}
.hide {display: none;}
.related_pets{text-align: left;font-weight: bold;font-size: 20px;color: #668000;border-bottom: 3px solid #668000;padding-top:0px;padding-bottom: 7px;}
.sb_icon_left, .sb_icon_right{background: url("/new/common/images/sprites_ds.png") no-repeat scroll 0% 0% transparent;float: left;margin-left: 3px;}
.sb_icon_left{float: left;margin-left: 3px;width: 33px;height: 33px;background-position: -378px -217px;}
.sb_icon_right{float: left; margin-left: 3px; width: 33px;height: 33px; background-position: -402px -217px;}

