@charset "utf-8";
a{text-decoration:none;}
#ShopItemBox{min-height: 270px; max-height:300px; width: 210px; padding: 5px;float: left;text-align: center; margin: 5px 0px 15px 10px;  font-family:Arial, Helvetica, sans-serif;}
#ShopItemDet{font-weight: bold;color: #333; font-size:14px; height:55px;}
#ShopItemDet h3{margin-top: 5px;margin-bottom: 5px; color:#555; font-size:14px; text-align:left;}
#ShopItemDet h3 a{font-size:14px; text-decoration:none; color:#555; }
#ShopItemDet a{color: #555;text-decoration: none; font-weight:normal;}
#ShopItemDet a:Hover{color: #555; text-decoration: none; font-weight:normal; font-size:14px; }
#ShopItemPriceList{color: #675E5B; margin-top: 3px; margin-top: 10px; margin-bottom: 10px;}
#itemprice{color: #C30;margin-top: 3px;}
#ShopItemImgBox{height: 400px;width: 360px;float: left;}
#ShopItemDesBox{height: 300px;width: 350px;float: right;padding-left: 5px;}
#ShopItemPrice{font-size: 18px;font-weight: bold;}
#ItemPriceOnly{font-size: 24px;}
#ShopItemCustom{height: 150px;margin-top: 10px;}
#ShopQty{text-align: center;}
.ShopGray{olor: #666;font-size: 11px;}
#ShopAddtoCart{float: left;margin-left: 10px;}
#ShopQtyBox{float: left;margin-top: 8px;}
#ShopItemDetail{padding: 10px;margin-top: 5px;border: 1px solid #999;}
#ShopItemImgMain{height: 310px;margin-bottom: 5px;}
#ShopItemImgThubm{height: 86px;}
#ShopItemThumBox{height: 84px;width: 84px;border: 1px solid #999;float: left;margin-left: 3px;}
#ShopItemHone{border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #CCC;margin-bottom: 10px;padding-bottom: 5px;}
#ShopItemHone h1{font-size: 24px;color: #333;}
#table {margin: auto;width: 760px;text-align: left;border-top: 1px solid #CCC;border-bottom:: 1px solid #CCC;vertical-align: middle;}
#table ul {list-style: none;clear: both;height: 50px;border-bottom: 1px solid #CCC;border-right: 1px solid #CCC;margin: 0px;padding: 0px;color: #000;}
#table ul li {float: left;height: 42px;border-left: 1px solid #CCC;text-align: left;padding-top: 5px;padding-right: 3px;padding-bottom: 3px;padding-left: 3px;}
#table ul.header {height: 24px;color: #000;background: #F9F9F9;}
#table ul.header li {height: 20px;text-align: center;font-weight: bold;font-size: 12px;padding-top: 3px;padding-right: 2px;padding-bottom: 2px;padding-left: 4px;}
.cartsmall{font-size: 10px;color: #666;}
#CartLogin{width: 350px;float: left;padding: 5px;}
#CartEmail{width: 350px;float: right;padding: 5px;}
.UtilityBoxHeader{height:25px;padding:5px 20px 0 20px;color:#fff;font-size:13pt;border-top-right-radius:10px;border-top-left-radius:10px;-webkit-border-top-left-radius:10px;-webkit-border-top-right-radius:10px;-moz-border-radius-topleft:10px;-moz-border-radius-topright:10px;background:#900;background:-webkit-gradient(linear,left top,left bottom,from(#cc3300
),to(#990000
));background:-moz-linear-gradient(top,#cc3300
,#990000
);filter :progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc3300
,endColorstr=#990000
);-ms-filter :"progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc3300, endColorstr=#990000)"}
.UtilityBoxContent{border-left:solid 1px #999;border-right:solid 1px #999;border-bottom:solid 1px #999;padding:5px 18px 5px 20px}
#listHeading{color: #555; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; text-transform:uppercase; }
#shopCartTopBox{float: right;margin-right: 10px;margin-top: 0px;width: 200px;height: 30px;color: #900;}
#shopCartTopBox a{color: #900;text-decoration: none;}
#shopCartTopBox a:Hover{color: #900;text-decoration: none;}
#featuredItemBox{height: 224px;width: 710px;margin-bottom: 5px;float: left;}
#quickText{height: 224px;width: 240px;float: left;margin-left: 5px;}
.tBig{font-family: Verdana, Geneva, sans-serif;font-size: 16px;font-weight: bold;color: #FFF;display: block;}
.tSmall{font-family: Verdana, Geneva, sans-serif;font-size: 12px;font-weight: bold;color: #8d233f;display: block;}
#qtext{background-image: url(/shop/image/qImgbg.gif);background-repeat: repeat-x;height: 54px;background-color: #e3507a;text-align: center;vertical-align: middle;padding-top: 20px;}
#ShopBrandImgBox{float: left;padding-right: 10px;padding-bottom: 10px;}
#ShopBrandDesBox{padding: 5px;}
.blueButton{background-color: #053d77;background-image: url(/shop/image/bluebutbg.jpg);background-repeat: repeat-x;height: 30px;color: #FFF;padding-right: 15px;padding-left: 15px;padding-bottom: 10px;cursor: default;padding-top: 10px;text-decoration: none;border: 1px solid #032E58;}
.blueButtonSmall{background-color: #053d77;background-image: url(/shop/image/bluebutbg.jpg);background-repeat: repeat-x;height: 30px;color: #FFF;padding-right: 10px;padding-left: 10px;padding-bottom: 5px;cursor: default;padding-top: 5px;text-decoration: none;}
.blueButton:Hover{color: #FFF;text-decoration: none;cursor: hand;cursor: pointer;background-image: url(/shop/image/bluebutbg-hov.jpg);background-repeat: repeat-x;}
.redButton{background-color: #750000;background-image: url(/shop/image/redbuttonbg.jpg);background-repeat: repeat-x;height: 30px;color: #FFF;padding-right: 15px;padding-left: 15px;padding-bottom: 10px;cursor: default;padding-top: 10px;text-decoration: none;}
.redButton:Hover{color: #FFF;text-decoration: none;cursor: hand;cursor: pointer;background-image: url(/shop/image/redbuttonbg-hov.jpg);background-repeat: repeat-x;}
.grayLinkButton{background-color: #d9ded4;background-image: url(/shop/image/gray-bg.jpg);background-repeat: repeat-x;height: 30px;color: #000;padding-right: 15px;padding-left: 15px;padding-bottom: 10px;cursor: default;padding-top: 10px;text-decoration: none;border: 1px solid #b6b7b6;}
.grayLinkButton:Hover{color: #333;text-decoration: none;cursor: hand;cursor: pointer;background-image: url(/shop/image/gray-bg-hov.jpg);background-repeat: repeat-x;}
.RedLinkButton{background-color: #e23d20;background-image: url(/shop/image/red-bg.gif);background-repeat: repeat-x;height: 30px;color: #FFF;padding-right: 15px;padding-left: 15px;padding-bottom: 10px;cursor: default;padding-top: 10px;text-decoration: none;border: 1px solid #e23d20;}
.RedLinkButton:Hover{color: #FFF;text-decoration: none;cursor: hand;cursor: pointer;background-image: url(/shop/image/red-bg.gif);background-repeat: repeat-x;}
.liteOrangeLinkButton{background-color: #f7f4e6;background-repeat: repeat-x;height: 30px;color: #000;padding-right: 15px;padding-left: 15px;padding-bottom: 10px;cursor: default;padding-top: 10px;text-decoration: none;border: 1px solid #dfcca1;}
.liteOrangeLinkButton:Hover{color: #333;text-decoration: none;cursor: hand;cursor: pointer;background-repeat: repeat-x;}
.cornerRoundAll{-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.ulHover a:Hover{background-color:#CCC;color: #036;}
#postReview{background-color: #cfdbec;margin-top: 3px;}
#reviewImg{height: 60px;width: 60px;float: left;}
#yourReview{width: 900px;float: left;}
#reviewImg img{margin: 5px;}
.soldout_border{  border-bottom: 1px solid #ddd;padding-bottom: 10px;}