body.ThreeColWallpaper{background-image:url('3ColBackground.gif');background-position:center top;background-repeat:repeat-y}
#MainWrapper{z-index:0;background-color:#FFF;margin:0 auto 0 auto;min-width:980px;max-width:980px;width:980px;text-align:left}
#TopWrapper{vertical-align:top;padding:17px 10px 0 10px}
#TopHeader{height:24px;background-color:#E7E7E7;padding:0 10px 0 0}
#Header{position:relative;width:960px;z-index:90;height:142px}
#Header_Logo{float:left;width:292px;height:83px;overflow:hidden;margin-left:-5px}
#Header_01{float:right;text-align:right;padding:0 0 10px 0;white-space:nowrap;width:660px}
#Header_02{float:right;height:34px;float:right;width:672px;margin-top:15px}
#Header_02 img{float:right}
#Header_03{clear:both;height:34px}
#TopRightSearchBar{float:right;text-align:left;height:34px;width:360px;display:inline-block}
#LeftNav{width:198px}
#Content{vertical-align:top;width:100%;padding:0 5px 5px 5px}
#RightSide{width:159px;text-align:center;vertical-align:top}
#Footer{padding-top:10px;text-align:center;clear:both}
.ShoppingCartIcon{padding:7px 3px;float:right;display:inline-block}
#GrayBarLeft{float:left;height:34px;width:5px;background-image:url('LeftRoundedEdge.gif');background-repeat:no-repeat}
#GrayBarMiddle{float:left;height:34px;width:950px;background-image:url('/images/GrayBarFill.gif');background-repeat:repeat-x}
#GrayBarMiddle_01{padding-top:9px;float:right;padding-right:5px}
#GrayBarRight{float:left;height:34px;width:5px;background-image:url('RightRoundedEdge.gif');background-repeat:no-repeat}
#TopRightBread{float:right;width:135px;height:50px;margin-right:5px;text-align:right;overflow:hidden}
#TopRightCustServ{float:right;width:170px;text-align:right;padding-top:4px}
#TopRightShipping{float:right;width:115px;padding-right:5px;padding-top:4px}
.AmericanFlag{padding-right:7px;width:16px;height:11px}
.PipedTopRightNav{padding-right:5px;padding-left:5px;color:#444444
}
.NotMeTopRight{color:#444444
;font-size:11px}
.NotMeTopRightLink{font-size:11px}
.SearchButton:hover{opacity:.8;filter:alpha(opacity=80)}
.SearchBox{border:solid 1px #E2E2E2;width:218px;font-size:11px;font-family:Arial;font-style:italic;color:#444444
;height:18px}
.LeftNavBox{padding:4px;margin:0 0 7px 0;line-height:15px;border:1px solid #a8a8a8}
.LeftNavHeaders{display:block;color:#444444
;font-size:10pt;text-decoration:none;margin:1px 1px 0;padding-left:3px}
.LeftNavHeaders:Hover{color:#990000
}
.left-nav-facets a,.LeftNavLinks{display:block;text-decoration:none;font-size:8pt;font-weight:normal;margin:1px 1px 0;padding-left:8px;color:#444444
}
a.LeftNavLinks:Hover{color:#990000
}
.LeftNavHeader{display:block;font-size:11pt;color:#990000
;font-weight:bold;margin:1px 1px 0;padding:3px}
.canada-shipping-filter{padding:6px 0 0 24px;margin-left:5px}
.canada-shipping-info{padding-top:1px}
.canada-shipping-info .canada-shipping-filter{color:red;padding-top:4px;margin-left:-3px}
.canada-ships-to-container{width:88px;height:53px;border:2px solid #DCDCDC}
.canada-ships-to-header{padding:5px 5px 5px 7px}
.canada-ships-to-flag{padding:0 5px 2px 10px}
.canada-ships-to-font{color:#666666
;font-size:10pt}
#TopHeader .SiteLinksNav{float:left;height:20px;width:670px;margin-top:0;margin-left:0;margin-bottom:0;margin-right:0;padding:4px 0 0 0}
#TopHeader .SiteLinksNav a{display:block;float:left;height:20px;margin-right:3px;font-size:10px;color:#999999
;text-decoration:none;padding:3px 8px 0 8px}
#TopHeader .SiteLinksNav a:hover{float:left;height:20px;margin-right:3px;background-color:#fff;border-top-right-radius:4px;border-top-left-radius:4px;-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;font-size:10px;color:#990000
}
#TopHeader .SiteLinksNav .ActiveTab{background-color:#fff;border-top-right-radius:4px;border-top-left-radius:4px;-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;font-size:10px;color:#990000
;font-weight:bold;padding:3px 8px 0 8px}
a.TopHeaders{color:#990000
;font-size:10px;font-family:Arial}
a.TopHeaders:Hover{color:#666666
}
a.GrayBarLinks{color:#990000
;font-size:12px}
a.GrayBarLinks:Hover{color:#444444
}
.H1Top{position:relative;color:#999999
;font-size:9pt;font-weight:normal;display:inline}
#SearchBarMiddle{float:left;height:34px;width:332px;background-image:url('GrayBarFill.gif');background-repeat:repeat-x;padding-right:4px}
#SearchBarMiddle img{float:left}
#SearchBarLeftEdge{float:left;height:34px;width:5px;background-image:url('LeftRoundedEdge.gif');background-repeat:no-repeat}
#SearchBarMagGlass{padding:4px 4px 0 2px;float:left}
#SearchBarBox{padding:6px 5px 0 0;float:left}
#SearchBarButton{padding:7px 0 0 0;float:left}
#SearchBarRightEdge{float:left;height:34px;width:5px;background-image:url('RightRoundedEdge.gif');background-repeat:no-repeat}
.CanadaModalHeader{font-weight:bold;font-size:12pt;color:#990000
}
.FinalSignupSubmit img,.CloseSignupModal img,.CloseCanadaShipping img{border:0}
.CloseShareModal img,.CloseTermsModal img,.ClosePrivacyModal img,.CloseReturnsModal img{border:0;float:right}
.ShareArticle img{border:0;width:40px;height:35px}
.MasterCanadaModalOuter{width:506px;background-color:Transparent;padding:6px 6px 6px 6px}
.FinalSignupThankYouScreen,.FinalSignupWaitScreen,.FinalSignupError{background-color:#fff;height:205px;display:none;position:absolute;z-index:20;overflow:hidden;left:2px;padding:25px 15px 15px 15px;width:225px;text-align:left}
.FinalSignUpThankYouScreen div{text-align:center}
.FinalSignupThankYouScreen{z-index:30}
.FinalSignupModal input{width:180px}
.FinalSignupError{z-index:40}
.FinalSignupModal,.EmbedArticleModal,.MasterCanadaModalInner{padding:10px;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;box-shadow:3px 3px 3px #333;-moz-box-shadow:3px 3px 3px #333;-webkit-box-shadow:3px 3px 3px #333;cursor:default;background:#fff}
.MasterCanadaModalInner{width:500px}
*html .MasterCanadaModalInner{display:inline}
.FinalSignupModal{padding:0;background:#900;background:-webkit-gradient(linear,left top,left bottom,from(#c30),to(#900));background:-moz-linear-gradient(top,#c30,#900);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc3300,endColorstr=#990000);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc3300, endColorstr=#990000)";height:303px;text-align:left}
.FinalSignupModal .UtilityBoxContent{background-color:#FFF;border-bottom-width:0;padding-right:0;text-align:left;width:240px;height:265px;border-bottom-right-radius:10px;border-bottom-left-radius:10px;-webkit-border-bottom-left-radius:10px;-webkit-border-bottom-right-radius:10px;-moz-border-radius-bottomleft:10px;-moz-border-radius-bottomright:10px}
.FinalSignupModal .UtilityBoxHeader img{float:right;display:inline;height:18px}
.FinalSignupModal .UtilityBoxContent .RedText{min-height:17px;padding-bottom:15px}
.EmbedArticleModal{width:350px;color:#808080;font-size:13.5pt;font-weight:bold}
.MasterModalInnerDivs{width:450px;padding-left:20px;text-align:left}
.MasterModalX{padding-top:0;padding-right:8px;float:right}
.FinalSignupTrigger{font-size:11pt;font-weight:bold}
#GrayBarMiddle_01 .email-widget-link,#GrayBarMiddle_01 .email-widget-link:link,#GrayBarMiddle_01 .email-widget-link:visited,#GrayBarMiddle_01 .email-widget-link:active{float:left;width:33px;height:21px;display:block;margin:-3px -3px 0 6px;border:0;text-decoration:none;background:url('/images/GoButton.gif')}
#GrayBarMiddle_01 .email-widget-link:hover{opacity:.8;filter:alpha(opacity=80)}
#GrayBarMiddle_01 .email-widget-input{float:left;display:block;font-size:12px;padding:1px 1px 1px 1px;margin-top:-2px;border:solid 1px #e2e2e2;color:#444444
}
#GrayBarMiddle_01 input.textbox-focused{border:solid 1px #e2e2e2;color:#444444
}
#GrayBarMiddle_01 .result-display{float:left;display:none;color:#444444
;background :transparent}
#GrayBarMiddle_01 #EmailSignupWidgetElements{float:left}
#GrayBarMiddle_01 .email-element-container{float:left}
.PreviouslyViewed{width:196px;max-width:196px;float:left}
.PreviouslyViewedInner{border-left:1px solid #CCC;border-right:1px solid #CCC;border-bottom:1px solid #CCC;width:196px;max-width:196px;float:left}
.PreviouslyViewedImage{float:left;padding-top:5px;padding-left:5px;padding-bottom:5px}
.PreviouslyViewedDesc{float:right;padding-top:10px;width:110px;max-width:110px}
a.PreviouslyViewedLink{font-size:9pt;font-weight:bold;color:#990000
text-decoration:none}
a.PreviouslyViewedLink:hover{font-size:9pt;font-weight:bold;color:#444444
}
.PreviouslyViewedPrice{font-size:9pt;font-weight:bold;color:#333333
;line-height:18pt;float:right;width:110px;max-width:110px}
#topNavMenuContainer{float:right;margin-top:15px;height:28px;background-image:url('NavSlice.gif');background-repeat:repeat-x;width:960px;overflow:hidden}
ul.top-nav-menu{list-style:none;margin:0;padding:0;width:980px;position:absolute}
ul.top-nav-menu *{margin:0;padding:0}
ul.top-nav-menu a{text-decoration:none;font-weight:700}
ul.top-nav-menu li{position:relative;float:left;z-index:100}
ul.top-nav-menu ul{position:absolute;top:28px;display:none;list-style:none}
ul.top-nav-menu ul.top-nav-sub-list-show-right.top-nav-sub-list-level-1{left:2px}
ul.top-nav-menu ul.top-nav-sub-list-show-left.top-nav-sub-list-level-1{right:2px}
ul.top-nav-menu ul li{position:relative;width:210px;background:#fff;border:solid 1px #d3d3d3;border-top:0;border-bottom:0}
ul.top-nav-menu ul.top-nav-sub-list-show-right li{text-align:left}
ul.top-nav-menu ul.top-nav-sub-list-show-left li{text-align:right}
ul.top-nav-menu li.top-nav-sub-item-top{border-top:solid 1px #d3d3d3;border-top-right-radius:5px;border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-webkit-border-top-left-radius:5px;-moz-border-radius-topright:5px;-moz-border-radius-topleft:5px}
ul.top-nav-menu li.top-nav-sub-item-bottom{border-bottom:solid 1px #d3d3d3;border-bottom-left-radius:5px;border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px}
ul.top-nav-menu ul.top-nav-sub-list-level-1 li.top-nav-sub-item-top{border-top:0;border-top-right-radius:0;border-top-left-radius:0;-webkit-border-top-right-radius:0;-webkit-border-top-left-radius:0;-moz-border-radius-topright:0;-moz-border-radius-topleft:0}
ul.top-nav-menu ul li a{display:block;font-size:12px;font-weight:bold;text-decoration:none;padding:6px;color:#545454;margin:0 6px 0 10px}
ul.top-nav-menu li.top-nav-sub-item-top a.top-nav-sub-item-link{border-top:0}
ul.top-nav-menu li.top-nav-sub-item-middle a.top-nav-sub-item-link,ul.top-nav-menu li.top-nav-sub-item-bottom a.top-nav-sub-item-link{border-top:solid 1px #d3d3d3}
ul.top-nav-menu ul li a:hover,ul.top-nav-menu ul li .top-nav-sub-item-hover{color:#990000
}
ul.top-nav-menu ul ul{top:0;list-style:none}
ul.top-nav-menu ul ul.top-nav-sub-list-show-right{left:210px}
ul.top-nav-menu ul ul.top-nav-sub-list-show-left{right:210px}
ul.top-nav-menu .top-nav-header-item-link{display:inline-block;vertical-align:top;padding:6px 6px 6px 6px;color:#fff;zoom:1;*display:inline;height:22px}
ul.top-nav-menu .top-nav-header-item-text{padding:0 5px 0 6px
;font-size:13px
}
ul.top-nav-menu .top-nav-header-item-link:hover,ul.top-nav-menu .top-nav-header-item-hover{display:inline-block;vertical-align:top;font-weight:700;padding:3px 3px 6px 3px;margin:3px 3px 0 3px;background-color:#fff;color:#990000
;zoom:1;*display:inline;height:22px;border-top-right-radius:5px;border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-webkit-border-top-left-radius:5px;-moz-border-radius-topright:5px;-moz-border-radius-topleft:5px}
ul.top-nav-menu ul.top-nav-sub-list-show-right .top-nav-sub-item-children-indicator{background-image:url(../images/arrow-right.gif);background-position:194px 11px;background-repeat:no-repeat}
ul.top-nav-menu ul.top-nav-sub-list-show-left .top-nav-sub-item-children-indicator{background-image:url(../images/arrow-left.gif);background-position:6px 11px;background-repeat:no-repeat}
a{color:#990000
;font-size:10pt;text-decoration:none}
a:hover{color:#444444
;text-decoration:none}
a.NoHover:hover{color:#990000
}
h2.breadCrumbH2{font-size:10pt;font-weight:normal;white-space:nowrap;display:inline}
a.BlackLink{color:#444444
;font-size:11px}
a.BlackLink:hover{color:#7d7d7d;text-decoration:none}
hr{background-color:#990000
;border:#990000
;color:#990000
;height:1px}
.Header{font-size:20pt;text-decoration:underline;color:#990000
;text-align:center}
.SubHeader{font-size:12pt;font-weight:normal;color:#990000
}
.NonDisplay{display:none}
.Display{display:block}
.RedText{color:Red}
.SignInError{color:Red;font-size:10pt}
.highlight-text{color:#FF0000
}
.Bold{font-weight:bold}
.BoldGrey{font-size:14px;font-family:Arial;color:#999999
;font-weight:bold}
.DefaultSiteColor{color:#990000
}
.SmallItalic{font-size:9pt;font-style:italic}
.ArticlesListLeft{width:48%;float:left}
.ArticlesListRight{width:48%;float:left;padding-left:12px}
.SiteMapLeft{width:45%;position:relative;float:left;text-align:left;line-height:15px}
.SiteMapRight{width:45%;position:relative;float:left;padding-left:12px;text-align:left;line-height:15px}
.UtilityBoxHeader{height:25px;padding:5px 20px 0 20px;color:#fff;font-size:13pt;border-top-right-radius:10px;border-top-left-radius:10px;-webkit-border-top-left-radius:10px;-webkit-border-top-right-radius:10px;-moz-border-radius-topleft:10px;-moz-border-radius-topright:10px;background:#900;background:-webkit-gradient(linear,left top,left bottom,from(#cc3300
),to(#990000
));background:-moz-linear-gradient(top,#cc3300
,#990000
);filter :progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc3300
,endColorstr=#990000
);-ms-filter :"progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc3300, endColorstr=#990000)"}
.UtilityBoxContent{border-left:solid 1px #999;border-right:solid 1px #999;border-bottom:solid 1px #999;padding:5px 18px 5px 20px}
.modalBackground{background-color:Gray;filter:alpha(opacity=70);opacity:.7;top:0;left:0;position:absolute;z-index:10000}
.modalPopup{position:absolute;background-color:#ffd;border-width:3px;border-style:solid;border-color:Gray;padding:3px;z-index:10001}
#CatPageHeaderMain{height:39px;background-color:#990000
}
#CatPageHeaderLeft{float:left;width:5px;height:39px;background-image:url('/images/CatHeaderLeft.gif')}
#CatPageHeaderMiddle{float:left;height:39px;vertical-align:middle}
#CatPageHeaderHeading{width:538px}
#CatPageHeaderHeading h2{color:#fff;font-size:30px;font-weight:bold;display:inline}
#CatPageHeaderSeeAll{width:42px}
#CatPageHeaderSeeAll .CatPageSeeAllLink{color:#fff;text-decoration:underline}
#CatPageHeaderRight{float:right;width:5px;height:39px;background-image:url('/images/CatHeaderRight.gif')}
#CatPageWidget{margin:5px 0 5px 0;display:none;clear:both}
.CatPageIconMain{float:left;width:150px;padding:7px 23px 7px 23px}
.CatPageIconImage{display:block;width:149px;height:149px;border:solid 1px #990000
}
.CatPageSubCatLink{color:#444444
;font-weight:bold;font-size:15px}
.CatPageSubCatLink{color:#990000
}
.CatPageItemLink{color:#444444
;font-size:12px;text-decoration:underline}
.CatPageItemLink:hover{text-decoration:underline}
#CatPageSEOBlock{margin-top:5px}
.requiresCookies{display:inline}
.GreyBoxTop{background:url('/images/top_box_filled.gif') no-repeat center;height:4px;margin:0 2px 0 2px}
.GreyBoxMiddle{background:url('/images/box_fill.gif') repeat-y center;margin:0 2px 0 2px;padding:10px 25px 10px 25px}
.GreyBoxBottom{background:url('/images/bottom_box_filled.gif') no-repeat center;height:4px;margin:0 2px 0 2px}
.ItemPageAddToCartBtn{display:block;width:125px;height:30px;margin:0 auto;background-image:url('/images/add_to_cart.gif');border:0}
.ItemPageAddToCartBtn:hover{background-image:url('/images/add_to_cart_over.gif');cursor:pointer}
.ItemPageAddToCartBtnOver{display:block;width:125px;height:30px;margin:0 auto;background-image:url('/images/add_to_cart_over.gif');border:0}
.ItemPageAddToCartNotAvailableMessageHide{display:none}
.ItemPageAddToCartNotAvailableMessageShow{display:inline;font-weight:bold}
.ItemPageAddToCartBtnPersonalize{display:block;width:212px;height:26px;margin:0 auto;background-image:url('/images/personalize_add.gif');border:0}
.ItemPageAddToCartBtnPersonalize:hover{background-image:url('/images/personalize_add_over.gif');cursor:pointer}
.ItemPageAddToCartBtnPersonalizeOver{display:block;width:212px;height:26px;margin:0 auto;background-image:url('/images/personalize_add_over.gif');border:0}
.ItemPagePrice{font-size:33px;font-weight:bold;color:#333333
}
.ItemPagePriceSS{font-size:12pt;vertical-align:top}
.H2ItemDetail{display:inline;font-size:27px;font-weight:bold;color:#666666
}
.ItemPageSelectStyle{font-size:14px;color:#990000
;padding-top:11px;padding-bottom:3px}
.ItemPageSelectDDStyle{font-size:15px;color:#666666
}
.ItemPageMultiPrice{display:block;font-size:11px;color:#990000
;font-style:italic;padding-top:6px;padding-left:10px}
a.ItemReviewLinksDisabled,a.ItemReviewLinksDisabled:hover,.ItemReviewLinks{font-size:9pt;font-weight:normal;color:#990000
;text-decoration:none}
.ItemPageQTY{font-size:14px;color:#990000
}
.ItemPageQtyBox{font-size:15px;color:#999999
;text-align:center}
.ItemPageSubHeader{font-size:21px;font-weight:bold;color:#666666
}
.ItemPageItemNo{font-size:12px;color:#999999
}
.ItemPageAlsoBoughtSubHeader{text-align:left;padding-left:20px;font-weight:bold;font-size:19px;color:#990000
}
.ItemPageModalBackground{background-color:#000;filter:alpha(opacity=80);opacity:.8;top:0;left:0;position:absolute;z-index:10000}
.ItemPageDownloadableResources{float:right;width:180px}
.ItemPagePodBoxHeader{background:url('/images/additional_header.gif') no-repeat;text-align:center;height:16px;width:181px;padding:3px;font-weight:bold;font-size:13px;color:#900}
.ItemPagePodBoxContent{background:url('/images/additional_pod.gif') no-repeat;margin-top:4px;height:65px;width:179px;overflow:hidden;padding:5px 4px 5px 4px;text-align:center}
.ItemPagePodLink{display:block;font-weight:bold;font-size:13px;color:#393939}
.ItemPagePodDesc{display:block;font-size:12px;color:#393939}
.summary-canadian-shipping-options{padding-bottom:10px}
.ItemPageProductSummaryMaxWidth{float:left;width:670px}
#ItemPageProductSummaryBoxMain{padding:15px 5px 0 5px}
#ItemPageBreadCrumb{float:left;width:745px;height:25px}
#ItemPage3rdParty{float:right;width:195px;height:40px}
#ItemPageSocialBkmrk{float:right;width:125px;height:16px;margin-top:3px}
#ItemPageTTgteaser{float:right;width:190px;height:16px}
#ItemPageTopImageInfo{clear:both}
#ItemPageTopImageInfo .Image{float:left;width:350px;min-height:350px;padding-right:5px;padding-bottom:15px;position:relative;display:inline}
#ItemPageTopImageInfo .ItemPageS7Message{text-align:center;font-size:11px;color:#949494}
#ItemPageTopImageInfo .RightSideInfo{float:left;width:587px;min-height:370px}
*html #ItemPageTopImageInfo .RightSideInfo{width:590px}
#ItemPageTopImageInfo .TopReviews{float:left;padding-top:10px}
#ItemPageTopImageInfo .TopReviews .ReviewWriter{height:24px}
#ItemPageTopImageInfo .ReviewLinks{padding-bottom:3px}
#ItemPageTopImageInfo .ReviewLinks img{float:left;margin:2px 2px 0 0;display:block}
#ItemPageTopImageInfo .free-shipping-wrapper{float:right;padding-right:5px;margin:15px 49px 0 0}
*html #ItemPageTopImageInfo .free-shipping-wrapper{margin:-37px 30px 0 0;padding-bottom:5px}
#ItemPageTopImageInfo .MainInfoArea{border-top:solid 1px #dbdbdb;padding-top:8px}
#ItemPageTopImageInfo #LeftSideAddToCart{float:left;width:350px}
*html #ItemPageTopImageInfo #LeftSideAddToCart{width:340px}
#ItemPageTopImageInfo #LeftSideAddToCart .Price,.do-not-discount-container{clear:both;float:left}
*:first-child+html .do-not-discount-container{width:300px}
#ItemPageTopImageInfo #LeftSideAddToCart .Price{width:auto;padding:3px 8px 3px 0}
#ItemPageTopImageInfo #LeftSideAddToCart .NoScript{position:relative;float:left;text-align:left;vertical-align:top}
#ItemPageTopImageInfo #LeftSideAddToCart #AddToCart{clear:both;padding-top:10px}
#ItemPageTopImageInfo #LeftSideAddToCart #AddToCart .Processing{padding-left:82px;padding-top:5px}
#ItemPageTopImageInfo #RightSideInfoBars{float:left;width:200px;padding-left:30px;text-align:left;border-left:solid 1px #dbdbdb}
#ItemPageTopImageInfo #RightSideInfoBars .ItemPageInfoBar{text-align:left;height:26px;padding:2px 0 2px 0;color:#333333
;font-size:9pt;vertical-align:middle;overflow:hidden;border-bottom:solid 1px #dbdbdb}
#ItemPageTopImageInfo #RightSideInfoBars .ItemPageInfoBar div{height:23px;padding-left:30px;width:175px;padding-top:1px}
.canada-shipping-filter,#ItemPageTopImageInfo #RightSideInfoBars .ItemPageInfoBar div{background-image:url('/globalimages/item-status-icons.png');background-repeat:no-repeat}
#ItemPageTopImageInfo #RightSideInfoBars .ItemPageInfoBar div span{display:block;margin-top:4px}
#ItemPageTopImageInfo #RightSideInfoBars .item-status-outofstock{background-position:0 -40px}
#ItemPageTopImageInfo #RightSideInfoBars .item-status-instock-off{background-position:0 2px}
#ItemPageTopImageInfo #RightSideInfoBars .item-status-instock-on{background-position:0 -19px}
.canada-shipping-filter,#ItemPageTopImageInfo #RightSideInfoBars .item-status-canada-shipping{background-position:0 -186px}
#ItemPageTopImageInfo #RightSideInfoBars .item-status-canada-shipping{color:#c00}
#ItemPageTopImageInfo #RightSideInfoBars .item-status-leadtime-on{background-position:0 -63px}
*html #ItemPageTopImageInfo #RightSideInfoBars .item-status-leadtime-on{background-position:0 -57px}
#ItemPageTopImageInfo #RightSideInfoBars .item-status-leadtime-off{background-position:0 -83px}
#ItemPageTopImageInfo #RightSideInfoBars .item-status-fob-off{background-position:0 -125px}
#ItemPageTopImageInfo #RightSideInfoBars .item-status-fob-on{background-position:0 -104px}
#ItemPageTopImageInfo #RightSideInfoBars .item-status-shipping-restrictions-off{background-position:0 -166px}
#ItemPageTopImageInfo #RightSideInfoBars .item-status-shipping-warning{color:#FF0000
}
#ItemPageTopImageInfo #RightSideInfoBars .item-status-shipping-warning,#ItemPageTopImageInfo #RightSideInfoBars .item-status-shipping-restrictions-on{background-position:0 -146px}
#ItemPageTopImageInfo #RightSideInfoBars .OversizeCharge{display:block;padding:5px 5px 5px 30px;font-style:italic;color:#FF0000
;border-bottom:solid 1px #dbdbdb;width:175px;font-size:9pt}
#ItemPageTopImageInfo #RightSideInfoBars .QuestionsComments{font-style:italic;margin-top:15px;color:#666666
}
#ItemPageTopImageInfo #RightSideInfoBars .CartContinuity{padding-top:12px;padding-bottom:5px}
#ItemPageWidget{display:none}
.ItemPageReviewMainContainer{padding:10px}
.ItemPageReviewPagingSummary{float:left;color:#666666
}
.ItemPageReviewPagingNumbers{float:right;color:#666666
}
.ItemPageReviewTitle{color:#666666
;font-size:15px;padding-right:5px}
.ItemPageLeftReviewContainer{float:left;width:450px;padding-right:5px;color:#666666
}
.ItemPageRightReviewContainer{float:left;width:400px;border-left:solid 1px #dbdbdb;padding-left:5px}
.ItemPageReviewRatingHeader{font-weight:bold;color:#666666
}
.ItemPageReviewHelpful:hover{cursor:pointer}
.ItemPageReviewPageLink:hover{cursor:pointer}
.ItemPageReviewHelpfulShow{display:inline;font-weight:bold;color:#666666
}
.ItemPageReviewHelpfulHide{display:none}
.ItemPageLinkToTop{float:right;padding:5px 12px 0 0}
.map-message-pane-container,.MiniModalContainer{position:absolute;z-index:-9999;width:260px;display:none}
.do-not-discount-container .map-message-pane-container{padding-left:100px}
.MiniModalContainer .CloseLink{cursor:pointer}
.map-message-pane-container .message-close-link img{width:15px;float:right;cursor:hand;cursor:pointer}
.promo-container .message-callout-pointer-container,.map-message-pane-container .message-callout-pointer-container,.MiniModalContainer .CalloutPointerContainer{height:0;width:0;border-bottom:12px solid transparent;border-left:12px dotted transparent;border-right:12px dotted transparent;left:0;top:0;margin-left:20px;padding-top:2px}
.map-message-pane-container .message-callout-pointer,.MiniModalContainer .CalloutPointer{height:0;width:0;position:relative;left:-50px;border-left:10px dotted transparent;border-right:10px dotted transparent}
.message-callout-pointer{border-bottom:10px solid #990000
}
.message-callout-pointer{margin-left:3px}
.cart-top-tool-tip-container .map-message-pane{margin-left:300px}
#searchToolTip .map-message-pane,.MainInfoArea #dndToolTipContainer .map-message-pane{margin-top:2px}
.MiniModalContainer .CalloutPointerRight{height:0;width:0;position:relative;border-bottom:10px dotted transparent;border-top:10px dotted transparent;margin:-2px 0 0 -12px;z-index:11;border-right:10px solid #990000
}
.MiniModalContainer .CalloutPointerRightContainer{height:0;width:0;border-bottom:12px solid transparent;border-left:12px dotted transparent;border-right:12px dotted transparent;left:0;top:0;z-index:10}
.map-message-pane-container .map-message-pane,.MiniModalContainer .MessagePane{top:-3px;position:relative;background:#ededed;z-index:9;width:250px;padding:5px;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;border:solid 1px #990000
;color:#333333
}
.CartDoNotDiscountMessage,.CartContentsGrid .tool-tip-trigger,.MainInfoArea .tool-tip-trigger,.SeePriceInCart{font-size:9pt;padding-right:16px;background-image:url('/images/widgets/question-mark.png');background-position:right center;background-repeat:no-repeat;display:inline;line-height:1.5em;text-decoration:none;color:#990000
}
.MainInfoArea .do-not-discount-container .map-message-pointer-container{margin-left:-100px}
.cart-grid-tool-tip-container .map-message-pointer-container{margin-left:-100px}
.SeePriceInCart:active{text-decoration:none}
.SearchMapMessage{margin:0 0 0 -30px}
.PromoIcon{background-image:none;padding:0;width:140px;color:#990000
}
.promo-container .map-message-pointer-container,.WeightMessage .CalloutPointerContainer{margin-left:-45px}
.promo-container .map-message-pointer-container{margin-left:-15px}
.promo-container .message-callout-pointer{left:30px}
.promo-container .map-message-pane{left:-50px;margin-left:-30px}
.WeightIcon{padding:0 15px 0 0}
.WeightMessage .CalloutPointer{left:137px;margin-left:36px}
.WeightMessage .MessagePane{left:10px}
.WeightMessage .MessagePane div{margin:0 17px 4px 4px}
.tool-tip-trigger:hover,.SeePriceInCart:hover{color:#444444
;cursor:pointer;text-decoration :none}
.SubCatPageHeaderHeading{color:#fff;font-size:30px;font-weight:bold}
#SubCatPageSubHeaderContainer{padding:5px}
#SubCatPageSubHeaderContainer .SubCatPageSubHeader{color:#990000
;font-size:20px;font-weight:bold}
#SearchPageWidget{display:none}
.SearchPagePagingBar{height:31px;background-image:url('/globalimages/SearchBarFill.gif');background-repeat:repeat-x}
.SearchPagePagingBarLeft{float:left;width:5px;height:31px;background-image:url('/images/SearchBarLeft.gif')}
.SearchPagePagingBarRight{float:right;width:5px;height:31px;background-image:url('/images/SearchBarRight.gif')}
.SearchPagePagingBarMiddle{float:left;width:740px;padding-top:6px;text-align:center}
.SearchPagePageNo{font-size:12px;display:inline-block;min-width:18px;height:16px;padding-top:1px;padding-left:2px;padding-right:2px;margin-left:1px;margin-right:1px;color:#000}
.SearchPageActivePageNo{font-size:12px;background-color:#fff;border:solid 1px #900;color:#990000
}
.SearchPageMultiPage{font-size:16px;color:#990000
;padding-left:3px;padding-right:3px}
.SearchPageSinglePage{font-size:12px;color:#990000
;padding-left:3px;padding-right:3px}
.SearchPageOptionsBar{margin-top:5px;font-size:12px;color:#646464}
.SearchPagePerPageBar{float:left}
.SearchPagePerPageBar .SearchPageShowPerPage{font-size:12px;display:inline-block;height:18px;padding-top:3px;padding-left:3px;padding-right:3px;color:#000;text-decoration:underline}
.SearchPagePerPageBar a.SearchPageShowPerPage:hover{font-size:12px;font-weight:bold;text-decoration:underline;color:#000}
.SearchPagePerPageBar .SearchPageShowPerPageActive{color:#fff;background-color:#646464}
.SearchPageSortBar{float:right}
.SearchPageTotalResults{float:right;font-size:10pt;padding-top:4px;color:#949494}
.SearchPageTotalResultsItems{background-color:#990000
;color:#fff;padding-left:3px;padding-right:3px;font-weight:bold}
.SearchPageItem{float:left;width:154px;padding:5px 17px 5px 17px}
.SearchPageItem .SearchPageItemImageContainer{padding:6px;text-align:center;border:solid 1px #999}
.SearchPageItem .SearchPageItemImageContainer .SearchPageItemImage{display:inline-block;width:102px;height:102px;border:0}
.SearchPageItem .SearchPageItemLink{display:block;font-weight:bold;font-size:12px;color:#990000
}
.SearchPageItem .SearchPageItemLink:hover{color:#444444
}
.SearchPageItem .SearchPageItemPrice{display:block;font-weight:bold;font-size:12px;color:#333333
}
.SearchPageItem .SearchPageItemWasPrice{display:block;font-size:12px;color:#383838}
.SearchPageItem .SearchPageItemSavings{display:block;font-size:12px;color:#C00}
.SearchPageNoResultsHeader{display:block;padding:5px;font-size:12pt;color:#000}
.SearchPageNoResultsTips{display:block;padding-left:20px;font-size:8pt;color:#000}
.cart-discount-text,.cart-discount-label{color:#990000
}
.cart-discount-text{text-align:right}
.ErrorRedText{color:Red;font-size:12pt;font-weight:bold}
.CartPageApplyCodeMessage{color:Red;font-weight:bold}
.CartContentsGrid{position:relative;top:-29px;margin-bottom:-29px;#position:inherit;#top:0;#margin-bottom:0;margin-left:3px;font-size:8pt}
*:first-child+html .CartContentsGrid{margin-top:-28px}
*html .CartContentsGrid{margin-top:-28px}
*:first-child+html .CartContentsGrid th{color:white}
*html .CartContentsGrid th{color:white}
.summary-canada-restricted-place-order-warning,.CartItemCanadaNotEligible{z-index:200;background-image:url('/globalimages/error-icon.gif');background-repeat:no-repeat;background-position:left center;padding-left:15px}
.CartItemCanadaNotEligible{color:Red;font-weight:bold;display:block;font-size:9pt}
*html .CartItemCanadaNotEligible{background-position:0 2px;display:inline}
*:first-child+html .CartItemCanadaNotEligible{background-position:0 2px;display:inline}
.CartItemDoNotDiscount{color:#990000
;font-size:9pt}
.CartDoNotDiscountMessage{color:#FF0000
;font-size:10pt}
.summary-canada-restricted-place-order-warning{background-position:0 6px;padding-top:4px}
*:first-child+html .SummaryGrid{margin-top:-31px}
*html .SummaryGrid{margin-top:-31px}
.SummaryGrid td,.CartRows{border-bottom:1px solid #CCC}
*:first-child+html .CartRows td{border-bottom:1px solid #CCC}
*html .CartRows td{border-bottom:1px solid #CCC}
.CartPageTotalsRightCol{text-align:right}
.CartPageShippingHeader{color:#990000
;padding-left:8px}
.SummaryGrid{position:relative;top:-29px;#position:inherit;#top:0;margin-left:3px;font-size:8pt;border-bottom:dashed 1px #CCC}
.cart-quantity{width:18px}
.invalid-cart-quantity{border-color:#F00}
.CartHeaders{white-space:nowrap;border-right:dotted 1px #999;#color:Black;#border-bottom:dashed 1px #999}
.CheckoutProcess{width:680px;height:24px;margin:7px 0 12px 0}
.CheckoutProcessLogin{background-image:url('/images/Checkout_Login.gif');background-repeat:no-repeat}
.CheckoutProcessBilling{background-image:url('/images/Checkout_Billing.gif');background-repeat:no-repeat}
.CheckoutProcessSummary{background-image:url('/images/Checkout_Summary.gif');background-repeat:no-repeat}
.CheckoutProcessFinal{background-image:url('/images/Checkout_Final.gif');background-repeat:no-repeat}
.CartMultiPricePromo{font-size:12px;font-weight:bold}
.CartMultiPriceMessage{display:inline;font-size:11px;font-style:italic}
.CartMultiPriceExpander{text-decoration:underline}
.CartMultiPriceExpander:hover{cursor:pointer}
.cart-validation-message{float:left;min-height:16px}
.CartTieredDiscountPromo{float:left;background-image:url('/images/TieredPromoBar.gif');background-repeat:no-repeat;width:510px;height:24px;font-size:15px;color:#000;font-weight:bold;padding:5px 42px 0 12px;overflow:hidden}
.CartTieredDiscountHighlight{color:#900}
.CartTieredDiscountSuggestions{float:right;padding-right:40px}
#CartPageWidget{display:none}
.CartPageAlsoBoughtSubHeader{text-align:left;padding-left:20px;font-weight:bold;font-size:19px;color:#990000
}
.CartPageCarouselContainer{padding:5px 0}
.CheckoutSubHeader{font-size:12pt;font-weight:bold;color:#990000
;display:block}
.CheckoutSignInOptionsUL{margin:-10px 0 10px -10px;font-size:10pt}
*:first-child+html .CheckoutSignInOptionsUL{margin-top:-15px}
.CheckoutInputContainer{padding:3px 0 3px 0}
.CheckoutLoginLeftCol{float:left;width:300px}
.CheckoutLoginRightCol{float:left;width:310px;padding-left:25px;border-left:solid 1px #999}
.CheckoutLoginDivContainer{min-height:180px}
.ForgotPasswordButton{font-size:9pt}
.ForgotPasswordButtonOp{font-size:10pt}
.GuestCheckoutSentence{font-size:9pt}
.GuestCheckoutButton{font-size:9pt}
.GuestCheckoutButtonOp{font-size:10pt}
.ContinueButtonEnabled{opacity:1;filter:alpha(opacity=100)}
.ContinueButtonDisabled{opacity:.4;filter:alpha(opacity=40)}
.promo-code-header{color:#333333
}
.CheckoutByAmazonButtonDisabled{opacity:.4;filter:alpha(opacity=40)}
#AddressVerificationBox{background-color:#ffc;border:solid 1px #c00;padding:7px 7px 7px 10px;margin:5px 0 5px 0;font-size:9pt}
.AddressVerificationBoxInner{background-image:url('/images/RedCircleError.png');background-repeat:no-repeat;background-position:left top;padding-left:55px;color:#000}
.AddressVerificationBoxInnerMin{color:#000}
.AddressVerificationRedText{color:#c00;font-weight:bold}
.AddressVerificationBoldText{font-weight:bold;font-style:italic}
.AddressVerificationSuggestedAddress{display:block;padding-top:7px}
.AcceptAsIsCheckbox{padding-left:12px}
.NewCustomerLeftCol{float:left;width:160px;text-align:right;font-weight:bold;padding:6px 10px 0 0;color:#000}
.NewCustomerRightCol{float:left;width:360px;padding:4px 0 4px 0;color:#000}
.PageTitle{font-size:9pt;font-weight:bold}
.LargeRedBold{font-size:14pt;font-weight:bold;color:Red}
.BreedSuggest{background-color:#990000
;font-weight:bold;color:#FFF;padding:2px;width:380px}
.seo{font-weight:normal;font-size:10pt;color:#666666
;text-decoration:none}
a.seo:hover{font-weight:normal;font-size:10pt;color:#990000
;text-decoration:none}
.seo3{font-weight:normal;font-size:10pt;color:#666666
;text-decoration:none}
a.seo3:hover{font-weight:normal;font-size:10pt;color:#990000
;text-decoration:none}
.style1{font-weight:normal;font-size:10pt;color:#666666
;text-decoration:none}
.arrowbg{background-image:url('/images/arrow.gif');background-repeat:no-repeat;background-position:left;padding-left:8px;padding-right:8px;color:#000}
.rulerbg{background-image:url('/images/ruler.gif');background-repeat:no-repeat;background-position:left;padding-top:2px;padding-bottom:-1px;padding-left:40px}
.rulerbg:hover{cursor:pointer}
.IEMarginFix{#margin-bottom:-3px}
.madeInUSA{position:relative;top:-39px;left:-58px}
.CartTotals{float:right}
.ketext{background-color:#FFF;font-size:10pt}
.ketextbold{background-color:#FFF;font-size:10pt;font-weight:bold}
.DivClear{clear:both}
.DivSpacer{height:5px}
.cart-continuity-account-message{color:#990000
}
td.reminderDateCell{white-space:nowrap;width:100px}
a.reminderlinkCart{white-space:nowrap;font-family:Arial;font-size:10pt;color:#990000
}
a.reminderlinkCart:hover{color:#444444
}
a.reminderlink{white-space:nowrap;font-family:Arial;font-size:12px;color:#990000
}
.headerMessages{font-family:Arial;font-size:12px;color:#444444
;font-weight:bold}
.ProductDescriptions{font-family:Arial;font-size:13px;color:#444444
;font-weight:bold}
.ModalPadding{padding:3px 15px 15px 15px;text-align:left}
.ModalPaddingLeftRight{padding:0 15px 0 15px;text-align:left}
.ModalError{padding:2px 15px 0 15px;text-align:left;font-weight:bold}
.ModalErrorMulti{text-align:left;font-weight:bold;font-size:12px}
.AllItemsModalInner{border-bottom:dotted 3px #666;padding-bottom:10px;text-align:left}
.ModalUserPanels{padding-bottom:10px;text-align:left}
.AllItemsProduct{padding-left:10px;font-family:Arial;font-weight:bold;color:#000;font-size:12px}
.AllItemsOther{padding-left:29px;padding-right:5px;font-family:Arial;color:#000;font-size:12px}
.SingleItemInner{text-align:left;padding-left:15px;padding-right:15px;color:#444444
}
.RoundCorners{border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;width:422px;background-color:#fff;box-shadow:3px 3px 3px #333;-moz-box-shadow:3px 3px 3px #333;-webkit-box-shadow:3px 3px 3px #333;-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135,Color='#000000')}
.cal_Theme1 .ajax__calendar_active{color:#990000
;font-weight:bold;font-family:Arial;background-color:#fff}
.ui-datepicker,.cal_Theme1 .ajax__calendar_container{background-color:#900;border:solid 1px #900;padding:4px}
.ui-datepicker{width:170px}
.ui-datepicker-header,.cal_Theme1 .ajax__calendar_header{color:#990000
;height:20px}
.ui-datepicker-month,.ui-datepicker-year,.cal_Theme1 .ajax__calendar_title{font-family:Arial;font-weight:bold;font-size:14px;color:#fff}
.cal_Theme1 .ajax__calendar_footer{background-color:#fff}
#ui-datepicker-div,.ui-datepicker-div,.ui-datepicker-inline{list-style-image:none;list-style-position:outside;list-style-type:none;text-decoration:none;display:none}
.ui-datepicker-prev,.ui-datepicker-next,.cal_Theme1 .ajax__calendar_next{-moz-background-clip:border;-moz-background-origin:padding;-moz-background-size:auto auto;background-attachment:scroll;background-image:url('/globalimages/calendar-arrows.png');background-repeat:no-repeat;background-position:right;background-position:-20px 0;left:.5em;position:absolute;top:.5em}
.ui-datepicker-next span,.ui-datepicker-next a{-moz-background-clip:border;-moz-background-origin:padding;-moz-background-size:auto auto;background-attachment:scroll;background-color:transparent;background-position:50% 50%;background-repeat:no-repeat}
.ui-datepicker-next{left:152px}
.ui-datepicker-next a,.ui-datepicker-next span,.ui-datepicker-prev span,.ui-datepicker-prev a{text-indent:-999999px;display:block;font-size:1em;height:14px;width:20px;cursor:pointer;cursor:hand}
.ui-datepicker-calendar a{color:#000;font-weight:bold;font-size:8pt}
table.ui-datepicker td a{height:17px;width:18px;padding:0 2px 0 2px}
.ui-datepicker-other-month a{color:#666666
}
.ui-datepicker-prev,.cal_Theme1 .ajax__calendar_prev{background-image:url('/globalimages/calendar-arrows.png');background-repeat:no-repeat;background-position:left}
.ui-datepicker-calendar,.cal_Theme1 .ajax__calendar_body{background-color:#fff;width:170px;height:139px}
.cal_Theme1 .ajax__calendar_dayname{text-align:center;font-weight:bold;font-family:Arial;font-size:12px;margin-bottom:4px;margin-top:2px}
.cal_Theme1 .ajax__calendar_day{text-align:center;font-family:Arial;font-weight:bold}
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_day,.cal_Theme1 .ajax__calendar_hover .ajax__calendar_month,.cal_Theme1 .ajax__calendar_hover .ajax__calendar_year{color:#990000
;font-weight:bold;font-family:Arial;background-color:#fff}
.cal_Theme1 .ajax__calendar_today{font-weight:bold;font-family:Arial;color:#7d7d7d}
.cal_Theme1 .ajax__calendar_other{color:#ccc}
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_today,.cal_Theme1 .ajax__calendar_hover .ajax__calendar_title{color:#ccc}
.SmallGrey{font-family:Arial;font-size:10px;color:#666666
}
.reminderHeaders{color:#000;font-size:11px;font-weight:bold;font-family:Arial}
.PointerCursor:hover{cursor:pointer}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
* html .clearfix{zoom:1}
*:first-child+html .clearfix{zoom:1}
.creditCardErrorText{color:Red;background-color:Yellow;border:thin solid red}
#CheckoutWrapper{padding:10px}
#CheckoutHeader{clear:both;height:88px;border-bottom:solid 2px #990000
}
#CheckoutHeader #CheckoutHeader-left{float:left;width:242px;height:71px}
#CheckoutHeader #CheckoutHeader-middle{float:left;width:460px;padding:0 0 5px 30px}
#CheckoutHeader #CheckoutHeader-right{float:right;width:160px;padding:0 20px 0 0;text-align:right}
#CheckoutHeader #CheckoutHeader-right #HackerSafePostText{font-size:9pt;color:#000}
#CheckoutContent{clear:both;padding:10px 0 10px 0}
#CheckoutContent #CheckoutContent-left{float:left;width:198px}
#CheckoutContent #CheckoutContent-main{float:left;padding:0 0 0 10px}
#CheckoutFooter{clear:both;text-align:center;padding-top:40px;font-size:9pt}
#CheckoutFooter a{font-size:9pt}
#CheckoutFooter #TopBorderLeft{float:left;height:1px;width:50%;background:#aaa;background:-webkit-gradient(linear,left top,right top,from(#fff),to(#aaa));background:-moz-linear-gradient(left,#fff,#aaa);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#ffffff,endColorstr=#aaaaaa);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#ffffff, endColorstr=#aaaaaa)"}
#CheckoutFooter #TopBorderRight{float:left;height:1px;width:50%;background:#aaa;background:-webkit-gradient(linear,left top,right top,from(#aaa),to(#fff));background:-moz-linear-gradient(left,#aaa,#fff);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#aaaaaa,endColorstr=#ffffff);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#aaaaaa, endColorstr=#ffffff)"}
.MinCheckoutProcess{width:460px;height:71px}
.MinCheckoutProcessLogin{background-image:url('/images/MinCheckout_Login.gif');background-repeat:no-repeat}
.MinCheckoutProcessBilling{background-image:url('/images/MinCheckout_Billing.gif');background-repeat:no-repeat}
.MinCheckoutProcessSummary{background-image:url('/images/MinCheckout_Summary.gif');background-repeat:no-repeat}
.MinCheckoutProcessFinal{background-image:url('/images/MinCheckout_Final.gif');background-repeat:no-repeat}
.summary-canada-giftcard-warning{position:relative;background-position:0 2px;margin-left:-12px}
OL.lettered-list{list-style-type:upper-alpha}
OL.summary-canada-giftcard-instructions{margin:2px 0 8px -15px}
.summary-gift-card-label{font-weight:bold;padding-top:5px}
.summary-gift-card-validate{padding-top:5px;text-align:center}
.summary-canadian-shipping-options ol{margin:0}
input.summary-place-order[disabled]{background-image:url('/globalimages/place-order-disabled.gif');cursor:default}
input.summary-place-order{background-image:url('/images/place_order.gif');width:165px;height:37px;border:0;background-repeat:no-repeat;cursor:pointer;cursor:hand}
.item-accessories-container{min-height:165px}
.item-accessories-container .accessory-header{font-family:Arial;font-size:21px;font-weight:bold;padding:15px 0 15px 32px}
#QuickLinks{padding:0 7px}
#QuickLinks .grey-bar-left{background:url("/globalimages/accessory-bar-left-edge.gif") no-repeat;height:27px;width:5px;float:left}
#QuickLinks .grey-bar-middle{background-color:#f4f4f4;border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;height:25px;width:925px;float:left}
#QuickLinks .grey-bar-right{background:url("/globalimages/accessory-bar-right-edge.gif") no-repeat;height:27px;width:5px;float:left}
#QuickLinks .header{float:left;font-family:Arial;font-size:10pt;font-weight:bold;color:#666666
;padding:5px 5px 0 5px}
#QuickLinks .links{float:left;font-family:Arial;font-size:10pt;color:#990000
;padding:5px 7px 0 7px}
#QuickLinks .links:hover{color:#444444
}
#PetVet{color:#666666
}
#PetVet .header-text{color:White;float:left;font-weight:bold}
#PetVet .question-text{font-size:10pt;padding:5px 0 0 0}
#PetVet .input-controls-container{padding-top:3px}
#PetVet .checkbox-container{padding-left:25px;float:left}
#PetVet .clear-spacing{clear:both;padding-top:20px}
.left-nav-facets{font-size:12px}
.left-nav-facets ul{list-style-type:none;margin:0 0 0 -5px}
.left-nav-facets,.left-nav-facets a{font-size:12px;color:#333}
.left-nav-facets ul li{margin-left:-28px;padding-bottom:3px}
.left-nav-facets .category-list{margin-left:-10px}
.left-nav-facets ul.category-list li div a{padding-left:3px}
.left-nav-facets .facet-sub-header,.left-nav-facets .facet-sub-header a{font-weight:bold;font-size:13px;padding:0 0 3px 3px}
.left-nav-facets .facet-sub-header{padding-top:3px}
.left-nav-facets .facet-sub-header a{padding-top:9px}
.left-nav-facets ul.category-list a:hover,.left-nav-facets .facet-sub-header,.left-nav-facets .facet-sub-header a,.left-nav-facets .view-more-categories,.left-nav-facets .remove-filter,.left-nav-facets .category-list li a.hover{color:#990000
}
.left-nav-facets .facet-check-list{margin-left:-2px}
.left-nav-facets .category-list li div{display:inline}
.left-nav-facets .category-list li a.chevron-bullet{float:left;margin:-2px 0 3px 0;padding-right:3px}
.left-nav-facets a.view-more-categories{padding-left:3px}
.left-nav-facets .category-list-container a.view-more-categories{margin-left:8px}
.left-nav-facets a.view-more-categories:hover .more-link-text{text-decoration:underline}
.left-nav-facets ul.facet-check-list li a.check-on{background-position:0 0}
.left-nav-facets .facet-container,.left-nav-facets .facet-container-border{padding-bottom:12px}
.left-nav-facets .current-filters ul li{margin-left:-32px}
.left-nav-facets .current-filters .facet-sub-header{padding-top:6px}
.left-nav-facets .current-filters .clear-all-container{padding:5px 0 8px 3px}
.left-nav-facets .clear-filter-border,.left-nav-facets .facet-container-border{border-bottom:solid 1px #dedede}
.left-nav-facets .collapse-icon,.left-nav-facets .expand-icon,.left-nav-facets ul.facet-check-list li a,.left-nav-facets ul.facet-check-list li .disabled{background-image:url('/images/search-facet-icons.png');background-repeat:no-repeat;background-position:0 -33px}
.left-nav-facets ul.facet-check-list li a span{color:#666}
.left-nav-facets .facet-sub-header a{margin-left:-3px}
.left-nav-facets ul.facet-check-list li a,.left-nav-facets ul.facet-check-list li .disabled{display:inline;padding:0 3px 0 17px;width:13px;height:13px;margin:0 0 0 -7px}
.left-nav-facets ul.facet-check-list li a.checked{background-position:0 -48px}
.left-nav-facets ul.facet-check-list li .disabled{background-position:0 0;color:#A8A8A8;cursor:default}
.left-nav-facets .collapse-icon,.left-nav-facets .expand-icon{margin:3px 5px 0 0;width:7px;height:7px;float:left}
.left-nav-facets .expand-icon{background-position:0 -15px}
.left-nav-facets .collapse-icon{background-position:0 -24px}
.left-nav-facets .remove-filter{display:inline;padding:0}
.left-nav-facets .LeftNavBox{border-top:0}
*:first-child+html .left-nav-facets ul li{margin-left:12px}
*:first-child+html .left-nav-facets .current-filters ul{margin-left:-10px}
*:first-child+html .left-nav-facets a{display:inline}
*:first-child+html .LeftNavBox{margin-top:-3px}
*:first-child+html .left-nav-facets{margin-top:11px}
*:first-child+html .search-bread-crumb{margin-top:11px}