@charset "utf-8";
/* CSS Document */
#topNaviLine{
	background-color: #d4d5d0;
	line-height:2px;
	border: 1px solid #d4d5d0;
}
.dotedSape{
	border-left-width: thin;
	border-left-style: dotted;
	border-left-color: #FFFFFF;
	height: 2px;
	margin-right: 3px;
}

#sddm{
	margin: 0;
	padding: 0;
	z-index: 30;
}

#sddm li{
	list-style: none;
	float: left;
	font: bold 11px arial;
	margin: 0;
	padding: 0;
}

#spanOff {
	display: block;
	padding-right: 8px;
	padding-left: 8px;
	margin-top: 0;
	margin-right: 2px;
	margin-bottom: 0;
	margin-left: 0;
	color: #FFFFFF;
	background-color: #0066ae;
	background-image: url(/images/top-navi-bg.gif);
	background-repeat: repeat-x;
	padding-top: 10px;
	padding-bottom: 10px;
	background-position: bottom;
	text-align: center;
}

#spanOffNew {
	display: block;
	padding-right: 8px;
	padding-left: 8px;
	margin-top: 0;
	margin-right: 2px;
	margin-bottom: 0;
	margin-left: 0;
	color: #FFFFFF;
	background-color: #0066ae;
	background-image: url(/images/top-navi-new.png);
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-bottom: 10px;
	background-position: right top;
	text-align: center;
}

#spanOn{
	display: block;
	padding-top: 10px;
	padding-right: 8px;
	padding-bottom: 10px;
	padding-left: 8px;
	margin-top: 0;
	margin-right: 2px;
	margin-bottom: 0;
	margin-left: 0;
	background-color: #ff7805;
	color: #FFFFFF;
	background-image: url(/images/top-navi-bg-on.gif);
	background-repeat: repeat-x;
}
#sddm li a{
	color: #FFF;
	text-align: center;
	text-decoration: none;
	padding-top: 4px;
	padding-right: 2px;
	padding-bottom: 4px;
	padding-left: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#sddm div{
	z-index:1000;
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	border: 1px solid #5970B2;
	background-color: #ffffff;
}

#sddm div a{
	z-index:1000;
	position: relative;
	display: block;
	margin: 0;
	padding: 5px 11px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	color: #2875DE;
	font-family: Arial, Helvetica, sans-serif;
}

#sddm div a:hover{
	background: #49A3FF;
	color: #FFFFFF
}
