/* CSS Document */
.be_backBox {float: left;width: 100%;}
.be_img{ width:100%; float:left; overflow:hidden;}
.be_img img{ width:100%; left:0px; right:0px;}
.be_knwMore{ float:left; width:100%; background: rgba(102, 128, 0, 0.6) ;color:#668000;margin-bottom: 20px; cursor:pointer;}
.be_knwMore h3 {font-size: 33px;float: left;color: #668000;margin-top: 25px;width: 100%;}
.be_knwMore h4 {font-size: 33px;float: left;color: #668000;margin-top: 25px;width: 100%;}
.be_knwMore p {color: #FFFFFF;font-size: 28px;width: 100%;float: left;margin-bottom: 20px;}
.be_breedBox {float: left;width: 100%;font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;}
.be_breedBox a{ cursor:pointer;}
.be_breedBox h1{ float:left; width:980px; font-size:35px;line-height: 55px; margin-top:-5px;}
.be_breedBox .be_back{ float:right;width:15%;}
.be_breedBox .be_back div{ float:left;line-height: 55px;}
.be_breedBox .be_back div.be_arw{ margin:23px 6px 0 6px;}
.be_breedBox ul{ float:left; margin:10px 0px; padding:0px; width:50%; position:relative;}
.be_breedBox ul li.be_boxBreed{ display:table-cell;width:464px; border:1px solid #bbb; background:#fff; list-style:none; position:relative;margin:10px;}
.be_breedBox ul li.be_boxBreed:hover{ box-shadow:0px 0px 1px 1px #d1d1d1;}
.be_breedBox ul li.be_boxBreed a:hover{ text-decoration:none;}
.be_boxBreed div.be_h3 {padding: 11px 5px;font-weight: 500;color: #668000; width:450px;font-size: 25px;}
.be_h31{padding: 11px 5px;font-weight: 500;color: #668000; width:340px;font-size:25px; margin-left:-39px; position:absolute;}
.be_thumbImg {float: left;width: 280px;text-align: center; height:225px}
.be_points {float: left;font-size: 25px;bottom: 5px;right: 13px;line-height: 40px;}
.be_points ul{ width:100%;}
.be_points ul li { list-style:none;}
.be_puppieBox ul {float: left;}
.be_boxBreed:hover .be_hover{ display:block;}
.be_hover {background:  rgba(255, 255, 255, 1);height: 278px;position: absolute;top: 1px;width: 464px; display:none;}
.be_info.be_infohover {width: 83%;padding: 0px 40px;margin: 0;}
.be_info.be_infohover .be_dogicon {position: absolute;z-index: 0;}
.be_hoverDetail{background: #eee; float:left;width: 229px;}
.be_hoverDetail div{ float:left; margin:8px 10px; color:#668000}
.be_hoverDetail div label input[type=checkbox] {float: left;margin: 2px;}
.be_hoverDetail a {float: right;margin: 9px 10px;font-weight: bold;color: #668000;}
/* fliter dOG dETAIL pAGE*/
.be_breedDetail {float: left;width: 100%;}
.be_rytDetail {float: right;width: 75%;margin-top: 6px;}
.be_rytDetail ul{ float:left; width:230px;margin: 10px 0 10px 13px;}
.be_rytDetail ul li.be_boxBreed{ width:100%;}
.be_rytDetail ul li.be_boxBreed h3{font-weight: normal;padding: 5px;height: 45px;overflow: hidden;}
.be_rytDetail ul li.be_boxBreed h4{font-weight: normal;padding: 5px;height: 45px;overflow: hidden;}
.be_rytDetail ul li.be_boxBreed .be_thumbImg{ width:100%;float: left;border-bottom: 1px solid #999;}
.be_rytDetail ul li.be_boxBreed .be_detailBox {float: left;width: 100%;margin: 0px 0;}

.be_leftDetail {float: left;}
.be_search {float: left;width: 230px;background: #f4f4f4;min-height: 200px;border: 1px solid #666;margin: 11px 0;border-top: 5px solid #668000;}
.be_heding,.be_srchBreed, .be_coatBox, .be_widthBox {float: left;padding: 8px 8px;width: 214px;border-bottom: 1px solid #999;}
.be_search h3 {color: #668000;font-size: 16px;padding-bottom: 3px; text-transform:none;}
.be_heding span a{color:#84a40d; margin-right:10px;}
.be_srchBreed input {padding: 5px;width: 211px;border-radius: 2px;border: 1px solid #999;}
.be_coatBox ul{ float:left; margin:2% 0; background:#fff; width:97%; border:1px solid #999;padding: 4px 0;height: 248px;
overflow-y: auto;}
.be_coatBox ul li{ float:left; margin:2px; list-style:none; width:192px; /*text-transform:capitalize;*/ border:1px solid #fff;}
.be_coatBox ul li:hover{ background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e8e7e7));
background: -moz-linear-gradient(top, #ffffff, #e8e7e7);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e8e7e7');
background: -o-linear-gradient(#ffffff, #e8e7e7);
border: 1px solid #cfcfcf;}

.be_coatBox ul li span, .be_coatBox ul li input {margin: 3px;float: left;}
.be_slider{ float:left; border: 1px solid #999;background: #fff;padding: 10px 10px 5px 10px;width: 189px;}
.be_slider input {width: 61px;padding: 2px 5px;border-radius: 2px;margin-bottom: 0px;border: 0px solid #444;}
.be_groom ul{ height:auto;}
.be_groom ul li{ width:202px;}
.be_detailBox {float: left;width: 100%;margin: 0px 0;}
.be_detailBox1 {float: left;width: 100%;margin: 0px 0;font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;}
.be_rating {float: left;width: 100%;}
.be_weight1 {display: table-cell;width: 114px;vertical-align: middle;}
.be_weight1 label {line-height: 17px;display: table-cell;margin-right: 0px;padding:8px 4px;font-weight: bold;color: #668000;}
.be_weight1 span {display: table-cell;text-align: center;vertical-align: middle;}
.be_det{ float:left; width:100%; border-bottom:1px solid #999;border-top: 1px solid #999;}
.be_weight span {text-align: center;float: right;margin: 4px 8px 4px 0;}
/*compare box */
.be_compareBox {float: left;width: 696px;background: #BED469;border: 1px solid #668000;color: #3C0606;padding: 10px;margin-left: 22px;margin-top: 10px;font-size: 14px;border-radius: 2px;}
.be_selected1 {float: left;background: #fff;padding: 5px;border: 1px solid #eee;position: relative; margin-right:7px;}
.be_selimg {float: left;margin-right: 0px;margin-top: 4px;height: 58px;}
.be_seltxt {float: left;width: 69px;height: 62px;font-size: 12px;margin-top: 0px;margin-right:-4px;}
.be_selected {float: right;background: #668000;color: #fff;padding: 9px;border-radius: 2px;margin: 19px 10px;}
.be_selected a{ color:#fff;}
.be_selected a:hover{ color:#fff; text-decoration:none;}
.be_comBox ul{ height:auto; max-height:150px; overflow:auto;}
.be_breedBox>p {float: left;font-size: 16px;line-height:40px; margin-left:200px;}
.be_breedBox p img,.be_breedBox p input,.be_breedBox p label{ float:left; margin-right:10px;}
.be_breedBox p input{ margin:10px; padding:5px; border-radius:2px; border:1px solid #444;}
.be_breedBox ul li.be_com50,.be_breedBox ul li.be_com30, .be_breedBox ul li.be_com25 {float: left;padding-bottom: 5px;border: 1px solid #444;background: #fff;list-style: none;position: relative;margin: 6px;}
.be_breedBox ul li.be_com50{width:48%;}
.be_breedBox ul li.be_com30{width:31.4%;}
.be_breedBox ul li.be_com25 { width:23%;}
.be_breedBox ul li.be_com50 img,.be_breedBox ul li.be_com30 img, .be_breedBox ul li.be_com25 img{ margin-left:20px;}
.be_comTxt {float: left;width: 90%;padding:2% 5%;font-weight: bold;font-size: 19px;}
.be_comTxt a{ color:#668000;}
.be_comDetails {float: left;width: 100%;}
.be_comDetails h3 {background: #F0F0F0;padding: 10px;font-size: 17px;color: #707070;margin: 10px 0 0 0;}
.be_comDetails h3 img {float: left;margin: 3px 7px;}
.be_comDetails ul{ float: left; width:100%;}
.be_comDetails ul li {float: left;list-style: none;padding: 10px 5px;font-size: 14px;border-bottom: 1px solid #E0E0E0;}
.be_comDetails ul li.be_com20_head{width:24%;}
.be_comDetails ul li.be_com20{width:17.71%; text-align:center;}
.be_comDetails ul li.be_com30{width:32.3%;}
.be_comDetails ul li.be_com25 { width:23.97%;}
.be_imgDetail {float: left;width: 331px;border: 1px solid #999;padding: 20px;background: #f7ffd8;border-top: 4px solid #668000;}
.be_imgDetail1 {float: left;width: 260px;height: 290px;border: 1px solid #999;padding:0px;background: #fff;border-top: 4px solid #668000;}
.be_txtDetail{ float:left; width:599px;}
.be_txtDetail1{ float:left; width:710px;}
.be_txtDetail1 h1 {padding: 3px 9px;font-size: 34px; float:left; width:615px;color: #668000;font-weight: normal;}
.be_txtDetail1 p {float: left;width: 320px;padding: 0 5px 5px 10px;font-size: 15px;}
.be_txtDetail1 p label{ width:89%; float:left; margin-top: 4px;}
.be_txtDetail1 p img{ float:left;}
.be_txtDetail h3{background: #f7ffd8;border: 1px solid #668000;padding: 10px;font-size: 17px;color: #668000; border-left:0px;margin: 10px 0 0 0;}
.be_txtDetail p {float: left;padding: 10px;font-size: 15px;}
.be_txtDetail p label{ width:100%; float:left; margin-bottom:8px;}
.be_detailTxt {float: left;margin:0; width:100%; font-size:14px; text-align:justify;font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;}
.tab_content .be_detailTxt h2, .be_detailTxt h2{ font-size:28px; color:#444; margin-bottom:10px;font-weight: normal;}
.be_detailTxt h3, .be_detailTxt h2.headingBreed_be{background: #F0F0F0;padding: 10px;font-size: 17px;color: #707070;font-weight: bold;margin: 10px 0 ;}
.be_linkBox{ float:right;width: 270px;margin-top: 12px;font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;}
.be_ad_banner {margin-bottom: 10px;width: 100%;box-shadow: 0px 1px 3px 1px #bbb;float: left;background: #F7F7F7;}
.be_ad_banner h3 {font-size: 16px;background: #FFFFFF;color: #668000;border-bottom: 1px solid #CACACA;padding: 14px;text-transform: none;}
.be_ad_banner .recom {font-size: 16px;background: #FFFFFF;color: #668000;border-bottom: 1px solid #CACACA;padding: 14px;text-transform: none;}
.be_ad_banner h4{font-size: 16px;background: #FFFFFF;color: #668000;border-bottom: 1px solid #CACACA;padding: 14px;text-transform: none;}
.be_ad_banner ul li{ list-style:none; padding:14px; border-bottom:1px solid #bfbfbf; font-size:13px;}
.be_relimg {float: right;border: 1px solid #bfbfbf;margin-top: -7px;}
.be_detailTxt ul{ }
.be_detailTxt ul li{ list-style:none; display:table-cell; padding: 5px;width: 330px; font-size: 16px; border-right: 1px dashed #ccc;border-bottom: 1px dashed #ccc; vertical-align:middle;word-wrap: break-word;}
.be_detailTxt ul li label, .be_detailTxt ul li img{ float:left;word-wrap: break-word; font-weight:bold;line-height: 47px;}
.be_detailTxt ul li.no_border{ border-right:0px;text-align: left;}
.be_info {float: right;padding: 0px;margin-top:-76px;width: 375px;padding-right: 0px;}
.be_info ul{ float:left; margin-top:5px; border-top: 1px dashed #bfbfbf;}
.be_info ul li{ float:left; list-style:none; width:200px;font-weight: bold;font-size: 16px;}
.be_compare-box {float: left;width: 100%;border: 1px solid #333;border-bottom:0px;}
.be_compare-box ul {float: left;margin: 0px;padding: 0px;width: 100%;}
.be_compare-box.be_detail>ul:hover{ background:rgba(166, 228, 6, 0.56);}
.be_compare-box.be_detail>ul{background: #f7ffd8;}
.be_compare-box ul li {display: table-cell;width: 200px;list-style: none;border-right: 1px solid #333;text-align: center;vertical-align: middle;position: relative;}
.be_compare-box ul li label {float: left;text-align: center;width: 100%;}
.be_compare-box ul li.no_border{ border:0px;}
.be_breedname {float: left;width: 163px;padding: 5px;font-size: 14px;color: #668000;font-weight: bold;text-align: left;height: 43px;}
.be_slideBox ul li img{ float:left;}
.be_slideBox ul li {float: left;margin: 9px;list-style: none;border: 1px solid #000;height: 100px;overflow: hidden;}
.be_slideBox ul {float: left;width: 100%;}
.be_slideBox h3 {background: #F0F0F0;padding: 10px;font-size: 17px;color: #707070;margin:9px;}
.be_slideBox h2 {background: #F0F0F0;padding: 10px;font-size: 17px;color: #707070;margin:9px;}
.be_slideBox {float: left;padding:10px 0;width: 100%;background: #fcfcfc;border: 1px solid #E0DEDE;margin:2em 0 1em 0;}
.be_pros ul li {float: left;width:96%;font-size: 14px;border: 0px solid #000;text-align: left;}
.be_pros ul {float: left;width: 100%;}
.be_pros {display: table-cell;width: 47%;padding: 1%;background: #FCFCFC;border: 1px solid #E0DEDE;}
.be_tag {float: left;padding: 0px 9px;font-size: 26px;color: #444;width: 600px;font-family: nyalaregular;margin-bottom: 7px;
/* font-weight: bold; */font-style: italic;color: #000000;/* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */}
.be_height{ background:url(/new/breed_engine/images/data_icon.png) no-repeat right bottom;z-index: 0; width:160px; height:274px; float:right; position:relative;}
.be_dogicon {float: left;position: absolute;bottom: 0px;right:41px;margin-bottom: 1px;z-index: -1;}
.be_weight{float: left; text-align:center; 
margin-top: 198px; width:80px; background:url(/new/breed_engine/images/data_icon2.jpg) bottom no-repeat; height:70px;}
.be_weight p {padding: 23px 11px;line-height: 20px;color: #fff;width: 55px; font-size:13px;}
.be_dogicon img {border-top: 1px solid#000;padding-right: 52px;float: right;}
.be_info .be_dogicon p {float: right;padding-right: 54px;width: 156px;line-height: 33px;font-size: 11px;text-align: right;}
.be_cls { float:right; margin-right:0px;}
.be_breedrating{ float:left; width:100%;}
.be_breeddata{ float:left; width:190px;margin: 10px 5px;}
.be_compare-box.be_detail ul li {/*background: #f7ffd8;*/font-size: 12px;}
.be_compare-box.be_detail ul li.be_detailhead{/* background:#668000;*/ color:#fff; /*text-transform:capitalize;*/ font-size:16px;width: 188px;}
.be_border{ border-bottom:1px solid #333;}
h3.be_comhead {float: left;margin: 2px;font-weight: normal;font-size: 16px;color: #000;}
.be_puppieBox {float: left;width: 100%;border: 1px solid #bfbfbf;border-bottom: 0px;border-right: 0px;}
.be_puppieBox ul{float: left;}
.be_puppieBox ul li {width: 232px;vertical-align: top;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;}
.be_click {float: left;margin: 15px 0px;background: #a3cc00;color: #fff;font-size: 20px;}
.be_click a{ color:#fff;padding: 8px 16px;background: #a3cc00;border-radius: 4px;}
.be_click a:hover{ color:#fff; background:#668000; text-decoration:none;}
.be_puppiIMg {float: left;height: 180px;overflow: hidden;}
.be_points1 {width: 232px;font-size: 15px;bottom: 5px;right: 13px;line-height: 20px;}
.be_points1 ul li {list-style: none;border: 0;float: left;padding: 1px;font-size: 13px}
.be_puppieBox ul {float: left;}
.be_points1 ul li label {width: auto;float: left;line-height: normal;}
.be_li {float: left;width: auto;text-align: left;margin-left: 5px;width: 160px;}
.be_relatedCom {display: table-cell;width: 115px;text-align:center;vertical-align: top;}
.be_relatedCom img {border: 1px solid #CCC;}
.be_relatedCom label {float: left;text-align: center;width: 93%;margin: 5px;font-size: 13px;cursor: pointer;}
.be_ad_banner ul li.be_comRel:hover{box-shadow: 0px 0px 3px 0px #bfbfbf inset;background: #fff;}
.be_puppieBox>ul>li:hover{box-shadow: 0px 0px 4px 1px #999;}
.be_coatBox.be_groom h4, .be_widthBox h4 {font-size: 12px;float: left;width: 200px;margin: 7px 0;}
.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all{width: 184px;float: left;margin-left: 0px;}
.be_span {font-size: 14px;margin: 5px -10px 0 -7px;}
.be_compare-box.be_detail ul li.be_detailhead {/*background: rgba(169, 211, 9, 0.66);*/color: #668000;font-size: 14px;width: 160px !important;text-transform: none;text-align: left;padding-left: 7px;}
h3.be_comhead {float: left;font-size: 18px;background: rgba(119, 146, 13, 0.88);width: 954px;padding: 4px 10px;margin: 0px;color: #fff;font-weight: bold;}
.be_compare-box {float: left;width: 100%;border: 1px solid #7E9447;border-bottom: 0px;font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;}
.be_msg {float: left;color: #D34F4F;background: #FCE2E6;border-radius: 5px;padding: 5px;border: 1px solid #D34F4F;font-size: 15px;width: 962px;text-align: center;margin-bottom: 10px;}
.be_selectBox {margin-top:20px;width: 140px;background:#eee;background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e8e7e7));}
.be_pBox {float: left;width: 278px;font-size: 15px;margin-left: 11px;margin-top: -27px;text-indent: 136px;line-height: 21px;}
.be_detailTxt.be_funBox {background: #FCFCFC;padding: 10px 20px;width: 640px;box-shadow: 0px 0px 2px 2px #eee;margin: 1em 0 2em 0;}
.be_funImg {float: left;margin-top: -5px;}
.be_moreFil {float: left;}
.be_plus {float: right;margin: 4px 0;}
.be_coatBox.be_groom h2 {float: left;width: 93%;background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e8e7e7));padding: 5px;color: #6D6565;border: 1px solid #D5D5D5;font-size: 18px;font-weight: normal;}
.be_pBox p {padding-left: 0px;width: 280px;}
.be_more {float: left;padding: 5px;font-size: 14px;text-align: center;width: 96%;color: #668000;border-top: 1px solid #AAA !important;}
.be_more a{color: #668000; cursor:pointer; font-weight:bold;}
.be_more:hover{/*box-shadow: 0px -1px 1px 0px #668000;*/}
.be_comBreedBox h1 {float: left;width: 900px;margin-left:12px;font-size: 35px;line-height: 55px;}
.be_comBreedBox h1 a{font-size: 35px;}
.be_comBreedBox {float: left;margin-top: 20px;}
.be_comBreed {float: left;width: 100%;}
.be_comBreed_list {float: left;border: 1px solid #ccc;margin: 10px 12px;padding: 10px;width: 440px;height: 166px;}
.be_comBreed_list:hover{ box-shadow:0px 0px 2px 1px #ccc;}
.be_ad_banner ul li.be_rldBreed:hover {
background: #fff;
box-shadow: 0px 0px 2px 1px #ccc inset;
}
.be_ad_banner ul a:hover {
background: #fff;
text-decoration: none;
}
.be_ad_banner ul>a>li:hover{background: #fff;
box-shadow: 0px 0px 2px 1px #ccc inset;}
.be_comBreed_list .be_relatedCom {width: 210px;word-wrap: break-word; vertical-align:top;}
.be_comBreed_list .be_relatedCom img{ border:0px;}
.be_comBreed_list .be_relatedCom label{ font-size:18px;}
.be_footnote {float: left;margin-top: 20px;width: 100%;background: #F5F5F5;padding: 5px 0;border-top: 1px solid #bfbfbf;margin-bottom: -20px;font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;}
.be_footnote span{ float:right;}
.be_comheading{ font-size:24px; float:left; margin-bottom:20px;}
.be_weight.be_das_weight {margin-top: -94px;margin-left: 80px;height: 94px;font-size: 15px;float:left;}
.be_weight.be_std_weight {margin-top: 173px;height: 94px;font-size: 16px;float:left;}
.be_weight.be_std_weight p{padding-top: 29px;}
.be_weight.be_das_weight p {font-size: 12px;line-height: 20px;padding-top: 29px;}
.be_info .be_dogicon p.be_das_height {margin-bottom: 56px;float: left;width: 152px;line-height: 41px;padding-right: 34px;}
.be_info .be_dogicon p.das_wc_height {padding-right: 34px;}
.be_buy {color: #fff;border-radius: 4px;padding: 4px;font-size: 14px;margin: 4px 16px;background: #b72903;background: -webkit-gradient(linear, left top, left bottom, from(#f07635), to(#b72903));width: 75px;}
.be_buy:hover{background: #b72903;background: -webkit-gradient(linear, left top, left bottom, from(#b72903), to(#f07635));}
.be_ad_banner ul li a:hover{ text-decoration:none;}
.be_groom ul>label {float: left;width: 102px;}
.be_buynow img{ border:0px solid; margin-top:5px;}
.bSize img {width: 270px;height: 225px;}
.be_rate1{ background:url(/new/breed_engine/images/rate1.png) no-repeat; float:left;width: 130px;height: 20px;margin-left: -2px;}
.be_rate2{ background:url(/new/breed_engine/images/rate2.png) no-repeat; float:left;width: 130px;height: 20px;margin-left: -2px;}
.be_rate3{ background:url(/new/breed_engine/images/rate3.png) no-repeat; float:left;width: 130px;height: 20px;margin-left: -2px;}
.be_rate4{ background:url(/new/breed_engine/images/rate4.png) no-repeat; float:left;width: 130px;height: 20px;margin-left: -2px;}
.be_rate5{ background:url(/new/breed_engine/images/rate5.png) no-repeat; float:left;width: 130px;height: 20px;margin-left: -2px;}
.be_weight p a {color: #fff;}
/*.be_basicInfo1{float: left;width:970px;border:1px solid #bfbfbf;background:#f7f7f7;margin-top: 20px;padding:0px;font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;}
.be_basicInfo1 ul li {list-style: none;vertical-align: middle;line-height: 30px;font-size: 15px;border-bottom: 1px solid #bbb;min-width: 193px;display: table-cell;border-right: 1px solid #bbb;text-align: center;}
.be_basicInfo1 ul li.be_subhead {border-top: 1px solid #bbb;line-height: 30px;border-bottom: 0px;}
.be_basicInfo1 ul li span.fr {margin: 0px 10px 6px 4px;font-size: 11px;line-height: 15px;}*/
.be_basicInfo1 {float: left;width: 970px;border:1px solid #668000;background: #fff;margin-top: 20px;padding: 0px;font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;}
.be_infobasic {float: left;}
.be_basicInfo1 ul li.be_infoHead {line-height: 30px;background: #8aa71a;color: #fff;}
.be_basicInfo1 ul li {list-style: none;vertical-align: middle;line-height: 25px;font-size: 15px;border-bottom: 1px solid #668000;min-width: 130px;display: table-cell;border-right: 1px solid #668000;text-align: center;}

.be_basicInfo1 ul li span.fr {margin: 0px 10px 8px 4px;font-size: 11px;line-height: 15px;}
.be_basicInfo1 ul li.be_subhead {border-top: 1px solid #668000;line-height: 30px;border-bottom: 0px;background: #D4E78A;color: #363636;}
.be_basicInfo1 ul li .be_rate1,.be_basicInfo1 ul li .be_rate2, .be_basicInfo1 ul li .be_rate3, .be_basicInfo1 ul li .be_rate4, .be_basicInfo1 ul li .be_rate5{ margin: 10px 0 5px 70px;}
.be_basicInfo1 ul li span.fl {clear: both;margin: 0px 4px 6px 10px;font-size: 11px;line-height: 15px;}
.be_detailTxt ul li span.fl {clear: both;margin: 4px 4px 6px 0px;font-size: 14px;line-height: 20px;width:200px;}
.be_detailTxt ul li span.fr {margin: 4px 10px 6px 0px;font-size: 14px;line-height: 20px;float:left;}
.be_detailTxt ul li .be_rate4, .be_detailTxt ul li .be_rate1, .be_detailTxt ul li .be_rate2, .be_detailTxt ul li .be_rate3, .be_detailTxt ul li .be_rate5 {margin-left: 20px;margin-top: 5px;}
.be_breeddata .be_rate4, .be_breeddata .be_rate1, .be_breeddata .be_rate2, .be_breeddata .be_rate3, .be_breeddata .be_rate5{ margin-left:33px;}
.be_breeddata span.fl {clear: both;margin: 4px 4px 0px 0px;font-size: 11px;line-height: 15px;}
.be_breeddata span.fr {margin: 4px 10px 0px 0px;font-size: 11px;line-height: 15px;}
.be_rating .be_rate4, .be_rating .be_rate1, .be_rating .be_rate2, .be_rating .be_rate3, .be_rating .be_rate5{ margin-left:50px; margin-top:5px;}
.be_rating span.fl {clear: both;margin:4px 4px 6px 4px;font-size: 11px;line-height: 15px;}
.be_rating span.fr {margin: 4px 4px 6px 0px;font-size: 11px;line-height: 15px;}
.be_temBox1 {position: absolute;width: 100%;font-family: 'nyalaregular'; }
.be_reaBox {width: 100%;margin: 0 auto;}
.be_Ybox {width: 100%;margin: 5px auto;/*text-shadow: 1px 0px 10px #fff;*/color:#fff;float: left;font-size: 43px;text-align: center;text-transform: uppercase;line-height: 100px;font-family: 'nyalaregular';}
.font39_be {font-size: 39px;vertical-align: middle;text-align: center;padding-right: 10px;}
.font74_be {font-size: 74px;vertical-align: middle;text-align: center;padding-right: 10px;}
.font23_be {display:table-cell;font-size: 23px;vertical-align:middle;color: #fff;width: 280px;}
.font20_be{ float:left; font-size:18px;}
.be_leftBox {float: left;text-align: left;width: 450px;}
.be_leftBox li {float: left;font-size: 34px;list-style: none;margin-bottom:60px;}
.be_leftBox li a{padding: 5px 10px;background: rgba(102, 128, 0, 0.76); color:#fff;box-shadow: 1px 1px 4px 0px #333; float:left;}
.be_rytBox {float: right;text-align: right;width: 450px;}
.be_rytBox li {float: right;font-size: 30px;list-style: none;margin-bottom: 60px;}
.be_rytBox li a{padding: 5px 10px;background: rgba(102, 128, 0, 0.76); color:#fff;box-shadow: 1px 1px 4px 0px #333; float:left;}
.be_leftBox li a:hover, .be_rytBox li a:hover {background: rgba(255, 255, 255, 0.71);text-decoration: none;}
.be_content{ float:left; width:100%;font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;}
.be_content h1 {float: left;width: 96%;background: #eee;padding: 5px 10px;margin-bottom: 10px;}
.be_content p {float: left;width: 98%;font-size: 15px;line-height: 20px;}
@font-face {font-family: 'nyalaregular';src: url('/new/breed_engine/fonts/nyala.eot');src: url('/new/breed_engine/fonts/nyala.eot?#iefix') format('embedded-opentype'),url('/new/breed_engine/fonts/nyala.woff') format('woff'),url('/new/breed_engine/fonts/nyala.ttf') format('truetype'),url('/new/breed_engine/fonts/nyala.svg#nyalaregular') format('svg');font-weight: normal;font-style: normal;}
.be_knw_more a {background: #9CC00F;padding: 6px 0;float: left;color: #fff;width: 178px;margin: 10px;border: 1px solid #668000;border-radius: 2px;font-size: 16px;}
.be_knw_more a:hover {background:#668000; text-decoration:none;color: #fff;}
.be_waggie{height: 79px;float: left;text-align: center;width: 115px;}
.be_browse a{ float:right; margin:5px 10px; color:#000000;}
.be_addWag {display: table-cell;background: #fff;padding: 5px;border: 0px solid #eee;width: 240px;box-shadow: 1px 1px 2px #443E3E;cursor: pointer;float: left;margin: 10px;}
.be_Wagimg {float: left;margin-left: 12px;margin-top: 4px;height: 58px;}
.be_Wagtxt{float: left;width: 135px;color: #668000;font-size: 19px;margin-top: 2px;margin-left: 8px;}
.be_result {float: left;margin-left: 11px;width: 98%;padding: 3px;border-bottom: 1px solid #bbb;}
.search_filter1 label{ float: left;font-weight: bold;margin: 4px;}
.be_detailTxt>div {line-height: 23px;}
.dg_fbBox {
float: left;
width: 25%; margin-top:20px;
text-align: center;
}
.be_resetBtn a{padding: 7px 20px;background: #9bc105;color: #fff;font-size: 18px;text-align:center;text-transform: uppercase;color: #fff;border-radius: 2px;}
.be_resetBtn{width: 168px;margin: 29px auto;}
.be_noFimg {float: left;}
.be_noFtxt {float: left;}
.be_noFtxt {float: left;margin:71px 0 0 56px;}
.be_stay {float: left;color: #000;letter-spacing: 2px;font-size: 21px;margin-bottom: 20px;margin-top: 10px;width: 343px;text-align: center;}
.be_notFound {margin: 40px 10px;font-size: 43px;color: #818181;}
.be_resetBtn a:hover { text-decoration:none; background:#668000; color:#fff;}
.be_detailTxt p {line-height: 23px;display: block; margin:1em 0;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;text-align: left;}
.be_ad_banner ul li.be_rldBreed label {
float: left;
width: 206px;cursor: pointer;
}
.be_ad_banner ul li.be_rldBreed {
padding: 14px 14px;
float: left;width: 90%;
}
.be_pros ul li ul li {
list-style: disc;
margin-left: 20px; display:list-item;
padding: 5px 0;
}
/*New Index*/
.be_RsnBox {float: left;text-align: left;width: 100%;}
.be_RsnBox ul {float: left;}
.be_RsnBox ul li {float: left;list-style: none;}
.be_RsnBox ul li a {padding: 45px 57px;float: left;font-size: 42px;width: 209px;color: #fff;}
.be_RsnBox ul li a:hover {text-decoration: none;text-shadow: 3px 3px 7px #090909;}
.be_RsnBox ul li a.be_greenRsn {padding: 45px 57px;float: left;font-size: 42px;width: 209px;color: #a3cc00;}
.be_RsnBox ul li a.be_greenRsn:hover {text-decoration: none;text-shadow: 3px 3px 7px #090909;}

.be_attSec{ float:left; margin-bottom:1em;}
.be_result span {
float: right;
}

/*Rating system*/

		
		.meter {
height: 15px;width: 185px;
position: relative;
margin: 0px;
border: 1px solid #474747;
background: #FFFDFD;
 background:url(../images/ruler.png) no-repeat #fff;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
border-radius: 25px;
padding: 2px;
}
.orange > span {
background-color: #f1a165;
background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
}
.meter > span {
display: block;
height: 100%;
-webkit-border-top-right-radius: 8px;
-webkit-border-bottom-right-radius: 8px;
-moz-border-radius-topright: 8px;
-moz-border-radius-bottomright: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
-webkit-border-top-left-radius: 20px;
-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-topleft: 20px;
-moz-border-radius-bottomleft: 20px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;

position: relative;
overflow: hidden;
}
		
		.meter > span:after, .animate > span > span {
			content: "";
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
			background-image: 
			   -webkit-gradient(linear, 0 0, 100% 100%, 
			      color-stop(.25, rgba(255, 255, 255, .2)), 
			      color-stop(.25, transparent), color-stop(.5, transparent), 
			      color-stop(.5, rgba(255, 255, 255, .2)), 
			      color-stop(.75, rgba(255, 255, 255, .2)), 
			      color-stop(.75, transparent), to(transparent)
			   );
			background-image: 
				-moz-linear-gradient(
				  -45deg, 
			      rgba(255, 255, 255, .2) 25%, 
			      transparent 25%, 
			      transparent 50%, 
			      rgba(255, 255, 255, .2) 50%, 
			      rgba(255, 255, 255, .2) 75%, 
			      transparent 75%, 
			      transparent
			   );
			z-index: 1;
			-webkit-background-size: 50px 50px;
			-moz-background-size: 50px 50px;
			-webkit-animation: move 2s linear infinite;
			   -webkit-border-top-right-radius: 8px;
			-webkit-border-bottom-right-radius: 8px;
			       -moz-border-radius-topright: 8px;
			    -moz-border-radius-bottomright: 8px;
			           border-top-right-radius: 8px;
			        border-bottom-right-radius: 8px;
			    -webkit-border-top-left-radius: 20px;
			 -webkit-border-bottom-left-radius: 20px;
			        -moz-border-radius-topleft: 20px;
			     -moz-border-radius-bottomleft: 20px;
			            border-top-left-radius: 20px;
			         border-bottom-left-radius: 20px;
			overflow: hidden;
		}
		
		.animate > span:after {
			display: none;
		}
		
		@-webkit-keyframes move {
		    0% {
		       background-position: 0 0;
		    }
		    100% {
		       background-position: 50px 50px;
		    }
		}
		
		.orange > span {
			background-color: #f1a165;
		}
		
		.nostripes > span > span, .nostripes > span:after {
			-webkit-animation: none;
			background-image: none;
		}
.be_detailTxt ul li .meter {
margin-left: 25px;
margin-top: 7px;
}
.be_compareBHeading {
    float: left;
    width: 972px;
}
.be_compareBHeading ul {
float: left;
width: 973px;
border-right: 1px solid;
}
.be_compareBHeading ul li {
display: table-cell;
vertical-align: middle;
text-align: center;
background: #f7ffd8;
color: #668000;
width: 200px;
position: relative;
border: 1px solid #668000;
border-right: 0px;
}
.be_compareBHeading ul li a {
    float: left;
    padding: 14px 11px;
    font-size: 16px;color: #668000;
    width: 88%;
    font-weight: bold;
}
.be_compareBHeading ul li label{float: left;cursor: pointer;
    padding: 11px;}
	.be_compareBHeading ul li .be_cls {
    position: absolute;
    right: 0px;
}
.be_basicInfo1 ul li .meter {
margin: 7px 36px;
}
.be_rating .meter {
margin: 6px 0 0 19px;
}
.be_imgDetail1 img {
margin-left: 10px;
}
.be_imgDogInfo {
    float: left;
    width: 260px;
}
.be_regidogname {
float: left;
margin: 5px 0 0 0;
font-size: 14px;
width: 240px;
margin-top:-29px;
background: #eee;
border: 1px solid #aaa;
padding: 5px 10px;
}
.be_regidogname label {
    float: left;
}
.be_regidogname label strong {
    float: left; margin-right:4px;
}
.be_regidogname label span {
    float: left;
}
.share_be {
float: right;
width: 427px;
}
div.share_be .dg_fbBox {
margin: 0px 0 0 10px;
width: auto;
}
.be_compareBHeading ul li a img {
float: left;
border: 1px solid #ccc;
}
.be_compareBHeading ul li a label {
float: left;
width: 118px;
text-align: left;
padding: 0;
padding-left: 6px;
}
.be_PicIndog {
    margin-bottom: 4px;margin-top: -13px;
}
.be_PicIndog label {
    float: left;
    width: 186px;
    margin: 26px 3px 0 0;
}
.be_wcBack{ background:url(https://www.dogspot.in/wag_club/images/bg_wc1.jpg) repeat;}
.be_wcBack ul li {
border-bottom: 0px solid #FFF;
}

.be_wcBack .be_relatedCom {
display: table-cell;
width: 95px;
text-align: center;
vertical-align: top;
padding: 0px 12px;
}
.be_wcBack .be_waggie {
height: 80px;
float: left;
background: #fff;
text-align: center;
border-radius: 50%;
width: 80px;
border: 6px solid #fff;
overflow: hidden;
}
.be_wcBack .be_relatedCom label {
float: left;
text-align: center;
width: 93%;
margin: 5px;
color: #000;
font-size: 14px;
}
.be_sort {
    float: right;
}
.be_sort span {
    float: left;
    margin: 5px;
}
.be_wcBack .be_browse a {
float: right;
margin: 5px 10px;
color: #000;
font-size: 14px;
}
.be_wcBack .be_browse a:hover{color: #fff; text-decoration:underline;}
.be_wcBack .be_more {background: #FFF;padding: 0px;width: 100%;}
.be_result label {
float: left;
margin: 9px 0 0 0;
}
.be_groupBox.be_txtDetail1 {
    float: left;
}
.be_groupBox.be_txtDetail1 p {
    width: 100%;
    margin: 5px 0;
    line-height: 22px;
}
.be_groupTag{ float:left; width:980px;}
.be_groupTag.container h3{
background: #F0F0F0;
padding: 10px;
font-size: 17px;
color: #707070;
margin: 10px 0;}
.be_groupTag .be_slideBox ul li {
height: 200px;
width: 206px;
text-align: center;
background: #fff;
border: 1px solid #ccc;
}
.be_grpNam {
float: left;
background: #fff;
width: 94%;
font-size: 16px;
padding: 2px 5px;
}
.be_groupTag .be_slideBox ul li img {
float: left;
margin-left: 26px;
margin-top: 5px;
}
.be_share {
    float: right;margin-left: 600px;
    width: 315px;
    margin-right: -10px;
}
.be_shareCon {
    float: left;
    width: 232px;
    display: none;
}
.be_share ul {
    float: right;
    margin-top: 13px;
}
.be_share ul li {
float: left;
list-style: none;
box-shadow: 0px 3px 2px -2px #B1ACAC;
margin: 14px;
position: relative;
height: 49px;
border-bottom: 1px solid #ADADAD;
z-index: 9999;
}
.be_share ul li img {
    float: left;
}
.be_inDicon {
float: left;
position: absolute;
bottom: 0px;}
.be_groupTag .be_slideBox {
margin-top: 12px;
}
.be_groupTag .be_ad_banner ul li.be_rldBreed {
width: 90%;
}
.be_groupTag  .be_stay {
width: 100%;
font-size: 27px;
margin: 0px;
letter-spacing: 5px;
}
.be_puppieBox>ul>li {
height: 288px;
overflow: hidden;
}
.be_pBox p {
padding-bottom: 0;
}
/*Coming Soon*/
.be_ComSnBox {
    float: left;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.be_ComSn {
    display: table-cell;
    width: 188px;
    text-align: center;
    border: 1px solid #ccc;
    background: #eee;
}
.be_ComSnImg {
    width: 188px;
    background: #fff;
}
.be_ComSnTxt {
    background: #eee;
    padding: 5px 0px;  width: 188px;
    font-size: 17px;
    border-top: 1px solid #ccc;
}
.be_click.be_sugBtn {
    float: left;
    background: none;
    width: 100%;
    text-align: center;
    margin: 30px 0;
}
.be_click.be_sugBtn a {
    border-radius: 4px;
}
.be_sgnBox {
    float: left;
    font-size: 21px;
    width: 100%;
    text-align: center;
}
.be_sgnInput {
    float: left;
    width: 100%;
    margin: 10px 0;
}
.be_sgnInput input[type=text] {
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 17px;
    border-radius: 4px;
    width: 500px;
}
.be_sgnInput input[type=button] {
    color: #fff;  padding: 8px 16px;  
    border: 0px;
    font-size: 19px;
    background: #a3cc00;  border-radius: 4px;
    font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;  }
div.leftPart_be {
    float: left;
    margin-left: 170px;
    width: 491px;
}
div.rytPart_be {
    float: left;
    margin: 17px;
}
@media screen and (max-width: 769px) {
 .be_content p {font-size: 100%;}
}
/*rating*/
.be_Breedrate{ float:left; width:680px; border:1px solid #668000;margin-top: 10px;}
.be_userRate{ display:table-cell; vertical-align:middle;border-left:1px solid #668000; width:339px;}
.be_userRate h3{ float:left; margin:10px;font-size: 14px;text-transform: uppercase;}
.be_userRate>ul {float: left;margin: 10px;width: 169px;}
.be_userRate>ul>li{float: left; list-style:none; width:180px;}
.be_rate_num{ float:left; margin:3px 5px;}
#rateIt{ float:left;}
.be_totalRate {font-size: 12px;color: #444;list-style: none;float: left;margin-left: 5px;}
div.be_review {float: left;margin-top: 10px;background: #eee;font-size: 22px;padding: 14px;width: 250px;border: 1px solid #ccc;margin-left: 10px;text-align: center; cursor:pointer;}
div.be_review label {cursor: pointer;}
/*Comment Section*/
.be_commentBox{ float:left;width: 680px; font-size:16px;}
.be_commentList{ float:left; width: 680px;margin: 8px 0;}
.be_cmntLabel{ float:left; margin-right: 4px;width: 216px;}
.be_cmntInput{ float:left;width: 460px;}
.be_cmntInput input[type=text],  .be_cmntInput textarea {float: left; font-size:18px; padding:5px 10px;font-size: 15px;font-family: arial;border-radius: 4px; border:1px solid #bfbfbf;}
.be_cmntInput input[type=text]{ width:460px;}
.be_cmntInput textarea {min-height: 100px;max-height: 100px;min-width: 460px;max-width: 460px;margin: 0;}
.be_cmntInput ul.rating {margin-top: 5px;}
.be_cmntInput input[type=button] {float: left;color: #fff;padding: 8px 13px;background: #a3cc00;font-size: 19px;border-radius: 4px;border: 0px;}
.be_cmntUser {float: left;width: 220px;font-size: 16px;}
.be_cmntDone {width: 460px; font-size:14px;float: right; position:relative;}
.be_cmntDone .be_cmntInput {margin: 4px 0;}
div.be_cmntImg {float: left;}
.be_cmntName {float: left;width: 150px;margin-left: 10px;}
.be_cmntName p {color: #668000;font-size: 13px;}
.be_postCmnt{ float:left; width:100%;border-bottom: 1px dotted #444;padding-top: 8px;}
.be_cmntDone h3 {font-size: 18px;text-transform: capitalize;}
.be_cmntBreedimg{ display:table-cell; vertical-align:middle;padding-right: 33px;font-size: 22px;}
.be_cmntNote {float: left;background: #eee;padding: 10px;font-size: 18px;width: 660px;}
div.be_rvwBox {float: left;background: #f8f8f8;padding: 10px;}
.be_delCmnt{position: absolute;cursor:pointer;top: 0;right: 0;}
div.be_review label {cursor: pointer;}
div.be_new {position: absolute;bottom: 3px;left: 3px;}
.be_wcBack .be_relatedCom:hover {box-shadow: none;background: none;}
.be_comRel div.be_relatedCom:hover {box-shadow: none;background: none;}
div.be_vsName {width: 100%;text-align: center;padding-top: 10px;display: table;}
.be_ad_banner ul li.be_comRel a {display: table-cell;}
.be_comBrdNames{ width:23%; margin-right:2%;}
.be_comBrdNames li {float: left;width: 100%;list-style: none;font-size: 14px;vertical-align: middle;}
.breedComName_be h3{color: #444;  padding-bottom: 10px;  margin-bottom: 5px;  text-align: left;  border-bottom: 1px solid #bfbfbf;}
.be_comBrdNames li a {float: left;  width: 96%;  list-style: none;  background: #eee;  padding: 5px 10px;  margin: 3px 0;  font-size: 14px; vertical-align: middle;  height: 40px; }
.be_comBrdNames li a:hover {text-decoration: none;background: #666;color: #fff;}
.be_detailBox1 a {color: #668000;}
div.be_linkBox a {color: #668000;}
div.be_basicInfo1 a { color: #668000;}
.container a {color: #668000;}
.be_detailBox1 a:hover {color: #668000; text-decoration:underline;}
div.be_linkBox a:hover {color: #668000;text-decoration:underline;}
div.be_basicInfo1 a:hover { color: #668000;text-decoration:underline;}
.container a:hover {color: #668000;text-decoration:underline;}
.container{ float:left;width: 680px;}
html ul.tabs li.active {
 border-radius:0;
background: #fff;
border:1px solid #668000;
border-bottom: 0px;
}
html ul.tabs li.active a{ border:0px; border-radius:0;background: #fff; border-top:4px solid #668000;}
html ul.tabs li{ border-radius:0;border:0px solid #668000; margin-right:2px; }
.be_tab:hover{ overflow:visible;}
html ul.tabs li>ul{float: right;
width: 131px;
top: 36px;
right: 0px;
position: absolute;}
html ul.tabs li>ul>li{ float:left; width:100%; overflow:visible; list-style:none;}
ul.tabs li a {
background: #f7ffd8;
font-size: 15px;
padding: 0px 8px;
border: 1px solid #668000;
border-radius: 2px 2px 0 0;
text-transform: uppercase;
}
html ul.tabs li.active a:hover, html ul.tabs a:hover {
background: #668000; color:#fff;
border-radius: 0;
border: 1px solid #666;
border-bottom: 0px;
}
html ul.tabs li.active a:hover{border:0px;}
.tab_container{border: 0;
border-top: 1px solid #668000;
border-radius: 0px;
}
.tab_content p { color:#333;}
#rateIt {
height: 15px;
overflow: hidden;
}
ul.rating li{ border:0px;}

.tab_content {clear: both;}
.be_relatedCom label {
width: 64% !important;
}
div.be_ad_banner.cont660 {border: 0px solid #ddd !important;}

/* adoption table */

.adoption_tag
{
	margin-top:20px;
	float:left;
}
.adoption_tags_table {
  background: white;
  border-collapse: collapse;
  float:left;
  padding:5px;
  border:1px solid #CCC;
  font-family:"Segoe UI";
  width:280px;
}
 
.adoption_tags_table th {
  color:#fff;;
  background:#999;
  border-bottom:1px solid #ccc;
  border-right: 1px solid #ccc;
  font-size:18px;
  font-weight: 100;
  padding: 5px;
  text-align:left;
  vertical-align:middle;
  font-family:"Segoe UI";
}

.adoption_tags_table th:first-child {
  border-top-left-radius:0px;
}
 
.adoption_tags_table th:last-child {
  border-top-right-radius:0px;
  border-right:none;
}
  
.adoption_tags_table tr {
  border-top: 1px solid #ccc;
  border-bottom-: 1px solid #ccc;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  
}
 
.adoption_tags_table tr:first-child {
  border-top:none;
}

.adoption_tags_table tr:last-child {
  border-bottom:none;
}
 
.adoption_tags_table tr:nth-child(odd) td {
  background:#EBEBEB;
} 
.adoption_tags_table td {
  background:#FFFFFF;
  padding: 7px 5px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  border-right: 1px solid #C1C3D1;
}
.adoption_tags_table td a {

font-family:"Segoe UI";
font-size:15px;
color:#333;
}
..adoption_tags_table td a:hover {

font-family:"Segoe UI";
font-size:15px;
color:#333;
}
.adoption_tags_table td:last-child {
  border-right: 0px;
}

.adoption_tags_table th.text-left {
  text-align: left;
}

.adoption_tags_table td.text-left {
  text-align: left;
}


.titile_tag a.tooltip span{
z-index: 10;
display: none; 
border-radius:4px; 
-moz-border-radius: 4px; 
-webkit-border-radius: 4px; 
} 

.titile_tag a.tooltip:hover span{ 
display: inline; 
position: absolute; 
border: 1px solid #8c8c8c; 
background: #fff;
} 


.titile_tag a.tooltip > span{
width: 200px; 
padding: 10px 12px; 
opacity: 0; 
visibility: hidden; 
z-index: 10; 
position: absolute; 
font-size: 13.5px; 
font-style: normal; 
-webkit-border-radius: 3px; 
-moz-border-radius: 3px; -o-border-radius: 3px; 
border-radius: 3px; 
-webkit-box-shadow: 4px 4px 4px #d9b3c3; 
-moz-box-shadow: 4px 4px 4px #d9b3c3; 
box-shadow: 4px 4px 4px #d9b3c3; 
color: #668000; 
background: #fff; 
background: -moz-linear-gradient(top, #FBF5E6 0%, #FFFFFF 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBF5E6), color-stop(100%,#FFFFFF)); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBF5E6', endColorstr='#FFFFFF',GradientType=0 ); 
border: 1px solid #8c8c8c; 
}


.titile_tag a.tooltip:hover > span{ 
opacity: 1; 
text-decoration:none; 
visibility: visible; 
overflow: visible; 
margin-top: 50px; 
display: inline; 
margin-left: -150px;
text-align:left;
}

.titile_tag a.tooltip span b{ 
width: 15px; 
height: 15px; 
margin-left: 20px; 
margin-top: -19px; 
display: block; 
position: absolute; 
-webkit-transform: rotate(-45deg); 
-moz-transform: rotate(-45deg); 
-o-transform: rotate(-45deg); 
transform: rotate(-45deg); 
-webkit-box-shadow: inset -1px 1px 0 #fff; 
-moz-box-shadow: inset 0 1px 0 #fff; -o-box-shadow: inset 0 1px 0 #fff; 
box-shadow: inset 0 1px 0 #fff; 
display: none\0/; *display: none; 
background: #fff; 
border-top: 1px solid #8c8c8c; 
border-right: 1px solid #8c8c8c; 
}
.sharebtn_container {		/*For social buttons*/
    margin-top: 20px;
} 
         
ul.rating li.be_one a:hover{ background-position:0 -23px !important;}
ul.rating li.be_two a:hover{ background-position:0 -46px !important;}
ul.rating li.be_three a:hover{ background-position:0 -69px !important;}
ul.rating li.be_four a:hover{ background-position:0 -92px !important;}
ul.rating li.be_five a:hover{ background-position:0 -115px !important;}
.breadcrumb a { font-size:13px !important; text-decoration:none;}
.breadcrumb{background:#fff !important; font-family:Arial, Helvetica, sans-serif;}
.breadcrumb_cont{float:left; width:100%; color: #666; font-size:13px; word-spacing:2px; margin-top:5px;}
.breadcrumb_cont span{ color:#333;}
.breadcrumb_cont span a:hover{ color:#668000; font-size:13px;}
.brd_font_bold{ font-weight:bold;}