.breeds-section{ margin:0px 0px 30px;}
.breeds-section .breeds-banner{ width:100%; height:auto;}
.breeds-section .breeds-nav{background: #5d5d5d;    font-weight: bold; font-size:14px;}
.breeds-section .breeds-nav .navbar{ margin-bottom:0px; text-transform:uppercase;}
.breeds-section .breeds-nav .navbar a{ color:#fff;}
.breeds-section .breeds-nav .navbar a:hover{ background:#5d5d5d; color:#ff8a00;}
.breeds-section .breeds-box{     float: left;
    width: 100%;border:1px solid #ddd; margin:30px 0px 0px; z-index:0;height: 347px;}
.breeds-section .breeds-box ul { margin:10px 0px;   border-top:1px solid #ddd;     list-style-type: disc; }
.breeds-section .breeds-box ul li{ float:left; width:50%; padding:10px 0px;;  }
.breeds-section .breeds-box ul li:nth-child(1){ padding-bottom:0px;}
.breeds-section .breeds-box ul li:nth-child(2){ padding-bottom:0px;}
.breeds-section .breeds-box  a, .breeds-section .breeds-box  a:hover{ text-decoration:none; color:#333;}
.breeds-section .breeds-box h3 ,.breed-hover-box h3{font-weight: 600;
    color: #668000;font-size: 13px; padding:15px; margin:0px;}
.breeds-section .breeds-box  img{ margin: auto; }
.breed-hover-box,.breed-info-box {
    background: #fff;
     display: none;
	 width:100%;
	 float:left;
	 z-index:0;
	}
	.breed-info-box{ display:block; margin-top:30px;}
.breeds-box:hover .breed-hover-box{display:block;     position: absolute;
    width: 89%;
	top: 30px;
	border-top:1px solid #ddd;
		border-bottom:1px solid #ddd;
		cursor:pointer;

}
	
.breed-hover-box h3 {
    position: absolute;
}
.breed-hover-box-height, .breed-info-box-height{
    background: url(https://www.dogspot.in/new/breed_engine/images/data_icon.png) no-repeat right bottom;
    z-index: 0;
    width: 160px;
    height: 274px;
    float: right;
    position: relative;
}
.breed-hover-box-icon, .breed-info-box-icon{
    float: left;
    position: absolute;
    bottom: 0px;
    right: 41px;
    margin-bottom: 1px;
    z-index: -1;
}
.breed-hover-box-icon p, .breed-info-box-icon p {
    float: right;
    padding-right: 54px;
    width: 156px;
    line-height: 33px;
    font-size: 11px;
    text-align: right;
}
.breed-hover-box-icon img, .breed-info-box-icon img{
    border-top: 1px solid #000;
    padding-right: 52px;
    float: right;
}
.breed-hover-box-weight{    
    width: 100%;}
.breed-hover-box-weight, .breed-info-box-weight {
    float: left;
	text-align: center;
    background: url(https://www.dogspot.in/new/breed_engine/images/data_icon2.jpg) bottom no-repeat;
    padding: 10px 0px;

}
.breed-info-weight-box{     position: absolute;
    bottom: 0px;}
.breed-info-box-weight{ float:left; width:80px;}
.breed-hover-box-weight p, .breed-info-box-weight p {
padding:3px 0px;
color: #fff;
font-size: 12px;
}
.breeds-box-pc{ background:#f4f4f4; padding:10px;}
.breeds-box-pc h4{ padding:0px; margin:0px; border-bottom:1px solid #ddd; padding-bottom:5px; margin-bottom:5px;} 
.breeds-box-pc a{ color:#6c9d06!important; font-size:14px; font-weight:normal;}
.breed-info h1{ font-size: 30px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    margin-top: 30px   }
.breed-info h4 { font-style:italic;}
.breed-info p{ font-size:14px;  line-height: 22px;}
.breed-basic-info { margin-top:30px;}
.breed-basic-info table{  border: 1px solid #668000; margin-bottom:0px;}
.breed-basic-info table th{background-color: #6c9d06; color:#fff;  padding:15px 0px; text-align: center;}
.breed-basic-info table td { vertical-align:middle !important; padding:0px !important; text-align: center;}
.breed-basic-info .table .table{ margin-bottom:0px; border:1px solid #fff;}
.breed-basic-info .table .table td{border-left:1px solid #6c9d06; padding:5px !important; }
.breed-page-nav  .navbar{margin-top:30px;}
.breed-page-nav  .navbar ul li{ margin:0px 2px; background: #edffb3;
    font-size: 14px;
    border: 1px solid #668000;
	color:#333;}
.breed-page-nav  .navbar ul li:first-child{ margin-left:0px;}
.breed-page-nav  .navbar-nav>li>a{padding:7px 19px;
    color:#333;
}
.breed-page-nav  .navbar-nav>li>a:hover{    background: #6c9d06;
    color: #fff;
    border-bottom: 0;}
.breed-page-nav  .navbar ul .current{background:#fff; border-bottom:0px;    border-top: 2px solid #668000;}
.nav_content{ float:left; width:100%;}
.nav_content h2, .nav_content h3{     
background: #F0F0F0;
    padding: 10px;
    font-size: 16px;
    color: #707070;
    font-weight: 700;
    margin: 10px 0;}
.breed-cont-info ul{ list-style:none; padding:0px; margin:0px; }
.breed-cont-info ul li{    list-style: none;
    float:left;
    padding: 5px;
	width:50%;
    font-size: 16px;
    border-right: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    vertical-align: middle;
    word-wrap: break-word;
	height:70px;
	padding:20px 10px;
	vertical-align:middle;
	 display:table-cell;
	}
	.breed-cont-info { margin-bottom:15px; float:left; width:100%}
	.nav_content p{ margin:10px 0px; font-size:14px; line-height:22px;}
.breed-cont-info ul li:last-child{border-right:0px;}	
.breed-cont-info ul li.meter {
    margin-left: 25px;
    margin-top: 7px;
}	
.orange > span {
    background-color: #f1a165;
}
.meter {
    height: 20px;
    width: 185px;
    position: relative;
    margin: 0px;
    border: 1px solid #474747;
    background: url(../images/ruler.png) no-repeat #fff;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 2px;
	margin-left:20px;
}

.meter > span {
    display: block;
    height: 100%;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    overflow: hidden;
}
.meter-span {    
    float: left;
    width: 50%;
    margin-top: 5px;
    font-size: 11px;
    text-align: left;
}
.be_detailTxt.be_funBox {
    background: #FCFCFC;
    padding: 10px 20px;
    box-shadow: 0px 0px 2px 2px #eee;
    margin: 1em 0 2em 0;
}
.be_detailTxt>div {
    line-height: 23px;
}
.be_funImg {
    float: left;
    margin-top: -5px;
}

.be_detailTxt h3{
    background: #F0F0F0;
    padding: 10px;
    font-size: 17px;
    color: #707070;
    font-weight: bold;
    margin: 10px 0;
}
.be_pros {
    display: table-cell;
    width: 47%;
    padding: 1%;
    background: #FCFCFC;
    border: 1px solid #E0DEDE;
	}
	.be_pros ul {
    float: left;
    width: 100%;
}
.be_pros ul li {
    float: left;
    width: 96%;
    font-size: 14px;
    border: 0px solid #000;
    text-align: left;

}

.be_pros:first-child{ border-right:0px;}
.be_slideBox {
    float: left;
    padding: 10px 0;
    width: 100%;
    background: #fcfcfc;
    border: 1px solid #E0DEDE;
    margin: 2em 0 1em 0;
}
.be_slideBox h3 {
    background: #F0F0F0;
    padding: 10px;
    font-size: 16px;
    color: #707070;
    margin: 9px;
	font-weight:700;
}
.be_slideBox ul {
        float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.be_slideBox ul li {
    float: left;
    margin: 9px;
    list-style: none;
    border: 1px solid #000;
    height: 100px;
    overflow: hidden;
}
/* sidebar*/
.breed_sidebar{ margin-top:30px;}
.breed_sidebar {    box-shadow: 0px 1px 3px 1px #bbb}
.breed_sidebar ul{ margin:0px; padding:0px; list-style:none;}

.breed_sidebar h4 {
    padding:13px 10px;
    font-size: 16px;
    color: #6c9d06;
    font-weight: 700;
    margin: 0px;
}
.breed_sidebar ul li a{color:#6c9d06; }
.breed_sidebar ul li{border-top:1px solid #ddd; padding:10px; vertical-align:middle; background:#f4f4f4; }
.breed_sidebar ul li label{font-weight:normal; float:left; width:80%}
.breed_sidebar ul li img{ vertical-align:middle; border:1px solid #ddd; max-width:100%;}
.breed_sidebar ul li:hover{background:#fff; cursor:pointer;}
.breed_sidebar .reco-name{padding:15px 10px; }
.breed_sidebar .reco-name a,.breed_sidebar .reco-name a:hover, .breed_sidebar a, .breed_sidebar a:hover{text-decoration:none;color: #6c9d06; font-size:14px;}
.breed_sidebar .breed-vs, .more-breedcom-box .breed-vs{   
    width: 30px;
    height: 30px;
    border-radius:50%;
    text-align: center;
    line-height: 26px;
    border: 2px solid #6c9d06;
	background:#fff;
	margin:15px auto;
}
.breed_sidebar .breed-vs-text{padding-top: 5px;}
.breed_sidebar .breed-more-com a,.breed_sidebar .breed-more-com a:hover{ text-decoration:none;font-weight: 700; }
/*sidebar end*/
.carousel-indicators {
    bottom:-40px;
	left:0;
	width:100%;
	background:#ccc;
	padding: 6px 0px;
	margin-left:0;
	border-top:2px solid #fff;
}
.carousel-indicators li {
	width:12px;
	height:12px;	
	background:#fff;
	border-color:#fff;
 
}
.carousel-indicators .active {
	width:14px;
	height:14px;
	background:#428bca;
	border-color:#428bca;
}
.carousel-inner .thumbnail {
	margin-bottom:0;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}
.carousel-inner .caption {
	background:#f4f4f4;
	padding: 10px;
}
	
.carousel-inner{border-top: 1px solid #ddd;}
.carousel-inner>.item>a>img{    width: 100%;
    height: 100x;
    border-radius: 0px;
    box-shadow: none;
    border: 0px;
    padding: 0px;}
	.carousel-inner h4{ font-size:14px; font-weight:normal; line-height:22px;}
.breed-tpe-sc { margin-top:30px;}	
.breed-tpe-sc .product-sorting-bar{ margin-bottom:0px;  }	
.breed_heding h3{ margin:0px; padding:0px; color:#6c9d06; font-size:16px; margin-bottom: 10px;}
.breed_heding{ border:1px solid #6c9d06; padding:15px;     margin-bottom: 10px;}
.breed_heding a{color:#6c9d06;}
.breed_heding ul{ margin:0px; padding:0px;}
.breed_heding label{  width: 49%; vertical-align:middle; font-weight:normal;}
.breed_heding input{vertical-align:middle; margin:0px;}
.breed_heding span{vertical-align:middle;}
.breed_heding ul li{ list-style:none; margin-bottom:5px;}
.breed_heding ul li:last-child{ margin-bottom:0px;}
.panel-title a{ text-decoration:none;}
button.accordion {
    background-color: #f4f4f4;
    color: #444;
    cursor: pointer;
	padding:5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
 button.accordion  { transition: 0.4s;
    color: #6c9d06;
    font-size: 16px;}
button.accordion.active, button.accordion:hover {
    background-color: #f4f4f4; 
}
.panel{ margin-bottom:0px;}
div.panel {
    padding: 5px;
    display: none;
    background-color: #f4f4f4;
	padding-bottom:0px;
}
.panel:last-child{border-bottom:0px;}
button.accordion:after {
    content: '\002B';
    font-size: 14px;
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
button.accordion.active:after {
    content: "\2212";
	
}
.panel .breed-info h4,.panel .breed-info-n h4{ padding:0px 0px 5px 0px; margin:0px 0px 5px 0px; font-style:italic;border-bottom:1px solid #ccc;}
.panel button.accordion{ border-top:1px solid #ccc;}
.panel .breed-info ul li label{width:100%;}
.be_detailBox {
    float: left;
    width: 100%;
    margin: 0px 0;
	border-top:1px solid #ddd;
	
}
.be_detailBox .be_rating{ padding:10px;}
.be_detailBox .breed-wnh ul, .be_detailBox .breed-com ul {padding:0px !important; margin:0px!important; list-style-type:none!important; float:left; width:100%;}
.be_detailBox .breed-wnh ul li,.be_detailBox .breed-com ul li{ padding:10px; }
.be_detailBox .breed-wnh ul li:last-child{border-left:1px solid #ddd;}
.be_detailBox label{ font-weight:normal; font-size:14px;}
.be_detailBox label input{ vertical-align:text-bottom;}
.be_detailBox .breed-com ul { background:#f4f4f4;}
.be_detailBox .breed-com a ,.be_detailBox .breed-com a:hover{color: #6c9d06;}
.breed-tpe-sc .title h1{margin:0px; font-size:20px; padding:0px 0px 10px 0px}
.be_compareBox{
    background: #f8f8f8; border: 1px solid #668000; color: #3C0606;margin-top: 30px; font-size: 14px;
    border-radius: 2px;float:left; width:100%;
}
.be_compareBox .fa{ color:#222; font-size:18px; cursor:pointer; margin-top:10px; }
.breed-com-box{ background:#fff; float:left; width:100%; padding-bottom:15px; margin-top:10px;}
.add-another-dog-box{padding: 15px 0px;}
.be_selected{    cursor: pointer;background: #6c9d06;padding: 10px;width: 200px;color: #fff;margin: 20px auto;text-align: center;}
    
.be_compareBox a, .be_compareBox a:hover{ text-decoration:none;}
.more-breed-com{ margin-top:30px;}
.more-breed-com h1{ font-size:20px; padding:0px; margin:0px;}
.more-breed-com a,.more-breed-com a:hover{text-decoration:none;color:#6c9d06}
.more-breed-com .more-breedcom-box{ margin-top:30px; border:1px solid #ddd; padding:25px 10px; float:left; width:100%;}
.more-breed-com .more-breedcom-box h4{ font-size:16px;}
.breed-vs-box{ margin-top:7%;}
.comp-btn{    cursor: pointer;
    background: #6c9d06;
    padding: 10px;
    width: 200px;
    color: #fff;
    margin:10px auto 0px;
    text-align: center;}
.be-compare-box { margin-top:30px; border-top:1px solid #6c9d06;}
.col-sm-5cols{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
	border:1px solid #6c9d06;
	border-right:0px;
	border-bottom:0px;
	border-top:0px;
}
.be-compare-details .col-sm-5cols{ border:0px;}
 .col-sm-5cols:last-child{border-right:1px solid #6c9d06;}
 .be-compare-details .col-sm-5cols:last-child{ border:0px;}

 @media (min-width: 768px) {
 .col-sm-5cols {
        width: 20%;
        float: left;
    }
}
.be-compare-box  select{width:100%; border:1px solid #ccc; height:35px; padding:5px;}
.be-compare-box, .be-compare-fix-top{ float:left; width:100%;}	
.close-box {float:left; width:100%; margin-top:9px;}
.close-box  a{color:#444;}
.be_breedname h2{font-size: 16px; top: 3%;position: absolute;}
.p-d-t{ padding-top:80px;
	min-height: 223px;}
.be-compare-details { background: #f7ffd8; float:left; width:100%; border-bottom:1px solid #6c9d06;}
.be-compare-details:hover{background:#cdf073; }
.breed-com h3{ padding:7px 10px; margin:0px; font-size:17px; font-weight:bold; color:#fff; background:#6c9d06; float: left;
    width: 100%;}
.be-compare-details label{ font-weight:normal; font-size:14px; padding:5px;}
.be-compare-details .meter{ margin-left:0px; margin-top:5px;}
.be-compare-details .be_knw_more  a, .be-compare-details .be_knw_more  a:hover{text-decoration: none;
    background: #6c9d06;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    text-align: center;
    margin: 10px 20px;
    float: left;
    width: 150px;}
.breeds-section .fa{ color:#333;}
		#top_name {
  		position: relative;
		padding-top: 0px;
		margin-top:5px;
		margin-left: 0px;
		z-index: 9999;
		display:none
	}
	#top_name.fixed {
	 position: fixed;
    top: 17.5%;
    float: left;
    background: #fff;
    border: 1px solid #6c9d06;
	width: 84.7%;
    border-left:0px;
	}
.be-compare-fix-top .col-sm-5cols label{    font-size: 14px;
    font-weight: normal;
    padding: 1px 0px; }	
.be_breedthumbimg label{ cursor:pointer;}	
.breeds-box .be_new{    position: absolute;
    top: 38px;
    right: 21px;}



