/* star rating code - use lists because its more semantic */
/* No javascript required */
/* all the stars are contained in one matrix to solve rollover problems with delay */
/* the background position is just shifted to reveal the correct image. */
/* the images are 16px by 16px and the background position will be shifted in negative 16px increments */
/*  key:  B=Blank : O=Orange : G = Green * /
/*..... The Matrix ....... */
/* colours ....Background position */
/* B B B B B - (0 0)*/
/* G B B B B - (0 -16px)*/
/* G G B B B - (0 -32px)*/
/* G G G B B - (0 -48px)*/
/* G G G G B - (0 -64px)*/
/* G G G G G - (0 -80px)*/
/* O B B B B - (0 -96px)*/
/* O O B B B - (0 -112px)*/
/* O O O B B - (0 -128px)*/
/* O O O O B - (0 -144px)*/
/* O O O O O - (0 -160px)*/


/* the default rating is placed as a background image in the ul */
/* use the background position according to the table above to display the required images*/
.rating{
	width:135px;
	height:23px;
	margin:0 0 0 0;
	padding:0;
	list-style:none;
	clear:both;
	position:relative;
	background: url(/new/breed_engine/images/rate.png) no-repeat 0 0;
}
/* add these classes to the ul to effect the change to the correct number of stars */
.nostar {background-position:0 0}
.onestar {background-position:0 -23px}
.twostar {background-position:0 -46px}
.threestar {background-position:0 -69px}
.fourstar {background-position:0 -92px}
.fivestar {background-position:0 -115px}
ul.rating li {list-style: none;
	cursor: pointer;
 /*ie5 mac doesn't like it if the list is floated\*/
	float:left;
	/* end hide*/
	text-indent:-999em;
}
ul.rating li a {
	position:absolute;
	left:0;
	top:0;
	width:23px;
	height:23px;
	text-decoration:none;
	z-index: 200;
}
ul.rating li.one a {left:0}
ul.rating li.two a {left:27px;}
ul.rating li.three a {left:54px;}
ul.rating li.four a {left: 82px;}
ul.rating li.five a {left: 108px;}
ul.rating li a:hover {
	z-index:2;
	width:137px;
	height:23px;
	overflow:hidden;
	left:0;	
	background: url(/new/breed_engine/images/rate.png) no-repeat 0 0
}
ul.rating li.one a:hover {background-position:0 -138px; }
ul.rating li.two a:hover {background-position:0 -161px;}
ul.rating li.three a:hover {background-position:0 -184px}
ul.rating li.four a:hover {background-position:0 -207px}
ul.rating li.five a:hover {background-position:0 -230px}
/* end rating code */
