.breed_info ul {
	float: left;
	margin-bottom: 10px;
	width: 100%;
	display: table
}
.breed_info ul>li {
	width: 48%;
	vertical-align: middle;
	border-bottom: 1px dotted #ccc;
	text-align: left;
	padding: 8px;
	display: table-cell;
	font-size: 14px
}
.art_content {
	margin-top: 15px;
	border: 1px solid red;
}
.contest_header {
	margin-top: 15px;
	float: left;
	width: 100%
}
.content p {
	margin: 10px 0;
	font-size: 15px
}

.be_pros ul li>ul li {
	list-style-type: circle;
	padding: 0;
	margin: 0 0 10px 30px
}
.be_ad_banner h4 {
	background: #f2f2f2;
	padding: 15px;
	margin: 10px;
	text-transform: uppercase;
	font-size: 14px
}
h3 {
	font-size: 18px
}
.dogbreeds_content h1 {
	margin: 10px 0;
	font-size: 18px;
	color: #668000
}
.dogbreeds_content p {
	margin: 10px 0;
	font-size: 14px
}
.be_ad_banner ul {
	float: left;
	width: 96%;
	margin: 0 10px
}
.be_ad_banner ul li {
	display: inline-block;
	padding: 0 10px;
	border: 1px solid #ddd;
	height: 190px;
	vertical-align: middle;
	margin-bottom: 10px
}
.be_ad_banner ul li img {
	width: 100%;
	height: auto;
	max-width: 148px
}
.be_grpNam {
	width: 130px
}
.com-breed-sec {
	float: left;
	width: 96%;
	margin: 0 2%;
	background: #fff
}
.com-breed-text {
	border: none;
	color: #D34F4F;
	background: 0 0;
	font-size: 16px;
	margin: 20px 0
}
.comp-b-select div, .compareNowbtn {
	margin-bottom: 20px
}
.comp-b-select select {
	width: 100%;
	height: 35px;
	border-radius: 3px;
	border: 1px solid #ddd;
	font-size: 16px
}
.breedComName_be, h3.be_comhead {
	border-top: 1px solid #ccc;
	float: left
}
.comp-b-select {
	margin-top: 20px
}
.compareNowbtn a {
	display: block;
	padding: 10px;
	text-transform: uppercase;
	border-radius: 3px;
	background: #6c9d06;
	color: #FFF;
	font-size: 18px;
	text-align: center;
	margin-top: 22px;
	line-height: 1
}
.compdog-breed-tab {
	width: 96%;
	margin: 0 2%;
	float: left
}
.compdog-breed-tab ul {
	margin: 0;
	float: left;
	padding: 0;
	width: 100%
}
.compdog-breed-tab ul li {
	float: left;
	width: 50%;
	padding: 5px 2%;
	border: 1px solid #ccc;
	border-bottom: 0
}
.compdog-breed-tab ul li:last-child {
	border-left: 0
}
.be_breedimg img {
	max-width: 100%;
	height:auto;
}
.be_breedname h2 {
	font-weight: 400;
	font-size: 14px;
	
}
.be_cls {
	float: right;
	margin-right: 0
}
.be_breedname {
	float: left;
	padding: 5px 0;
	color: #668000;
	text-align: left;
	max-width: 138px;
    position: absolute;
}
h2 a {
	color: #46433d
}
h3.be_comhead {
	font-size: 18px;
	background: #f2f2f2;
	padding: 4px 10px;
	margin: 0;
	color: #333;
	font-weight: 700;
	width: 100%
}
li.be_detailhead {
	color: #668000!important;
	font-size: 14px;
	width: 100%!important;
	border-left: 1px solid #ccc!important
}
.breedComName_be h3 {
	color: #444;
	padding-bottom: 10px;
	margin-bottom: 5px;
	text-align: left;
	border-bottom: 1px solid #bfbfbf
}
.breedComName_be {
	width: 96%;
	margin: 0 2% 20px;
	padding-top:10px;
}
.be_comBrdNames li, .be_comBrdNames li a {
	width: 100%;
	list-style: none;
	font-size: 14px;
	vertical-align: middle;
	float: left
}
.be_comBrdNames li a {
	background: #eee;
	padding: 10px;
	margin: 10px 0
}
.meter {
	height: 20px;
	width: 160px;
	position: relative;
	margin: 0;
	border: 1px solid #474747;
	background: url(https://www.dogspot.in/new/breed_engine/images/ruler.png) no-repeat #fff;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 2px
}
.orange>span {
	background-color: #f1a165
}
.meter>span {
	display: block;
	height: 100%;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	position: relative;
	overflow: hidden;
	-webkit-border-radius: 20px 8px 8px 20px;
	border-radius: 20px 8px 8px 20px
}
.nostripes>span:after, .nostripes>span>span {
	-webkit-animation: none;
	background-image: none
}
.be_breeddata span.fl {
	clear: both;
	margin: 4px 4px 0 0;
	font-size: 11px;
	line-height: 15px;
	float: left
}
.be_breeddata span.fr {
	margin: 4px 10px 0 0;
	font-size: 11px;
	line-height: 15px;
	float: right
}
.orange {
	background-color: #fff!important;
	border: 1px solid #ccc!important
}
.re_ad_banner {
	float: left;
	width: 96%;
	margin: 0 2%
}
.re_ad_banner h4 {
	margin-top: -10px;
	color: #444;
	padding-bottom: 10px;
	margin-bottom: 5px;
	text-align: left;
	border-bottom: 1px solid #bfbfbf
}
.ui-mobile label{ font-size:14px !important;}
.no_border span{ font-size:12px;}
			.breed-product-sec{ float:left; width:96%;margin:0px 2% 10px 2%;}
			.breed-product-sec h3{   padding-bottom: 10px;
    margin-bottom: 5px;
    text-align: left;
    border-bottom: 1px solid #bfbfbf;}
.breed-product-sec ul { list-style:none; padding:0px; margin:0px; }
.breed-product-sec ul li{ float:left; width:50%;}
.comp-breed-sec{ float:left; width:96%; margin:0px 2%;}
		.comp-breed-sec h4{color: #444;
    padding-bottom: 10px;
    margin-bottom: 5px;
    text-align: left;
    border-bottom: 1px solid #bfbfbf;}
	.comp-breed-sec  ul{ padding:0px; margin:0px;}
	.btm{    border-bottom: 1px solid #bfbfbf;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    padding: 15px 0px;}
	ul.com-breeds-vs{padding:0px; margin:0px; float:left; width:100%;}
	.com-breeds-vs img{ max-width:40px; height:auto;}
	.com-breeds-name{float:left; width:100%; text-align:center;}
	ul.com-breeds-vs li{width:40%; float:left; text-align:center;}
	ul.com-breeds-vs li:nth-child(2){ width:20%;}
	ul.com-breeds-vs li label{    width: 40px;
    height: 40px;
    border-radius: 50px;
    font-weight: 700;
    text-align: center;
    line-height: 38px;
    border: 2px solid #6c9d06;     margin: 0px auto 15px;}
	.be_more{    text-align: center;
    float: left;
    width: 100%;
    margin: 15px 0px;}
	.be_more a{border: 1px solid #6c9d06;
    padding: 11px 25px;
    color: #6c9d06;
    border-radius: 2px;}
	
.breeds-box-pc{    background: #f4f4f4;
    padding: 5px 10px;        margin: 0px !important;}
	.dogbreeds_content h1{    margin: 0px;
    font-weight: normal;}
	.dogbreeds_content{ font-size:14px;}
	.breed-hover-box-height, .breed-info-box-height {
    background: url(https://www.dogspot.in/new/breed_engine/images/data_icon.png) no-repeat right bottom;
    z-index: 0;
    width: 160px;
    height: 274px;
    float: right;
    position: relative;
}
.breed-info-box div{margin: 0px !important;
    border: 0px !important;
    padding: 0px !important;     overflow: initial !important;}
	.breed-info-box-icon{    float: left;
    position: absolute;
    bottom: -4px;
    right: 80px;
    z-index: -1;}
	.breed-info-box-weight {
    float: left;
    width: 80px;
	    position: relative;
    bottom: -191px;
}
.breed-info-weight-box {
    
    bottom: 0px;
}
.breed-hover-box-weight p, .breed-info-box-weight p {
    padding: 3px 0px;
    color: #fff;
    font-size: 12px;
}
.breed-info-box-weight {
    float: left;
    text-align: center;
    background: url(https://www.dogspot.in/new/breed_engine/images/data_icon2.jpg) bottom no-repeat;
    padding: 10px 0px;
}
.breed-info-box-icon img {
    border-top: 1px solid #000;
    padding-right: 22px;
    float: right;
}
.breed-info-box-icon p {
    float: right;
    padding-right: 54px;
    width: 156px;
    line-height: 33px;
    font-size: 12px;
    text-align: right;
}
.accordion-content{ padding: 13px 20px !important;}
.accordion-content h3{font-size: 16px;
    margin-bottom: 10px;}
.accordion-content p{font-size: 14px;
    line-height: 22px; margin-bottom: 10px;}
	
.be_detailTxt{background: #FCFCFC;
    padding: 10px 20px;
    box-shadow: 0px 0px 2px 2px #eee;
    margin: 1em 0 2em 0;}
	.be_detailTxt h3 {
    background: #F0F0F0;
    padding: 10px;
    font-size: 17px;
    color: #707070;
    font-weight: bold;
    margin: 10px 0;
}
.be_funImg {
    float: left;
    margin-top: -5px;
}
.be_detailTxt>div {
    line-height: 23px;
}
.be_detailTxt h3 {
    background: #F0F0F0;
    padding: 10px;
    font-size: 17px;
    color: #707070;
    font-weight: bold;
    margin: 10px 0;
}
.be_pros {
    display: table-cell;
    width: 50%;
    padding: 1%;
    background: #FCFCFC;
    border: 1px solid #E0DEDE;
    min-height: 267px;
}

.be_pros ul {
    float: left;
    width: 100%;
}	
.be_pros{ margin-top:0px !important;}
.be_pros ul li {
    float: left;
    width: 92%;
    font-size: 14px;
    border: 0px solid #000;
    text-align: left;
}
.dogbreeds_content, .white{letter-spacing: 0.5px;}	
