.dog-treats-header, .about-dog-treats, .eat-back, .benifits-sectiion, .comparision-section, .dog-treats-footer{
	width: 100%;
	float: left;


	font-family: lato, sans-serif;
	letter-spacing: 0.5px;
}
.dog-treats-header {
	background: #fff;
	    border-bottom: 1px solid #e5e5e5;
}
.dog-treats-header h1 {
	text-align: center;
	font-size: 26px;
	font-family: lato, sans-serif;
	text-transform: uppercase;
	padding: 30px 0px;
	font-weight: bold;
	  
		    background: #f7c600;
    margin-bottom: 30px;
}
.treats-slider-sec {
	
}
ul.dstabs {
	list-style: none;
	font-size: 15px;
	color: #4a4a4a;
	font-weight: 700;
	font-family: lato, snan-serif;
	text-align: center;
	padding: 0px;
	margin: 0px;
	border-right: none;
}
ul.dstabs li {
	color: #555;
	display: inline-block;
	cursor: pointer;
	padding: 20px 0px;
	text-transform: uppercase;
}
ul.dstabs li:first-child {
	margin-right: 5px;
}
ul.dstabs li:last-child {
	margin-left: 5px;
}
ul.dstabs li.current {
	color: #e04600;
}
.dstab-content {
	display: none;
	padding: 0px;
}
.dstab-content.current {
	display: inherit;
}
.buy-now-btn a {
	background: #e04600;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	padding: 7px 10px;
	float: left;
	margin-top: 8px;
}
.dog-image {
	position: absolute;
	right: 108px;
	margin-top: -326px;
}
.eat-back {
	padding: 40px 0px;
	font-size: 24px;
	text-align: center;
}
.eat-back .cont980 img{ margin-top:20px;}
.eat-back .cont980 {
	text-align: center;
}
.about-dog-treats {
	background: #f8f8f8;
	padding: 60px 0px;
}
.about-dog-treats h3 {
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
	font-weight:normal;
}
.about-dog-treats p {
	font-size: 16px;
	text-align: center;
	line-height: 24px;
}
.about-dog-treats-p-b {
	margin-bottom: 20px;
}
.benifits-sectiion {
	padding: 40px 0px 0px;
}
.benifits-sectiion h3 {
	text-align: center;
	font-size: 20px;
	padding-bottom:20px;
	font-weight:normal;
}
.benifits-sectiion-bg {
	background: url(../images/dog-b.jpg) no-repeat;
	float: left;
	text-align: center;
	width: 100%;
}
.benifits-sectiion-l {
	float: left;
	float: left;
	padding-top: 40px;
	padding-bottom: 40px;
}
.benifits-sectiion-l ul {
	list-style: none;
	text-align: left;
	font-size: 18px;
	padding-top: 20px;
}
.benifits-sectiion-l ul li {
	padding-top: 46px;
	margin-left: 10px;
}
.comparision-section {
	background: #f5f5f5;
	padding: 40px 0px;
}
.comparision-section h3 {
	text-transform: uppercase;
font-size: 20px;
	font-weight:normal;
	padding-bottom: 5px;
}
.comparision-section p {
	padding-bottom: 30px;
	font-size: 16px;
}
.comparision-section table {
	border: 1px solid #ccc;
	border-collapse: collapse;
}
.comparision-section table th{ color:#333;}
.comparision-section table img{ max-width:100%; height:auto;}
.comparision-section table  tr:nth-of-type(odd) {
    background: #f5f5f5;
}
.comparision-section table th, .comparision-section table td {
	border: 1px solid #ccc;
	vertical-align: middle;
	font-size: 16px;
	text-align: center;
	padding: 7px 0px;
}
.dog-treats-footer{ padding:40px 0px; background:#000000;}
.form-control div{ margin-bottom:15px;}
.form-control input{border: 1px solid #fff;

height: 40px;
padding: 0px 10px;
font-size: 15px;
background: #000; color:#fff;}
.form-control textarea{font-size: 15px;
   
    height: 110px;
    padding: 10px 10px;
    font-family: lato,sans-serif;
    letter-spacing: 0.5px;
    background: transparent;
    border: 1px solid #fff;
    resize: none;}
.dog-treats-footer h3{ font-size: 20px;
	font-weight:normal; text-transform:uppercase; color:#fff; margin-bottom:5px;}
#newFooter, #footerGreen.footgrey, .bottomFoot_tb {
	display: none;
}
input:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}
.dog-treats-footer .dog-treats-footer-l{ float:left; width:100%;}
.dog-treats-footer .dog-treats-footer-r{ float:left; width:100%; margin-top:40px;}
.dog-treats-footer .cont980 img{ margin-bottom: 20px; margin-top:5px;}
.dog-treats-footer .dog-treats-footer-l .form-control .btn-treats{ border: 1px solid #fff;
    background: #fff;

    text-transform: uppercase;
    font-size: 17px;
    height: 40px; cursor:pointer;}
	.dog-treats-footer-r div{ margin-bottom:20px;}
	.dog-treats-footer-r h3{ text-transform:none; font-size: 20px;
	font-weight:normal;color:#fff;}
	.dog-treats-footer-r p{ color:#fff; font-size:15px; margin-bottom:5px;}
	.benifits-sec{    text-align: left;
    margin-bottom: 40px;}
	.form-control .ui-corner-all{    text-transform:uppercase; background#fff;}
	.form-control .ui-input-btn{    width: 100%;
    background: #fff!important;
    font-size: 14px;
    margin-top: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #000 !important;
    text-align: center;
    padding: 10px 0px;}
	.cont980{ margin:0px 5%;}
	

.bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
	clear:both;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}
.slide h3 {
        float: left;
    width: 100%;
    margin-top: 10px;
    color: #000;
    font-family: lato,sans-serif;
    font-size: 16px;
}
.slide .buy-now-btn{float: left;
    width: 100%;     margin-top: 3px;}

.slide p{    float: left;
    width: 100%;
    margin-top: 5px;
	font-size:14px;
      }
/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	
	border:  5px solid #fff;
	left: -5px;
	background: #fff;

}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
	
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 0px;;
	background: url(../images/aroow-icon.png) no-repeat -8px 0px
}

.bx-wrapper .bx-next {
	    right: 0px;
	    background: url(../images/aroow-icon.png) no-repeat -50px 0px;
}

.bx-wrapper .bx-prev:hover {
	background-position:-8px 0px;
}

.bx-wrapper .bx-next:hover {
	background-position:-50px 0px;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
    top: 50%;
    margin-top: -25px;
    outline: 0;
    width: 35px;
    height: 40px;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}
.duck-n-chicken{    float: left;
    width: 100%;
    margin-top: 30px}
	.duck-n-chicken li{float: left;width: 46%;height: auto;}
	.duck-n-chicken li:first-child{ margin-right:8%;}
