.coupon{  float: right; height: 220px; position: fixed;  right: 0;  top: 230px;  width: 33px;  z-index: 999999;}
.popupContact1{ border:3px solid #8fb406; width:820px; height:400px; background:#fff;display:none;}
.pop_banner{ border-right:3px solid #8fb406; float:left; width:400px;}
.pop_content{ font-family:Arial, Helvetica, sans-serif; color:#1f1f1f;  float:left; width:400px; padding:8px; font-size:14px; text-align:left;}	
.pop_content h2{ font-size:20px;} 
.pop_content p{ margin:0 0 8px 0}
.like_box_dog{ background:#f0f0f0;  float:left; width:400px; margin:10px 0 20px 0; height:36px;}
.like_line{ font-size:20px; float:left;}
.time_section{ float:left; margin-top:20px}
.time_section img{ margin:0px 10px 0 0; float:left;}
.pop_close{ position:absolute; margin: -12px -12px 0 0px; top: 0; right:0px}
#popupContactSnG{display:none;position:fixed;_position:absolute;background:#FFFFFF;border:2px solid #cecece;z-index:2;font-size:13px;}
.pop_up_box{ float:left; width:553px;}
.pop_banner1{ float:left;margin-left: 1px;}
.pop_content1{ float:left;margin-top: 10px;}
.pop_content1 h1{ color:#9fbe3f; margin-left:10px;}
.pop_content1 h4{margin-left:10px;}
.pop_content1 textarea {max-height: 82px;max-width: 390px;min-height: 82px;min-width: 390px;}