.dog-show-sec, .dog-show-banner {
	float: left;
	width: 100%;
}
.dog-show-banner img {
	width: 100%;
	height: auto;
}
.dogshow_nav_header {
	float: left;
	width: 100%;
	font-weight: bold;
	background: none repeat scroll 0% 0% #E8F8A8;
	font-size: 15px;
	border-top: 1px solid #88D501;
	color: #6c9d06;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom: 1px solid #88D501;
	z-index: 9999;
	margin-top: -5px;
	padding: 6px 2%;
}
#ds_top_nav ul {
	padding: 0;
	margin: 0;
}
#ds_top_nav ul li {
	display: inline;
	padding: 0;
	margin: 0;
	float: left;
}
#ds_top_nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	height: 28px;
	display: block;
	line-height: 10px;
	margin-right: 10px;
	background: none repeat scroll 0% 0% #6c9d06;
	padding: 10px;
}
.recent_show_albem {
	text-align: left;
	overflow: hidden;
	width: 96%;
	float: left;
	margin: 0px 2%;
}
.recent_show_albem h2 {
	text-align: left;
	width: 100%;
	padding-bottom: 5px;
	margin-top: 12px;
	color: #6c9d06;
	font-weight: normal;
	font-size: 22px;
}
.dog-show-list, .dogshow-alub-list {
	float: left;
	width: 96%;
	margin: 10px 2% 20px 2%;
}
.dogshows_wrapperBox {
	float: left;
	text-align: left;
	text-align: center;
	box-shadow: 2px 2px 2px 2px #ddd;
	padding-bottom: 7px;
	width: 48%;
	margin-right: 4%;
}
.dogshows_wrapperBox:last-child {
	margin-right: 0px;
}
.dog_shows_thumbnail img {
	width: 100%;
	height: auto;
	text-align: center;
}
.dog_shows_title {
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}
.dog_name {
	font-size: 14px;
	font-weight: bold;
	margin: 0px;
}
.dog_date {
	font-size: 13px;
	margin: 0px;
	color: #999;
	margin-top: 8px;
}
.dogshow-album {
	padding-bottom: 20px;
	border: 1px dotted #999;
	float: left;
	position: relative;
	padding: 7px;
	width: 48%;
	margin-right: 4%;
	text-align: center;
}
#photoEdit77707 {
	float: left;
	width: 100%;
	font-size: 12px;
	margin-top: 4px;
}
.dogshow-album:last-child {
	margin-right: 0px;
}
.ds-pagination {
	margin-top: 20px;
	float: left;
	width: 96%;
	margin: 10px 2% 20px;
}
.showPages-n span {
	border: 1px solid #6c9d06;
	background-color: #6c9d06;
	padding: 8px 15px;
	font-weight: normal;
}
.showPages-n a {
	border: 1px solid #6c9d06;
	color: #555;
	padding: 8px 15px;
	margin: 0px 2px;
	background: none;
	font-weight: normal;
}
.seq .seq-preloader {
	background: #D9D9D9;
}
.seq .seq-screen, .seq .seq-canvas, .seq .seq-canvas > * {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	list-style: none;
}
.seq .seq-canvas > * {
	position: absolute;
}
.seq.seq-fallback .seq-canvas {
	max-width: 1280px;
}
.seq.seq-fallback .seq-pagination li {
	position: relative;
}
.seq.seq-fallback .seq-pagination li img {
	border: none;
}
.seq.seq-fallback .seq-pagination li a {
	display: block;
	width: 100%;
	height: 100%;
}
.seq.seq-fallback .seq-next:focus, .seq.seq-fallback .seq-next:hover, .seq.seq-fallback .seq-prev:focus, .seq.seq-fallback .seq-prev:hover, .seq.seq-fallback .seq-pagination li:focus, .seq.seq-fallback .seq-pagination li:hover {
	top: -4px;
}
.seq .seq-canvas {
	max-width: 1280px;
	overflow: hidden;
	position: relative;
	display: block;
	margin: 0 auto;
}
.seq .seq-nav, .seq .seq-pagination {
	/* Hide navigation when JS is disabled */
	display: none;
}
.seq.seq-active .seq-nav {
	/* Show navigation and pagination if JS is enabled */
	display: block;
}
.seq .seq-nav {
	/* Styles for next/previous buttons and pagination */
	position: absolute;
	z-index: 9999;
	top: 50%;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0;
	pointer-events: none;
	border: none;
}
.seq .seq-next, .seq .seq-prev {
	position: absolute;
	top: 50%;
	margin-top: -33px;
	width: 35px;
	height: 66px;
	border: none;
	cursor: pointer;
	pointer-events: auto;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	/* Image replacement */
	border: 0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	border: 1px solid #333;
}
.seq .seq-next {
	right: 20px;
	background: url("../images/bt-next.png");
}
.seq .seq-next:focus, .seq .seq-next:hover {
	-webkit-transform: translate3d(4px, 0, 0);
	-ms-transform: translate3d(4px, 0, 0);
	transform: translate3d(4px, 0, 0);
}
.seq .seq-prev {
	left: 20px;
	background: url("../images/bt-prev.png");
}
.seq .seq-prev:focus, .seq .seq-prev:hover {
	-webkit-transform: translate3d(-4px, 0, 0);
	-ms-transform: translate3d(-4px, 0, 0);
	transform: translate3d(-4px, 0, 0);
}
.seq .seq-model, .seq .seq-title {
	position: absolute;
}
.seq .seq-title {
	bottom: 5%;
	margin: 0 2.5%;
	width: 95%;
}
.seq .seq-model {
	bottom: 15%;
	height: 81%;
	width: 100%;
	/* Don't allow the image to exceed its original height */
	max-height: 568px;
}
.seq .seq-model img {
	/* Don't allow the image to exceed its original height */
	width: 100%;
	display: block;
	height: 100%;
	width: auto;
	margin: 0 auto;
	opacity: 0;
	-webkit-transform: translate3d(60px, 0, 0);
	-ms-transform: translate3d(60px, 0, 0);
	transform: translate3d(60px, 0, 0);
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-properties: transform, opacity;
	transition-properties: transform, opacity;
	-webkit-transition-timing-function: ease-out !important;
	transition-timing-function: ease-out !important;
}
.seq .seq-title br {
	display: none;
}
.seq .seq-title h2, .seq .seq-title h3 {
	display: block;
	width: 98%;
	vertical-align: middle;
	text-align: center;
	margin: 0;
	opacity: 0;
	font-size: 16px;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-properties: opacity;
	transition-properties: opacity;
}
.seq .seq-title h2 {
	padding: .2em 1%;
	font-family: 'Oxygen', sans-serif;
	color: white;
	background: black;
	float: left;
}
.seq .seq-title h3 {
	display: none;
	clear: left;
}
.seq .seq-in {
/* Animate in positions for content */
}
.seq .seq-in .seq-model img {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1;
}
.seq .seq-in .seq-title h2, .seq .seq-in .seq-title h3 {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.seq .seq-out {
/* Animate out positions for content */
}
.seq .seq-out .seq-model img {
	-webkit-transform: translate3d(-60px, 0, 0);
	-ms-transform: translate3d(-60px, 0, 0);
	transform: translate3d(-60px, 0, 0);
	opacity: 0;
}
.seq {
	/* Make the container 16:9 but no bigger than 90% of the screen height */
	position: relative;
	height: auto;
	height: 100%;
	/* Move the background radial to the left */
	background-position: 50% 100%;
}
.seq:before {
	/* Make an element a certain aspect ratio */
	display: block;
	content: "";
	width: 100%;
	padding-top: 56.25%;
}
.seq .seq-screen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.seq .seq-canvas > *:before {
	/* Vertically align the content using a :before element */
	content: "";
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.seq .seq-model, .seq .seq-title {
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	margin: 0 5% 0 2.5%;
}
#showsechedule_text {
	position: absolute;
	z-index: 0;
	margin-left: 10px;
	padding-top: 30px;
}
#showsechedule_text h1 {
	font-size: 24px;
	color: #FFFFFF;
	margin: 0px;
	padding-bottom: 20px;
	line-height: 40px;
}
#dogshow_filter_div {
	float: left;
	width: 96%;
	margin: 20px 2%;
}
#dogshow_filter_div select {
	width: 100%;
	height: 33px;
	border-radius: 3px;
	font-size: 14px;
}
.dogshow_sechduletable table {
	width: 96%;
	float: left;
	margin: 0px 2%;
	border-collapse: collapse;
}
.dogshow_sechduletable table tr:nth-of-type(odd) {
	background: #6c9d06 !important;
}
.dogshow_sechduletable table th {
	padding: 10px;
	border: 1px solid #6c9d06;
}
.dogshow_sechduletable table td {
	padding: 10px;
	border: 1px solid #6c9d06;
}
.dog-show-sec ul {
	padding: 0px;
	list-style-type: none;
	width: 96%;
	margin: 20px 2%;
}
.dog-result-sec ul li {
	background-color: #f8f8f8;
	padding: 10px;
	margin-bottom: 5px;
	list-style: none;
	display: block;
	margin-bottom: 20px;
}
.dog-result-sec ul li h2 {
	font-size: 14px;
}
.dog-result-sec ul a {
	text-decoration: none;
	font-size: 14px;
}
.box_list {
	width: 100%;
	float: left;
}
.box_show_title {
	background: #ecdcc5;
	border-bottom: 1px solid #ddd;
	padding: 10px 2%;
	font-size: 14px;
	font-weight: bold;
	float: left;
	width: 100%;
}
.load-more-events {
	float: left;
	width: 96%;
	text-align: center;
	border: 1px solid #668000;
	color: #668000;
	margin: 0px 2% 20px 2%;
	border-radius: 3px;
	padding: 5px 0px;
}
.open_detailBox_dg .ui-collapsible-heading a {
	width: 100%;
	float: left;
	text-align: left;
	padding: 10px;
	color: #333;
	font-size: 14px;
}
.open_detailBox_dg .ui-collapsible-content {
	width: 100%;
	float: left;
	border: 1px solid #ddd;
	border-top: 0px;
	border-radius: 0px !important;
	padding: 10px;
}
.open_detailBox_dg .ui-btn-icon-left:after {
	content: "" !important;
}
.open_detailBox_dg .ui-icon-plus:after {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	margin-right: 10px;
}
.open_detailBox_dg .ui-icon-minus:after {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	margin-right: 10px;
	margin-top: -30px !important;
}
h3.ui-collapsible-heading a {
	background: #fff;
	border: 1px solid #ddd !important;
}
.details_box_dg {
	position: absolute;
	width: 100%;
}
.dog-show-rlist ul {
	margin: 0px;
	border: 0px;
	list-style: none;
}
.dog-show-rlist ul li {
	padding: 0px 0px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}
.dog-show-rlist ul li:last-child {
	border-bottom: 0px;
}
.dog-show-rlist ul li div {
	margin-bottom: 10px;
}
.best-in-show-bg {
	background: #eee;
	padding: 5px;
}

