@font-face{font-family:'throw_my_hands_up_in_the_aiRg';src:url('../font/throwmyhandsupintheair.eot');src:url('../font/throwmyhandsupintheair.eot?#iefix') format('embedded-opentype'),
url('../font/throwmyhandsupintheair.woff') format('woff'),
url('../font/throwmyhandsupintheair.ttf') format('truetype'),
url('../font/throwmyhandsupintheair.svg#throw_my_hands_up_in_the_aiRg') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'throw_my_hands_up_in_the_aiBd';src:url('../font/throwmyhandsupintheairbold.eot');src:url('../font/throwmyhandsupintheairbold.eot?#iefix') format('embedded-opentype'),
url('../font/throwmyhandsupintheairbold.woff') format('woff'),
url('../font/throwmyhandsupintheairbold.ttf') format('truetype'),
url('../font/throwmyhandsupintheairbold.svg#throw_my_hands_up_in_the_aiBd') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'gorditasbold';src:url('../font/gorditas-bold.eot');src:url('../font/gorditas-bold.eot?#iefix') format('embedded-opentype'),
url('../font/gorditas-bold.woff') format('woff'),
url('../font/gorditas-bold.ttf') format('truetype'),
url('../font/gorditas-bold.svg#gorditasbold') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'gorditasregular';src:url('../font/gorditas-regular.eot');src:url('../font/gorditas-regular.eot?#iefix') format('embedded-opentype'),
url('../font/gorditas-regular.woff') format('woff'),
url('../font/gorditas-regular.ttf') format('truetype'),
url('../font/gorditas-regular.svg#gorditasregular') format('svg');font-weight:normal;font-style:normal;}
.bg_body{height:535px;background:url(../images/back_blck.jpg) no-repeat center 1px;float:left;width:100%;}
.bg_body_op{height:535px;position:absolute;top:149px;left:0;width:100%;z-index:0;}
.txt_dg{height:505px;position:absolute;top:158px;left:0;width:100%;z-index:0;}
.text_box_dg{font-family:'throw_my_hands_up_in_the_aiRg';width:1140px;margin:0 auto;color:#fff;}
.text_box_dg h1{font-family:'throw_my_hands_up_in_the_aiBd';color:#fff;font-size:58px;width:100%;padding-bottom:15px;text-align:center;text-shadow:4px 5px 0px #050505;text-shadow:4px 5px 0px #050505;}
.text_box_dg p{display:table-cell;padding:0px 0px 0px 5px;border-bottom:3px dashed;float:left;width:1140px;border-top:3px dashed;text-align:center; display:table;}
.text_box_dg p span.font174{font-size:174px;display:table-cell; vertical-align:middle;}
.text_box_dg p span.font50{font-size:50px;display:table-cell; vertical-align:middle;}
.homepage-fancystripe{height:.9em;margin:.25em 0;background:url(../images/fancystripe.png);}
.y_dog_dg{color:#000;margin-top:30px;float:left;width:100%;}
.y_dog_dg h1{font-size:65px;padding:20px 0;color:#000;}
.y_dog_dg p{font-size:30px;margin-bottom:50px;color:#999;}
.dog_slider{width:940px;margin:0 auto;}
.ryt_text_dg{float:right;margin-top:20px;}
.left_slider_dg{text-align:left;width:625px;float:left;margin-top:22px;}
.left_slider_dg h1{font-size:47px;color:#000;}
.left_slider_dg p{font-size:28px;margin-bottom:30px;color:#999;}
.dog_name_dg{float:left;width:100%;background:url(../images/bg_wc1.jpg) repeat #e8e7c5;position:absolute;top:176px;left:0px;right:0px;bottom:0px;}
.dog_bg_dg{float:left;width:100%;background:url(../images/bg_wc1.jpg) repeat #e8e7c5;}
.dog_rec_dg{background:url(../images/bg_wc.jpg) repeat #e8e7c5;position:inherit;}
.add_name_dg{width:940px;margin:0 auto;}
.add_name_box_dg{float:left;width:100%;}
.add_name_box_dg .que_box_dg{width:100%;margin:50px auto;font-family:'throw_my_hands_up_in_the_aiRg';font-size:45px;}
.add_name_box_dg input[type=text]{font-size:100px;width:640px;border:0px;background:none;margin-bottom:50px;text-align:center;}
.add_name_box_dg input[placeholder]{color:#333;}
#container{width:940px;overflow:hidden;}
#slider-wrapper{width:8460px;}
.slide_dg{width:940px;max-height:500px;overflow:hidden;float:left;}
.select_box_dg{width:500px;margin:0 auto;text-align:left;position:relative;}
.select_box_dg input[type=file]{width:338px;}
.select_breed_dg{width:363px;margin-left:50px;border-radius:2px;padding:13px 20px;background:#574528;color:#fff;font-size:20px;float:left;cursor:pointer;}
.select_breedBox_dg{width:401px;margin-left:50px;border-radius:0 0 2px 2px;border:1px solid #574528;margin-top:-46px;float:left;padding:0px;background:#a89263;}
.select_breedBox_dg ul{float:left;margin:5px 5px 5px 5px;padding:0px;border:1px solid #668100;border-radius:3px;background:#fff;overflow:auto;height:200px;width:388px;}
.select_breedBox_dg ul li{float:left;width:349px;padding:8px 14px;border-bottom:1px dashed #666;list-style:none;}
.select_breedBox_dg ul li.lastLi_bor_dg{border-bottom:0px dashed #666;}
.select_breedBox_dg ul li:hover{background:#a89263;color:#fff;box-shadow:0px 0px 31px 2px #5a442c inset;font-weight:bold;}
.srch_span_wc{float:left;}
.srch_span_wc>input[type=text]{font-size:17px;width:391px;border:1px solid #668100;border-radius:3px;margin:5px;float:left;background:#fff;padding:3px 5px;text-align:left;}
.mixBreed_wc{float:left;margin-left:50px;width:84%;margin-top:0px;text-align:center;}
.txt_mix_wc{color:#4E4E4E;float:left;width:93%;text-align:center;margin:5px;}
.dog_detail_dg .tagline_box_dg{font-size:30px;color:white;text-shadow:3px 3px 0 #000,
-1px -1px 0 #000,
1px -1px 0 #000,
-1px 1px 0 #000,
1px 1px 0 #000;}
.name_owner_dg{font-size:80px;width:980px;margin:0 auto;color:#000;}
.gender_dg{width:650px;margin:0 auto;}
.gender_dg ul{float:left;margin:0px 80px;padding:0px;}
.gender_dg ul a{float:left;width:175px;margin-left:50px;}
.gender_dg ul li{width:150px;padding:0px;height:150px;list-style:none;border-radius:86px;float:left;}
.gender_dg ul li.boy_dg{margin-right:87px;border:8px solid #4169A5;overflow:hidden;background:#95C4D3;}
.gender_dg ul li.boy_dg:hover{box-shadow:0px 0px 88px -3px #00336B inset;}
.gender_dg ul li.boy_dg.active_boy{box-shadow:0px 0px 88px -3px #00336B inset;}
.gender_dg ul li.girl_dg:hover{box-shadow:0px 0px 88px -3px #6B0027 inset;}
.gender_dg ul li.girl_dg.active_girl{box-shadow:0px 0px 88px -3px #6B0027 inset;}
.gender_dg ul li.girl_dg{border:8px solid #D3298F;overflow:hidden;background:#F5A3C7;}
.gender_dg ul li img{margin-top:17px;}
.age_dg{width:300px;margin:0 auto;}
.birth_dg a{font-size:13px;color:#444;text-decoration:underline;}
.select_birth_box{margin:10px 0 50px 0;}
.select_month,.select_day{background:#765d39;color:#fff;width:auto;border:0px;border-radius:3px;font-size:16px;padding:10px;margin-right:25px;}
.hero_name_dg{background:url(../images/superhero.png) no-repeat;width:890px;height:302px;margin:-20px auto;font-size:56px;color:#668100;font-weight:bold;}
.add_name_box_dg input[type=text].tagline_dg{font-size:50px;margin-left:397px;float:left;text-align:left;width:380px;}
.name_dg{float:left;margin-top:76px;margin-left:398px;width:380px;font-size:35px;text-align:left;color:#4b3c27;}
input[type="file"]{width:411px;margin-left:70px;position:absolute;opacity:0;left:0px;height:50px;}
.upload_photo_dg{color:#fff;font-size:25px;cursor:pointer;float:left;background:#765d39;width:298px;border-radius:2px;margin-left:70px;padding:10px 20px;overflow:hidden;text-align:center;}
.crop_img_wc{width:250px;margin-left:115px;float:left;border-radius:2px;margin-top:20px;border:2px solid;text-align:center;}
.dog_detail_dg{position:absolute;top:240px;right:100px;text-align:right;}
.dog_detail_dg .name_box_dg{font-family:'gorditasregular';font-size:80px;color:#fff;text-shadow:4px 1px 0px #000;text-transform:capitalize;}
.dog_detail_dg .tagline_box_dg{font-size:30px;}
.details_box_dg{position:absolute;top:620px;left:100px;width:280px;}
.open_detail_dg{border-radius:2px;padding:10px 20px;color:#333;font-size:18px;float:left;width:240px;background:rgba(255, 255, 255, 0.9);text-align:left;}
.open_detailBox_dg{width:278px;border-radius:2px 2px;margin-bottom:3px;float:left;padding:10px 0px;}
.open_detailBox_dg ul{float:left;margin:0px;padding:0px;}
.open_detailBox_dg ul li{float:left;width:238px;background:rgba(255, 255, 255, 0.9);margin-bottom:0px;padding:12px 20px;border-bottom:0px solid #666;list-style:none;font-size:13px; background:#f8f8f8; border-bottom:1px solid #ddd;}
.open_detailBox_dg ul li.firstLi_dg{border-radius:2px 2px 0 0;}
.open_detailBox_dg ul li.lastLi_dg{border-radius:0 0 2px 2px;}
.ryt_boxEdit_dg{position:absolute;top:573px;right:100px;width:390px;}
.ryt_boxEdit_dg ul{float:left;margin:0px;padding:0px;width:400px;}
.ryt_boxEdit_dg ul li{float:right;background:rgba(0, 0, 0, 0.77);width:70px;height:89px;border-radius:2px;margin-left:10px;list-style:none;}
.ryt_boxEdit_dg ul li>a>span{height:50px;float:left;width:70px;}
.ryt_boxEdit_dg ul li a{color:#fff;display:table;width:100%;padding-top:10px;}
.ryt_boxEdit_dg ul li a>img{cursor:pointer;}
.ryt_boxEdit_dg ul li a>p{cursor:pointer;}
.slide_dog_dg{background:#ffaa00;float:left;width:100%;}
.slider_dg{width:1000px;margin:0px auto;}
.slider_dg>ul{padding:0px;text-align:center;float:left;margin:30px 0;}
.slider_dg>ul>li{float:left;list-style:none;margin:17px;padding:0px;border:8px solid #fff;box-shadow:6px 7px 8px #555;border-radius:5px;}
.slider_dg>ul>li>a{float:left;}
.upload_act_wc{background:#a89263;float:left;width:100%; margin-top: 20px;}
.upload_act_wc a:hover{ text-decoration:none;}
.act_wc{width:1000px;margin:35px auto;}
.act_wc h2{text-align:center;font-size:30px;color:#fff;float:left;width:1000px;margin:25px 0 5px 0;}
.act_wc p{color:#eee;font-size:20px;margin-bottom:14px;}
.btn_act_wc{background:#fff;width:250px;margin:20px auto 60px auto;padding:10px;font-weight:bold;font-size:20px;color:#668000;border-radius:2px; text-align:center;}
.login-window1{ text-decoration:none;}
.actBox_dg{background:url(../images/bg_wc1.jpg) repeat #e8e7c5;float:left;width:100%;}
.activity_box_dg{float:left;width:100%;padding-top:20px;}
.activity_box_dg>.act_box_dg{margin:60px 0;width:100%;background:rgba(255, 255, 255, 0.84);float:left;}
.act_box_dg>ul{width:800px;margin:0px auto;padding:0px;border-bottom:0px dotted #333;}
.act_box_dg>ul>li{list-style:none;float:left;overflow:hidden;}
.act_box_dg>ul>li.act_img_dg{width:200px;height:200px;margin:0 25px;border:1px solid #fff;background:#a89263;border-radius:2px;transform:rotate(50deg);-ms-transform:rotate(50deg);-webkit-transform:rotate(50deg);}
.act_box_dg>ul>li.act_img_dg a{float:left;transform:rotate(310deg);width:200px;height:150px;overflow:hidden;margin-top:25px;-ms-transform:rotate(310deg);-webkit-transform:rotate(310deg);}
.act_box_dg>ul>li.act_txt_dg{width:465px;margin:50px 32px 0 32px;}
.act_box_dg>ul>li.act_txt_dg h2{font-size:30px;}
.act_box_dg>ul>li.act_txt_dg p{font-size:15px;float:left;text-align:left;margin:10px 2px;}
#NextButton{position:absolute;top:270px;background:#9fc800;right:0;padding:28px 20px;border-radius:2px 0 0 2px;}
#PreviousButton{position:absolute;top:270px;background:#9fc800;left:0;padding:28px 20px;border-radius:0 2px 2px 0;}
.nxt_dg{position:absolute;top:-30px;width:100px;right:37px;}
.pre_dg{position:absolute;top:-30px;width:100px;left:52px;}
.search_name_dg{float:left;width:100%;background:#29230C;}
.search_name_dg h1{text-align:center;padding:50px 30px;font-size:56px;font-family:'gorditasbold';color:#fff;}
.search_box{width:980px;margin:0 auto;}
.search_listing{float:left;margin-top:30px;}
.search_listing h1{float:left;color:#fff;width:84%;text-align:left;padding:5px 15px;background:#7A7A7A;}
.search_listing>ul{float:left;background:#F0F0F0;width:86%;padding:6px;margin-bottom:7px;}
.search_listing>ul>li{float:left;margin:10px;padding:0px;list-style:none;width:170px;height:241px;}
.search_listing>ul>li>a{float:left;border:8px solid #fff;border-radius:50%;box-shadow:2px 1px 5px 1px #aaa;overflow:hidden;width:150px;height:150px;background-color:#FFF;}
.dog_brief_detail_dg{margin:10px auto;float:left;width:170px;text-align:center;}
.dog_brief_detail_dg>.nam_color{color:#4C6100;font-family:'gorditasbold';height:40px;float:left;width:100%;font-size:16px;font-weight:bold;overflow:hidden;}
.dog_brief_detail_dg>span{color:#333;}
.location_dg span{float:left;font-size:16px;width:100%;text-align:left;margin-bottom:4px;}
input[type=text].loc_dg{border:1px solid #000;width:400px;float:left;background:#fff;font-size:20px;text-align:left;padding:10px;border-radius:2px;}
.activity_pop_wc_upload{width:600px;height:500px;display:table;}
.activity_pop_wc{width:600px;border:7px solid rgba(170, 170, 170, 0.73);margin:0px;min-height:100px;display:table-cell;background:#fff;float:left;border-radius:2px;}
.activity_pop_wc h2{float:left;background:#999;width:580px;color:#fff;padding:10px;font-size:16px;font-weight:normal;}
.activity_pop_wc h2 a{color:#fff;cursor:pointer;}
.activity_pop_wc h2 a:hover{color:#fff;text-decoration:underline;}
.select_box_dg1{width:500px;margin:30px 50px;float:left;text-align:left;position:relative;}
.upload_photo_dg1{color:#fff;font-size:25px;cursor:pointer;float:left;background:#F1F1F1;background:-webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#ddd));width:420px;border-radius:2px;color:#2E2E2E;padding:10px 20px;overflow:hidden;text-align:center;border:1px solid #bfbfbf;margin-left:20px;}
.add_caption label{margin-left:119px;font-size:15px;font-weight:bold;float:left;width:80%;}
.edit_info_wc textarea{float:left;margin:0px 0 10px 0;background:#F1F1F1;border:1px solid #bfbfbf;border-radius:2px;width:460px;padding:10px;}
.btn_is_box1{float:left;background:#eee;width:580px;border-top:1px solid #bfbfbf;padding:5px 10px;}
.btn_is_box1 input[type="button"],.btn_is_box1 input[type="submit"]{float:right;background:#ddd;border:1px solid #bfbfbf;margin-right:4px;padding:5px;font-weight:bold; cursor:pointer;}
.edit_info_wc{float:left;margin-left:70px;}
.edit_info_wc label{color:#636363;margin:5px 0;text-align:left;font-size:13px;width:100%;float:left;}
.edit_info_wc input[type="text"]{float:left; border:1px solid #ccc!important; margin:0px 0 10px 0;background:#F1F1F1;border-radius:2px;width:460px;padding:10px;}
.edit_info_wc select{border: 1px solid #ccc; float:left;width:auto;margin:0px 0 10px 0;background:#F1F1F1;border-radius:2px;padding:0px!important; padding-left:5px;}
.edit_info_wc select.breed_wc{width:460px;width:auto;}
.birth_wc select{margin-right:10px;width:auto;}
.ex_tagline_wc{float:left;text-align:left;margin-left:426px;}
.ex_tagline_wc>span{font-weight:bold;font-size:14px;}
.ex_tagline_wc>p{font-size:14px;color:#C40000;}
.add_btn_dg{width:250px;padding-top:60px;margin:0 auto;}
.ad_dg_btn{width:250px;float:left;background:#9bc105;color:#fff;border-radius:2px;font-size:20px;margin-top:60px;cursor:pointer;text-transform:uppercase;font-family:arial;}
.ad_dg_btn>span{float:left;}
.dog_to_track{background:url(../images/bg_wc.jpg) repeat-x;height:589px;width:100%;float:left;}
.left_img_track.fl{width:41%;margin-left:10%;margin-top:50px;}
.ryt_text_track.fr{float:right;width:40%;text-align:left;font-size:60px;color:#fff;margin-top:50px;padding:40px 0;}
.Imgtrack.fl{border:1px solid;margin:10px;width:250px;height:188px;overflow:hidden;background:#a89263;text-align:center;}
.Imgtrack1.fl{margin:-50px 0;margin-left:150px;border:1px solid;}
.text_track{float:right;width:100%;font-weight:bold;text-align:center;font-size:60px;color:#fff;margin-top:40px;padding:10px 0;}
.submit_photo_dg{color:#fff;font-size:19px;cursor:pointer;float:left;background:#765d39;width:120px;border-radius:2px;margin-left:79px;margin-top:34px;padding:6px 6px;overflow:hidden;text-align:center;}
.search_sec_name_dg h1{padding:0px 30px;}
.dog_profileImg_dg{float:left;width:100%;height:706px;overflow:hidden;}
.select_box_dg.sel_loc_dg .select_breed_dg{width:152px;font-size:18px;margin:0px;margin-right:40px;}
.select_box_dg.sel_loc_dg{width:243px;float:left;}
.location_dg{width:486px;margin:0 auto;}
.select_box_dg.sel_loc_dg .select_breedBox_dg{width:190px;margin-top:-3px;margin-left:0;float:left;}
.select_box_dg.sel_loc_dg .select_breedBox_dg ul li{width:82%;}
.select_box_dg.sel_loc_dg .select_breedBox_dg ul{width:178px;}
.select_box_dg.sel_loc_dg .srch_span_wc>input[type=text]{width:180px;}
.breed_list_wc{float:left;width:100%;margin:30px 0;}
.breed_list_wc ul{float:left;margin:0px;padding:0px}
.breed_list_wc ul li{float:left;margin:0px;padding:0px;list-style:none;}
.breed_list_wc ul li a{padding:10px;width:304px;float:left;font-size:16px;}
.dg_wag_no{position:absolute;background:#668000;border:2px solid #fff;font-size:13px;border-radius:50%;padding:5px;right:-17px;min-height:17px;min-width:17px;bottom:8px;color:#fff;}
.bg_body_wc{height:400px;background:url(/wag_club/images/back_blck.jpg) no-repeat;float:left;width:100%;}
.wc_sec{position:relative;}
.txt_dg_wc{height:400px;position:absolute;top:15px;left:0;width:100%;z-index:0;}
.text_box_dg_wc{font-family:'throw_my_hands_up_in_the_aiRg';width:840px;margin:0 auto;color:#fff;}
.text_box_dg_wc h1{font-family:'throw_my_hands_up_in_the_aiBd';color:#fff;font-size:58px;width:100%;padding-bottom:15px;text-align:center;text-shadow:4px 5px 0px #050505;text-shadow:4px 5px 0px #050505;}
.text_box_dg_wc p{display:table-cell;padding:0px 0px 0px 5px;border-bottom:3px dashed;float:left;width:840px;border-top:3px dashed;text-align:center;}
.text_box_dg_wc p span.font174{font-size:124px;display:table-cell;}
.text_box_dg_wc p span.font50{font-size:40px;display:table-cell;}
.dog_name_wc{float:left;width:100%;background:url(../images/bg_wc.jpg) repeat #e8e7c5;margin-top:1px;}
.wc_dogImg{float:right;border:5px solid rgba(255, 255, 255, 0.68);border-radius:4px;width:150px;position:relative;background:rgba(255, 255, 255, 0.76);height:150px;text-align:center;}
.dog_sec_wc{width:855px;margin:20px auto;}
.left_sec_dg{text-align:left;margin-left:20px;width:625px;float:left;margin-top:20px;}
.left_sec_dg h1{font-size:47px;color:#E4E4E4;text-shadow:2px 2px #000;}
.left_sec_dg p{font-size:28px;color:#fff;}
.wc_btn{float:left;width:100%;background:rgba(255, 255, 255, 0.34);margin:20px 0;padding:24px 0;border-top:1px dashed #fff;border-bottom:1px dashed #fff;}
.actUp_wc{background:#FFFFFF;float:left;text-transform:uppercase;width:200px;text-align:center;font-weight:bolder;padding:10px 30px;margin:10px 0 10px 160px;color:#9bc105;border-radius:2px;font-size:20px;}
.actBox_wc{float:left;width:720px;padding:0 10px;margin-bottom:0px;margin-top:30px;}
.dogThumb_img{float:left;border:1px solid #bfbfbf;padding:3px;border-radius:2px;background:#fff;width:70px;min-height:50px;max-height:70px;}
.actPost{float:left;margin-left:10px;width:600px;}
.dogName_act{font-size:17px;float:left;margin-bottom:10px;font-weight:normal;}
.dogName_act a{color:#668000;font:normal 17px arial;}
.actImg_post{float:left;}
.actTxt_post{float:left;font-family:Arial, Helvetica, sans-serif!important;font-size:15px;margin-top:10px;}
.rytPost_list{margin:0 auto;width:728px;}
.wc_chagePic{float:right;}
.wc_changeDP{background:#eee;background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e8e7e7));padding:5px 10px;border-radius:2px;cursor:pointer;border:1px solid #bfbfbf;cursor:pointer;float:left;margin-top:10px;font-size:14px;width:166px;}
.wc_changeDP img{float:left;margin:2px 2px 2px 0;cursor:pointer;}
.wc_changeDP label{float:left;cursor:pointer;}
.wc_changeMenu li a:hover{color:#fff;text-decoration:none;}
.ryt_boxEdit_dg ul li a img{cursor:pointer;}
.wc_chagePic{float:right;width:189px;}
.wc_changeDP:hover{color:#fff;background:-webkit-gradient(linear, left top, left bottom, from(#8FCC23), to(#668000));border:1px solid #668000;}
.wc_changeMenu{float:left;text-align:left;background:#eee;border:1px solid #bfbfbf;border-top:0px;width:186px;font-size:14px;}
.wc_changeMenu li{padding:5px 10px;cursor:pointer;list-style:none;}
.wc_changeMenu li img{margin-top:1px;float:left;margin-right:5px;}
.wc_changeMenu li:hover{background:#668000;color:#fff;}
.wc_changeMenu li:hover a{color:#fff;}
.allPhoto_wc{margin:10px 10px;overflow:auto;max-height:500px;float:left;}
.allPhoto_wc li{float:left;margin:8px;list-style:none;padding:4px;border:1px solid #bfbfbf;}
.allPhoto_wc li img{float:left;}
.dog_sec_wc1{width:645px;margin:20px auto;text-align:center;}
.wc_dogImg .be_infoDog{display:none;}
.wc_dogImg:hover .be_infoDog{display:block;}
.be_infoDog{float:left;background:rgba(255, 255, 255, 0.81);z-index:9999;position:absolute;margin-top:-150px;width:150px;height:150px;font-size:28px;color:#668000;}
.postIcon_wc{float:left;background:rgba(0, 0, 0, 0.53);width:295px;padding-left:5px;margin-top:-50px;}
.wagPost{background:#000;float:left;height:30px;margin:5px 5px 5px 0;padding:5px;}
.wagPost img{float:left;cursor:pointer;}
.wagPost span{color:#fff;float:right;margin:7px;}
.fluid-container input[type=button]{float:right;padding:5px;background:#87A801;border:1px solid #668000;font-weight:bold;font-size:15px;color:#fff;margin:5px;}
.fluid-container input[type=button]:hover{background:#668000;}
.fluid-container{width:1354px;margin:0 auto;margin-bottom:10px;}
.wc_dogImg .be_infoDog{display:none;}
.wc_dogImg:hover .be_infoDog{display:block;}
.be_infoDog{float:left;background:rgba(255, 255, 255, 0.81);z-index:9999;position:absolute;bottom:0;margin-top:-150px;width:150px;height:150px;font-size:28px;color:#668000;}
.wc_headerBar{float:left;width:100%;font-weight:bold;background:#E8F8A8;font-size:15px;border-bottom:1px solid #88D501;text-transform:uppercase;color:#9bc105;}
.wc_search{width:354px;float:left;background:#fff;border:1px solid #88D501;border-radius:2px;}
.wc_search input{margin:0 5px;width:300px;float:left;border:0px;height:32px;line-height:32px;font-size:18px;}
.wc_search img{padding:4px 10px;border-radius:0 2px 2px 0;}
.wc_rytHead{float:right;position:relative;}
.wc_addDog{float:left}
.wc_addDog a{background:#9bc105;border-radius:2px;color:#fff;margin-right:10px;margin:6px 10px;}
.wc_addDog a:hover{background:#668000;color:#fff;}
.wc_breedBrowse{border-right:1px solid #88D501;padding:14px 10px;height:18px;}
.wc_breedBrowse label{margin-left:20px;}
.wc_breedBrowse.wc_srch.fl{background:url(../images/search.png) 10px 13px no-repeat;width:24px;height:19px;}
.wc_breedBrowse.wc_srch.fl:hover{background:url(../images/search_hover.png) 10px 13px no-repeat;}
.wc_breedBrowse.wc_alert.fl{background:url(../images/alert.png) 13px 13px no-repeat;width:24px;height:19px;}
.wc_breedBrowse.wc_alert.fl:hover{background:url(../images/alert_hover.png) 13px 13px no-repeat;}
.wc_breedBrowse.wc_breed.fl{background:url(../images/browse.png) 10px 14px no-repeat;min-width:24px;height:19px;cursor:auto;}
.wc_breedBrowse.wc_breed.fl:hover{background:url(../images/browse_hover.png) 10px 14px no-repeat;color:#668000;}
.wc_breedBrowse.wc_loc.fl{background:url(../images/loc.png) 5px 11px no-repeat;min-width:24px;height:19px;cursor:auto;}
.wc_breedBrowse.wc_loc.fl:hover{background:url(../images/loc_hover.png) 5px 11px no-repeat;color:#668000;}
.wc_headBreedBox{width:403px;position:absolute;text-align:left;top:60px;right:297px;}
.wc_select_breedBox{width:401px;border-radius:0 0 2px 2px;border:1px solid #88D501;float:left;padding:0px;background:#E8F8A8;}
.wc_select_breedBox ul{float:left;margin:10px;padding:0px;border:1px solid #88D501;border-radius:3px;background:#fff;overflow:auto;height:200px;width:380px;}
.wc_select_breedBox ul li{float:left;width:340px;padding:8px 14px;border-bottom:1px dashed #88D501;list-style:none;}
.wc_select_breedBox ul li:hover{background:#668000;color:#fff;}
.wc_select_breedBox>input[type=text]{height:32px;line-height:32px;font-size:18px;width:381px;border:1px solid #88D501;border-radius:2px;margin:10px;float:left;background:#fff;padding:0px 5px;text-align:left;}
.wc_uprArw{margin-left:340px;margin-bottom:-1px;}
.wc_srcBox{position:absolute;top:67px;background:#E8F8A8;right:448px;border:1px solid #88D501;padding:10px;border-radius:2px;}
.wc_srcBox .wc_uprArw{margin-top:-18px;float:left;}
.wc_select_breedBox .wc_search{margin:10px;width:378px;}
.wc_select_breedBox .wc_search input[type="text"]{width:324px;}
.wc_headBreedBox.wc_locBox{right:179px;}
.wc_alertBox{background:#fff;float:left;border:1px solid #88D501;}
.wc_srcBox h3{font-size:14px;margin-top:-8px;margin-bottom:2px;}
.wc_alertMsg p{border-bottom:1px solid;padding-bottom:6px;}
.wc_headerBar{float:left;width:100%;font-weight:bold;background:#E8F8A8;font-size:15px;border-bottom:1px solid #88D501;border-top:1px solid #88D501;text-transform:uppercase;color:#9bc105;}
.wc_search{width:354px;float:left;background:#fff;border:1px solid #88D501;border-radius:2px;}
.wc_search input{margin:0 5px;width:300px;float:left;border:0px;height:30px;line-height:27px;font-size:16px;}
.wc_search img{padding:4px 10px;cursor:pointer;border-radius:0 2px 2px 0;}
.wc_rytHead{float:right;position:relative;}
.wc_addDog{float:left}
.wc_addDog a{background:#9bc105;border-radius:2px;color:#fff;margin-right:10px;margin:6px 10px;}
.wc_addDog a:hover{background:#668000;color:#fff;}
.wc_breedBrowse{border-right:1px solid #88D501;padding:14px 10px;height:18px;cursor:pointer;}
.wc_breedBrowse label{margin-left:20px;margin-top:-3px;cursor:pointer;}
.wc_breedBrowse.wc_srch.fl{background:url(../images/search.png) 10px 13px no-repeat;width:24px;height:19px;}
.wc_breedBrowse.wc_srch.fl:hover{background:url(../images/search_hover.png) 10px 13px no-repeat;}
.wc_breedBrowse.wc_alert.fl{background:url(../images/alert.png) 13px 13px no-repeat;width:auto;min-width:24px;height:19px;border-left:1px solid #88D501;margin-left:8px;}
.wc_breedBrowse.wc_alert.fl:hover{background:url(../images/alert_hover.png) 13px 13px no-repeat;}
.wc_breedBrowse.wc_breed.fl{background:url(../images/browse.png) 10px 14px no-repeat;min-width:24px;height:19px;}
.wc_breedBrowse.wc_breed.fl:hover{background:url(../images/browse_hover.png) 10px 14px no-repeat;color:#668000;}
.wc_breedBrowse.wc_loc.fl{background:url(../images/loc.png) 5px 11px no-repeat;min-width:24px;height:19px;}
.wc_breedBrowse.wc_loc.fl:hover{background:url(../images/loc_hover.png) 5px 11px no-repeat;color:#668000;}
.wc_rytHead .wc_headBreedBox{width:403px;position:absolute;text-align:left;top:48px;right:547px;}
.wc_select_breedBox{width:401px;border-radius:0 0 2px 2px;border:1px solid #88D501;float:left;padding:0px;background:#E8F8A8;}
.wc_select_breedBox ul{float:left;margin:10px;padding:0px;border:1px solid #88D501;border-radius:3px;background:#fff;overflow:auto;height:200px;width:380px;}
.wc_select_breedBox ul a{color:#668000;}
.wc_select_breedBox ul li{float:left;width:340px;padding:8px 14px;border-bottom:1px dashed #88D501;list-style:none;}
.wc_select_breedBox ul li:hover{background:#668000;color:#fff;}
.wc_select_breedBox>input[type=text]{height:32px;line-height:32px;font-size:18px;width:381px;border:1px solid #88D501;border-radius:2px;margin:10px;float:left;background:#fff;padding:0px 5px;text-align:left;}
.wc_uprArw{margin-left:340px;margin-bottom:-1px;}
.wc_rytHead .wc_srcBox{position:absolute;top:48px;right:172px;background:#E8F8A8;border:1px solid #88D501;padding:10px;border-radius:2px;}
.wc_srcBox .wc_uprArw{margin-top:-18px;float:left;}
.wc_select_breedBox .wc_search{margin:10px;width:378px;}
.wc_select_breedBox .wc_search input[type="text"]{width:324px;}
.wc_rytHead .wc_headBreedBox.wc_locBox{right:299px;top:48px;}
.wc_alertBox{background:#fff;overflow-y:auto;min-height:65px;float:left;width:300px;border:1px solid #88D501;max-height:400px;}
.wc_srcBox h3{font-size:14px;margin-top:-8px;margin-bottom:2px;}
.wc_alertMsg p{border-bottom:1px solid;padding-bottom:6px;}
.wc_alertMsg{font-weight:normal;font-size:13px;margin:6px;float:left;}
.wc_alertBox .wc_addDog{margin-left:65PX;float:left;margin-bottom:-5px;}
.wc_rytHead .wc_srcBox.wc_noti{right:176px;}
.wc_srcBox.wc_noti .wc_uprArw{margin-left:281px;margin-right:6px;}
.wc_notification{float:left;border-bottom:1px dotted;width:95%;margin:0px 9px;}
.wc_notTxt{float:left;text-align:left;width:200px;margin:0px 0 0 10px;font-weight:normal;text-transform:initial;}
.wc_notTxt p{float:left;margin:2px 0 3px 0;width:100%;font-size:15px;}
.wc_notTxt p img, .wc_notTxt p span{float:left;font-size:12px;}
.wc_notImg{float:left;width:50px;background:#000;margin:5px;}
.wc_allNot a{font-size:12px;font-weight:normal;text-transform:initial;color:#668000;float:left;line-height:24px;width:100%;margin-bottom:-9px;}
.actImg_post{float:left;width:600px;cursor:pointer;background:rgba(0, 0, 0, 0.86);text-align:center;}
.wc_alert_no{float:left;color:#fff;border:1px solid;background:#668000;margin-left:14px;padding:0px 3px;border-radius:2px;margin-top:-12px;}
.wc_userList{float:left;width:25%;margin-right:5%;background:#6d7b36;padding:20px 0;bottom:0px;height:100%;}
.wc_userList ul{float:left;margin:0px 0px;width:100%;padding:10px 0;border-bottom:1px dashed #fff;}
.wc_userList ul li{float:left;width:100%;text-align:left;list-style:none;}
.wc_userList ul li a:hover{color:#668000;background:rgba(255, 255, 255, 0.7);border-left:5px solid #fff;text-decoration:none;}
.wc_userList ul li a{padding:6px 29px 6px 74px;color:#fff;font-size:15px;float:left;width:69%;border-left:5px solid #6d7b36;}
.wc_userUpdate{float:right;width:150px;text-align:right;padding:34px 20px 70px;}
.wc_profileList{float:left;margin:0px 0;}
.wc_articleList{float:left;text-align:left;}
.wc_articleList ul{float:left;}
.wc_articleList ul li{float:left;list-style:none;background:#FAF8F8;margin:10px;text-align:left;padding:15px 15px 0;border:1px solid #ddd;}
.wc_articleList ul li .imgtxtcont{border:0px;margin-bottom:3px;}
.wc_articleList ul li:hover{box-shadow:0px 0px 3px 0px #ccc;}
.wc_articleList ul li .imgtxtcont .txthold{width:700px !important;font-size:17px;}
.wc_articleList ul li .imgtxtcont .txthold h2{font-size:18px;}
.wc_articleList ul li .imgtxtcont .txthold .caption1, .wc_articleList ul li .imgtxtcont .txthold .caption1 a{font-size:15px;}
.wc_articleList ul li .wishlistContainer_inner{background:#fff;width:700px;}
.wc_articleList ul li .wishlistContainer_detail{width:560px;}
.wishlistContainer_photo{margin-top:20px;display:table-cell;vertical-align:middle;margin-right:0;text-align:center;width:140px;}
.wc_articleList ul li .wishlistContainer_detail h1{padding:10px;}
.wc_articleList ul li .wishlistContainer_detail h1 a{font-size:18px;}
.wc_articleList table{width:798px;border:2px solid #ccc;margin:20px 0;}
.wc_articleList table td,.wc_articleList table th{padding:8px;}
.wc_usrImg{float:left;border-radius:50%;overflow:hidden;margin-top:-40px;height:150px;margin-left:90px;background:#fff;}
.dg_saveReP{background:#668000;padding:5px 10px;font-size:15px;box-shadow:2px 2px #A3C202;float:left;margin-left:10px;color:#fff;border:0px solid #668000;border-radius:2px;text-transform:uppercase;}
.dg_saveReP:hover{background:668000;}
.dg_dragRep{position:absolute;top:50%;left:50%;background:rgba(0, 0, 0, 0.61);color:#fff;font-size:18px;z-index:9999;padding:10px;margin-left:-100px;width:200px;}
.dg_repBtnBox.fl{float:right;margin-top:10px;}
.dg_noDogBox{padding:120px 0;float:left;font-size:40px;width:100%;background:#fff;}
#show_breed_dg{position:relative;z-index:8;}
#show_breed_dg.fixed{position:fixed;top:0px;z-index:9999;float:left;}
.wc_dogImg .be_infoDog label{display:table-cell;cursor:pointer;vertical-align:middle;text-align:center;text-transform:uppercase;width:150px;font-weight:bold;height:150px;}
.container.dg_conbox{width:83%;text-align:left;}
.dg_conbox h3{float:left;width:100%;margin-bottom:10px;}
.dg_conbox a{float:left;}
.dg_conbox .hrlineSolid{border-top:1px solid #dad9d7;float:left;width:100%;}
.dg_conbox .login-popup{float:left;box-shadow:none;}
.dg_conbox a.close{float:left;position:absolute;right:-25px;top:-25px;}
.dg_conbox input[type="password"]{float:left;border:1px solid #aaa;padding:5px;margin-left:10px;border-radius:2px;width:200px;}
.dg_conbox input[type="file"]{opacity:1;float:left;position:static;border:0px;height:auto;}
.dg_uplUsr{width:300px;margin:10px;float:left;}
.dg_fileImg{float:left;}
.dg_conbox .dg_fileImg input[type="file"]{float:left;margin:10px 50px;width:200px;margin-top:-40px;opacity:0;padding:10px;}
.dg_uplTxt{float:left;margin:0 50px;width:178px;padding:10px;text-align:center;background:#eee;border:1px solid #aaa;}
.dg_imgSub{float:left;background:#eee;padding:10px 20px;width:100%;margin-top:10px;margin-left:-20px;margin-bottom:-20px;}
.dg_pubImg{background:#ccc;padding:4px 10px;border:1px solid #aaa;float:left;}
.not_listing ul li{list-style:none;float:left;width:100%;margin-bottom:10px;}
.not_listing{margin:0 auto;width:700px;}
.dg_cmntBox{float:left;background:rgba(141, 141, 141, 0.15);width:578px;border-radius:2px;margin-top:10px;padding:10px;border:1px solid #ddd;}
.dg_Imguser{float:left;margin-right:10px;border:2px solid #fff;background:#fff;min-height:20px;width:50px;overflow:hidden;}
.dg_Txtcmnt{float:left;width:513px;}
.dg_cmntPost{float:left;text-transform:uppercase;background:#95BB1C;width:100%;text-align:center;padding:5px 0;margin-top:5px;cursor:pointer;color:#fff;font-weight:bold;}
.dg_Txtcmnt textarea{float:left;margin:0;min-height:54px;min-width:513px;font-family:arial;border:1px;}
.dg_cmntFld{margin-bottom:10px;position:relative;float:left;border-bottom:1px solid #ddd;padding-bottom:10px;width:100%;}
.dg_cmnt_cls{float:right;position:absolute;cursor:pointer;right:0;}
.dg_Txtcmnt label{margin-bottom:4px;float:left;width:100%;color:#668000;font-size:14px;}
.dg_Txtcmnt label a{cursor:pointer;}
.dg_Txtcmnt span{float:left;color:#999;margin-top:5px;}
.dg_cmntFld a.dg_mid_cmnt{width:100%;float:left;text-align:center;}
.not_listing ul{margin-top:40px;float:left;width:100%;}
.not_listing ul li .wc_notTxt{width:80%;}
.dg_backact:hover{text-decoration:none;}
.dg_backact{float:left;color:#668000;width:72%;text-decoration:underline;margin-top:13px;margin-bottom:-15px;cursor:pointer;margin-left:132px;font-size:14px;}
.wc_leftHead{float:left;position:relative;}
.wc_homeIcon.fl{background: url("https://dogspot.in/wag_club/images/wagclub-sprites.png") no-repeat scroll -21px -56px transparent;width:20px;height:19px;}
.wc_homeIcon.fl:hover{background:url("https://dogspot.in/wag_club/images/wagclub-sprites.png") no-repeat scroll -53px -56px transparent;}
.wc_userIcon.fl{background:url(/wag_club/images/user.png) 10px 13px no-repeat;width:20px;height:19px;}
.wc_userIcon.fl:hover{background:url(/wag_club/images/user-hover.png) 10px 13px no-repeat;}
.wc_frndReqIcon.fl{background:url(/wag_club/images/friend-request.png) 10px 13px no-repeat;width:20px;height:19px;}
.wc_frndReqIcon.fl:hover{background:url(/wag_club/images/friend-request-hover.png) 10px 13px no-repeat;width:20px;height:19px;}
.wc_search.wc_searchBreed{width:200px;margin-left:24px;}
.wc_search.wc_searchBreed input{width:194px;}
.wc_srchbtn{float:left;background:#8CAA17;padding:5px 5px 4px;border-radius:2px;cursor:pointer;border:1px solid #668000;margin:8px 0;}
.wc_headBreedBox.wc_userBox{left:40px;z-index:999;top:48px;width:auto;}
.wc_headBreedBox.wc_userBox .wc_select_breedBox ul{min-height:30px;max-height:170px;height:auto !important;width:228px;}
.wc_headBreedBox.wc_userBox .wc_select_breedBox{min-height:46px;width:251px;max-height:200px;}
.wc_headBreedBox.wc_userBox .wc_select_breedBox ul li{width:200px;padding:5px 14px;}
.unpublish_dgBox{background:rgba(0, 0, 0, 0.11);float:left;width:100%;}
.wc_headBreedBox.wc_userBox .wc_select_breedBox ul li label{float:left;line-height:25px;width:85%;}
.wc_thumbimg{float:right;}
.unpublish_dgBox h2{float:left;color:#fff;font-size:30px;margin-top:10px;}
.unpublish_dgBox .search_listing{width:980px;margin-top:10px;}
.dog_rec_dg1{background:url(../images/bg_wc1.jpg) repeat #e8e7c5;position:inherit;}
.dg_popMost{float:left;}
.dg_popBox{float:left;width:37%;padding:50px 6% 50px 7%;}
.dg_popImg{float:left;background:#fff;border:10px solid #fff;border-radius:50%;overflow:hidden;width:330px;height:330px;z-index:0;position:relative;}
.dg_popTxt{float:left;background:rgba(255, 255, 255, 0.82);margin-top:-50px;padding:57px 5px 20px 5px;width:97%;text-align:center;}
.dg_popTxt h4{color:#668000;font-size:13px;margin-bottom:4px;}
.dg_popTxt h3{text-transform:uppercase;margin-bottom:5px;}
.dg_popTxt p{font-size:13px;}
.dg_popBox.dg_pop2Box .dg_popImg{width:230px;height:230px;}
.dg_popBox.dg_pop2Box{width:25%;padding:50px 4% 50px 4%;}
.dg_popclub{float:left;background:rgba(0, 0, 0, 0.18);width:100%;}
.dg_popclub h1{color:#FFFFFF;font-size:30px;margin-top:30px;text-align:center;}
.wc_aboutDog{width:100%;float:left;background:#aec551;color:#fff;}
.wc_notAdd{float:left;width:100%;margin:140px 0;}
.wag_share_icon,.wag_upload_icon,.wag_edit_icon,.wag_like_icon{background: url("https://dogspot.in/wag_club/images/wagclub-sprites.png") repeat transparent;float: left;}
.wag_share_icon{width:50px;height:50px;margin-left:10px;background-position:0px -1px;}
.wag_upload_icon{width: 50px;height: 50px;margin-left: 10px;background-position: -52px -3px;}
.wag_edit_icon{width: 50px;height: 50px;margin-left: 10px;background-position: -100px -4px;}
.wag_like_icon{width: 48px;height: 48px;margin-left: 10px;background-position: -153px -5px ;}
.slide_wt{width: 940px!important;height: 600px!important;overflow: hidden!important;float: left!important;}