/* CSS Document */
.dog_to_track_wt {
background: url(../images/bg_wc.jpg) repeat;
width: 100%;
float: left;
}
.wagTag_box {
margin: 20px 0;padding-bottom: 30px;
width: 100%;
border-radius: 2px;
float: left;
box-shadow: 0px 0px 1px 0px #9bc105;
background: #FAFAFA;
}
.wt_leftBox {
width: 30%;
float: left;
}
.wt_rytBox {
width: 70%;
float: left;
}
.wagTag_box h1 {
float: left;
width: 96%;
background: #E8F8A8;
padding: 10px 2%;
text-transform: uppercase;
color: #9bc105;
margin-bottom: 30px;
border-bottom: 1px solid #9bc105;
}
.wt_form ul li {
list-style: none;
float: left;
width: 100%;font-size: 15px;
padding: 5px;
}
.wt_form ul li label {
width: 200px; float:left;padding: 10px;
}
.wt_form ul li input[type=text] {
float: left;
width: 300px;
padding: 10px;
border-radius: 2px;
border: 1px solid #ddd;
box-shadow: 1px 1px 3px 0px #dedede inset;
}
.wt_logo {
float: left;
margin: 10px 15px;
width: 226px;
font-size: 54px;
box-shadow: 0px -2px 36px -5px #ddd inset;
color: #aaa;
background: #fff;
padding: 72px 20px;
border: 1px solid #ddd;
}
.wt_form {
float: left;
margin-left: 50px;
color: #666;
}
.wt_actBtn {
background: #9bc105;font-weight: bold;
float: left;
padding: 8px;margin: 0 10px;
color: #fff;
text-transform: uppercase;
border-radius: 2px;
font-size: 14px;
}
.wt_actBtn:hover{ background:#668000;}
.wt_form ul li span a{
float: left;
margin-left: 219px;
padding: 5px 0;
}
.wt_btnBox {
float: left;
margin-left: 217px;
margin-bottom: 10px;
}
.wt_form ul li input[type=radio]{ float:left; padding:10px 0px 0 0 ; }
.wt_form ul li span{ float:left; margin-right:10px;}
.wt_radioBox {
float: left;
padding: 10px 0;
}
.wt_form ul li select{ float:left; padding:10px; width:auto; border-radius: 2px;
border: 1px solid #ddd;
box-shadow: 1px 1px 3px 0px #dedede inset;}
.wt_form ul li textarea{ float:left; padding:10px; width:300px; border-radius: 2px;
border: 1px solid #ddd;
box-shadow: 1px 1px 3px 0px #dedede inset;}
.wt_form h3 {
float: left;
width: 83%;
font-size: 20px;
margin: 10px;
padding: 6px 0;
font-weight: normal;
border-bottom: 1px dotted;
}
/* Wag tag Info */
.dg_infoTag{ float:left; width:100%;}
.dg_infoTag h2{float:left; width:100%; background:#A57E54; color:#fff; font-size:30px; padding:30px 0;}
.dg_wtBox{ margin:0 auto; width:1170px;}
.wt_infoBox {
width: 50%;
text-align: left;
margin-left: 0;
}
.wt_textInfo{ float:left; padding:10px;width: 250px;}
.wt_edit.fr {
background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e8e7e7));
padding: 2px 10px;
font-weight: bold;
margin-top: -3px;
border-radius: 2px;
color: #2E2E2E;
font-size: 17px;
border: 1px solid #999;
}
.wt_lostBtn1 {
background: #f89e1d;
padding: 5px 10px;
border-radius: 2px;
border: 1px solid #E08404;
cursor: pointer;
font-size: 18px;
color: #fff;
width: 44px;
font-weight: bold;
float: left;
margin: 10px;
}
div.wt_lostBtn2 {
background: #eee;
background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e8e7e7));
padding: 5px 10px;
border-radius: 2px;
cursor: pointer;
border: 1px solid #bfbfbf;
cursor: pointer;
float: left;
margin-top: 10px;
font-size: 18px;
width: 44px;
}