.dognames-cont{ width:100%; float:left; font-family:Arial, Helvetica, sans-serif; color:#333; font-size:14px; margin-bottom:15px;}
.cont980{ width:972px; margin:auto;}
.dognames-left{ width:647px; margin-top:20px;} 
.dognames-fr{float:left}
.dognames-left h1{font-size: 18px; font-weight: 500;    color: #333;    text-transform: uppercase; margin-bottom:5px;}
.dogname-dec ,.dog-breeds-dec{ font-size:14px; color:#333; line-height:18px; margin-top:5px; text-align:justify;}
.dog-breeds-dec{ margin-top:20px;}
.dog-breeds-dec h1{font-size: 18px; font-weight: 500;    color: #333;  margin-bottom:5px; text-transform: none;}
.dog-breeds-dec_h2{ font-size:14px; color:#333; line-height:18px; margin-top:5px; text-align:justify; font-weight:normal; font-size:16px;}
.dogname-header{ float:left;  width:100%;}
.dogname-header .dogname-filter{ float:left; width:100%;  margin-bottom:15px; overflow:hidden;}
.dogname-filter_drop { width: 278px;height: 35px; border-radius: 3px;border: 1px solid #ccc;margin-right: 16px; font-size:14px; color:#888; margin-top:20px; padding-left:5px; }
.dog_breed_btn{ width: 50px; border: 1px solid #ccc; background: #eceff1; height: 35px;border-radius: 3px;font-size: 14px; margin-top:20px; cursor:pointer;}
.dogname-header ul{ list-style:none; padding:0px; margin:0px; background:#eaeaea; margin-top:20px; overflow:hidden; padding:10px; text-transform:uppercase; 
border-radius:3px;}
.dogname-header ul li{ float:left; padding-left:6px; padding-right:6px; font-size:13px; }
.dogname-header ul li a{ color:#555;}
.dogname-header ul li .current{ color:#0eaeea;}
.dognames-list{margin-top:20px;float: left;width: 100%;}
.dognames-list table{ width:100%;  border-collapse:collapse;}
.dognames-list table th{ padding:12px; border-bottom:1px solid #ddd;  text-align:left; background: #F8F8F8; font-size: 16px; font-weight:normal;}
.dognames-list table td{ padding:12px; border-bottom:1px solid #ccc; text-align:left; background:#fff; font-size:14px;}
.dogname-releted-article{ float:left; width:300px; margin-top:20px;}
.dognames-r{ width:300px; margin-left:25px;}
.dogname-releted-art-text{font-size: 18px; font-weight: 500;    color: #333;    text-transform: uppercase;    padding-bottom: 5px; border-bottom:1px solid #ccc;}
ul.dogname-releted-artsec{float:left; margin:0px; padding:0px; list-style:none;}
ul.dogname-releted-artsec li{margin-top:15px; float:left; width:300px;}
.dogname-rel-art-img{float:left; width:100px; text-align:left;}
.dogname-rel-art-headline{ float:left; width:200px;}
.dogname-rel-art-headline a{color: #333;font-size: 15px;font-weight: 500;text-decoration: none;}
.dogname-rel-art-headline a:hover{color: #555;font-size: 15px;font-weight: 500;text-decoration: none;}
.dogname-sidebar-banner{margin-top: 22px;width: 100%;float: left; border:1px solid #ccc;}
ul.dogname-pagination{display: inline-block;padding-left: 0px;margin: 20px 0px;border-radius: 0px; list-style:none;}
.dogname-pagination > li { display: inline;}
.disabled {color: #808080;}
.dogname-pagination > .disabled > a, .dogname-pagination > .disabled > a:hover, .dogname-pagination > .disabled > a:focus{color: #ccc;background-color: #FFF;border-color: #DDD; cursor: not-allowed;}
.dogname-pagination > li:first-child > a{margin-left: 0px;border-bottom-left-radius: 0px;border-top-left-radius: 0px;}
.dogname-pagination > li > a{position: relative;float: left;padding: 6px 12px;line-height: 1.5;text-decoration: none;color: #555; background-color: #FFF;border: 1px solid #DDD; margin-left: -1px; text-decoration:none;}
.dogname-pagination > li > a{ text-decoration:none;}
.dogname-pagination > .active > a{z-index: 2;color: #555;background-color: #eaeaea;border-color: #eaeaea;cursor: default; text-decoration:none;}
.dogname-pagination > .active > a:hover{ text-decoration:none;}
.breadcrumb{ margin:0px !important; }
.breadcrumb_cont {float: left; width: 100%;color: #666;font-size: 13px;word-spacing: 2px;margin-top: 5px; font-family:Arial, Helvetica, sans-serif;}
.breadcrumb_cont span{color: #333;}
.brd_font_bold{font-weight: bold;}
.relted-dog-name{ width:100%; float:left; }
.relted-dog-name h2{font-size: 18px;font-weight: 500;color: #333; margin-bottom: 5px;text-transform: none; width: 100%;float: left;  margin-bottom: 20px;}
.relted-dog-name ul{ list-style:none; width:100%; padding:0px; margin:0px;}
.relted-dog-name ul li{ width:290px; background:#f2f2f2; width:290px; float:left; padding:10px; border-radius:3px; }
.rel-right{ float:right;}
.rel-ml{ margin-left:20px;}
.rel-mb{ margin-bottom:15px;}