.jcarousel-skin-tango .jcarousel-container {
	background-color: #FFF;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
	width: 840px;
	padding: 10px 0px;
	padding-left:40px;
	margin:0 auto;
	margin-top:0px;
	/*background-color: #CFF;*/
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 75px;
    height: 255px;
    padding: 0px 0px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
	width:  790px;
	height: 240px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  100px;
    height: 255px;
}

.jcarousel-skin-tango .jcarousel-item {
	width: 183px;
	height: 240px;
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
	/*background-color: #F9F;*/
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-right: 0px;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #fff;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
	position: absolute;
	top: 90px;
	right: 5px;
	width: 22px;
	height: 22px;
	cursor: pointer;
	background-color: transparent;
	background-image: url(/new/pix/next-orange-gray.png);
	background-repeat: no-repeat;
	background-position: -22px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
	background-position: -22px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
	background-position: 0 0;

}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
	position: absolute;
	top: 90px;
	left: 5px;
	width: 22px;
	height: 22px;
	cursor: pointer;
	background-color: transparent;
	background-image: url(/new/pix/pre-orange-gray.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
    background-position: 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -22px 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 12px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

img {border:0px}
