*{ margin:0px; padding:0px;}
@font-face {
    font-family: 'amertype_md_btmedium';
    src: url('fonts/amrtypen.eot');
    src: url('fonts/amrtypen.eot?#iefix') format('embedded-opentype'),
         url('fonts/amrtypen.woff') format('woff'),
         url('fonts/amrtypen.ttf') format('truetype'),
         url('fonts/amrtypen.svg#amertype_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
.product_container{ width:100%; margin:0px auto;}
.coming_soon_text{ margin:0px auto; font-family: 'amertype_md_btmedium'; color:#9c8054; font-size:35px; font-weight:bold; text-shadow: 0 2px 2px #999999; position:relative; width:1100px;}
.nopart{ font-family:Arial, Helvetica, sans-serif; color:#be1910; font-size:90px;}
.new_class{ position:absolute; top:20px; color:#be1910; font-size:24px; text-transform:uppercase; text-shadow:none; }
.field_lunch strong{ float:left;}
.field_lunch{ width:965px; margin:0 auto; background:#b2da1d; height:60px; padding:0 20px; font-family:Arial, Helvetica, sans-serif; color:#fff; font-size:16px;}
.field_lunch input{ border:medium none; margin:4px 0 0; padding:5px 3px; width:800px; font-size:16px; color:#666; float:left; }
.field_lunch input[type="button"]{ background:#f08200; border-radius:5px; width:115px; height:31px; float:left; border:none; cursor:pointer; font-family:Arial, Helvetica, sans-serif; color:#fff; font-weight:bold; font-size:16px;  margin: 3px 0 0 10px; float:left;}
.lunch_list{  width:1000px; margin:0 auto;}
.lunch_list ul{ margin:0px; padding:0px; }
.lunch_list ul li{  margin:0px 0 0 0px; list-style:none; }
.lunch_list ul li img{ border:2px solid #ccc; margin:40px 0} 
