@charset "utf-8";
/* CSS Document */
* html body{margin:0px; padding:0px;}
body{margin:0px; padding:0px; font:12px Arial; background-color:#fff; behavior: url(csshover.htc);}
body a{text-decoration:none; color:#000; outline:none;}
body a:hover{text-decoration:underline; color:#666; outline:none;}

img {border:0}
h1 a{ font:bolder 20px arial; color:#4b3a15; text-decoration:none;}
h1 a:hover {text-decoration:none;}

h4 {font:bolder 12px arial; color:#000;}
h5 {font:bolder 16px arial; color:#867654;}
/* general */
h1,h2, h3, h4, h5, h6, p, form, div, table, ul, dt, dd, dl {margin:0px; padding:0px;}
