.photos-section{float: left; width: 96%;  margin: 20px 2%;}
.photos-section h1{font-size: 18px; }
.photos-section ul{ float:left; width:100%; margin:0px; padding:0px}
.photos-section select{    border: 1px solid #ddd;width: 100%; margin: 10px 0px;padding: 7px 10px; border-radius: 3px;}
.photos-section h3{font-size: 16px; color: #84a40d; }
.imgtxtcont{ float:left; width:100%; margin-top:20px;}
.imgtxtcont .imghold{ float:left; width:40%; }
.imgtxtcont .imghold img{ max-width:100%; height:auto; }
.imgtxtcont .txthold{ float:left; width:50%; margin-left:10%;}
.imgtxtcont .photos-list ul{ float:left; width:100%; margin:0px; padding:0px; list-style:none; margin-top:20px;}
.imgtxtcont .photos-list ul li{ float:left; margin-left:5px; } 
.imgtxtcont .photos-list ul li:first-child{ margin-left:0px;}
.slick-prev:before,
    .slick-next:before {
        color: black;}
    ul.dogshow_eventscity{ float:left; width:96%; margin:0% 2%; padding:0px; list-style:none;}
	ul.dogshow_eventscity li{ float:left; width:50%; border-bottom:1px solid #ddd; padding:10px 0px;}
  